[2016-10-19 18:38] tmccormi commented on #220
I merged this to master and tried a new install on my 14.04 LTS.  No Joy  it's doing the same exact thing

![docatgeditrel100](https://cloud.githubusercontent.com/assets/285835/19532430/7e206312-95f0-11e6-806e-627f808ba467.png)
![treemen-notdef](https://cloud.githubusercontent.com/assets/285835/19532433/80ee2e12-95f0-11e6-9ca3-079bc83fee58.png)

[2016-10-19 18:39] tmccormi commented on #220
The files are in the install in the 'root' location

[code]

[2016-10-19 18:46] tmccormi opened #241 "Tags system Color Picker JS missing"
When adding a new tag the "color picker is blank", afterwards if you click on 'None' in the color column you get this ...
**Not Found
The requested URL /LibreEHR/interface/tags_filters/javascript; was not found on this server.**

![tag-color-javascript-missing](https://cloud.githubusercontent.com/assets/285835/19532685/ac70f672-95f1-11e6-8b24-7874a548986f.png)

[2016-10-19 19:08] tmccormi commented on #162
Apparently the OpenEMR 'Home' button that would take you back to default login screen was lost in the new tabs menu stuff.

[2016-10-19 22:08] aethelwulffe commented on #162
Yeah.  Thinking of a little logo button to replace it.

[2016-10-24 16:44] tmccormi opened #242 "Some Frames need be configuration to Close on Select"
Frames like the Patient Finder and Globals should close themselves after you take the end-action (like selection of the patient or "Save".

This probably could be configurable but maybe not necessary.

[2016-10-25 13:46] aethelwulffe opened #243 "gen837 newline"
gen_837.inc.php has code for \n all over the place, but the output file has no line breaks.  Having the line breaks would be useful in manually reviewing the files, especially since some text editors get goofy after the first 32K characters.  Either way, having non-functioning code is a little strange.

[2016-10-25 18:45] aethelwulffe commented on #242
I think configurable.  If the patient finder disappears after diving
into each record as someone is reviewing them, I would get strangled
within minutes.  Globals is arguable.

On 10/24/2016 12:44 PM, Tony McCormick wrote:

[2016-10-25 20:11] tmccormi commented on #243
There is an X12 viewer in the EDI Tools ...  have you looked at it?  It's purpose is to allow Human readable X12 with Loops identified.

[2016-10-25 21:49] aethelwulffe commented on #243
Not as useful (when it works) as being able to go click,click,click opening up files one at a time looking for...whatever.  Mind you, I am perfectly aware that Sublime EMACS and VIM do not need nooby things like line returns and word wrap, but the target audience isn't even aware of the secret war between users of VIM and EMACS, much less how to use them.
For a litany of reasons, billers request a

[2016-10-25 22:20] tmccormi commented on #243
We have new tool for that that we can see if we can move it to LibreEHR, I think we can with some minor effort...  I'll send so screen shots at least later this week.

[2016-10-25 22:35] aethelwulffe commented on #243
If it can just deal with the sites/edi directly, then it is the bee's knees.

[2016-10-26 00:27] tmccormi commented on #241
@kchapple can you take a look at this please - it was a clean install of LibreEHR master branch

[2016-10-26 15:40] teryhill commented on #243
Might want to include this in some form 
/** Copyright (C) 2015-2016 Tony McCormick <tony@mi-squared.com> ** LICENSE: This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0* See the Mozilla Public License for more details. * If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.** @package LibreEHR* @author  Tony Mc

[2016-10-26 15:48] aethelwulffe commented on #243
Looks like the batch file generation redux is on my list before I get back to get back to the darn CMS1500.  There are about a million missing features in our current system.  Form Encounter and a number of other pieces have to be re-molded a good bit.  For instance, we only have the capability of using two out of the possible 25 DTP segments, and no use of date ranges.

[2016-10-26 15:51] teryhill commented on #243
ordering attending and other physicians need to be added to the fee sheet also. We might be able to make this intuitive based on the CPT code and Diagnosis code
Just a thought

      From: Art Eaton <notifications@github.com>
 To: LibreEHR/LibreEHR <LibreEHR@noreply.github.com>
Cc: Terry Hill <teryhill@yahoo.com>; Comment <comment@noreply.github.com>
 Sent: Wednesday, October 26, 2016 11:48 AM
 Su

[2016-10-26 15:57] aethelwulffe commented on #243
Yes, that is one of the many items.  I have a list of 18 features to add to the fee sheet alone.

[2016-10-26 16:01] teryhill commented on #243
Send me the list and I will help incorporate them as I get a chance that way we are tag teaming it.

      From: Art Eaton <notifications@github.com>
 To: LibreEHR/LibreEHR <LibreEHR@noreply.github.com>
Cc: Terry Hill <teryhill@yahoo.com>; Comment <comment@noreply.github.com>
 Sent: Wednesday, October 26, 2016 11:57 AM
 Subject: Re: [LibreEHR/LibreEHR] gen837 newline (#243)

Yes, that is one of th

[2016-10-26 16:03] aethelwulffe commented on #243
Highlighted items on an x12 standard right now, some of them I still am not sure how to implement.  I will see if I can post them in a non-copyrighted format here...

[2016-10-26 16:07] teryhill commented on #243
just e-mail it to me

      From: Art Eaton <notifications@github.com>
 To: LibreEHR/LibreEHR <LibreEHR@noreply.github.com>
Cc: Terry Hill <teryhill@yahoo.com>; Comment <comment@noreply.github.com>
 Sent: Wednesday, October 26, 2016 12:03 PM
 Subject: Re: [LibreEHR/LibreEHR] gen837 newline (#243)

Highlighted items on an x12 standard right now, some of them I still am not sure how to implement. I

[2016-10-26 16:38] aethelwulffe commented on #243
Heh...by high-lighted, I mean paper (dumb on my part).  I'll just write up the functions/fields needed.  That's worth it to me!

[2016-10-26 16:39] teryhill commented on #243
scanner   

      From: Art Eaton <notifications@github.com>
 To: LibreEHR/LibreEHR <LibreEHR@noreply.github.com>
Cc: Terry Hill <teryhill@yahoo.com>; Comment <comment@noreply.github.com>
 Sent: Wednesday, October 26, 2016 12:38 PM
 Subject: Re: [LibreEHR/LibreEHR] gen837 newline (#243)

Heh...by high-lighted, I mean paper (dumb on my part). I'll just write up the functions/fields needed. That's w

[2016-10-26 17:56] tmccormi commented on #243
Please, create ISSUES for each enhancement / fixes so we can track changes
and release notes effectively.

Tony McCormick, CTO
www.mi-squared.com
Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo

tóg go bog ē - Best advice from a pub owner in Ireland, to take it easy.

On Wed, Oct 26, 2016 at 9:39 AM, Terry Hill <notifications@github.com>
wrote:

--
Please be aware th

[2016-10-27 15:40] aethelwulffe commented on #243
On it.  It is basically most of loop 2300 and 2400.

On 10/26/2016 12:39 PM, Terry Hill wrote:

[2016-11-01 00:20] tmccormi opened #244 "Forms tied to LOINC,PHIN Questions.SNOMED-CT codes need to be disabled"
The following forms are enabled by default are are useless in normal context and well as lacking in all comments to explain them.  They should be removed, at least from being enabled until they are understood and/or made to be useful.

Observations - LOINC PHIN
Care Plan - SNOMED-CT
Functional and Cognitive Status - SNOMED-CT

I think they might be useful but they appear to be encounters that span

[2016-11-01 00:24] tmccormi commented on #244
plus the HTML is flawed ... a lot

[2016-11-01 00:35] tmccormi opened #245 "Remove IPPF SQL files"
Remove IPPF sql files
ippf_layout.sql
ippf_upgrade.sql

[2016-11-01 00:40] teryhill commented on #245
Shouldn't it be remove IPPF period?

[2016-11-01 00:41] tmccormi commented on #245
yes, but one thing at at time :-)

[2016-11-01 00:42] tmccormi opened #246 "New install fails (silently) to create facility table"
DROP TABLE IF EXISTS `facility`;
CREATE TABLE `facility` (
  `id` int(11) NOT NULL auto_increment,
  `name` varchar(255) default NULL,
  `alias varchar(60) default NULL,    **<--- NOTICE The missing back-tic**

  `phone` varchar(30) default NULL,
 etc ...

[2016-11-01 00:43] teryhill commented on #245
But it must be in the correct order also

[2016-11-01 00:44] teryhill commented on #246
I don't think there should be one at all

[2016-11-01 00:49] tmccormi opened #247 "Installation model enhancement - separate .sql for each table and data set"
The library/classes/Installer.class.php

Already supports loading separate SQL files for the SQL dir as shown in the code snippet below:
`47:    $this->cvx = dirname(__FILE__) . "/../../sql/cvx_codes.sql";`

We should push that and split the database.sql file up into separate tables and enhance the installer to walk a 'setup-table' directory tree

[2016-11-01 00:49] tmccormi commented on #247
We should all add error reporting ...

[2016-11-01 01:03] tmccormi commented on #245
generally true, but since we don't support IPPF in this code at all it's fine to drop the sql now.

[2016-11-01 01:05] tmccormi commented on #246
The actual database.sql using back-tics,  they don;t cut and paste into the markup for github well.   In anycase a pull request is in...

[2016-11-01 01:12] tmccormi commented on #247
Note: This is in the constructor ... which seems hokey to me:

[code]

[2016-11-01 01:24] tmccormi commented on #247
and this is even more hokey:

[code]

[2016-11-01 01:50] tmccormi opened #249 "dev branch iframe is borked"
development_101 has some how gotten the Globals settings for iframe versus the old leftnav mixed up again.  I thought we temporarily fixed that.  But my new install/setup is badly broken.

![globals-nav-borked](https://cloud.githubusercontent.com/assets/285835/19877260/eac602c0-9f9a-11e6-9b40-0cee6592970b.png)

[2016-11-01 01:57] teryhill commented on #249
it looks like 204 and 210 did not make it to the dev branch

      From: Tony McCormick <notifications@github.com>
 To: LibreEHR/LibreEHR <LibreEHR@noreply.github.com>
 Sent: Monday, October 31, 2016 9:50 PM
 Subject: [LibreEHR/LibreEHR] dev branch iframe is borked (#249)

development_101 has some how gotten the Globals settings for iframe versus the old leftnav mixed up again. I thought we tempor

[2016-11-01 02:06] tmccormi commented on #249
good catch, that was right when we switch for master to dev during release ...
I'll cherry-pick them back.

Question: is no one else testing new installs from this branch.  This should have been caught sooner

[2016-11-01 02:11] teryhill commented on #249
Lets see there's you , art and me  Ummm guess not. I fixed my install and was working on other issues. Sorry

[2016-11-01 05:22] tmccormi commented on #249
yep, not placing blame ... need some automations ...

[2016-11-01 05:30] tmccormi opened #251 "Add new Insurance Co Fails on dev branch"
ERROR: insert failed: INSERT INTO insurance_companies ( id, name, attn, cms_id, ins_co_type, x12_receiver_id, x12_default_partner_id ) VALUES ( 2, 'Insurance Company', '', '12345', '1', '', '' )

Error: Unknown column 'ins_co_type' in 'field list'

/var/www/LibreEHR/interface/practice/ins_search.php at 180:sqlInsert

[2016-11-01 05:38] tmccormi commented on #251
Database.sql says the column name should be:
`ins_type_code` tinyint(2) default NULL,

but the following programs:
custom/qrda_functions.php
interface/practice/ins_search.php

Say "ins_co_type" @aethelwulffe  appears to be the last person to touch those files

[2016-11-01 05:42] #249 closed

[2016-11-01 05:42] #246 closed

[2016-11-01 05:42] #245 closed

[2016-11-01 05:42] #244 closed

[2016-11-01 14:38] aethelwulffe commented on #245
Then let's get the IPPF removal (and any references to USMC) into an issue.

[2016-11-01 14:43] aethelwulffe commented on #251
This was from the freeb removal.  I will investigate where either field name exists (as well as freeb_type) and go from there.

[2016-11-01 14:54] #236 closed

[2016-11-01 15:10] aethelwulffe commented on #220
Well, they are there now. #252

[2016-11-01 15:36] aethelwulffe commented on #251
5 files vs. 2 files.  ins_type_code wins.  The ins_co_type is a version from an openemr grab (or presumably parallel effort assuming the original author did it) of the removal of freeb.  In any case, our version existed first, so I am not sure (at the moment) how the other two files came up with those differences.  Best to look at the blame for those.  I am pretty sure that we are worried about th

[2016-11-01 15:45] aethelwulffe commented on #251
Looks like I had actually stomped on my own code at some point.  I had used ins_co_type during a code array update.  That array was mixed with the freeb code, etc...  Later, in getting rid of freeb, I used a different name.  The should all be synced now, with the array being named ins_type_code_array as well, so everything matches.
OpenEMR has adopted the ins_co_type, and we use ins_type_code as t

[2016-11-01 15:46] #235 closed

[2016-11-01 15:55] #218 closed

[2016-11-02 00:02] tmccormi opened #254 "Add new patient fails for master branch"
New install on demo site..  did I miss a fix that needs to be cherry-picked from Dev?

ERROR: insert failed: INSERT INTO patient_data SET pid = '1', date = NOW(), `fname` = 'Tony', `mname` = '', `lname` = 'McTest', `sex` = 'Male', `DOB` = '1957-01-15', `status` = '', `street` = '11725 SW Drive', `city` = 'Tigard', `state` = 'OR', `postal_code` = '97223', `ss` = '', `drivers_license` = '', `phone_c

[2016-11-02 00:02] tmccormi commented on #254
this is the ehr.librehealth.io demo site, which is 16.04 LTS as well as new mysql ...

[2016-11-02 00:05] aethelwulffe commented on #254
Yep

On 11/1/2016 8:02 PM, Tony McCormick wrote:

[2016-11-02 00:12] tmccormi commented on #254
Any idea what commit that might be in the 122 pull request?

[2016-11-02 00:38] aethelwulffe commented on #254
Not seeing a commit #122

On 11/1/2016 8:12 PM, Tony McCormick wrote:

[2016-11-02 00:45] tmccormi commented on #254
There are 122 pull requests, that was not the id number but a plea for help

Tony McCormick

On Nov 1, 2016 5:39 PM, "Art Eaton" <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
information by telephone.  The information contained in this message may be
privileged and confi

[2016-11-02 00:48] aethelwulffe commented on #254
Sorry.  Hadn't given it enough time yet.  We are wrapping it up here, so
I can switch to Libre in a few minutes and hit it.

On 11/1/2016 8:45 PM, Tony McCormick wrote:

[2016-11-02 01:25] aethelwulffe commented on #254
No blame on file or sql, except for INNODB Autoincrement=1.

Try adding a value to the provider on creation, then create a second record without one.  This may be similar to the other "can't increment from  zero rows" issue we had elsewhere.

[2016-11-02 01:28] aethelwulffe commented on #254
At this stage, there has been little added to 101 that wasn't actually a hard-stop bug for production.

[2016-11-02 01:40] aethelwulffe commented on #254
OK.
Added a provider.  It crapped out on referring provider.  This is set in the layout engine as "Provider NPI" type.
Trying to switch those to "Provider" type in the layout engine resulted in this error:

[code]

Continued by adding a referring provider, it crapped out on deceased date.
Entered deceased date.  Reason "Ate too many bugs".  Crapped out on:
[code]
In closing:  Looks like this is a

[2016-11-02 01:42] aethelwulffe commented on #254
Ain't got this problem on my machine with the xampp build.

[2016-11-02 01:52] aethelwulffe commented on #254
Going on, I filled out every field I could, except that the Insurance pop-up would flash on, then immediately go away.  Dead there.  Tried to save anyway, and naturally got:
[code]

[2016-11-02 01:55] aethelwulffe commented on #254
Without phpmyadmin there, I am basically toast with testing any direct
uploads of patient data to see if the engine chokes in any other way.

On 11/1/2016 8:45 PM, Tony McCormick wrote:

[2016-11-02 02:34] tmccormi commented on #254
Robby is going to setup phpmyadmin for you :-)  reluctantly...

[2016-11-02 02:49] tmccormi commented on #254
I think we lost the code change I made to add set strict mode off to the top of the database.sql....

[2016-11-02 03:03] tmccormi commented on #254
It's in the master branch (which is what we are using)  now I am confused
[code]

[2016-11-02 03:05] aethelwulffe commented on #254
Never said I confirmed it was a strict mode innodb issue, just that I 'spect.  What is it set to?
(Art is going home for the night though.)

[2016-11-02 03:10] aethelwulffe commented on #254
innodb_strict_mode=OFF

[2016-11-02 03:11] tmccormi commented on #254
but .. I just logged into it and it was NOT set to strict despite the fact that it's in the database.sql file

[code]

[2016-11-02 03:13] tmccormi commented on #254
setting the sql_mode="" did not fix it however...

[2016-11-02 03:19] tmccormi commented on #254
innodb_strict_mode=OFF has no affect on the error msg with add new patient....

[2016-11-02 03:23] aethelwulffe commented on #254
The Tinkle Fairie has been going wee on everything.
-My best rationalization based on the information I have.
Is this just run-time, or is this in my.cnf with a restart?

[2016-11-02 03:28] aethelwulffe commented on #254
Not sure that sql_mode="" is the best option in any case.  Some restrictions are a good idea.  Any way, until I hear that this was added to my.cnf and a restart was done, then the behavior is what I would expect.  You can set the mode in database.sql as an exception to get past an issue with loading the DB, but after that, it goes back to whatever the server variables are.

[2016-11-02 03:29] tmccormi commented on #254
since it's settable by database, no restart should be required.   This was working before, I'm sure.

[2016-11-02 03:33] tmccormi commented on #254
I'll get @robbyoconnor  to set the my.cnf so it's not stepped on by his install tools

[2016-11-02 03:36] aethelwulffe commented on #254
Sounds like a plan.

On 11/1/2016 11:33 PM, Tony McCormick wrote:

[2016-11-02 03:48] robbyoconnor commented on #254
Done.

[2016-11-02 03:54] tmccormi commented on #254
This specific issue is resolved.   We still need to continue to address database issues that are affected by strict mode, but we know that.

[2016-11-02 17:30] #251 closed

[2016-11-02 17:31] #223 closed

[2016-11-02 17:33] #220 closed

[2016-11-02 17:37] aethelwulffe opened #257 "patient_select not functioning"
The "original" patient selector doesn't currently function.  Several pieces of the reporting engine still use those pieces.  I am tracking down obvious errors for another project, and pushing the obvious fixes at the same time.
  There appears to be some unescaped php jammed into the sql strings.

[2016-11-02 17:38] aethelwulffe commented on #257
#258

[2016-11-02 17:41] aethelwulffe commented on #254
Should we not use a "redress" bug tracking list or thingie somewhere, or start a new issue the very specifically addresses the whole situation (and possible solution)?

[2016-11-02 17:43] aethelwulffe commented on #254
I think that a php variables check in the installer should be where this is resolved for the most part. Not sure if any application on earth could survive the full list of sql_mode restrictions.

[2016-11-06 22:29] robbyoconnor opened #259 "Pass Phrase should ideally be changed to Password"
I feel as though `Pass Phrase` should be `Password` since it is consistent with how it is used across the web.

[2016-11-06 22:34] tmccormi commented on #259
It was intentional. We are trying to encourage better choices in security...

Tony McCormick

On Nov 6, 2016 2:29 PM, "robbyoconnor" <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
information by telephone.  The information contained in this message may be
privileged and c

[2016-11-06 23:18] aethelwulffe commented on #259
I agree, and actually instigated the change from password to passphrase.  I find that a lot of people support the paradigm shift.  Length trumps complexity, and length includes complexity.

[2016-11-07 01:46] robbyoconnor commented on #259
I suppose...

[2016-11-16 22:31] teryhill opened #263 "Item thoughts for the students"
This is just my brainstorming (well perhaps just a small shower) on some things the interns can do to help propel LibreEHR.

Document:
Entering a facility
entering a user
Setting up globals
   Taking a section and changing the setting and see what happens
entering a CPT code
activating a form
entering a feesheet
entering an insurance company
entering a patient
entering an encounter
  entering fees

[2016-11-16 22:33] teryhill opened #264 "Kevin's EDI version 2"
I will be committing this in the near future

[2016-11-16 22:35] teryhill opened #265 "Jerry's HCFA 1500 form print"
I will be committing this in the near future

[2016-11-16 22:36] teryhill opened #266 "Exclude from insurance billing"
I will be committing this in the near future

[2016-11-16 22:38] teryhill opened #267 "Tony's floating messages"
I will commit this in the near future

[2016-11-16 22:40] teryhill opened #268 "Changes to the hcfa print and x12 files for Taxonomy codes"
I will commit this in the near future

[2016-11-16 22:41] teryhill opened #269 "Changes for Misc Billing form to handle needed items"
I will be committing this in the near future

[2016-11-16 22:49] aethelwulffe commented on #268
Thang-Kew!

[2016-11-16 22:50] tmccormi opened #270 "Document Move does not move the document itself"
The operation in the documents tree from moving a document from one patient to another only updates the document table file path.  It DOES NOT actually move the document from the documents/OLDID to documents/NEWID/ on the disk.

That is a big issue in my mind.   I just discovered one user/account that has 12,000+  attachments under the patient ZZTEST which have been "moved" to the real patient rec

[2016-11-16 22:53] aethelwulffe commented on #269
I am absolutely positive that I will need your assistance when diving into the interactive 1500 again.  To lighten the load, we can make sure it satisfies the current specific needs of your LSS customers.  I am pretty sure that if it satisfies Florida and NC medicaid, we will be catching most every issue possible.

[2016-11-16 22:54] aethelwulffe commented on #269
None of which sounds like I can get back to this week...

[2016-11-16 22:56] aethelwulffe commented on #270
It is a huge issue.  A certain lab interface has that issue as well.  I think this was blushed over due to conflicts with my.cnf/my.ini server configurations dis-allowing the process.

[2016-11-16 22:56] teryhill commented on #268
Now for a more detailed description. This commit puts the provider Taxonomy code in 24I and 33B along with the referrer's Taxonomy code in box 17a

It also adds the provider taxonomy in the 2310b loop and in the 2000A loop

[2016-11-16 23:00] teryhill commented on #269
We may need to just talk it out a couple of times. That should let us develop an attack plan

[2016-11-16 23:01] teryhill commented on #269
This is actually the code that is currently being run on LSS 4.2.1 and 4.2.2

[2016-11-17 02:39] teryhill opened #271 "Insurance Inactivate and pre-billing Issues report"
I will also be adding my changes to allow the insurance inactivate on the patient demographics and the changes to the pre-billing report (yes Art you can celebrate )

[2016-11-18 22:49] tmccormi commented on #267
Credit where credit is due this work was commissioned by MI2 but done by Julie Longtin

[2016-11-21 05:07] teryhill opened #280 "EDI 270 creation program still on the 4010 standard"
EDI 270 creation program still on the 4010 standard needs to be brought up to the 5010 standard

[2016-11-21 06:10] teryhill opened #282 "adding the ub04 code to the repo ."
@tmccormi I will be working on this project to get it in the repo a little a long. I would like to get it in the repo but I am not sure it is a high priority. Your thoughts?

[2016-11-21 06:28] aethelwulffe commented on #282
Uh, I think I did something with UB04 in the ARSP system...Just saw it
when I was mashing the HCFA stuff into the libraries. Better check this out.

On 11/21/2016 1:10 AM, Terry Hill wrote:

[2016-11-21 06:34] teryhill commented on #282
CMS 1450 form not CMS 1500

[2016-11-21 07:03] aethelwulffe commented on #282
AH, UB04 hospital form.  Maybe the thing I am thinking about is Loop2310AB DN or DK in NM1 02, but there is something else dangit.  I am looking, and I just saw it...some unimplemented thingydoodle in the claims...and I swear is was a UBH or TA or something with an 04 at the end...boy...I need sleep.

[2016-11-21 20:25] tmccormi commented on #282
CMS 1450 and it's attendant code could/should be an add on module.  It's
all separate code for the most part.

Tony McCormick, CTO
www.mi-squared.com
Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo

tóg go bog ē - Best advice from a pub owner in Ireland, to take it easy.

On Mon, Nov 21, 2016 at 1:03 AM, Art Eaton <notifications@github.com> wrote:

--
Please be aware

[2016-11-21 20:30] teryhill commented on #282
Do we have the steps for making a module ?

Sent from my iPhone

[2016-11-21 20:33] tmccormi commented on #282
Ken posted a document about that in the repo...
 Documents/Plugin-Development-FAQ.md

Tony McCormick, CTO
www.mi-squared.com
Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo

tóg go bog ē - Best advice from a pub owner in Ireland, to take it easy.

On Mon, Nov 21, 2016 at 2:30 PM, Terry Hill <notifications@github.com>
wrote:

--
Please be aware that e-mail communicati

[2016-11-21 20:37] #259 closed

[2016-11-22 02:39] #266 closed

[2016-11-22 02:40] #265 closed

[2016-11-22 02:41] #269 closed

[2016-11-22 02:41] #267 closed

[2016-11-22 02:42] #268 closed

[2016-11-22 02:51] #271 closed

[2016-11-28 23:55] teryhill opened #283 "Add CMS 1500 margins as a user Preferences and cleaned up globals"
Add CMS 1500 margins as a user Preferences and cleaned up globals.

[2016-11-29 03:17] teryhill opened #285 "Billing widget not displaying correct numbers."
Customers have complained that the billing widget gives the wrong numbers sometimes. This has been happening for years.  This is a sample of the common error.
![billing_error](https://cloud.githubusercontent.com/assets/4655366/20695162/ff0eee9e-b5b7-11e6-9c80-ef58e9fd2efb.PNG)

The error can get interesting as seen here.

![billing_error_2](https://cloud.githubusercontent.com/assets/4655366/206952

[2016-11-29 03:19] #283 closed

[2016-11-29 03:19] #263 closed

[2016-11-29 13:54] #285 closed

[2016-11-29 16:26] teryhill commented on #280
Fixes per clearing house review

[2016-11-29 19:13] teryhill opened #288 "removal of concurrent_layout from the code"
I am going to restart this at a little slower pace. The first commit will be in globals to default the setting to 3. I have tested this on my system and you can change the global settings and there is no change.

[2016-11-29 19:29] tmccormi commented on #288
I got about 1/2 way thru this on the plane ...  I'll share what I have so
far for you perusal.

Tony McCormick, CTO
www.mi-squared.com
Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo

tóg go bog ē - Best advice from a pub owner in Ireland, to take it easy.

On Tue, Nov 29, 2016 at 1:24 PM, Terry Hill <notifications@github.com>
wrote:

--
Please be aware that e-mail c

[2016-11-29 19:37] aethelwulffe opened #290 "generate_id() and GenID()"
Need to look at the adodb generate_id and genID functions dealing with sessions and ID's for insurance_companies, addresses, x12_partners and some other areas.
Related code can be found in the templates directory as well as sql.inc, controller.php linked Controller.class.php.
These functions call an adodb function to generate a very goofy ID that is being used as the key in the above listed tables

[2016-11-29 19:42] tmccormi commented on #288
* [new branch]      concurrent_layout_cleanup -> concurrent_layout_cleanup

[2016-11-29 19:47] aethelwulffe commented on #280
That ISA element that identifies the delimiter used in the file can be a caret if you want.  Of course if you are saying it will be one, then you use the other...that does not work.

[2016-11-30 23:37] teryhill commented on #280
Lookie what I got Fellers

ISA*00*0000000   *00*0000000000*ZZ*55577889       *ZZ*753951258      *161130*1833*^*00501*000000001*1*T*:~
GS*HR*55577889*753951258*20161130*183348*2*X*005010X279A1~
ST*276*000000003*005010X279A1~
BHT*0022*13*LibreEHRTest*20161130*1833~
HL*1**20*1~
NM1*PR*2*Anetna*****46*753951258~
HL*2*1*21*1~
NM1*41*2*13*****46*753951258~
HL*3*2*22*0~
NM1*1P*2*Lilly Systems & Solutions

[2016-11-30 23:51] aethelwulffe commented on #280
Oh very very nice!
You're a good boy, oh yes you are!
5010 strings don't match, no delimiters (Anetna?) :) but good work man.
Getting 270/271 is the real biggie for most places though.  Verifying insurance is a big deal.

[2016-12-05 01:56] aethelwulffe commented on #233
#291 is the new squash branch.

[2016-12-05 02:03] aethelwulffe commented on #233
Testing task list.  Each item in this list should be verified and tested by someone other than me ('cause I have as best I can.)
ZEND stuff, eRX.php, the TAGS stuff, the contrib dupe check (not on this list), fax, as well as some items like AMC tracking have not been tested due to them either being impractical to test for me, not working in the first place (most common), or totally obsolete in any

[2016-12-05 02:25] aethelwulffe opened #293 "Treeview.js is no longer supported: UPGRAYYDD pls."
We have two versions of treeview in the code base.  The new project is http://mbraak.github.io/jqTree/
I doubt switching will be that big of a deal in light of the improved features like drag and drop as well as (thankfully) keyboard support.
  The other option is jstree, but I am pretty sure jqtree is the way to go.

[2016-12-05 02:26] aethelwulffe commented on #280
You have full merge on this.  Closing

[2016-12-05 02:26] #280 closed

[2016-12-05 02:27] #257 closed

[2016-12-05 02:28] #254 closed

[2016-12-05 02:32] aethelwulffe opened #294 "STRICT MODE compatibility"
Strict mode causes problems all over the place.  Recommend adding php variables checks to the installer after minimizing the effect of strict mode in the code base.  Standard tests (which don't exist) should require a set standard of PHP variables by PHP version.  Same applies to DB engines.

[2016-12-05 02:36] aethelwulffe commented on #225
So did you roll that patch?

[2016-12-05 02:37] aethelwulffe commented on #241
Status?

[2016-12-05 02:38] aethelwulffe commented on #216
Bump.

[2016-12-05 02:40] aethelwulffe commented on #215
Killing this topic and posting the enhancement towards new message system with assignment, task list etc..

[2016-12-05 02:40] #215 closed

[2016-12-05 02:41] #243 closed

[2016-12-05 02:41] aethelwulffe commented on #234
Bump?

[2016-12-05 02:42] aethelwulffe commented on #211
This has been done...to loud effect.

[2016-12-05 02:42] #211 closed

[2016-12-05 02:44] aethelwulffe commented on #13
How is the new portal referencing this @mysteryteam working on new portal?

[2016-12-05 02:45] #10 closed

[2016-12-05 02:48] aethelwulffe commented on #118
Is a popup window or a floater, or scaling, or browsertab or anything else an option for the flowb or calendar?  It's one of the few things that are best as horizontal frames.

[2016-12-05 19:38] tmccormi commented on #225
We have not done any patches to the master in a long time, probably need to revisit this issue and our policy for patches at this point.

[2016-12-05 19:41] tmccormi commented on #234
I tested Autodeploy and New installs work fine.   I think admin.php should be remove and the login should check if upgrade is required and force admin user to login to run the upgrade.  Preventing anyone else from running until that happens.

[2016-12-05 19:46] tmccormi commented on #13
No idea what you are asking and that team reference is an actual github
account ....  I suggest we delete that comment

Tony McCormick, CTO
www.mi-squared.com
Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo

tóg go bog ē - Best advice from a pub owner in Ireland, to take it easy.

On Sun, Dec 4, 2016 at 6:44 PM, Art Eaton <notifications@github.com> wrote:

--
Please

[2016-12-05 19:48] aethelwulffe commented on #13
delete it.

On 12/5/2016 2:46 PM, Tony McCormick wrote:

[2016-12-05 19:58] aethelwulffe commented on #234
And the multi site feature go bye-bye?  Fine with that I suppose, the only real issue being that some users DO INDEED use multiple sites without having a vendor.  This includes training sites and the like.
  If we want a tool inside the application that adds another site without using the anonymous admin.php, I will gladly take on that task.   That will require an "upgrade this site/all sites" too

[2016-12-05 20:02] tmccormi commented on #234
No multi site works fine.

[2016-12-05 20:03] tmccormi commented on #234
I just talking about the upgrade part of admin.php being a security risk.   Right now admin.php is just plain busted.

[2016-12-05 20:09] aethelwulffe commented on #234
admin.php is the multi-site utility, thus the confusion.

[2016-12-05 20:15] tmccormi commented on #234
it's only one way to get to multisite.   setup.php as well and any call to
the base url with ?site=SITENAME works just fine

Tony McCormick, CTO
www.mi-squared.com
Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo

tóg go bog ē - Best advice from a pub owner in Ireland, to take it easy.

On Mon, Dec 5, 2016 at 12:09 PM, Art Eaton <notifications@github.com> wrote:

--
P

[2016-12-05 20:19] aethelwulffe commented on #234
I'm talking about ... oh nevermind.  There needs to be a end-user flavor of way to do anything before it can be called a feature.  I'll just deal with it.

[2016-12-05 20:20] teryhill commented on #234
but it is a lot easier for the office ladies to use admin.php than to remember the url changes

[2016-12-05 20:35] aethelwulffe commented on #234
In any case, a "clone database" from the setup either fails or takes 40
minutes.  We revised that bit to run it in just a few seconds.  The
setup needs a login and all that rot, so I figure this is a good little
project to do.

On 12/5/2016 3:20 PM, Terry Hill wrote:

[2016-12-12 22:54] tmccormi opened #300 "Unable to save Demog Changes (edit mode)"
New install of development_101 on ubuntu 14.04 from source.

SAVE button unresponsive.  I think the javascript section is not loading fully now or something.  JS not my forte as you all know.

![unable-to-save-demochanges](https://cloud.githubusercontent.com/assets/285835/21120134/b1bcc198-c07a-11e6-898f-d5687ae0f4b2.png)

[2016-12-12 23:05] teryhill commented on #300
Do you have a PHP log entry?

[2016-12-12 23:07] tmccormi commented on #300
No it's not a PHP error.  But I think I got it.  Some JS code was badly commented out and I "fixed" it. but I typoed the fix.

I have fixed it now ....

[2016-12-12 23:38] tmccormi opened #301 "Admin->Backup-Export Configs Layouts not selecable"
The selection list for exporting Layouts is empty on a new installation.

![layouts-export](https://cloud.githubusercontent.com/assets/285835/21121372/e680cb4e-c080-11e6-8a5a-629be378df96.png)

I was attempting to save changes I made to layout_options and globals tables etc.

[2016-12-13 00:11] aethelwulffe commented on #300
Uh, sorry, but line 116 of demographics_full should read:

`var mypcc = "<?php echo $GLOBALS['phone_country_code']; ?>";`
It needs that semicolon thingie, and I am not so sure of the single quote usage dependability.

[2016-12-13 00:15] teryhill commented on #300
got it

      From: Art Eaton <notifications@github.com>
 To: LibreHealthIO/LibreEHR <LibreEHR@noreply.github.com>
Cc: Terry Hill <teryhill@yahoo.com>; Comment <comment@noreply.github.com>
 Sent: Monday, December 12, 2016 7:11 PM
 Subject: Re: [LibreHealthIO/LibreEHR] Unable to save Demog Changes (edit mode) (#300)

Uh, sorry, but line 116 of demographics_full should read:var mypcc = "<?php echo $

[2016-12-13 00:31] aethelwulffe commented on #300
[code]
This also has colonoscopy issues....and I have issues with someone using curly braces in an array...Does that even work?  Also, good practice to put single quotes inside double...not double inside double.  Note the semicolon after the php closing tag.
 `<input type='entry' size='20' name='i<?php echo $i?>plan_name' value="<?php echo $result3{"plan_name"} ?>"`
What is that extra "i" in front

[2016-12-13 00:33] aethelwulffe commented on #300
Tony, my forte is _just a little bit_ forward of the quillions.

[2016-12-13 01:10] teryhill opened #302 "E-mail Address change"
I have changed my e-mail address across the code base for personal reasons.

[2016-12-13 01:25] teryhill opened #304 "EDI 276 Claim Status request"
I have this ready. This is just the request portion. The EDI module has the receive portion.

[2016-12-13 01:39] tmccormi commented on #300
Nice "repost"

[2016-12-13 03:17] aethelwulffe commented on #300
When I lay it on, I go to the hilt.

[2016-12-13 03:17] #300 closed

[2016-12-13 06:29] aethelwulffe opened #309 "pubpid is causing issues"
Pubpid is not getting set, at least on my test environment php7 maria.
I recommend a find and replace branch to remove the whole concept from the code base.  How do you guys feel about me doing that?

[2016-12-13 06:31] aethelwulffe commented on #288
This is done, right?

[2016-12-13 06:36] aethelwulffe commented on #234
I say we snuff admin.php and all of it's upgrade stuff and work on an internal utility when it is time.
Busted stuff isn't worth having.
#310

[2016-12-13 14:18] #302 closed

[2016-12-13 20:26] tmccormi commented on #234
Ken has the start of a migration model that will work.  See his latest commit.   Stills needs a secure, control UI with rollback.   But it's better than what we have inherited.

eb7f392 Development 101 ken (#297)

[2016-12-13 20:29] tmccormi commented on #234
Can these be removed:

- sql_upgrade.php
- sql_patch.php
- sql/0_0_1-to-1_0_0_upgrade.sql
- sql/libreehr_upgrade.sql
- sql/patch.sql

At the next release we can provide migration script, if not the start of a new admin UI

[2016-12-13 20:33] teryhill commented on #234
should be able to as long as we understand how to use the new migration script

[2016-12-13 20:40] tmccormi commented on #234
yes. if there's a new migration it will be run at login (i think.) the migrations are run after all the plugins are loaded.  The plugin system is started at the end of globals.php, and that loads all the plugins, etc.

We can adapt.  Take a look at one of the migration php scripts.  It's using the same format as the upgrade_sql.php ..

[2016-12-13 20:56] tmccormi commented on #309
PUBPID is used extensively to provide a alternative tracking for ID from external EMR Conversions.

That said it's very misunderstood and frequently used incorrectly in code.    We need to have a place or two for external IDs, but PUBPID should not be what is displayed when PID is what is meant ((Like on the Active Patient links, Finder, etc ...)

[2016-12-13 21:13] tmccormi commented on #288
No.  It's only half done.  I shared the branch so Terry to look at it.

[2016-12-13 21:15] tmccormi commented on #247
reference #91 This issues are part of the same requirement

[2016-12-13 21:15] aethelwulffe commented on #309
I am down with leaving it in the database, though ID and PID could actually be the same themselves as well.
So, without removing the concept completely and leaving it as an alternate id in addition to insurance numbers, ssn's and all that rot even when it is only useful in a few rare cases for special purposes by certain vendors, we can still correct the usage in the code base.  I will assign myse

[2016-12-13 21:15] #241 closed

[2016-12-13 21:16] tmccormi commented on #225
This is also part of the #91 migration and setup model

[2016-12-13 21:17] tmccormi commented on #191
More #91  related issues

[2016-12-13 21:18] tmccormi commented on #219
Closing this,  not relevant in current "no upgrades" model

[2016-12-13 21:18] #219 closed

[2016-12-13 21:42] aethelwulffe commented on #247
I can say this:
Having a separate file for each table, with or without drop/create or any of that, as well as a custom rolled script for launching and running them is a HELL of a lot handier than maintaining one mongo database file.

[2016-12-13 21:48] aethelwulffe commented on #247
I will branch up a feature with some grunt work in it.  I'll splinter database.sql and start there, then we can all add commits to get a file structure we will be pointing logic at.

[2016-12-13 23:09] teryhill opened #311 "Brought in Some of Matrix's changes to the Patient Flow Board"
Brought in Some of Matrix's changes to the Patient Flow Board

[2016-12-13 23:27] #234 closed

[2016-12-14 00:10] teryhill opened #314 "Ray's Eye Form"
I have been working on bringing in Ray's Eye Form. This is a very large commit so I would like to bring it in as 2 chunks. First the assets that are needed and then the actual code. This will be as a loadable form.

[2016-12-14 00:12] teryhill opened #315 "Ray's Statement Changes"
Ray has done some really great work on this. I will commit this as I complete it.

[2016-12-14 00:17] tmccormi opened #316 "Cleanup branches"
There are a lot of branches that are dead (merged or abandoned)  I'm going to remove the from the server.
 Please let me know if I should keep any of these.  I've already removed the current pull requests from this list.

git push origin :1500_margins_user_definrd
git push origin :Document-Plugin_PR_169
git push origin :Encounter-Form-Rename
git push origin :External-URL-tab
git push origin :Fixes

[2016-12-14 00:21] tmccormi commented on #314
Still seems like something that should be an "install if needed" module, not part of the base line for say, general practice, or mental health ....

[2016-12-14 00:27] teryhill commented on #314
It will be just a form that can be added to interface/forms and loaded from there. We will need to test this on the various platforms. Has anyone created an uninstall script for an un-used form?

[2016-12-14 00:42] tmccormi commented on #314
I'm sensitive about added assets that are only used by one thing ... code bloat is something we have been fighting ...

[2016-12-14 00:56] teryhill commented on #314
I understand but some of the assets are
jquery-ui-1-10-4
pure-0-5-0
bootstrap-3-3-4
qtip2-2-2-1
font-awesome-4-6-3

I am not sure how you are going to attract developers with out assets but you guys know more than I

[2016-12-14 01:07] tmccormi commented on #314
This is a philosophy issue.
1) YES we need to have good tools to work with, but you don't need to have every tool ever made to create a nice product
2) We just spent months removing code and overlapping tools.

That said assets that are specific to a particular module should be installed with the module in some fashion, not just dumped into vendor directory.

So what I'm suggesting is that you cre

[2016-12-14 01:18] tmccormi commented on #314
I'm not suggesting you close the issue...  It's a good form.  Post the code and let's if we can make a module out of it. We need a good candidate for this kind of thing

[2016-12-14 01:36] aethelwulffe commented on #316
Uh...why have these not been deleted?  Actually...I am pretty damn sure
that I didn't have all these dead branches on my system until
recently...has the LibreBot or Herobrine been at it around here?

On 12/13/2016 7:17 PM, Tony McCormick wrote:

[2016-12-14 01:42] tmccormi commented on #316
Naw, just sometimes I forget to check the "delete branch" button after a merge (in Stash it's the default)...

[2016-12-14 03:35] tmccormi commented on #316
OK, I'm going to toast this branches now...

[2016-12-14 03:48] tmccormi commented on #316
Done

[2016-12-14 03:48] #316 closed

[2016-12-14 18:53] #311 closed

[2016-12-14 20:14] aethelwulffe opened #317 "Legacy Smarty Templates?"
Looking over the pubpid bits, I came across the fact that most of the smarty stuff is 11 years old.
I also noticed that we have a number of directories in /templates that seem... not to be useful, and the blame is very old except for translation bits.
report
error
patient_finder
are the templates I suspect may not be used anymore.
The report one is called from /reports/index.php  I have no idea wh

[2016-12-14 23:55] aethelwulffe commented on #309
#318

[2016-12-15 00:27] aethelwulffe commented on #293
DocumentTreeMenu.js is not doing it's job right now apparently.  I can't get patient document categories to display in 101 (or any other branch) unless it is my DB that is the issue..

[2016-12-15 00:28] aethelwulffe commented on #293
[code]

[2016-12-15 00:52] tmccormi commented on #293
Working fine for me in current (today) and older, not updated recently
installs

Tony McCormick, CTO
www.mi-squared.com
Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo

tóg go bog ē - Best advice from a pub owner in Ireland, to take it easy.

On Wed, Dec 14, 2016 at 4:28 PM, Art Eaton <notifications@github.com> wrote:

--
Please be aware that e-mail communication can

[2016-12-15 00:53] #304 closed

[2016-12-15 23:42] teryhill opened #319 "Added Global defaults to PFB for date range and Appointment Status"
Added Global defaults  to PFB for date range and Appointment Status

[2016-12-16 00:29] tmccormi commented on #319
Looks good!

[2016-12-16 00:29] #319 closed

[2016-12-16 19:46] aethelwulffe commented on #314
Here are my issues:
1.  We have not actually cleaned up assets yet.  The jquery attempt is currently a failure for a reason I cannot fathom.
2.  The TAGS stuff came in with another set of dependencies...without protest.  This includes the bootstrap bit.  If the idea is to locate, name, and contain dependencies in separate directories, that is fine, but we should not turn a blank eye to it when it

[2016-12-16 19:51] aethelwulffe commented on #314
In addition, I am totally sick of having a total dearth of decent-looking and operating forms available as a standard option, and I hate most of the forms and reports that exist right now.  Let's do a trade-off.  We delete one for each that we add.  No, I don't want the contribs directory bloated up again, and I don't want the specialist forms in as "standard".  I want most all of them gone, only

[2016-12-16 19:59] tmccormi commented on #314
The TAGS stuff was not for Ireland, that stuff was created for OpenEMR and submitted to OpenEMR before LibreEHR existed...

But in general I agree with the whole rant :-)

[2016-12-16 20:02] teryhill commented on #314
So does this mean we need to have multiple copies of say bootstrap in 10 different directories, Not what I think the intention should be. It should be contained in a central directory and maintained there. If a newer version of the asset is used then the other usage is located in the code and upgraded to the newer version

Am I missing the Idea?

[2016-12-16 20:04] tmccormi commented on #314
I think this is general conversation that should be moved to the forum or at least a new ISSUE tagged as a discussion.

[2016-12-16 20:10] tmccormi opened #323 "Discussion / Rants regarding Asset and Libraries and extensibility"
This is a Issue to contain discussions about the best models for creating an infrastructure that support clean deployment of assets as well as good ways to manage custom and value-added modules and features without polluting the base installation.

Can also include ideas about cleaner UI, what forms and reports to keep/replace etc..

[2016-12-16 20:11] tmccormi commented on #314
See #323

[2016-12-16 20:12] tmccormi commented on #323
Copying Arts comments from #314
Here are my issues:
1.  We have not actually cleaned up assets yet.  The jquery attempt is currently a failure for a reason I cannot fathom.
2.  The TAGS stuff came in with another set of dependencies...without protest.  This includes the bootstrap bit.  If the idea is to locate, name, and contain dependencies in separate directories, that is fine, but we should not

[2016-12-16 20:16] tmccormi commented on #323
Industry standard ins to put 'shared' assets in the vendor/ directory structure.   The issue is in determining what constitutes a tool that is shared by more that one subset of the project.   If a custom (not core) module uses an asset that nothing else uses it should be delivered in a way that keeps the core clean.

That can mean a builder/plugin installer that adds it's assets to the core vendor

[2016-12-16 20:21] teryhill commented on #323
So what happens when the user selects 2 modules that have the same assets but they are both self contained. The user system has twice the assets and half the room. who maintains the assets in the modules, the developer that submitted them ? what if the code goes stale but is still used by the endusers. My head hurts.

[2016-12-16 20:35] teryhill opened #324 "Is there a need to pursue MU compliance"
Do we work towards this? I agree that there should not be all the bloat that was caused by putting everything in the system. Not being certified greatly limits my client base , unless the government changes things.

We need to look at issues 11 - 14 and determine if they are in fact needed. Or do we just cater to the non US market where MU is not needed.

[2016-12-16 20:43] tmccormi commented on #323
That is a very minor  condition that happens all the time.   Disk space is cheap, so I don't think that is a big deal, personally.

The whole reason for "contained" code is so that individuals can keep their dependencies (versions etc) when needed and not get broken by others.  for really big things that's why Docker is so popular.

It is important to encourage developers to use the common core as

[2016-12-16 20:49] teryhill commented on #323
so should the assets used by tags be moved to a central place or left where they are. The assets that are there are only used by that code not any where else.

[2016-12-16 20:52] tmccormi commented on #323
It's a call we can make depending now or if the assets become useful elsewhere they could be moved later - @kchapple what do you think?

[2016-12-16 20:58] teryhill commented on #323
this is a question, We talked about having tools to attract developers. What are the tools that will attract them? Shouldn't we have a Basic set in place as to not hinder them.

[2016-12-16 23:02] tmccormi commented on #324
I think MU should, at the very least be sidelined in favor of focus on a good core product.   OpenEMR (hopefully) can be the MU offering by any of us that need to do that.    I'm doing that as we speak.

MU is expensive and the current MU2 implementation requires external services that are proprietary ie: #11 #12  #13 #14

Until we have serious funds I think this is out of reach for LibreHealth EH

[2016-12-16 23:07] tmccormi commented on #323
Yes we should.  The question is, obviously, what are those tools?  I'm and old developer, so my opinion does not count.  Clearly Sam L prefers KnockOut and the Laravel framework.   Let's ask on the Forum and see what the the other half says.

[2016-12-16 23:16] teryhill commented on #324
parts of 12 and 13 will be handled with the new portal . 11 is there I think with sherwins ccm. 14 is a work as you go.

If we want to be MU certified I think we should put the pieces in as we go.

[2016-12-16 23:18] tmccormi commented on #324
Anything that truly has a "Meaningful Use" can and should continue moving forward.   I agree that those are things that meet that standard.

[2016-12-17 02:02] tmccormi commented on #17
So ..  planning on adding this tool to allow easy editing and rearranging menu items:
https://github.com/josdejong/jsoneditor

Just the minimum needed + the PHP/HTML to load the file and save it.

A  ../../../library/js/jsoneditor/LICENSE
A  ../../../library/js/jsoneditor/NOTICE
A  ../../../library/js/jsoneditor/img/jsoneditor-icons.svg
A  ../../../library/js/jsoneditor/jsoneditor.map
A  ../../../

[2016-12-17 18:05] aethelwulffe commented on #324
Yes...we build a product that can be used meaningfully.
Yes, many of the core ideas in MU2 should be explored...but never ever ever to simply sastisfy a checkbox.  That is the pitiful idiotic mindset of mismanagement that failed to look in to the intent of a standard and do something in an _elegant_ fashion using basic system engineering approaches.  The project management...while I am not intendi

[2016-12-17 19:09] tmccormi commented on #324
Spoken like a real Systems Engineer :-)  good rant

[2016-12-19 19:57] tmccormi opened #325 "Login Logo"
The new login script is hard coded for interface/pic/LEHR_logo.png.
There are unused "images" now in sites/*/images like login_logi.gif etc.

previously a user could change the login logo by uploading a replacement to the sites/*/images dir.  This feature has been lost, but the tools to support it are still there.

So ...  Keep the hard coded one or modify it to use the user/vendor changeable mode

[2016-12-19 20:01] tmccormi commented on #325
Maybe something like this?
![nagp-demosite-lehr](https://cloud.githubusercontent.com/assets/285835/21327216/e12171be-c5e2-11e6-92ec-89605d9b4357.png)

[2016-12-19 20:04] aethelwulffe commented on #325
Yeah, there used to be TWO logos...the header one (which we have no
header on the logon page) and the one in the fill, which I suppose we
are using now.

Main logo configurable by global is nice, with the little powered-by
logo more difficult to simply replace.

I have actually needed a multilogo login page in the past, and being
able to drop them in somehow would still be nice for me...thinking i

[2016-12-19 20:14] aethelwulffe commented on #325
Yeah,

dimension checks and the like for the imported file would be good so
things don't get goofy is another good idea.

On 12/19/2016 3:01 PM, Tony McCormick wrote:

[2016-12-20 19:54] tmccormi opened #326 "DocumentTree menu gone again"
I'm getting this error again on new installs:
GET https://libreehr.vu2vu.com/demo/libreehr/DocumentTreeMenu.js
controller.php?document&list&patient_id=1015:27 Uncaught ReferenceError: TreeMenu is not defined
    at controller.php?document&list&patient_id=1015:27

They were moved in this commit
24c1ea1 Locate DcoumentTree_Menu.js (#252)
D       CategoryTreeMenu.js
D       DocumentTreeMenu.js
A

[2016-12-20 19:56] tmccormi commented on #326
This fixes it ... but it's a hack:
in the EHR root
# sudo ln -s library/js/DocumentTreeMenu.js DocumentTreeMenu.js

[2016-12-20 20:39] tmccormi opened #327 "Referral report for Transactions fails with SQL"
New referral entered and saved fine.  But when you run the report you get this in development_101 branch

![referral-report-sql](https://cloud.githubusercontent.com/assets/285835/21367038/57695098-c6b1-11e6-9a9a-685e75d3cbb7.png)

[2016-12-20 20:43] tmccormi opened #328 "Appointment Search from Calendar - How does it work?"
Does anyone have documentation on how the 'SEARCH' feature works on the calendar?  I was unable to make any sense of it.

![appt-search](https://cloud.githubusercontent.com/assets/285835/21367162/e6b52010-c6b1-11e6-93a7-e8b3ac08b28a.png)

[2016-12-21 00:55] tmccormi commented on #326
Did I mention how much I hate javascript?   I'm getting a 404 not found on a file that is CLEARLY there...

![whereswaldo](https://cloud.githubusercontent.com/assets/285835/21373592/f0baf0da-c6d4-11e6-9055-6ce39f47c8b9.png)

[code]

[2016-12-21 01:06] tmccormi commented on #326
OK it appears to be fixed.  Pull request coming, please test..

[code]

[2016-12-21 01:11] tmccormi commented on #162
I thought of a great button to add to the title bar  "CLOSE ALL TABS"...  @aethelwulffe

[2016-12-21 01:25] teryhill commented on #328
Cannot find any thing about it even as far back as 3.0. documentation.

[2016-12-21 14:15] aethelwulffe commented on #328
I have, at least, a lot of people that use it every day in a "normal" installation.  If there is a specific question, I will confer...but it has always seemed simple enough to me.
Recently I was thinking that tying in tags was something to do with this, but then we got into the "replace calendar/smarty" wagon.

[2016-12-21 14:24] aethelwulffe commented on #326
YAY!  That is exactly what I was seeing when I was testing the pubpid branch.  I thought you said it worked fine for you, so I was only looking for issues with my machine.

[2016-12-21 18:32] tmccormi commented on #326
It was working because for some reason the damn js file was still in the root dir, despite my best efforts

[2016-12-21 19:37] tmccormi commented on #328
I could never make it find anything no matter what I searched for.

What's a "Keyword" what fields is it searching for?  Why doesn't find
"Appts of Type X" with no keyword?

Tony McCormick, CTO
www.mi-squared.com
Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo

tóg go bog ē - Best advice from a pub owner in Ireland, to take it easy.

On Wed, Dec 21, 2016 at 6:15 AM,

[2016-12-21 21:28] aethelwulffe commented on #328
Category type, then the appointment note content are separate items there.

Sorry for off the cuff answer, just replying with what I remember.

It is possible that there is some category type tweaking that goes on to
make new installs work.

On 12/21/2016 2:37 PM, Tony McCormick wrote:

[2016-12-23 17:26] teryhill commented on #325
Maybe using the LibreHealth logo. like at the top of the forums

[2016-12-23 18:13] tmccormi commented on #325
not a bad idea at all.

[2016-12-28 19:03] tmccormi opened #332 "URL in headers for LibreHealth.io"
Some of the files have headers that reference www.libreehr.org

At some point they should all be converted to be the librehealth.io page instead.

[2016-12-28 19:11] aethelwulffe commented on #332
I'll SED that tomorrow.

[2016-12-29 04:07] #200 closed

[2016-12-29 04:08] tmccormi commented on #146
Changing this to next release..

[2016-12-29 04:10] tmccormi commented on #43
This is 3 months past what we had planned..  Time to give release 1.0.1 a bump and get it done.  I've changed the date to Jan 31st.  Any objections?   Let's review the list and make some choices and kick it in the pants.

[2016-12-30 21:10] #326 closed

[2016-12-30 21:11] tmccormi commented on #3
see pull #334

[2016-12-30 21:12] tmccormi commented on #17
see pull #334

[2017-01-04 00:02] tmccormi commented on #17
pull #334 merged, which helps but still need a good description of what the fields all mean.

[2017-01-04 00:03] tmccormi commented on #3
Done

[2017-01-04 00:03] #3 closed

[2017-01-04 01:28] teryhill opened #335 "Taxonomy code giving rejections"
Apparently I am ahead of caid on the code changes . We will need to revert them or ,since we have just a very few clients, we can change it as needed.

Let you guys make the call on it.

[2017-01-04 21:16] tmccormi commented on #241
Pull #336 fixed the color selector

[2017-01-04 21:40] tmccormi opened #337 "General Bug reports from GCI Students"
The attached are issues reported by Google Code In students
[6196584620490752_1483564981_LibreEHR_Bug_Report.pdf](https://github.com/LibreHealthIO/LibreEHR/files/685952/6196584620490752_1483564981_LibreEHR_Bug_Report.pdf)

[2017-01-04 21:42] tmccormi commented on #337
More (some the same)

[6196584620490752_1483564981_LibreEHR_Bug_Report.pdf](https://github.com/LibreHealthIO/LibreEHR/files/685961/6196584620490752_1483564981_LibreEHR_Bug_Report.pdf)
![5751870865801216_1482035098_32](https://cloud.githubusercontent.com/assets/285835/21660277/997db608-d283-11e6-8e5b-b352980e5019.jpg)
![5751870865801216_1482035097_33](https://cloud.githubusercontent.com/assets/2858

[2017-01-05 11:46] Elgayar opened #338 "Date of Birth field accepting Future Dates"
When entering a future date, it should prevent that by alerting the user with an error message, however it doesn't and instead it displays the age in negative. Which is meaningless.

![image](https://cloud.githubusercontent.com/assets/6567844/21679524/50584586-d34d-11e6-96db-adefcb5a71c3.png)

[2017-01-05 11:49] Elgayar opened #339 "Download Prescription PDF is not working"
When clicking on Download PDF at the Prescription section, nothing happens.

![image](https://cloud.githubusercontent.com/assets/6567844/21679631/baab3d08-d34d-11e6-9679-7d0b6c4ce09a.png)

[2017-01-05 11:50] Elgayar opened #340 "Adding Tags for a Patient is not working"
I added more than 3 tags and they are all not appearing, or not seem to be added in the database.

![image](https://cloud.githubusercontent.com/assets/6567844/21679659/e765c296-d34d-11e6-9fdc-81a4c1b25c0c.png)

[2017-01-05 11:52] Elgayar opened #341 "Number of Notes displayed is wrong"
When adding **ONE** note for a patient, it says: Displaying the following number of most recent notes: **3**, when they are only 1.

![image](https://cloud.githubusercontent.com/assets/6567844/21679696/1ce62654-d34e-11e6-95a3-a13bec9b274f.png)

[2017-01-05 18:50] tmccormi commented on #340
This issue has been fixed in the development_101 branch.   Planning on getting a automatic demo of current code up online very soon.

Thanks!

[2017-01-05 18:54] tmccormi opened #342 "Flowboard Appt Status and Appt Status from Widget are not in sync"
Apparently the flowboard has it's own field for status and does not share the appt status from the calendar tables directly.

![available-vs-ptincall-diff](https://cloud.githubusercontent.com/assets/285835/21693326/55f2e324-d335-11e6-8ade-d5c446f806fd.png)

[2017-01-05 18:58] teryhill commented on #342
The way it was originally done was it used the same file. I have not made a change to look at something else

      From: Tony McCormick <notifications@github.com>
 To: LibreHealthIO/LibreEHR <LibreEHR@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
 Sent: Thursday, January 5, 2017 1:54 PM
 Subject: [LibreHealthIO/LibreEHR] Flowboard Appt Status and Appt Status from Widget are n

[2017-01-05 18:59] tmccormi commented on #342
Interesting ...  Will dig some more on this.

[2017-01-05 19:02] tmccormi commented on #342
In the example the demographics screen is the current status and I watched the flowboard refresh several times without updating....  I was using chrome from linux... I wonder if there is a caching issue?

[2017-01-05 19:05] teryhill commented on #342
Yes but if you change it via any thing it was updating

      From: Ken <notifications@github.com>
 To: LibreHealthIO/LibreEHR <LibreEHR@noreply.github.com>
Cc: Terry Hill <teryhill@yahoo.com>; Mention <mention@noreply.github.com>
 Sent: Thursday, January 5, 2017 2:03 PM
 Subject: Re: [LibreHealthIO/LibreEHR] Flowboard Appt Status and Appt Status from Widget are not in sync (#342)

@teryhill Each

[2017-01-05 19:07] tmccormi commented on #342
Which means is separated at the data level.  You are assuming that all changes come via that UI and manual data entry.  We have updates that are automated based on external events...

Perhaps you created a function call that updates both places and we missed that?

[2017-01-05 19:10] teryhill commented on #342
manage_tracker_events (I think) should be in the patient_tracker.inc.php file in /library

      From: Tony McCormick <notifications@github.com>
 To: LibreHealthIO/LibreEHR <LibreEHR@noreply.github.com>
Cc: Terry Hill <teryhill@yahoo.com>; Mention <mention@noreply.github.com>
 Sent: Thursday, January 5, 2017 2:07 PM
 Subject: Re: [LibreHealthIO/LibreEHR] Flowboard Appt Status and Appt Status from

[2017-01-05 19:12] teryhill commented on #342
look at the call in appointments.inc to fetch appointments

      From: Tony McCormick <notifications@github.com>
 To: LibreHealthIO/LibreEHR <LibreEHR@noreply.github.com>
Cc: Terry Hill <teryhill@yahoo.com>; Mention <mention@noreply.github.com>
 Sent: Thursday, January 5, 2017 2:07 PM
 Subject: Re: [LibreHealthIO/LibreEHR] Flowboard Appt Status and Appt Status from Widget are not in sync (#342)

[2017-01-05 19:18] tmccormi commented on #342
OK.  Looks like this is an issue for the API core code not the base EHR code.  Closing now.  Thanks.

[2017-01-05 19:18] #342 closed

[2017-01-09 00:17] tmccormi commented on #43
Hello?  anyone out there?  no response to my previous post...

[2017-01-09 03:48] aethelwulffe commented on #43
There were no objections!

[2017-01-09 05:46] tmccormi commented on #43
That is one positive way to look at it :-)

[2017-01-10 23:55] tmccormi opened #343 "Admin tool to show who's logged in now is needed"
I wrote this SQL a while back - we could use a simple UI for admins that does this..

select user, IF( (mod(count(user),2)=1),'YES','NO') as logged_in from log where DATE_FORMAT(`date`,'%Y-%M-%d') = DATE_FORMAT(now(),'%Y-%M-%d') and (event = "login" or event = "logout") group by user

[2017-01-11 01:04] aethelwulffe commented on #343
Very good idea, but the 7200 second (or more) activity sign-off is a
factor in determining if someone is actually there or not.  I find that
most users don't properly log off.  A two-hour delay is rough when you
want to hut down mysql.

I suggest changing that default at least.  Another bit to consider might
be an addition to the auto-logout that sends a message or some such to
the user simply sta

[2017-01-11 05:52] tmccormi commented on #343
Not a bad idea, we should post that on the facebook page, I think....

PS: does autologout work in LibreEHR still?

[2017-01-18 00:56] tmccormi commented on #325
#345 pull requested  - The current pull uses the shield, I have a version that uses the LibreHealth version as well.  I can switch them if desired.

![login-shield](https://cloud.githubusercontent.com/assets/285835/22046481/d0793810-dcd5-11e6-9759-bcc15cc916ad.png)

![librehealth-login](https://cloud.githubusercontent.com/assets/285835/22046488/d9eab4aa-dcd5-11e6-868a-9b1b93806bfe.png)

[2017-01-18 21:26] tmccormi opened #347 "Floating Alert configuration setting in globals are under Billing tab"
Alerts for Messages and Allergies are in the billing tab instead of "Features"

![alerts-globlas](https://cloud.githubusercontent.com/assets/285835/22083583/9faaee0c-dd81-11e6-8cb9-3477f7c26697.png)

[2017-01-18 22:48] tmccormi opened #348 "Flowboard/Patient Tracker Date selection not respecting Globals Local setting"
Globals are set for DD-MM-YYYY (European standard)
Date widgets appear to be hard coded for YYYY-MM-DD

![flowboard-date-picker](https://cloud.githubusercontent.com/assets/285835/22086324/2545d81e-dd8d-11e6-80cd-f4dac3caf4b8.png)

[2017-01-18 22:49] tmccormi opened #349 "First load of Calendar is blank"
When you login with Calendar as the default first pane, it comes up blank.  Refresh is required to see the actual calendar.

This was a long standing issue in OpenEMR, not sure anyone ever fixed it.

[2017-01-18 23:20] tmccormi commented on #348
Actually this is true everywhere ....   closing this in anticipation of the new date picker I have not had time to finish merging

[2017-01-18 23:20] #348 closed

[2017-01-20 22:27] teryhill commented on #347
I have some added some other tabs and will commit that soon

[2017-01-21 00:21] tmccormi commented on #323
I have attached a quick pass at the files and JQuery versions.  Perhaps a driver for updating the version across the board to jquery-2.2-0

I think we should create a top level jquery-current.js and link it to the current version so we can update in one place in the future and be able to link to other versions if we find that we must.

[libre-jsquery-versions.csv.zip](https://github.com/LibreHealt

[2017-01-24 17:46] #325 closed

[2017-01-24 17:48] tmccormi opened #355 "User should be able to configure default starting tabs"
Configuration for first 2 (maybe 3 later) tabs on login and "clear patient"  should be configurable by the user.

[2017-01-24 17:50] tmccormi commented on #355
Work on this is being done by @yehster and I.

From yehster:

[2017-01-24 17:51] tmccormi commented on #355
https://github.com/yehster/LibreEHR/commit/35562ef00f98422bac45b6a74dbfe91a5400a3bb

new commit with fixes... Don't have time to test further, but user specific prefs seem to be working, and you can just hit refresh from the screen to test now instead of needing to logout.  Try "clear patient" for me.  My new install doesn't work completely yet.

[2017-01-24 18:06] tmccormi commented on #355
#354 is the current pull, I will test it and update.

[2017-01-25 00:15] tmccormi commented on #349
This is interesting, because if the user is a Provider with "Calendar" checked it loads the data at login, otherwise it does not until refresh.

[2017-01-25 00:57] tmccormi commented on #309
Can this be closed?

[2017-01-25 00:58] tmccormi commented on #209
@teryhill  did your latest merge fix all know issues here?

[2017-01-25 01:00] tmccormi commented on #162
Need to split this up into actionable issues.  Tagging as a discussion issue

[2017-01-25 01:02] teryhill commented on #209
I need to do some more testing

[2017-01-25 01:15] tmccormi opened #356 "Annotate Diagram and Pain Map Fix and squash"
Annotate Diagram Form replaces Pain Map, but needs some minor tweaks:

1. Fix spelling issue on dialog (Optional instead of Obtional) Observations
![ad-spellingerror](https://cloud.githubusercontent.com/assets/285835/22273945/76a842bc-e258-11e6-8868-dc2ab11f85b0.png)
2. Make it installed and enabled by default
3. Change the name / description to make it clear it can be used as a Pain Map
4. Fix Ed

[2017-01-25 01:16] tmccormi commented on #356
then ... Remove Pain Map form and interface/clickmap entirely.

[2017-01-25 13:46] aethelwulffe commented on #349
We have seen this before.

Best to echo an exception message vs. dummy up first-run data.

On 1/24/2017 7:15 PM, Tony McCormick wrote:

[2017-01-25 14:17] aethelwulffe commented on #309
Been working for over a month, so I guess so...

[2017-01-25 14:17] #309 closed

[2017-01-25 18:31] tmccormi commented on #349
Not sure I know what you mean.  Are you going to take a stab at this?

[2017-01-25 19:23] aethelwulffe commented on #349
Yeah, I can take a stab.
Basically we check to see if there is going to be output, then see if there is anything we can do about it (like refresh), otherwise post a message saying "Postnuke calendar is stupid and needs to be deprecated.  Refresh now if you don't like a blank screen."

[2017-01-25 19:27] teryhill commented on #349
Like we need a new calendar , right @tony

      From: Art Eaton <notifications@github.com>
 To: LibreHealthIO/LibreEHR <LibreEHR@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
 Sent: Wednesday, January 25, 2017 2:23 PM
 Subject: Re: [LibreHealthIO/LibreEHR] First load of Calendar is blank (#349)

Yeah, I can take a stab.
Basically we check to see if there is going to be output

[2017-01-25 19:29] tmccormi commented on #349
indeed, on both comments

Tony McCormick, CTO
www.mi-squared.com
Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo

tóg go bog ē - Best advice from a pub owner in Ireland, to take it easy.

On Wed, Jan 25, 2017 at 11:27 AM, Terry Hill <notifications@github.com>
wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Pleas

[2017-01-26 01:09] teryhill opened #359 "Allow ICD10 upload"
Allows the ICD10 upload. I thought this was fixed earlier. This is the change that Stephen Waite made.

[2017-01-26 02:43] #359 closed

[2017-01-26 02:45] #125 closed

[2017-01-26 02:46] #347 closed

[2017-01-26 04:21] teryhill commented on #356
![ad](https://cloud.githubusercontent.com/assets/4655366/22319873/d54f8ada-e354-11e6-8bb3-103f115f1ee2.PNG)

Not sure about request 4

What do you want to call it?

[2017-01-26 04:41] tmccormi commented on #356
Not sure.  Art?  The current name is not explanitory, but I don't have a
good short option, myself

Tony McCormick

On Jan 25, 2017 8:21 PM, "Terry Hill" <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
information by telephone.  The information contained in this message ma

[2017-01-26 04:47] aethelwulffe commented on #356
OTHER observations

On 1/25/2017 11:21 PM, Terry Hill wrote:

[2017-01-26 04:47] aethelwulffe commented on #356
Observation list

Other observations

Details

On 1/25/2017 11:41 PM, Tony McCormick wrote:

[2017-01-26 04:47] aethelwulffe commented on #356
Is it a list-add thing?

On 1/25/2017 11:41 PM, Tony McCormick wrote:

[2017-01-26 04:56] teryhill commented on #356
I think he means instead of Annotate Diagram.

Sent from my iPhone

[2017-01-26 05:10] aethelwulffe commented on #356
It is called an Anatomical Diagram.

You could also say:

Injury diagram

Anatomical Markup

Anatomical locations

Body Diagram

On 1/25/2017 11:56 PM, Terry Hill wrote:

[2017-01-26 05:13] aethelwulffe commented on #356
Honestly you should have male, female, male infant, female infant, and
maybe a "Mr. Potatohead" version for...you know...

On 1/25/2017 11:56 PM, Terry Hill wrote:

[2017-01-26 06:26] tmccormi commented on #356
II kind of like "Anatomical Markup" but Annotatable Diagrams would be OK too.

[2017-01-26 18:12] tmccormi opened #361 "Mods to Globals order of operation"
Globals don't behave the way I thought.I thought that the initialization process worked to first get defaults from the globals array and then look in the database. That way you wouldn't need to save globals to get the defaults of globals that are newly added. But you have to go and save them in order to take effect.

So what I was seeing was what happens when there's no global for default screens

[2017-01-27 18:28] tmccormi opened #362 "database.sql need updates for new globals tabs to work out of the box"
INSERT INTO `globals` (`gl_name`, `gl_index`, `gl_value`) VALUES
('default_tab_1', 0, '/interface/main/finder/dynamic_finder.php'),
('default_tab_2', 0, '/interface/patient_tracker/patient_tracker.php?skip_timeout_reset=1');

[2017-01-27 18:29] tmccormi commented on #362
That's an example.  the actual defaults would be Calendar and Messages

[2017-01-27 18:41] aethelwulffe commented on #362
How about Flow-Board and messages?
...but whichever way, you got a commit?

[2017-01-27 18:46] tmccormi commented on #362
Have not do the work yet, but I assumed we would stick the the original defaults.   I am open to suggestions for change.

Eventually we would defaults by role instead of user, as we have discussed.

[2017-01-27 19:56] teryhill commented on #362
let me do some checking on that before y'all commit it.

      From: Tony McCormick <notifications@github.com>
 To: LibreHealthIO/LibreEHR <LibreEHR@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
 Sent: Friday, January 27, 2017 12:29 PM
 Subject: Re: [LibreHealthIO/LibreEHR] database.sql need updates for new globals tabs to work out of the box (#362)

That's an example. the act

[2017-01-27 20:07] tmccormi commented on #362
Here's a copy of a discussion on this that Ken and are having...

tony [11:36 AM]
here's the thing about globals. the database.sql does not have any preloaded data, which surprises me.  So something is setup must load the defaults or it does what you said already, some how, reading the array and then the db

ken [11:41 AM]
I thought it worked to read the globals array for defaults, but I didn't se

[2017-01-27 21:28] teryhill commented on #362
There are some defaults in globals.PHP. I need to get back to the office to look at it. I know the concurrent variable has a setting there.

      From: Tony McCormick <notifications@github.com>
 To: LibreHealthIO/LibreEHR <LibreEHR@noreply.github.com>
Cc: Terry Hill <teryhill@yahoo.com>; Comment <comment@noreply.github.com>
 Sent: Friday, January 27, 2017 2:07 PM
 Subject: Re: [LibreHealthIO/Libr

[2017-01-28 16:31] aethelwulffe opened #363 "Defaults in layout dems not working."
Setting the patient State to a default in the database structure (as a hack) does not help.
Setting the patient State to a required field in layout has no effect.
Default to previous value setting (P) for state in layout has no effect.

This is an issue because often a state selection is missed when filling out patient data.  Without full sanity checks in the billing system this results in billing

[2017-01-29 02:43] teryhill commented on #361
the global default should be added to /interface/globals.php in the section starting about line 343

[2017-01-29 02:47] teryhill commented on #362
the global default should be added to /interface/globals.php in the section starting about line 343

[2017-01-29 02:54] teryhill commented on #362
$GLOBALS['default_tab_1'] = "/interface/main/main_info.php";
$GLOBALS['default_tab_2'] = "/interface/main/messages/messages.php?form_active=1";

This would probably work

[2017-01-29 04:46] tmccormi commented on #362
I don't think adding more hard coded stuff is the right model.  Might be ok
short term.

Tony McCormick

On Jan 28, 2017 6:54 PM, "Terry Hill" <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
information by telephone.  The information contained in this message may be
privil

[2017-01-29 19:06] teryhill commented on #362
in setup.php there is a call to insert_globals this reads the globals file and creates the entries into the globals table. This function is housed in /library/classes/installer.class.php

[2017-01-29 22:03] tmccormi commented on #362
I'm aware of that and I already pointed that out in the thread, but thanks.

[2017-01-29 22:14] tmccormi commented on #362
The point here is setup works, but not upgrades.  Since we don't actually support upgrades yet, officially, this is a topic related to how we should support upgrades in the next release.

[2017-01-29 23:45] teryhill commented on #362
ok so that WAS also in sql_upgrade.php

[2017-01-30 00:02] tmccormi commented on #362
Good to know.

[2017-01-30 02:03] tmccormi opened #365 "Globals Tabs elements - out of place"
In going through the latest Globals tab reorg, I found one more thing that need to be moved

The ICD search default is NOT a system setting, should be on Encounters, I think
![searchtype-icd10](https://cloud.githubusercontent.com/assets/285835/22410423/e4f77ec0-e64c-11e6-9d0e-b7a034c4a7c2.png)

Sorry I missed that in the first pass review.

[2017-01-30 13:39] teryhill commented on #323
@tmccormi Do you have a directory structure and name for where you want to place the JQuery version. I was playing around with changing the pointer to $globals[variable_name] /current_jquery_version/index.js . and doing the same for the datapicker.

[2017-01-30 19:38] tmccormi commented on #323
I think Ken was using library/js/jquery.js  as the top level pointer, but I
don't have anything special to contribute but to try and do it like the
rest of the modern world recommends if there is such a thing

Tony McCormick, CTO
www.mi-squared.com
Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo

tóg go bog ē - Best advice from a pub owner in Ireland, to take it easy

[2017-01-30 20:11] #365 closed

[2017-01-30 20:13] tmccormi opened #368 "Globals ... commit missing"
@terry somehow code from hide_billing_widget global added on 8/25 by Terry, Commit 7ac4285 is missing in the latest changes

[2017-01-30 20:49] tmccormi opened #370 "Default Tabs - Clear Patient Action - Tabs reversed"
When you do a clear patient the tabs are restored in the opposite order.  That is what was Tab 1, Tab 2  displayed from left to right now displays from right to left Tab 2 first then Tab 1 ...

![reversed-tabs](https://cloud.githubusercontent.com/assets/285835/22441003/73290162-e6ea-11e6-82f7-2ff16295331d.png)

(note: sent email to yehster) ..

[2017-01-30 21:17] aethelwulffe commented on #370
Clearly a stack operation...;-)

On 1/30/2017 3:49 PM, Tony McCormick wrote:

[2017-01-31 20:43] #368 closed

[2017-01-31 20:51] teryhill commented on #323
I have about 20 meg of assets that are used in the new portal, there are a number of these that are used thru out the system. These are currently housed in the portal directory, I think if we can agree as to where to house them we should bring them into the main core. I have changes to the Misc_billing_form and UB04 form that uses bootstrap

[2017-01-31 20:53] teryhill commented on #323
If no decision can be made I will leave them in the portal directories.

[2017-01-31 21:28] tmccormi commented on #323
I'm OK with promoting them to system level merging them in with the mix.  Portal is important.

[2017-01-31 21:42] aethelwulffe commented on #323
I would merge them into the mix.  Location is the most important thing
on all of that, and trumps the issue of multiple versions.

Pretty pretty please do push them to the core locations.

On 1/31/2017 4:28 PM, Tony McCormick wrote:

[2017-01-31 22:17] teryhill opened #372 "need to make a directory to house the tools used in system development"
currently there are jquery files and tools stored in the /library/js directory. These are what is stored there:

ajax_functions_writer.js
ajtooltip.js
blink
calendarDirectSelect.js
clickmap.js
common.js
datatables
DocumentTreeMenu.js
fancybox
fancybox-1.3.4
jquery-1.2.2.min.js
jquery-1.4.2.min.js
jquery-1.4.3.min.js
jquery-1.5.js
jquery-1.6.4.min.js
jquery-1.7.2.min.js
jquery-1.9.1.min.js
jquery-2

[2017-01-31 22:23] aethelwulffe commented on #372
How does this sound?:

Make a location.

Start moving them one-by-one (or more) with a commit, tests, and search
results posted for each commit.

Immediately, you could create that location (or re-use library/js) for
the portal.

I tend to prefer migrating to a new directory name because when you move
it /and/or upgrade the version/ and you have not checked everything out,
something doesn't work..

[2017-01-31 22:32] teryhill commented on #372
I like the slow and steady approach and migrating to a different directory. I think we should try to get everything to the latest version and if it will not work on that version figure out why and fix it. @tmccormi has a csv file with the jquery's and that would be a start. Load a directory with the latest jquery and then start migrating the code.

[2017-01-31 22:45] tmccormi commented on #372
it's attached to #323

[2017-01-31 22:51] teryhill commented on #372
@tmccormi  's statement "Industry standard is to put 'shared' assets in the vendor/ directory structure." would lead to using /libreehr/vendor/tools  or assets

[2017-01-31 23:40] teryhill commented on #372
after web searches it appears that the structure should be /public/assets then there is a choice, we can pile them all in the directory or make sub directories for JS, CSS, IMAGES ... You guys make the call. @tmccormi  @aethelwulffe  @kchapple

[2017-01-31 23:42] tmccormi commented on #372
I prefer the subdirs organized

[2017-01-31 23:46] aethelwulffe commented on #372
Honestly, these qualify as /lib and not /vendor assets as-per industry
norm.  These are core, as they are part of our "framework".

...buuuut, anything at all is fine.  The commoners will never recognize
the distinction!

On 1/31/2017 5:51 PM, Terry Hill wrote:

[2017-01-31 23:55] teryhill commented on #372
so is it libreehr/public/assets or libreehr/assets  with JS,CSS and IMAGES for a start

[2017-01-31 23:57] aethelwulffe commented on #372
Tony is right about Ruby and some other frameworks, I am right where
real progra...uh other languages are concerned, and you are right
concerning a significant fraction of everything else.

Libraries/public/assets or just /public/assets is fine.  I don't care,
because there isn't anything close to a standard, and everyone pretty
much recognizes what they are looking at there...if we only have one

[2017-02-01 00:01] aethelwulffe commented on #372
libreehr/vendor_assets ?:-P

On 1/31/2017 6:55 PM, Terry Hill wrote:

[2017-02-01 00:01] tmccormi commented on #372
Look at the FHIR and Core Repos and see what @kchapple did ...

[2017-02-01 00:04] tmccormi commented on #372
never mind both of those repos are so clean they don't any added vendor assets :-)

[2017-02-01 01:46] aethelwulffe commented on #372
JS chunks from third parties and the like are LIBRARIES.

Fonts, images and junk like that are ASSETS.

VENDOR would only be used for LIBRARIES if they came from a FRAMEWORK
that the application was built on top of, otherwise VENDOR goes under
ASSETS for those pieces that came from elsewhere.

Unfortunately, we already have libraries/js, and we want to move off of
that...and some of the nerds here

[2017-02-01 04:43] aethelwulffe opened #374 "Left_nav needs to go bye-bye"
We are done with that code.  daemon_frame is also toast, as is a lot of the associated stuff for old layouts in the patient_encounter and other areas.

[2017-02-01 15:07] kchapple commented on #372
The "vendor" is a composer convention. Dependencies are specified in composer.json, like Doctrine 2.*, or PHPMail 1.0, or jQuery 1.9.* or whatever. The thing is that in most systems, we don't want our javascripts in a vendor directory because that's a server-side directory that supports auto-loading of PHP via composer's autoloaders (completely useless for JS.) So you can use a client-side package

[2017-02-01 15:12] kchapple commented on #372
I agree with Terry, though, that duplicate stuff should be normalized. The Tags/Filter codes was meant to be an isolated plugin, not part of the main code base, though.

[2017-02-01 19:24] aethelwulffe commented on #372
Yeah, I already dumped the idea of using vendor for third party stuff due to composer issues...until composer is handling those!  The Enterprise-centric minds think that is the was to do stuff, but I don't think the average windows OS-swinging doctor is going to install a web server, download composer and get cracking on the command line to do anything.

  I personally think that /vendor is one of

[2017-02-01 21:07] #374 closed

[2017-02-01 21:07] #363 closed

[2017-02-01 21:08] #293 closed

[2017-02-01 21:09] aethelwulffe commented on #335
Can I please have more info on this?

[2017-02-01 21:14] aethelwulffe commented on #349
Tony, I am sorry, but I simply can't replicate this!  Log into the demo, and poof, you see the calendar.
I only ever experienced this where there was a database connection issue.

[2017-02-01 21:14] aethelwulffe commented on #349
Is this another Chrome thing do you think?

[2017-02-01 22:23] teryhill opened #379 "Error when re-opening a claim"
Get the following error when re-opening a claim on the demo site . This results from the removal of the auto increment in the file. the updating of the record was not working.

![image](https://cloud.githubusercontent.com/assets/4655366/22528834/fda7951a-e8a2-11e6-83e1-a1daf19b59de.png)

[2017-02-01 23:14] aethelwulffe opened #381 "PID in main title not displaying"
Client, Test() should be Client, Test(15)

[2017-02-02 00:08] tmccormi commented on #381
This was fix in development_101

[2017-02-02 00:08] #381 closed

[2017-02-02 00:12] tmccormi opened #382 "Add encounter # to the pull down in the title bar"
Similar to this code from a customized OpenEMR instance

![encounter](https://cloud.githubusercontent.com/assets/285835/22531957/2924b84e-e899-11e6-8977-4faa65819a71.png)

[2017-02-02 00:31] tmccormi opened #383 "Admin->Other->Language - Edit Def crashes with SQL error"
Edit Definitions ...
Enter a term, click Search

![language-edit](https://cloud.githubusercontent.com/assets/285835/22532436/f2556b12-e89b-11e6-9e25-1fb478cc0d1d.png)

[2017-02-02 02:39] tmccormi commented on #370
From @yehster

https://github.com/yehster/LibreEHR/commit/56f8326a363322b9c907ae2507136ec97d56cd70
Fixes the ordering.

One of the design choices in the current tab system is "naming" them (lst, pat, enc, fin, etc...) instead of just numbering them so that content consistently goes to specific tabs.  This is important to help differentiate patient specific data (the enc (encounter) and rev (review

[2017-02-02 14:34] #379 closed

[2017-02-02 15:52] teryhill commented on #383
This does not happen on the demo site, nor on my local instance

[2017-02-02 18:32] tmccormi commented on #383
It has to do with the database being created using COLLATE utf8mb4_unicode_ci which is appropriate for Europe...  and the system allows you to select that at setup, so the editor should work with alternative collations ...

[2017-02-02 19:33] aethelwulffe commented on #383
Sorry,

My machine has the whole dot as a floating point thing going on. Can't
REALLY test that without a EuroPuter.;-)

On 2/2/2017 1:32 PM, Tony McCormick wrote:

[2017-02-02 20:25] tmccormi commented on #383
I'm not using a Euro putter .. just a website that is hosted in EU...
I'm not sure yet if it got set that way on purpose or it's some kind of default we did not notice...

[2017-02-02 21:02] #355 closed

[2017-02-02 21:04] tmccormi commented on #340
We will retest .  I think this is fine in current dev branch

[2017-02-02 21:05] tmccormi commented on #327
Can someone that a quick look at this?

[2017-02-02 21:06] aethelwulffe commented on #327
On it.

[2017-02-02 21:08] aethelwulffe commented on #327
That value doesn't exist.
[code]

[2017-02-02 21:09] tmccormi commented on #43
In the interest of having more fun the development branches going forward will have code names based on favorite books/stories.

First up:  gloryroad - "Glory Road, Robert Heinlein" - an ordinary guy recruited to become an interstellar/cross dimensional hero

[2017-02-02 21:10] aethelwulffe commented on #327
Nor does refer_date, body, refer_to or any of those others...

[2017-02-02 21:11] aethelwulffe commented on #327
Those are layout_options field ID's
This report is crap.

[2017-02-02 21:16] aethelwulffe commented on #327
So is the referral system.

[2017-02-02 21:16] tmccormi commented on #327
perhaps the report should just be removed?

[2017-02-02 21:17] aethelwulffe commented on #327
Good choice

On 2/2/2017 4:16 PM, Tony McCormick wrote:

[2017-02-02 21:21] aethelwulffe commented on #327
Rod changed that stuff two years ago, and the report never made it.

[2017-02-02 21:31] aethelwulffe commented on #327
https://github.com/LibreHealthIO/LibreEHR/commit/4ea4311875fcb9a7a5db98e109c29167a6e2242a

[2017-02-02 21:55] #327 closed

[2017-02-02 22:04] aethelwulffe commented on #382
Recommend format [555555]~2016-01-01:WHATEVER

[2017-02-02 22:06] tmccormi commented on #382
ok by me.

[2017-02-02 22:06] #382 closed

[2017-02-03 00:52] tmccormi commented on #382
I'm afraid this is above my pay grade.   The code is all Knockout bases JS.

- main_title.php has a block HTML that  is id="past_encounter"
- patient_data_template.php has something:  I guess related to using Knockout, but means nothing to me
[code]
and patient_data_view_model.js is involved, but I have no clue what a self.id=ko.observable(id) means at all.

This is not a development method that i

[2017-02-03 01:41] aethelwulffe commented on #382
View model controllers got you down?  Well stop contracting things out
to UberGeeks!

On 2/2/2017 7:52 PM, Tony McCormick wrote:

[2017-02-03 01:43] tmccormi commented on #382
But I wasn't planning on me being the one to work on it :-)

[2017-02-03 01:44] aethelwulffe commented on #382
Maintainable code eh?
I'm on it.  I got my knockout tutorial open.

[2017-02-03 01:45] tmccormi commented on #382
I'm sure it's perfectly wonderful if you are versed in the "new fangled stuff".

[2017-02-03 01:45] teryhill commented on #382
Just making it tough on the rest of us

[2017-02-05 21:06] tmccormi commented on #370
Done and merged

[2017-02-05 21:06] #370 closed

[2017-02-05 21:06] tmccormi commented on #355
Done

[2017-02-05 21:30] tmccormi commented on #340
TAG ADD works (Admin has to create the TAG first).   however:
Selecting a color for the tag still does not work and the formatting at 100% size in Chrome/Linux (at least) obscures the Search All field:   @kchapple  please take a look
![tagcolor](https://cloud.githubusercontent.com/assets/285835/22630054/4d576af2-eba7-11e6-81ca-fb7ef6ba8399.png)
![tagui-searhalll](https://cloud.githubusercontent.co

[2017-02-05 22:27] #118 closed

[2017-02-06 02:41] tmccormi commented on #43
RELEASE IS RELEASED!

(master)$ git tag -f REL_101
Updated tag 'REL_101' (was eb211d4)

(master)$ git push origin master
...   ae80fb3..d222d14  master -> master

(gloryroad)$ git push origin gloryroad
 * [new branch]      gloryroad -> gloryroad

[2017-02-06 02:41] #43 closed

[2017-02-06 03:17] tmccormi opened #399 "Branch cleanup needed"
I think I moved all the outstanding pull requests from dev101 to glory road, but there are quite a few branches that need to be pull requests or removed.

Please take a look a the branches and delete those that should be and do new pull requests for anything needed to be against gloryroad

Default branch for development is now 'gloryroad' - **UPDATE your working environments"

[2017-02-06 03:38] aethelwulffe commented on #399
You didn't.

[2017-02-06 03:44] aethelwulffe commented on #399
Add encounter number enhancement
#392 by aethelwulffe was closed an hour ago

Move HTML2PDF to modules directory
#391 by aethelwulffe was closed an hour ago

Make language tool multi-lingual #383 bug DATABASE Review Requested!
#390 by aethelwulffe was closed an hour ago

Theme and asset consolidation Directory Structure enhancement House Keeping
#378 by aethelwulffe was closed an hour ago

Asset d

[2017-02-06 04:29] #216 closed

[2017-02-06 04:29] #225 closed

[2017-02-06 04:29] #356 closed

[2017-02-06 15:15] kchapple commented on #340
Is this on a fresh install @tmccormi The migration was fixed that added tag colors.

[2017-02-06 15:54] teryhill opened #400 "AD not installing automatically and has an error"
I have a commit to fix the error , I am trying to figure out why the database did not install.

[2017-02-06 16:47] tmccormi commented on #340
Yes it was a new install.

Tony McCormick

On Feb 6, 2017 7:15 AM, "Ken" <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
information by telephone.  The information contained in this message may be
privileged and confidential. If you are NOT the intended recipient, please
n

[2017-02-06 16:49] tmccormi commented on #340
I haven't tested it on last night public demo install, however.
Ehr.librehealth.io

Tony McCormick

On Feb 6, 2017 8:47 AM, "Tony McCormick" <tony@mi-squared.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
information by telephone.  The information contained in this message may be
privileged an

[2017-02-06 16:50] kchapple commented on #340
good idea. i just tested, and looks fine to me. i'm going to go through a fresh install today anyways to test the complete migrations, then tag a release version of the vidyo plugin

[2017-02-06 18:04] aethelwulffe commented on #399
Bump of wondering where pulls went to for #373 #378 and #390 went to.  You dropping them permanently?

[2017-02-06 18:08] tmccormi commented on #399
Tony McCormick, CTO
www.mi-squared.com
Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo

tóg go bog ē - Best advice from a pub owner in Ireland, to take it easy.

On Mon, Feb 6, 2017 at 10:04 AM, Art Eaton <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any

[2017-02-06 18:08] tmccormi commented on #399
I ran out of energy to find them.  the branch names is what I need not the issue#  but you can re-request the pull from the branch anytime.

[2017-02-06 19:06] kchapple commented on #340
I am not able to reproduce this on a freshly installed system.

[2017-02-06 19:14] tmccormi commented on #340
OK will close the issue.

[2017-02-06 19:14] #340 closed

[2017-02-06 22:09] #335 closed

[2017-02-07 01:09] teryhill opened #405 "tags need to have collapse and expand on the demographics page"
tags need to have collapse and expand on the demographics page. this will maintain the current look, all others have the collapse and expand dialog . @ken

[2017-02-07 02:51] #399 closed

[2017-02-09 23:10] teryhill opened #408 "Customer requested that the category codes in PFB match the ones in Appointment Screen"
I have a request from a client. They have the changes to Patient Flow Board and the Category there and in the add_edit_event are not in the same order. I incorporated Matrix's sort preference for the displayed lists and expanded it to include the category fields in these two programs

[2017-02-10 01:07] #408 closed

[2017-02-10 02:27] teryhill opened #410 "PFB Change . Customer wants to see checked out items"
Currently you can set a roll off timer for the checked out items so while the flow board is running they roll off (disappear). This is handy for the normal working of the flow board. This customer wants to go in and periodically check the checked out items bus does not want to go to gloabls to reset the switch. When a status is selected IE checked out then the roll off timer is circumvented.

[2017-02-10 14:03] teryhill opened #412 "Patient list by referrer"
I brought in report helper written by Rod Roark for the maintaining of
the titles when scrolling the report on the screen. This will give a
list of patient demographics by the referring provider also added the
new datetime picker.

[2017-02-10 20:30] htuck opened #414 "'Back to Patient' button on screens linked from demographics"
Hi Folks-

What do you think about adding that 'Back to Patient' button to the screens linked to at the top of the summary screen?

History | Report | Documents | Transactions | Issues | Ledger

'History' has 'Back to Patient' and I see Issues has 'Back'.  I think that's a very worthwhile button to have, and it'd be good UI continuity to put it on the others.  And make that 'Back' -> 'Back to Pati

[2017-02-10 20:41] teryhill commented on #414
Yet I agree. lad to see you Harley. Ham bone and cornbread

[2017-02-10 20:42] teryhill commented on #414
got a blank WIKI waiting on you 8^)

[2017-02-10 21:48] aethelwulffe commented on #414
Yeah Harley, that sounds good.  So does the corn-bread.

[2017-02-10 21:58] aethelwulffe commented on #410
Looks like a good feature, and is +/- 53.  No lines added!

[2017-02-10 22:00] #410 closed

[2017-02-10 22:03] aethelwulffe commented on #414
So, Harley.  You pushing a commit on this, or is it a dev request?  Add a tag if you will, and or assign it to someone.

[2017-02-10 22:06] tmccormi commented on #414
What is wrong with the active patient link that is already in the title
bar.  Seems redundant to me

Tony McCormick

On Feb 10, 2017 3:03 PM, "Art Eaton" <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
information by telephone.  The information contained in this message ma

[2017-02-10 22:17] aethelwulffe commented on #414
Agreed, but what should be done about consistency?  Seems like the link tags should be "Facesheet" or whatever the default view of the patient dems (for that user) is called.

[2017-02-10 22:34] teryhill commented on #414
Harley is talking about the items at the top of demographics, History | Reports | Documents | Transactions etc

[2017-02-10 22:59] #412 closed

[2017-02-11 01:12] tmccormi commented on #414
Yes, so with those items open you can still see the Active patient link ...

[2017-02-11 15:18] aethelwulffe commented on #414
I will say two things about the behavior of that piece:

1. The button should look the same, always and everywhere, without
duplication or alternatives.

2. If "Active Patient" is the "Return to Active Patient Facesheet"
button that will be available, then it needs a new label.  I have seen
lots of intermittent system users that don't see or recognize the
behavior of that, and often return to the

[2017-02-11 18:41] aethelwulffe commented on #372
Starting an issue for the jquery upgrade itself.

[2017-02-11 18:50] aethelwulffe opened #416 "JQUERY UPGRADE"
My understanding of JQUERY:

-  Version 1.x supports ancient I.E.
-  Version 2.x has the same API as 1.x, while dropping the old IE compatibility.
-  Version 3.x works a little differently.
-  JQuery-Compat 3.x takes over the job of the 1.x for compatibility of IE8, Opera12, and Safari5 and other junk.
-  JQuery 3.x does not have the compatibility bits.
- Both 3.x varieties use the same public API

[2017-02-11 19:15] teryhill commented on #416
I sent up 3.1.1 and the migrate tool. Do you want to send the ones that are currently used in portal and upgrade them later?

[2017-02-11 19:18] teryhill commented on #416
Any particular global name you want ?

[2017-02-11 19:20] aethelwulffe commented on #416
No opinion.  Make it unambiguous. (means "talk plain").

[2017-02-11 19:28] teryhill commented on #416
so calling it $globals['the stuff that does the cool stuff] is probably out huh?

$GLOBALS['js_path']
$GLOBALS['images_path']
$GLOBALS['css_path']
$GLOBALS['fonts_path']

[2017-02-11 19:31] aethelwulffe commented on #416
No usage of calls like this->Thingie and stuff.
I think a "jquery_currentver or the like might be useful.  Anyone else on that?

[2017-02-11 19:37] teryhill commented on #416
$GLOBALS['js_path'] = "$web_root/assets/js"; then we could put the current version in a directory called current_version and keep the ones that are needed as jquery-2.2.0.min etc

[2017-02-11 19:37] aethelwulffe commented on #416
.selector appears to used in the zend module care coordination.  It has it's own copy of jq though.
The TAGS code has TWO copies of the jquery migration package in it.
.andSelf() is in the "custom" 1.8.21 versions.  Obviously "Custom" means "retain deprecated functions".
require.js in /tags_filters has a lot of .load() calls, I think so if you are using a Playstation 3 everything still works...  t

[2017-02-11 19:42] teryhill commented on #416
summary_pat_portal.php uses .toggle() is going away with the new portal so mark it off the list. since the tag's has it's own assets directory I vote we leave it and let @kchapple make the changes if he feels they are needed. lets just concentrate on the core items.

[2017-02-11 19:50] kchapple commented on #416
Thanks terry. Great work.

Ken
kenchapple.com
facebook.com/kenchapplemusic
@ken_chapple

Check out my latest CD, Crossing the Black at https://itun.es/us/SGGI9

[2017-02-11 19:53] teryhill commented on #416
ready for the Yelling?

[2017-02-11 19:55] teryhill commented on #416
I am going to start pushing up the portal assets and then we can sort out what we need.

[2017-02-11 19:57] aethelwulffe commented on #416
Terry, the calendar still uses .toggle(), so unless that is in ajax and is a different function/library completely, we still have an issue.

[2017-02-11 20:01] teryhill commented on #416
Lets just put that version of jquery in the assets and wait till google fixes it 8^)

[2017-02-11 20:04] aethelwulffe commented on #416
patient_report.php uses .toggle() with phimail to send CCR and CCD.  It looks like the biggest concern is in the versions of ajax_template.html under PostCalendar.

[2017-02-11 20:05] aethelwulffe commented on #416
Yeah, by all means, we get the new version of JQuery in, and a global pushed for assets.  I'm just sweating the actual migration at this point.

[2017-02-11 20:09] aethelwulffe commented on #416
#415 merged up.
It's Machete Time again!   ..now where is that bar oil and the _fine tooth_ chainsaw?

[2017-02-11 20:12] teryhill commented on #416
just hack the jquery's for right now. I will do another commit to get the rest of the portal assets up there and then I will make the changes to point it to the assets and then we repeat the process on the portal I know a couple version of jquery are used.

[2017-02-11 20:24] aethelwulffe commented on #416
They might just be 1. and 2.x, which is just for compatibility sake.  If
that is so, and they don't have the deprecated functions, and there are
no custom version and function calls, then we would be OK with 3.x

On 2/11/2017 3:12 PM, Terry Hill wrote:

[2017-02-11 20:32] teryhill commented on #416
From what I read about that migrate tool it should fix the problems as long as they aren't fatal.

[2017-02-11 21:05] aethelwulffe commented on #416
Yeah, sure, but I haven't figured anything else about it...like how the heck to use it.  Is it just adding:
`<script src="webroot/assets/js/jquery-3.x.x.js"></script>
<script src="webroot/assets/js/jquery-migrate-3.x.x.js"></script>`
...and then go to town?

[2017-02-11 21:29] teryhill commented on #416
That's what I got

[2017-02-11 22:46] teryhill commented on #416
I see that they have a 1.4.1 version to get to 1.9 +
<script src="http://code.jquery.com/jquery-1.11.3.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.4.1.js"></script>

[2017-02-11 23:03] aethelwulffe commented on #416
I think you only have to be on version 1.3 or higher for the 3.0 to work.  That is what the docs say anyway...I think.

[2017-02-11 23:14] teryhill opened #418 "New patient portal"
Bring the new patient portal in to Libreehr.

[2017-02-11 23:15] teryhill opened #419 "Bring in new Misc_billing_form in to Libreehr"
Bring in new Misc_billing_form in to Libreehr.

[2017-02-11 23:27] aethelwulffe opened #420 "Glory Road UI"
Goals:
1.  Optimize vertical space.
2.  Make all toolbar elements fully interactive, minimizing the need for navigation or context labels.
3.  Organize menu cascades and toolbar layout to minimize navigation steps.
4.  Group related toolbar elements for readability and to minimize navigation errors.

![gloryroad](https://cloud.githubusercontent.com/assets/553751/22858255/a9869d74-f085-11e6-9507-64

[2017-02-11 23:30] teryhill commented on #420
I like it. You want me to add Dr Ray's role based code to it?

[2017-02-11 23:35] aethelwulffe commented on #420
WEll, There ain't no code as yet, just this picture, Copyright Art Eaton 2017

[2017-02-11 23:39] aethelwulffe commented on #343
Yes, I think autologout still functions...I seem to recall having logins go dead.  There is a way to test that.

[2017-02-11 23:41] aethelwulffe commented on #414
Reference #420  Glory Road UI
It would be good to come up with some (clever or insane) out of the box, set it on fire and roast wild game sorts of ideas on the user interface.

[2017-02-11 23:43] aethelwulffe commented on #414
I think the "Back to patient" should be called "Back to Facesheet" or the like in those menus, or dumped completely for the top-level version of it.
UI mantra:  Same button, same style, same location, every time.

[2017-02-12 00:46] tmccormi commented on #414
Facesheet refers to a usa paper thing.  Ireland made me change
"demographics" to "patient information" and "facesheet" to "details". Which
i did using language model.  Just sayin'

Tony McCormick

On Feb 11, 2017 4:43 PM, "Art Eaton" <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any s

[2017-02-12 01:02] aethelwulffe commented on #414
I hate face sheet.  It sounds too papery for me.  Reminds me of IKEA
furniture.  If you got some ubiquitous terms for the default language
stuff, put 'em out there.  Let's here it.

I would rather reduce everything to context-obvious or color coded, or
icons or braille or something.  The label only need be there when there
is nothing to display (as default text)

On 2/11/2017 7:46 PM, Tony McCormi

[2017-02-12 16:54] tmccormi commented on #420
Other that the patient name/data being the "search" button it's OK,
Thoughts:
Latest should be ACTIVE ENCOUNTER, latest implies most recent but not necessarily the working encounter.

I think CURRENT ENCOUNTER is just confusing, Maybe button called "Enc History"?  what does it open, same as now a single past encounters? or does it open the View History Tab?
Should we differentiate between finding

[2017-02-12 17:46] aethelwulffe commented on #420
My thoughts,
In no particular order (perhaps reverse):

The history/report/etc.. stuff should be integrated into the "chart" portion of the menu, yes.  Also totally agree on the "export/view/print" change (without every synonym), because indeed, "Report" confuses the shit out of people.  I like the idea of a button with smaller font that lets you do a two row label like "Print Patient" or "Export

[2017-02-13 19:40] htuck commented on #414
Sorry Folks, I was out for the weekend doing analog woodworking and missed this scintillating conversation.

Art, I think you and I went to the same UI school; I agree heartily with the remarks about consistency.

But also, I don't think the 'active patient' tells a medical type user to click on that to go back to the patient summary screen, especially when that 'Back To Patient' button IS present

[2017-02-15 00:48] teryhill opened #423 "fixed an inconsistency reported by Harley in the PFB"
fixed an inconsistency reported by HT. in every other instance the word
Category is used except on the main PFB screen it is called visit type,
changed it to category to be in line with the code base

[2017-02-21 18:20] teryhill opened #426 "customer request for a report showing insurance companies Charges, Adjustments and payments"
I had a customer request a report like the insurance distribution report but it needs to show Adjustments and payments.

This is the insurance distribution report.

![patient_ins_dist](https://cloud.githubusercontent.com/assets/4655366/23178441/6c1af344-f838-11e6-964d-fc788c49b8a6.PNG)

This is the insurance summary report.

![pat_ins_summary](https://cloud.githubusercontent.com/assets/4655366/231

[2017-02-21 22:05] tmccormi commented on #426
I see no reason for both

[2017-02-21 22:09] teryhill commented on #426
How about the name? Do I just call it the distribution report?

[2017-02-21 22:14] aethelwulffe commented on #426
cornfusing crud.  That is all.  makes users ask questions that should
not be asked.  Think of it as a placeholder that should be used for
something real.

On 2/21/2017 5:05 PM, Tony McCormick wrote:

[2017-02-22 20:30] teryhill opened #428 "Customer requested that ordering, referring and a user defined field be added to fee sheet"
Customer requested that ordering, referring and a user defined field be added to fee sheet. The user wants the user defined field to be a changeable label that they can make their own. They have interns and contractors that they use. The label changing is for different sites one which has the interns and the others use contractors. This field just stays in the encounter form it does not go to HCFA

[2017-02-23 22:22] teryhill opened #429 "Separated the list and category sort."
Had them combined on one global but the request was to separate them

[2017-02-23 22:24] #426 closed

[2017-02-27 23:36] teryhill commented on #341
I fixed this in the date picker code changes.

[2017-02-27 23:36] #341 closed

[2017-02-28 01:20] #429 closed

[2017-02-28 01:20] #419 closed

[2017-02-28 15:31] azwreith commented on #405
Hi, I'm Ujjwal!
I'd like to take up this issue c:

[2017-02-28 15:45] teryhill commented on #405
@azwreith go ahead. Look at the code for the expand and collapse of the other items that is the pattern to follow.

[2017-02-28 15:55] #315 closed

[2017-02-28 15:55] #423 closed

[2017-02-28 15:56] #400 closed

[2017-02-28 16:30] teryhill opened #433 "Possable projects for GSOC"
Here are some Ideas on what we could have them do that would be easy and get them into the code.

- [ ] Checks on Date of Birth to not allow future dates.
- [ ] Checks on Date of Death to not allow future dates.
- [ ] Phone number formatting in demographics (123)456-7890.
- [ ] Change statement to allow selection of no printing if patient is deceased.
- [ ] Add checks on Miscellaneous Billing Form

[2017-02-28 19:13] teryhill commented on #420
@aethelwulffe  what happened to your picture ? I no longer see it

[2017-02-28 19:43] aethelwulffe commented on #420
503 error.  Times out. dunno what for to do with that.  Looks like there is a server error here.  Can't re-upload it either.  Just tried.

[2017-02-28 21:07] aethelwulffe commented on #405
Lemme know what help you may need getting started and all that Ujiwal.  Some folks are having issues with server defaults when doing setup.
...of course you might go a long way with this issue without ever seeing it run in the application!

[2017-02-28 21:30] azwreith commented on #405
Hi @aethelwulffe, thank you! Yes, I encountered rough seas as well while trying to setup: Errors due to the xml php module not being installed. And new version of MySQL has strict mode enabled by default so it wasn't letting some of the tables to be created. Maybe we can update the installation guide to have a FAQ or Troubleshooting section ツ

[2017-02-28 21:36] teryhill commented on #405
The code tests great. @kchapple will need to look at it since tags is his

[2017-02-28 21:42] aethelwulffe commented on #405
Ujjwal, I think we have to get the install docs posted nice and obvious very very soon.  I am trying to get the xampp pack put into the bintray right now, but those additional install docs are real important.

[2017-02-28 22:43] teryhill opened #435 "another set of date picker changes for New patient search and add"
date picker changes cause patient add to malfunction

[2017-03-01 00:36] robbyoconnor commented on #433
Please split these up @teryhill

[2017-03-01 01:17] aethelwulffe commented on #433
Robby,
This is obviously a checklist for creating quality issue tickets.  As they are "split up" they will be checked off the list, or added to it.  You will note that it is named "Possiable", not "Possible".  That indicates this is for the whole Posse to work on (with an 'i' and not an 'e', indicating proper form for a _group_ of the individual unit know as a "posse"...like "octopi") Otherwise, t

[2017-03-01 01:22] teryhill opened #437 "Validate Date of Birth to not allow future dates."
Validate Date of Birth to not allow future dates.

[2017-03-01 01:24] teryhill commented on #433
Yezz Louise

[2017-03-01 01:24] #433 closed

[2017-03-01 01:25] teryhill opened #438 "Validate Date of Death to not allow future dates."
Validate Date of Death to not allow future dates.

[2017-03-01 01:27] teryhill opened #439 "Phone number formatting in demographics eg (123)456-7890."
Phone number formatting in demographics example (123)456-7890. This should be user definable using a global variable.

[2017-03-01 01:28] teryhill opened #440 "Change statement to allow selection of no printing if patient is deceased."
Change statement to allow selection of no printing if patient is deceased. This should be user definable using a global variable.

[2017-03-01 01:29] teryhill opened #441 "Add checks on Miscellaneous Billing Form to allow only one copy of the form per encounter."
Add checks on Miscellaneous Billing Form to allow only one copy of the form per encounter.

[2017-03-01 01:31] teryhill opened #442 "A report listing the top ten (or any number selected) CPT or ICD10 codes for a time frame."
A report listing the top ten (or any number selected) CPT or ICD10 codes for a time frame. This report will have a date range, selection for CPT , ICD10 or Both, Number of codes to display.

[2017-03-01 01:33] teryhill opened #443 "A report listing adjustment codes and the dollar amount of the selected codes"
A report listing adjustment codes and the dollar amount of the selected codes. This report will have a selection for date range and the adjustment codes desired.

[2017-03-01 01:37] teryhill opened #444 "Add a "Back to Patient" on the reports on the demographics screen."
Add a "Back to Patient" on the reports on the demographics screen. The section at the top of the demographics screen has some inconsistencies in getting back to the demographics screen. The Ledger option has a "Back to Patient" button

History | Report | Documents | Transactions | Issues | Ledger

[2017-03-01 01:39] teryhill opened #445 "Create a 'on demand' receipt that can be printed for a patient at any time."
Create a 'on demand' receipt that can be printed for a patient at any time. This will be a receipt containing the patient information , visit information and payment information. This will have a patient selection and date range.

[2017-03-01 01:41] teryhill opened #446 "Installation instructions for different Operating Systems"
Installation instructions for different Operating Systems, troubleshooting guide, FAQ .

[2017-03-01 01:44] teryhill commented on #444
Dupilcate of #414

[2017-03-01 01:44] #444 closed

[2017-03-01 01:59] teryhill commented on #437
Duplicate see #338

[2017-03-01 01:59] #437 closed

[2017-03-01 02:05] teryhill opened #447 "Integer Fields accepting Strings"
Integer Fields accepting Strings. Several input fields are accepting strings when they should be accepting numeric inputs.  S.S.N., Phone Numbers and Name.  The postal code will accept alpha characters.

[2017-03-01 02:07] teryhill commented on #337
these are broken up as single issues

[2017-03-01 02:07] #337 closed

[2017-03-01 02:13] teryhill commented on #131
Added suffix to the user/address book

[2017-03-01 02:13] #131 closed

[2017-03-01 02:27] teryhill commented on #435
This is not a bug. I had a setting in globals turned on that made it appear to me to be a malfunction.I had it set to mandatory fields only

[2017-03-01 02:39] teryhill commented on #433
They have been rode down and broke up

      From: Art Eaton <notifications@github.com>
 To: LibreHealthIO/LibreEHR <LibreEHR@noreply.github.com>
Cc: Terry Hill <teryhill@yahoo.com>; Mention <mention@noreply.github.com>
 Sent: Tuesday, February 28, 2017 8:17 PM
 Subject: Re: [LibreHealthIO/LibreEHR] Possiable projects for GSOC (#433)

Robby,
This is obviously a checklist for creating quality issue

[2017-03-01 03:40] tmccormi commented on #438
why? ;-)

[2017-03-01 03:51] teryhill commented on #438
Well I guess if the morgue was slow. 😎

Sent from my iPhone

[2017-03-01 03:55] tmccormi commented on #438
support of alternative medicine, like Psychic services ...

[2017-03-01 04:07] azwreith commented on #405
@aethelwulffe Yes, I agree. I'll add installation instructions for linux and some of the issues encountered to #446. Thanks!

[2017-03-01 04:08] azwreith commented on #446
I'd like to work on this!

[2017-03-01 05:14] nileshprasad137 commented on #446
Even I would love to work on this!!

[2017-03-01 06:25] azwreith commented on #438
Validation for both front and back end right?

[2017-03-01 10:25] nileshprasad137 commented on #446
@teryhill Please have a look at https://github.com/LibreHealthIO/LibreEHR/pull/448

[2017-03-01 12:36] azwreith commented on #439
Hey! I decided to give this a shot. Assuming we have to add the setting for changing the phone number format in the `Demographics` section of the `Administration -> Globals` page. I guess it will be overkill to ask them to enter regex for it? ^^"

Maybe I can add a dropbox of options showing commonly used formats such as `(ddd) ddd-ddd`?

Thanks!

[2017-03-01 12:54] teryhill commented on #446
@nileshprasad137  It looks good , you might want to mention restarting Apache when making PHP changes. The other Dev's will look at this also,

@azwreith Your instructions are welcomed as well.

Everyone needs to remember that in most instances the people that are installing the software lack any previous experience installing software of this type, So the instructions need to be very detailed and

[2017-03-01 12:58] teryhill commented on #439
The drop box would be best since most users have little to no Idea about pattern matching (regex)

[2017-03-01 13:00] teryhill commented on #438
Yes Front-end and Back-end

[2017-03-01 19:45] aethelwulffe commented on #446
Dudes!  Make sure to assign issues to yourself before you start working on them!  If you want the project, that lets you steal it from everyone else first.  🥇

[2017-03-01 19:59] aethelwulffe commented on #439
I think the regex would be called "underkill" for a office worker, and a regex is capable of carrying code.....Yeah...dropdown selection would be best!

[2017-03-01 20:13] aethelwulffe commented on #447
AGZ98,
Does the "assign yourself" menu item to the right not appear for you here?  If it doesn't, we need to check out how to allow that.
I am assigning you now just in case you really can't.  I salute you, because this is a very wide issue that will take a lot of time or a very clever parsing of the database structure and GREP/SED to clean up, and it is an invisible issue.  You get the "Unsung He

[2017-03-01 20:16] aethelwulffe commented on #447
Oops.
It looks like I can't add you to it, as you haven't joined the project.  Let me look to see what that involves.

[2017-03-01 20:17] aethelwulffe commented on #447
I think forking the project will do it...

[2017-03-01 20:23] aethelwulffe commented on #447
Or joining the organization.

[2017-03-01 20:34] htuck commented on #446
RE: the docs mentioned in issues 448 and 449: they look v. good to me from a technical point of view: good information clearly described.  However, per Teryhill's observation above of the experience level of most Libre users, it occurred to me that if the docs talk about using WAMPP or XAMPP, it's a little odd that they should continue on with file system path/ text editor- oriented instructions.

[2017-03-01 20:42] aethelwulffe commented on #446
Typical users don't ever see a MAN file, but no matter where the documentation is, it should be well indexed under a single master document.  If there are multiple media versions, they should all have the same content and...be linked.  On-line, off-line, and by version marker.

[2017-03-01 20:57] aethelwulffe commented on #146
https://dl.bintray.com/librehealth/LibreHealthEHR
Here is the latest build of this.
It requires testing, and if Harley or someone can review the associated docs (probably created last september) for applicability, it would be appreciated.

[2017-03-01 21:57] teryhill commented on #91
I think we need to bring this up again. I have some table changes and I need to know how we are going to do upgrades to the database

[2017-03-02 01:04] tmccormi commented on #447
I have sent an invite for your to the GSOC team on LibreHealth github...
that should allow you to assign it to yourself

Tony McCormick, CTO
www.mi-squared.com
Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo

tóg go bog ē - Best advice from a pub owner in Ireland, to take it easy.

On Wed, Mar 1, 2017 at 12:23 PM, Art Eaton <notifications@github.com> wrote:

--
Pleas

[2017-03-02 01:40] azwreith commented on #439
Okay then, drop box it is! I'll get to working on it when I get back from classes (7 am here rn) c:

[2017-03-02 02:25] tmccormi commented on #91
Yes.  Now that we have an official release that is intended for end users we need a patch and update model.   What OpenEMR had is not band, but it's not granular.

@kchapple has been using a hybrid that looks like this:

Migration_2017_02_02_09_46_10.php - that is date stamped version bulk versioned

it requires...
use \Framework\Plugin\Migration\Migration;
and
Inside it uses the same #IfMissingCo

[2017-03-02 14:01] azwreith commented on #439
Wow, turns out I won't even need to modify any SQL at all for this haha :laughing:

[2017-03-02 16:08] azwreith commented on #439
@teryhill The documentation in options_inc_php says layout.options.edit_options for P means `Default to previous value when current value is not yet set`, but I think it classifies phone numbers. Is that correct?

[2017-03-02 16:16] aethelwulffe commented on #439
I honestly don't think defaulting to the last value is a great idea for a phone number in the use cases in the application.  If that is a FORMAT of a phone number, fine, but recalling the last phone number...no, leave the P off please.

[2017-03-02 16:51] azwreith commented on #439
I meant when you check `select field_id, edit_options from layout_options where edit_options="P";`, only see:
[code]
Since only phone numbers have that, I was wondering if I can use edit options to detect if the field is a phone number :see_no_evil:

[2017-03-02 17:08] aethelwulffe commented on #439
Seems like there should be a layout option TYPE that says "I am a phone number", hunh?  Same for "I am an email address".  Then sanity checks (based on the global format structure of phone numbers) would check to make sure the phone number was "real".  It is possible that you might have two different phone number structures for internationalization...but I don't know how bad overlooking that would

[2017-03-02 17:18] azwreith commented on #439
Well, the title description and field id do contain the term "phone" so I can check for the occurrence of that at the worst case, but I don't see any other field that explicitly defines them as phone numbers.

I didn't understand the sanity check part. Could you elaborate?

I think you guys can just keeping phone numbers as 10 digits using a check function, and then storing it in the database in t

[2017-03-02 17:51] aethelwulffe commented on #439
Sanity check would just ask "are there ten numbers?"  "Are there only digits?"  Meaning give an error message if it is a value that does not fit the format.  That behavior might be hard (since the whole thing doesn't use bootstrap), but if it is possible, that would be good.  Otherwise, the feature will still be better than it was.

[2017-03-02 20:00] aethelwulffe commented on #442
There is a link between this and the "important codes" elements in at least one report.  There is also the flag that can be set in the codes administration UI that allows you to flag it "reporting".

[2017-03-02 20:53] tmccormi opened #455 "Calendar does not respect the Globals Locale setting for 24hr clock."
See screen shot:
![calendar-locale-times](https://cloud.githubusercontent.com/assets/285835/23526519/2b4be0f6-ff47-11e6-8b04-0b44de6675eb.png)

[2017-03-02 22:32] teryhill commented on #455
That did not work in 4.1.2(7) either

[2017-03-02 22:53] aethelwulffe commented on #455
Looks like we need a new calendar, hunh? 🤕

[2017-03-02 22:55] aethelwulffe commented on #372
Issue finished.

[2017-03-02 22:55] #372 closed

[2017-03-02 22:55] teryhill commented on #455
I got it just need to put it on the switch

![image](https://cloud.githubusercontent.com/assets/4655366/23530821/63583dda-ff71-11e6-8ebb-86a73a9a9adf.png)

[2017-03-02 22:57] aethelwulffe commented on #446
The latest XAMPP package, which is currently only available (slowly) at http://suncoastconnection.com/downloads/LibreHealthEHR-64bit-1.0.1-DEV.zip has a full set of revised docs and installation instructions for windows as well as general use...with pictures and all that...that will need revising all over again very soon.

[2017-03-02 22:58] aethelwulffe commented on #416
Hope we can get back to this pretty soon!

[2017-03-02 22:59] aethelwulffe commented on #418
This has been reviewed and might be ready to go...

[2017-03-02 23:00] aethelwulffe commented on #361
What is the status of this issue?  We have a commit here, but I am not sure if that is the whole issue.

[2017-03-02 23:02] aethelwulffe commented on #15
This is linked to the calendar not displaying 24 hour choices?

[2017-03-02 23:07] teryhill commented on #15
calendar is time not date

[2017-03-02 23:11] aethelwulffe commented on #66
Closing this.  There is a merge against it, and it is a very well known need that is not linked to a specific project at the moment.

[2017-03-02 23:11] #66 closed

[2017-03-02 23:24] aethelwulffe commented on #15
It is date-time, and localization/time zone will need to be sort of collected into one big bag eventually.  By your statement though, is this issue closable?

[2017-03-02 23:27] teryhill commented on #15
I vote close but it is @tmccormi 's call.

[2017-03-02 23:44] aethelwulffe commented on #233
Do we mark this one as duplicate, drop, or is there any use in the compiled work-list above?

[2017-03-02 23:48] aethelwulffe opened #457 "iFrames need to be resizable"
We need to be able to re-size the iframe divs, and the tab labels need to follow them:
A resource for using css or other methods for doing this (some of these solutions will not work for our application:
http://stackoverflow.com/questions/8117761/how-can-i-make-an-iframe-resizable

[2017-03-03 00:06] teryhill commented on #455
You closed this too soon I have a fix for add_edit_event to follow the time global also

[2017-03-03 00:11] teryhill commented on #455
here it is

![image](https://cloud.githubusercontent.com/assets/4655366/23532852/fb7387c8-ff7b-11e6-883a-62cb219979f5.png)

[2017-03-03 00:14] teryhill commented on #233
rerun your stuff. I should have gotten a lot of them with the datepicker upgrade. Hopefully the list will be shorter.

[2017-03-03 00:58] aethelwulffe commented on #233
Good.  I will maintain this and check off or delete (if they don't exist anymore).

[2017-03-03 01:08] tmccormi commented on #15
This should be mostly resolve by the datepicker upgrade.

[2017-03-03 01:08] #15 closed

[2017-03-03 04:45] nileshprasad137 commented on #338
I'll work on this!

[2017-03-03 04:46] nileshprasad137 commented on #338
please assign this to me , as i am unable to assign this to myself @teryhill @tmccormi

[2017-03-03 04:55] azwreith commented on #457
I can give this a shot!

[2017-03-03 05:01] azwreith commented on #439
Ohh, I see what you mean. I think I saw functions for limiting it to only 10 digits and removing all non-digits from it. But it doesn't give an error message, just saves. I'll confirm when I get back home.

[2017-03-03 05:09] tmccormi commented on #338
Done.  have a bit of fun...

[2017-03-03 10:51] nileshprasad137 commented on #338
@tmccormi Some help needed !
I tried to create a patient but when i click `Create new patient` after entering credentials in `face sheet` , nothing was happening . Do I have to fill all all the details in `contacts`, `privacy` etc to add a new patient?
 Also note that there is no option to select dob from calender like it has in issurance,  Refer screenshots below.

![dob_issue](https://cloud.gith

[2017-03-03 13:28] teryhill opened #459 "Can open multiple instances of the first two tabs."
With the new code that was added to allow selecting of the first two tabs, you can open two instances of the calendar.

Should there be a check to see if the tab is already open?

Is this a bug?

[2017-03-03 13:31] #435 closed

[2017-03-03 13:33] #455 closed

[2017-03-03 13:54] teryhill opened #460 "New patient screen not saving with datepicker changes"
@nileshprasad137  pointed out that the patient add was not saving in the latest development code.

[2017-03-03 13:59] teryhill commented on #338
Name , sex and DOB should be all that is needed to create a new patient

[2017-03-03 14:00] pri2si17-1997 commented on #460
@teryhill it is getting saved. Here is the screenshot of the same:
![screenshot from 2017-03-03 19-28-10](https://cloud.githubusercontent.com/assets/12952169/23553645/c04bc45e-0047-11e7-95e7-ed8aad5ee991.png)

I have first created the sample patient and then searched it using the name.

[2017-03-03 14:04] nileshprasad137 commented on #338
@teryhill was there a datepicker like that of an insurance before ,,in dob fields?

[2017-03-03 14:09] teryhill commented on #338
Yes , but now they should be like DOB.

![image](https://cloud.githubusercontent.com/assets/4655366/23553972/15f99d10-fff1-11e6-91a1-636094a9db18.png)

[2017-03-03 14:13] teryhill commented on #460
@pri2si17-1997 That is great. I know there are a couple of versions of the code out there, one is from the XAMPP package download (Windows) and the other is from a github download (Linux) .

Screen shot from the development code

![image](https://cloud.githubusercontent.com/assets/4655366/23554075/8fc60110-fff1-11e6-8dce-daebd7ab48f7.png)

[2017-03-03 14:27] nileshprasad137 commented on #338
@teryhill okay , i was on a old version , its getting created now! Sorry for the confusion

[2017-03-03 14:28] nileshprasad137 commented on #460
@teryhill You can close this issue. It works fine now

[2017-03-03 18:21] nileshprasad137 commented on #338
@teryhill @tmccormi Have a look at this.
![screenshot 88](https://cloud.githubusercontent.com/assets/16336390/23563298/068a787e-006c-11e7-9b51-c116002f6453.png)

I modified Jquery file of calender and now it cannot accept any future date .
I guess this solves multiple issues  :wink:

[2017-03-03 18:27] teryhill commented on #338
What about future dates in appointments and flow board?

Sent from my iPhone

[2017-03-03 18:32] nileshprasad137 commented on #338
oops  :see_no_evil: I'll correct that.

[2017-03-03 18:46] aethelwulffe opened #464 "XAMPP capital in DB name ACL setup fail"
Apparently, as discovered today, with the XAMPP package, if you use a capital letter in the database name, the ACL setup fails...partially.
It says it can't find the database, but gives a success message.  Total tables is 192 vs. 194.  I will re-create the issue a third time as verification.
Note:  The was against the NationNotes module branch, but the next test will be against master.

[2017-03-03 18:49] teryhill commented on #338
If you could give a option to allow future date on demand that would work.

Sent from my iPhone

[2017-03-03 18:57] nileshprasad137 commented on #338
@teryhill  Or maybe a different jquery calender file for appointments and flowboard though it'll be a bit repetitive.

[2017-03-03 19:20] aethelwulffe commented on #464
Also, in master, this is the recommended database name...with capitals and a space...

[2017-03-03 20:27] aethelwulffe commented on #438
DECEASED (17228 days ago)
Getting this on a two day old patient.

[2017-03-03 20:28] aethelwulffe commented on #438
This is with the new date picker.

[2017-03-03 21:15] teryhill commented on #438
Yes and I have been looking for the problem. It is giving an 12/31/69 date on that and financial review. Haven't traced it down yet.

      From: Art Eaton <notifications@github.com>
 To: LibreHealthIO/LibreEHR <LibreEHR@noreply.github.com>
Cc: Terry Hill <teryhill@yahoo.com>; Author <author@noreply.github.com>
 Sent: Friday, March 3, 2017 3:28 PM
 Subject: Re: [LibreHealthIO/LibreEHR] Validate Da

[2017-03-03 21:23] aethelwulffe commented on #438
Nothing is scoring in the logs that looks specific, and I am not seeing
things in the DOM that clue me in.  Good to see confirmation elsewhere
though...I thought it was possibly one of my branches for a minute.

On 3/3/2017 4:15 PM, Terry Hill wrote:

[2017-03-03 21:27] teryhill commented on #438
No it is something to do with the layout forms and those dates. the date picker works but if it is blank it defaults to a bad date. I guess I need to look at the field in the database and see it that is set to date(which I am guessing not) that might be it!!

[2017-03-03 21:37] teryhill commented on #438
nope not in the database

[2017-03-03 22:37] aethelwulffe commented on #457
You rock man.  GO!GO!GO!

[2017-03-03 23:37] teryhill commented on #438
@aethelwulffe I have it figured out.

[2017-03-03 23:48] teryhill opened #466 "Deceased Date not working with date picker"
Deceased Date and Financial review date not working with new date picker

[2017-03-04 05:48] pri2si17-1997 commented on #446
Hello @teryhill I have installed it on linux system, and made a note of it. These steps worked for me, so i'm pasting the link here.

https://forums.librehealth.io/t/steps-to-setup-libreehr-on-local-machine/579/14

[2017-03-04 05:50] pri2si17-1997 commented on #447
Hello @teryhill please assign this bug to me.

[2017-03-04 10:30] teryhill commented on #447
@tmccormi  will you invite pri2si17-1997 so I can assign this task to him

[2017-03-04 11:22] nileshprasad137 commented on #338
@teryhill I am a bit stuck up here. Have a look at file [https://github.com/LibreHealthIO/LibreEHR/blob/master/interface/new/new.php](https://github.com/LibreHealthIO/LibreEHR/blob/master/interface/new/new.php)

See the code from line 231 to 239
`<script>
    $(function() {
        $("#DOB, #regdate").datetimepicker({
            timepicker: false,
            format: "<?= $DateFormat; ?>"

[2017-03-04 13:23] teryhill opened #468 "Posting Screen Changes."
Need to add a denial remarks dropdown to the posting screen. This should be based on a list. The remark should show on the collections report as a field and should be searchable. This is the current posting screen.

![image](https://cloud.githubusercontent.com/assets/4655366/23579092/b5157988-00b3-11e7-946f-b9031f06c39e.png)

Would also be good to revamp the screen it self.

[2017-03-04 13:29] teryhill commented on #338
@nileshprasad137  you are correct that code block has no bearing on the DOB . You need to look at options.inc in the \library directory. I have a change to that program that has not been committed to the code base yet so look at PR 467 . The code you are looking for is from line 364-387

[2017-03-04 14:09] nileshprasad137 commented on #338
@teryhill @tmccormi
DOB not accepting future dates and flowboard accepting future dates  :simple_smile:

![screenshot 92](https://cloud.githubusercontent.com/assets/16336390/23579354/c5d23faa-0111-11e7-9ed4-39ad3b64ef59.png)

![screenshot 93](https://cloud.githubusercontent.com/assets/16336390/23579353/c5d145dc-0111-11e7-8886-5e95064004c6.png)

Any more possible loopholes or
Issue resolved ?

[2017-03-04 14:14] teryhill commented on #338
@nileshprasad137  ?PR#

[2017-03-04 14:15] nileshprasad137 commented on #338
ok , sending!

[2017-03-04 14:43] teryhill commented on #338
@nileshprasad137 Nice clean fix. It also takes care for deceased date.

[2017-03-04 14:45] teryhill commented on #447
@pri2si17-1997 Go ahead and start working on this I will remove the GSOC 2017 label until I can assign it directly to you. @tmccormi @aethelwulffe

[2017-03-04 14:47] teryhill commented on #438
The fix to DOB took care of this one also I am closing this issue see #338

[2017-03-04 14:47] #438 closed

[2017-03-04 14:50] nileshprasad137 commented on #338
yes , but unfortunately i did'nt create a new Pull request! I merged that with Master so its coming in that pull request #448 .  :pensive:

I'll not do that mistake again.
Is there a possibility of that getting fixed ?
Its time for me to work with different branches .

[2017-03-04 14:50] pri2si17-1997 commented on #447
Ok. Thanx. :)

[2017-03-04 14:53] teryhill commented on #338
@tmccormi  can you fix this?

[2017-03-04 16:50] nileshprasad137 commented on #339
@teryhill @tmccormi This thing works now! Just check it.

[2017-03-04 17:33] pri2si17-1997 commented on #447
Hello @teryhill, require some help. Please look at datatypes of following and correct me.
**Face Text**
Name : String
Address : String
SSN : Numeric
Mobile Phone : Numeric
Billing Note : String
City : String
Postal Code : Alphanumeric
Licence/Id : Alphanumeric
Email : String

**Contacts**
Home Phone : Numeric
Emergency Contact : Numeric
Work Phone : Numeric
Emergency Phone : Numeric
Name of Mother

[2017-03-04 17:35] pri2si17-1997 commented on #447
I have placed "?" because i don't know its type.

[2017-03-04 17:54] teryhill commented on #447
Billing Note and e-mail would be alpha numeric. Interpreter String, group number alphanumeric, copay decimal (25.00 for example)

[2017-03-04 17:58] teryhill commented on #339
@nileshprasad137 Yes I verified it is working thanks @tmccormi @aethelwulffe  Closing this

[2017-03-04 17:58] #339 closed

[2017-03-04 18:25] aethelwulffe commented on #468
Terry, do you have any specific suggestions for a re-design of the lay-out?
  Myself I am thinking a text summary of the status so that it is easy to read vs. looking at the populated radio buttons, then offering controls (with reverts) in the context of that status.
Like:
Name
Providers (all)
Expandable field listing the patient's insurance payer(s) and other details
Posted to insurance X Primary

[2017-03-04 18:33] teryhill commented on #468
No I do not have any specific suggestions. It just needs to be brought into this century 8^)
There needs to be a group discussion on it but I thought the GSOC folks might have some Ideas.

[2017-03-04 18:36] aethelwulffe commented on #464
lower_case_table_names

    Description: If set to 0 (the default on Unix-based systems), table names and aliases and database names are compared in a case-sensitive manner. If set to 1 (the default on Windows), names are stored in lowercase and not compared in a case-sensitive manner. If set to 2 (the default on Mac OS X), names are stored as declared, but compared in lowercase.
    Commandline:

[2017-03-04 18:38] nileshprasad137 commented on #468
@teryhill Can you tell me which page page is this , how to reach here?

[2017-03-04 18:40] teryhill commented on #468
Fees=>posting then enter a patient

[2017-03-04 18:48] aethelwulffe commented on #447
Did we move to phone numbers being a specific data type.
PROBLEM:  Postal codes in other countries CAN be alphanumeric
https://en.wikipedia.org/wiki/List_of_postal_codes
Interpreter needs to be capable of linking to a contacts list (as a toggle) because this is used as a "call this person to arrange for an interpreter."

[2017-03-04 18:48] aethelwulffe commented on #447
In the meantime, it must be a free-form text box.

[2017-03-04 19:03] aethelwulffe commented on #468
@nileshprasad137
I will provide a testing database that has billing data and the like ASAP.

[2017-03-04 19:04] nileshprasad137 commented on #468
Great! I'll like to work on it.

[2017-03-04 19:06] aethelwulffe commented on #468
The patient must have billing data (make an encounter, go to form /administration/fee sheet, which you can only do properly if you have added the billing codes and all that.
Feel free to mail me at art AT suncoastconnection  D0t c0m for links and the like I will be able to share from one of my servers.  We will get this sort of resource put into a repo later, but I can't currently create repos her

[2017-03-04 19:57] teryhill commented on #464
Change the recommendation to lower case with no space and add a warning to the XAMPP install

[2017-03-04 21:31] teryhill opened #469 "Claims creation and management based on the 1500 form"
We have a pretty cool looking HCFA 1500 form. We need to brainstorm on how it could be used for claims management and filing .

@aethelwulffe  you need to reload that form

[2017-03-04 21:41] azwreith commented on #440
I'll work on this ahuehue :smile:

[2017-03-04 23:26] teryhill commented on #457
I have tested this and it looks and works food with 3 or less tabs open. 4 tabs it is no longer re-sizable on my screen (laptop) Good work @azwreith

[2017-03-05 06:45] pri2si17-1997 commented on #447
Hello @teryhill, can we do like this:
Get a country selected from dropdown and then match it with regular expresssion.
Here is link : http://unicode.org/cldr/trac/browser/tags/release-26-0-1/common/supplemental/postalCodeData.xml

[2017-03-05 16:38] aethelwulffe commented on #464
I think a warning to the xampp install would be good...but setting the mode after you have already created a database is an issue. still.

[2017-03-05 16:40] aethelwulffe commented on #457
Terry, how about doing the review on this and approve it.  I have not tested it.  I imagine that 4 tabs hits a minimum size or something anyway...
I will go for whatever you think...I just want to see it merged!

[2017-03-05 17:24] aethelwulffe commented on #469
OK.  I will see if I have it anywhere.  We can post it to a WIP branch I guess.

[2017-03-05 17:56] aethelwulffe commented on #466
This fix is in, simple and clean.  Merging #467 and closing this issue.

[2017-03-05 17:56] #466 closed

[2017-03-05 18:01] #405 closed

[2017-03-05 18:11] #439 closed

[2017-03-05 20:35] teryhill commented on #447
@pri2si17-1997  Let me know what you are thinking?  Are you proposing that the postal code be entered based on country?

[2017-03-05 20:43] #460 closed

[2017-03-05 21:24] teryhill commented on #332
Most of this is done there may be a very few left, Will change them as I find them.

[2017-03-05 21:24] #332 closed

[2017-03-06 06:26] pri2si17-1997 commented on #447
Hi @teryhill, I would like to present two perspective:

1. If we are storing address as a part of patient's information, then we can use the regular expression to match the correct postal code on the basis of country. Postal code on the basis of country will restrict us from entering invalid data. But there may be the case that postal code matches the regex, but does not actually exists, so i woul

[2017-03-06 12:47] azwreith commented on #457
Yes, it's not re-sizable with 4 tabs because I set the minimum width of each tab to be 20%. That can be changed though

[2017-03-06 12:47] azwreith commented on #420
I'd like to start working on this after I'm done with the other issues! :smile:

[2017-03-06 13:16] teryhill commented on #447
@pri2si17-1997 in the USA each city can have multiple postal codes. If you use Google Maps you will have to consider that some areas that use LibreHealth EHR may not have reliable internet service.  I did some code a while back the allowed the user to store the postal code with the city and state and then populated that information when the postal code was entered.

[2017-03-06 14:59] aethelwulffe commented on #447
The google API is not accurate, and we cannot be making calls with the patient address to a 3rd party.  Not PHI handling good practice.

[2017-03-06 15:07] pri2si17-1997 commented on #447
Ok @teryhill @aethelwulffe. My mistake, I was not thinking in that way. For the time being i'm making it free -form text box.

Thanks :)

[2017-03-06 15:19] aethelwulffe commented on #447
Heh, yeah, otherwise the big "Google Health" thing would not have been shot down so long ago.  By now we would have been getting chemotherapy from cell phones and paying for immunizations with bitcoin.

[2017-03-06 16:45] #338 closed

[2017-03-06 17:30] azwreith commented on #457
This can be closed now, unless we want to keep it open for future fixes :smile:

[2017-03-06 17:36] aethelwulffe commented on #457
Darn good job.  Closing this issue.

[2017-03-06 17:36] #457 closed

[2017-03-06 17:37] aethelwulffe commented on #459
Or is it a FEATURE?  :)
Probably not really a feature...no.

[2017-03-06 17:43] teryhill commented on #457
@azwreith  fixes can be on there own issue. This is a great addition to the code base. @pri2si17-1997  @nileshprasad137  and @azwreith  I sincerely hope y'all stick around after GSOC we can use all the help we can get.

[2017-03-06 17:44] azwreith commented on #440
Where do I find the reports? Do you mean "Generate Report", "Download PDF" in the CCR page?

[2017-03-06 17:46] nileshprasad137 commented on #457
@teryhill Surely, I will!

[2017-03-06 17:48] teryhill commented on #440
look for the statement report in the sites directory . they are printed from the posting screen.
/sites/default/statement.inc. for the file. fees=>posting for the running screen.
Add a switch to globals to turn it on and off.

[2017-03-06 17:52] pri2si17-1997 commented on #457
@teryhill Sure...

[2017-03-06 17:56] aethelwulffe commented on #420
You already have been working on this.  Effectively, everyone has been.  We should just gather our notions as to what makes the UI better, then implement them as separate deliverables in other issues...referencing back to this one so we can keep a running tally of progress.

[2017-03-06 17:57] aethelwulffe commented on #420
My guess is that the "tabs follow iframes" bit would be next, as well as possibly "make tab icons big enough to see".

[2017-03-06 18:03] pri2si17-1997 commented on #457
@teryhill, i'm not able to access chat forum. It is showing '502 Bad Gateway'. Please help me.

[2017-03-06 18:03] aethelwulffe commented on #457
Chat is down at the moment...for all of us.

[2017-03-06 18:04] teryhill commented on #457
It is down I have sent a request for assistance.
On Monday, March 6, 2017, 1:03:06 PM EST, pri2si17-1997 <notifications@github.com> wrote:
@teryhill, i'm not able to access chat forum. It is showing '502 Bad Gateway'. Please help me.

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub, or mute the thread.

[2017-03-06 18:07] aethelwulffe commented on #457
Ditto.

[2017-03-06 18:11] azwreith commented on #457
I sure will, @teryhill :blush:

Good night y'all!

[2017-03-06 18:13] teryhill commented on #457
Good night
On Monday, March 6, 2017, 1:11:50 PM EST, Ujjwal Arora <notifications@github.com> wrote:
I sure will, @teryhill 😊

Good night y'all!

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub, or mute the thread.

[2017-03-06 18:14] aethelwulffe commented on #323
We have a commit against this, and a general agreement on the assets and the portal location (and a pull request for that as a core piece).  I am starting a new discussion issue related to modularization of the code for purposes of maintenance as much as anything else.

[2017-03-06 18:14] #323 closed

[2017-03-06 18:52] aethelwulffe commented on #469
created a WIP branch named CMS-1500_fee_management
This contains the code in question above.  It is located in /contribs/scc_cms1500

[2017-03-06 18:54] aethelwulffe commented on #383
Closed the commit against this without merge.  If it is not really an issue, I suggest we close this.

[2017-03-06 18:55] aethelwulffe commented on #428
Did you get the commit for this in?  I saw the code screenshots, and I would like to add to it

[2017-03-06 18:57] aethelwulffe commented on #349
Can anyone else duplicate this, confirm it, or anything else?
If not, then it needs to be closed.

[2017-03-06 19:00] aethelwulffe commented on #314
I am closing this issue, but referencing the eye form in a new issue.

[2017-03-06 19:00] #314 closed

[2017-03-06 19:02] teryhill commented on #428
Not yet I have it working and just need to test and make sure I got all the HCFA files done.

[2017-03-06 19:05] aethelwulffe commented on #324
Interim goal:  Start an MU2/3/15/MIPS whatever project...vs. an issue.
LONG TERM GOAL:  Start doing something about it.  Add the functions, and add them well, noting the intended use.
For the U.S., we MUST have whatever certification is required to be a valid product.  We don't have a pathway to that right now, but we CAN work it into our design management.  I suggest we make a project skeleton an

[2017-03-06 19:08] aethelwulffe commented on #11
I would like to close this issue and defer it and #324, #12, #13, #14, to a MU project.

[2017-03-06 19:10] aethelwulffe commented on #343
Is it a valid approach to just check who has been active at all in...say...the last 30 minutes?  How about last activity for every active user instead?

[2017-03-06 21:49] tmccormi commented on #343
I don't know if it makes much difference, but you would have to show the last activity, which could be "LOGOFF" in a best case

[2017-03-06 22:08] tmccormi commented on #459
I think that is because the are not identified in the menu as the base type.  The default login creates the tab with the original ID (from OpenEMR) and the menu JSON has a different ID for them.

[2017-03-06 23:01] teryhill commented on #428
@aethelwulffe  just sent a pull request

[2017-03-06 23:05] tmccormi commented on #383
It's still an issue for anyone that creates a db with charset that is not utf8_general_ci

[2017-03-06 23:07] #11 closed

[2017-03-07 00:20] teryhill commented on #328
@tmccormi @aethelwulffe  I don't think we need this issue any longer. do we?

[2017-03-07 00:23] #428 closed

[2017-03-07 00:34] teryhill opened #474 "Calendar changes"
Trying to provide a list of needs in the new calendar.

Calendar Requirements.

1) All current calendar functionality shall be maintained.
2) The core code will be a 3rd party OpenSource package.
3) Replace the existing Smarty template engine
4) Maintain functionality with the Patient Flow Board
5) Integrate with the patient portal.
6) The calendar view screen shall have a automatic refresh when d

[2017-03-07 10:19] aethelwulffe commented on #328
No, I am pretty sure that feature works if you actually have full appointment notes and the like.  Please test, let's discuss, and either put up an issue for a fix or a documentation item.

[2017-03-07 10:38] aethelwulffe commented on #474
I tweaked the spelin and stuff, but I would like to ask about a few things.
On 3, do we mean "remove all Smarty Components" or remove all old calendar components, or just "don't use SMARTY in the new system"?
On 7, what do we mean "remotely" other than the patient Portal?  Does this actually mean an API?
Do we provide a migration from one to the other, or should we view that as a separate project

[2017-03-07 14:37] pri2si17-1997 commented on #349
Hello @teryhill @aethelwulffe @tmccormi , I can't reproduce this. Calendar is getting loaded in first pane itself after login. And no page refresh is required. Tried on chrome and firefox both.

[2017-03-07 14:46] aethelwulffe commented on #349
I have found nothing like this with fresh installs or old.
Let's let the originator validate this, but this might be a non-issue.

[2017-03-07 21:15] teryhill commented on #474
I think on #3 it would be just in the calendar. #7 would be from the patient portal, the working in of an api would be a separate project but I think the FHIR project already has hooks for that.

[2017-03-08 01:26] teryhill commented on #420
The screen resizing appears very erratic on firefox on my system, Can some one else check it to make sure it is not just me

[2017-03-08 01:55] tmccormi commented on #420
Unclear what commit or issue you are referring to @teryhill .  Current master branch or some pull request being tested.  This thread is a generic discussion issue not at pull or code development issue

[2017-03-08 01:57] teryhill commented on #420
@tmccormi Main branch. the resizing of the frames.

[2017-03-08 02:12] tmccormi commented on #420
IT's beautiful in Chrome and Firefox on Linux!  nice

[2017-03-08 14:23] pri2si17-1997 commented on #447
Hello @teryhill, I think a lot of debugging required here. I'm doing but its taking time as I have to understand the flow, how it works. Will update you soon.

[2017-03-08 14:26] pri2si17-1997 commented on #196
Hello @aethelwulffe, can you please tell the steps to reproduce this?

[2017-03-08 17:14] azwreith commented on #474
Hey! Is the Smarty engine used in the calendar we have now? Also, is it used in any of the other stuff in the project?
Easy Appointments calendar would look really rad on the EHR :3

[2017-03-08 17:30] teryhill commented on #474
Smarty is used in the calendar and in a few other spots, Administration=>Practice for one.
On Wednesday, March 8, 2017, 12:14:50 PM EST, Ujjwal Arora <notifications@github.com> wrote:
Hey! Is the Smarty engine used in the calendar we have now? Also, is it used in any of the other stuff in the project?
Easy Appointments calendar would look really rad on the EHR :3

—
You are receiving this because

[2017-03-08 17:39] aethelwulffe commented on #464
I will keep this in mind.  Closing as an issue.

[2017-03-08 17:39] #464 closed

[2017-03-08 17:40] aethelwulffe commented on #294
This is being addressed in lots of ways.  Closing this as a specific issue.

[2017-03-08 17:40] #294 closed

[2017-03-08 17:41] aethelwulffe commented on #349
This is basically an issue we can't find, and maybe not worry about in light of the development plans.

[2017-03-08 18:01] aethelwulffe opened #478 "Replace Administration->Practice"
This interface controls most of the clinic's basic configuration details.  Including legal entities and connectors to 3rd parties like insurance companies and pharmacies.
They consist of HTML templates using the venerable SMARTY template engine, as does the Post-Nuke calendar system.  The calendar system is up for replacement, and this is another piece of migrating from the template engine.
Job pa

[2017-03-08 18:18] nileshprasad137 commented on #478
It seems interesting. Is this a GSOC project idea?

[2017-03-08 18:20] aethelwulffe commented on #328
I am able to do a search by the provider, category, or patient.  Partial matches work.  Putting in a date, or just 2017 does not work, but you can search just about anything else.

[2017-03-08 18:20] #328 closed

[2017-03-08 18:21] aethelwulffe commented on #362
Next question...why is it that it takes all week to save a globals configuration?

[2017-03-08 18:24] nileshprasad137 commented on #474
Both those open source calenders look great! Difficult to choose.

[2017-03-08 18:26] aethelwulffe opened #479 "Log review interface."
The Administration->Logs feature, which lets you do searches in the logs by user etc...  should not do anything except display the interface when you navigate to it.  Currently, it executes queries, sometimes crashing marginal systems with a lot of data in the logs without the user ever having selected any search criteria.  Often times, this is due simply to accidentally selecting the wrong item,

[2017-03-08 18:28] teryhill commented on #362
mine saves in about 5 sec

On Wednesday, March 8, 2017, 1:21:46 PM EST, Art Eaton <notifications@github.com> wrote:
Next question...why is it that it takes all week to save a globals configuration?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-03-08 18:31] aethelwulffe commented on #478
Just an idea.  Right now it is on the "issues considered" list, as decided by just one person (yours truly). 😺  We don't know how many interns we may get, and we must discuss priorities, reality checks for the intern to actually have the hours needed to complete the deliverable, and other worries I am not even privy to.  I DO know that this UI must die...along with the template engine.

[2017-03-08 18:34] aethelwulffe commented on #474
By all means, if someone wanted to investigate other projects...anything is under consideration.
Features, Footprint, Facility, and Format.

[2017-03-08 19:18] aethelwulffe commented on #362
In which ever case, I think we ought to lay out all issues concerning a refactor of globals into a single discussion listing...here or on the forums.

[2017-03-08 20:01] tmccormi opened #480 "Past Appointment link for Pt Demo screen is faulty"
This was broken by epsdky in this commit, where epsdky changed the parameters to the old-event-loader and didn't change the call. This needs to be fixed on the LibreEHR project.

6027823 epsdky on 8/28/15 at 3:38 AM (committed by bradymiller) Recurring appointment Fixes, take 2.

From customer:

![image_201703081859432](https://cloud.githubusercontent.com/assets/285835/23721509/e4329232-03f6-11e7-

[2017-03-08 20:08] tmccormi commented on #480
Note this testing was done on rel-101 branch...

[2017-03-08 20:14] teryhill commented on #480
Got some datepicker problems on the current release for this too. Looking at this

[2017-03-08 21:26] teryhill commented on #480
Got a fix ready for the date picker issue

[2017-03-08 22:30] aethelwulffe commented on #480
Sorry, we were on the call when you posted this. 😈
Bring on the pull request bro...

[2017-03-08 22:46] teryhill commented on #480
Still working on a customer problem will send it when I get a chance . How do you add a trusted site to fire fox
On Wednesday, March 8, 2017, 5:30:16 PM EST, Art Eaton <notifications@github.com> wrote:
Sorry, we were on the call when you posted this. 😈
Bring on the pull request bro...

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub, or mute the thr

[2017-03-08 22:50] aethelwulffe commented on #480
Options, security, exceptions.

[2017-03-08 22:50] aethelwulffe commented on #480
tools/options/security/exceptions.

[2017-03-08 22:55] aethelwulffe commented on #480
Also, options,advanced, network, exceptions.

The important bit (for eRX anyway) is third party cookie bit.
![exceptions](https://cloud.githubusercontent.com/assets/553751/23727982/5f0e71b6-0428-11e7-937c-c37a1c1a62cc.png)

[2017-03-08 22:57] tmccormi commented on #480
talk about messing up a issue post with unrelated data ...  most of those posts need to be deleted

[2017-03-08 23:00] aethelwulffe commented on #480
Do it.

[2017-03-08 23:01] teryhill commented on #480
Did it

[2017-03-09 03:13] teryhill commented on #480
@pri2si17-1997 , @nileshprasad137 and @azwreith  Could y'all go under globals=>local and change Date Display Format to some thing other than YYYY-MM-DD and see if y'all see any dates that don't match. Y'all will need the latest code changes.

[2017-03-09 04:13] azwreith commented on #480
Sure! I'll check as soon as I get back home from class ^^

On Mar 9, 2017 8:43 AM, "Terry Hill" <notifications@github.com> wrote:

[2017-03-09 09:03] pri2si17-1997 commented on #480
@teryhill ,
I have changed it to 'DD-MM-YYYY' and 'MM-DD-YYYY', but in both cases it is showing the date in 'YYYY-MM-DD' format.

I have made changes in /LibreEHR/library/globals.inc.php (line no 446).

If I'm getting it wrong, please let me know.

[2017-03-09 10:44] nileshprasad137 commented on #480
@teryhill It works fine for me.
![iss_ch](https://cloud.githubusercontent.com/assets/16336390/23746839/7167754a-04e3-11e7-8479-af6719a4508b.PNG)

[2017-03-09 12:19] azwreith commented on #480
@teryhill
It works almost globally, save for a few exceptions.
In the Appointments section of patient info:
![screenshot from 2017-03-09 17-36-46](https://cloud.githubusercontent.com/assets/10354323/23749850/2a4f7b00-04f0-11e7-8fc4-38a6ef511606.jpg)
While adding a patient with same first and last name:
![screenshot from 2017-03-09 17-42-00](https://cloud.githubusercontent.com/assets/10354323/23749

[2017-03-09 13:13] pri2si17-1997 commented on #480
Yes @azwreith, the changes are to be made from admin panel. That was my mistake.

@teryhill, apart from @azwreith has mentioned about save button, when you book appointment from calendar, by clicking on time, then this type of interface occurs and that appointment is not getting saved.

![screenshot from 2017-03-09 18-34-52](https://cloud.githubusercontent.com/assets/12952169/23751637/36d23ea0-04f

[2017-03-09 14:54] teryhill commented on #480
@azwreith The "ADD" from the appointments works for me. I just pushed a change for the other items. that you sent. @pri2si17-1997 Your issue is a setup issue, how ever I did find an issue that needs to be addressed and am looking at it. @azwreith , @pri2si17-1997 and @nileshprasad137 Thanks y'all for the help I really appreciate it.

[2017-03-09 14:55] aethelwulffe commented on #480
I have no issues anywhere...however I have no idea where to start with checking RTL formats.  Anyone here have an RTL language in their mental toolkit?

[2017-03-09 14:56] teryhill commented on #480
I have not looked at rtl yet so that aught to be fun

[2017-03-09 15:11] aethelwulffe commented on #480
Sounds like we need a new calendar...hmmm...

[2017-03-09 18:36] tmccormi commented on #480
why have you guys hijacked this issue for an unrelated test process?

Tony McCormick, CTO
www.mi-squared.com
Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo

tóg go bog ē - Best advice from a pub owner in Ireland, to take it easy.

On Thu, Mar 9, 2017 at 7:11 AM, Art Eaton <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercep

[2017-03-09 18:38] tmccormi commented on #480
The issue I opened is an actual bug that needs to be fixed....

[2017-03-09 18:51] aethelwulffe commented on #480
The bug, from what I understand, was related to date issues, and globals...but yes, it looks like (possibly) Terry may have posted to the wrong issue.  I guess that is an issue with reply by email.

[2017-03-09 18:58] tmccormi commented on #480
This is the fix i need to make.  Going to patch libreehr_rel101 right away

`diff --git a/interface/patient_file/summary/demographics.php b/interface/patient_file/summary/demographics.php
index 7074e82..c22b84f 100644
--- a/interface/patient_file/summary/demographics.php
+++ b/interface/patient_file/summary/demographics.php
@@ -1610,7 +1610,7 @@ expand_collapse_widget($widgetTitle, $widgetLabel, $

[2017-03-09 19:38] tmccormi commented on #480
The bug is related to missing the date parameter in the call to the function oldEVT...  and yes this is an email tangle.   I'm inclined to create a new issue for my bug and rename this one, but I'm not clear what to rename it to.

[2017-03-09 20:08] teryhill commented on #480
Just delete it,
On Thursday, March 9, 2017, 2:38:17 PM EST, Tony McCormick <notifications@github.com> wrote:
The bug is related to missing the date parameter in the call to the function oldEVT... and yes this is an email tangle. I'm inclined to create a new issue for my bug and rename this one, but I'm not clear what to rename it to.

—
You are receiving this because you were mentioned.

Reply to

[2017-03-09 20:09] teryhill commented on #480
your bug was fixed in PR#481 and merged by you

[2017-03-09 21:00] aethelwulffe commented on #480
That's what I thought.   I am getting really really confused.

[2017-03-09 23:00] teryhill opened #485 "add_edit_event.php Date comparison"
Any help would be appreciated. I am having trouble getting the comparison date in the function at line 1592 function validate(valu) to work with another date format ie dd/mm/yyyy or mm/dd/yyyy.

[2017-03-09 23:57] teryhill commented on #485
working

[2017-03-09 23:57] #485 closed

[2017-03-10 00:54] tmccormi commented on #480
That is why I hate it when issue  and pulls do more that one thing and don't reference the issue# they can from

[2017-03-10 01:16] teryhill commented on #480
Sorry but PR 481 did ref this issue. I connected 483 to and obviously should not have I will do everything one at a time from now on.

[2017-03-10 02:20] tmccormi opened #487 "oldEvt - duplicate function"
We have a version of the oldEvt function in the following file that does not match the new one that is in the demographics.php.

interface/reports/appointments_report.php
145: function oldEvt(eventid) {

Perhaps the function should be in the library ...

[2017-03-10 07:13] pri2si17-1997 commented on #474
Hello @teryhill @aethelwulffe
Addressing #457
What if we work on three tabs only? I mean the first tab for calendar and second tab for patient. Third tab will be default one where any thing such as (Practice Settings, Patient Education Material, etc) will get loaded. Also I would like to say that each tab should be loaded on full screen. Using this we may remove the UI issues like this, where we n

[2017-03-10 07:27] tmccormi commented on #474
This is very mixed up.  Please start a new thread for a new topic.

Tony McCormick, CTO
www.mi-squared.com
Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo

tóg go bog ē - Best advice from a pub owner in Ireland, to take it easy.

On Thu, Mar 9, 2017 at 11:13 PM, Priyanshu Sinha <notifications@github.com>
wrote:

--
Please be aware that e-mail communication can be int

[2017-03-10 11:51] azwreith opened #490 "Tag resizing behaves erratically"
Created this issue since the original one for the resizing tabs was closed. The erratic behavior is caused due to not considering the sum of two tabs as basis for flex-grow. Thanks to @teryhill for noticing it in #420

Will push a commit addressing this soon.

Thanks!

[2017-03-10 13:27] nileshprasad137 commented on #468
@aethelwulffe I have mailed you , asking for sample datasets.

[2017-03-10 17:51] nileshprasad137 opened #494 "No datepicker to choose "start date" and "end date" for medical problems of patients"
Steps to reproduce this issue:
1. Choose a patient.
2. Enter the medical problems or  medications sections and click on  edit .
3. Try to enter begin date or end date. Unexpectedly, no date picker appears there.

I am working on this issue, and i'll send a commit soon to fix this issue.

[2017-03-11 10:57] nileshprasad137 commented on #445
@teryhill Is this report needed to be added here?
![rep](https://cloud.githubusercontent.com/assets/16336390/23822667/68e9df62-0677-11e7-8e42-a381599cd598.PNG)

[2017-03-11 13:20] azwreith commented on #474
Hey @teryhill, can you elaborate more on No. 7 and 8?

[2017-03-11 14:46] teryhill commented on #474
7 The calendar will have a means of remotely checking appointments.

Would be from the New Patient Portal primarily. The expansion to allow for remote checking appointments thru an API would be another project after the calendar project is completed.

8 The calendar will have a waiting list function and a means to create the waiting list independent of the calendar

I some instances , a remote cli

[2017-03-11 16:16] aethelwulffe commented on #474
@tmccormi  This is a discussion, and calendar is the topic.  It does not live in isolation (unfortunately).  The view and the formatting of the new calendar system will have to live in the display environment.  I think a short divergence discussing this is not outside of the topic range.
@azwreith   7 and 8 deal a lot with the patient portal access and anything else that can communicate via a sche

[2017-03-11 17:34] aethelwulffe opened #499 "Legacy variable and naming conventions"
Please add any other variable references that do not have meaning in the current code base:
left_nav
RTop
RBot
freeb
SL or sl_ or other references to SQL Ledger
pn pn_ or other references specifically referring to the post-nuke calendar (in preparation for replacement)

[2017-03-11 17:38] aethelwulffe commented on #418
This has been merged.  Closing issue in an attempt to get us back under 50 issues (personal standard!).

[2017-03-11 17:38] #418 closed

[2017-03-11 17:39] aethelwulffe commented on #282
@teryhill  You moving on this one?

[2017-03-11 17:46] aethelwulffe commented on #383
Do we want to check and set a global for the characterset value?

[2017-03-11 17:53] aethelwulffe commented on #196
I think you got them.

[2017-03-11 17:53] #196 closed

[2017-03-11 17:56] aethelwulffe commented on #480
Is this clean and ready to close, and is the oldEvt issue closable?

[2017-03-11 18:12] teryhill commented on #282
It is still on my list

[2017-03-11 18:13] teryhill commented on #282
I is a form so it cannot be made into a module per Ken

[2017-03-11 18:51] pri2si17-1997 opened #500 "Datepicker accepting string"
Whenever there is any field which is supposed to be of date type, there is date picker, but that field is also taking string in input. This is in reference to #447. Will soon get a fix for it.

![screenshot from 2017-03-12 00-16-07](https://cloud.githubusercontent.com/assets/12952169/23825973/a71df3da-06b9-11e7-86f8-85d9deeb6730.png)

[2017-03-11 19:06] aethelwulffe commented on #500
Do we want to require the date-picker to be used?  Some folks are very keyboard-centric, and touching a mouse slows them down...and even causes errors they would not have made otherwise.
-Me, I like the date-picker!

[2017-03-11 19:09] aethelwulffe opened #502 "Required values in Layout engine not functional."
Steps to repeat:
Add a value to a layout field.  Set it as "required". (such as setting demographics/State)
Do anything else you like, such as adding a default value to the database or anything else.
Use a form (such as add new patient) and leave the value blank.
Form will save.
Only some values, such as first name, last name, gender in the demographics have the proper behavior.

[2017-03-11 20:50] teryhill opened #503 "How do you activate the nation notes module?"

[2017-03-11 22:03] aethelwulffe commented on #503
set the globals['mod_nn'] = true.

[2017-03-12 00:26] #490 closed

[2017-03-12 17:34] pri2si17-1997 opened #504 "Empty data is getting imported"
Steps to reproduce it:
1- Create a patient
2- Then select `Popups->Import`. Click on `import patient`. It will create a alert, but also data is getting imported. (To verify this click on `Patient/Client -> Finder` you will see screen like this:
![screenshot from 2017-03-12 23-02-59](https://cloud.githubusercontent.com/assets/12952169/23834180/16435570-0778-11e7-9711-664a42bc446c.png)
)

This will

[2017-03-13 04:34] rksahu17 commented on #447
@teryhill can i get assigned this bug to me??

[2017-03-13 05:32] rksahu17 commented on #447
@tmccormi sir, can i get invite for gosc2017

[2017-03-13 14:13] aethelwulffe commented on #447
@rksahu17 @pri2si17-1997
Rajesh, My guess is that the current assignee should be approached to see if he needs a collaborator on this issue.  If it is a list of little pieces all over the place that need to be attended to, or if there is no full list of everything to be done, it might be helpful, but we need his input before assigning a second to collaborate with.
Also, make your gsoc requests on

[2017-03-13 15:19] azwreith commented on #420
@aethelwulffe For the tabs follow frames part, where do you suggest tabs which are unlocked go, cuz their frames will disappear.

[2017-03-13 16:11] aethelwulffe commented on #420
@azwreith
Ujjwal, I am not completely sure what you are asking in terms of "go", or I would gladly give you a simple answer.   Since I am not able to, I would ask that you either make this tabbed UI thing work by a design concept of your choice, or lay out the behavior scheme as you currently understand it, then get input.
  Unlocked tabs were originally intended to mean "don't replace me with ano

[2017-03-13 16:58] pri2si17-1997 commented on #500
Hello @aethelwulffe , I was saying that we must not allow string input. As soon as anyone types string, we must indicate that it is invalid input format. So he/she will enter the correct format.

[2017-03-13 17:05] pri2si17-1997 commented on #447
Hello @teryhill @rksahu17

I'm working on it and hopefully will get it. @teryhill I'll let you know if any collaboration needed :)

[2017-03-13 17:07] aethelwulffe commented on #500
You obviously have a handle on this, and yes, I agree with your statement.

[2017-03-13 17:53] pri2si17-1997 commented on #504
@aethelwulffe @teryhill

Some help needed. Do we have to close the iframe (tab) after successful import or at cancel. As this is not working.

[2017-03-13 18:38] azwreith commented on #420
@aethelwulffe Yep you are absolutely right. I'm sorry for asking to be spoon-fed :sweat_smile:
Thanks for the great piece of advice there, I'll keep that in mind for sure. I guess till now I was afraid to make a wrong move, that you won't like my ideas, etc. But yuh I guess making mistakes while coming up with your ideas isn't bad when you guys are there to correct me if I'm going in the wrong dir

[2017-03-13 19:14] aethelwulffe commented on #420
Nobody thinks you, (or any other recent contribs here) have asked to be spoon-fed anything.  You guys have proven you look for your own answers.  The next step was getting you to feel we have confidence in you, and the full weight of your skills and imagination should be brought to bear.
  Personally, I don't think that the "floating" tab looks so bad.  Form must follow function.  I favor keeping

[2017-03-14 03:59] rksahu17 commented on #478
@aethelwulffe sir, do we have to make a new UI for the LibreEHR in this idea??

[2017-03-14 07:42] aethelwulffe commented on #478
The UI is built on the 17 year-old SMARTY template system...so yes.

[2017-03-14 12:54] azwreith commented on #420
@aethelwulffe I had already made the floating tabs thingy, the group tabs screenshot is an edited one in paint ^^" I can implement it but I'm having my mid terms right now so I can only get to it by start of next week. Also, can you and @teryhill look over my proposal draft timeline? It needs more work but your feedback will be extremely valuable ( ͡° ͜ʖ ͡°)

[2017-03-14 13:05] teryhill commented on #480
@aethelwulffe This is closable

[2017-03-14 13:08] teryhill commented on #135
@tmccormi @aethelwulffe  can this be closed?

[2017-03-14 19:23] aethelwulffe commented on #487
This ready to close?

[2017-03-14 19:29] aethelwulffe commented on #135
I guess so.  Doesn't seem important to anyone.
After march, I will be asking Bryan if we can dedicate one of our IP's (we have two we are not actually using) and a good big fat chunk of bandwidth to making a pushable test server pack of vm's.

[2017-03-14 19:29] #135 closed

[2017-03-14 19:30] aethelwulffe commented on #290
Also review the use of the documents tables and the "sequences" table...a table with a single field in it.

[2017-03-14 19:31] #12 closed

[2017-03-14 19:36] tmccormi commented on #487
Yep.  Should open a separate issue for the duplicate function

Tony McCormick

On Mar 14, 2017 7:23 PM, "Art Eaton" <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
information by telephone.  The information contained in this message may be
privileged and confidential. If y

[2017-03-15 10:58] tmccormi opened #512 "Flowboard "Title" does not match Selection for Provider"
The description appears as Appointments for : DOCTOR NAME : Date Range 15/03/2017 to 15/06/2017
Presumably the first dr listed in the users table?   If the selection if for all I should say Appointments for : ALL

Might be better just to drop that text, since it's clear in the selector what has been selected...

![flowboard-title-mismatch](https://cloud.githubusercontent.com/assets/285835/23945394

[2017-03-15 10:59] tmccormi commented on #512
On a similar topic there is no column for the Dr Name when appt is selected to "ALL" so no way to tell who the appt is with easily

[2017-03-15 11:01] tmccormi opened #513 "Canceled Appointments should be listed as Available times in Find Available"
The current logic in Find Available skips times that have canceled appointments.  That seems wrong to me.

[2017-03-15 11:14] tmccormi commented on #512
Hmm, behavior seems odd, the display is not based on the selection but what is actually in the calendar setting.   So I guess this issue is about Documentation, not a "bug"....

[2017-03-15 11:28] tmccormi commented on #349
This is a real issue... here's an example

View at 1st login as admin:
![first-login-admin](https://cloud.githubusercontent.com/assets/285835/23946477/753a523a-0972-11e7-8a8a-405ffd3db561.png)

View after clicking the 'REFRESH" on the calendar tab
![refresh-calendar](https://cloud.githubusercontent.com/assets/285835/23946494/80daa5ea-0972-11e7-8733-0ce0e63720c2.png)

[2017-03-15 16:27] azwreith opened #516 ""Portal Dashboard" page is missing"
Steps to replicate:
1. Go to Miscellaneous -> Portal Dashboard
2. 404 error
3. Profit??

It seems to be looking for a file `/LibreEHR/patients/patient/provider` which doesn't exist.

[2017-03-15 16:45] pri2si17-1997 commented on #516
Yes. I also faced this issue.

[2017-03-15 17:06] aethelwulffe commented on #349
Does this happen when you log in as one of the providers?  The issue is not that it is blank...the issue is that it stops loading after the first provider.  That is why we were not noticing the behavior I bet.  This could be a user preferences issue, an ACL issue, or even a double function or double include call (like to globals).  It could even be a draw issue, since you have the "in" time, then

[2017-03-15 17:12] aethelwulffe commented on #516
That sounds like a terrible directory name scheme from the get-go.  There have been some resource directories changed...but I don't think this was one of them.  @teryhill ?

[2017-03-16 02:19] teryhill commented on #516
@azwreith @pri2si17-1997 @nileshprasad137 @aethelwulffe  the commit was added to the code base 9 days ago. are y'all up to date on the code changes

![capture](https://cloud.githubusercontent.com/assets/4655366/23979024/649e00d8-09cd-11e7-8364-27222af1dcde.PNG)

[2017-03-16 06:24] azwreith commented on #516
@teryhill I checked the `sites/default/menu_data.json` on this repo. It still says
[code]

[2017-03-16 12:11] teryhill commented on #516
do you have the following directory structure?

![image](https://cloud.githubusercontent.com/assets/4655366/23995469/1b06cb96-0a20-11e7-86e0-4ad8c027022d.png)

[2017-03-16 12:58] azwreith commented on #516
@teryhill This is what I get:
![image](https://cloud.githubusercontent.com/assets/10354323/23997200/5e599f1c-0a76-11e7-855f-71b4819c8c9f.png)

[2017-03-16 13:14] teryhill commented on #516
under the directory patient do you have a .htaccess file and does it have correct permissions

[2017-03-16 14:52] azwreith commented on #516
Nope I don't see any `.htaccess` file. Hey what's the filename path of the Portal Dashboard frame you sent above?

[2017-03-16 14:54] teryhill commented on #516
The same as yours.

Look on the repository and see if you see the file.

[2017-03-16 15:09] azwreith commented on #516
Oh wait, stupid me was looking under the `patients` directory not the `patient` directory. The `patient` directory does have the .htaccess file. It has rw-r-r. The github repo doesn't have the `provider` folder either though.

[2017-03-16 15:16] teryhill commented on #516
change the permissions to execute.

[2017-03-16 15:17] teryhill commented on #516
The .htaccess has a redirect in it to the index.html for security reasons.

[2017-03-16 16:14] azwreith commented on #516
@teryhill I got working after enabling `mod_rewrite` by using `a2enmod rewrite`. I guess this can be included in the install instructions revamp PR :)

[2017-03-16 18:23] pri2si17-1997 commented on #447
Hello @teryhill @aethelwulffe

I have made validations to `face-sheet` but I haven't implemented that in main codebase. I want you all to please look at it and tell if this is ok or not.

This partially addresses #420
Addresses #500

Also as soon as user switches to next field, he will get to know that the entry is valid or invalid.

Here is the screenshot of the same :

- User Interface:

![446_1

[2017-03-16 18:26] pri2si17-1997 commented on #447
@teryhill @aethelwulffe

I can implement that in main code base, and make validations for all the forms, but I am not sure whether i'm moving in right direction or not. So I thought of getting it confirmed from you guys, and then proceed.

[2017-03-16 22:40] #494 closed

[2017-03-16 23:42] teryhill commented on #512
this is what it looks like for all

![image](https://cloud.githubusercontent.com/assets/4655366/24023082/68a447c4-0a80-11e7-8b67-5fd899871b6c.png)

This is what it looks like for a selected provider.

![image](https://cloud.githubusercontent.com/assets/4655366/24023116/912bfe94-0a80-11e7-8473-dc6289a17fb1.png)

It appears to me that you do not have the changes that were done to make the "providers

[2017-03-17 19:40] pri2si17-1997 commented on #500
Hello @aethelwulffe @teryhill
Can you please look at https://github.com/LibreHealthIO/LibreEHR/issues/447#issuecomment-287148587
and give your views.

[2017-03-17 22:51] tmccormi commented on #512
It's working fine, I was just confused by the logic

Tony McCormick

On Mar 16, 2017 11:42 PM, "Terry Hill" <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
information by telephone.  The information contained in this message may be
privileged and confidential. If you are N

[2017-03-18 06:02] pri2si17-1997 commented on #78
Hello @teryhill
Can you please explain more on it?

[2017-03-18 15:05] tmccormi commented on #447
While you are there I noticed that if I type a date into the DOB field in this format MM-DD-YYYY it reverts to today's date.   If I type it in YYYY-MM-DD it retains the date typed as is.

[2017-03-18 15:09] pri2si17-1997 commented on #447
Ya, but in this demo(say screenshot) I have made the DOB field `readonly` that will allow only user to pick date from datepicker. So we can avoid entry by typing in.

[2017-03-18 16:28] tmccormi commented on #447
Not a good solution, sorry.  having to click backward a dozen or more times to select a date for someone old is bad.  We must allow text date entry into all Date fields.  relying on a mouse is a bad UI practice

[2017-03-18 16:30] tmccormi commented on #447
As an example, I was born in 1961, I would have to click back on the year 56 times to enter my DOB.  not good.

[2017-03-18 16:32] tmccormi commented on #447
I take that back, it's not AS bad with the new picker, since the year is a scroll selector.   Still better to allow date entry manually.

[2017-03-18 17:09] pri2si17-1997 commented on #447
Hello @tmccormi , that is not the case. It can be done as you want i.e. it can be typed manually. But it should be typed in valid date format viz yyyy-mm-dd | dd-mm-yyyy | mm-dd-yyyy (that should be set globally.) Then it will take the correct date whatever the user will enter. The only drawback is that if any string is typed, then it takes today's date. I have made that readonly to disable string

[2017-03-18 17:30] aethelwulffe commented on #447
Seeing that screenshot with a bunch of red fields is like a breath of fresh air to me...and that is all I can say at the moment.

[2017-03-18 17:31] nileshprasad137 commented on #478
@aethelwulffe Are we migrating from Smarty Template Engine only on `Calender` and `Administration->Practice` or can there be a proposal for a complete revamp of UI throughout ?

[2017-03-19 00:08] aethelwulffe commented on #478
@nileshprasad137 Ujjwal has put out a calendar proposal, but the rest of the SMARTY UI removal and modernization could well be another project.  I would strongly encourage you to put out a proposal for a major UI and perhaps thematic renovation...thereby removing as many legacy holdbacks and "alternate" UI tools as possible while improving function and accessibility of the good, useful, and compre

[2017-03-19 02:52] rksahu17 commented on #445
@teryhill Can you assign this task to me?

[2017-03-19 02:54] rksahu17 commented on #446
@teryhill  I am documenting the installation procedure for windows with xampp soon be having a pull reqst...

[2017-03-19 02:56] rksahu17 commented on #469
how can i get to HCFA 1500 form?

[2017-03-19 02:59] rksahu17 commented on #443
what this 'adjustment codes' mean??

[2017-03-19 03:33] rksahu17 opened #520 "There is no forget password option in the admin page."
we can take the email while installation and send the recovery link to reset password.

[2017-03-19 03:34] rksahu17 commented on #520
@teryhill have a look at this issue.

[2017-03-19 04:15] rksahu17 commented on #446
@teryhill @tmccormi look at the documentation attached pdf(Installation for Windows with xampp
[Installation(Windows).pdf](https://github.com/LibreHealthIO/LibreEHR/files/853015/Installation.Windows.pdf)
)

[2017-03-19 04:27] rksahu17 commented on #446
@teryhill @tmccormi See this Installation documentation on Windows with xampp
[Installation(Windows).pdf](https://github.com/LibreHealthIO/LibreEHR/files/853017/Installation.Windows.pdf)

[2017-03-19 07:17] pri2si17-1997 commented on #447
Hello @teryhill @aethelwulffe

I referenced this for UI and form validation. If there is anything missing, then please let me know. I have used regex to validate all.

[2017-03-19 12:53] nileshprasad137 commented on #478
@aethelwulffe He is already doing the revamp of UI. I just saw his proposal.

[2017-03-19 13:00] pri2si17-1997 commented on #500
Hello @aethelwulffe @teryhill

I want to implement following things and need your help. Please look at it and do comment and correct me wherever i'm wrong. Your views are important for me.

- Validations : Validation of all the forms. Screenshot of one such i posted in #447. This will be helpful as user will get to know the wrong entries and write entries as soon as he/she types.(By marking that i

[2017-03-19 13:05] tmccormi commented on #478
Do put in your own proposal, we like healthy competition :-)

[2017-03-19 13:08] nileshprasad137 commented on #478
Sure ,  I like competition, its just that @aethelwulffe mentioned that, so I wanted to inform him as there could be a possible confusion.

[2017-03-19 14:48] aethelwulffe commented on #478
No-one is going to completely revamp the whole UI in ten weeks...and I am absolutely positive we can coordinate efforts, and as Tony said, the more proposals, the better the work package analysis will be.  Try to keep your deliverables in the proposal as limited as possible.  The better defined the scope, the more coordinated the POAM is, the better the proposal is by definition.
  The UI needs th

[2017-03-19 15:04] aethelwulffe commented on #500
Dude, you are correct on about all points.  I for one also have no problem with you hijacking your own thread to discuss your proposals in short-term (Ujjwal already did), but it is better served elsewhere, as these get buried...
  We would be very very happy to receive a proposal on moving the whole project to PDO.  It is a massive project, as it touches almost everything.  Nilesh and Ujjwal are

[2017-03-19 15:52] aethelwulffe opened #522 "Coordinate GSOC package proposals"
WE have proposals and interest in the following areas (this list will be updated).
Each proposal should result in a document posted in the approved manner.  Discussion should be related to documentation relevant to the specific subject.  Once clean proposal discussion topics are in place, and a PROJECT has been implemented for each proposal, this issue will be closed.

**Calendar Module [remove an

[2017-03-19 20:32] azwreith commented on #522
@aethelwulffe I still can't seem to decide between the Calendar and UI Re-development projects. They both seem so very attractive! :sob:

[2017-03-20 06:16] pri2si17-1997 commented on #500
Thanks @aethelwulffe .

I will rectify it more. :)

[2017-03-20 07:56] rksahu17 commented on #520
@aethelwulffe see this issue
I got this as i forgot my password...hehe

[2017-03-20 08:04] rksahu17 commented on #446
#521 pull request Installation windows guide...

[2017-03-20 14:53] pri2si17-1997 commented on #522
@aethelwulffe
Can you please explain removal of smarty engine? Does it mean to use framework or something else?

[2017-03-20 15:12] aethelwulffe commented on #520
I am not completely following you there, but I think you are saying "Dudes, when you are running the install/setup, there should be an option to do a "breakglass" email setup for password recovery...right?

[2017-03-20 15:14] aethelwulffe commented on #516
Leaving this issue up until it is reported that the instructions...somewhere...have reflected this "gotcha".

[2017-03-20 15:55] aethelwulffe commented on #522
Meaning...we want to just use php or js (native) to display the various input forms that currently depend on the SMARTY template engine.  There is nothing wrong per-se with using a template engine, but the code base does things in a hodge-podge fashion, using every widget that has ever hit the market.  If we do decide to use a framework (minimalist bootstrap, or all the way laravel or something) t

[2017-03-20 15:56] aethelwulffe commented on #522
@pri2si17-1997
@nileshprasad137
Are either one of you interested in tackling PDO?

[2017-03-20 16:00] pri2si17-1997 commented on #522
@aethelwulffe

Yeah, I am interested and would like to work PDO.

[2017-03-20 16:08] aethelwulffe commented on #522
Well, I think I would enjoy seeing your proposal on that, and I strongly encourage Nilesh to hammer together a proposal to calm the hideous appearance of the application.
  I think both factors severely limit the project, and I am grateful that you mentioned PDO.  I think I am going to have to launch a constellation of testing VM's to try to keep up.

[2017-03-20 16:58] azwreith commented on #522
You got it, sir! I already removed all the extra non-calendar stuff from my proposal and now planing to go into real detail with the calendar. Yep I really wanna do everything, but you are right. I must set realistic expectations that I can achieve. So I'll do my best to set a timeline that is optimal and achievable!

[2017-03-20 17:00] nileshprasad137 commented on #522
@aethelwulffe Yes, I have worked with PDO before and am well versed with it. I would also like to say, that there would a month between the last date of submitting proposal and the announcement of results . We can already start work to work on the revamp of UI which would make our work much easier. I have been going through Smarty Template's Documentation for trying to understand its functionality

[2017-03-20 17:05] nileshprasad137 commented on #522
Also during that time, there would not be much academic workload, which could be highly useful for all of us. Till now, I have been taking up really small tasks , but now I think its the time to go deep.

[2017-03-20 17:11] azwreith commented on #522
@nileshprasad137 You are so lucky man. I got my next month filled up with projects, lab exams and then end-sem exams. But yeh, even I would be sending as many PRs as I can now that my mid terms are done (yay!) :yum:

[2017-03-20 17:17] nileshprasad137 commented on #522
@azwreith No, not that lucky . But yeah ,less workload till 15th  or 20th April.

[2017-03-20 18:56] pri2si17-1997 commented on #500
Hello @aethelwulffe

I am asking about registration? Should user registration be included?

If user registration is there, then we could have some good stuffs :)

[2017-03-20 18:58] pri2si17-1997 commented on #522
@azwreith you are right. Same is the case with me ;)

[2017-03-20 19:13] aethelwulffe commented on #500
OK, discipline in ranks sailors!  Put posts in relevant topics PUHLEEZ!  -but yeah, registration...optional...totally optional...is a long-held dream...but totally unrelated to date-pickers!

[2017-03-20 19:16] aethelwulffe commented on #522
@pri2si17-1997 , I thought you were gonna hit PDO?  You? Nilesh?  We are restricted to one proposal per project/participant.

[2017-03-20 19:17] pri2si17-1997 commented on #500
Ya, but I continued this thread only, as I thought I have previously asked in it so  Sorry for that. No such mistakes from next time.

[2017-03-20 19:20] pri2si17-1997 commented on #522
Yes @aethelwulffe , I am going for that only.

[2017-03-20 19:37] nileshprasad137 commented on #522
@aethelwulffe Do you mean if @pri2si17-1997  is going for PDO , I should go for UI redevelopment?. See, I make myself clear here. I am comfortable with PDO as well as UI redev.   I think we can submit multiple proposals to a single organisation and I can assure you that I have the time to write two proposals after Thursday of this week ,when my mid-term get over. Please don't misunderstand that I

[2017-03-20 20:07] aethelwulffe commented on #522
I got some bad info from the folks on the forum then....  Should have gone to the source!
OK, free-for-all!  fire away!
-I ain't no competitor...just a survivor.  I do the whole team thing when it comes to fighting.

[2017-03-20 20:09] tmccormi commented on #522
What we can't do is have two people on the same project.

Tony McCormick

On Mar 20, 2017 8:07 PM, "Art Eaton" <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
information by telephone.  The information contained in this message may be
privileged and confidential. If you ar

[2017-03-21 10:27] rksahu17 commented on #520
yes,i was suggesting any means of password recovery.

[2017-03-21 16:11] azwreith commented on #522
I don't think we can submit more than one proposal to the same organization either

[2017-03-21 17:20] pri2si17-1997 commented on #522
Hello @aethelwulffe , can you please tell that is backward compatibility to be maintained? I mean do you guys still prefer to use php versions below 5.5 (viz 5.3)?

[2017-03-21 17:44] aethelwulffe commented on #522
php7+  That is it.

[2017-03-21 17:53] pri2si17-1997 commented on #522
ok.. :+1:

[2017-03-22 12:27] teryhill opened #523 "Statements are double printing"
Statements are double printing. They are form breaking on the second date of service.

[2017-03-22 13:14] #523 closed

[2017-03-22 17:09] aethelwulffe commented on #443
Billing adjustment codes.  It is a very deep medical billing thing, and you have to have a pretty general understanding of medical practice management (or at least accounting) to make sense of it.  The adjustment codes are in an array in a file that I could hunt down for you, but the fields that use it are in the tables ar_activity, ar_session, and billing.

[2017-03-23 17:50] teryhill opened #525 "Making the report columns sort-able."
Have been toying with this and this is just showing it works and is pretty easy to setup and get working.

[2017-03-24 16:42] azwreith commented on #522
@aethelwulffe I just submitted my draft. Do take a look please! :smile:

[2017-03-24 17:43] nileshprasad137 commented on #522
@aethelwulffe Yes, take a look at my proposal too!  :smiley:

[2017-03-24 18:09] pri2si17-1997 commented on #522
@aethelwulffe I have also submitted the proposal. Please do have a look at it :)

[2017-03-24 18:59] robbyoconnor commented on #522
@aethelwulffe, @tmccormi, @teryhill -- these should have been copied to the forums. I don't acknowledge them as project ideas. We're not gonna have fragmentation like this.

[2017-03-24 19:09] robbyoconnor commented on #522
Students: The only proposal is the Practice Appointment Calendar project, @pri2si17-1997 and @nileshprasad137 proposed projects for objectives for this project. Rework your proposals.

Discussion MUST happen on the Forums!

[2017-03-24 19:11] robbyoconnor commented on #522
We will likely only get 2 slots -- so only make proposals for the projects listed on our ideas page at https://forums.librehealth.io/ideas

[2017-03-24 19:18] robbyoconnor commented on #522
The projects at https://forums.librehealth.io/ideas is the canonical source. Closing this.

[2017-03-24 19:19] robbyoconnor commented on #522
Discussion should happen on that thread!

[2017-03-24 19:53] downeym commented on #522
Hi folks. 😄 Just a reminder to please keep further discussions around GSoC student proposals on the main forums so other potential students can see them, as well as for a clear overall status of all the LH potential GSoC projects. Thanks!

[2017-03-24 20:27] robbyoconnor commented on #522
Also, apologize for the heavy-handedness @aethelwulffe

[2017-03-25 15:27] navendu29 opened #527 "Error on Portal Dashboard"
There is an error occuring on Portal Dashboard
1.Go to Miscellaneous -> Portal Dashboard -> Audit Changes
   It gives "An unknown error occured"
2.Go to Miscellaneous -> Portal Dashboard -> Patient Mail
   It gives "Error: Table 'libreehr.onsite_mail' doesn't exist"

[2017-03-25 15:38] aethelwulffe commented on #527
onsite_mail not found in the /sql directory.
Grep
LibreEHR\patients\lib\portal_mail.inc(22,58):         $n = sqlQueryNoLog("SELECT MAX(id) as newid from onsite_mail");
LibreEHR\patients\lib\portal_mail.inc(26,35):     return sqlInsert("INSERT INTO onsite_mail (date, body, owner, user, groupname, " .
LibreEHR\patients\lib\portal_mail.inc(51,5):     onsite_mail AS p
LibreEHR\patients\lib\portal_mail