[2018-08-13 15:35] aethelwulffe commented on #1223
Good job @C-Sto
Welcome aboard!
-Art

[2018-08-13 15:42] aethelwulffe commented on #1210
I was just playing with the patient portal the other day @C-Sto .  No, "Physician" isn't admin, though it is treated as a pretty high level access, often including the ability to do certain admin tasks...but there should be a specific ACL group that is allowed to modify the templates.  If the templates are able to execute a wide range of code, yet must be capable of being modified, this should be

[2018-08-13 15:47] aethelwulffe commented on #774
Yes, and not posted.  Well, there was one fix, but I need to get that out today.  Still working on my mail list.
  Please post a line from the bad output here to ensure I get the algorithm corrected.

[2018-08-13 17:33] C-Sto commented on #1210
@aethelwulffe Patient portal registration is broken in the current repo version

https://github.com/LibreHealthIO/lh-ehr/blob/5b5f427c4742f901e426f17325fb0aaf8209e0bb/patient_portal/account/register.php#L492

'patientdata' page does not exist. What is the most recent release that has a working patient portal? Or what can I do to manually set up a patient that can interact with the portal?

[2018-08-13 17:38] aethelwulffe commented on #1210
You must configure the location in globals/patient portal

On 2018-08-13 13:33, C_Sto wrote:

[2018-08-14 16:41] muarachmann commented on #1138
Ok @aethelwulffe roger that

[2018-08-15 15:20] Trodrige opened #1226 "Dropdown menu of some forms are hidden"
<img width="1279" alt="librehealth_ehr" src="https://user-images.githubusercontent.com/16147419/44156008-c25687ec-a0a6-11e8-8622-b0c1c98aff2a.png">

Replicate: Select a patient -> select an encounter -> select review of systems checks form under clinical.

[2018-08-16 17:20] aethelwulffe opened #1227 "Artwork"
Art, (me) missing in action.  My shoulder is pretty messed up, and I cam't sleep enough to work even when I am tryimg to tough it out.  sorry guys.

[2018-08-16 17:37] tmccormi commented on #1227
I can do them as GSOC admin...

Tony McCormick, CTO
www.mi-squared.com Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo
-Verba volant, scripta manent

On Thu, Aug 16, 2018 at 10:35 AM, Terry Hill <notifications@github.com>
wrote:

--
Please
 be aware that e-mail communication can be intercepted in
transmission
or misdirected. Please consider communicating any sensitiv

[2018-08-16 17:54] teryhill commented on #1227
Mine are done.
    On Thursday, August 16, 2018, 1:37:07 PM EDT, Tony McCormick <notifications@github.com> wrote:

 I can do them as GSOC admin...

Tony McCormick, CTO
www.mi-squared.com Support: 866-735-0897, Direct: 713-574-6709
My Calendar: http://bit.ly/XznvDo
-Verba volant, scripta manent

On Thu, Aug 16, 2018 at 10:35 AM, Terry Hill <notifications@github.com>
wrote:

--
Please
 be aware that

[2018-08-17 08:19] 2208Abhinav opened #1228 "Review of Systems and Review of Systems Checks forms not working"
1)Go to patient
2)Open any encounter
3)Under **Clinical** you will find the forms named **Review of Systmes** and **Review of Systems Checks**
![issue](https://user-images.githubusercontent.com/30211121/44255493-e8515700-a223-11e8-9557-5227646707d8.jpg)

When you fill any of these two forms and click Save nothing happens.

[2018-08-18 02:46] muarachmann commented on #1226
@Trodrige have you got @RAJAGOPALAN-GANGADHARAN merged in your master ?? if so i think thats where the pb is coming from. See my own screen .
![screenshot from 2018-08-17 19-43-30](https://user-images.githubusercontent.com/16350814/44295052-3b9cc700-a26f-11e8-98d6-7a073197bbb2.png)

Or rather try to get the latest code. I think you are still on his brach something of the sort and i dont think it w

[2018-08-18 02:47] muarachmann commented on #1226
I must admit here i am clicking before the menu drops so just tell me if you hovering or clicking. Then we could get the issue maybe some z-indexing will do :wink:

[2018-08-18 03:11] muarachmann commented on #1228
@2208Abhinav , @aethelwulffe looking keenly at this here is the code being outputted but i cant see the action the form submits. cause 1.) there is no submit button in the form 2) there is no javascript/jquery that attempts to handle the submit like say `$("#save").click(fucntion(e){ prevent form from submiting and do some stuffs first.});` reason why that button cant give anything. Take a look at

[2018-08-18 03:14] muarachmann commented on #1228
All what i see is this at the head `<form method=post action="/ehr/interface/forms/reviewofs/save.php?mode=new" name="my_form" onsubmit="return top.restoreSession()">` of which i doubt if that form is actually being submitted

[2018-08-18 03:25] muarachmann commented on #1228
I dont know if what i have done is correct(i mean i was to check for validations etc). Here is what i got when the `<input id="save" type="button" class="cp-submit">`  was given a `type="submit"`. It works well and submits. Just that when nothing is cheked or placed it still submits. @aethelwulffe , @teryhill please clarify this to know the necessary form validation to be done before a submit is d

[2018-08-18 03:32] muarachmann commented on #1223
Great @C-Sto , @naveen17797  youve got this :smiley:

[2018-08-23 23:27] teryhill opened #1229 "Tag's code runs always impacting performance of certain screens"
The tags system is not controlled via a globals switch to turn it on and off, This causes performance hits on large systems. Started with the most obvious screen demographics.

[2018-08-23 23:35] tmccormi commented on #1229
We have performance update coming for tags that we just deployed to a customer today ... just FYI

[2018-08-23 23:43] teryhill commented on #1229
Does it include the ability to turn it off, I know Ken did not think the collapsing of it on the demographics screen was needed?

[2018-08-23 23:47] tmccormi commented on #1229
It's a module.  Delete the directory and it's "off".  Option to turn it off is ok too, I guess but might not be needed in the near future if the reason is performance.

[2018-08-24 00:00] teryhill commented on #1229
If you delete the module what happens when do_action gets called

[2018-08-24 00:09] tmccormi commented on #1229
nothing, if there is no code the action just moves on.  That't the whole purpure of the do_action hooks

[2018-08-27 21:37] teryhill opened #1231 "2019 ICD10 Codes"
They are on the CMS website. Will be looking at them to update the system.

[2018-08-30 16:30] teryhill commented on #818
This is done and the report generator is here. Closing this

[2018-08-30 16:30] #818 closed

[2018-08-30 16:33] teryhill commented on #755
@tmccormi any thing to add to this or can it be closed. The new setup , does it address this?

[2018-09-04 18:43] tmccormi opened #1237 "DISCUSSION: Version PHP file is not optimal"
The old method of tracking version / release information is not being used in any real sense of the word.
The intended model was to allow detection of "upgrade to database needed" as well as "tested for production".

We aren't using the database upgrade detection at all and we haven't done a 'production' release in a long time.

The questions are:

- Do we need this in it current format?
- Are the

[2018-09-04 19:01] teryhill commented on #1237
I don't think we need the file it self it serves no real purpose. I think the updater that @naveen17797 did can handle the updates. I would like to keep the manual updates just as a backup in case something does not fire quite right with the automatic ones .

[2018-09-04 19:10] tmccormi commented on #1237
It is currently used to display the version on the login. but that is minimal and could be displayed as a "lated update installed" date (and source branch) or something.

[2018-09-05 17:52] tmccormi commented on #1229
@teryhill I think your change and Kens have both been merged now.  Closing this.

[2018-09-05 17:52] #1229 closed

[2018-09-05 17:52] #1227 closed

[2018-09-16 18:38] #1138 closed

[2018-09-16 18:38] #1139 closed

[2018-09-16 18:39] #1152 closed

[2018-09-16 18:39] #1140 closed

[2018-09-16 18:39] #1146 closed

[2018-09-16 18:40] #91 closed

[2018-09-16 18:40] #290 closed

[2018-09-16 18:41] #657 closed

[2018-09-16 18:42] #625 closed

[2018-09-16 18:46] aethelwulffe commented on #986
There is plenty of issue and dev related to this going on right now, and I am pretty sure it was addressed.

[2018-09-16 18:46] #986 closed

[2018-09-16 18:46] aethelwulffe opened #1241 "LIMS setup"
Forwarded from a user:

Do I replace it or I add it?
What happens when two items are the same?  For example setuptools= and zc.builddout=  ?

To install SENAITE LIMS, you have to add senaite.lims into the eggs list inside the [buildout] section of your buildout.cfg:

[buildout]
parts =
    instance
extends =
    http://dist.plone.org/release/4.3.17/versions.cfg
find-links =
    http://dist.plone.o

[2018-09-19 00:11] muarachmann opened #1243 "BatchCom Tab not displaying"
Tab title not being shown.
Click on **Miscellaneous > BatchCom**

![kazam_screenshot_00041](https://user-images.githubusercontent.com/16350814/45723384-07bf0500-bb7f-11e8-882d-af08897786b1.png)

[2018-09-19 00:31] muarachmann opened #1244 "Larry's sms/email notification"
@aethelwulffe , @Trodrige , @tmccormi , @teryhill
Came across this in the codebase. Is this an implemented feature or??
Issue open for discussions

[2018-09-26 10:48] SangeetaNB commented on #1114
@Trodrige I can see that it is still not resolved. May I work on this issue? Thanks :smile:

[2018-09-27 20:33] muarachmann opened #1246 "Calendar opens on medication outcome select (Resolved)"
**What issue is all about:**
The calender gets opende when the medication field outcome - resolved is selected from the dropdown which is undesirable

**Steps leading to issue:**
Select a patient > Go to medication > Add new > Click on the dropdown for outcome > select resolved

**Screenshots**
![screenshot from 2018-09-27 21-26-01](https://user-images.githubusercontent.com/16350814/46172894-c0b5c

[2018-09-27 20:34] muarachmann commented on #1246
@aethelwulffe , @Trodrige can any of you add labels to this thanks. I would have but i aint got sufficient permissions for that

[2018-10-01 15:10] naveen17797 opened #1247 "Suggestion: Switching ui to angular js"
the ui is almost old, based on my experience with angular js it seems to be better suited for angular js, we could implement a material design, any one with me?
@apooravc @Trodrige @2208Abhinav @muarachmann
any suggestions @teryhill @tmccormi @aethelwulffe

[2018-10-01 15:31] naveen17797 commented on #1247
the tabbed system ui of libre ehr @aethelwulffe, we could add material design and angular js to make the application really user friendly.Because it seems bit old, it also reduces the significant amount of backend code.
Here is a preview :
https://material.angularjs.org/latest/

[2018-10-01 15:42] naveen17797 commented on #1247
The idea is to make PHP acts like an API, the ui sends get, post request to PHP and php doesnt do any other operation.I mean it removes the responsibility of php to produce output by echoing out the html tags,and also writing jquery functions to handle click events.In short it could improve the app a lot.
i have built a project with this and it works really cool
[crow cms](https://github.com/navee

[2018-10-01 15:48] aethelwulffe commented on #1247
Watched to cool video.
Does this help us get more data on the screen at one time?  Will the "quantum paper" idea promote use for folks primarily operating with dual screens with a keyboard interface?
I am seeing lots of examples in the "Material Design" using touch screen and small display.  Any examples of use where it promotes power-user use of, say, an accountant comparing 5 different things at

[2018-10-01 15:49] muarachmann commented on #1247
@naveen17797 any prototypes

[2018-10-01 15:50] aethelwulffe commented on #1247
OK, I am going to start with stealing "Crow" for a site I need to stand up... Muahahahahaahah!

[2018-10-01 15:58] naveen17797 commented on #1247
i havent used any material design in crow, but a simple implementation of angular js, crow uses json file as database and displays all posts with angular js by parsing JSON.
Live demo [https://naveen17797.github.io](https://naveen17797.github.io)
this is how the site will look after implementing crow

[2018-10-01 15:59] muarachmann commented on #1247
hmmmmmm @aethelwulffe we could use laravel with angular

[2018-10-01 16:01] aethelwulffe commented on #1247
Then join the "Laravel port +angular" thingie we have had going on for a really really long time.  :)

[2018-10-01 16:02] naveen17797 commented on #1247
@muarachmann @aethelwulffe i will try to convert a smaller portion of software to angular for a demo.

[2018-10-01 16:17] aethelwulffe commented on #1247
Try the vitals form...?

On 2018-10-01 12:02, naveen wrote:

[2018-10-01 16:18] naveen17797 commented on #1247
Sure :relaxed:

[2018-10-01 16:19] naveen17797 commented on #1247
can you give me the location of it? @aethelwulffe

[2018-10-01 16:28] aethelwulffe commented on #1247
interface/forms/vitals.
Suggest we drop vitalsM, as you can do either one with the /vitals form.  Isn't that right @teryhill  ?
Here are the form registry (basic installed forms) that the default sets up:
[code]
Of these re-installed forms, the two review of systems forms, speech dictation (which is a single dumb text box) and the SOAP form (which is four dumb text boxes) should die or be replaced

[2018-10-01 16:32] aethelwulffe commented on #1226
Mua has a related PR, right?  please link.

[2018-10-01 16:33] aethelwulffe commented on #1224
Authorized user hack possible.  Anyone care to address this?

[2018-10-01 16:35] teryhill commented on #1247
The clinical instructions is a low tech form also and should be retired or at least removed from being loaded every time. Actually in the version I use only the Encounter, fee sheet, misc billing form and annotatable Diagram s are pre loaded.

[2018-10-01 16:51] aethelwulffe commented on #1228
If it is submitted empty, that is fine.  Editing or having no results to report is important.  Actually, there should always be a "negative results" report like "Patient reports no issues" sort of thing if nothing is in the fields.  If it is used as a "must validate each line" then you need yes/no options and then the form should be checked for completion...but STILL be saved, and the report shoul

[2018-10-03 19:58] tmccormi commented on #1120
@naveen17797 @aethelwulffe not having any luck figuring our how this this is supposed to work.  We need a README doc in the documentation directory at least on how to set this up so it works.
The github API token video is not enough... :-)

For instance what does this mean?   I clone the master and it's running as normal in var/www .
![permissions](https://user-images.githubusercontent.com/285835/

[2018-10-03 20:19] muarachmann commented on #1120
@naveen, @tony I remember telling naveen to make an alert to the user so
that they can know its a file persiin and they chmod. We could include this
in the setup process so that users don't encounter this error in feature.
@Art what do u think

On Wed, Oct 3, 2018, 20:58 Tony McCormick <notifications@github.com> wrote:

[2018-10-03 21:04] tmccormi commented on #1120
The alert exists, but it does not say what files have permission issues ...

[2018-10-03 21:06] muarachmann commented on #1120
yeah i remember telling him this in the chat. @naveen17797 you could create a dialog box beneath to explain more on the error. Just like you did for invalid token so that user knows

[2018-10-03 21:14] aethelwulffe commented on #1120
so who's permission is it trying to use?  I would have assumed www-data in the typical case.  There is apparently an issue with that.

[2018-10-03 22:15] aethelwulffe commented on #1243
That is perhaps because your theme is set to "Light"?
Light does not work, yet it is our default on install.  Dump light theme, and we might be fine.  Light has issues in appointments and a number of other places where there are tab labels.

[2018-10-03 22:18] muarachmann commented on #1243
Nope on install/re-install i always choose prism. I found a way to fix it. But i have messed up my branch trying to do some rebase i have alot of PRs pending

[2018-10-04 19:19] tmccormi opened #1249 "Calendar Fatal error in master branch commit 24e2ce0"
Getting a fatal error related to izmodal on my Ubuntu 16.04LTS
![calendar-notworking](https://user-images.githubusercontent.com/285835/46497539-ba25d780-c7cf-11e8-9617-6a3b9a49b8c4.png)

[2018-10-04 19:32] tmccormi commented on #1249
There is no "css" directory in the interface directory ... (and there shouldn't be)
GET http://localhost/lh-ehr-dev/interface/css/userdata.css net::ERR_ABORTED 404 (Not Found)

code:
[code]
Seems like the relative path is getting borked somewhere.

[2018-10-04 19:34] tmccormi commented on #1249
@aethelwulffe you were the last person to touch that particular line of code... :-)

[2018-10-04 19:36] tmccormi commented on #1249
find . -name userdata.css
./interface/main/tabs/css/userdata.css

[2018-10-04 19:52] aethelwulffe commented on #1249
So you are saying the move of templates to /sites.  Gotcha.  Checking.

[2018-10-04 20:00] aethelwulffe commented on #1249
Actually, never noticed this stuff.  Guess I should look and see why it would seem like I touched it in the past.  Don't recall.

[2018-10-04 20:04] aethelwulffe commented on #1249
So, originally when I noticed the error, the line was .../../css/userdata.css
I looked at it, and said "oops, someone gots too many dot thingies!  Delete one, good to go!
Wrong.

[2018-10-04 20:04] aethelwulffe commented on #1249
that was #1150

[2018-10-04 20:14] aethelwulffe commented on #1249
Third dot had been introduced in https://github.com/LibreHealthIO/lh-ehr/commit/8f381b1cea811d07abf830849bc84067d8222883#diff-37bf90ba2e40d4f1442aa9d79a04a24a

#653 sort of indicates that this was a boo-boo in the tabs code from day one....???

[2018-10-04 21:11] tmccormi commented on #1249
Path is fixed the real problem (with calendar) appears to be in the module drag and drop code by @apooravc

![index-token](https://user-images.githubusercontent.com/285835/46503302-54414c00-c7df-11e8-97f9-42153b8f0db5.png)

[2018-10-04 21:17] tmccormi commented on #1249
I don't see anything obvious in this bit of code
![drag_copy](https://user-images.githubusercontent.com/285835/46503628-34f6ee80-c7e0-11e8-9171-505571109a72.png)

[2018-10-04 21:31] tmccormi commented on #1249
I think since it was css, that it failed (all along) and I only found it because I was looking that to Console debugger for the real problem.

[2018-10-04 21:41] aethelwulffe commented on #1249
I looked at all the .ajax and all the stuff in the jsonData variable data packet.  I don't see any issues there so far.

[2018-10-04 21:48] aethelwulffe commented on #1249
error status function defined more than once.  I don't understand the scope (private etc...) so not sure if that could result in a parse error.

[2018-10-04 21:55] aethelwulffe commented on #1249
There is a default value for errorString if one of the preceding conditional statements does not fire.  I don't know if there is a type restriction on the value for status and error.  In other languages, I would expect (pseudocode):
`if (isstring(status)) {errorString .=string(status);}` but know nothing about no JS really.

[2018-10-04 21:58] aethelwulffe commented on #1249
Non-ascii characters in the code, at least in comments:  eventâ€™s

[2018-10-05 00:33] tmccormi commented on #1249
I'll try and get one of them js geeks I have to take a look.

[2018-10-05 18:39] tmccormi commented on #1249
Is anyone else having the problem I posted about, ie: the calendar is blank (first screen shot).. presumably because of this syntax error?  @teryhill @aethelwulffe

[2018-10-05 18:45] tmccormi commented on #1249
I get the same result in Chrome or FireFox.  This is the firefox cosole message

[code]

[2018-10-05 18:54] tmccormi commented on #1249
As a test, I reverted the to the previous commit and the problem goes away
... so this commit is broken @apooravc
24e2ce0 Event drag-resize-copy feature (#1199)

[2018-10-05 19:20] aethelwulffe commented on #1249
Revert.  Must have been the last commit somehow.  It sure is cool when
it is working!  I never had *one* issue.

On 2018-10-05 14:54, Tony McCormick wrote:

[2018-10-05 19:33] tmccormi commented on #1249
Done:
git reset HEAD^ --hard
HEAD is now at 808e46f change modal refresh (#1206)
tony@DragonFire:/opt/gitrepos/lh-ehr (master)$ git push origin -f
Total 0 (delta 0), reused 0 (delta 0)
To https://github.com/LibreHealthIO/lh-ehr.git
 + 5505095...808e46f master -> master (forced update)

[2018-10-05 19:34] tmccormi commented on #1249
I'll reapply the minor CSS fix in a separate commit

[2018-10-05 23:41] teryhill commented on #1249
The Drag and Drop version I have is working great on my system and a client system. I am not sure what the issues are and it will be some time before I can test the repo code. Reverting it is most likely the best thing until.........

[2018-10-07 09:29] besong23 commented on #1246
Hello guys, I will like to work on this issue

[2018-10-07 09:45] muarachmann commented on #1246
@besong23 go ahead

[2018-10-07 13:55] besong23 commented on #1246
Okay so after looking through the code the function outcomeClicked() turns to set the End Date value to current date so I have two ways of going about this,
I can remove the function call as well as the function definition since it looks like the function is being called just ones OR I can remove just the function call and leave the function definition since I don't know if it might be needed late

[2018-10-07 14:35] muarachmann commented on #1246
We dont want to define functions id they arent being use. There is no point to that. Do what you have to do to fix the issue and make a PR. From there we will review your code and tell you what you ought to do and not. As for finding a suitable method thats up to you 😃

[2018-10-07 14:54] muarachmann commented on #1246
Oh @aethelwulffe , @besong23 my bad. I didn't think this twice. When an issue is marked resolved, it should be ended and that is why it auto fills the form with the end date marking this stuff over. The issue to resolve here is preventing the opening of the calendar but that field (end date) should be filled with the current date of filling the issue. @besong23 hope you get it now. Let me give you

[2018-10-07 15:00] besong23 commented on #1246
So that means it isn't at issue after all right?

[2018-10-07 15:05] muarachmann commented on #1246
You should learn to read @besong23 I said we want the field filled but the calendar is not to popup

[2018-10-07 15:07] besong23 commented on #1246
Ah okay. Sorry about that :-)

[2018-10-07 15:10] muarachmann commented on #1246
And i gave you a tip. Its a one line issue stuff **"a focused field will draw attention to itself in all the form."**

[2018-10-07 16:06] besong23 commented on #1246
@muarachmann I have opened a pull request for the issue

[2018-10-08 15:11] aethelwulffe commented on #1246
Referencing local PR #1252
Functional test needs to verify operation of all related forms.
-Good job @besong23, and welcome to our team!

[2018-10-08 15:27] aethelwulffe commented on #1246
[SERIOUS MODE ON]
-I will get this test done this afternoon.  Sorry for a delay.

[2018-10-08 15:33] muarachmann commented on #1246
You are right @aethelwulffe had a tough day but cool. roger that

[2018-10-08 15:56] aethelwulffe commented on #1246
@muarachmann Remember you can always download your troubles on us in the chat room!  We will listen!

[2018-10-09 10:21] besong23 commented on #1226
@muarachmann I will have a look at this.

[2018-10-09 12:36] muarachmann commented on #1226
@besong23 i think this issue is already handled by @RAJAGOPALAN-GANGADHARAN . You just got the latest codes try and see if you get the same stuffs. If yes then take a look

[2018-10-10 06:04] besong23 commented on #1226
Okay

On Tue, 9 Oct 2018 at 13:36, muarachmann <notifications@github.com> wrote:

[2018-10-10 06:05] besong23 commented on #1226
ok, let me check

[2018-10-11 16:02] naveen17797 commented on #1120
Wondering why i didnt get email notification on this thread from github.Just navigated to github home page and saw this thread was active before 8 days.
@tmccormi like adding instruction below each option?

[2018-10-11 20:07] tmccormi commented on #1120
@naveen17797  Something, I still have not been able to make it work at all. very unclear what I'm supposed to do.  for instance: Does the install have to run out of the git clone?  (not what I normally do at all).

[2018-10-11 20:10] tmccormi commented on #1120
The video only references getting a git API Token.  Does it assume that repo is my fork or the master upstream? Could we use a generic anonymous user token (doctors offices are not going to have github accounts)

[2018-10-11 20:12] tmccormi commented on #1120
Simple written, step by step instructions on how a developer should install the code and get the updater running would be good.  Videos are not as much use as just a document

[2018-10-11 20:57] azbarcea opened #1255 "[Feature request] Docker images"
# Feature Description

Develop and support Dockerfiles to ease settinging up LibreHealth EHR. The Release _pipeline_ can build the docker images and offer them as official images.

Together with `docker-compose.yml`, they can offer a platform ease development, testing, evaluation process, deployments.

The goal is to have an image that would allow somebody to test and deploy (using Docker) `libreh

[2018-10-11 21:01] teryhill commented on #1255
Wrong group. this is the EHR group not the radiology group.

[2018-10-11 21:07] tmccormi commented on #1255
@teryhill It is the correct Group.  Alex is working on the UNF grant to containerize LibreEHR

[2018-10-11 21:07] tmccormi commented on #1255
Not sure why the "Radiology" note is here though

[2018-10-11 23:28] azbarcea commented on #1255
I thought multiple _profiles_ (sets of data) would be beneficial ...

[2018-10-11 23:33] tmccormi commented on #1255
I'm afraid we have no idea what you are talking about.   Very few of us have any experience with Docker, so we'd love to hear what this means.

[2018-10-12 02:27] azbarcea commented on #1255
If the [README.md](https://github.com/LibreHealthIO/lh-ehr/pull/1256/files#diff-a489144702a723431811d56a3c44690a) is not sufficient, I can also provide the screenshots.

There are few _Warnings_. I look forward for advice how set it up better :sparkles:

[2018-10-12 02:36] muarachmann commented on #1255
@azbarcea are you trying to install EHR using docker???

[2018-10-12 02:38] naveen17797 commented on #1120
**Does it assume that repo is my fork or the master upstream?**
Every update is made from this repo https://github.com/LibreHealthIO/lh-ehr
you can adjust the endpoint in settings.json and tell the updater to point to which repo, for example if you need to point to your forked repo, you can edit the following details.
[code]

[2018-10-12 02:49] azbarcea commented on #1255
I think the actual installer is `setup.php`. Yes, EHR will run in `Docker`.

[2018-10-12 02:50] muarachmann commented on #1255
And what are the advantages/disadvantages of this feature?? we will love to hear about docker

[2018-10-12 20:08] azbarcea commented on #1255
It adds support for another _packaging_ type (`docker`) and adds another distribution channel. If automated and integrated with docker official images in brings visibility and support for cloud deployments.

Also, if anybody would like to try LibreHealth, it would take literately 5 minutes to have an instance running (pre-requisite docker) without the need to know anything about LibreHealth. You c

[2018-10-13 00:43] azbarcea commented on #1255
In order to have _all configuration data to be stored outside of the application container_, what is the list of all these configuration folders (or individual files), that the community would like to see them in a volume? I presume not all configurations is beneficial to be outside the container image, because if it is, the upgrade could become trickier. The data from a volume doesn't get overwri

[2018-10-13 21:33] tmccormi commented on #1255
Essentially almost all of the contents of the sites/* directory is stuff that should be on a shared volume. At least the following should be separated (this will require us to make some minor code changes;

Alex, not expecting you to do these code changes.  MI2 will do these.  If you have some best practice hints happy to see them.

sqlconf.php is the Database access config

This start empty at in

[2018-10-13 21:36] aethelwulffe commented on #1255
sites/filemanager is a SANDBOXED application.  Either it can function as
per-site code, or as cross-site code, but not both.

On 10/13/2018 05:33 PM, Tony McCormick wrote:

[2018-10-13 21:41] tmccormi commented on #1255
@aethelwulffe  couldn't we sandbox access to the the filemanager/files dir but not the code that writes to it?

[2018-10-17 12:42] besong23 commented on #1226
![screenshot from 2018-10-17 13-40-36](https://user-images.githubusercontent.com/43523259/47086811-675a1000-d212-11e8-9fb4-8fd3f3bb4040.png)
@muarachmann  I also have the same issue.
Sorry, I have been a bit occupied with school work lately.

[2018-10-17 15:40] muarachmann commented on #1226
No worries @besong23 school is priority number one. We do welcome your efforts 😃

[2018-10-17 16:50] tafodinho commented on #1255
@azbarcea I will be interesting in working with you on "dockering" up EHR

[2018-10-17 22:43] azbarcea commented on #1255
@tafodinho: glad to have any of your feedback or contributions. Feel free to create PR against the #1256, or comment on that PR.

[2018-10-17 22:55] azbarcea commented on #1255
@tmccormi, the best-practices are driven by the lifecycle of the artifacts. I always think of 4 different types of them:
* code
* config
* data
* _docs_

For the _docs_ part, you don't care to have it in this container, maybe a different one, with `lh-toolkit`, API etc. So lets not discuss here about it :smile:

For **config**, there are 3 different ideas:
* either do Configuration Management usin

[2018-10-18 00:46] aethelwulffe commented on #1255
We need to pull the MIPS stuff as well as that file manager out and put
it into a separate repo.  The file manager, which is a per-site thing,
is so sandboxed it can't breath, which is why it was deployed there.

I will get it out very soon.  None of the required update PR's for the
module were getting merged anyway.

On 2018-10-17 18:55, Alexandru Zbarcea wrote:

[2018-10-18 00:56] aethelwulffe commented on #1255
Actually, all the letter templates and stuff, *most of which is pure
junk*, should be pared down massively.  We do not need print-to-fax
system bits left over from when there was actually some sort of hylafax
component that I think can't be used any more anyway.  All else need not
actually exist until it is actually required, and most folks don't use.

The menu, as recently discussed, should have

[2018-10-18 11:44] azbarcea commented on #1255
This is all great news. As I understand it involves now refactoring (clean-up) in the code-base, too. Does this container, as it is, help in any way?

[2018-10-18 12:33] aethelwulffe commented on #1255
I actually have no idea why you would want an image that contains
pre-set dependencies when you are trying to run a project that keeps up
with the base LAMP stack and nothing else myself.  If we were including
other packages with cool useful stuff that is non-canonical, like the
latest and greatest PHPmyAdmin, then sure, but we are just running a
basic up-to-date here.  I am of the understanding t

[2018-10-18 20:59] azbarcea commented on #1255
I think you're proposing different container stacks, based on different use cases. This container doesn't solve your developer (`PHPmyAdmin`) needs.

Feel free to add more details and we all should be able to prioritize.

[2018-10-19 13:12] aethelwulffe commented on #1255
Oh, I am not actually proposing multiple container building (at this
time).  You are doing right by concentrating on an MVP here. Chances are
that it will be the only one that is needed.

On 2018-10-18 17:05, Alexandru Zbarcea wrote:

[2018-10-20 16:37] tmccormi opened #1259 "Improve the performance of the User Activity Report"
Current report works but is very slow when showing more that 1 month worth of data.   See attached system monitor screen shot.

![slammed](https://user-images.githubusercontent.com/285835/47258141-c2c31280-d44b-11e8-8242-a2fbd9b43a49.png)

[2018-10-20 16:48] tmccormi opened #1260 "Need NHANES SQL files in the repo"
Adding NHANES SQL baseline data to the repo for use in the EDU projects as well has for example data.

- 77912869 Oct  4 11:46 sql/libreehr_nhanes.sql.gz

This is a full database dump (including user accounts) (admin/password), it should be refined as a add-on that does not include installation specifics.  but this will do for now.

[2018-10-20 16:49] tmccormi commented on #1260
commit a7fde7b349af10fc2e34607a6e1cb5f696115871

[2018-10-20 16:49] #1260 closed

[2018-10-20 17:55] tmccormi commented on #1249
This is back again.  I had removed/reverted this commit and now it in the master again...  not sure why.
24e2ce0 Event drag-resize-copy feature (#1199)
M       library/appointments.inc.php
M       library/encounter_events.inc.php
A       modules/calendar/drag_copy_event.php
A       modules/calendar/fullcalendar-rightclick-1.9/LICENSE.txt
A       modules/calendar/fullcalendar-rightclick-1.9/README.

[2018-10-20 21:04] tmccormi commented on #1249
This has been reverted (again).   Please make sure your master branches are up-to-date

[2018-10-28 15:17] azbarcea commented on #1255
@tmccormi, @aethelwulffe, @robbyoconnor, @tafodinho - with latest commits, I think we have an initial, workable solution, for having LibreHealth EHR running in a `docker` container.

I hope you can find these containers useful. Do you use LibreHealth with `docker` currently? Do you see yourself using `docker` to manage `librehealth-ehr` deployments and upgrades or even for development/testing ?

[2018-10-29 01:51] teryhill opened #1265 "System allows creation of multiple encounters on a DOS"
Currently the system allows creation of multiple encounters on a DOS when auto creating an encounter. If you set the status of an appointment to arrived and have the auto generate encounters checked in globals the encounter will be created, however if you change the status to something else and save then go back in and change the status to arrived it will create another encounter.

[2018-10-29 04:48] robbyoconnor commented on #1255
I plan to review your PR tomorrow Monday.

[2018-10-29 20:57] tmccormi commented on #1265
Is the fix just for that problem?  IE: Auto encounters, because creating more than one encounter per visit (manually) is normal for many practices

[2018-10-29 21:01] teryhill commented on #1265
Yes just for auto encounters. They should only create i encounter per appointment automatically.

[2018-10-29 21:07] tmccormi commented on #1265
merged

[2018-10-29 21:07] #1265 closed

[2018-10-30 11:54] azbarcea commented on #1255
thank you @robbyoconnor for your reviews. I addressed them at the [pull-request:1256](#1256) level.

[2018-10-30 22:20] growlingflea commented on #1244
I am currently working on an updated SMS tool for OpenEMR which should easily work for LibreEHR as well.  I replaced the archaic php files and am using the Clickatel API.  There is also an improved logging and reporting tool that gives up-to-date information about the status of sent messages.  Right now the code only works for Clickatel.

[2018-10-31 07:15] robbyoconnor commented on #1255
@azbarcea one of the things you missed is the fact that sites didn't have a volume created. I tweaked your docker image but you did a pretty good job! It just got quicker for me to fix the remaining minor issues myself rather than waiting for the feedback loop.

I published the images to the GitLab container registry using GitLab CI and updated the docs and for now, it's one image -- but kudos for

[2018-10-31 07:16] robbyoconnor commented on #1255
and we can add adminer in a separate container -- that's pretty easy to do :)

[2018-10-31 17:12] tmccormi commented on #1255
@robbyoconnor Regarding: I really should set up one that is an empty EHR database with an admin user so it becomes truly turnkey!

--> I agree, this is actually how we build the windows XAMPP installation package.  It's one preinstalled zip file with the empty EHR DB.

[2018-10-31 21:17] aethelwulffe commented on #1244
This is a working feature, but it requires a 3rd party subscription that is rather...costly.  Thus, it was not included.  As a separate clean module directory, it would be totally cool to sit there, just not wrapped up in stuff and useless to most folks just on a cost/benefit ratio.  A full open source tool adaptable to whatever 3rd party service is used would be the best thing.  Personally, I don

[2018-10-31 21:22] teryhill commented on #1244
Dr Ray's solution will do SMS E-mail and Voice and is already integrated into the code, Just a suggestion. He also has other options. His price points are changing also.

[2018-10-31 22:30] robbyoconnor commented on #1255
I'll get right on that and set that up!

[2018-11-01 23:31] robbyoconnor opened #1274 "Missing git submodule is throwing the repository into a weird state"
I found the culprit [here](https://github.com/LibreHealthIO/lh-ehr/tree/master/interface/tags_filters/vendor/twitter).

[2018-11-02 04:45] tmccormi opened #1275 "Clinical Reports enhancement"
The two new clinic reports need a useability enhancement.  The column head search filter boxes are TINY compared to the width of the columns.

Please make the search box dynamically sized to match or nearly match the width of the data below.

This will help make it obvious to users the these are meant to be used not graphic blips on the screen.

![dx-nhanes](https://user-images.githubusercontent.c

[2018-11-02 04:46] tmccormi commented on #1275
Files in question ... might be in the CSS though...

42494bd - diags pulls from lists, not issue_encounter table.  Can search by age range (#1269)
M       interface/reports/clinical_stats_by_demographics_report.php
M       interface/reports/lab_stats_by_demographics_report.php
M       interface/reports/username_report.php
M       library/ajax/clinical_stats_and_lab_stats_by_demographics_report_aja

[2018-11-02 19:20] #1223 closed

[2018-11-03 00:03] robbyoconnor commented on #1274
@tmccormi looks like you were the one who merged this in.

[2018-11-03 00:28] teryhill opened #1277 "Dynamic Finder needs field checking"
If you add a field that does not exist in patient_data to the Patient List Columns list the dynamic finder will give a json error. This fix will check the list against the fields in the table . The fields name is allowed to appear (It helps find it in the list)

[2018-11-03 14:05] naveen17797 commented on #1259
How to get to this screen ? @tmccormi

[2018-11-03 17:17] tmccormi commented on #1259
Admin->Other->User Activity Report

[2018-11-04 02:36] naveen17797 commented on #1259
can i get the data of the table @tmccormi ?

[2018-11-04 02:42] tmccormi commented on #1259
It's the Nhanes data.. located in sql/nhanes
user: admin/password

Tony McCormick, CTO
www.mi-squared.com Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo
-Verba volant, scripta manent

On Sat, Nov 3, 2018 at 7:36 PM naveen <notifications@github.com> wrote:

--
Please
 be aware that e-mail communication can be intercepted in
transmission
or misdirected. Please conside

[2018-11-04 05:12] naveen17797 commented on #1259
weird problem, imported nhans data and it some how altered my credentials.Is there any default  credential to login?

[2018-11-04 20:34] tmccormi commented on #1259
yes its a full reloaded database with its own creds which is why i have you
the admin/password

Tony McCormick
Medical Information Integration

On Sat, Nov 3, 2018, 10:12 PM naveen <notifications@github.com wrote:

--
Please
 be aware that e-mail communication can be intercepted in
transmission
or misdirected. Please consider communicating any sensitive
information
by telephone.  The information c

[2018-11-05 05:29] C-Sto commented on #1224
Strange, the .htaccess file should have prevented execution on my system too.

 I suspect it might be possible to overwrite it with the right parameters, which would then allow execution.

[2018-11-05 17:37] tmccormi commented on #1274
There should not be any .gitmodules in our repo.
That folder had no content...  So I have no ideal what you are talking about.

/opt/gitrepos/lh-ehr/interface/tags_filters/vendor/twitter/bootstrap (master)$ ls -la
total 8
drwxrwxr-x 2 tony tony 4096 Jun 13 22:18 .
drwxrwxr-x 3 tony tony 4096 Jun 13 22:18 ..

How do you reproduce this error, I'm not seeing it in anything I do.

[2018-11-05 17:43] tmccormi commented on #1259
YEs, that is the issue and it was discussed in the orginal issue #1257

[2018-11-05 19:31] tmccormi commented on #1274
I have no idea what 'projectile' is or how and why it's being used.   It's not part of LibreEHR.  Is it part of the CI/CD you are trying to setup or something?

[2018-11-05 19:32] robbyoconnor commented on #1274
It's an emacs project-management minor-mode :)

[2018-11-05 19:32] robbyoconnor commented on #1274
It's not related to LibreEHR but it _DID_ turn up a missing submodule -- we need to either add the submodule or nuke the folder, I chose to nuke the folder as I didn't know which version to add.

[2018-11-05 19:36] tmccormi commented on #1274
@kchapple Since Tags is your baby, can you weigh in here?  Is it OK to remove this asset?

[2018-11-05 19:42] robbyoconnor commented on #1274
@tmccormi the issue is that it's not there -- what we _COULD_ do is add the proper commit as a submodule and fix it that way...but the asset doesn't actually exist...look at the link on github -- you'll see it points nowhere.

[2018-11-05 20:35] kchapple commented on #1274
Remove it I suppose. I have no clue how it got there. I used submodules one time in a project about 10 years ago and that's it. They're a mess.

[2018-11-05 20:47] #1274 closed

[2018-11-05 23:34] tmccormi opened #1281 "Demographics vs. Lab Results is very slow."
Demographics vs. Lab Results is very slow simply because each patient has about 10 lab tests. Just checking to see if there is any option to speed this up. - Bob Hoyt.

This is using the nhanes data and the new report:  Reports->Client->Clinic Statistics: Demographics vs. Lab Results

[2018-11-05 23:35] tmccormi commented on #1281
Same infrastructure as the User Activity Report @naveen17797

[2018-11-06 12:41] naveen17797 commented on #1281
85,312 entries are loaded up in a single query which caused the problem.We need to remove the pagination from frontend and add LIMITS 0, $pageLimit via PHP
i see the issue is assigned to @growlingflea , can i patch it or is he  working on it?

[2018-11-06 17:39] tmccormi commented on #1281
You can work on it. he hasn't started yet.

Tony McCormick
Medical Information Integration

On Tue, Nov 6, 2018, 4:41 AM naveen <notifications@github.com wrote:

--
Please
 be aware that e-mail communication can be intercepted in
transmission
or misdirected. Please consider communicating any sensitive
information
by telephone.  The information contained in this message may
be
privileged and confid

[2018-11-06 22:01] tmccormi opened #1282 "SQL Upgrade Fails on Demo (NHANES) - LIMS"
ERROR: query failed: CREATE TABLE `lims_analysisrequests` ( `id` int(11) NOT NULL AUTO_INCREMENT, `procedure_order_id` int(11) NOT NULL COMMENT 'references procedure_order.procedure_order_id ', `analysisrequest_id` varchar(80) NOT NULL COMMENT 'refers to analysis request id in the lims', `status` text NOT NULL COMMENT 'received, processing, complete', PRIMARY KEY (`id`), UNIQUE KEY `id` (`id`)) EN

[2018-11-06 22:10] tmccormi commented on #1282
Missing semi-colon, did this not get tested?
Fix pushed and merged
04beb4f Fix SQL update issue #1282
M       sql/2_0_0-to-2_0_1_upgrade.sql

[2018-11-07 00:18] tmccormi commented on #1281
Don;t get these two issues mixed up :-)

[2018-11-07 00:38] #1282 closed

[2018-11-07 03:07] prondubuisi commented on #1215
Hello @tmccormi can I work on this Issue?

[2018-11-07 05:42] tmccormi commented on #1215
by all means

Tony McCormick
Medical Information Integration

On Tue, Nov 6, 2018, 7:07 PM Onyemenam Ndubuisi <notifications@github.com
wrote:

--
Please
 be aware that e-mail communication can be intercepted in
transmission
or misdirected. Please consider communicating any sensitive
information
by telephone.  The information contained in this message may
be
privileged and confidential. If you are

[2018-11-10 23:22] tmccormi opened #1286 "Themes not consistently implemented"
The themes in rel_101 were consistent colors across (nearly) all parts of the UI, now it appears they only apply to some things (like demographic summary)

REL_101:
![tan-theme-rel101](https://user-images.githubusercontent.com/285835/48307179-6445fd00-e4fc-11e8-83ac-a4c4dddd0b63.png)

DEVTIP:
![tan-theme-devtip](https://user-images.githubusercontent.com/285835/48307181-6c05a180-e4fc-11e8-817f-d45c

[2018-11-10 23:50] tmccormi commented on #1286
The original stable release branch.

Tony McCormick
Medical Information Integration

On Sat, Nov 10, 2018, 3:26 PM muarachmann <notifications@github.com wrote:

--
Please
 be aware that e-mail communication can be intercepted in
transmission
or misdirected. Please consider communicating any sensitive
information
by telephone.  The information contained in this message may
be
privileged and confide

[2018-11-11 00:01] muarachmann commented on #1286
Okay can i know what is required to do here? Making the them uniform?? If so i can handle it just need more insights

[2018-11-11 00:34] tmccormi commented on #1286
A "theme" should apply to every part of the UI consistently... it's a tall order and it does not (and should not be done "all at once".

I would say pick a menu item (for instance).  Make sure it is using the themes and that each theme actually works with that menu item.   do a PR on that and then move to the next menu item ...

[2018-11-11 00:36] tmccormi commented on #1286
My mistake, I think the stable demo was REL200 - https://github.com/LibreHealthIO/lh-ehr/tree/libreehr_rel200 but same-same

[2018-11-11 00:41] muarachmann commented on #1286
okay i will see into this. Thanks

[2018-11-11 06:55] muarachmann commented on #1286
Here is what i get when i choose tan. I guess the theme for tan is the brown color background. If so @tmccormi confirm this so i start working on this

![screen shot 2018-11-11 at 7 53 08 am](https://user-images.githubusercontent.com/16350814/48310054-f72b7980-e586-11e8-91a2-203e43d23379.png)

[2018-11-20 02:13] robbyoconnor opened #1290 "PHP 5.6.x and 7.0.x are reaching the end of their support lifecycle"
The choice of whether or not to support PHP 7.1.x or later is being removed as an option since it will [no longer be supported](http://php.net/supported-versions.php) on **31 Dec 2018** for **5.6** and **3 Dec 2018** for **7.0.x**.

[2018-11-20 02:15] robbyoconnor commented on #1290
This needs to be treated as a high priority issue -- sorry for the heavy-handedness here.

[2018-11-20 18:45] tmccormi commented on #1290
That's fine.

[2018-11-20 20:37] jonathanzhang53 opened #1291 "Table Tab Values Not Visible in Patient Demographics and Notes"
**GIF:**
![tabserror](https://user-images.githubusercontent.com/41968151/48667593-65989c00-ea9f-11e8-8f72-f4de56f990f0.gif)

As you can see, the tabs do not have their values show up until they are clicked, and when a tab is clicked off of, the text disappears again.

**Replicate:**
Create a patient or have an existing one.
Go to that patient's profile by using Patient/Client > Add New/Search and

[2018-11-20 20:38] jonathanzhang53 opened #1292 "No Hover Capability on Tabs on an Encounter Page"
**GIF:**
![tabhover](https://user-images.githubusercontent.com/41968151/48667666-1c494c00-eaa1-11e8-8bc3-2d3d3f13df3a.gif)

As you can see, the tabs may be clicked to reveal menu items but the menu items should reveal upon hover like everywhere else in the project.

**Replicate:**
Create a patient or have an existing one.
Make that patient active by selecting them through Patient/Client > Add New/

[2018-11-20 21:59] robbyoconnor commented on #1290
@tmccormi -- I just wanted to make sure that the code is compatible by that date -- which is fast approaching.

[2018-11-20 23:45] tmccormi commented on #1290
it was ported to 7.1 a while back

Tony McCormick
Medical Information Integration

On Tue, Nov 20, 2018, 1:59 PM robbyoconnor <notifications@github.com wrote:

--
Please
 be aware that e-mail communication can be intercepted in
transmission
or misdirected. Please consider communicating any sensitive
information
by telephone.  The information contained in this message may
be
privileged and confiden

[2018-11-21 00:44] jonathanzhang53 commented on #1292
I can work on this.

[2018-11-21 00:44] jonathanzhang53 commented on #1291
I can work on this

[2018-11-21 04:57] jonathanzhang53 commented on #1291
@muarachmann

I found the issue but I'm unsure how to approach it. I am still testing within the demographics table in the patient summary.

Each tab is a `li` and the `li` tab that has `current` class attached to it will have blue text. All other tabs have white text. When I inspect and add in the `current` class to each tab, the blue text appears. You can find the code for the demographics table

[2018-11-21 05:04] Trodrige commented on #1291
@jonathanzhang53 try other themes and see what happens. Great work!!!

[2018-11-21 05:05] Trodrige commented on #1291
I opened an issue to handle this problem some time ago.

Note: the different themes in the system make it a little difficult to work on styling most times. There is always a work around. Great job @jonathanzhang53

[2018-11-21 05:09] jonathanzhang53 commented on #1291
@Trodrige thanks for the reply! I will definitely look into some more stuff tomorrow. It's bedtime for me. I still am confused on why changing style_light.css is not applying my changes though. I searched the whole project for tabNav styling and that's the only one I could find. 😢

[2018-11-21 15:36] jonathanzhang53 commented on #1291
Well I have even tried deleting the whole style_light.css file and the formatting still stays the same. huh.

[2018-11-21 15:50] jonathanzhang53 commented on #1291
Wow that took me like 6 hours to find one error in a css. Any tips for finding future bugs just to make it easier for me to narrow down what is causing the problem?

[2018-11-21 21:20] robbyoconnor commented on #1290
Okay :) I'm happy to hear this :)

[2018-11-22 04:50] Trodrige commented on #1291
Sorry I couldn't help earlier @jonathanzhang53

You just have to keep searching for the bugs and ask your questions here.

[2018-11-22 06:18] Trodrige opened #1295 "This theme's (Tan with no colors) button is not well displayed."
<img width="1279" alt="librehealth_ehr" src="https://user-images.githubusercontent.com/16147419/48884951-bf45f100-ee26-11e8-99b3-44a5f90e93ca.png">

[2018-11-22 18:42] Trodrige opened #1296 "Dropdown hides behind content"
<img width="1269" alt="librehealth_ehr_11" src="https://user-images.githubusercontent.com/16147419/48918676-80e41c80-ee8e-11e8-843f-0d16a33fada6.png">

[2018-11-23 03:15] jonathanzhang53 commented on #1295
@Trodrige check the theme_assets folder in interface/themes/theme_assets to see the images. They are not very good looking buttons :)

I can try and solve this by changing the button image. Will probably do it as a GCI task though 😄

[2018-11-23 09:13] Trodrige commented on #1295
Go ahead @jonathanzhang53

[2018-11-23 18:45] jonathanzhang53 commented on #1295
Ok, so this exists in style_pdf, style_purple, style_tan_no_icons css files. Looking into it right now.

[2018-11-23 18:59] jonathanzhang53 commented on #1295
@Trodrige Ok so this error exists also in the messages tab shown below:
![image](https://user-images.githubusercontent.com/41968151/48957617-46769000-ef1f-11e8-918e-c13b94469b19.png)

I was able to fix both of the buttons by adding a `<span>` and a `iframe` class. However, this fix would require me to go to every instance and do this. I can search the project for instances of `css_button` class an

[2018-11-23 19:08] jonathanzhang53 commented on #1295
@muarachmann also (see above)

[2018-11-23 19:19] jonathanzhang53 commented on #1295
Also, the `add profile picture` and `edit profile picture` buttons (depending on whether you have a pic uploaded or not) are encapsulated by a <label> tag, so those might require a change in css. I'll see what I can do.

[2018-11-23 20:16] muarachmann commented on #1295
@jonathanzhang53 ehmmmmm we did some UI revamping some time ago (team Alpha) never mind..... try adding `cp-positive` for buttons that make positive actions and `cp-negative` for negative actions. See what you get

[2018-11-23 20:18] muarachmann commented on #1295
This is a lil handy... check it here https://docs.google.com/document/d/1itWOLbC5xII8yArCaZE4LwzUpt_JwioKjdlg3yA8eg8/edit

[2018-11-23 20:54] jonathanzhang53 commented on #1295
![image](https://user-images.githubusercontent.com/41968151/48960081-a1b07e80-ef2f-11e8-8751-82c187111615.png)

Ok, so this portion is fixed, but I bet there are other buttons across the codebase that are cut off also @muarachmann @Trodrige should I submit a PR for this one button fix or search across codebase more.

[2018-11-23 22:32] jonathanzhang53 commented on #1295
## `css_button` class Issue List:

#### Directory- lh-ehr/interface/...

- patient_file/summary/demographics.php [FIXED]
- main/messages/messages.php [FIXED]
- Line 551 patient_file/encounter/superbill_custom_full.php*
- Lines 203, 206 patient_file/history/track_appointments.php*
- Lines 217 usergroup/usergroup_admin_add.php*

**Special:** Lines 521, 523 usergroup/usergroup_admin.php (cp-positive

[2018-11-23 22:43] #1277 closed

[2018-11-23 23:57] #1243 closed

[2018-11-24 06:45] muarachmann opened #1298 "Lab Overview title not displaying"
Tab shows unknown on click of the Lab overview menu.

### Steps to reproduce this ###

Click on the following **Procedures > Lab Overview**

### Expected behaviour ###
Lab overview tab should open with title Lab overview

### Actual behaviour ###
Shows unknown title tab bar

![screen shot 2018-11-24 at 7 44 51 am](https://user-images.githubusercontent.com/16350814/48965407-e20a0e00-efbc-11e8-9d12-

[2018-11-24 07:25] muarachmann opened #1299 "Fix broken Link : Administration > Alerts menu"
Page shows blank on clicking this link, title tab shows unknown. Probably the link is not properly referred to or breaks on fetching the intended page.

### Steps to reproduce this ###
Click on Administrative > Alerts menu

### Expected Behaviour ###
Should show a page of the related menu

### Actual behaviour ###
Broken page observed , blank screen

![screen shot 2018-11-24 at 8 25 10 am](https:/

[2018-11-25 16:07] jonathanzhang53 commented on #1298
cool! cool! more ehr issues!

[2018-11-25 16:19] muarachmann commented on #1298
@jonathanzhang53 can you handle this :)

[2018-11-26 13:02] MigDinny commented on #1296
@Trodrige  done! :) keep adding EHR tasks, wanna work on this project for the rest of GCI :p

[2018-11-26 16:38] Vishwas-Adiga opened #1301 "Incorrect label on calendar tab after search panel closed"
![normalcalendar](https://user-images.githubusercontent.com/28251020/49028132-b149f480-f1c7-11e8-85dc-40a3fec2b7f4.JPG)
Normal calendar tab
![searchmode](https://user-images.githubusercontent.com/28251020/49028133-b149f480-f1c7-11e8-9753-eca413b025cf.JPG)
Tab text changes when search button is clicked
![backtocalendar](https://user-images.githubusercontent.com/28251020/49028134-b149f480-f1c7-11e8-

[2018-11-26 16:44] Vishwas-Adiga opened #1302 "FAB doesn't close when focus is lost"
![fabnotclosing](https://user-images.githubusercontent.com/28251020/49028382-42b96680-f1c8-11e8-9e69-38329a180747.JPG)
The Floating Action button expands when hovered on, but doesn't collapse even when another button is clicked on.
Expected behaviour: FAB collapses when another button is clicked, when the mouse is hovered over any other element, or when the action performed by the FAB is finished.

[2018-11-27 20:59] punwai commented on #1302
I've made a fix here https://github.com/LibreHealthIO/lh-ehr/pull/1303

[2018-11-27 21:36] MigDinny commented on #1301
working on this one!

[2018-11-28 00:01] jonathanzhang53 commented on #1298
I made a commit to this, but I will make a PR when I claim the GCI bug task :)

[2018-11-28 03:16] jonathanzhang53 commented on #1275
I have found a fix! Will submit as a PR when I can claim a bug task :)

[2018-11-28 20:52] #1296 closed

[2018-11-30 22:13] jonathanzhang53 opened #1308 "Dropdowns Hide Behind Encounter Content"
## Description

Trying to access the rightmost menus when having a patient selected reveals the dropdown but it is covered by the encounter menu.

## Reproduce

Login to EHR locally.
Make a patient if one has not been made already.
Select the patient through Patient Finder.
Hover over the `QA Measures` menu option to see the issue.

## Fix

Could be something similar to #1296

## GIF

![hide](http

[2018-11-30 22:13] jonathanzhang53 commented on #1308
I can work on this for my GCI task.

[2018-12-01 00:39] jonathanzhang53 opened #1310 "Fields Not Filled Error Clears Form Data in Orders and Result Types"
## Description

When you make a new top level in Orders and Result Types, you can purposely not fill out all the fields and save but it clears all the data that you have filled in.

## Reproduce

Login to EHR locally.
Go to Procedures > Configurations.
Click Add Top Level Button.
Fill out some information in Name or whatever you like, but leave a field blank.
Click save and see that it clears all

[2018-12-01 00:39] jonathanzhang53 commented on #1310
I'll work on this for my GCI task.

[2018-12-01 00:52] teryhill commented on #1310
The system is telling you to fill out all the fields. Be careful that you don't fix a process and introduce a bigger problem.

[2018-12-01 00:53] jonathanzhang53 commented on #1310
@teryhill I understand. This still qualifies as an issue right?

[2018-12-01 00:57] teryhill commented on #1310
@jonathanzhang53  that will be up to the stake holders of this community, I was just making an observation.

[2018-12-01 00:59] jonathanzhang53 commented on #1310
@teryhill I see. I will see what I can do without tampering with the existing functionality :)

[2018-12-01 01:34] jonathanzhang53 commented on #1310
I've looked through the code for this product iframe. It seems that the clearing of form data after a validation error is thrown is normal for forms like these. It isn't really an error in the code, just a feature that may or may not be useful if added in. Currently, there aren't any other errors besides filling in all the inputs, so closing this for now.

[2018-12-01 01:34] #1310 closed

[2018-12-01 02:11] muarachmann commented on #1310
@jonathanzhang53 like terry said be careful not to introduce a bigger pb :)

[2018-12-01 02:12] jonathanzhang53 opened #1311 "File Manager Tab Needs Restyling"
Currently, the File Manager tab is poorly formatted and has an abrasive gray background.

![image](https://user-images.githubusercontent.com/41968151/49323104-47d62880-f4dc-11e8-9935-3dd56927c112.png)

[2018-12-01 02:13] jonathanzhang53 commented on #1311
I can work on this. But first, what are thoughts on how I should restyle, or is that up to me and then mentors will comment on it? @Trodrige @muarachmann

[2018-12-02 11:13] punwai opened #1313 "Navbar is overlapped by Title"
How to recreate:
Minimize the browser until the Title is overlapping with the navbar elements. This will Overlap the navbar elements. This breaks the hovering of the navbar.
![fix1](https://user-images.githubusercontent.com/28529491/49411927-9563c700-f762-11e8-9489-55f8c863d1ba.gif)

[2018-12-02 11:13] punwai commented on #1313
I will work on this

[2018-12-02 15:33] muarachmann commented on #1313
@punwai to what size are you resizing?

[2018-12-02 15:57] MigDinny opened #1314 "Style.php overrides some theme configs"
Last year I created the PRISM theme for a GCI Task. Some colors were overriden by style.php system. The idea is nice but its override on other theme's settings can break user experience.

![image](https://user-images.githubusercontent.com/6632800/49341792-5cd0ca00-f64a-11e8-9c95-0d5a35d55a5d.png)
![image](https://user-images.githubusercontent.com/6632800/49341795-60fce780-f64a-11e8-8eb6-c3314ec149

[2018-12-02 20:00] punwai commented on #1313
@muarachmann Around 3/4th of my screen

[2018-12-03 17:00] Trodrige opened #1316 "Error exporting reports to CSV"
Reproduce this:
- Click on 'Reports' and select 'Patient List' or any other report.
- Click 'Submit' and Export to CSV.

<img width="1270" alt="librehealth_ehr" src="https://user-images.githubusercontent.com/16147419/49388473-4dbe4a80-f724-11e8-8607-5dccb60df546.png">

[2018-12-03 19:55] muarachmann commented on #1316
@Trodige i dont have this issue mine exports well

[2018-12-03 19:57] muarachmann commented on #1316
![screen shot 2018-12-03 at 8 56 53 pm](https://user-images.githubusercontent.com/16350814/49398249-0a70d580-f73e-11e8-851f-d983eaf1a244.png)

What i just got with a newly installed EHR

[2018-12-04 01:14] punwai opened #1317 "Tabs titles are not visible"
<img width="489" alt="screen shot 2018-12-04 at 01 11 17" src="https://user-images.githubusercontent.com/28529491/49411728-f0e18500-f761-11e8-90d8-51e28856c2d4.png">
How to reproduce.
Patient/Client > Finder > _Select a user_ > Demographics OR Notes
The tab is only visible when it is selected. Because this is recurring, I recon it is a problem with the stylesheet

[2018-12-04 01:33] punwai commented on #1317
I think I will be able to work on this

[2018-12-04 01:40] punwai commented on #1313
@muarachmann I've sent a pull request

[2018-12-04 02:05] teryhill opened #1319 "Removed un-used calendar files."
There are files that are hold-overs from the old PostNuke calendar system. I removed them.

[2018-12-04 03:11] punwai opened #1321 "Administration > Rules Unknown Page"
<img width="556" alt="screen shot 2018-12-04 at 03 08 33" src="https://user-images.githubusercontent.com/28529491/49416482-fe067000-f771-11e8-9ced-224f4c2b6211.png">
A page in the code is broken. After checking the URL the iframe redirects to (/lh-ehr/interface/super/rules/index.php?action=browse!list), it seems like the URL is correct but the php is incorrect.

[2018-12-04 03:58] robbyoconnor commented on #1317
It's an open bug until you fix it.

[2018-12-04 04:40] jonathanzhang53 commented on #1299
I can work on this :)

[2018-12-04 04:42] jonathanzhang53 opened #1323 "Cp-Misc Background on Links"
Go to Administration > Other > Language

![image](https://user-images.githubusercontent.com/41968151/49419468-91c54580-f74c-11e8-8294-636cd84b7ab9.png)

These are likely meant to be buttons or just harmless links, but they are colored out due to the cp-misc class attached to them.

[2018-12-04 04:43] jonathanzhang53 commented on #1323
I can work on this but @muarachmann @Trodrige any input on whether I should change cp-misc, remove it, or apply some sort of override, or maybe make them into buttons?

[2018-12-04 07:53] punwai commented on #1299
@jonathanzhang53 Don't worry about doing this. I realized it was a similar problem I encountered. Removed all instances of it from the code.

[2018-12-04 07:54] punwai commented on #1299
https://github.com/LibreHealthIO/lh-ehr/pull/1324

[2018-12-04 14:00] bauripalash opened #1326 "Horrible Bengali (বাংলা) Language Translation"
## Problem

While checking the bleeding age demo, as soon as I shifted to Bengali Language, I was horrified the translation was horrible , most of them were wrong.

**Example:**
**Message and Reminder Center** Tab is translated to **মেসেজ** which is just **Message** written in Bengali Alphabets.

## Possible Fix :
If a little guidance provided I can improve the Bengali Language Translations.

[2018-12-04 14:49] bauripalash opened #1327 "Patient Export from Popups menu returns unexpected 404"
## Problem
While exploring the interface of the EHR, I tried clicking **Export** from **Popups** and got an unexpected 404.
Seems like it is trying to call an absent file `export_xml.php` from `custom` directory

### Screenshots:
<img src="https://user-images.githubusercontent.com/16154204/49449616-4caf1b00-f801-11e8-8c69-51a38e2aabc2.png" width="50%">

[2018-12-04 16:51] Trodrige commented on #1316
@muarachmann  and @jonathanzhang53 please make sure you have the latest version of the code. I still have the same error after the pulling the code, master branch.

[2018-12-04 17:03] Trodrige commented on #1327
If my memory isn't failing me here, this file was deleted. Just saying.

@bauripalash the same thing happens when you click on Popups->Import.

It appears custom/export.xml and custom/import.xml are missing.

[2018-12-04 17:12] Trodrige commented on #1327
It seems there's a couple of files missing from the system. Click on QA Measures-> XML Editor

<img width="1278" alt="librehealth_ehr" src="https://user-images.githubusercontent.com/16147419/49459714-f84f6f80-f7ef-11e8-85a4-9440ad110f51.png">

[2018-12-04 17:39] bauripalash commented on #1327
@Trodrige so best way to fix these?

[2018-12-04 17:45] Trodrige commented on #1327
We need to know what those tabs show when clicked and get these missing files. @teryhill @tmccormi  @aethelwulffe can say something here.

[2018-12-04 17:47] Trodrige commented on #1326
@bauripalash start looking into it and ask us here to get all the help you need.

[2018-12-04 17:51] jonathanzhang53 commented on #1316
@Trodrige I did git fetch upstream and git merge upstream/master before testing. maybe you have some data in your machine that is being passed through and not read correctly?

[2018-12-04 17:51] teryhill commented on #1327
![image](https://user-images.githubusercontent.com/4655366/49462058-279bb780-f7c3-11e8-9477-18359ce75846.png)

Got it on my system. May be some one thought the files were not needed and removed them.

[2018-12-04 17:57] Trodrige commented on #1321
Great job @punwai

Head to Popups -> chart label. The same thing happens, try to apply your solution here.

See address label and barcode label too.

[2018-12-04 19:00] tmccormi commented on #1327
I believe Art removed the programs as they do nothing useful for LibreEHR and were inherited from OpenEMR...  just edit the menu.json file to remove the selections, in my opinion.

[2018-12-04 21:12] KoniKodes commented on #1326
@bauripalash Is this in the Hindi language? How do you suggest to help?

[2018-12-05 01:06] bauripalash commented on #1326
No, this is Bengali, but not correctly translated. I can improve the bengali translation

[2018-12-05 01:13] KoniKodes commented on #1326
Oh, I see. A previous applicant was working with Hindi, excuse my confusion.
How do you plan to improve the translation, and who else could follow-up to assure your translation is correct?

[2018-12-05 01:15] jonathanzhang53 opened #1328 "Duplicated Fields in Vitals"
![image](https://user-images.githubusercontent.com/41968151/49483419-b1b24300-f7f8-11e8-824a-1399384a260f.png)

Select a Patient and encounter
go to Patient/Client > Visit FOrms > Vitals
SEe the duplicated fields that are highlighted.

[2018-12-05 01:15] jonathanzhang53 commented on #1328
I can work on this :)

[2018-12-05 01:41] jonathanzhang53 opened #1329 "Misnamed Tab (Backups)"
![image](https://user-images.githubusercontent.com/41968151/49484405-8f222900-f7fc-11e8-9a31-6e8742b57c6d.png)

Tab for Backups is named 'Note'

[2018-12-05 01:41] jonathanzhang53 commented on #1329
I'll fix this. easy fix.

[2018-12-05 01:49] bauripalash commented on #1326
In of section II of `interface/language/lang.info.html` , it's mentioned the there is a Google Doc to maintain language data, if you gave enough privilege , I can improve the Bengali internationalization data over there.

And I've Google Translate and Some E2B online dictionaries to prove my accuracy. If still if there any Bengali Contributors I'd be happy to work with them

[2018-12-05 03:10] #1323 closed

[2018-12-05 06:03] bauripalash commented on #1327
@tmccormi You mean Here : https://github.com/LibreHealthIO/lh-ehr/blob/08c9e29bb1cce1c92c30b35d3d76b01d3025ded2/sites/default/menu_data.json#L982

[2018-12-05 06:20] bauripalash opened #1332 "Database Import Fails With : Error query failed"
## Problem
While trying to import database from LibreEHR interface **`QA Measures > Database Import`** , When Clicking the **submit** button it returns an error message :
[code]

### Screenshots :
![screenshot from 2018-12-05 11-45-46](https://user-images.githubusercontent.com/16154204/49493894-cc7dc980-f883-11e8-9c8f-fcae4ae9183b.png)

[2018-12-05 11:16] punwai commented on #1321
@Trodrige It seems to be a different issue here, the links are working perfectly fine but the title is not displaying because a PDF is returned.

[2018-12-05 11:16] punwai commented on #1321
I will create an issue on this and try to fix it.

[2018-12-05 13:45] punwai commented on #1332
@Trodrige It seems like the files do not exit.
$query = file_get_contents($GLOBALS['OE_SITE_DIR']."/filemanager/files/Importer/billing7.sql");
There are many of this kind of statements. A fix would be to add an if statement to check whether the file exists before we run:
	sqlStatementNoLog($query);
Which gives the error. However, this would just mean that nothing will be output because the directo

[2018-12-05 13:46] punwai commented on #1332
It is in lh-ehr/modules/MIPS/import_data.php BTW.

[2018-12-05 16:37] KoniKodes opened #1333 "Spanish version has tags in Greek and some in English"
![image](https://user-images.githubusercontent.com/18405001/49528483-de05a800-f868-11e8-8841-cbd2c730152e.png)

Our Outreachy Intern can help fix this.

[2018-12-05 16:51] KoniKodes opened #1334 "Cannot see all Facilities in Calendar Panel"
![image](https://user-images.githubusercontent.com/18405001/49529402-c7605080-f86a-11e8-87b8-16fa8b2d4512.png)

There are two Facilities...

![image](https://user-images.githubusercontent.com/18405001/49529446-e1019800-f86a-11e8-9b93-c4def6d64852.png)

Only one is seen... So we can't toggle between the two.

[2018-12-05 17:19] KoniKodes opened #1335 "Changed Theme Color but now dropdown is same color. How to fix this?"
Previous:
![image](https://user-images.githubusercontent.com/18405001/49531235-b3b6e900-f86e-11e8-92a9-aabbf17aafa5.png)

Current:
![image](https://user-images.githubusercontent.com/18405001/49531261-c3363200-f86e-11e8-99cf-0af73fd5ea41.png)

[2018-12-05 17:24] muarachmann commented on #1334
@Konikodes are you logged in as an administrator?

[2018-12-05 18:03] KoniKodes commented on #1334
@muarachmann Yes, I am.

[2018-12-05 18:32] tmccormi commented on #1335
Changing theme effects the colors, fonts of the drop downs, that's how it was done by that designer.  It's not something that needs to be "fixed" per se.

I'm not saying it was a good idea, but it it was it is.   We have never had anyone that is actually ad true designer to give any of the themes much real thought.

[2018-12-05 18:34] tmccormi commented on #1334
Check that the facilities that need to be seen have "Service Location" checked and that the Globals Feature "Restrict User to Facility" is turned off.

[2018-12-05 18:35] KoniKodes commented on #1335
Thank you @tmccormi But it was so pretty the other way.
Is there a way that I can help with this?

[2018-12-05 18:44] tmccormi commented on #1335
The reason for posting here is to get volunteer devs.  I know nothing about CSS, personally, however.   IF you do you can make changes to the themes and submit them.

The CSS is "mostly" located in interface/themes/  directory.  Here's a list.
style.css
style_light.css
style_pdf.css
style_prism.css
style_purple.css
style_setup.css
style_tan.css
style_tan_no_icons.css

@naveen17797 was working on a

[2018-12-05 18:47] KoniKodes commented on #1335
Thank you so much! I will look at these and see if I can be of any help.

[2018-12-05 19:36] KoniKodes commented on #1334
Thank you so much! My problem was the "Restrict User to Facility" was checked.

It looks much better!

[2018-12-05 19:54] tmccormi commented on #1334
Great!

[2018-12-05 19:54] #1334 closed

[2018-12-05 23:20] punwai opened #1336 "PDFs pages Unknown titles."
<img width="513" alt="screen shot 2018-12-05 at 23 18 51" src="https://user-images.githubusercontent.com/28529491/49550622-2a41fe00-f8e4-11e8-9e02-e5da6fde7ee3.png">
On some PDF pages for example, Popups > Chart Label, Popups > Barcode Label and Popups > Address Label, the title is unknown

[2018-12-06 07:31] bauripalash commented on #1327
@tmccormi @Trodrige Please take a look at the above mentioned PR

[2018-12-06 18:50] KoniKodes commented on #1335
https://github.com/LibreHealthIO/lh-ehr/compare/master...KoniKodes:patch-1

I'm new to this and hope I did it properly...

[2018-12-06 20:07] muarachmann commented on #1335
@KoniKodes go ahead and create a Pull request

[2018-12-06 20:37] KoniKodes commented on #1335
@muarachmann I thought I did that with the link I provided.
How can I do it correctly?

[2018-12-06 20:41] muarachmann commented on #1335
When you push your changes lets say to some branch online. Automatically git will detect a branch has been pushed. and will place a Pull request button you just need to click that and follow suite. Was this the case @KoniKodes . If not i will love to know how you pushed to github via git

[2018-12-06 20:52] KoniKodes commented on #1335
I think that's what I did. I clicked pull request for menu.css and it showed me with a new path.

[2018-12-06 20:56] KoniKodes commented on #1335
![image](https://user-images.githubusercontent.com/18405001/49611371-34044980-f956-11e8-9d74-cdf06c7356b1.png)

[2018-12-06 20:56] muarachmann commented on #1335
Did you scroll down to finally click on create pull request. If so we should see your Pull request in the tab above num 49

[2018-12-06 20:57] muarachmann commented on #1335
Yes @KoniKodes thats it click on create PR

[2018-12-06 21:06] KoniKodes commented on #1335
Oh, I had to do it again. I think it worked...

[2018-12-06 21:08] KoniKodes commented on #1335
Update menu.css #1339

[2018-12-06 22:39] robbyoconnor commented on #1336
This is related to #1321

[2018-12-07 01:40] muarachmann commented on #1335
@KoniKodes i cant reproduce your screenshot are you having the latest version of the code?

[2018-12-07 03:20] bauripalash commented on #1217
From where the table `list_option` is being created?

[2018-12-07 06:07] bauripalash opened #1340 "Calendar Labels Overlap When User Has A Long Name"
## Problem :
When viewing the calendar, if the user has a long name calender labels overlap

### Screenshots :
![screenshot from 2018-12-07 11-33-17](https://user-images.githubusercontent.com/16154204/49630454-41800900-fa14-11e8-9579-f01a31f326b6.png)

## Possible Fix :
Create a line break in the cell if the user has a long name

[2018-12-07 07:08] bauripalash opened #1341 "Save and Cancel Button texts on New Encounter Form are hardly visible"
## Problem
In **New Encounter Form**  the Save & Cancel buttons are hardly visible. (in every theme)

## Screenshots :
![screenshot from 2018-12-07 12-32-20](https://user-images.githubusercontent.com/16154204/49632795-ffa79080-fa1c-11e8-9f71-d4fef559c3a3.png)

[2018-12-07 16:42] KoniKodes commented on #1335
@muarachmann Which screen shot?

Our EHR Document site is at https://ehr.librehealth.io/interface/login/login.php?site=docs

[2018-12-07 16:58] Vishwas-Adiga opened #1343 "Redundant theme CSS"
Every theme has its own CSS file, each around 20KB, most of which is just redundant code.
The new CSS variables can be used instead.

For instance, ```style_prism.css```, ```style_tan.css```, and ```style_light.css``` each have the same code for the same classes and ids. Alternatively, all these styles can be added to ```style.css``` where the colours, fonts, and other parameters can be CSS variab

[2018-12-07 16:59] Vishwas-Adiga commented on #1343
I am working on refactoring the themes as suggested in the description above.

[2018-12-07 17:13] aethelwulffe commented on #1343
My goal for this has always been:

Dump Light and Tan (to the contribs) and work on perfecting Prism. 
Prism should be perfected to the point that you can use preferences to
make it LOOK LIKE Tan or anything else, and even save configurations. 
We want color (with contrast restrictions), button/menu/tab proportion,
whitespace settings controllable by configuration.

We have already dropped a great

[2018-12-07 18:10] KoniKodes commented on #1343
@aethelwulffe I like having more than one option for theme, as the users have different needs (color blind, light sensitive...).

I agree the Light is not fun to work with. The Tan seems to work well, but the Purple is pretty. I must admit that I don't understand Prism.

I do like @Vishwas-Adiga idea of having one strong style file. But I can also see how the file can quickly become bulky and cumb

[2018-12-07 18:11] KoniKodes opened #1344 "Patient/Client Add New Search shows blank "Unknown" screen."
![image](https://user-images.githubusercontent.com/18405001/49664979-535baf00-fa08-11e8-976d-5042ad622a9a.png)

This makes it difficult to add a new patient...

[2018-12-07 18:49] KoniKodes commented on #1344
Inspector leads to new.php:
view-source:https://ehr.librehealth.io/interface/main/tabs/main.php?url=TAB_ONE_DEFAULT
`{"label":"Patient\/Client","menu_id":"patimg","children":[{"label":"Finder","menu_id":"fin0","target":"fin","url":"\/interface\/main\/finder\/dynamic_finder.php","children":[],"requirement":0},{"label":"Add New\/Search","menu_id":"new0","target":"pat","url":"\/interface\/new\/new.ph

[2018-12-07 22:12] htuck opened #1346 "Clinical report throws SQL error with some options."
using https://ehr.librehealth.io/interface/main/tabs/main.php?url=TAB_ONE_DEFAULT
Reports: Clients/ Clinical

Report fails w/ sql error when some of the sort options are selected.
Can run the report with no dates selected; it does the same behavior.
REgards- HTuck

In the Sort By options:

ERROR: query failed: select concat(pd.fname, ' ', pd.lname) AS patient_name, pd.pid AS patient_id, DATE_FORMA

[2018-12-08 02:46] punwai commented on #1344
I will check this out.

[2018-12-08 02:48] punwai commented on #1344
How did you replicate this issue? It works fine for me
<img width="834" alt="screen shot 2018-12-08 at 02 47 53" src="https://user-images.githubusercontent.com/28529491/49681063-b9d9df00-fa93-11e8-9ce6-e9936a63e9c3.png">

[2018-12-08 11:26] bauripalash opened #1352 "Language Selector in Login Field Is Partially Hiding the Language Names"
## Problem :
As can be seen in the screenshot, the language select field is partially hiding the language names. A height of 28px is too small for it

### Screenshots :
![screenshot from 2018-12-08 16-50-55](https://user-images.githubusercontent.com/16154204/49685482-2a234780-fb0a-11e8-9064-4d115a2a3d9f.png)

## Possible Fix :

#1353

[2018-12-08 12:28] bauripalash opened #1354 "user profil"

[2018-12-08 12:28] #1354 closed, assigned to nobody

[2018-12-08 12:33] bauripalash opened #1355 "User Profile Picture Not Displayed Properly on Navigation Bar"
## Problem :
Profile Picture of a user is not displayed properly and breaking alignment. Which eventually makes the navigation bar worse.

### Screenshots :
![screenshot from 2018-12-08 17-57-02](https://user-images.githubusercontent.com/16154204/49685969-78891400-fb13-11e8-8fa4-128395a2c2f6.png)

[2018-12-08 19:04] jonathanzhang53 commented on #1355
@bauripalash is this from the demo or local master branch? I can't seem to replicate.

![image](https://user-images.githubusercontent.com/41968151/49689658-c25d0480-fae9-11e8-88bd-269a419695f2.png)

[2018-12-08 20:55] muarachmann commented on #1355
@bauripalash please make sure you are working with latest version of the codes before making any PRs we wont want a backward compatibility stuff

[2018-12-08 21:56] robbyoconnor commented on #1355
Check using the code in the `master` branch please.

[2018-12-08 22:03] muarachmann opened #1357 "Theme Design for EHR"
@teryhill , @Trodrige , @tmccormi , @aethelwulffe . I am opening this issue to discuss on the EHR current theming.

- First, we dont have a standard theme, like an eye catching stuff,
- Secondly a theme should be consistent through out the software which is not the case with EHR.
      Some times, the nav bar as an underline, another time at the extreme end has some coloring, (special case with pu

[2018-12-09 01:51] bauripalash commented on #1355
Apologise, Already Explained , What Was Happening in Rocket Chat

[2018-12-09 01:51] #1355 closed

[2018-12-09 01:51] #1352 closed

[2018-12-09 02:35] bauripalash commented on #1357
I would suggest to upgrade to latest Bootstrap v4.1.3

[2018-12-09 05:54] muarachmann commented on #1357
@bauripalash the issue is not upgrade to bootstrap , we have bootstrap in the codebase but it is not even used often.
We need first a sketch of how our theme is to look like then from there we can know what css stuff to better use

[2018-12-09 20:11] KoniKodes commented on #1344
https://ehr.librehealth.io/interface/login/login.php?site=docs
username: admin
password: documentationisawesome

Takes you to https://ehr.librehealth.io/interface/main/tabs/main.php?url=TAB_ONE_DEFAULT

I am having the issues from this site...

[2018-12-09 20:12] KoniKodes commented on #1335
@muarachmann
https://ehr.librehealth.io/interface/login/login.php?site=docs
username: admin
password: documentationisawesome

Takes you to https://ehr.librehealth.io/interface/main/tabs/main.php?url=TAB_ONE_DEFAULT

I am having the issues from this site...

[2018-12-09 20:50] muarachmann commented on #1344
@KoniKodes we cant help if you are using the docs site... I think @tmccormi can get the latest codes to this site. As of now we cant replicate the issues you have simply because we have different codes running. Please bear with us. Hope Tony or Robby fixes this

[2018-12-09 21:52] KoniKodes commented on #1344
Thank you @muarachmann
This is where Mr. Tony said to put the info.
The only other way I can get it to look right is through the Inspector, one page at a time - and that is only temporary.

[2018-12-09 23:37] jonathanzhang53 opened #1361 "Selecting Procedure in Batch Results Opens Up Inappropriate Module"
## Important Note

This will require you to test locally to fully understand (unless I just wrote such a great description). The issue is not really a clear code fix.

## Description

When you try to see batch results for a certain procedure, selecting a procedure leads to a list of Types of Orders and Results which you can select, but clicking save does not do anything and does not select the pro

[2018-12-10 02:19] robbyoconnor commented on #1361
Not 100% sure these labels -- someone can fix them...just trying to triage things for GCI metric purposes.

[2018-12-10 02:22] jonathanzhang53 commented on #1361
@robbyoconnor I'm not going to approach this for GCI. I just found it and I wanted to report it.

[2018-12-10 20:07] punwai commented on #1361
I'll try and work for this although it is off my tasks, I'm doing grab bag. Is that fine by you? @robbyoconnor

[2018-12-10 21:50] tmccormi commented on #1344
@muarachmann @aethelwulffe  This is a blocker for the OutReachy team, Can anyone address this rapidly?

[2018-12-10 21:51] tmccormi commented on #1344
PS: The latest code was deployed to the our demo and docs site.  So it should be identical.

[2018-12-10 21:53] muarachmann commented on #1344
@tmccormi on local it shows the tab. How come online it breaks

[2018-12-10 21:55] muarachmann commented on #1344
On it..

[2018-12-10 21:55] tmccormi commented on #1344
NOTE: there are no errors in the log files, so it has to be a JS thing, you can use the browser console tools to find this issue I bet

[2018-12-10 21:57] muarachmann commented on #1344
@tmccormi  Issue is the file was renamed to new comprehensive.php stuff so pointing the menu to that direction should have it solve. Making a PR ;)

[2018-12-10 22:45] aethelwulffe commented on #1344
Thank you.

Those dang names are so stupid...never can figure out what they are called!  Hint:  There are quite a few files involving encounters as well as demographics that are never called.  In the encounter form there is a file that has not ever been used, and has been there for ~17 years.  Search "Pennington".

[2018-12-10 23:40] tmccormi commented on #1344
You Rock @muarachmann !  Feel free to close this issue if it is now resolved.

[2018-12-13 05:36] htuck opened #1367 "Menu Role defaults to added roles not 'no role'"

[2018-12-13 05:38] htuck commented on #1367
If I add a menu role at 'Admin/ Manage Roles', when I add a new usr the Menu Role dropdown shows the new role as default, with the empty dropdown list 'no role' option is at the bottom.
![menuroledefaultbottom](https://user-images.githubusercontent.com/8339489/49917957-25d29380-fe56-11e8-8715-56069129c317.png)
Can the 'no role' option please be placed at the top of the list, i.e., as the default?

[2018-12-13 05:41] htuck opened #1368 "User picture not added to completed profile"
During user creation there's a button at the top of the panel to add a pic to profile.
You can upload the pic and it will show.
![usrpic-makingusr](https://user-images.githubusercontent.com/8339489/49918124-cb860280-fe56-11e8-9605-3b611effdbfc.png)

However after the user is created, no picture displays and also no 'edit' button is available.
This also means you can't add a pic to an existing user

[2018-12-13 05:43] htuck commented on #1368
During user creation there's a button at the top of the panel to add a pic to profile.
You can upload the pic and it will show.
![usrpic-makingusr](https://user-images.githubusercontent.com/8339489/49918124-cb860280-fe56-11e8-9605-3b611effdbfc.png)

However after the user is created, no picture displays and also no 'edit' button is available.
This also means you can't add a pic to an existing user

[2018-12-13 13:02] VirginiaBalseiro commented on #1333
Also found the following errors in the Spanish translation:
![image](https://user-images.githubusercontent.com/28412960/49940393-1be47b00-febe-11e8-9eaa-8f3f80a661a9.png)
But the Greek labels is the most urgent one since it affects the screenshots for the docs.

[2018-12-14 15:37] punwai commented on #1367
Weird...  I can't seem to replicate the issue, both on demo or locally. It always starts up with Default Role even after creating a new role.
<img width="261" alt="screen shot 2018-12-14 at 22 36 43" src="https://user-images.githubusercontent.com/28529491/50012279-cd83c900-fff0-11e8-9d14-33a9fe2be457.png">

[2018-12-14 15:39] punwai commented on #1367
Are you sure that you are in the add user section? It seems like you are currently in the edit user section.
<img width="291" alt="screen shot 2018-12-14 at 22 38 14" src="https://user-images.githubusercontent.com/28529491/50012363-03c14880-fff1-11e8-8cf7-9acca456672e.png">

[2018-12-14 18:47] htuck commented on #1367
Yes, just now double checked.  Opened the doc demo
https://ehr.librehealth.io/interface/login/login.php?site=docs

as admin, went straight to Admin/ Users.  Clicked 'add user' and the panel has for default the 'visiting physician' role I created for the docs.

![addusr-menurole](https://user-images.githubusercontent.com/8339489/50021349-a34cef80-ff8d-11e8-951a-8d7463eafd96.png)

[2018-12-14 20:37] KoniKodes commented on #1367
@punwai @robbyoconnor
Apparently this is similar to my previous issues where it is only happening on the Docs site...
Is there a way to fix it for us?
Thank you in advance.

[2018-12-16 12:37] Trodrige opened #1372 "Missing files when creating eventlog backup"
![screen shot 2018-12-16 at 1 30 18 pm](https://user-images.githubusercontent.com/16147419/50053557-8fdd8800-0137-11e9-9430-e9fdab57cbde.png)

[2018-12-16 12:39] Trodrige commented on #1372
It even shows root passwords. I don't think this is good.

[2018-12-17 07:39] punwai commented on #1367
IMO this should be okay as the problem seems to not replicate in the main site repository. I could be wrong though. Does it also occur locally for you?

[2018-12-17 21:46] KoniKodes commented on #1346
![image](https://user-images.githubusercontent.com/18405001/50117519-178fc900-0202-11e9-8986-640e80c81bcd.png)

[2018-12-17 21:46] KoniKodes commented on #1346
We cannot search on this report.

[2018-12-17 21:48] KoniKodes opened #1373 "Reports->Clients->Clinical Statistics: * Not Searchable"
Both report types:
Clinical Reports: Demographics vs Diagnosis
Lab Stats by Demographics

Are not allowing us to search.

[2018-12-17 21:49] tmccormi commented on #1346
This report is broken and needs to be removed from the repo.  Don't bother with it.

[2018-12-17 21:56] KoniKodes commented on #1346
Thank you. We will remove them from our documentation.

[2018-12-17 22:06] tmccormi commented on #1373
THis is the

[2018-12-17 22:47] tmccormi commented on #1373
We need more specifics to do any debugging, patient ID, screen shot, what you are expecting to find, where it was coded etc ..

[2018-12-17 23:05] tmccormi commented on #1373
You have access to the default ehr demo that has data..  ehr.librehealth.io (admin/password)
![clinical-ehr-default](https://user-images.githubusercontent.com/285835/50121295-2b8cf800-020d-11e9-98c2-54bae57b1826.png)

[2018-12-17 23:11] KoniKodes commented on #1373
![image](https://user-images.githubusercontent.com/18405001/50121412-8e7e8f00-020d-11e9-8cc2-dac7bba44f19.png)

I've tried to use that site and code, but it said it was invalid.
Jenny Johnson, PID 74 has low back pain.

[2018-12-17 23:50] KoniKodes commented on #1373
The Fee Sheet shows it...
![image](https://user-images.githubusercontent.com/18405001/50122887-6560fd00-0213-11e9-979c-5573ba2961bf.png)

[2018-12-18 00:08] tmccormi commented on #1373
That's your browsers keyboard buffer.

However, I'm not getting it to work on a newly enter diagnosis code either so ... over the to programmer @growlingflea

![encounter](https://user-images.githubusercontent.com/285835/50123503-d86b7300-0215-11e9-8707-5e96456e5480.png)

![nomatch](https://user-images.githubusercontent.com/285835/50123532-fb962280-0215-11e9-98bc-9c0cb9dcbc7f.png)

[2018-12-18 00:18] KoniKodes commented on #1373
Thank you so much!

[2018-12-19 17:31] KoniKodes commented on #1333
This is also happening on the official demo at ehr.librehealth.io in Spanish:

![image](https://user-images.githubusercontent.com/18405001/50237108-e71a6d00-0370-11e9-96e5-c3dc4b32f960.png)

[2018-12-19 17:35] tmccormi commented on #1333
English is expected when a translation for a specific word is missing, but Greek is definitely not expected.

[2018-12-19 17:37] tmccormi commented on #1333
Perhaps we should pull in a new translation table from the OpenEMR project?

[2018-12-19 18:41] KoniKodes commented on #1333
I know, it's driving poor Virginia crazy.

She said that she is happy to help if she can, and I do think she would be a great asset on this project. She's our intern until March, so I feel it may be good to let her be involved -- at least with the Spanish side.

Could you please guide her on how to help?

[2018-12-20 19:01] jonathanzhang53 opened #1374 "Formatting Issues in Add/Search Patient"
Link: Patient->Search or Add Patient->Insurance
Work: - Change the font-color from red to black(default)
	-Give insurance form fields styling, space out the elements. For example give some space between select fields and the Add buttons

![image](https://user-images.githubusercontent.com/41968151/50305043-523e6f00-0457-11e9-8527-e1f4433d1146.png)

[2018-12-20 19:01] jonathanzhang53 commented on #1374
I'll work on this. This was from UI Tasks from GCI.

[2018-12-20 20:05] jonathanzhang53 commented on #1374
I also have a question about this. I'm seeing this 'required' class that is attached to most of the fields, but I can create a patient still by filling out only a few fields. The class is making text bigger and bold, which actually looks good (Face Sheet is example), but then you get to insurance and the text is small since it doesn't have a 'required' class. Not sure what to do here.

[2018-12-21 03:20] punwai commented on #1374
Its done at #1363

[2018-12-21 03:45] #1374 closed

[2018-12-21 03:54] jonathanzhang53 opened #1375 "Back Button on Ledger"
Link: Patient->summary->Ledger
Work: Add a “Back” button
![image](https://user-images.githubusercontent.com/41968151/50323937-d1589500-04a1-11e9-8a0f-fcb77fba67cc.png)

[2018-12-21 03:55] jonathanzhang53 commented on #1375
This seems to have been fixed on #1031 , but I have fetched latest master and the back to patient button isn't there as seen in screenshot. I will add it back in.

[2018-12-28 18:32] jonathanzhang53 commented on #1357
From my experience, certain classes seem to be very troublesome to deal with, namely button classes and some text colors. I think this has been mentioned somewhere, but I think starting from one theme and benching the others is a good idea, and then getting the theme to where it needs to be for the whole site and then making some function that allows color changes only. CSS is all over the place :

[2018-12-30 23:52] jonathanzhang53 opened #1377 "Fees > Batch Payments UI Fixes"
Link: Fees->Batch payments
Work:
        -Centralize the form
	-Cut blue menu bar
	-Structure form under “New Payment”
	-Adjust value of “Save” and “Cancel” buttons
	-Centralize form under “Search Payment” and “ERA posting”
	-Menu bar changes under ERA Posting
	-Space between “Process ERA file” button and text field
	-Remove box next to “Insurance” field

[2018-12-30 23:52] jonathanzhang53 commented on #1377
I can work on this. Will send a PR within the next few days

[2018-12-31 00:17] jonathanzhang53 commented on #1377
@muarachmann @Trodrige This was on the GCI UI Task grab bag, and I have a question about `adjust value of "save" and "cancel" buttons` and `menu bar changes under ERA posting`

These are the buttons
![image](https://user-images.githubusercontent.com/41968151/50552725-137e9500-0c5f-11e9-9522-8d10e3459683.png)
Do you mean change them to `save` and `cancel`?

This is the ERA Posting
![image](https://

[2018-12-31 12:21] Trodrige commented on #1357
I think the best way to do this is to create a doc defining the various
components of the theme and how they’ll look like. This way others
contribute their own ideas and we reach a final theme which we’ll build.
On Fri, Dec 28, 2018 at 7:32 PM Jonathan Zhang <notifications@github.com>
wrote:

--
Tigpezeghe R. K.

[2018-12-31 18:31] jonathanzhang53 commented on #1357
So how would this proceed? I'm pretty down to help /w this. Do we need permission to start or something 😛

[2018-12-31 18:37] teryhill commented on #1357
@jonathanzhang53 By all means Start. The goal would be to have a Maximum of 2 themes, remove all in line css, allow users to change colors.

[2018-12-31 18:44] jonathanzhang53 commented on #1357
Ok with a max of two themes, I think we should just get the ideas down on a doc, and then see if there are multiple diverging preferences for styling, if not then one theme.

[google doc share link](https://docs.google.com/document/d/11sQyGRsBxUpYqAR2jpnHTWgi2gsb2F4xaK9fAL1FHUc/edit?usp=sharing)
we can start here, unless there is some other documentation already existent for the themes ^^^

[2018-12-31 19:01] jonathanzhang53 commented on #1357
Also there were some UI fixes made during GCI, I'm not sure if those were just for GCI task's sake or if they will actually be merged. But if they are going to be merged, that should be done and then css changes should be capped so the theme doesn't run into any conflict with new changes and does not outdate old changes.

I have a PR right now about some UI, and I'll try to finish that up.

[2019-01-01 20:48] jonathanzhang53 opened #1379 "Address Book Accepts Empty Additions"
Miscellaneous > Addr Book

Just click Add New and submit without editing fields. It will create an empty row in the table.

There should be some required fields here, such as the type and name at minimum. Not sure about this.

[2019-01-05 03:41] DustinBorn opened #1380 "SQL Injection vulnerability"
Hi,
I believe to have found an SQL Injection vulnerability that exists once the datatable for Physical Exam Diagnoses has been installed. Because I don't know how you prefer to handle security issues like these, I have decided not to post any more information yet. I would appreciate it if you could get back to me whether I should describe the details here or somewhere else.

Regards

[2019-01-05 05:39] muarachmann commented on #1380
Hi @DustinBorn thanks for raising such. Here would be a perfect place to describe the issue

[2019-01-05 22:35] DustinBorn commented on #1380
Hi @muarachmann
Thank you for your quick response. I've written a small report that should describe the vulnerability and possible fixes in good detail. If requested I can also give you a proof of concept.

## SQL Injection in LibreHealth EHR via Web Request in interface/forms/physical_exam/edit_diagnoses.php

### Description

The vulnerable SQL statement can be found in lines 62-65 in the source

[2019-01-08 02:41] DustinBorn commented on #1380
Yeah, sure @muarachmann. Give me a day or two. I'll fix it and then issue a Pull Request.

[2019-01-14 02:02] tmccormi opened #1383 "Calendar White Screen on new install"
No errors are logged, but calendar screen is blank

latest main at commit 854605
Most recent calendar related commit:
190d7dc removed un-used calendar files (#1320)
M       interface/super/edit_globals.php
M       library/log.inc
M       sql/2_0_0-to-2_0_1_upgrade.sql
M       sql/database.sql
M       sql/defaults.sql

![calendar-whitescreen](https://user-images.githubusercontent.com/285835/5109393

[2019-01-14 02:12] tmccormi commented on #1383
@aethelwulffe - have you seen this error?  Ubuntu 16.04LTS

[2019-01-14 16:47] prondubuisi opened #1384 "Unable to add Patients picture in Ubuntu"
I am trying to add a patients picture but am getting this error
![screenshot from 2019-01-14 17-41-08](https://user-images.githubusercontent.com/22311928/51126548-bae4f580-1823-11e9-88da-d82375184d55.png)

when I try creating the folder profile_pictures manually under the root directory I get the error
![screenshot from 2019-01-14 17-45-20](https://user-images.githubusercontent.com/22311928/511267

[2019-01-14 20:16] muarachmann commented on #1384
@prondubuisi prior to this https://github.com/LibreHealthIO/lh-ehr/blob/master/INSTALL.md#setup yes you have to chmod. This gives me a doubt probably your docker installation didnot handle that. Please make all those directories writable for future puposes.

@robby did you handle this?

[2019-01-14 22:56] muarachmann commented on #1383
@tmccormi i just got the latest codes. Everything works fine here. Try clearing your cache a little and do a hard refresh. Maybe some js is blocking something

[2019-01-15 08:19] robbyoconnor commented on #1384
Is this critical?

[2019-01-15 09:33] robbyoconnor commented on #1384
I verified this -- your host system doesn't matter since this is running in Docker.

[2019-01-15 09:37] robbyoconnor commented on #1384
There's a handful of bugs that I can see.

[2019-01-15 16:55] tmccormi commented on #1383
Tried all that, no luck.  I'll reinstall and see what gives.
Thanks

Tony McCormick
Medical Information Integration

On Mon, Jan 14, 2019, 2:56 PM muarachmann <notifications@github.com wrote:

--
Please
 be aware that e-mail communication can be intercepted in
transmission
or misdirected. Please consider communicating any sensitive
information
by telephone.  The information contained in this messa

[2019-01-16 16:40] #1380 closed

[2019-01-16 17:13] #1327 closed

[2019-01-16 17:28] #1375 closed

[2019-01-18 14:07] VirginiaBalseiro opened #1385 "Track Anything Plotting does not work at all"
In the demo (docs demo and regular demo) when trying to generate a new plot for information added with the Track Anything form, nothing happens when clicking the button:

![image](https://user-images.githubusercontent.com/28412960/51391503-fe37b080-1b10-11e9-985d-c43c421de235.png)

It should generate a plot like so:

![image](https://user-images.githubusercontent.com/28412960/51391529-160f3480-1b1

[2019-01-18 16:35] VirginiaBalseiro commented on #1385
Just edited the issue, thanks

[2019-01-18 17:18] aethelwulffe commented on #1385
Also check plotting in the vitals form please.

[2019-01-18 19:15] aethelwulffe opened #1387 "Admin/Facility/(click to edit) goofy UI"
![image](https://user-images.githubusercontent.com/553751/51408024-701cf380-1b2b-11e9-8535-6accd3932f39.png)
Screenshot from NHANS, normal demo dev-tip down, and looks even worse on my server!

[2019-01-20 22:47] muarachmann commented on #1387
@aethelwulffe izimodal has options for width, height and fullscreen options. This can be exploited here. Let me know if there is something to do about this and i will file in a PR.

[2019-01-21 00:31] muarachmann opened #1389 "Possible duplicate PID generated when patient is deleted"
Deleted a patient and choosed delete and log which ran successfully. Afterwards created another patient and want to delete this -> Choosed delete and log. I get this error

![screen shot 2019-01-21 at 1 27 22 am](https://user-images.githubusercontent.com/16350814/51447185-c3559880-1d1b-11e9-892c-7fcc0bdafc70.png)

This happens because it is trying to insert in to the patients recycler the same pat

[2019-01-21 00:58] muarachmann commented on #1389
When a patient gets deleted, the PID generation starts back from `154801` . That is

[2019-01-21 06:35] muarachmann commented on #1387
### Here is my screen on light
![screen shot 2019-01-21 at 7 30 01 am](https://user-images.githubusercontent.com/16350814/51456604-a1c1d480-1d4e-11e9-88d8-3285ad7e2a6c.png)

### Here on prism
![screen shot 2019-01-21 at 7 34 28 am](https://user-images.githubusercontent.com/16350814/51456728-1432b480-1d4f-11e9-99b3-eab525e3f123.png)

[2019-01-21 12:47] muarachmann commented on #1379
@jonathanzhang53 i think you are right!. @aethelwulffe can you assert this if true assign to @jonathanzhang53 👍

[2019-01-21 15:26] VirginiaBalseiro commented on #1385
Here's the draft for the docs, they will guide you up until that point (cannot write further because plotting isn't working)

[Track anything draft.pdf](https://github.com/LibreHealthIO/lh-ehr/files/2779465/Track.anything.draft.pdf)

[2019-01-21 19:45] VirginiaBalseiro commented on #1373
Has anyone been able to look at this? The problem is still present and I need to finish related docs. Thanks.

[2019-01-22 14:39] aethelwulffe commented on #1373
@growlingflea @tmccormi  anyone have any input?

[2019-01-22 14:42] aethelwulffe commented on #1379
NOTE:
Address Book actually adds rows to the `users` table.  Terrible design frankly, as it does not separate a vendor listing from a doctor from an office worker, and treats them the same.  Having it create a user table listing that is null is a totally uncool thing.
  The address book and user table usage is a point we should address deeply for GSOC frankly.  In the meantime, go to it @jonathanz

[2019-01-22 14:48] aethelwulffe commented on #1389
There is a function called GEN_ID or something like that...quite terrible frankly.  We have another thing used for encounter ID's that is an index value stored in a table called "sequences".
  If deleting the pid results in the autoincrement value dropping by one (meaning you deleted the last patient entered) then this behavior could result.  Deleting any other would cause no issue.

Desired behav

[2019-01-22 15:03] jonathanzhang53 commented on #1379
Cool, so should I make it as type and name as required?

I'll look into the error system. Haven't worked with it yet.

[2019-01-22 15:05] jonathanzhang53 commented on #1379
Cool. Is there a place I can reference for the error throwing if required
fields are not met?

On Tue, Jan 22, 2019 at 8:42 AM Art Eaton <notifications@github.com> wrote:

--
*→Jonathan←*

[2019-01-22 15:06] muarachmann commented on #1389
@aethelwulffe how is the PID different from the id column in the patient_data table?

[2019-01-22 15:08] muarachmann commented on #1379
@jonathanzhang53 nice having you around again. U can validate client side and use iziToast library for that.

[2019-01-22 15:22] aethelwulffe commented on #1385
I have had enough issues with track_anything that I could never deploy it in active use.  Honestly, I didn't try very hard.  All the code related is contained in interface/forms/track_anything, so if we get a test instance running where we can look at the server log output, this should be easy to identify.

[2019-01-22 15:23] aethelwulffe commented on #1385
Since the NHANS data was spammed into the project, I suppose you can get it running on a local machine Mua.  I will try myself.

[2019-01-22 15:25] aethelwulffe commented on #1379
iziToast is the "new flavor" of error reporting.  We want it everywhere we can in place of the funky oldness as a point of consistency if nothing else.

[2019-01-22 15:45] aethelwulffe commented on #1389
It just can be.  Normally they are in sync, but old databases have gotten out of sync in the past due to the GEN_ID function being a stupid idea.
id, pid, and pubpid can be the same...but don't count on it.  You can plainly see that the deleter itself will cause this.

[2019-01-22 16:03] aethelwulffe commented on #1387
Not here.  Test on a 1080p screen maybe?
Look at the NHANS demo.  Same on all my servers and local machine.

[2019-01-22 16:03] aethelwulffe commented on #1387
Nothing in the logs as an error.

[2019-01-22 16:06] aethelwulffe commented on #1387
Ah.  Try renaming the default facility, then add a second facility.

[2019-01-22 16:06] aethelwulffe commented on #1387
After that, look again.

[2019-01-22 16:07] aethelwulffe commented on #1387
Always test data with a big data set...lesson learned again.

[2019-01-22 16:12] #1368 closed

[2019-01-22 16:14] muarachmann commented on #1387
I will try then re-sizing my screen to get the behaviour. Thanks for taking
out time to review and leave some comments. Love to have you guys around to
poke a little :)

On Tue, Jan 22, 2019 at 5:07 PM Art Eaton <notifications@github.com> wrote:

[2019-01-22 16:15] aethelwulffe commented on #1387
Add and edit some facilities.  I was not able to get a clean interface by doing any resizing or tab adjustments.

[2019-01-22 16:18] aethelwulffe commented on #1357
If we want to cap theme and UI tweaks, I am all for it.
We need to work on existing PR's related to that, then declare a moratorium...with a project plan.
We will also need a "Theme Czar" to oversee that as a project and to actively hunt down and oversee anyone popping up with a contribution related.

[2019-01-22 16:20] aethelwulffe commented on #1377
@jonathanzhang53 have you checked related PR's and recent merges?  Is this issue related to one that is unlinked?

[2019-01-22 16:22] muarachmann commented on #1357
I was planning an efficient way of doing this for GSoC Art. I have already
some mockups and sketches. Not forgetting to polish up the setup
improvement. Let me know the way foward.

On Tue, Jan 22, 2019 at 5:18 PM Art Eaton <notifications@github.com> wrote:

[2019-01-22 16:24] aethelwulffe commented on #1357
I like the idea of making a single actual "theme" and maybe the two stored (default and other) *configurations*  of that theme...to be chosen on install.

If you can build that into your proposal, that would be great.

[2019-01-22 17:03] aethelwulffe commented on #1333
Got an update from Virginia.
Looking to apply that now.

[2019-01-22 17:14] aethelwulffe commented on #1346
C:\AlphaFiles\bidenis\REPOS\LibreEHR\interface\reports\clinical_reports.php:
   14   // Added five new reports as per EHR certification requirements for Patient Lists - LibreEHR Support LLC, 2010
   15
   16: require_once "reports_controllers/ClinicalController.php";
   17  ?>
   18  <html>

C:\AlphaFiles\bidenis\REPOS\LibreEHR\interface\reports\clinical_stats_by_demographics_report.php:
   26  re

[2019-01-22 17:17] aethelwulffe commented on #1367
This is another issue related to the developers testing with a single entry in a table, instead of using a database that has multiple of everything.  Adding extra users is the step necessary to recreate this issue.

[2019-01-22 17:49] aethelwulffe commented on #1372
Not good at all.  This is a case of a superuser being able to hack their own machine and no-one can stop them.
-However...backup.php does exist where it is supposed to.  Everything else is the log reporting options on the server.
Must be a permissions issue?

[2019-01-22 20:32] aethelwulffe commented on #1361
@tmccormi @teryhill
Where are we with this particular form?  Does any of it also relate to LIMS?  This isn't something we are looking to deprecate or anything is it?  I don't use the system at all, so I don't know much about it.

[2019-01-22 20:37] #1302 closed

[2019-01-22 20:43] #1308 closed

[2019-01-22 21:12] aethelwulffe commented on #1326
@bauripalash Go for it brother.  KoniKodes is the translations work central contact right now.

[2019-01-22 21:14] aethelwulffe commented on #1326
We can produce you a file to work on this.  We have some precursor stuff (like fixing the English in the actual code) to commit yet.  Spanish update is close, and we really need help with the Bengali...it is a total junk stub.

[2019-01-22 21:22] #1301 closed

[2019-01-22 21:31] aethelwulffe commented on #1332
Current version (not in PR yet) certainly does have a cascade of else-if statements, but they do not check to see if there are NO matching files before beginning.  This is an importer that takes a special set of inputs.  Normally, the whole QA measures tab should be OFF in globals by default for a normal install, and thus not even in the normal list of viewable things.

I CAN however put some test

[2019-01-22 21:36] #1292 closed

[2019-01-22 21:46] KoniKodes commented on #1326
Thank you @aethelwulffe and @bauripalash
We'll be happy to be here and help when you are ready.

[2019-01-22 22:07] aethelwulffe commented on #1383
Did you do the upgrades to the DB you were running?

[2019-01-22 22:11] aethelwulffe commented on #1215
@prondubuisi Shall I send you a project invitation so I can assign you to this?

[2019-01-22 22:21] #1313 closed

[2019-01-22 22:49] aethelwulffe commented on #1387
@muarachmann @teryhill @muarachmann
Here is my "twelve merges in 9 hours" integration test site:
 "demouser" and "Testing lots of stuff."

The URL is https://samwise.suncoastconnection.com:3443/libre_ehr/interface/login/login.php?site=2019JAN22MERGEs
Mua, please look at the edit facility before I change anything else.  Totally fresh install.

[2019-01-22 22:55] aethelwulffe commented on #1217
This looks like the 2.0 + not the 1.0 to 2.

[2019-01-22 22:56] aethelwulffe commented on #1217
Not sure how this is exactly a web security label thing...

[2019-01-23 12:52] prondubuisi commented on #1215
Yes @aethelwulffe

[2019-01-23 16:12] aethelwulffe commented on #1215
@prondubuisi I have added you as a read-collaborator.  Pick up your invite.  @teryhill look at all our permissions.  I amped up write access for a couple more of our collaborators that have been contributing for over a year, and have been helping with review or other tasks outside of a GSOC type program setting.

[2019-01-23 18:54] #1295 closed

[2019-01-25 08:47] prondubuisi opened #1397 "Unable to upload patients document on Ubuntu"
![document error](https://user-images.githubusercontent.com/22311928/51734577-3301b580-2085-11e9-8bf0-4f725894f4ec.png)
I am trying to upload a patients document on ubuntu, but I can't do that, I know its permission errors. The problem is Even when I try to create the destination folder manually I still get the same error. I think this is because the [https://github.com/LibreHealthIO/lh-ehr/blob/m

[2019-01-25 09:56] muarachmann commented on #1397
@prondubuisi please read the docs https://github.com/LibreHealthIO/lh-ehr/blob/master/INSTALL.md#setup some folders need to have permissions before you even install the software. I guess all these errors is cause of the docker installation you did which probably dont handle these cases. Do a normal install following this process and see if you get that

[2019-01-25 12:04] prondubuisi commented on #1397
okay @muarachmann

[2019-01-28 14:12] aethelwulffe commented on #1383
You can't access an <iframe> with different origin using JavaScript.  JS on the client does not know about your proxy.

[2019-01-28 14:41] aethelwulffe commented on #1383
Ah!  Finally found something on this!  It is a new thing!  What you have is what is now known as an "ITL" or Insufficient Transport Layer.
  Not finding a use case where the server uses a proxy cert.  I think the window listener (if it talks both ways) can do it.  Not sure about that, as it seems like the sort of thing browsers are supposed to prevent now-a-days, but likely.

[2019-01-28 14:44] aethelwulffe commented on #1383
Found a thingie that is a similar implementation here:
https://stackoverflow.com/questions/25098021/securityerror-blocked-a-frame-with-origin-from-accessing-a-cross-origin-frame

[2019-01-29 04:05] tmccormi commented on #1383
Thanks..  the java fix is beyond me. the browser fix might work for this, but it's prob easier if I just get a  origin certification and turn of the cloudflare proxy...  too bad the proxy thing is cheap and has other protections...

[2019-01-29 04:05] #1383 closed

[2019-01-29 16:06] aethelwulffe commented on #1383
I don't think this one is even beyond me.  I can't test it, but I could
use the example I found to write the listener.

On 2019-01-28 23:05, Tony McCormick wrote:

[2019-01-31 07:12] tmccormi opened #1399 "Bad In/Out Office event in calender causes infinite loop in Patient Finder"
A user somehow added an In and Out office events with the same exact times...
![bad-in-put](https://user-images.githubusercontent.com/285835/52037488-07972480-24e4-11e9-89d0-a6860f199625.png)
This causes Patient finder to put Apache2 in a loop that eventually times out at max_execution_time
The records below with do the trick, deleting them from libreehr_postcalendar_events fixes it.
[code]
I thin

[2019-01-31 20:50] devikasugathan commented on #1299
I would like to work on this issue.

[2019-01-31 21:10] devikasugathan commented on #909
I would like to work on this.

[2019-02-01 01:07] prondubuisi commented on #1397
hello @muarachmann I am following the setup instructions, the problem is this folders are absent
`librehealthehr/interface/main/calendar/modules/PostCalendar/pntemplates/compiled
librehealthehr/interface/main/calendar/modules/PostCalendar/pntemplates/cache.`  so I can't run a chmod a+w on them

[2019-02-01 01:17] jonathanzhang53 commented on #1299
I think punwai has already fixed this in a PR. Feel free to comment on other issues to work on them

[2019-02-01 01:18] muarachmann commented on #1397
Yes @prondubuisi just do a chmod on these
`librehealthehr/gacl/admin/templates_c`
`librehealthehr/sites/default/edi`
`librehealthehr/sites/default/era`
`librehealthehr/sites/default/documents`

[2019-02-01 01:22] muarachmann commented on #1397
@prondubuisi interested in gsoc? you can join the chats here to shape ur ideas more https://chat.librehealth.io/channel/gsoc

[2019-02-01 02:20] prondubuisi commented on #1397
@muarachmann  this set up is giving me headache
![marauchmann](https://user-images.githubusercontent.com/22311928/52098674-3ee2ff80-25d0-11e9-85f6-0e400793e140.png)

[2019-02-01 02:39] prondubuisi commented on #1397
Thanks will join the Channel ASAP

[2019-02-01 03:36] prondubuisi commented on #1397
Hello @muarachmann is there a way to dump data in the database? I am done with the imstallation

[2019-02-01 04:15] aethelwulffe commented on #1397
https://www.phpmyadmin.net/ for day-to-day developer tasks on your dev
server (or any other with the right server set-up).

MysqlWorkbench is also good if you don't hate java programs.  PHPmyAdmin
is far more mature and capable (and easier to use, and safer when
deployed) than the others though.  Most of the others don't really meet
the need, feature or efficiency-wise, and don't give you anywhere

[2019-02-01 04:20] aethelwulffe commented on #1397
chmod 775 is good for your dev box.

On 2019-01-31 20:18, muarachmann wrote:

[2019-02-01 04:38] prondubuisi commented on #1397
@naveen17797 thanks will give it try.

[2019-02-01 04:41] prondubuisi commented on #1397
@aethelwulffe After installation my database using this guide https://github.com/LibreHealthIO/lh-ehr/blob/master/INSTALL.md#setup my tables are empty, so I was asking of if there is a way to fill the database with dummy data, doing that manually will be stressful D:

[2019-02-01 05:08] prondubuisi commented on #1212
Hello @aethelwulffe how can I navigate to the option to upload or delete a template in the Librehealth application

[2019-02-01 05:49] aethelwulffe commented on #1397
OHHHHH....Like fake data.

Yes.

http://suncoastconnection.com/downloads/PrintaPatient_A7_2_2.zip

This is a windows executable that you can run on wine.

-I have not checked the output for loading errors in the current
database.  It was last updated in 2018-06-28.  Some planned features are
not complete (the buttons have "TODO" printed on them), but you can use
it to create a pretty big database

[2019-02-01 05:59] aethelwulffe commented on #1212
Uh...Administration/Files

The cheezy upper box should have a drop-down in it (blank, but there is
a list) that allows access to that ancient template file system.

In the last 14 years, I have never seen anyone use it.

-Of course, I could be totally wrong about what you are asking.

On 2019-02-01 00:08, Onyemenam Ndubuisi wrote:

[2019-02-01 18:32] robbyoconnor commented on #1397
If using Docker -- if you change permissions on your host -- it should just work @prondubuisi

[2019-02-01 18:33] robbyoconnor commented on #1397
For development -- the source tree is mounted into the container with changes you made being updated instantly

[2019-02-01 18:34] #1397 closed

[2019-02-02 04:49] muarachmann opened #1400 "Updater position blocks pagination"
The current position of the updater icon may lead to problems while paginating in the future. This calls for discussion. Your ideas are needed to solve this. Take a look at patients pagination one cant go to the next page

![screen shot 2019-02-02 at 05 45 29](https://user-images.githubusercontent.com/16350814/52160073-4a0c5d00-26ae-11e9-9edf-ba7a61e1d0de.png)

[2019-02-02 04:50] muarachmann commented on #1400
@robbyoconnor please for labels for this thanks

[2019-02-02 06:51] prondubuisi opened #1401 "Authenticated Unrestricted file upload when editing/updating patient profile picture"
After a patients profile picture has been initially uploaded one can replace the profile picture with any type of file using the Edit Profile picture feature.
![edit patient profile](https://user-images.githubusercontent.com/22311928/52161021-577e1300-26bf-11e9-81ef-78b9a98d765e.png)
![php file upload](https://user-images.githubusercontent.com/22311928/52161027-61077b00-26bf-11e9-8e7c-4bfde5007199

[2019-02-02 06:52] prondubuisi commented on #1401
I will like to fix this bug, I its confirmed.

[2019-02-04 12:36] prondubuisi opened #1402 "Authenticated user unrestricted file upload with Document template"
An authenticated user can upload any file using the Document Template utility form the Miscellaneous Tab
This poses security issues.
![document template](https://user-images.githubusercontent.com/22311928/52208697-cb681900-2881-11e9-84e3-a5f74c849b14.png)

[2019-02-04 14:11] prondubuisi commented on #1212
@aethelwulffe I have tried seeing  the upload, delete, save template but the navigation I got don't seem to do that, can you please check again
![import template](https://user-images.githubusercontent.com/22311928/52213296-0fade600-288f-11e9-990e-8209a80e4a7e.png)

[2019-02-04 17:10] aethelwulffe commented on #1400
Updater icon is not really a good "on by default" item.  Should just be a Administration menu item.  The menu could turn the button on and off visible as a user preference, but better to just have a "hide" option on the button, with a notice that you must re-enable in user prefs, or launch from the Administration menu.  It is dangerous to have it on top of in-use reports and lots of other things.

[2019-02-04 17:12] aethelwulffe commented on #1401
Isn't there a PR for this already? or was it just an issue?
-This one is a case of someone with superuser access being able to hack their own computer.  Still bad.

[2019-02-04 17:15] aethelwulffe commented on #1212
I would need to figure out what, if anything, the feature still does.  Might be relevant to printing labels for pill or sample bottles or something still.
-We sort of lost Terry, who was the primary guru for a large number of features.
I will try to get to figuring it all out (unless you can tell me what feature it is you are trying to affect with the template).  I need to get the spanish translat

[2019-02-04 17:19] prondubuisi commented on #1401
@aethelwulffe , I looked through, there is no PR for this, can I work on it?

[2019-02-04 17:23] prondubuisi commented on #1212
Am looking to solving this Issue, But I can't do that except I know how to trigger it, this particular feature has lots of issues related to it though.

[2019-02-04 18:21] robbyoconnor commented on #1400
I agree with Art - the demos are a good example -- I don't want people
updating it...we don't even have the it installed as a git repo -- we
use git but rsync everything over.
On 2/4/19 12:10 PM, Art Eaton wrote:

[2019-02-04 18:40] aethelwulffe commented on #1400
Hidden feature.... ON with  "DEV" install type, but not just banging
around with the default install.  "Lite" them should also be changed
from default and dumped as well.  Too many things are goofy with lite.

On 2019-02-04 13:21, robbyoconnor wrote:

[2019-02-04 23:00] robbyoconnor commented on #1400
This should be server-side as well. Not in the install itself.  I don't want people turning it on in the demo.

[2019-02-05 16:57] MostafaHamedAbdelmasoud opened #1403 "unsigned and empty notes can be added through patient profile without alert"
if you click on (patient profile) -> then on ( notes), it is gonna expand and show you notes, then try to add epmpty and unsigned note, it will be added, so i think it's not acceptable here and should be improved

![screenshot 94](https://user-images.githubusercontent.com/36406025/52289977-c7b6be00-2977-11e9-8ef6-b0af0067a800.png)

[2019-02-05 17:19] aethelwulffe commented on #1400
Demo is a demo, and we should not in the least be deploying or
configuring anything in the product intended for clinics that base their
entire operations on the product simply for the sake of a demo.  Yes, we
want the upgrade feature easily discoverable, and have a config setting
in the demo database that disables it.  For demos, that means that you
MUST configure it as a demo, and not have the de

[2019-02-05 17:51] aethelwulffe commented on #1403
Yes, the Patient Notes should be looked at just as you are doing so.  There is also some more concern about someone being able to inactivate a message in there.  These are messages about the patient, and not like clinical intervention notes, but they are part of the patient chart so to speak.  Some of it is ephemeral information (temporary) but that does not mean the record of entries need ever be

[2019-02-06 11:28] muarachmann commented on #1400
ok @aethelwulffe so we get this feature under the admin menu right (under preferences) or some sort of turn of an off feature in the globals. If yes this issue is open for anyone to work on.

[2019-02-06 15:36] aethelwulffe commented on #1400
Yes

[2019-02-06 15:49] muarachmann commented on #1400
Okay i will prefer someone take a peek at this

[2019-02-06 16:30] prondubuisi commented on #1402
@aethelwulffe am thinking of using whitelisting or blacklisting to solve this issue, what are the possible file types that a user can upload using Document template

[2019-02-10 06:05] mshubhankar commented on #1361
I'm a new contributor and am finding my first issue to work on. This seems like a good start. What is exactly expected ?

These are my observations
- The cancel button needs to be fixed.
- The save button needs to close the window instead of popping it back up again.
-  The add for each row opens up procedures->configurations module which needs to be removed and instead the ability to select a row

[2019-02-10 06:50] tafodinho commented on #1403
@MostafaHamedAbdelmasoud I will like to work on this issue as well

[2019-02-10 20:09] muarachmann commented on #1403
@MostafaHamedAbdelmasoud are you willing to work on this if yes go ahead. If no @tafodinho you can work on it

[2019-02-10 20:18] muarachmann commented on #1403
@tafodinho please look for another issue to work on. Its been already assigned

[2019-02-10 20:22] tafodinho commented on #1403
@muarachmann ok

[2019-02-10 20:26] muarachmann commented on #1403
@tafodinho you might want to look at #1400

[2019-02-10 20:55] tafodinho commented on #1400
@muarachmann So ill prefer you hint me more about what is it that needs to be done. Is it just going to be the positioning of the icon or more about the functioning??

[2019-02-10 21:09] muarachmann commented on #1400
the functionalities are already there. Its just for you to place the updater in a suitable position. First check if user is admin to display this option under the admin menu. down forget the developers mode too and settings menu. Find a way to incorporate it.  Also consider putting this in the `Administration > globals` where it can be turned off and on but should be on by default. Please also loo

[2019-02-11 07:35] tafodinho commented on #1400
Looking at where the updater button is positioned right now I think that is the best position. I am just going to focus on turning the button on and off in the Administration > globals

[2019-02-11 07:52] muarachmann commented on #1400
No @tafodinho look at the issue description i should not be there. Please read the issue comments

[2019-02-11 21:00] MisterAwesome23 commented on #1399
I would like to fix this bug. Is someone on it or may I start?

[2019-02-11 21:24] aethelwulffe commented on #1399
Do it.
I will try to get a project invite sent to you so we can officially "assign" you to it, but go for it...BUT CHECK EXISTING PR's for someone having already fixed it!  :)

[2019-02-11 21:25] MisterAwesome23 commented on #1399
Thanks for quick reply. I will get going. I am pretty new to this and hope I'll seek help :)

[2019-02-11 21:31] aethelwulffe commented on #1399
This issue may be the result of imported records.  @tmccormi please verify if these are native or otherwise, and any story behind them.

[2019-02-14 14:26] MisterAwesome23 commented on #1399
Sorry for late response.
Actually I got up caught setting the docker container its up running now :)
I'm still catching up with the codebase and want to test this bug. Can someone help in exactly is this located. Tips and suggestions for doing so are most welcomed.

[2019-02-14 15:01] MisterAwesome23 commented on #1399
![screenshot from 2019-02-14 20-28-59](https://user-images.githubusercontent.com/36367483/52795272-73a68a80-3097-11e9-95a0-52d82d5e2730.png)
![screenshot from 2019-02-14 20-29-06](https://user-images.githubusercontent.com/36367483/52795281-773a1180-3097-11e9-854d-17562aba296e.png)
![screenshot from 2019-02-14 20-29-15](https://user-images.githubusercontent.com/36367483/52795286-7a350200-3097-11e9-

[2019-02-14 22:15] MisterAwesome23 opened #1406 "Json parse error in Merger Encounter"
![screenshot from 2019-02-15 03-21-38](https://user-images.githubusercontent.com/36367483/52821127-e9c8e280-30d3-11e9-8f98-2ded535c18b2.png)

On accessing Merger Encounter:
Status: parsererror, Error: SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data php

For reference: Output of chrome console:
Uncaught TypeError: Cannot read property 'split' of undefined
    at r.

[2019-02-15 05:29] muarachmann commented on #1406
@MisterAwesome you can go ahead and fix this issue it has to do with the jquery version. That is a huge pb across EHR. we need to scale it up and use the latest stable version currently i think it is `3.1.1` if i am not mistaken. If you can submit a patch for that as well  it would be great. so we drop the other jquery versions across EHR in the `/assests` dir and making the application lighter :D

[2019-02-15 05:41] muarachmann commented on #1406
@MisterAwesome you can go ahead and fix this issue it has to do with the jquery version. That is a huge pb across EHR. we need to scale it up and use the latest stable version currently i think it is `3.1.1` if i am not mistaken. If you can submit a patch for that as well  it would be great. so we drop the other jquery versions across EHR in the `/assests` dir and making the application lighter :D

[2019-02-15 10:52] muarachmann commented on #1406
@MisterAwesome you can go ahead and fix this issue it has to do with the jquery version. That is a huge pb across EHR. we need to scale it up and use the latest stable version currently i think it is `3.1.1` if i am not mistaken. If you can submit a patch for that as well  it would be great. so we drop the other jquery versions across EHR in the `/assests` dir and making the application lighter :D

[2019-02-15 17:06] aethelwulffe commented on #1406
@MisterAwesome23 Thank you for the bug report.  Are you volunteering to fix this?

[2019-02-15 17:10] MisterAwesome23 commented on #1406
Yes I would like to volunteer for this. The thing is I already have opened #1399 and being a newbie to this environment am proceeding at my own pace and might need a bit more help than obvious. But I'd definitely like to work on this issue after all - Finding a bug and fixing it yourself is a bliss :)

[2019-02-15 17:14] aethelwulffe opened #1407 "REPO Administration"
Hello all,
I would like to discuss elevation of privileges of a couple of long-time contributors to Repo level administration.

A number of contributors have held to a steady involvement here for a good while.  They have shown themselves capable, and present themselves as good communicators and collaborators.  Overall experience with the project is climbing, they understand a great many issues, an

[2019-02-15 17:34] muarachmann commented on #1407
Hi Art, I for one have loved the goals of EHR and have been thinking a lot
about it lately. I am a final year student as you all should know and will
round up with my B.Eng this year hopefully. Librehealth in general has been
welcoming for me and would live to make my stay here. Not only did it
teach/introduce me to open source but I felt a sense of improvements in my
skills all round. A big thank

[2019-02-15 17:47] aethelwulffe commented on #1407
Yes, you are on my list.  Naveen and Rodrigue have write permissions
already.  Just wanted you to ask.  The big point is that you have been
doing them already without being asked.

We need more involvement in the overall project management, which means
"where do we go next".

On 2019-02-15 12:34, muarachmann wrote:

[2019-02-15 19:40] muarachmann commented on #1406
@MisterAwesome23 feel free to drop your comments here or in the chat. Well definitely help.

[2019-02-16 05:12] jonathanzhang53 commented on #1361
@mshubhankar When I encountered this issue, I discovered that the module that opened up was not at all what was supposed to be there. It's not a functionality issue of any of the components, but the whole popup is not correlative with the function of the page I was on.

If you want to investigate further, reproduce the steps to get to the screen and try to understand what is supposed to be accompl

[2019-02-19 00:38] mshubhankar commented on #1361
![issue](https://user-images.githubusercontent.com/11030979/52982520-803b2380-33b4-11e9-9c4e-6da0c01d10fa.gif)

Is something like this required ? I have removed the Add button and added a functionality for rows to be selected.

[2019-02-19 00:41] jonathanzhang53 commented on #1361
That should be fine, as long as a config can be selected and the data is
passed through correctly. Maybe some more experienced collaborators can
shed light on the online chat (chat.librehealth.io).

[2019-02-22 16:14] prondubuisi opened #1408 "making Escape Column names more flexible for different use cases"

[2019-02-24 15:08] muarachmann commented on #1406
@MisterAwesome23 are u still on this? If you have any issues on solving this let us know. we might be of help :)

[2019-02-24 15:10] MisterAwesome23 commented on #1406
Yes I want to this. I'll get onto to ASAP sorry for the slack and delay. I'll post doubts and comment on this thread it self :)

[2019-02-24 15:11] muarachmann commented on #1406
great then

[2019-02-25 19:25] MisterAwesome23 commented on #1406
![screenshot from 2019-02-26 00-51-01](https://user-images.githubusercontent.com/36367483/53362644-ab97b280-3960-11e9-9d1b-214407e2b749.png)

I found all occurrences for "Merge Encounters"
All JSON files seem fine.

I did not 100% understand how this is related to jquery version and to be fixed.

Is it something like this, that the error is because of reference to an unstable jquery and has to be

[2019-02-25 20:17] muarachmann commented on #1406
That was my guess from first sight and I think it will do :-)

On Mon, Feb 25, 2019, 20:25 MisterAwesome23 <notifications@github.com wrote:

[2019-02-25 20:24] MisterAwesome23 commented on #1406
So the JQuery is placed in /assests right?
But where exactly is it being referenced for this particular case or "Merge encounters" any clue?

[2019-02-25 20:56] muarachmann commented on #1406
sure @MisterAwesome23

[2019-02-26 19:10] MisterAwesome23 commented on #1406
I tried hunting the current .js file using:
var script = document.currentScript;
var fullUrl = script.src;

(Source: https://stackoverflow.com/questions/2255689/how-to-get-the-file-path-of-the-currently-executing-javascript-code)

I tried alerting the output and it shows "null"
Maybe that is the very issue of having no currently running .js on accessing MergeEncounters.
![screenshot from 2019-02-2

[2019-02-26 21:26] muarachmann commented on #1406
Hey please steps on arriving to this screen

On Tue, Feb 26, 2019, 20:10 MisterAwesome23 <notifications@github.com wrote:

[2019-02-26 21:30] MisterAwesome23 commented on #1406
After selecting "Merge Encounters" tab and encountering the json parse error. I went onto inspect element and accessed the console.
Typed in:
var script = document.currentScript;
var fullUrl = script.src;
alert(script);

To display the current js path which seems to be null.

[2019-02-27 11:24] muarachmann commented on #1406
@MisterAwesome23 i mean accessing the merge encounters menu. I cant find it. maybe i messed up with my test branch?

[2019-03-01 05:15] Ngai-E opened #1411 "Language inconsistency in the French Version of LibreHealth EHR where user can still find some drop down menu items in English"
A) Your outreachy username:  elizabeth

B) Issue Title: Language inconsistency in the French Version of LibreHealth EHR where user can still find some drop down menu items in English.

C) Bug Report Date: Thursday, 28th  February 2019.

D) Site Affected: Documentation Site and NHANES

E) OS/ Browser used: Chrome  on Ubuntu 16.04

F) Which Workflow module in LHEHR: QA Measures

G) Steps to Reproduc

[2019-03-01 05:42] tusharjindal100 opened #1412 "Next / Previous buttons on Patient Finder do not change display"
A) My Outreachy username : Jindal_Tushar

B) Issue Title : Next / Previous buttons on Patient Finder do not change display

C) Bug Report Date : 27 FEB 2019

D) Site Affected : Documentation Site.

E) OS/Browser Used : MacOS/Chrome

F) Module/Tab : Patient Finder

G) Step to reproduce:
       1. Login with you account credentials.
       2. Take your cursor to Patient/Client tab then you see the F

[2019-03-01 16:52] aethelwulffe commented on #1412
I notice that the documentation site (from your screenshots) has the updater icon on, and I am not sure about the theme.  These are factors that may affect this.  My instances all work.  Then again, I don't use less than a 1080p screen, and there can be scaling issues affecting the use case.
  This needs to get hardened in any case.  Please request assignment to fix this issue.

[2019-03-01 16:54] KoniKodes commented on #1333
Our Outreachy EHR Coder Intern Candidate has posted an issue for the French labels translation at https://github.com/LibreHealthIO/lh-ehr/issues/1411.
Also included the correct translated phrases.

[2019-03-01 16:58] KoniKodes commented on #1412
Thank you. This was found and reported by our Outreachy EHR Coder Intern Candidate.
Is it possible to request a dev to help the candidate learn to fix it?

[2019-03-01 17:14] aethelwulffe commented on #1412
I believe it is due to the documentation site's settings (bad theme), but I will try to replicate the issue more closely so that I may advise the candidate @tusharjindal100 (welcome aboard!).

[2019-03-01 18:58] KoniKodes commented on #1412
Thank you so much!

[2019-03-01 19:20] Ngai-E opened #1413 "Able to add invalid email when adding pharmacy"
A)  **Outreachy Username:** elizabeth

B) **Issue Title:** Able to add invalid email when adding pharmacy.

C) **Bug Report Date**: Thursday, 28th  February 2019.

D) **Site Affected:** Documentation Site and NHANES

E) **OS/ Browser Used**: Chrome  on Ubuntu 16.04

F) **Which Workflow Module in LHEHR**: Administration => Practice Settings

G) **Steps to Reproduce the Bug:**
   1. Login to the Lib

[2019-03-02 02:44] muarachmann commented on #1412
@aethelwulffe i will get rid of the updater icon if you want and let the outreach applicant do the fix. I kinna wanted a newbie to fix this here #1400  @KoniKodes i am available if any. I love the way the stuff is explained maybe i should build some template for reporting issues after outreachy's round

[2019-03-02 02:46] muarachmann commented on #1413
thanks for your report @Ngai-E we are here to help you fix this is you want

[2019-03-02 02:57] KoniKodes commented on #1412
Thank you @muarachmann If it is approved, I know my applicant would appreciate it.

@htuck created the Report Template, I just added a couple of thoughts after everything else was in place. I'm sure he won't mind sharing if you ask nicely, it's all for the same EHR team.

Yes, I will be calling on you for guidance.

[2019-03-02 09:16] Ngai-E commented on #1413
Yes muarachmann I would love to contribute to the fixing this and any other issues if permitted. I am good at HTML/CSS, JavaScript, PHP, MySQL just to name a few and I am willing to learn any other requirements to work on LibreHealth EHR. Waiting on instructions on how to proceed thanks.

[2019-03-04 18:37] muarachmann commented on #1413
@Ngai-E sure. use the inspector tool to guide you on seeing where the resource file is located. If you have any issues ping me in the chats or just drop it here :)

[2019-03-04 19:31] Ngai-E commented on #1413
sure, thanks.

[2019-03-05 02:32] FaiqaShafqat79 opened #1414 "Notification icon showing notifications even after reading the notifications"
**A)	My Outreachy username :** faiqa

**B)	Issue Title :** Notification icon showing notifications even after reading the notifications

**C)	Bug Report Date :** March 5, 2019

**D)	Site Affected :** Documentation Site.

**E)	OS/Browser Used :** Windows/Chrome.

**F)	Workflow Module/Tab :** Message and Reminder Center.

**G)	Step to reproduce :**

 1. Login with your account credentials.
 2. Take

[2019-03-05 16:45] Priyanka488 opened #1415 "Invalid date inputs were accepted while creating MIPS report"
A) <b>Outreachy username :</b> priyanka.yadav

B) <b>Issue title :</b> Invalid date inputs were accepted while creating MIPS report

C) <b>Site affected:</b> The documentation site

D)<b> Bug report date :</b> March 5, 2019

E) <b>OS/ browser used: </b>Windows/Chrome

F) <b>Which workflow module in LHEHR : </b>“Create MIPS Report” under “QA Measures”

G) <b>Steps to reproduce the bug : </b>
1. ) L

[2019-03-05 17:31] sakshi1499 opened #1416 "Hindi Calendar has English Labels"
A) **Outreach username**: sakshi.munjal

B)  **Issue Title**: Hindi Calendar has English Labels

C) **Bug Report Date**: March 5, 2019

D) **Site Affected**: Documentation Site

E) **OS/ Browser used**: Firefox on Windows 10

F) **EHR Workflow Module**: Calendar

G) **Steps to Reproduce the Bug**:
1. Login to LibreHealth EHR and choose Hindi as the chosen Language.
2. Click on the Calendar in the

[2019-03-05 18:47] muarachmann commented on #1414
@FaiqaShafqat79 triggering a change of status in the database once this read will do the job. I think for now if you change from read to done and reload the page you shouldn't see the notification count increment again. so that is a quick walk around - i.e turning it to the done function once the message is opened

[2019-03-05 19:23] FaiqaShafqat79 commented on #1414
Yeah it's a quick walk around if we trigger a change of status in database

On Tue, Mar 5, 2019 at 11:47 PM muarachmann <notifications@github.com>
wrote:

[2019-03-05 20:14] FaiqaShafqat79 opened #1417 "Unable to Edit the Amendments"
**A. My Outreachy username :** faiqa

**B. Issue Title :** Unable to Edit the Amendments

**C. Bug Report Date :** March 5, 2019

**D. Site Affected :** Documentation Site.

**E. OS/Browser Used :** Windows/Chrome.

**F. Workflow Module/Tab :** Patient Summary.

**G. Step to reproduce :**

1. Login with your account credentials.
2. Take your cursor to the Patient/Client. It gives the dropdown menu

[2019-03-06 16:04] #1344 closed

[2019-03-06 18:07] Priyanka488 opened #1418 "An unclear modal box appears while creating new XML for MIPS."
**A) **Outreachy username :**** priyanka.yadav

**B) Issue title :** An unclear modal box appears while creating new XML for MIPS.

**C) Site affected:** The documentation site

**D) Bug report date :** March 6, 2019

**E) OS/ browser used:** Windows/Chrome

**F) Which workflow module in LHEHR :** “Create MIPS Report” under “QA Measures”

**G) Steps to reproduce the bug :**

        1. Login with

[2019-03-06 18:47] sakshi1499 opened #1419 "Authorizations show Unknown Tab"
A)**Outreach username**: sakshi.munjal

B) **Issue Title**: Authorizations show Unknown Tab

C)**Bug Report Date**: March 7, 2019

D) **Site Affected**: Documentation Site

E) **OS/ Browser used**: Firefox on Windows 10

F) **EHR Workflow Module**: Authorizations in Miscellaneous module

G) **Steps to Reproduce the Bug**:

1.Login to LibreHealth EHR and choose English as the chosen Language.
2.Cli

[2019-03-06 19:58] Priyanka488 opened #1420 "Multiple modules on the same screen."
**A) Your outreachy username :** priyanka.yadav

**B) Issue title :** Multiple modules on the same screen.

**C) Site affected:** The documentation site

**D) Bug report date :** March 7, 2019

**E) OS/ browser used:** Windows/Chrome

**F) Which workflow module in LHEHR :** “Calendar” and “Flow Board” . This is only for the modules that are initially opened when the user logs in, based on the pre-

[2019-03-07 17:56] Priyanka488 opened #1421 "Visible PHP errors and warnings on entering invalid data."
**A) Your outreachy username :** priyanka.yadav

**B) Issue title :** Visible PHP errors and warnings on entering invalid data.

**C) Site affected:** The documentation site , NHANES site.

**D) Bug report date :** March 7, 2019

**E) OS/ browser used:** Windows/Chrome

**F) Which workflow module in LHEHR :** “Management” under “Inventory”.

**G) Steps to reproduce the bug :**
1. Login with your a

[2019-03-07 19:21] Ngai-E commented on #1413
Hi @muarachmann I think i have a solution for this issue please. I made this change to controller.php file for add pharmacy and i think it works now but the test has only been done locally.
[controller.php.zip](https://github.com/LibreHealthIO/lh-ehr/files/2942907/controller.php.zip)

[2019-03-08 17:06] muarachmann commented on #1420
@Priyanka488 thanks for this bug. I could be an annoying feature. Any proposed solution on how to solve this?

[2019-03-08 17:08] Priyanka488 commented on #1420
@muarachmann  Why did you add Duplicate label ? Is there a similar issue ?

[2019-03-08 17:09] muarachmann commented on #1419
Ehmmm i have the latest codes and i dont have that feature take a look

![screen shot 2019-03-08 at 6 08 23 pm](https://user-images.githubusercontent.com/16350814/54043589-44ce9080-41cd-11e9-96cc-c9fb3e88d592.png)

[2019-03-08 17:11] muarachmann commented on #1420
nope my error clicked twice :0

[2019-03-08 17:12] Priyanka488 commented on #1420
@muarachmann Okay , I am working on the bug , haven't seen any of this kind before  !!

[2019-03-08 17:17] muarachmann commented on #1412
@KoniKodes like i said i have the next and prev stuffs working. The issue should rather be removing the updater that blocks #1400 or something similar take a look i have 51-100 entries i am looking at right now when i press next

![screen shot 2019-03-08 at 6 16 37 pm](https://user-images.githubusercontent.com/16350814/54044112-6e3bec00-41ce-11e9-98ff-0c28d193eb0a.png)

[2019-03-08 17:19] muarachmann commented on #1412
@tusharjindal100 are you still on this ?

[2019-03-08 17:24] muarachmann commented on #1420
cool i am here to help

On Fri, Mar 8, 2019 at 6:12 PM Priyanka Yadav <notifications@github.com>
wrote:

[2019-03-08 18:04] sakshi1499 commented on #1419
I checked again, still shows Unknown Tab

[2019-03-08 18:48] KoniKodes commented on #1419
@muarachmann Are you seeing this in Doc site? Or NHANES?

[2019-03-08 19:01] muarachmann commented on #1419
On the docs @KoniKodes and should be for NHANES - see below surely this should be sue to limited permissions
![screen shot 2019-03-08 at 7 58 36 pm](https://user-images.githubusercontent.com/16350814/54049414-b95cfb80-41dc-11e9-8856-fadd688d91b0.png)

![screen shot 2019-03-08 at 7 59 05 pm](https://user-images.githubusercontent.com/16350814/54049425-c1b53680-41dc-11e9-8ab9-771aa562649a.png)

[2019-03-08 19:05] muarachmann commented on #1418
yes @konikodes , @Priyanka488 this is a bug..

[2019-03-08 19:12] KoniKodes commented on #1418
@Priyanka488 Please try to duplicate this on the NHANES site.

[2019-03-08 19:17] Priyanka488 commented on #1418
@konikodes The unclear model box appears on the NHANES site too.

[2019-03-08 19:28] KoniKodes commented on #1419
That makes sense @muarachmann
I'm sorry @sakshi1499 but as an applicant, you don't have full administrative authorization.

[2019-03-08 19:57] #1291 closed

[2019-03-08 21:09] KoniKodes commented on #1418
Ok @muarachmann and @Priyanka488
It seems to me that we need fix the modal so that it is not transparent. Then the user can read the text and follow any directions.
Do I understand correctly?

[2019-03-08 21:11] aethelwulffe commented on #1418
Transparent modal windows over other text is...sub-optimal...

On 2019-03-08 16:09, Toni Shortsleeve wrote:

[2019-03-08 21:29] KoniKodes commented on #1412
He is currently in the hospital. We are sending best wishes that he can join us soon.

If he's not back in time, will you work with the chosen intern to fix this?

Otherwise you can work together when he return.

[2019-03-09 14:41] muarachmann commented on #1417
@konikodes are we required to edit those., @FaiqaShafqat79 did you very this with Konikodes? that it actually needs to be edited?

[2019-03-09 14:44] muarachmann commented on #1421
@Priyanka488 i guess still some validations stuff. I am confident you've got this. Don't forget to replace alerts you come across to display the message appropriately! . Good keep up

[2019-03-09 19:39] FaiqaShafqat79 commented on #1417
@muarachmann Yes, I discussed this issue with @KoniKodes first but didn't discussed that it actually needs to be edited

[2019-03-09 20:05] KoniKodes commented on #1417
@FaiqaShafqat79 What happens if you try to add it first?

[2019-03-09 20:11] Priyanka488 commented on #1421
@muarachmann Thank you ! I have sent a pull request, please review .: )

[2019-03-09 20:12] Priyanka488 commented on #1421
@muarachmann Sure, will keep that in mind : )

[2019-03-09 20:13] muarachmann commented on #1417
Please assert with Toni if this is necessary thanks

On Sat, Mar 9, 2019 at 9:05 PM Toni Shortsleeve <notifications@github.com>
wrote:

[2019-03-09 20:13] KoniKodes commented on #1419
I have a Test User-Intern who has the same admin restrictions as the applicant. And the issue is the same.
Instead of a simple Unknown Tab, should it not have an alert stating something like "You do not have permission to access this information. Please see your Administrator."

[2019-03-09 21:03] FaiqaShafqat79 commented on #1417
when I add it first it gives me this screen

![Amendments add v1](https://user-images.githubusercontent.com/37265494/54077327-84ce6a00-42d8-11e9-8be7-7ca57c2c1510.png)

on save
![Amendment-save v1](https://user-images.githubusercontent.com/37265494/54077334-9c0d5780-42d8-11e9-91ef-e9401adda718.png)

[2019-03-09 23:37] KoniKodes commented on #1417
Did the added testing show up on the new List?

[2019-03-10 15:45] Gicheha opened #1428 "Any File format can be uploaded on the Patient ID Card"
**A) Your outreachy username :** gicheha

**B) Issue title : ** Patient ID card can be updated using executable files and scripts

**C) Site affected:** The patient site, on the documents section

**D) Bug report date :** March 10, 2019

**E) OS/ browser used:** Windows/Chrome

**F) Which workflow module in LHEHR :**  “Documents” under “Patient”.

**G) Steps to reproduce the bug :**
          ●Sel

[2019-03-10 17:53] muarachmann commented on #1428
Yes we would not want any kind of file be  uploaded imagine some freaking
.bat file up there and running a cron job. U can validate by size and
extensions

On Sun, Mar 10, 2019, 16:45 Gicheha <notifications@github.com> wrote:

[2019-03-10 18:27] Gicheha commented on #1428
Thanks...I am on it

[2019-03-10 19:26] Ngai-E opened #1429 "Deleting Reports can not be determined if successful or not until page is refreshed"
**A) Outreachy Username:**  elizabeth

**B) Issue Title**: Deleting Reports can not be determined if successful or not until page is refreshed.

**C) Bug Report Date:** Friday, 10th  March 2019.

**D) Site Affected:** Documentation Site and NHANES

**E) OS/ Browser Used:** Chrome  on Ubuntu 16.04

**F) Which Workflow Module in LHEHR:** Report History/Results

**G) Steps to Reproduce the Bug:**
1.

[2019-03-11 02:53] FaiqaShafqat79 commented on #1417
No. when I click on add it gives me this screen
![Amendments add v2](https://user-images.githubusercontent.com/37265494/54096658-8712f000-43ce-11e9-94b0-0ce607390d37.png)

If I filled the fields and save, It gives my a new list
![Amendment-save v1](https://user-images.githubusercontent.com/37265494/54096734-e2dd7900-43ce-11e9-8965-f311c49522d3.png)

The problem is there is an edit button on amende

[2019-03-11 14:24] #1415 closed

[2019-03-11 17:43] KoniKodes commented on #1417
I need to check to see if this is an authorized user issue.

[2019-03-11 19:04] Priyanka488 commented on #1418
@muarachmann I am not able to find concerned css files, the text is printed through htmlecho, and the inspector lists no css file either.

May I replace the htmlecho part with p tags and enclose it in html tag and add inline css ?

[2019-03-11 19:05] Gicheha commented on #1428
@muarachmann Kindly assist with the location of the affected files, I have only managed to find the PHP script for uploading the Profile photo...the file explorer page is Javascript generated making it a bit tricky to trace the files...Thanks in advance

[2019-03-11 21:19] muarachmann opened #1430 "Patient Documents Showing Black screen"
From the latest pull of EHR. i noticed the patient document screen all shows blank. As a consequence one cannot upload any files to the `sites/xxxx/directory`. See below

![Screen Shot 2019-03-11 at 10 13 20 PM](https://user-images.githubusercontent.com/16350814/54158651-43120080-444b-11e9-879c-c49d7dc37d16.png)

Console output is blank too
![Screen Shot 2019-03-11 at 10 19 02 PM](https://user-ima

[2019-03-11 21:26] muarachmann commented on #1429
@Ngai-E not sure of this. I can actually delete reports @koniKodes please verify this

[2019-03-12 00:41] tusharjindal100 commented on #1412
@muarachmann I am back.Pleade tell me what to do about this.Will be more than happy to contribute

[2019-03-12 00:53] muarachmann commented on #1412
Glad to hear you are feeling better.

I can navigate the button. and get patients. Can you verify that too?

On Mon, Mar 11, 2019 at 8:41 PM tusharjindal100 <notifications@github.com>
wrote:

[2019-03-12 07:43] muarachmann commented on #1428
@Gicheha what files have you found?

[2019-03-12 07:50] Gicheha commented on #1428
@muarachmann  I think we are not getting each other...I mean the files containing the code that uploads the patient docs

[2019-03-12 11:52] Ngai-E opened #1432 "drugs"

[2019-03-12 11:52] #1432 closed

[2019-03-12 14:55] aethelwulffe commented on #1430
Can't re-test right now, but can you check your permissions for the new photo directory (which is not on the list of stuff normally handled by vhost settings for /sites/*).  Also check the logs on your machine.  If nothing is coming up in console, then the code from the multiple PR's has just gotten mangled.

[2019-03-12 15:19] muarachmann commented on #1430
Ok Art, Thanks. I will do so and check my logs too

On Tue, Mar 12, 2019 at 4:04 PM Art Eaton <notifications@github.com> wrote:

[2019-03-12 16:04] muarachmann commented on #1428
@aethelwulffe could you please help here thanks

[2019-03-12 16:09] muarachmann commented on #1413
@Ngai-E closing this since solved

[2019-03-12 16:09] #1413 closed

[2019-03-12 16:15] aethelwulffe commented on #1428
I will try to hunt them down.  A good little project would be to gather up all the functions and put them in a monolithic feature directory under /modules.  I think that this still uses the old document tree asset.

[2019-03-12 16:19] aethelwulffe commented on #1428
LibreEHR\controllers\C_Document.class.php:

[2019-03-12 16:21] aethelwulffe commented on #1428
LibreEHR\interface\patient_file\upload_dialog.php
LibreEHR\library\classes\Document.class.php:

[2019-03-12 16:23] aethelwulffe commented on #1340
https://github.com/LibreHealthIO/lh-ehr/pull/1347#event-2197677059 was closed by punwai.  This is still very much an active issue, and a really bad one.

[2019-03-12 16:27] #1341 closed

[2019-03-12 16:30] #1384 closed

[2019-03-12 16:31] Gicheha commented on #1428
@aethelwulffe @muarachmann thanks a lot checking it out

[2019-03-12 16:34] aethelwulffe commented on #1428
I think under interface/patient_file/summary and other places, but these file names will get you everywhere you need to get to.

[2019-03-12 16:38] #1336 closed

[2019-03-12 16:49] aethelwulffe commented on #1299
This is "fixed" but the features do not work as the database table changed.  The format of the data this uses needs some revision.  Let's keep this open, and if anyone wants to take it on I can help.  In the meantime /modules/MIPS needs updating to current version being used elsewhere, then this sort of thing can be worked on.

[2019-03-12 19:44] aethelwulffe commented on #1419
Yes, totally.  Or not even show in the menu.
Biggest issue currently is the ACL system, which is a smarty based GACL.  A much more simple application specific fine-grain set of user access table check items should replace it.

[2019-03-12 19:45] aethelwulffe commented on #1419
Current implementation of GACL is the same as it was in OpenEMR about 100 years ago.  It was inexplicable and implemented in a random way at the time, and it has hardly been touched since.

[2019-03-12 19:48] aethelwulffe commented on #1406
This is code from my company.  It is contained in /modules/merge_encounters.
All assets are self-contained within that directory.

[2019-03-12 21:24] KoniKodes commented on #1419
Perhaps I could keep this in mind for a future project?

[2019-03-13 04:20] #1429 closed

[2019-03-13 07:54] Ngai-E opened #1437 "sql"

[2019-03-13 07:54] #1437 closed

[2019-03-13 08:13] muarachmann commented on #1430
@aethelwulffe here are my Logs not sure why it is showing that

`[13-Mar-2019 08:09:50 UTC] PHP Notice:  Undefined offset: 14 in /Applications/MAMP/htdocs/lh-ehr/controllers/C_Document.class.php on line 1092`
`[13-Mar-2019 08:09:50 UTC] PHP Notice:  Only variables should be passed by reference in /Applications/MAMP/htdocs/lh-ehr/controllers/C_Document.class.php on line 1069`
`[13-Mar-2019 08:09:50

[2019-03-13 15:08] aethelwulffe commented on #1419
YES!  YES YES YES!
Issues with that:
GACL is too big for the simple use-case we need.
The "objects" and "groups" defined in the implementation were defined around a tiny clinic doing certain things on a version of the software from 15 years ago, and is irrelevant.
None of the above was documented or particularly well tested even at the time.  What is "office, write wsome"?  No one really knows!
We

[2019-03-13 15:46] Ngai-E opened #1438 "MySQL errors showing up in search submission"
A) **Outreachy Username:**  elizabeth

B) **Issue Title:** MySQL errors showing up in search submission exposing database structure of LibreHealth EHR.

C) **Bug Report Date:** March 13,  2019.

D) **Site Affected:** Documentation Site and NHANES

E) **OS/ Browser Used:** Chrome  on Ubuntu 16.04

F) **Which Workflow Module in LHEHR:** Report - Sales by Item

G) **Steps to Reproduce the Bug:**
1. L

[2019-03-13 15:49] aethelwulffe commented on #1430
Strict?
C_document lines 1091 and 1092 show:
 $icon = "file3.png";
            if (is_array($categories[$id])) {
Lots of commits related to this recently.  I need to stop everything and back up and test myself.  Individual branches have worked, but I have not tested the integrated whole in master.

[2019-03-13 15:55] aethelwulffe commented on #1438
This is due to your server error reporting settings.  This is not a bug, just a developer-level php.ini configuration issue.
I use something like this in my config
// toggle this to change the setting
define('DEBUG', true);
// you want all errors to be triggered
error_reporting(E_ALL);

if(DEBUG == true)
{
    // you're developing, so you want all errors to be shown
    display_errors(true);
    /

[2019-03-13 15:58] aethelwulffe commented on #1438
What caused this is possibly a (currently) bad query, or lack of data without sanity checking database  or globals configuration.  I doubt the warehouse option is turned on in globals for the site you are looking at.

[2019-03-13 16:34] #1418 closed

[2019-03-13 16:35] Ngai-E commented on #1438
Thanks @aethelwulffe  for the review but i tested this on the online documentation site for LibreHealth not my local deployment. That is why i reported it as a bug.

[2019-03-13 16:38] KoniKodes commented on #1419
Great! This is something I have been wanting to see since I began as an intern.

I would love to be a part of it, and I think our chosen EHR Coder Outreachy Intern would be interested as well.

[2019-03-13 16:42] aethelwulffe commented on #1438
Hi Bee,
I caught on to that.  Something you might want to take up with the Librehealth.io admin.  I have it in my testing que to see if this is related to an actual sql error, or just a site configuration boo-boo in addition to the show_error bit.  On that basis though, it is not a security issue.

[2019-03-13 16:47] aethelwulffe commented on #1419
This is seriously a project that comes from the use-case, and therefore documentation side.
On one hand, it is a huge thing to manage.  On the other, the approach is simple.  It boils down to a function call named "acl_check()".  Still no-where near as complex of an issue as the translations bit.

[2019-03-13 16:50] Ngai-E commented on #1438
Alright but @aethelwulffe it's a bug right?

[2019-03-13 17:07] aethelwulffe commented on #1438
I think so.
Basically the array passed to the prepare_query() function in the controller seems to not be getting the full array of elements.  My test was identical to yours, but against much older code.  Exactly the same result.  If you don't define a facility, everything is cool.  If you do, then you get the error.

The related code from the controller (not where it is called or where the array c

[2019-03-13 17:22] Ngai-E commented on #1438
Yep that is my point. Thanks for confirming

[2019-03-13 17:29] aethelwulffe commented on #1438
Full (redacted for server stuff) error report on my end is:
[code]
I see two things:  No terminal semicolon, and the dates are NOT what I put in.  Nor is 23:59:59 23:59:59 a valid date.

[2019-03-13 17:33] Ngai-E commented on #1438
Nope it is not a valid one. I also discovered that even without putting the date you still get the SQL error.

[2019-03-13 19:17] Priyanka488 opened #1440 "State name not appended to list until module is refreshed"
**A) Your outreachy username :** priyanka.yadav

**B) Issue title :** State name not appended to list until module is refreshed.

**C) Site affected:** The documentation site , NHANES site

**D) Bug report date :** March 13, 2019

**E) OS/ browser used:** Windows/Chrome

**F) Which workflow module in LHEHR :** “Add new/search” under “Patient/Client”.

**G) Steps to reproduce the bug :**

1. Login

[2019-03-13 19:31] muarachmann commented on #1440
Nice discovery, can you file in a PR for this

On Wed, Mar 13, 2019 at 8:17 PM Priyanka Yadav <notifications@github.com>
wrote:

[2019-03-13 19:31] Priyanka488 commented on #1440
@muarachmann Sure, will do it soon . :)

[2019-03-13 19:32] aethelwulffe commented on #1440
Note:  State should also be a field that can be toggled as required, along with the address elements, though the matching algorithm need not be restricted to that.
What we are seeing is a list/add function, and not a jquery thing.  Submitting requires another database read or refresh.  Question is, did it add the state for the parameters when submitted?
NOTE:  Pretty sure that since this list is c

[2019-03-13 19:34] aethelwulffe commented on #1440
And yes, good find.  Don't feel too restricted on what you fix here.  If you want to replace the whole patient_search.php feature with something less old-school, have at it!  :)

[2019-03-13 22:54] KoniKodes commented on #1438
So I'm confused. Is this an error, and how can we fix it?

[2019-03-13 23:13] Ngai-E commented on #1438
I think @KoniKodes  i have an idea how to go about the fix for the front end. I have worked on something similar before I will work on that after submitting my application.

[2019-03-14 15:03] aethelwulffe commented on #1438
By figuring out what is wrong with the query?  Gotta validate the query (with values for the array variables) to make sure the joins to the facilities table work and all that, then figure out why the whole report is having issues with dates and the like.  I imagine the date picker was re-implemented and no-one actually verified the function after that.

[2019-03-14 15:21] Ngai-E commented on #1438
Ok u  am working on that.

[2019-03-14 19:23] KoniKodes commented on #1419
Hopefully we can help you fix this.

[2019-03-14 21:29] Ngai-E opened #1441 "Performing patient Ledger search keeps displaying error message"
A) **Outreachy Username:**  elizabeth

B) **Issue Title**: Can not select search patient Ledger in module Report – Financial -     Patient Ledger By Date .

C) **Bug Report Date**: March 14, 2019.

D) **Site Affected**: Documentation Site and NHANES

E) **OS/ Browser Used**: Chrome  on Ubuntu 16.04

F) **Which Workflow Module in LHEHR**: Report – Financial - Patient Ledger By Date

G) **Steps to R

[2019-03-15 05:21] Ngai-E opened #1442 "Labels and Submit buttons do same action after performing first Submit and Label buttons click"
A) **Outreachy Username**:  elizabeth

B) **Issue Title**: Both Labels and Submit Button tries to export a CSV file after performing first search.

C) **Bug Report Date**: March 13,  2019.

D) **Site Affected**: Documentation Site and NHANES

E) OS/ Browser Used: Chrome  on Ubuntu 16.04

F) **Which Workflow Module in LHEHR**: Reports => Insurance => Unique Seen Patients

G) **Steps to Reproduce th

[2019-03-15 13:52] aethelwulffe commented on #1419
Ensuring you understand how this bit is used is also important.  I can
at least advise you there.  Trust me, it is a clinical logic bit that
could use some help, but making it work is the first step.  Making it
work right is the second.  Last but not least is making it work fast.

[2019-03-15 14:08] aethelwulffe commented on #1441
Patient has to have authorized billing and payments for this report to display data.  We will look into the queries it runs to display the same.
  Despite the feelings of certain parties, we cannot use the Documentation or NHANES site to do troubleshooting, as there is no access to the database (phpmyadmin specifically) to determine the state of the data or make direct changes to affect that.  Thu

[2019-03-15 14:17] aethelwulffe commented on #1442
I suppose the Labels button is for printing mailing labels?  Checking to see if that attached code exists is a good idea (not necessarily indicated here) but most likely we have, upon submit/export, and discontinuous data (variable not reset)?
  I cannot verify that there were any rows to print from this, but lacking any data in the query result may be part of the issue.  Yes, it should still "wor

[2019-03-15 14:21] Ngai-E commented on #1442
The main issue is that user can not perform a second search after clicking on the Labels button. When user clicks on Submit with a different search criteria no result is displayed instead it tries to export previous searched results. Module Crashes at this point.

[2019-03-15 14:24] aethelwulffe commented on #1442
Right.  After returning results, you should have greyed-out buttons except for the "next step" or a "run another report" button that basically just refreshes the page.  Variable definitions and all that should be called all over as a fresh start.
  The report stinks, and it needs fixing.  Simple enough!  :)

[2019-03-15 14:27] Ngai-E commented on #1441
Thanks @aethelwulffe I will be waiting

[2019-03-15 14:29] KoniKodes commented on #1419
We can use your advice. I agree that all three steps are important.

[2019-03-15 14:34] Ngai-E commented on #1442
Thanks. I will fix the issue.

[2019-03-15 14:43] aethelwulffe commented on #1419
Right now, we have a user on a site that is getting a broken link (essentially the "unknown" tab display) when they click on Authorizations.  Basically, this means that a lower access level person needs to have "view authorizations (all) in their user access settings.  It is not inappropriate to change the ACL in the doc site to allow someone to use this particular interface.
At the same time, the

[2019-03-15 15:06] KoniKodes commented on #1441
So this means what I told Priya was wrong - this was found in the local instance but I told her to use Docs Site:
Under Patient/Add new/search
Go for Search
Search a patient
Select a patient. Now the patient information is displayed at the top left corner, and the name of the module changes to patient name also.
Edit the Demographics.
Change the name of the patient and save the changes.
The module

[2019-03-15 15:55] aethelwulffe commented on #1441
No, nothing wrong there. Just for fixing actual issues, often we have to look at what data is being used, which can't be done on the docs site directly.  Yes, you need to use the same site/settings for documentation purposes.
OK, first, the patient ledger in this instance was accessed via dems, right?
Edit the dems, save, look for name change does not refresh the top fields.  I get confused when y

[2019-03-15 16:06] KoniKodes commented on #1441
Thank you. I know you are busy and appreciate your time and info you share.

I will send both applicants to read this, so they each understand what they are looking for, and where.

[2019-03-15 16:15] Ngai-E commented on #1441
i> No, nothing wrong there. Just for fixing actual issues, often we have to look at what data is being used, which can't be done on the docs site directly. Yes, you need to use the same site/settings for documentation purposes.

I understand how tight schedule can be @aethelwulffe. I will like to mention that, the issue with this report is not to check whether or not there is a billing data. But w

[2019-03-15 17:00] Ngai-E opened #1444 "Displays unrelated drug search results together with error message ‘No results to display.’"
A) **Outreachy Username:**  elizabeth

B) **Issue Title**: Displays unrelated drug search results together with error message ‘No results to display.’.

C) **Bug Report Date:** March 15, 2019.

D) **Site Affected:** Documentation Site and NHANES

E) **OS/ Browser Used:** Chrome  on Ubuntu 16.04

F) **Which Workflow Module in LHEHR:** Reports => Inventory => Activity

G) **Steps to Reproduce the Bu

[2019-03-15 17:42] aethelwulffe commented on #1441
You are completely correct.  The error message stinks.  Make more gooder
or suggest the text specifically and delegate to someone.

[2019-03-15 18:24] Ngai-E commented on #1438
@aethelwulffe  finally succeeded to validate the query as you suggested. Also fixed the date ranges issues. I send a pull request, patiently waiting for feedback. Thanks.

[2019-03-15 18:37] aethelwulffe commented on #1421
@Priyanka488 this is izimodal stuff right?  Good.  When we get a conversion in, just make sure to delete the old code.  Don't need any junky oldness cramping your nifty newness.

[2019-03-15 18:47] Priyanka488 commented on #1421
@aethelwulffe Okay sure . :)

[2019-03-18 19:10] Meghana122 opened #1447 "Profile Picture not being displayed on the main screen"
A) **Outreachy Username**: meghana

B) **Issue title**: Profile Picture not being displayed on the main screen.

C) **Report Date**: March 18, 2019

D) **Sites Affected**: Both Documentation, NHANES sites

E)  **Browser used**: Microsoft Edge and Google Chrome in Windows 10

F) **EHR Workflow module**: Profile Picture on main screen.

G) **Steps to Reproduce the Issue**:
         1) Login to the L

[2019-03-18 20:12] Meghana122 commented on #1447
fixed #1392

[2019-03-18 20:12] #1447 closed

[2019-03-19 10:00] Priyanka488 commented on #1440
@aethelwulffe @muarachmann  Sorry for the late reply, had mid-term exams.
For the state/city options, I was thinking that state name should be asked first and then the corresponding cities could be displayed.
I will add states that are already present, and once the user clicks on any of the state, he will get a list of corresponding cities in the City menu.
Also,since it'll be impossible to list d

[2019-03-19 10:02] Priyanka488 commented on #1421
@muarachmann @aethelwulffe In the local instance, Inventory menu is missing. How should I go about solving this issue ? : /

[2019-03-19 10:29] Ngai-E opened #1449 "Strange Filenames and extensions Showing alongside ID Card"
A) **Outreachy Username:**  elizabeth

B) **Issue Title**: Patient ID Card displays file names and extension (.php and .jpg) to user.

C) **Bug Report Date:** March 15, 2019.

D) **Site Affected:** Documentation Site and NHANES

E) **OS/ Browser Used**: Chrome  on Ubuntu 16.04

F) **Which Workflow Module in LHEHR:** Patient/Client => Finder.

G) **Steps to Reproduce the Bug:**
1. Login to LibreHea

[2019-03-19 15:45] Priyanka488 opened #1451 "“Incorrect password” appears when password isn’t even changed"
**A) Your outreachy username :** priyanka.yadav

**B) Issue title :** “Incorrect password” appears when password isn’t even changed.

**C) Site affected:** The documentation site , NHANES site.

**D) Design Flaw report date :** March 19, 2019

**E) OS/ browser used:** Windows/Chrome

**F) Which workflow module in LHEHR :**“Pass Phrase” under “Miscellaneous”.

**G) Steps to reproduce the design fla

[2019-03-19 15:49] Priyanka488 opened #1452 "No system print dialogue appears"
**A) Your outreachy username :** priyanka.yadav

**B) Issue title :** No system print dialogue appears.

**C) Site affected:** The documentation site, NHANES site

**D) Bug report date :** March 19, 2019

**E) OS/ browser used:** Windows/Chrome

**F) Which workflow module in LHEHR :**“Posting” under “Fees”.

**G) Steps to reproduce the bug :**

1. Login with your account credentials.
2. Click on “

[2019-03-19 20:24] muarachmann commented on #1451
@Priyanka488 this is correct. Please you can go ahead and submit a PR

[2019-03-19 20:34] muarachmann commented on #1449
Okay you've got this

[2019-03-20 10:55] Ngai-E commented on #1449
ok

[2019-03-20 16:30] Priyanka488 commented on #1452
@aethelwulffe @muarachmann There are inconsistencies in the code of local instance and doc site for the posting module as well. How should I go about solving this isssue ?

There's no print option in the local instance.

[2019-03-20 18:08] Ngai-E commented on #1444
@muarachman, @aethelwulffe Is this ok to fix with my suggested solution.

[2019-03-21 00:26] muarachmann commented on #1452
This is because you have not like done some fees on a certain patient locally.

[2019-03-21 01:53] muarachmann opened #1456 "Close Transaction Popup button Missing (Replace with iziModal)"
Currently, the trasaction popup has no way of closing it and added to that the old popup is ugly and has to be replaced with iziModal. See below

![Screen Shot 2019-03-21 at 2 52 43 AM](https://user-images.githubusercontent.com/16350814/54729539-760f6f00-4b84-11e9-8a1b-8bc46aa72672.png)

[2019-03-21 13:26] Priyanka488 commented on #1452
@muarachmann @aethelwulffe  I added fees for the patient, still print option isn't showing in the local instance.

The local instance
![ff](https://user-images.githubusercontent.com/33698440/54754901-a7cb1900-4c0a-11e9-925b-30fff54db746.PNG)

The docs site
![gg](https://user-images.githubusercontent.com/33698440/54754942-c0d3ca00-4c0a-11e9-83f8-a22137859dcd.PNG)

There are differences in the code.

[2019-03-21 13:49] muarachmann commented on #1452
@Priyanka488 try adding some other fee for the same patient lets see

[2019-03-21 14:19] Priyanka488 commented on #1452
@muarachmann Not happening !

![hty](https://user-images.githubusercontent.com/33698440/54758581-70f90100-4c12-11e9-8cac-a3af33a28fa8.PNG)

[2019-03-21 15:34] Priyanka488 opened #1458 "“Print selected statement” displays a list of patients."
**A) Your outreachy username :** priyanka.yadav

**B) Issue title :** “Print selected statement” displays a list of patients.

**C) Site affected:** The documentation site , NHANES site.

**D) Design Flaw report date :** March 20, 2019

**E) OS/ browser used:** Windows/Chrome

**F) Which workflow module in LHEHR :**“Posting” under “Fees”.

**G) Steps to reproduce the design flaw :**

1. Login with

[2019-03-21 15:40] Meghana122 opened #1459 "Inappropriate Module Name"
A) **Outreachy Username**: meghana

B) **Issue title**: Inappropriate module name.

C) **Report Date**: March 21, 2019

D) **Sites Affected**: Both Documentation and NHANES sites.

E)  **Browsers used**: Microsoft Edge and Google Chrome on Windows 10.

F) **EHR Workflow module**: Miscellaneous => Portal Dashboard, there click on the “Mail” button.

G) **Steps to Reproduce the Issue**:
         1)

[2019-03-21 16:33] Ngai-E opened #1460 "Two Close Button on Modal"
A) **Outreachy Username:**  elizabeth

B) **Issue Title**: Track Appointments modal shows redundant close buttons.
C) **Design Flaw Report Date:** March 21, 2019.

D) **Site Affected**: Documentation Site and NHANES

E) **OS/ Browser Used:** Chrome  on Ubuntu 16.04

F) **Which Workflow Module in LHEHR:** Patient/Client => Track Appointments

G) **Steps to Reproduce the Bug:**
1. Login to LibreHeal

[2019-03-21 17:05] Ngai-E opened #1461 "Can Not Filter Patient Clinic Reports"
A) **Outreachy Username:**  elizabeth

B) **Issue Title**: Can not filter patient clinic reports.

C) **Bug Report Date**: March 20, 2019.

D) **Site Affected:** Documentation Site and NHANES

E) **OS/ Browser Used**: Chrome  on Ubuntu 16.04

F) **Which Workflow Module in LHEHR:** Reports => Clients => Clinical

G) **Steps to Reproduce the Bug:**
1. Login to LibreHealth EHR.
2. Select Clients drop

[2019-03-22 15:36] muarachmann commented on #1460
Sure this is a very good catch. Nice work @Ngai-E

[2019-03-22 15:48] muarachmann commented on #1459
Nice one there, quick fix for this would be appreciated. You've got this @Meghana122

[2019-03-22 18:31] Meghana122 commented on #1459
Thank you.

[2019-03-23 16:46] Meghana122 commented on #1459
@muarachmann I have tried finding the correct file to fix the issue, but I couldn't. Please could you suggest a way to figure that out.

[2019-03-23 20:49] muarachmann commented on #1459
@Meghana122 right click on the frame and chose view frame source code. I am sure you will have your answers :)

[2019-03-23 21:51] muarachmann commented on #1461
Nice catch @Ngai-E keep them coming

[2019-03-23 22:01] muarachmann commented on #1452
Hopefully i resolved this in the chats. https://chat.librehealth.io/channel/outreachy-submissions?msg=EkqxEbnHAE4fdLGXN

[2019-03-24 00:56] Ngai-E opened #1462 "Cannot Plot Graph for Patient Encounter Data"
A) **Outreachy Username**:  elizabeth

B) **Issue Title**: Error Plotting Graph.

C) **Bug Report Date**: March 23, 2019.

D) **Site Affected**: Documentation Site and NHANES

E) **OS/ Browser Used**: Chrome  on Ubuntu 16.04

F) **Which Workflow Module in LHEHR**: ‘Patient/Client’ => ‘Finder’.

G) **Steps to Reproduce the Bug**:
1. Login to LibreHealth EHR.
2. Select ‘Finder’ drop down option from

[2019-03-24 14:35] Ngai-E commented on #1462
@muarachmann I tested this on firefox but still had the same problem mentioned in the report, maybe something else was causing it the last time but now the reason is a 404 error.

[2019-03-24 14:59] muarachmann commented on #1462
I am not on PC now. Maybe later in the evening

On Sun, Mar 24, 2019, 15:35 Ngai Elizabeth <notifications@github.com> wrote:

[2019-03-24 17:08] Meghana122 commented on #1459
Thank you for helping me with that.

[2019-03-24 19:36] muarachmann commented on #1462
A 404 error shows the resource file is not available. Verify this in the
code base

On Sun, Mar 24, 2019, 15:59 Mua Rachmann <muarachmann@gmail.com> wrote:

[2019-03-24 20:08] muarachmann commented on #1462
@Ngai-E i don't have this issue on the docs site. I just went through

[2019-03-24 20:46] KoniKodes commented on #1444
@Ngai-E Do you have a way of making your suggested solution happen?

[2019-03-24 21:19] KoniKodes commented on #1462
@muarachmann Could it be because you have full admin rights and Elizabeth doesn't?

[2019-03-24 21:29] muarachmann commented on #1462
oh keep forgetting this stuff. Maybe yes maybe no. We really need some alerts for ACL in the repo so users don't stay stranded @aethelwulffe ?

[2019-03-24 21:31] KoniKodes commented on #1462
I like that idea...

[2019-03-24 21:33] muarachmann commented on #1462
Yeah true. Or rather don't show them the options rather than raising some expectations

[2019-03-25 00:16] Ngai-E commented on #1462
Ok. So its not an issue for now right? Or should i work on hiding the option from unauthorized user?

[2019-03-25 00:34] muarachmann commented on #1462
Hello Eli.. try testing this feature on your local instance with admin
privileges to see if it works see this if -
https://github.com/LibreHealthIO/lh-ehr/files/2779465/Track.anything.draft.pdf.
If so then the possible cause could be the ACL.
We have to discuss on how to better go about it

Regards

On Mon, Mar 25, 2019 at 1:16 AM Ngai Elizabeth <notifications@github.com>
wrote:

[2019-03-26 20:03] Ngai-E commented on #1406
@MisterAwesome23  I came across this issue and I would like to contribute into fixing it but I wish to know if it was solved already because I am having a hard time reproducing it both on my local instance and on the docs site.

[2019-03-26 21:53] MisterAwesome23 commented on #1406
@Ngai-E as far as a go the issue is still up for a solve. Kindly go ahead with you contributions to fix this : )

[2019-03-29 16:11] muarachmann commented on #1430
this now works on my end had myself a fresh copy @aethelwulffe closing this

[2019-03-29 16:11] #1430 closed

[2019-03-29 16:12] muarachmann commented on #1406
@Ngai-E , @MisterAwesome23 i have no issues with this. Surely try clearing your cached files etc. and hard resetting your browers. Here is what i get

![Screen Shot 2019-03-29 at 4 57 18 PM](https://user-images.githubusercontent.com/16350814/55246622-dcac2100-5245-11e9-87ab-c93700ec740b.png)

![Screen Shot 2019-03-29 at 4 56 58 PM](https://user-images.githubusercontent.com/16350814/55246625-e03fa8

[2019-04-01 11:22] Ngai-E opened #1465 "Can not fix #1444 since no 'Inventory' option under 'Reports' is found on local instance"
A) **Outreachy Username**:  elizabeth

B) **Issue Title**: Can not find 'Inventory' drop down under 'Reports' on local instance cloned from GitHub.

C) **Bug Report Date**: April 1, 2019.

D) **Site Affected**: GitHub clone and Local instance.

E) **OS/ Browser Used**: Chrome  on Ubuntu 16.04

F) **Which Workflow Module in LHEHR**: ‘Reports’ => ‘Inventory’.

G) **Steps to Reproduce the Bug**:
1. L

[2019-04-01 19:25] Gicheha opened #1466 "Blank PopUp on Save and Dispense Prescription"
**A) Outreachy Username:** Gicheha

**B) Issue Title:** A blank pop up appears on save and dispense prescription

**C) Bug Report Date:** April 1, 2019.

**D) Site Affected:**  Patients site on the summary section

**E) OS/ Browser Used:** Windows 10, Google Chrome Version 72.0.3626.119 (Official Build) (64-bit)

**F) Which Workflow Module in LHEHR:** "Prescriptions" under "patient"

**G) Steps to

[2019-04-02 19:15] Ngai-E commented on #1379
Hi @muarachmann i will like to work on this

[2019-04-02 19:20] Ngai-E commented on #1346
Hi @muarachmann i noticed the PR i Made for patient clinic filter ( PR #1464) takes care of these errors. Can u kindly check

[2019-04-16 02:52] mhn94 opened #1467 "Cannot Save Patient’s Edited History"
A) **Outreachy Username:** maggie.negm
B) **Issue Title:** Cannot Save Patient’s Edited History
C) **Report Date:** 04/15/2019
D) **Sites Affected:** Documentation Site
E) **OS/Browser Used:** Chrome and Firefox browsers in Linux OS
F) **EHR Workflow Module:** Patient Profile, Patient/History Lifestyle
G) **Steps to Reproduce the Issue:**

1. Go to a patient’s profile.
2. Click on the “History” li

[2019-04-16 13:48] KoniKodes commented on #1467
Error: Unknown column 'usertext11' in 'field list'
Seems to reference these two files:
/opt/ehr/library/patient.inc at 1490:sqlInsert
/opt/ehr/interface/patient_file/history/history_save.php at 42:updateHistoryData(84,Array)

[2019-04-16 14:00] muarachmann commented on #1467
It ends at risk factors. Not sure of what that usertext11 means.

On Tue, Apr 16, 2019 at 2:48 PM Toni Shortsleeve <notifications@github.com>
wrote:

[2019-04-16 14:34] KoniKodes commented on #1467
Yes @muarachmann According to the other two posts, it should not be calling 'usertext11'. I think it was supposed to be renamed to "riskFactors" or something similar.

[2019-04-19 20:41] Gicheha opened #1468 "Cannot Save Dated Reminders"
**A) Outreachy UserName:** gicheha

**B) Issue Title:** On the Messages and Reminder center, Trying to save or send a dated reminder leads to a data error.

**C) Date Issued:** April 19, 2019

**D) OS/Browser Tested:** Windows 10, Google Chrome Version 72.0.3626.119 (Official Build) (64-bit)

**E) Testing Site:** The Error occurs in Messages and Reminder Center on the reminders section when the se

[2019-04-19 21:14] muarachmann commented on #1468
@Gicheha please provide screenshots of output and related screen from first guess i think the jquery library is not compatible and thats a pb with LH we have many versions this needs to be revamped to 3.3.1 i think

[2019-04-20 09:08] Gicheha commented on #1468
@muarachmann I had some problem with adding images to the editor window but that is sorted

[2019-04-20 10:04] Gicheha commented on #1468
@muarachmann yes I think the Jquery dependancy is the problem

[2019-04-20 14:27] muarachmann commented on #1468
@Gicheha upgrade the JS script to 3.3 this is my fault. When i included izi in the repo. It should behave well

[2019-05-08 21:39] MisterAwesome23 commented on #1468
I did try this with and without link to the patient. Both of my messages are successfully available in log.
![LibreHealth#1468](https://user-images.githubusercontent.com/36367483/57410111-92846b00-7207-11e9-82e5-5e729807950c.png)

Am I doing something wrong reproduce the bug?
This is my screen before pressing  "Send this message"

![#1468](https://user-images.githubusercontent.com/36367483/5741024

[2019-05-08 22:07] KoniKodes commented on #1468
This is what I see in the Inspector:
![image](https://user-images.githubusercontent.com/18405001/57411618-f294f600-71a2-11e9-9204-1e0ca1c30be4.png)

[2019-05-08 22:09] KoniKodes commented on #1468
@MisterAwesome23 Did you try to Send a Reminder instead of a Message?

[2019-05-08 23:20] muarachmann commented on #1468
@KoniKodes all looks good on my end. I made that patch. can you confirm you have a  green izi popup ? @MisterAwesome23

[2019-05-09 02:21] MisterAwesome23 commented on #1468
Yes I did have a green tiny popup after pressing the send message button. Do you want me to screenshot that?

[2019-05-09 11:47] #1281 closed

[2019-05-09 11:47] #1275 closed

[2019-05-09 11:59] #1451 closed

[2019-05-09 12:28] #1298 closed

[2019-05-09 12:58] #1311 closed

[2019-05-09 13:01] #1286 closed

[2019-05-09 13:14] KoniKodes commented on #1468
@muarachmann So we are good to close this issue?

[2019-05-09 13:27] #239 closed

[2019-05-09 13:27] #247 closed

[2019-05-09 13:35] aethelwulffe commented on #270
ALERT:  Someone PLEASE take a look at this.  This is IMPORTANT.  Patient data directories should be maintained so that all the docs under a directory named for the patient ID actually BELONG to that patient.  There are several features that would benefit from this, including migrations and the like.  Aside from that, it is just dangerous.

[2019-05-09 14:48] #362 closed

[2019-05-09 14:52] aethelwulffe commented on #1460
PR is up for this.

[2019-05-09 14:52] #1460 closed

[2019-05-09 14:58] aethelwulffe commented on #1411
Yes, but the QA measures are an american thing only.
BIG ISSUE:  Translations stuff is totally mismanaged.  Fault is in the original implementation from OpenEMR, and requires basically every bit of text echo re-written.
Reference #1405
You can check the Administration/Other/LANGUAGE tool to see if constants can be updated there, but the basis for the language editor in the system is totally broken

[2019-05-09 15:02] aethelwulffe commented on #1406
I also am having no problems with the module.  I can't produce the error, nor can two other folks.  It may be related to an install issue....jUst don't know.

[2019-05-09 15:02] #1406 closed

[2019-05-09 15:09] aethelwulffe commented on #1467
usertext11 is a junk chunk of the database.  I don't want to go into what it was originally, but it was like a "sample custom field" thing about 20 years ago, and got hijacked by lazy slob devs and used, then hard-coded, and now should die.  Same thing happened with some other fields in the patient_data table.  I think I am going to do a review, and since the protests from changing that table have

[2019-05-09 15:21] KoniKodes commented on #1467
I understand. Elizabeth had been looking at the ACL with the thought in mind of cleaner namespace. She's supposed to have a wrap-up report to me at the end of the week. Would you like her to work with you on this?

[2019-05-09 15:26] Ngai-E commented on #1411
OK thanks.

[2019-05-09 16:00] aethelwulffe commented on #1449
This is fixed, but the image has a download vs. display sort of thing going on if you click it.  I think downloading should only be done from the patient documents tool, not from displaying the image.

[2019-05-09 16:02] muarachmann commented on #1449
Yeah If eliz could handle this it would be great :)

On Thu, May 9, 2019 at 5:00 PM Art Eaton <notifications@github.com> wrote:

[2019-05-09 16:07] aethelwulffe commented on #1449
Yeah, eLiz is on this...and we should stick her with the responsibility!  :)

On 2019-05-09 12:02, muarachmann wrote:

[2019-05-09 16:29] aethelwulffe commented on #1462
If the user can see an encounter, they should be able to see this stuff.
That is the ACL issue that should not exist.  Easy enough to track down to where the acl_check() function cuts someone out.

[2019-05-09 16:38] Ngai-E commented on #1449
Ok. Thought of fixing it, but I did not know if it was the expected behavior I will surely look into it now thanks.

[2019-05-09 16:49] aethelwulffe commented on #1449
No, while being able to download some things like that directly is good,
the default should be display in browser.  This is either a legacy thing
or lazy developer thing.

Puhleezz fix it.

On 2019-05-09 12:38, Ngai Elizabeth wrote:

[2019-05-09 16:49] muarachmann commented on #1468
yeah closing this

[2019-05-09 16:49] #1468 closed

[2019-05-09 17:21] aethelwulffe commented on #1346
I have approved that PR.  Hey, Mua!

[2019-05-09 17:23] aethelwulffe commented on #1459
I added the general fix for this to a new repo wiki page.  @muarachmann tell me what you think https://github.com/LibreHealthIO/lh-ehr/wiki/Developer-Blog

[2019-05-09 17:24] aethelwulffe commented on #1459
This is within the patient portal administration.  That should help a bit.  Searching for the string "Patient Messaging" will also help find the script.

[2019-05-09 17:25] aethelwulffe commented on #1459
/patient_portal directory.

[2019-05-09 17:29] aethelwulffe commented on #1459
This is Patient Portal Messaging...  In reality, if it is opening in an isolated tab, then Patient Portal is a good label.  This is a very distinct feature from the interoffice communication.

[2019-05-09 17:43] aethelwulffe commented on #1467
I think Elizabeth should choose her own team, but yes, I would like to be on it, or at least consult in her write-up.
The GACL asset/tool in the application is something like 17 years old.  Still uses smarty templates, is huge, and does very little in the application.  The whole ACL scheme needs refactoring.  This is no small thing, but actually implementing to the limit we are using it is quite s

[2019-05-09 17:44] aethelwulffe commented on #1467
This issue is different.  This is just a case of someone requiring fields that may not always exist, instead of asking the database which ones exist first.

[2019-05-09 17:55] aethelwulffe commented on #1467
Is this the Document install?  IF so, then there is probably a bad thingie with the database used for that.  This is probably a configuration of Administration/Layout/Demographics. usertext11 no longer exists in the database, and is only called with "ifexists" functions within a couple of old features that cannot be accessed, and need to be deleted (files with "ippf" in them.)

[2019-05-09 18:37] aethelwulffe opened #1472 "Report Generator Install Errors [code worked around]"
Report generator caused installer errors after merge.
library/classes/installer.class.php is the issue.
Code was commented out in #1471
Needs Fixin'.
Error on install was:
PHP Parse error:  syntax error, unexpected '$dot_env_file' (T_VARIABLE) in C:\\xampp\\htdocs\\branchtest\\library\\classes\\Installer.class.php on line 347, referer: http://localhost/branchtest/
Main branch tests clean now.

[2019-05-09 18:37] #675 closed

[2019-05-09 18:40] aethelwulffe commented on #1399
Still an open bug.  Needs looking at.  Very rare case here I think.

[2019-05-09 18:42] aethelwulffe commented on #1416
Much more than this is needed really, but let's keep this open.  We need a tag "FEATURE:  Translations

[2019-05-09 23:39] KoniKodes commented on #1467
If I remember right, this was a checklist that could checked to add to the patient history. As if he just remembered he was once told he had hypertension, but had ignored it until now. So we want to update the record by checking "hypertension". This is the error that was shown.

So I do agree that it is probably in the function that looks to see if that field exists.

[2019-05-10 13:17] aethelwulffe commented on #1421
Inventory is a feature that is controlled in Globals.  You must turn it, and other features on to see them in the menu.

[2019-05-10 13:54] aethelwulffe commented on #1408
I think this could be a better function indeed.  More importantly, more extensive use would be good, and provide proof-of-concept examples.

[2019-05-10 13:56] aethelwulffe commented on #1414
It is a nice tweak to do.  Better yet, find two places it can be used, and write a standard library for page reload arguments.

[2019-05-10 14:01] aethelwulffe commented on #1440
Also, making the city/state a field that can be made required in globals options or in the Layout system....not necessary in Search, but very much so in Add.  Adding a configurable default state is also a good idea.  Frankly, some things, like a list of cities, states, and any number of things should be functions that are used all over the place, instead of functions or simple input fields that ar

[2019-05-10 14:04] aethelwulffe commented on #1456
Make sure to check the popup in other themes, and Look at DATA in an old version before implementing a new thingie so you get a good before and after.

[2019-05-12 00:01] muarachmann opened #1474 "Setup Improvement Installation Error"
This is due to the merge of #1253 I get the following logs. But upon checking the `database.php` file this exists. Tried with Maggie and it didn't work either.

[code]

[2019-05-12 00:02] muarachmann commented on #1474
I should suspect permission issues cause it worked fine when pushing. Will figure this out

[2019-05-13 10:38] Ngai-E commented on #1419
Hi @aethelwulffe  working on ACL was part of my interim project with with while waiting to hear the announcement. Here is what I have come up with so far https://docs.google.com/spreadsheets/d/1uy7iSa9sUcPttXWKRYyfXsLo0yvkeUs0MqHZ-4fucqM/edit?usp=sharing

I have done a search on the entire EHR and found where the different permissions where used. So My next update will be stating privileges are re

[2019-05-13 13:49] aethelwulffe commented on #1419
I recommend that you ignore how it was done in the past, if that pleases
you.  "rep_0" is a terrible name, as is "billing_wsome".  Use real
specific identifiers, and give the administrator a way to see all that
is possible, and understand the full effect of what a user has access to.

IMO:

I would drop the role level concepts currently in the GACL and invent
your own based on a list of Major feat

[2019-05-13 14:06] Ngai-E commented on #1419
Ok thanks I will look into that?

[2019-05-13 14:08] KoniKodes commented on #1419
Yes.

[2019-05-13 14:15] muarachmann commented on #1419
Thanks very much Art for this

On Mon, May 13, 2019, 15:08 Toni Shortsleeve <notifications@github.com>
wrote:

[2019-05-13 15:05] aethelwulffe commented on #1419
For what?  Telling you not to let our ancestors decide on how we are going to do things?
-Ignore them!  You KNOW THIS!  :)
-Anywho, we want to get rid of the whole GACL package.  Basically, that whole package has a lot of database tables, and complex code and utilities that 1998 is calling demanding the return of.  We use (essentially) a single function that checks two arguments against values (ou

[2019-05-13 15:09] aethelwulffe commented on #1419
-Oh yeah, and I think we should resurrect the database side menu approach, and dump the JSON file.  It is a nightmare when you have multiple /sites directories you need to update, and even if you do use JSON to store the data that drives the menu, it should be stored as a string in a DB, not a file that requires editing and directory permissions.

[2019-05-13 15:44] KoniKodes commented on #1419
So if I understand correctly, we want the view to only show what the user is authorized to access.
We can have it Menu and Submenu based, using a script to confirm authorization.
ACL should access the Menu's database according to that authorization - which the administrator will understand because the codes are now in easy to understand names.
Am I missing anything?

[2019-05-13 15:53] aethelwulffe commented on #1419
Yes.  You are missing the stuff we have not thought of yet.
-Push for an elegant solution.  Start an issue thread to discuss.  Explore use cases and though experiments.  Write the end-user documentation on how it works, mock it up, and show how to administer it before you start to code.
Figure out what the boat looks like before you start cutting wood, and don't worry about how Grandpa used to bui

[2019-05-13 16:00] KoniKodes commented on #1419
OK. This is going to be interesting...
So we'll close this and open a new thread?

[2019-05-13 16:04] aethelwulffe commented on #1419
Currently, a particular page/script tells GACL who has access to it, such as acl_check('admin').
We should flip that in it's head.  Instead, a particular page should just identify itself, such as ACCESS_ID('thisreportname');  The ACL then engine looks to the configuration to see if the user "bob" has access to this specific report, not to see if 'bob' has access to 'admin' stuff.

-Yeah, do the wr

[2019-05-13 16:05] KoniKodes opened #1475 "Discussion for User Authorization with Menu and Database functions"
This thread is to discuss a possible new format of user authorization that allows the user to only see the menu items allowed by the authorization level. This eliminates the Unauthorized Access errors that may be encountered.

[2019-05-13 16:09] KoniKodes commented on #1419
Ok. I've opened the new discussion: https://github.com/LibreHealthIO/lh-ehr/issues/1475

[2019-05-13 16:17] Ngai-E commented on #1475
cool

[2019-05-13 16:25] KoniKodes commented on #1475
So I need your feedback, ideas and we need to make it look understandable...

[2019-05-13 16:43] Ngai-E commented on #1475
Great so we need to go through all the menu and submenu items to note down how they can identify themselves. So, when we create a user we just assign the users the menus that can be seen. User can now only see what is required. Is that it?

This is great since any new developer can easily implement his own access id and just add to the current documentation instead of trying to figure out the gacl

[2019-05-13 17:12] aethelwulffe commented on #1475
I see several things that might help.
1.  Start your project by simply ripping out anything related to GACL, or the functions therein.
2.  Each page/feature/script top level page should have an ID function added with that feature/page unique ID.
3.  DB tables that hold references/links to a "registry" of pages/features/scripts that are directly accessed should be created.

Additional ISSUES:  Some