[2017-03-25 15:43] navendu29 commented on #479
Can I work on this Usability feature ?

[2017-03-25 16:01] aethelwulffe commented on #479
Yes you may, of course.  To assign you, I will need to add you to the collaborator list.

[2017-03-25 16:06] aethelwulffe commented on #479
Are you a GSOC hopeful, or do you just want to be added to the standard team invitation?

[2017-03-25 16:07] nileshprasad137 commented on #522
@aethelwulffe If you have some time, can you please clear whether the project i proposed is a valid project or not so that I could start working on the other proposal?

[2017-03-25 16:13] aethelwulffe commented on #522
I have time today @nileshprasad137, and I will give you a review ASAP.  I apologize that my work schedule is going to be completely slammed until after the 31st.
  At the same time, I have confidence that the participants here have developed enough familiarity with the project to make very valid proposals.  I haven't seen any issues other than extent of scope.

[2017-03-25 16:16] pri2si17-1997 commented on #522
@aethelwulffe Please do look at my proposal also, so that if any change required then I can do that as I have my mid sems from 31st march.

[2017-03-25 16:16] navendu29 commented on #479
Yes, I intend to apply for GSOC .

[2017-03-25 16:19] aethelwulffe commented on #522
@pri2si17-1997 @nileshprasad137 @azwreith I intended for that message to apply to everyone.  Should have gone ahead and added full alerts.  I hope you guys don't feel like you have been ignored.
-I will see you on the forums (unless it goes down again).

[2017-03-25 16:21] aethelwulffe commented on #479
Then you may accept the invitation I sent you to that team, and welcome aboard!

[2017-03-25 16:25] navendu29 commented on #479
Thank you for the invitation.

[2017-03-25 16:33] navendu29 commented on #527
The table  'onsite_mail' does not exists in the database .

[2017-03-26 13:29] navendu29 commented on #479
What type of interface do u want?
Should the interface only contain the log information from the log tabel ?

[2017-03-26 14:36] aethelwulffe commented on #479
Ha!  I don't want an interface.  The community does.  That means you get to decide and design it, in light of it's common usage case....
  So, what is this log table used for?

- It is used to track activity by users, sort of a "blame" track that can be used to identify a series of events.
- A source for extracting every query that has been made and use that do things like recreate the data after

[2017-03-26 17:48] anupsunni commented on #522
Hi,
This is Anup.
Nice to meet you @pri2si17-1997, @nileshprasad137 and @azwreith .
Sorry for joining late @aethelwulffe . I have not submitted a proposal yet but I intend to. Right now I am trying to understand the references and connections to the modified postnuke calendar. I am interested in the replacing the calendar module.

Again hi all and sorry for joining late. I will catch up with you g

[2017-03-26 19:25] aethelwulffe commented on #522
Yes, just remember this repo issue is for basic coordination (meaning learning about the project and familiarization with our integration process/side projects), and all "official" types of material should be restricted to the forum or actual GSOC interfaces.
  And yes, it is great to meet you, and we hope to see you around here!

[2017-03-26 19:28] anupsunni commented on #522
Got it!!
@aethelwulffe

[2017-03-26 20:51] robbyoconnor commented on #522
Please copy this message over to our forums if you have not done so.

On 03/26/2017 01:48 PM, Anup Sunni Routray wrote:

[2017-03-26 21:18] robbyoconnor commented on #522
@aethelwulffe -- don't abstain!

[2017-03-26 21:40] aethelwulffe commented on #522
My job is to be everyone's friend and help as much as my stumbling butt can manage...which leaves me in an advisory role, and not a decision maker.  Naturally, I will do that for the voting package members if they request as well, but I will leave the vote up to others.

[2017-03-27 13:39] teryhill opened #529 "Audit features for appointments."
The request from the user is to see the users that have touched the appointments, They want to know who rescheduled an appointment and when. They want this information to be accessed from the demographics screen.

I have added the original user(person who created the appointment) and the users who changed the status  to the Patient Flow Board report .

[2017-03-28 15:53] azwreith commented on #516
Added in the documentation PR, this can be closed now :smile:

[2017-03-28 20:20] #525 closed

[2017-03-29 00:08] teryhill commented on #529
Past appointments are changed to reflect the moved appointment's

![image](https://cloud.githubusercontent.com/assets/4655366/24432768/4b76a306-13f2-11e7-980c-a711edd62e34.png)

[2017-03-29 10:42] pri2si17-1997 opened #531 "Delete Patient"
Steps to reproduce :

- Create patient or use existing patient.

- Delete that patient from the DELETE button provided. A popup will come displaying the tables from that patient reference has been deleted(ideally this should not happen). Close that popup.

- The page will not get refreshed after closing the above said popup, and it will still show the patient as it is.
 It should get refreshed as

[2017-03-29 15:53] teryhill commented on #529
The name associated with the past appointment is the person that originally scheduled the appointment. I am not getting the results that I want with out changing the files to help with this.

I am leaning towards the Idea of making a new section for appointment tracking.

Any Ideas on ways to do this are welcome.

[2017-03-29 19:21] aethelwulffe commented on #529
You could just have a [modified] or [changes] show up, then hovertext
gives the details.  you could provide a lot of text that way, without
making anything goofy in the history listing.

On 2017-03-29 11:53, Terry Hill wrote:

[2017-03-30 13:45] navendu29 commented on #479
I am getting a trouble in implementing this feature. I think i need to study more regarding this for which i would need some time so , if anyone else wants to work on this feature he/she may proceed .

[2017-03-31 15:40] #440 closed

[2017-03-31 15:47] azwreith commented on #516
Closing this since it was added with the new installation instructions :blush:

[2017-03-31 15:47] #516 closed

[2017-03-31 16:11] azwreith commented on #446
@aethelwulffe I think this one can be closed as well~

[2017-03-31 16:25] #446 closed

[2017-03-31 16:34] aethelwulffe commented on #520
In review, I see that the setup prints your initial username and passphrase out for you a couple of times.  To add an access recovery option at setup, you would need to have a full globals configuration available at that time, which is not a totally bad idea, but would involve smtp setup and everything else before logging in.  There is already a breakglass for recovery, but you do have to log in a

[2017-04-01 14:49] pri2si17-1997 commented on #504
hello @aethelwulffe, this can be closed now.

[2017-04-05 21:21] azwreith commented on #420
So I guess next would be moving the user stuff into a single line and adding the latest encounter? c:

[2017-04-05 21:49] aethelwulffe commented on #420
Well, the "latest encounter" tells someone the date of the most recent visit.  This is important because the user must have constant reminders that they are not in the most recent visit record.  There is a problem with people adding notes and forms to old encounters.  If the UI is always aware that there is a more recent encounter, the business logic can give warning etc...  With that item display

[2017-04-06 08:12] nileshprasad137 commented on #445
@rksahu17 Are you working on this?

[2017-04-07 00:39] teryhill commented on #445
@nileshprasad137  The Idea for this is a receipt that the office can run at anytime. It would be an on demand receipt. This can be a cleaner format of the Ledger . If a part of the ledger it would need to need be available in both areas of the ledger print, The patient demographics screen and the reports screen.  May be as just a better print option tan what was originally done on the ledger. Just

[2017-04-07 13:21] teryhill commented on #445
@nileshprasad137  did that explanation help?

[2017-04-07 13:39] nileshprasad137 commented on #445
@teryhill  Yes! But what would be the contents of such a report? I have some confusion over this.

[2017-04-07 19:36] pri2si17-1997 commented on #531
Hello @teryhill @aethelwulffe , please look at this so that if required then I can proceed further.

[2017-04-08 16:01] nileshprasad137 opened #535 ""Encounter Summary" tab not accesible from "Administrative" and "Clinincal" tab"
Steps to reproduce:
1. Create and then choose an encounter or a past encounter.
2. Go to `"Administrative" ` or ` "Clinical" ` tab.
3. Encounter Summary tab is not accessible from there.

[2017-04-10 08:00] pri2si17-1997 opened #536 "Download PDF is not working for patient report"
Here is the screenshot of the same.
![screenshot from 2017-04-10 01-05-43](https://cloud.githubusercontent.com/assets/12952169/24851539/aa320efe-1df1-11e7-9cb8-09caba2f0d2e.png)

[2017-04-10 15:56] pri2si17-1997 commented on #536
Hello @teryhill @aethelwulffe
Need some help. Not getting any info from log file.
@nileshprasad137 You can also look at it.

[2017-04-10 22:13] aethelwulffe commented on #536
Look and see what pdf generator that calls.  That was moved (by me).  Aside from that, I will check out the jquery version location and all that.

[2017-04-10 22:14] aethelwulffe commented on #536
I will see about replicating the issue when I get to the house.

[2017-04-11 13:48] aethelwulffe commented on #536
Couldn't get anything done last night, so I am working on this now.  Sorry for the delay.

[2017-04-11 14:21] pri2si17-1997 commented on #531
Hi @aethelwulffe

This is what log file shows :
`PHP Fatal error:  Uncaught Exception: TCPDF ERROR: Could not include font definition file: helvetica in /var/www/html/LibreEHR/modules/html2pdf/vendor/tecnickcom/tcpdf/tcpdf.php:2927\nStack trace:\n#0 /var/www/html/LibreEHR/modules/html2pdf/vendor/tecnickcom/tcpdf/tcpdf.php(4275): TCPDF->Error('Could not inclu...')\n#1 /var/www/html/LibreEHR/modules

[2017-04-11 14:27] pri2si17-1997 commented on #536
Hi @aethelwulffe

This is what log file shows :
`PHP Fatal error: Uncaught Exception: TCPDF ERROR: Could not include font definition file: helvetica in /var/www/html/LibreEHR/modules/html2pdf/vendor/tecnickcom/tcpdf/tcpdf.php:2927\nStack trace:\n#0 /var/www/html/LibreEHR/modules/html2pdf/vendor/tecnickcom/tcpdf/tcpdf.php(4275): TCPDF->Error('Could not inclu...')\n#1 /var/www/html/LibreEHR/modules/

[2017-04-11 14:35] aethelwulffe commented on #536
https://github.com/spipu/html2pdf/
is the project that this comes from, last updated 10 months ago.  I have that repo checked out, but I also have the branch in which the html2pdf was moved originally.

[2017-04-11 14:42] aethelwulffe opened #537 "CDR logic issue: tobacco assessment"
One month old patient seems to be due for a tobacco assessment.  It seems like the CDR engine (currently on by default) needs some clinical supervision.  It certainly isn't following the NQF.

[2017-04-11 14:44] aethelwulffe commented on #531
Looks like the logic that determined what should appear in the top or bottom pane of the original UI does not know what to do with tabs that "belong" to a patient that no longer exists.  It seems like the delete button itself should be doing the resetting of the tabs via a function in a standard library.

[2017-04-11 14:52] aethelwulffe commented on #535
Verified.  You must cancel the form you are in to get to the encounter summary (being "form_encounter").  Basically, it looks to me like the tab simply does not work!
As a side note, the SOAP form does nothing.  I suspect that is because we removed it, but it is still in the default registry table database.

[2017-04-11 14:57] aethelwulffe commented on #535
<a href="JavaScript:void(0);" id="enc2" onclick=" return top.window.parent.left_nav.loadFrame2('enc2','RBot','patient_file/encounter/encounter_top.php')">Encounter Summary</a>
Right now, you must hit cancel to reload the frame to the encounter summary.

[2017-04-11 15:01] aethelwulffe commented on #535
What works when you cancel a form is this:
`<input value="Cancel" onclick="top.restoreSession();location='/libremaster/interface/patient_file/encounter/encounter_top.php'" type="button">`
What it is doing is this:
`<a href="JavaScript:void(0);" id="enc2" onclick=" return top.window.parent.left_nav.loadFrame2('enc2','RBot','patient_file/encounter/encounter_top.php')">Encounter Summary</a>`
That is

[2017-04-11 15:06] #520 closed

[2017-04-11 15:06] #504 closed

[2017-04-11 15:07] #487 closed

[2017-04-11 15:07] #503 closed

[2017-04-11 15:08] #500 closed

[2017-04-11 15:09] #480 closed

[2017-04-11 15:09] nileshprasad137 commented on #535
Thanks @aethelwulffe , I'll get back to this in a couple of hours.

[2017-04-11 15:13] aethelwulffe commented on #535
I am pretty sure this will be an easy fix for you.  Let me know if you need anything.

[2017-04-11 15:34] pri2si17-1997 commented on #536
@aethelwulffe @teryhill

Done. It is working. :)

Here is the screenshot of the same.

![screenshot from 2017-04-11 21-03-20](https://cloud.githubusercontent.com/assets/12952169/24917310/5fdd0520-1efa-11e7-8d6b-9fccbc17a354.png)

[2017-04-11 15:35] aethelwulffe commented on #536
Darn.  I just jumped a pull request on that!
Where is your PR?

[2017-04-11 15:37] pri2si17-1997 commented on #536
I have finished now. But it seems that you have added font, while I upgraded it to work for PHP7.

I am creating PR.

[2017-04-11 15:37] aethelwulffe commented on #536
All I did was add the helvetica font, yes.  We will drop my PR once you are up.

[2017-04-11 17:50] nileshprasad137 commented on #535
PR #535 Fixes this.

[2017-04-11 17:55] aethelwulffe commented on #535
Already reviewed and approved.

[2017-04-11 18:45] #535 closed

[2017-04-11 19:36] pri2si17-1997 commented on #531
Shall I go for it @aethelwulffe. This can be solved if we make request using ajax. When the response is "Success", then refresh that frame or say the whole page.(whichever suits best). Also we need not to show the user from which table that values are getting removed. What you say?

[2017-04-11 19:43] aethelwulffe commented on #531
I think that some sort of summary like "billing stuff, documents stuff, medications stuff removed" isn't a bad way to summarize what they did...or are about to do...when they delete a patient is a good idea, but no, you don't need the table names specifically (I LIKE THEM...but I am a developer, and this ain't for me!).  I think you should go for the ajax approach...everywhere we can.

[2017-04-11 19:46] teryhill commented on #531
I would really it was made a "Soft" delete at some point instead of the hard delete that it is currently. Customers will always say I did not mean to delete them and then I am stuck combing thru the logs to re-create the deleted information.

[2017-04-11 19:49] aethelwulffe commented on #531
Yeah...you know this would be a good time to take care of that @teryhill @pri2si17-1997 .
The "soft delete" means setting a flag field to "deleted" in the database.  On the other hand, having the option for a hard delete (with admin confirmation) is really useful when you have a totally junk patient record.

[2017-04-11 19:52] aethelwulffe commented on #531
"Do you really want to delete patient 9343?"
[Enter]
"Do you really really want to delete patient 9343?"
[Enter]
"Do you really really really want to delete patient 9344?"
[Enter]
"Ha, fooled you.  You are not paying attention.  I just asked you if you wanted to delete a different patient.  Please call your supervisor.  This interaction has been recorded for QA purposes."

[2017-04-13 15:04] pri2si17-1997 commented on #531
Hello @aethelwulffe @teryhill

I am busy with mid - evaluations of academic projects. I will remain inactive for few days, and will resume my work asap.

[2017-04-15 16:57] azwreith commented on #531
@aethelwulffe You really should get a job as an Easter Egg maker for applications xD

[2017-04-15 17:46] nileshprasad137 commented on #445
@teryhill

This hasn't been done yet and i intend to do this as and when I get some time.
It would be great if you can recommend some changes in the format , whenever you get some time.

[2017-04-16 15:25] aethelwulffe commented on #531
Easter Egg:  _An undocumented feature of function._
-Seriously, I think we have _quite_ enough of those already. 😈

[2017-04-17 17:21] aethelwulffe commented on #536
Merge is in.  Closing

[2017-04-17 17:21] #536 closed

[2017-04-20 17:02] teryhill commented on #468
@aethelwulffe Did you ever get the sample data to @nileshprasad137

[2017-04-20 17:54] nileshprasad137 commented on #468
Hey , i think that I'd created the sample dataset myself. Isn't that same
as the one i used to address the issue of on-demand receipt.?

On 20 Apr 2017 22:32, "Terry Hill" <notifications@github.com> wrote:

[2017-04-21 11:22] yehster commented on #531
On success, the delete button, needs to some how end up calling the javascript used for the "clear button"  next to the patient name.

https://github.com/LibreHealthIO/LibreEHR/blob/master/interface/main/tabs/js/tabs_view_model.js#L231

[2017-04-21 14:25] nileshprasad137 opened #544 ""Add Encounter" button not working under Popups ->Issues"
Steps to replicate : Choose a patient and navigate to `Popups->Issues` . `Add Encounter` button is not working there because of some Uncaught-Type JS Error.

@teryhill I have no problem if you resolve this issue as the approaching exams are making it difficult for me to be active here.

[2017-04-21 15:05] teryhill commented on #544
@nileshprasad137  I will look at it when time permits, You take care of getting your exams done

[2017-04-21 17:47] teryhill commented on #468
I just sent up some of the changes that I have already made. @nileshprasad137 school is your number one priority right now. Once you get past your exams and everything you can look at this. I would like for you to develop a posting screen that replicates the current function but is written from a new beginning. This will be part of the 'New" billing system within LibreHealth EHR.

[2017-04-24 16:36] tmccormi commented on #531
Merged, but it does need to address @yehster suggestion.

[2017-04-24 17:26] aethelwulffe commented on #522
This thread is history. (WooHoo!)

[2017-04-24 17:26] #522 closed

[2017-04-25 21:05] aethelwulffe opened #548 "Getting good grades"
@nileshprasad137 @azwreith @pri2si17-1997 We don't need to hear too much from you guys for the next week.  just check in here to tell us how you are doing (or on the forums).

[2017-04-25 22:04] azwreith commented on #548
Hi hi! Well, I'm fine and dandy though bam in the middle of my exams but yuh so far so good :smile:
I hope you and the other team members are doing great as well.

@nileshprasad137 @pri2si17-1997 Good luck for your exams! I look forward to working with you both in the summer regardless of who gets selected. Unfortunately, I'll be on a plane back to Jersey when they announce em so I'll have to wait

[2017-04-26 01:16] nileshprasad137 commented on #548
@azwreith @pri2si17-1997 Good luck to you both for your exams. Great to hear that your exams are getting over so early @azwreith .  Mine gets over on 18th May.

I am also fine and am having Lab exams this week.

 I am excited as well to have a summer vacation full of new learning experiences. Regardless of who gets selected, I'll continue to contribute . :smile:

[2017-04-26 12:28] pri2si17-1997 commented on #548
Hi.. I'm fine and doing good. Hope you are all also good. :slightly_smiling_face:
Right now I'm busy with final evaluations of academic projects and presentations, followed by my end sem examinations.

@azwreith @nileshprasad137 All the best for your examinations. Waiting for these college stuffs to finish, so that we can work together, irrespective of selection. :smile:

[2017-05-02 01:46] teryhill commented on #468
Made changes to allow the code to follow the date's in the globals. Originally it just worked with the era posting now it works with the manual posting.

[2017-05-02 08:16] aethelwulffe commented on #548
Day after tomorrow folks!  Day after tomorrow! 🕐

[2017-05-04 00:20] aethelwulffe commented on #548
Tomorrow (morning here!)  It's Tomorrow! whoooooooo! 🎉

[2017-05-05 18:21] azwreith commented on #548
Way to build up the momentum before revealing the big truth man xD

[2017-05-05 20:32] aethelwulffe commented on #548
Oh yeah...Uh, all three of you guys are in...
Honestly, I swear I hated every moment of keeping it in.  We knew this over a week ago or longer.  There is a sad side to this in that the Java guys didn't get interns that could keep with the program so to speak.  We were expecting only one, then we found out we had two, then at the very end the Toolkit couldn't come up with a clean applicant, then th

[2017-05-05 20:32] #548 closed

[2017-05-06 18:11] growlingflea commented on #544
I went ahead and made a fix.  It looks like the javascript that was calling the location was written for frames, not tabs.  I'm not sure if this is what was the expected fix but here are some screen shots.

![newencounterfix1](https://cloud.githubusercontent.com/assets/8116478/25774852/71b8ee48-324c-11e7-9fa8-687d8da93b26.png)
![newencounterfix1](https://cloud.githubusercontent.com/assets/8116478/

[2017-05-08 19:58] growlingflea commented on #537
They start early, eh?  I'll take a look.

[2017-05-13 00:51] #544 closed

[2017-05-13 03:29] tmccormi commented on #513
I think we fixed that in a branch for ireland.... I thought it got merged...

Tony McCormick

On May 12, 2017 5:53 PM, "Daniel" <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
information by telephone.  The information contained in this message may be
privileged and confid

[2017-05-17 18:24] teryhill commented on #529
@azwreith Any Ideas on how to accomplish this? The patient tracker element file stores the information.

[2017-05-18 00:52] tmccormi commented on #468
That whole screen was "supposed" replaced entirely by Batch payment posting, however some things work in better in that screen that in Batch Payments and visa-versa.   what we need is to merge the two and it's pretty complex.

[2017-05-18 15:51] #512 closed

[2017-05-18 15:52] #527 closed

[2017-05-23 01:15] tmccormi commented on #91
@growlingflea can you take this one on please?

[2017-05-23 01:17] aethelwulffe commented on #91
With extra butter and cheese on top?

[2017-05-23 01:23] aethelwulffe commented on #91
This is directed at a file-per-table dealio, ja?  Is there going to be a "check whole table structure, output a diff, then ask to run structure table or insert" kind of thing keeping separated structure and insert files and all that, or...
  Seems like a function that parses all files or directories and then compares might be better than a versioning system...but I am just making some noise.  I wi

[2017-05-23 03:30] tmccormi commented on #445
Pull reverted., reopened issue

[2017-05-24 20:32] pri2si17-1997 opened #552 "Database Documentation"
Hello @aethelwulffe @teryhill @tmccormi

This issue is regarding proper documentation of database and its tables. We can have simultaneous update in table structure if needed and add it here.

[2017-05-25 16:31] pri2si17-1997 commented on #552
Hello @aethelwulffe @teryhill, please give the details of following tables (it will contain almost all):

- **addresses**

1. What is it meant for?

2. Why all fields are null leaving id as it is primary key. According to me only `line2` can be left as null. Rest are the important components of address and we must not store them as null.

3. What is plus_four and foreign_id?

- **amc_misc_data**

[2017-05-25 17:35] aethelwulffe commented on #552
addresses:
1.  Holds address listings linked to the insurance_company and pharmacy tables.  Should be expanded in use, or replaced as Nilesh gets to the smarty stuff which is what drives these tables and their admin UI's
2.  They are either null or blank if the data is not entered.  Many addresses do not have a "line 2" component.
3. foreign_id is likely the id from the insurance_data or pharmacy

[2017-05-25 19:02] nileshprasad137 opened #553 "Locating files using Smarty-Template-Engine's Syntax for refactoring"
This issue is created to list down all the **files** using Smarty Template's syntax, and for discussion.

Other than **all the files** contained inside `templates` directory, there are several other files which need to looked after.
List of files ::

- [x] `Administration/Practice Complete Section`
- [x] `interface/forms/vitals/`
- ~~[ ]  `interface/forms/vitalsM/`~~(not used anywhere, has to be d

[2017-05-26 19:59] pri2si17-1997 commented on #552
Hello @aethelwulffe if it is possible for you then please give a brief of each field in table, it will certainly be a great help. Although some fields are clear through their comments but if we get actual info then it will help in refactoring the database. Also which tables are linked with them.

- **ar_activity**

1. Purpose.
2. why `pid`, `encounter` and `sequence no` are composite primary key?

[2017-05-26 20:01] pri2si17-1997 commented on #552
I would like to ask one more thing, are we going to use Eloquent ORM? I am working on stuff to communicate using dummy data. (Not in this project a sample application). Some posts from forum seems to be deleted where Kevin mentioned about ORM.

[2017-05-26 21:06] aethelwulffe commented on #552
Having never used ORM, I cannot say what all that involves.  Perhaps you can give me an idea of footprint etc...
I do know that with a database model, and a tool such as the user-configurable layout engine that allows users to alter patient_data table and and many others as part of customizing demographics, adding fields to user created forms and the like, and the fact that adding other optional f

[2017-05-27 06:09] pri2si17-1997 commented on #552
Ok @aethelwulffe No issues. You take proper rest. We can discuss it later. :slightly_smiling_face:

Regarding ORM i'll update in the evening or night.

[2017-05-29 00:14] azwreith opened #554 "Calendar replacement discussion"
## Current Functionality:

**View calendar:**
Date/Week/Month: already handled by FullCalendar
According to provider, facility

**Print calendar.**

**Add/Edit Appointments:**
Book for Patient, Schedule for provider
Edit/Rescheduling
Find Available time slots
Find Patient
Recurring appointments

**Find appointments:**
Using keywords, categories, date ranges, providers , facilities.

**Patient Trac

[2017-05-29 18:15] pri2si17-1997 commented on #552
Hello @aethelwulffe can you please explain the core tables and their relationships? Also please explain the column fields if possible, they help a lot in getting the structure.

[2017-05-29 18:26] aethelwulffe commented on #552
Hi Pri,

I am working on just that.  I am adapting the scripts that generate fake
patients into a set of docs.  I figure that is a guaranteed set of
relational mapping.

On 2017-05-29 14:15, Priyanshu Sinha wrote:

[2017-05-29 18:36] teryhill commented on #554
@azwreith Looks like you have most all of the bases covered. I cannot think of anything that is obviously   missing, I will reserve the right to say "oops did not see that one" at some later date

[2017-05-29 20:27] teryhill opened #555 "Patient Billing Encounter by Carrier report"
I had a request for this report. It is based off the encounter report but it has more options. The billing person wanted it as a snapshot of what they were working on. It uses the table sort js so each column is sortable. Screen shot here.  Report Name could use some work!!!

![new_report](https://cloud.githubusercontent.com/assets/4655366/26561339/70aa0342-448b-11e7-98d1-20cb5c3a607e.JPG)

I also

[2017-05-29 20:48] pri2si17-1997 commented on #552
Hello @aethelwulffe , I'm posting new structure here itself. You please check it and let me know if incorrect or any improvements required.

1. **addresses**
`id int(11) primary key auto-increment,
line1 varchar(255) not null,
line2 varchar(255) null,
city varchar(255) not null,
state varchar(255) not null,
zip varchar(10) not null,
plus_four varchar(4) not null,
country varchar(255) not null,
for

[2017-05-29 21:52] teryhill opened #557 "Fix encounter messages on the billing screen."
The encounter billing message on the billing screen was not displaying the correct information. This will fix that.

[2017-05-30 15:53] yehster commented on #554
Future Appointments and Appointment History for individual patients on the demographics screen is a significant feature that should probably be explicitly mentioned as existing functionality.

[2017-05-30 16:00] teryhill commented on #554
Yes we are looking at an appoint log/audit feature that will show those items plus give more information as to what happens to the appointments.

[2017-05-30 16:11] tmccormi commented on #554
- Schedule templates for providers, ie reserved and preferred times for appointment types.
- Appointment reports, there are several and the the fact that appoints can be specifically linked to the 'encounter/visit' so you can report on that.
- Given time we should consider group appointments, ie: multiple provider and multiple patients (behavioral and integrative medicine)
- Updates to ehr-api to

[2017-05-30 16:14] tmccormi commented on #554
Aso, consideration on how to install the new appt module and migrate old appointment data.

[2017-05-30 16:18] aethelwulffe commented on #554
Schedule templates as a background css, then overlay the other stuff was an idea at one point.  You don't want a "template" actually interfering in any totalitarian way.
  Once we have a new data model, we can throw plenty of "real" data into a migrate script to see how messed up it is! :)

[2017-05-30 18:10] teryhill opened #560 "Possible Error in Flow Board with Double booking."
This is 2 providers with 11:00 appointments . Should this be showing Double booked?

![image](https://cloud.githubusercontent.com/assets/4655366/26597871/739e4048-4541-11e7-8df9-819ce23bb883.png)

![image](https://cloud.githubusercontent.com/assets/4655366/26597963/b0c48e8c-4541-11e7-8e58-fb704fc6014f.png)

[2017-05-30 19:41] aethelwulffe commented on #560
Ouch.  Looks like we need a new calendar too!

[2017-05-30 19:54] aethelwulffe commented on #553
/soap
/ros
can be dropped completely and replaced with modern forms later.  They are despicable.

[2017-05-30 19:58] aethelwulffe commented on #416
#561 is a move intended to promote migrating the js includes.

[2017-05-31 00:24] tmccormi commented on #555
I've always wondered with that "Status" is based on.  What does "Open/Closed" mean.  Empty seems obvious (missing coding).

[2017-05-31 00:29] teryhill commented on #555
Here is the logic from the code.

      if ($billed_count && $unbilled_count) $status = xl('Mixed' );
      else if ($billed_count              ) $status = xl('Closed');
      else if ($unbilled_count            ) $status = xl('Open'  );
      else                                  $status = xl('Empty' );
so if there are items that are billed and unbilled on the encounter it is mixed
if it is bille

[2017-05-31 00:38] #557 closed

[2017-05-31 00:40] teryhill opened #562 "Added some more subscriber data checking in the billing screen."
I changed it to check if there are , a subscriber relationship, last name (which was there), DOB , Sex, Address, City , state for the subscriber. and if one of these are missing the name still appears in RED but now the patient name BLINKS.

[2017-05-31 00:43] tmccormi commented on #560
I fixed this issue for Ireland, I thought I had fixed it in the main code, essentially I disabled the test for double booking when you are in the ALL provider view.  Will take a look and see what's up.

[2017-05-31 04:35] aethelwulffe commented on #552
All the above looks fine.  Please drop the `array` table.  Also, `config` and `config_seq` as these tables have not been in use for more than 15 years, and I cannot find one instance of use of them.  They might have been part of SMARTY.
`audit_details` and `audit_master` are used in a Continuity of Care record/document import.

[2017-05-31 05:30] aethelwulffe commented on #552
`documents_legal_detail`, `documents_legal_categories` and  `documents_legal_master` are not used in the code base.
Any tables named ICD9 should be dropped.

ar_session tracks each time a payment is entered into the system.
Here is a sample row (without quotes that would be needed as an insert):
(12539,2160,223,0,ePay - 058952209,2017-05-24,2017-05-24,804.18,2017-05-24 08:23:42,2017-05-24 08:53:37

[2017-05-31 21:46] pri2si17-1997 commented on #552
Hello @aethelwulffe need some info for `patient_data` table. I am posting column names (few) and please tell me what are they and if they are related to other, and from where the data comes. I will also mention my views on that :
1. `title` (It may be like Mr. or something else.)
2. `financial`
3. `pharmacy_id` (always 0. As in code only it is set as 0.)
4. `referrer`
5. `referrerID` (might be rel

[2017-06-01 00:32] teryhill commented on #91
@tmccormi  any word from Dan on this. If he is I would suggest for the time being we go back and resurrect the old way of doing it.

[2017-06-01 00:32] #562 closed

[2017-06-01 00:33] #555 closed

[2017-06-01 01:53] teryhill commented on #416
I am working on 1.3.2 clean out. Moving to 1.7.2 or greater where possible.

[2017-06-01 04:36] aethelwulffe opened #567 "Calling globals.php too much?"
Why are we including globals.php in anything but interface/main/main.php or other scripts that may directly change the superglobal $GLOBALS[index] ?
  Perhaps it only works on localhost and not remote, but it seems like $GLOBALS works like you would expect it too...unless register_fake_globals or something like that does something foul with it.  Using it as we do seems to just be treating it as a

[2017-06-01 04:44] aethelwulffe commented on #567
This came up when Terry pointed out that I called globals.php by using `require_once $GLOBALS['rootdir'].'/globals.php';`  in tabs/main.php
  It seems to work for me.  I echoed out the values.  I also commented out the globals.php include, and everything still worked (that was actually setting $GLOBALS[] that is.

[2017-06-01 04:48] aethelwulffe commented on #567
Is this stuff not kept in the session or cookie?

[2017-06-01 04:57] tmccormi commented on #567
logically is seems like anything loaded by the main menu would already have globals included, but I am not a Computer Scientist...  You should only need to include globals if the program can be loaded "directly" by an external force (like a daemon or deity)

[2017-06-01 05:35] pri2si17-1997 commented on #552
Hello @aethelwulffe Can this `address` table can be used to store address of patient and employer?

[2017-06-01 05:49] aethelwulffe commented on #552
I see no reason why it should not.  The interface(s) have to determine
how that touchlist works though.  That involves the damn layout engine,
which likes to make changing how anything is done very difficult.

On 2017-06-01 01:35, Priyanshu Sinha wrote:

[2017-06-01 16:14] pri2si17-1997 commented on #552
Hello @aethelwulffe . I am now posting structure for `patient_data`. This does not contain fields posted above. Also I have used `Address` table to store patient's & employer's address. It is sub divided into :
1 . `patient_face_sheet`
2. `patient_contacts`
3. `patient_privacy`
4. `patient_employer`
5. `patient_social_statistics`
6. `patient_data`

Now structure of each table :
1. **`patient_face_

[2017-06-01 17:29] aethelwulffe commented on #552
None of it is necessarily wrong.  Important things to note:
I hope that "patinet_" in the above lists is just a typo...and you mean "patient_" :)

Drop SSN.  It is not, and should not be used in a medial setting...for anything...ever.

The abbreviation "pid" or patient ID is very common in the medical industry, and it descriptive enough as a UUID field for a patient record.  Just as importantly, i

[2017-06-01 17:48] aethelwulffe commented on #567
Then we call it unnecessarily in about 5000 places...

[2017-06-01 19:15] teryhill commented on #567
I had to put the ../globals.php to get my system to run. It looks like it is needed even though it is in every program. I don't know if cache is helping Art , but I have yet to find a way around it. Main.prg definitely does not like being with out ../globals.php. I do not know enough about what globals.php does or doesn't do.

[2017-06-01 19:15] teryhill commented on #567
So right now until main.prg is changed I think the repo is hosed.

[2017-06-01 19:18] aethelwulffe commented on #567
Well, all we gotta do is get this commit merged, and it is all taken care of, right?

[2017-06-01 19:19] kchapple commented on #567
The menu just generates links, the flow of execution doesn't actually go through the menu when you click on something. Each click is a new request, and since this is not an MVC program, each file needs to include globals.php because it contains all the database logic, authentication stuff and everything else that makes the system work.

[2017-06-01 19:21] kchapple commented on #567
If it were MVC, then we could include globals.php only once and have some sort of dispatcher module dispatch the request to the appropriate file.

[2017-06-01 19:22] teryhill commented on #567
Fixing Main now

[2017-06-01 19:35] teryhill commented on #567
okay that should do it.

[2017-06-01 20:02] aethelwulffe commented on #567
Closing this unanswerable unponderable. 😸

[2017-06-01 20:02] #567 closed

[2017-06-01 20:04] aethelwulffe commented on #459
So, resolve, won't fix, bug, what?

[2017-06-01 20:06] aethelwulffe commented on #420
Hi folks!
Should we leave the Glory Road issue open for reference, or close it now that we have some significant improvements already, and a lot of big design changes coming?

[2017-06-01 20:11] teryhill commented on #420
It can always be re-opened if needed.

[2017-06-01 20:47] aethelwulffe commented on #420
Cool.  Closing.

[2017-06-01 20:47] #420 closed

[2017-06-01 20:50] aethelwulffe commented on #416
#569 Moving most of the datatables package stuff over.  There is some...delicate...stuff in /tags that I am leery to touch at the moment that seems like assets that could be merged with this package, and there are css bits as well, but I am just leaving most of the structure be right now.

[2017-06-01 23:00] teryhill opened #571 "Charges Panel"
Do we want to keep it? Yes or no. It is not setup in the menus. It is not normally used since the feesheet was written.

[2017-06-02 01:54] teryhill opened #572 "Add next and previous to the encounter screen"
The user can move backward and forward thru the encounters .

![image](https://cloud.githubusercontent.com/assets/4655366/26707699/b3a52e48-4714-11e7-890f-6a587f6b94a4.png)

[2017-06-02 04:11] tmccormi commented on #459
@yehster ???

[2017-06-02 04:16] tmccormi commented on #571
drop it.

[2017-06-02 05:32] pri2si17-1997 commented on #552
Hello @aethelwulffe

This means I should remove it. Also I will drop SSN and include pid.

Probably this is for all the above columns which I mentioned. right? So I will create another table and get that linked with patient data.

I am not able to get it. Can you please elaborate it more?

    Primary Provider: Sue X -MD
    Cardiologist: Jerry Y -IM
    Physical Therapist: Mary Z -LPT
    Behavio

[2017-06-02 10:03] yehster commented on #459
Is the issue really that there are two calendars open for a user? Or is it that they have the calendar set for the second tab in options at startup, but it opens in the first tab from the menu?
It was a bit of a mess getting the startup options working for the second tab properly, so I am hesitant to mess with things.

[2017-06-02 11:33] aethelwulffe commented on #459
I honestly don't see why having two (or three) open is a problem...more
like a feature!

On 2017-06-02 06:03, Kevin Yeh wrote:

[2017-06-02 11:53] teryhill commented on #459
2 instances of can be opened of the first tab can be opened.

![image](https://cloud.githubusercontent.com/assets/4655366/26724626/82f78904-4768-11e7-8550-d78e39be323b.png)

[2017-06-02 11:57] aethelwulffe commented on #572
Good stuff man.  Merged up.

[2017-06-02 11:57] #572 closed

[2017-06-02 11:59] aethelwulffe commented on #571
We have never used the charges panel, 'cause we only started electronic billing 14 years ago.
Drop it.

[2017-06-02 12:03] aethelwulffe commented on #459
So whatever the first tab is, it can be opened again, but not any other tabs, right?

[2017-06-02 12:19] teryhill commented on #459
what ever is in the first TWO tabs can be opened twice, sorry I was not clear

![image](https://cloud.githubusercontent.com/assets/4655366/26725368/38c67148-476c-11e7-8035-23d77d2b4ed7.png)

[2017-06-02 12:44] aethelwulffe commented on #552
Providers should be many-to-many...right...sort of.  It is actually one (patient) to many (Providers) but each provider is a list that is used by all patients.  We look up a provider's patients by joining the patient table where ProviderID IN().  It may be better to leave this relationship as an expanded custom field where someone adds more lists of providers to their flat table if they want.  Thi

[2017-06-02 13:08] aethelwulffe commented on #531
@pri2si17-1997 Think you could take another look at this?

[2017-06-02 13:09] #499 closed

[2017-06-02 13:10] aethelwulffe commented on #474
This is well addressed in other issues and projects.  Closing now.

[2017-06-02 13:10] #474 closed

[2017-06-02 13:14] aethelwulffe commented on #349
I think this is a "won't fix" now.  Should we close this?

[2017-06-02 13:16] aethelwulffe commented on #447
Form validation done for this round.  Closing.

[2017-06-02 13:16] #447 closed

[2017-06-02 13:19] aethelwulffe commented on #242
Updating this.  This is related to #531 as well.

[2017-06-02 13:25] yehster commented on #459
The basic flaw is from the changes that were introduced which makes the menu items create new locked tabs instead of using the existing ones.  I honestly dislike that approach as things can get crowed very quickly. If it were up to me the  approach I would take to fixing this issue would be to revert to the old scheme.

[2017-06-02 13:29] nileshprasad137 commented on #447
@aethelwulffe I am about to send a pull request. I have made multiple changes and integer fields aren't accepting strings anymore.

[2017-06-02 13:29] nileshprasad137 commented on #447
Its done. Just sending.

[2017-06-02 13:43] teryhill commented on #459
Ok then we will not worry about this and call it closed

[2017-06-02 13:47] teryhill commented on #459
The changes to make the screen look different were put in place on the 16 of march. this issue occurred when the ability to define the first 2 tabs was introduced. @azwreith can you look at this and offer your opinion.

[2017-06-02 13:55] aethelwulffe commented on #459
The other issue being that the original way was far too restrictive.  I got immediate feedback "Why can't I open more stuff?  I should be able to open more stuff!  Can I at least open another window?"
The billing lady and the treatment plan reviewers like the browser open and extended across three monitors.

[2017-06-02 14:03] aethelwulffe commented on #478
This is assigned to and being worked on by Nilesh.  I think we can close this as a specific issue as it is clearly part of the larger UI revision.

[2017-06-02 14:03] #478 closed

[2017-06-02 14:06] aethelwulffe commented on #361
Can we get a better definition of what this issue is to address (as a specification for a work ticket)?

[2017-06-02 14:18] yehster commented on #459
A mechanism to either use an existing tab or create a new tab based user preference rather than forcing one way or the other would be the ideal approach.

[2017-06-02 14:20] yehster commented on #459
(by user preference I DO NOT mean another global flag), mostly likely another control(s) as part of the menu so it can be done on the fly.

[2017-06-02 14:40] aethelwulffe commented on #441
#575

[2017-06-02 14:44] aethelwulffe commented on #459
Well we do desperately need better user pref settings, but Yep,  I am with you.  What we need are better ui controls...meaning better ways for the user to get what they want when they want it...not settings.

[2017-06-02 14:53] pri2si17-1997 commented on #552
Ok @aethelwulffe Now I got it. Sure I will make this and will let you know. Just confirm me few things...

1) Is there any issue with privacy table? (HIPPA and all.. I will prioritise contacts, take this as consideration) What I think is that let the contacts be created as it is, and then we should have one table like patient_priority and there we can have reference to patient, contact and privacy

[2017-06-02 14:54] pri2si17-1997 commented on #531
Yes @aethelwulffe . I will surely look at this.

[2017-06-02 14:58] aethelwulffe commented on #343
Starting here:
`function checklogin() {
    if (!$this->isLoggedIn())
        return false;
    else
        return true;
}

function isLoggedIn() {
    if (isset($_SESSION['user_id']) && isset($_SESSION['user_email'])) {

        if( !$this->isTimeOut() )
            return false;

        $where = array(
            'id' => $_SESSION['user_id'],
            'email' => $_SESSION['user_email']

[2017-06-02 15:28] aethelwulffe commented on #552
Privacy table is about how to treat contact information.  If you put that information in the actual contact listings (people, phone numbers etc...) then you don't need a privacy table itself, as you now have granular control over the behavior of each item.
Yes, you have been moving in the right direction.  This is just a big move, it affects a lot of things, and we are going to have to collaborate

[2017-06-02 15:30] aethelwulffe commented on #531
Thank you.  #242 has a key point too.

[2017-06-02 15:42] aethelwulffe commented on #288
We are still using concurrent_layout.  I guess this should be on a BOLO list.  As a matter of fact, we are still adding copies of that $GLOBALS value to the code.  An example of what to replace it with would be good.

[2017-06-02 15:46] aethelwulffe opened #576 "Move /patients to modules? (Patient Portal question)"
Should, as an optional module, Patient Portal and all it's libraries be moved into the Modules directory?
  It seems that since it requires a very static and already outdated patient_data table, we may need to refactor it quite soon anyway.  Some of it's functions and features may also be useful in other areas, and will need to start using some of the new core module (calendar, FHIR server etc...)

[2017-06-02 16:03] teryhill commented on #288
I can push some commits to remove more of this. I just don't want to overwhelm the committer.

      From: Art Eaton <notifications@github.com>
 To: LibreHealthIO/LibreEHR <LibreEHR@noreply.github.com>
Cc: Terry Hill <teryhill@yahoo.com>; Assign <assign@noreply.github.com>
 Sent: Friday, June 2, 2017 11:42 AM
 Subject: Re: [LibreHealthIO/LibreEHR] removal of concurrent_layout from the code (#288)

[2017-06-02 16:42] aethelwulffe commented on #288
You are the committer...and I will review and test.  Mostly just test I think...

[2017-06-02 16:43] teryhill commented on #576
Portal is pretty heavily interwoven with the core. Secure messaging sending invoices to the patient etc. The next step is to add the Kiosk functionality to it. It y'all think it needs to be a module them its ok by me go for it.

[2017-06-02 16:44] teryhill commented on #288
Ok next round coming.

      From: Art Eaton <notifications@github.com>
 To: LibreHealthIO/LibreEHR <LibreEHR@noreply.github.com>
Cc: Terry Hill <teryhill@yahoo.com>; Assign <assign@noreply.github.com>
 Sent: Friday, June 2, 2017 12:42 PM
 Subject: Re: [LibreHealthIO/LibreEHR] removal of concurrent_layout from the code (#288)

You are the committer...and I will review and test. Mostly just test I

[2017-06-02 17:24] yehster commented on #242
Tabs can also "unlock" rather than close.  So then you could click back over to the results. Again, the default behavior of locking all existing tabs isn't ideal. The thing is, in the "old top/bottom model" you did in fact lose the finder search result when you clicked on a patient.

[2017-06-02 20:03] pri2si17-1997 commented on #552
@aethelwulffe

Now I got that. You mean that patient's contact may be a patient itself or not. Also a patient can prioritise his/her contact's list in order to send data in case of emergency. If he/she sets the priority then he/she must share privacy communication means like email, phone, etc.

I will have to look at this and will let you know.

Ok. Will soon present the list. :slightly_smiling_fa

[2017-06-02 21:08] pri2si17-1997 commented on #552
@aethelwulffe

These are the immediate list of tables to be deleted. I will update the list while I proceed.
1. array
2. categories_seq
3. documents_legal_detail
4. documents_legal_categories
5. documents_legal_master
6. icd9_dx_code
7. icd9_dx_long_code
8. icd9_sg_code
9. version
10. sequences

[2017-06-03 00:39] teryhill opened #579 "Customer request for Provider and Referring provider on billing search screen"
Had a customer request this so that they could divide the work load between billers. They also wanted referring for a lab that they do billing for.

@aethelwulffe I got the dropdowns working and this is pretty slick .

[2017-06-03 04:43] aethelwulffe commented on #579
Gave review + test.

[2017-06-03 04:45] aethelwulffe commented on #579
having the provider in the criteria is vital.  Sometimes you need to work a particular NPI a little differently.  Add other criteria and you get to a lot of granular issues that are a pain if you are billing out batches full of other provider's stuff.

[2017-06-03 04:46] aethelwulffe commented on #579
Code + Modifier is a good criteria we use as well.  Code by itself is worse than useless.

[2017-06-03 22:31] pri2si17-1997 commented on #552
Hello @aethelwulffe ...

It seems that most of the tables are related either patient or users. So I think I must go for them first. And regarding unused tables, it requires yours and @teryhill collaboration, as I grepped most of the tables (will not say all) and they are used in code. So I can't figure out whether they are in use or not. So please assist me in this task.

[2017-06-04 21:22] azwreith commented on #459
Sorry I was down with a really bad cold for the last couple days >_< I just checked noticed that the Message center tab (which is 2nd default tab for me) can have only 1 instance open, and it gets overwritten by only a few of the tabs such as "Add new patient", "Summary".
The calendar can be made to have 2 instances open, however if you close the default calendar tab and reopen it, only 1 instance

[2017-06-04 23:40] teryhill opened #581 "Dr Ray's reminder and recall code"
Dr Ray's reminder and recall code. If you want to test it as a tester let me know.

[2017-06-04 23:45] teryhill commented on #441
Thanks @aethelwulffe

[2017-06-04 23:45] #441 closed

[2017-06-05 16:49] teryhill commented on #554
@azwreith I saw where you had posted the calendar screen in side of LibreHealth EHR. Is everything going okay ?

[2017-06-05 19:58] pri2si17-1997 commented on #552
Hello @aethelwulffe @teryhill , please look  at the following structure :
1. Keeping `patient _contacts` table same.

2. create `patient_contact_link` table like this :

`id int(11) auto-increment primary key, pid foreign key references patient_data.id, contact_id foreign key references patient_contacts.id`

**Note** : This will create many to many relationship.

3. create `privacy_contacts` table

[2017-06-06 00:26] teryhill commented on #554
@azwreith Something like this for the appointment audit feature.

![image](https://cloud.githubusercontent.com/assets/4655366/26808772/3c6c0c68-4a2d-11e7-92e8-49749c467f25.png)

[2017-06-06 12:17] nileshprasad137 commented on #553
Just to update you all here, I will maintain MVC pattern which is currently followed in the forms. I will make appropriate changes in the controller files in order to achieve this.

Also, I intend to use Bootstrap in new forms.

[2017-06-06 12:18] nileshprasad137 commented on #553
I will leave current forms as it is, so that current functionality doesn't break

[2017-06-06 16:33] aethelwulffe commented on #552
Contact relationship is a contact table field for certain.  It may be possible to do the privacy bit in the contact table as well, but it is certainly more extensible the way you have written it.
The hippa_email was probably intended as a special secure email address...which will never happen in the real world.  Dropping that is reasonable.  As with all things, when we drop or move, we have to not

[2017-06-06 17:23] pri2si17-1997 commented on #552
@aethelwulffe Ok. Now I should implement this. For the time being we can leave the contact to be patient. I will surely consider, once I am over with `users` table. This thing complete the patient_data table. Only few columns left, like `usertext` etc. I don't know what they are and why they are? But this type of columns is used in many tables. So I will make a separate table for it, and will see

[2017-06-06 17:30] tmccormi commented on #552
The usertext and userlist fields are intended to be available for end users to enable their own custom data collection via the Demographics Layout engine.   I think that is a another opportunity to clean up, moving the 'user defined custom fields' to it's own reference table.

[2017-06-06 17:31] tmccormi commented on #552
andy making that completely dynamic (as in "Add a new field" not a fixed set of pre-named fields

[2017-06-06 17:33] pri2si17-1997 commented on #552
@tmccormi by dynamic you mean that user will enter new field, type etc and new field should be created in table. Right?

[2017-06-06 17:39] tmccormi commented on #552
That is one way, another is to use a META data approach, where you have a table that is meta ..
ID (auto increment)
FOREIGN ID  (like patient id)
CUSTOM FIELD NAME
CUSTOM FIELD VALUE

-or-
ID (auto increment)
FOREIGN ID  (like patient id)
METADATA - where meta data could be a JSON Key/Value pair or anything else

That might be going too far...

[2017-06-06 17:43] pri2si17-1997 commented on #552
Ok. Metadata approach is much better. I will look into that. Thanks :slightly_smiling_face:

[2017-06-06 18:42] tmccormi commented on #552
The UI part of that can be something @nileshprasad137 can take a look at down the road.

[2017-06-06 19:15] nileshprasad137 commented on #552
Yes, Sure.

[2017-06-06 21:20] azwreith commented on #554
@teryhill Yep that looks neat!

[2017-06-07 11:46] aethelwulffe commented on #552
All fields named "Generic" or User are trash fields, or if database.sql still happens to use them (and you may find this in layout_options or something) that there is what appears to be a useful dataset in the "lists" somewhere and it does not have a clear name (someone has used a "user_defined_list_1" or something to add an important feature) then it needs proper naming.  I hope all such things a

[2017-06-07 12:00] aethelwulffe commented on #581
I am still trying to figure out how to get an actual test set up.
Where is some documentation?

[2017-06-07 12:24] teryhill commented on #581
no documentation yet.

Once you install the software (the commit) then you will notice that messages now has some options that weren't there before. go under File and then setup MedEx. supply an e-mail and password agree to the items listed and this will setup your account on the medexbank servers.

The changes for the postcards , SMS messages, E-mail, and AVM messages are taken care of on the ser

[2017-06-07 12:25] teryhill commented on #581
Did I mention that the testing is FREE for right now

[2017-06-07 12:27] teryhill commented on #581
also some major changes are being made to the medexbank server side software and so there is an issue with windows that is actively being worked on

[2017-06-07 17:30] pri2si17-1997 commented on #552
Hello @aethelwulffe @teryhill please clear me about the `users` table. Below is the detail I'm providing.

Following are fields which I see null in table. I'm not sure from where these data are coming from?
1. `upin`
2. `billname`
3. `email`
4. `email_direct`
5. `url`
6. `assitant`
7. `organization`
8. `valedirectory`
9. `street`
10. `streetb`
11. `city`
12. `state`
13. `zip`
14. `street2`
15. `st

[2017-06-07 17:42] teryhill commented on #552
Look at the addr book, you will see more fields that are used. The Users UI and the addr book UI use the same table (Users)

[2017-06-07 17:46] pri2si17-1997 commented on #552
Yes. I missed it. I have seen this in past. Right now it slipped out of my mind. Sorry for that. And thanks... :slightly_smiling_face: I got that.

[2017-06-07 19:02] aethelwulffe commented on #552
users table:

    upin  Drop.  Not used any longer
    billname  An alias (I think) to be used in billing communications
    email A contact listing to be moved
    email_direct A field to be used by phiMail (I believe) that uses a poorly adopted system called DIRECT.  This can still go to a contacts table.
    url  A website for an addressbook contact.
    assitant  Assistant (sp), a little or un

[2017-06-07 19:20] teryhill commented on #552
I think the default_warehouse has to do with the inventory section, not 100% sure on that though.

[2017-06-07 21:13] aethelwulffe opened #583 "Next release GOALS"
Hi fellas.
Looks like we have three goals (though many other little projects) for the next release, and they closely align to the GSOC schedule.  Please ensure you are attempting to pursue these goals directly and have not gotten too far off track.
1.  Remove SMARTY as a resource.  This is a primary goal for Nilesh.  This involves removing and replacing UI components that use it.  Items like field

[2017-06-07 22:08] pri2si17-1997 commented on #552
@aethelwulffe

Here is the link of structure till refactoring of patient_data. :
https://github.com/pri2si17-1997/LibreEHR/blob/GSoC_LibreEHR/LaravelIntegration/Documentation/Database_Structure.pdf

Here is the branch in which i'm developing :
https://github.com/pri2si17-1997/LibreEHR/tree/GSoC_LibreEHR/LaravelIntegration

Please have a look at it. Directory to look for : `/LaravelIntegration/data

[2017-06-07 23:17] tmccormi commented on #552
yes it is related to the Inventory, assumes USER is at a facility and the
Inventory for that user/facility would come from a default warehouse.

Tony McCormick, CTO
www.mi-squared.com
Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo

tóg go bog ē - Best advice from a pub owner in Ireland, to take it easy.

On Wed, Jun 7, 2017 at 12:20 PM, Terry Hill <notifications@git

[2017-06-07 23:17] tmccormi commented on #552
We definately need to separate users that need to login and have specific setting from the general Address Book of things the the users might what in a shared contact directory...

[2017-06-07 23:19] aethelwulffe commented on #552
Yes, it really does look good.  You are very much on track, and #583 is just a reality check statement we can reference and discuss in context (talk about related stuff).  That issue posting was a result of the conversation today on our weekly call-in conference, and serves somewhat as the minutes of that little talk.  We figured it was just a good thing to have out there for reference...so that A

[2017-06-07 23:24] aethelwulffe commented on #552
And contact type would be "business contact" or "facility contact" or
whatever, so you can tie them as an org-wide (or more granular) contact.

On 2017-06-07 19:17, Tony McCormick wrote:

[2017-06-08 02:34] teryhill commented on #581
Another change to the display on the flow board with the reminder code

![image](https://user-images.githubusercontent.com/4655366/26909795-382025cc-4bd1-11e7-9e4a-8ae4a5978f20.png)

The blue Icon under arrive time is extra text that was sent to the clinic by the patient from the received SMS. Have some Ideas on expansion of that.

[2017-06-08 02:40] teryhill opened #584 "Role based menus."
I have code from Dr Ray for role base menus that he uses in his practice If it would be a good fit for LibreHealth EHR with the UI changes let me Know and I will send it. @aethelwulffe @tmccormi @nileshprasad137

[2017-06-08 02:42] #571 closed

[2017-06-08 16:15] aethelwulffe commented on #581
OK, that is pretty cool.

[2017-06-09 17:53] pri2si17-1997 commented on #552
@aethelwulffe
Thanks... :) I will make that contact table generic.

Here is `users` table break-down. Please do have a look at it and let me know if any correction.

**Notes : **

-  All the address related field's info will be saved in `address` table.
-  User's security credentials has been moved entirely to `user_secure` table.

1. **`user_resedential_link`**
`id int(11) auto-increment primary

[2017-06-09 18:17] aethelwulffe commented on #552
Sorry to reply in short, but I am in between meetings, and my energy level is very low.  Let me stick to the initial impressions in no order.
1.  the 180 day thing was once suggested by me.  I think you may be able to find relevant discussion in old issues with that, but for a simple fix vs. a very elaborate one, I think the impression was that it would be OK provider there was in-context document

[2017-06-09 18:40] pri2si17-1997 commented on #552
Ok @aethelwulffe I am posting this issue and I will seek suggestions from Kevin.
Sorry for spelling mistake. It was a typo. I will keep this in mind.
Whenever you get time, please look at the structure.

[2017-06-11 17:38] pri2si17-1997 commented on #552
@aethelwulffe

Have you looked at above structure? If there is an issue with `salt` field then I can include that.

Now I'm posting few more structures:

1. **`background_services`**
`id int(11) auto-increment primary key, name varchar(100), title varchar(100), active boolean default 0, running boolean default 0, next_run timestamp default NOW(), execute_interval int(11) not null, function varchar

[2017-06-12 17:55] teryhill commented on #584
No one interested in role based menus!!!

[2017-06-12 18:08] aethelwulffe commented on #584
I thought I commented on this!  Yes, hell yes I want to see it.

[2017-06-12 18:58] pri2si17-1997 commented on #552
Hello @aethelwulffe
Now I am proceeding with patient's related table. Starting from appointments. When we create appointment , data is stored on `libreehr_postcalendar_events`. First I need to know the details of following tables :

1. `libreehr_postcalendar_categories`
2. `libreehr_postcalendar_events`
3.  `libreehr_postcalendar_limits`
4. `libreehr_postcalendar_topics`

Table 3 & 4 doesn't seems

[2017-06-12 19:48] aethelwulffe commented on #552
These are related to the Post Nuke Calendar system (SMARTY based) that
Ujjwal is replacing.

...to answer about 3 and 4 despite this, I believe these are used to set
parameters for available times and the like.  All the above is
irrelevant in any case.

On 2017-06-12 14:58, Priyanshu Sinha wrote:

[2017-06-12 20:05] pri2si17-1997 commented on #552
Means?

And what about `users` table. I posted on forum, but I haven't received any feedback. I will not drop `salt*` column until I implement that myself.

[2017-06-12 20:48] aethelwulffe commented on #552
It is irrelevant since those tables are being thrown out (presumably)
along with the old calendar system.

I answered on the user table bits pretty clearly (forum, chat), stating
that you were looking fine there...with the exception of the worries
about the salt storage fields (current, history) which I deferred to
someone that knows what they are doing :)

The background_services and batchcom rel

[2017-06-12 20:51] aethelwulffe commented on #552
It is irrelevant since those tables are being thrown out (presumably)
along with the old calendar system.

I answered on the user table bits pretty clearly (forum, chat), stating
that you were looking fine there...with the exception of the worries
about the salt storage fields (current, history) which I deferred to
someone that knows what they are doing :)

The background_services and batchcom rel

[2017-06-12 20:52] aethelwulffe commented on #552
It is irrelevant since those tables are being thrown out (presumably)
along with the old calendar system.

I answered on the user table bits pretty clearly (forum, chat), stating
that you were looking fine there...with the exception of the worries
about the salt storage fields (current, history) which I deferred to
someone that knows what they are doing :)

The background_services and batchcom rel

[2017-06-12 21:23] pri2si17-1997 commented on #552
Ok @aethelwulffe Thanks.. :slightly_smiling_face: Now I will implement those tables.

Here are two more tables :
1. **`amendments`**

`id int(11) auto-increment primary key, amendment_date date not null, amendment_by varchar(50) not null, amendment_status int(1) not null, patientID foreign key references patient_data.id, amendment_desc text null, created_by int(11) foreign key references users.id,

[2017-06-12 21:35] aethelwulffe commented on #552
Note on Amendments.
You are still under the impression that using the `id` from the patient_data table is a valid use.  The id there is a row number, but should not be used due to a number of reasons.  The proper key to use to link to the patient_data table and any other tables that link to it is the `pid` field.  Yes, it is *possible* to use the `id` field, but there are a huge number of scenario

[2017-06-13 01:44] #579 closed

[2017-06-13 04:47] pri2si17-1997 commented on #552
@aethelwulffe Yes, I will change that. I have made `pid` unique, and now I can reference that.

[2017-06-13 20:40] aethelwulffe opened #588 "Implement MIPS QA, IA and ACI measure forms"
Intent:
Create Advancing Care Information and Improvement Activity measure reporting forms.
Ref:  https://qpp.cms.gov/mips/advancing-care-information

Methods:

Create ACI form to draw fields for the current 11 (15 for 2016) 2017 ACI measures published from a table containing the values exactly as published in CSV format (when you select and download all).
Include  the following elements:
- Provid

[2017-06-14 00:24] teryhill commented on #324
Don't see any need in keeping this clutter.

[2017-06-14 00:24] #324 closed

[2017-06-14 00:26] #264 closed

[2017-06-14 00:27] #17 closed

[2017-06-14 00:28] teryhill commented on #78
Stale too long

[2017-06-14 00:28] #78 closed

[2017-06-14 00:30] #288 closed

[2017-06-14 01:24] teryhill commented on #588
Sounds like a lot of work. What exactly ,in a small synopsis so I can get my pea brain around it, does this benefit the provider. Is this something to do with the CMS stuff like MU?

[2017-06-14 18:04] nileshprasad137 commented on #553
**UPDATE:**
`Administration/Practice` Section is being almost made independent of Smarty class. Only `Documents` tab is left. Would complete that mostly by tomorrow.
Currently, I have made changes in Controller class to make it work without Smarty class.
After I am done removing Smarty from Documents tab , I'll proceed towards UI refactoring.

[2017-06-14 18:08] aethelwulffe commented on #553
Nice.

[2017-06-14 19:21] pri2si17-1997 commented on #552
Hello @aethelwulffe

Now I am done with all forms. I have few doubts :

- I am not able to process `care plan`, `functional and cognitive status` and `observations`. So I am not able to find which field will store what value?

- Also in `procedure order`, I don't know what last two fields are, namely `procedure` and `diagnosis codes`. I followed Kevin's suggestion and tried nhanes.librehealth.io ,

[2017-06-14 20:00] aethelwulffe commented on #552
_I am not able to process care plan, functional and cognitive status and observations. So I am not able to find which field will store what value?_  Care plan is a ZEND module thingie, and does not work.  I will have to look into the cognitive status and observations forms, as neither one of them are actually clinically useful here in our mental health clinic, so I have never used them.

    _Also

[2017-06-15 01:09] teryhill commented on #554
@azwreith have you got some screen shots and/or code that we can look at?  Since you are finished with the displaying of everything.

[2017-06-15 05:34] azwreith commented on #554
@teryhill @aethelwulffe
Please take a look at the code here: https://github.com/azwreith/LibreEHR/tree/calendar-replace
Everything is in a new folder called calendar_new for now.

Latest Screen Shot:
![screenshot from 2017-06-15 01-28-25](https://user-images.githubusercontent.com/10354323/27166679-6e0d0a3a-516a-11e7-861e-ff449db64326.png)

I'm having problems with recurring events. I understand wh

[2017-06-15 15:23] teryhill commented on #554
@azwreith look at /library/appointments.inc.php in the function fetchEvents at about line 96

[2017-06-15 16:17] aethelwulffe commented on #554
Beat me to it...
Ujjwal, do me a favor and investigate how things work when you go to a 24 hour clock (13:00 vs 1PM) and when you have time zones that differ from system time.

[2017-06-15 16:42] aethelwulffe commented on #554
Other testing factors you might want to check out:
Test with something like 10-20 providers, 10-20 facilities.
Check out scrolling, and see if there is any way to implement scrolling overflow for just the actual calendar section (div? frame?).
Most preferable would be for the horizontal overflow scroll to be at the top as well as the bottom, the control sections to be static, and only the actual c

[2017-06-15 16:47] aethelwulffe commented on #554
Also, my personal preference is that you locate your code in /modules if possible, and contains a file describing where it is called in the rest of the application, and other dependencies that may be elsewhere.  Others may have a different opinion, but I feel that if everything for a particular feature is in one easy-to-find location with documented hooks, maintenance, refactoring, and a lot of ot

[2017-06-15 16:59] aethelwulffe commented on #554
Other food for thought:
Have at least three layout options.
1.  How you have it.
2.  One that optimizes vertical space.
3.  One that optimizes horizontal space.
Basically that means an option for all controls to be in the little left-side navigation area, or cram everything across the top row.  Ideally, you should be able to minimize the controls as well, or have a minimized (pure icon tooltip) co

[2017-06-15 18:48] nileshprasad137 commented on #553
I am done removing Smarty from `Admin/Practice` . You may test it by downloading this branch
[https://github.com/nileshprasad137/FormsMVC-Application/tree/admin_prac](https://github.com/nileshprasad137/FormsMVC-Application/tree/admin_prac) in a folder and change the path `/controller.php?practice_settings&pharmacy&action=list` to
`/[new_folder]/controller.php?practice_settings&pharmacy&action=list

[2017-06-15 18:54] nileshprasad137 commented on #553
I haven't changed the UI part currently. Just removed Smarty class and replaced its various functions.

[2017-06-15 19:02] aethelwulffe commented on #553
Gimmie a minute to break this first :)

[2017-06-15 19:17] nileshprasad137 commented on #553
Sure! And if possible please test `Documents` tab functionality. I am not fully aware of its deep functionalities. The document tree was getting displayed correctly , so I presumed that it might be working well.

[2017-06-15 19:20] aethelwulffe commented on #553
Crud.  I don't even remember what version of that document_tree stuff we are actually using at the moment.  The file manger stuff is a mess too....

[2017-06-15 19:24] nileshprasad137 commented on #553
As far as I know, it is working the same way as the `Documents` tab before removing smarty.

[2017-06-15 19:43] aethelwulffe commented on #553
Seems to be so.
I haven't cracked anything yet.
Terry...Tony...Ujj...Pri...you guys want to check this out?  Looks like a good stage to push this to me.

[2017-06-15 19:55] teryhill commented on #553
I will be working it into my system shortly.

[2017-06-15 20:17] teryhill commented on #553
I got it in I think. I just downloaded the zip and unziped it into controllers_2. It has various directories in it Is that correct? @nileshprasad137

[2017-06-15 20:19] nileshprasad137 commented on #553
yes

[2017-06-15 20:20] nileshprasad137 commented on #553
But that is not the master branch of that repository. Note that.

[2017-06-15 20:23] teryhill commented on #553
I changed the url to point to the directory controllers_2 Directory structure below

![image](https://user-images.githubusercontent.com/4655366/27200193-de3a2348-51e6-11e7-8d1f-7936fba26528.png)

I get these errors in my phperror log

[15-Jun-2017 16:14:41 America/New_York] PHP Warning:  mysqli_real_connect(): (HY000/1045): Access denied for user 'libreehr'@'localhost' (using password: YES) in C:\

[2017-06-15 20:30] aethelwulffe commented on #553
I only checked it from his branch...

[2017-06-15 20:40] nileshprasad137 commented on #553
Couldn't connect to database! why ...
@aethelwulffe any idea? Do you face the same error while downloading and running?
I'll at it in the morning.

[2017-06-15 20:47] aethelwulffe commented on #553
Collation?

[2017-06-16 01:57] teryhill commented on #553
Got it working Guy's

[2017-06-16 02:08] teryhill commented on #553
Never mind still using the old yunk

[2017-06-16 03:36] nileshprasad137 commented on #553
Yep, I previously said ,

But , is the same functionality being maintained after removing Smarty?

[2017-06-16 03:40] nileshprasad137 commented on #553
Is this a bad approach? I asked it on the forums few days back, if I should proceed with a new MVC and use PDO fordatabase connections and Kevin said

I am open to any suggestions you have . Otherwise, I can proceed to remove smarty in the same way and later revamp the UI.. :

[2017-06-16 04:29] nileshprasad137 commented on #553
`[15-Jun-2017 16:14:41 America/New_York] PHP Warning: mysqli_real_connect(): (HY000/1045): Access denied for user 'libreehr'@'localhost' (using password: YES) in C:\xampp\htdocs\LibreEHR\controllers_2\library\adodb\drivers\adodb-mysqli.inc.php on line 123

[15-Jun-2017 16:14:41 America/New_York] PHP custom error: from librehealth ehr library/sql.inc - Unable to set up UTF8 encoding with mysql data

[2017-06-16 18:35] tmccormi commented on #553
Art is a big fan of PDO, but I have no  idea what the implications for using PDO are and by passing ADODB.   Logging is important and it needs to be maintained one way or the other

[2017-06-16 19:16] nileshprasad137 commented on #553
The method I am currently using is safer I think so!

[2017-06-16 19:56] tmccormi commented on #553
What do you mean by "safer" ?   be specific.

[2017-06-17 09:12] nileshprasad137 commented on #553
I meant it would be less error prone as I have already tested it and it is working fine. But, I have not tested Documents tab functionality in depth.

[2017-06-18 16:40] pri2si17-1997 commented on #552
@aethelwulffe

Can you please tell me about `form_encounter` table? There are some fields which are not in facility table. If you are free then please elaborate this.

[2017-06-19 01:07] azwreith commented on #554
Adding a lot of providers currently tries to fit everything in that tiny window. Yes, scrolling for the "calendar" part with the sidebar constant shouldn't be too difficult to implement.
About the zoom buttons, I think it's possible to do it by manipulating the css zoom property using jquery so I'll try that out after I do horizontal scrolling.

Okay, I'll move the code to /modules folder. I'm sor

[2017-06-19 14:45] aethelwulffe commented on #552
INSERT INTO `form_encounter` (
`id`, //row id
 `date`, //Date of Service...not create date
`reason`,//freeform text like "Patient reports piece of crayon up nose"
 `facility`, //the SERVICE FACILITY NAME that has the place of service code (11 for office etc..)
 `facility_id`, //the id of the above.  The name is preserved due to edit/row index possibilities in the facilities table.
`pid`, //The pat

[2017-06-19 14:55] aethelwulffe commented on #552
[code]

There is no x12 sender id in facilities.  It is in the insurance_companies table.
[code]
Here is where the sender id gets linked:
[code]
Note that `freeb_type` field name has changed to something like ins_co_type....to lazy to look.

[2017-06-19 17:20] pri2si17-1997 commented on #552
Ok @aethelwulffe I got it. But there is `x12_sender_id` field in table. I have the table structure and I am sending you the screenshot. Please check it.
![screenshot from 2017-06-19 22-45-18](https://user-images.githubusercontent.com/12952169/27297219-a747bff4-5541-11e7-98c0-eece7663fda5.png)

[2017-06-19 17:52] aethelwulffe commented on #552
I am grepping for usages...but the blame on that x12_sender_id field is very old...and blame is almost impossible to track in the database.sql file.  Looking at running instances (also with databases with a long history) this field is NULL in all rows.
grep results:  NO USAGES FOUND.
This field is poo, has always been poo, and should be treated as such.

[2017-06-19 19:35] pri2si17-1997 commented on #552
Ok... got it... :smile:

[2017-06-19 21:05] tmccormi commented on #553
Add/Change/Del operations all need to be logged via internal calls thru or mysql query (ADODB) functions.   You can't bypass that.    An argument could be made that "configuration" related changes like in the practice tools you've updated could be exempt from that, but it makes them outliers in the code base.

[2017-06-20 02:34] yehster opened #591 "Bug in SOAP and ROS Form Smarty Templates"
Here is the commit to correct the problem found.

https://github.com/yehster/LibreEHR/commit/f46eefb0d06f71efdd2a664d7099a8853c1bd9fd

As mentioned in the commit, the > which is meant to be to close an HTML tag is actually being processed as PHP and a floating "greater than" which causes a syntax error.

Try to load either of these two forms at present it fails, with an error reported in the log.

[2017-06-20 02:36] yehster commented on #591
@teryhill Please review

[2017-06-20 11:45] aethelwulffe commented on #591
https://github.com/LibreHealthIO/LibreEHR/issues/553
For reference.

[2017-06-20 11:48] aethelwulffe commented on #591
We need a quick replacement for the smarty-template based SOAP note for the educational demo they are working on.  It is basically four text boxes.  I imagine this is needed because someone has migrated data to the SOAP form.  If that is not the case, then we DON'T need a 1:1 replacement...we just need to uninstall the form on the demo.

[2017-06-20 12:18] aethelwulffe commented on #553
We already have sqlStatementNoLog($query) function that is used...and really not used enough in SELECT statements.  I don't think that any UPDATE/INSERT/DELETE statements should be immune from logging (without intentional global configuration changes, which should then be logged)
However:
[code]
Or with DSN mechanism:
`$conn =& NewADConnection("pdo_mysql://user:pwd@localhost/mydb?persist"); # pers

[2017-06-20 13:48] teryhill commented on #591
@aethelwulffe Can you review this ?

[2017-06-20 15:27] aethelwulffe commented on #591
Please put in a PR to master here...

[2017-06-20 18:35] nileshprasad137 commented on #553
@teryhill @aethelwulffe Hope you've tested Administration/Practice.
I found that templates in `templates/patient_finder` are not used anywhere at this moment..  Am i right.?

I don't think I would need to change any query right now using the approach i'm following at this moment.Above two comments apply if I make database related changes, right?

All I am doing now is replacing smarty based functi

[2017-06-20 21:45] yehster commented on #553
Instead of switching to PDO, (which isn't really that different than ADODB), what would ultimately be quite valuable would be to implement and ORM layer using Eloquent/Laravel.

Eloquent has a "listener" event to which a hook for logging every query as we do with ADODB could be attached. So the logging issue should be relatively simple to address.

https://medium.com/headerlabs-india/logging-every

[2017-06-21 11:40] teryhill commented on #554
@azwreith when you look at addedit event we need a more granular way of doing the recurring appointments. Currently the options are for 2nd, 3rd,4th etc it would be easier if the user could say repeat the appointment every Tuesday for the next (time frame) or every Mon, Tue and Thu. So maybe some way of picking a day of the week to repeat on.

[2017-06-22 08:31] nileshprasad137 commented on #553
Smarty from Vitals is being removed  :)

[2017-06-22 13:56] nileshprasad137 opened #596 "Not able to open Miscellaneous/Preferences"
Log shows ::
`Call to undefined function include_css_library()` inside `interface\super\edit_globals.php on line 269`

[2017-06-22 14:10] teryhill commented on #596
make sure you have this file in /library headers.inc.php

[2017-06-22 14:12] teryhill commented on #596
also this line in the requires of the program

require_once $GLOBALS['srcdir'].'/headers.inc.php';

[2017-06-22 14:22] nileshprasad137 commented on #596
Its there already. It only contains ` include_js_library($path)` function in headers.inc.php currently. You can also verify that in our's master branch .

[2017-06-22 14:27] nileshprasad137 commented on #596
Is this relevant? #595 ?

[2017-06-22 14:27] teryhill commented on #596
no it should contain more information than that.

<link rel="stylesheet" href="<?php echo $css_header;?>" type="text/css">
<?php
function include_js_library($path)
{
?>
<script type="text/javascript" src="<?php echo $GLOBALS['standard_js_path'].$path;?>"></script>
<?php
}
function include_css_library($path)
{
?>
<link rel="stylesheet" type="text/css" href="<?php echo $GLOBALS['css_path'].$path;?>"

[2017-06-22 14:28] teryhill commented on #596
Yes #595 is relevant

[2017-06-22 14:40] teryhill commented on #596
@nileshprasad137 I just merged 595

[2017-06-22 14:57] nileshprasad137 commented on #596
Yes, it works fine now. Closing.

[2017-06-22 14:57] #596 closed

[2017-06-22 16:10] nileshprasad137 commented on #553
I have some confusions and questions . Please help me if you get some time.

1. Should I not remove Smarty from SOAP and ROS? Should I drop it completely?
2. What is the difference between vitals and vitalsM? Is vitalsM used anywhere in application.
3. Where are the files used in `interface/clickmap` being used in application ? Couldn't find it. Please help.
4. Templates inside prescription and pa

[2017-06-22 19:25] teryhill commented on #553
Yes remove smarty from ROS and SOAP. VitalsM appears to be a metric version. VitalsM can be loaded like any form so some one may be using it.

[2017-06-22 19:34] nileshprasad137 commented on #553
What about interface/clickmap..? Where is it used in application. I couldn't find so far.

[2017-06-22 19:56] teryhill commented on #553
It is used in pain map and annotate diagram

[2017-06-22 19:57] teryhill commented on #591
File merged Closing this issue

[2017-06-22 19:57] #591 closed

[2017-06-22 20:27] yehster commented on #553
VitalsM should just be removed. The standard vitals form can currently be configured to just show one or the other type of units, and handles conversion between them.

[2017-06-22 20:45] aethelwulffe commented on #553
Anyone else particularly want to put in the commit on VitalsM?  Nilesh, would you like to kill it, or is it OK for someone else to do it...?

[2017-06-22 20:52] teryhill commented on #553
I say let @nileshprasad137 remove it as part of the overall effort.

[2017-06-22 20:53] aethelwulffe commented on #553
Agreed.

[2017-06-25 07:05] azwreith commented on #554
@teryhill Okay I'mma check what I can do over there!

@teryhill @aethelwulffe
About having too many resources in the calendar, I explored several options but in short having a horizontal scroll bar seems too hard to implement with css or jquery. They even have a ticket about such a feature on their repo. What I think instead, when a practice is dealing with a lot of doctors, they can switch to an

[2017-06-25 12:09] nileshprasad137 commented on #553
I am done removing Smarty from almost everywhere except GACL, and a few other files. I would now like to jump over UI improvements. I would come back to remove Smarty from GACL after some time.
I think it would be better to create a new thread for UI.

[2017-06-25 12:13] nileshprasad137 opened #597 "UI Improvements Discussion"
Discussion thread for UI Improvements of the application.

[2017-06-25 12:14] nileshprasad137 commented on #597
Should we start using Bootstrap or some other UI framework?

[2017-06-25 12:31] teryhill commented on #597
unless some one knows a better choice my vote would be bootstrap.

Sent from my iPhone

[2017-06-25 12:32] nileshprasad137 commented on #597
yep, mine too! :)

[2017-06-25 13:59] pri2si17-1997 commented on #552
Hello @aethelwulffe

I have completed forms and updated documentation and table structure. Here is the link of my work :

https://github.com/pri2si17-1997/LibreEHR/tree/GSoC_LibreEHR/LaravelIntegration

Some points to notice :
1. I have dropped 3 tables namely `form_care_plan`, `form_functional_cognitive_status` and `form_observations.` because I was not sure about them.

2. I added `encounter`, `

[2017-06-25 18:17] aethelwulffe commented on #552
Track anything:  Check for usage cases for the comment and notes.  Look for a feature that may use these.  If there is nothing that can write to those fields, then yes, drop them.  A field can be null, but that doesn't mean that a value cannot be there!  Often the logic check is _if (field_name!==NULL)_, You have to make sure that form DOES NOT USE SOMETHING AT ALL before dropping it.
The care pla

[2017-06-25 18:24] pri2si17-1997 commented on #552
Ok @aethelwulffe . I will update `misc_billing_options` table. But still I don't know what `box_15_date_equal` is? And have you checked the all table structure (that TableStructure.pdf file)?

[2017-06-25 18:32] teryhill commented on #552
That field is/was used in the misc Hcfa form. For 02/12. If is removed or should be.

Sent from my iPhone

[2017-06-25 20:00] aethelwulffe commented on #552
There you go!  Kill that field.  Best to just check interface/forms/misc_billing_options form and go from there...but Terry knows this stuff pretty good.
  Terry, thanks, but I think you are supposed to be incommunicado until Wednesday at earliest.  Ja?

[2017-06-26 06:16] pri2si17-1997 commented on #552
Ok @aethelwulffe .

[2017-06-27 01:35] tmccormi commented on #553
Is there a pull request for us to do code reviews and merge?  I don't see one.

[2017-06-27 01:37] tmccormi commented on #597
Bootstrap for sure.

[2017-06-27 01:39] tmccormi commented on #554
I really like the axiz view switch.

[2017-06-27 05:59] nileshprasad137 commented on #553
@tmccormi I had put the branch of the repository where I was developing earlier in this thread.
[https://github.com/nileshprasad137/FormsMVC-Application/tree/admin_prac](https://github.com/nileshprasad137/FormsMVC-Application/tree/admin_prac)

I thought that I'll send a PR after I am done removing smarty from GACL as well. But anyways, I can send a PR today itself.
For now , I'll keep all the new

[2017-06-27 09:08] aethelwulffe commented on #597
Bootstrap...tied in to the copy under /assets

[2017-06-27 09:10] aethelwulffe commented on #554
I like the axis view switch too, and I am guessing it should be the default

[2017-06-27 09:24] aethelwulffe commented on #553
Just see if it is practical to do smaller commits...and if not, let's do piece-by-piece reviews on your branch and fork, integrating each piece as best we can into a final branch for merge into the main repo.  We all know why we like to keep the pieces small when we can.

[2017-06-27 09:43] nileshprasad137 commented on #597
Yes, I have started working over UI. I'll be sending many pull requests, soon. I'll keep the pull requests smaller for UI. (page-by-page)

[2017-06-27 09:46] nileshprasad137 commented on #597
Are you already moving Bootstrap ?

[2017-06-27 09:48] aethelwulffe commented on #597
Uh, it should be there...I will check.

[2017-06-27 09:50] aethelwulffe commented on #597
Yes, assets/js/ has three versions of bootstrap.  Current, current RTL, and a really old version.

[2017-06-27 10:02] nileshprasad137 commented on #597
I will move Bootstrap 3.3.7 if you are not moving anything. And delete those old ones ..

[2017-06-27 10:07] nileshprasad137 commented on #553
@aethelwulffe I completely agree with your point above , but if I send small pieces one-by-one, it will break the system in meanwhile. That is because , I have made changes in Controller class and calender and many other things depend on that.

So according to me, I'll keep my things in a different folder,  I'll make a new branch over my repo, so that you can test it by changing path from menu..

[2017-06-27 12:52] aethelwulffe commented on #597
I assume you mean that you will do a full GREP/SED to find everywhere they are called up and changing the versions...applying testing etc.. before the delete of the old ones, and make it all 3.3.7 if it all still functions.  That is a good sized piece right there, (and there are lots of copies of bootstrap elsewhere, because developers are like teenage boys) but I suppose as the major library for

[2017-06-27 12:54] aethelwulffe commented on #553
Yeah, we understand this is a pretty darn integrated spaghetti-code thing, but doing a little as-we-go review well before we do integration (and yes, it will have to be one huge commit) should help ease the process.

[2017-06-27 13:38] nileshprasad137 commented on #553
[https://github.com/nileshprasad137/LibreEHR/tree/smarty-removal](https://github.com/nileshprasad137/LibreEHR/tree/smarty-removal)

I thought calender was using Controller class but I was wrong. Everything is working fine(according to me). I think I can send a PR.

[2017-06-27 17:58] pri2si17-1997 commented on #552
Hello @aethelwulffe ,
Should I send PR for this?

[2017-06-27 18:06] aethelwulffe commented on #552
If you have code ready to go, and you don't think it will break stuff, bring it on.  Yes, I like PR's a lot.

[2017-06-27 18:08] pri2si17-1997 commented on #552
Yes.. I think it is ready as major tables are refactored and more to be included. It will not break any stuff.. it is entirely a separate implementation. I am sending it, please do review it.

[2017-06-27 18:12] aethelwulffe commented on #552
Standing by...

[2017-06-27 18:15] pri2si17-1997 commented on #552
Done..

[2017-06-27 18:56] tmccormi commented on #597
Be careful of the RTL version, that one is needed and may have
customization.

Tony McCormick

On Jun 27, 2017 5:52 AM, "Art Eaton" <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
information by telephone.  The information contained in this message may be
privileged and co

[2017-06-28 16:50] azwreith commented on #554
Roger that!

[2017-06-28 20:51] pri2si17-1997 opened #601 "Download Prescription is not working."
Hello @aethelwulffe @teryhill

When we select `Download PDF` in `Prescription`, then it is giving internal server error. Can you please verify it?

Below is error log.

`PHP Fatal error:  Uncaught Error: Call to undefined function set_magic_quotes_runtime() in /var/www/html/LibreEHR/library/classes/class.pdf.php:2654\nStack trace:\n#0 /var/www/html/LibreEHR/library/classes/class.ezpdf.php(1393): C

[2017-06-29 03:57] aethelwulffe commented on #601
magic quotes stuff hunh...I also thought that expdf was moved to /modules...

[2017-06-29 16:47] pri2si17-1997 commented on #552
Hello @aethelwulffe

Can there be many x12 provider for one insurance company?

[2017-06-29 17:09] aethelwulffe commented on #552
I guess you are referring to x12Partners.  These are billing clearinghouses that handle the billing claims you send, and forward each claim in a batch to the correct insurance company.  The problem is, you can't always use just one clearinghouse, because that clearinghouse may not handle all the insurance companies you deal with.
Normally, this is just set in the insurance_companies table; insuran

[2017-06-29 17:10] aethelwulffe commented on #552
short answer, no...not really.

[2017-06-29 17:19] pri2si17-1997 commented on #552
ok.. got my answer.. just one thing, if a new provider is registered with company, then it will update `x12_receiver_id`. right?

[2017-06-29 17:39] aethelwulffe commented on #552
OK, let's make sure we are talking in correct terminology:
x12_Partner...not provider.  The term provider means "Medical Services Provider" e.g. Doctor, Nurse etc...
x12 partner is a billing clearinghouse that helps manage claims so that you don't have to send each claim individually to each insurance company for payment.

Order of operations:
Create an x12 Partner.
Create an insurance company.
Se

[2017-06-29 17:41] aethelwulffe commented on #552
Changing the "default x12 Partner" in the insurance company UI is what updates the x12_partners row linked in the insurance_companies table.
  ...Still struggling to make sure I am being clear.

[2017-06-29 17:53] pri2si17-1997 commented on #552
Yes..

There are two columns in `insurance_companies` namely `x12_receiver_id` and `x12_default_partner_id`, and changing default x12 partner in UI, updates both the field. So according to me it should update only `x12_default_partner_id`. This is what I'm asking.

[2017-06-29 19:46] pri2si17-1997 commented on #552
Hello @aethelwulffe

Some more questions :

1. In table **`lists`** :

- `subtype`
- `returndate`
- `classification`
- `extrainfo`
- `diagnosis`
- `user` : This is probably user who is registering this. But we have one more field `referredby` and that's why I am confused.
- `groupname` : This is probably from groups table, like in all form_* related tables.
- `reinjury_id`
- `injury_part`
- `injur

[2017-06-29 20:33] aethelwulffe commented on #552
_

_
x12_receiver_id...Oh gee what a mess.  I will explain the idiocy of all this more if you like, but it is really thick:
[code]

[2017-06-29 20:57] pri2si17-1997 commented on #552
:smile: No no... I got my answer. Thanks a lot... :slightly_smiling_face:

[2017-06-29 21:18] pri2si17-1997 commented on #552
Hello @aethelwulffe

One more thing, when we record `Disclosures` for patient, that is getting saved in `extended_log` table. My question is, what is `Recipient Name`? Does it has any relation with users table, or it is linking to any patient, contact, or user?

[2017-06-29 21:36] tmccormi commented on #552
And might be useful to rename all occurrences of x12 partner to
clearinghouse which is what the doctors actually call it, x12 is an Uber
geek technical term

Tony McCormick

On Jun 29, 2017 2:19 PM, "Priyanshu Sinha" <notifications@github.com> wrote:

Hello @aethelwulffe <https://github.com/aethelwulffe>

One more thing, when we record Disclosures for patient, that is getting
saved in extended_log

[2017-06-30 04:48] pri2si17-1997 commented on #552
Ok @tmccormi .

[2017-06-30 15:49] aethelwulffe commented on #552
EDI Partner or Clearinghouse is fine for the labels (from one mindset) what is even more needed though is clear indications of when a field affects the outgoing billing claim file.
  Insulating people from the "geek speak" is sometimes wise, but in this case, there is a serious problem.  Someone filling in those values will need to translate those "common terms" into what they are getting from the

[2017-06-30 16:29] aethelwulffe opened #602 "Clearinghouse Module"
Setting specifications for a clearinghouse module:

Reason:
Make it easier and improve accuracy when configuring clearinghouses, insurance companies etc..

Initial Implementation: for Availity (pretty common).

Objectives:

- Enable a user to select a clearinghouse from a dropdown list.
- Provide a step-by-step configuration UI for that clearinghouse as per requirements for that companies publishe

[2017-06-30 20:48] rehoyt opened #603 "Fee Sheet Error"
When the fee sheet is accessed in the NHANES_Demo here is the message

ERROR: query failed: SELECT provider_id, supervisor_id, ordering_physician, referring_physician, contract_physician FROM form_encounter WHERE pid = ? AND encounter = ? ORDER BY id DESC LIMIT 1

Error: Unknown column 'ordering_physician' in 'field list'

[2017-06-30 21:02] aethelwulffe commented on #603
The fix for that has been in for a while.  Must not be updated on the demo.

[2017-06-30 21:16] aethelwulffe commented on #603
@teryhill Is that in the sqlupgrade ?

[2017-06-30 22:03] teryhill commented on #603
I think so

On Friday, June 30, 2017, 5:16:35 PM EDT, Art Eaton <notifications@github.com> wrote:

@teryhill Is that in the sqlupgrade ?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub, or mute the thread.

[2017-06-30 22:05] teryhill commented on #603
Yes it is , run the upgrade

[2017-07-01 12:14] rehoyt commented on #603
I hope the version we will offer faculty will have this as I know the HIM folks will want to go into billing. I doubt the others will

[2017-07-01 12:30] rehoyt opened #604 "Patient Portal"
What is the status of the patient portal? When I go to Miscellaneous >> portal dashboard that generates an Internal Server Error

[2017-07-01 13:19] rehoyt opened #605 "Problem Adding New Facility"
In the demo I can't add a new facility. I was thinking that perhaps that was the problem with appointments that don't seem to work

[2017-07-01 13:21] rehoyt opened #606 "Are Risk Factors Editable?"
When I go to History >> General and select "edit" I see a list of risk factors. Can this be edited as I don't see obesity as just one example. I didn't find it under the "Lists" in admin either

[2017-07-01 15:05] teryhill commented on #604
@robbyoconnor is rewrite turned on in Apache on the demo. Can you tell me what is in the phperror log or tell me how to access it.

[2017-07-01 15:08] teryhill commented on #605
I added a new facility with no issues. called it new facility

[2017-07-01 17:15] rehoyt commented on #604
The server encountered an internal error or misconfiguration and was unable to complete your request.

Please contact the server administrator at infrastructure@librehealth.io to inform them of the time this error occurred, and the actions you performed just before this error.

More information about this error may be available in the server error log.

Apache/2.4.18 (Ubuntu) Server at nhanes.libr

[2017-07-01 17:19] rehoyt commented on #605
It looks like I needed to pick a color. After doing that I now see Lake Sumter Clinic. Thanks

[2017-07-01 17:27] robbyoconnor commented on #604
https://gitlab.com/librehealth/community-infra/blob/master/ansible/host_vars/nhanes.librehealth.io

Whatever is there...I followed installation instructions

[2017-07-01 17:30] robbyoconnor commented on #604
https://gitlab.com/librehealth/community-infra/blob/master/ansible/host_vars/nhanes.librehealth.io

Whatever is there...I followed installation instructions

[2017-07-01 17:31] robbyoconnor commented on #604
https://gitlab.com/librehealth/community-infra/blob/master/ansible/host_vars/ehr.librehealth.io

Whatever is there...I followed installation instructions

[2017-07-01 17:31] teryhill commented on #604
Try adding this

<Directory /var/www/>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
</Directory>

[2017-07-01 17:33] robbyoconnor commented on #604
@teryhill when I get home. File a ticket on the community-infra project please

[2017-07-01 17:34] robbyoconnor commented on #604
also that's not the webroot...

[2017-07-01 17:34] teryhill commented on #604
Yes I know it is not . that fix is from another site.

[2017-07-01 17:35] robbyoconnor commented on #604
just file a ticket so I don't forget.

[2017-07-01 17:35] robbyoconnor commented on #604
or assign this issue.. either or works

[2017-07-01 17:37] teryhill commented on #604
Also the upgrade script needs to be ran on the demo site, I could fix the issues with access to phpmyadmin. I am just not high enough in any order

[2017-07-01 17:40] teryhill commented on #604
I assigned this to you @robbyoconnor

[2017-07-01 17:41] teryhill commented on #605
@rehoyt Do you feel this issue is resolved?

[2017-07-01 17:58] teryhill commented on #606
obesity added to the risk Factors list

[2017-07-01 18:02] teryhill commented on #606
The other tabs can be changes via globals=>layouts. The layout is called History

[2017-07-01 18:09] teryhill opened #607 "Life styles in patient history needs date picker updated"
Noticed this while looking at questions raised by @rehoyt . Will look at this as I can.

[2017-07-01 18:10] teryhill commented on #606
Opened an issue for date picker not working on life styles.

[2017-07-01 19:06] rehoyt commented on #605
Now New Facility is the only choice I see, even though I created the Lake Sumter Clinic and it was accepted. Not sure why I don't see my clinic in the drop down menu when I schedule an appointment. I did re-login and refresh with no change

[2017-07-01 19:08] teryhill commented on #605
Look now

[2017-07-01 19:09] teryhill commented on #605
The box service location needed to be checked.

[2017-07-01 19:14] rehoyt commented on #605
Thanks. I now see that is where I would also check "billing facility"

[2017-07-01 19:16] teryhill commented on #605
If it is the billing location , then yes the end user would check it. There is should only be 1 billing location in the system.

[2017-07-01 19:20] rehoyt commented on #604
It looks like I first need to select that the patient wants to join the portal under Demographics >> Privacy. After that I see the option in the patient's summary to join the portal and it generates a username and password. It also generates a URL that appears to be incomplete at this time.
https://your_web_site.com/libreehr/patients

[2017-07-01 19:24] robbyoconnor commented on #604
Do I need to do anything?

[2017-07-01 19:24] teryhill commented on #604
That is setup in globals. The end user would add their portal address. There is a number of items that the user can setup. Globals would be a good thing for you to look at and see if it generates any questions. I am pretty sure that once robby does his thing with setting up the rewrite options portal should work.

[2017-07-01 19:25] teryhill commented on #604
@robbyoconnor we will need a portal address. I test on my local system as localhost which you cannot do.

[2017-07-01 19:47] teryhill commented on #605
See if this will help in the future. May it will be a starting point. It will need to be un-zipped.

[facility.zip](https://github.com/LibreHealthIO/LibreEHR/files/1117382/facility.zip)

[2017-07-01 20:10] pri2si17-1997 commented on #552
Hello @aethelwulffe

Here are some doubts :
1. What is batch communication tool and how it works?
2. When we add tag in patient, it gets saved in database in table `tf_patients_tags`, but the issue is, on GUI it shows `No Tags Found`. Also in table `tf_patient_tags`, there are two fields `created_by` and `updated_by`. They are of datetime type, but it must be user id referencing to users.

Here is

[2017-07-01 20:59] rehoyt commented on #605
Thanks. I want to be sure Lake Sumter Clinic has billing set up correctly because they are likely the first college to use the educational version and they will be using coding and billing so this needs to be right

[2017-07-02 07:52] robbyoconnor commented on #604
@rehoyt, @teryhill try now.

https://gitlab.com/librehealth/community-infra/commit/1e8c3c7351ad2bd66d90333009ce315a071743eb

[2017-07-02 13:53] rehoyt opened #608 "Race vs Ethnicity"
When I go to Reports >> Client >> Clinical to search, for example for patients with diabetes (ICD-10 = E11.9) I have no problem finding them based on age and gender. When I select anything in the race category, I get no results. On the other hand, when I select Non-Hispanic black under ethnicity I get results. Does that mean that NHANES racial characteristics were uploaded to ethnicity?

[2017-07-02 14:03] rehoyt opened #609 "Comprehensive Search Capability"
I think when we speak to potential industry partners (like IBM) it would be important to be able to describe the potential of LibreHealth EHR to perform analytics for a subgroup of users interested in research. We have started to talk about what it would take to enable SQL queries. That's great, but I wonder about the low hanging fruit of being able to generate a comprehensive report that is downl

[2017-07-02 14:52] teryhill commented on #609
Developing/adding a report generator to the package would be beneficial from an end user standpoint. It has been discussed between us and it is agreed that it would be good to have, we just have not progressed to the design/research stage yet. If it is wanted it will never get done if we wait on funding. (IMHO)

[2017-07-02 14:55] teryhill commented on #609
This is one I found that might work http://www.reportico.org/site/index.php

[2017-07-02 15:04] rehoyt commented on #609
I have no problem discussing this with IBM on Thursday. The last time IBM funded me it was almost immediate payment. If for any reason IBM does not want to be a partner, I will then contact Wolters-Kluwer because of their heavy involvement in health education.

Do you have any ball park idea what this might cost in programming time; if you used reportico? I told Kevin that I would be willing to fu

[2017-07-02 15:19] teryhill commented on #609
I would think some where in the 3-4k range for a price to do the work. That is an off the cuff estimate maybe @yehster , @tmccormi  or @aethelwulffe  would like to weigh in on this. They had a better grasp on the overall project that I do.

[2017-07-02 18:26] yehster commented on #609
There is a very large "upfront" cost for building a generic reporting tool.  It's also very hard to anticipate possible queries of interest.  To make it possible for a "lay person" to be able to easily find data of interest is honestly not something I would consider "low hanging" fruit.  The "clinical report" that already exists in the application doesn't accomplish nearly what I suspect we would

[2017-07-02 18:32] rehoyt commented on #609
There is no question that SQL queries are the method of choice for most data science explorations. Perhaps if we made the process as easy as possible with PHPMyAdmin, we can encourage those interested in research to proceed in that direction.

Maybe down the road with further input from surveys and funding we can actually find out what faculty actually need/want with an educational EHR

[2017-07-02 22:46] yehster commented on #608
Yes, that is correct. I used the "ethnicity" column for the NHANES data.  This is again one of the odd quirks of the system that both exist, and "Ethnicity" is the one that is part of the demographics information by default.

[2017-07-03 19:25] pri2si17-1997 commented on #552
Hello @aethelwulffe

Please reply above queries..

[2017-07-04 10:03] nileshprasad137 commented on #597
On changing themes, there are only changes in background color and button styles at some places. So, I think it would be better to give users an option to choose background color , instead of choosing themes. There can be a color picker for that purpose. I'll like to over this.
I'll also work on layout of tables and forms using Bootstrap grids and would try to make the frames as responsive as poss

[2017-07-04 12:14] teryhill commented on #597
When you work with the nav bar make sure you look at the pull request for the role based menus. If you could keep that and maybe expand on it that would be great. Remember on the layout forms if you remove a field the field is removed from the data base (would like for that to not happen).

Go get'em!!!

[2017-07-04 12:17] teryhill commented on #597
I like the color picker Idea . I thought the themes did more that color. I am pretty sure there are some changes with the size and other stuff, but if you can get it to one theme that would be super and give the ability to make color changes that would be cool.

[2017-07-04 12:18] nileshprasad137 commented on #597
Yeah, I'll over that pull.

I'll mostly work on the layout of the forms and would not be removing any fields. If any field is required to be removed , I can do that if you all want.

[2017-07-04 12:24] teryhill commented on #597
No I don't know of any we need to remove, it is Just a word of caution when working there.

[2017-07-04 22:25] teryhill commented on #554
@azwreith  looking at the todo's in the recent code, you will need to make sure that you use the globals for the appointment duration as each clinic can hay different intervals.

If you can go ahead and start a pull request for the code changes so @aethelwulffe and @tmccormi  can follow the changes that are coming.

[2017-07-04 22:26] teryhill commented on #605
Issue should be resolved closing.

[2017-07-04 22:26] #605 closed

[2017-07-04 22:27] teryhill commented on #606
Issue should be resolved, closing .

[2017-07-04 22:27] #606 closed

[2017-07-04 22:29] teryhill commented on #604
@robbyoconnor can you setup a address for the portal?
Not sure what everyone would like to call it.
https://your_your_web_site.com/libreehr/patients

[2017-07-04 22:31] teryhill commented on #603
@robbyoconnor running the upgrade script will take care of this error.

[2017-07-04 23:40] azwreith commented on #554
Okay! I'll add em today as well all other TODOs~

Cool, creating a PR right now!

And Happy Fourth of July everyone! Enjoy the fireworks~

[2017-07-05 08:53] robbyoconnor commented on #603
Where's the upgrade script?

[2017-07-05 08:58] robbyoconnor commented on #604
Sure - remind me if I don't get to in a couple days

[2017-07-05 08:59] robbyoconnor commented on #604
@teryhill you assume I have a clue about LibreEHR -- you're going to need to tell me what it needs to point to.

[2017-07-05 11:57] teryhill commented on #604
https://your_web_site.com/libreehr/patients. Where your_web_site.com is the address of the server/website.

[2017-07-05 15:25] aethelwulffe commented on #554
My Happy 4th was spent rebuilding the electrical and IT infrastructure of the building after massive lightning strikes, brown-outs and blackouts.  :fro  I will still be in short supply in the immediate future, at least until I get the building ventilation running again.  Love the PR though!

[2017-07-05 15:29] aethelwulffe commented on #603
/sql/upgrade.php

[2017-07-05 15:30] aethelwulffe commented on #603
...or is is sqlupgrade....something like that.  Sorry, I barely got internet, and my whole building is lightning fried.

[2017-07-05 17:55] aethelwulffe commented on #552
1.  batchcom is not something I have ever gotten to work.  Hopefully Terry's new messaging PR will make this obsolete.
2.  The Tags system is from Tony's team, and it is also a feature I have no experience with (it is pretty new, and I have had no application for it.  Perhaps his team ( @kchapple ) can provide some insight.
3.  The icd10 tables are lists of diagnosis codes that are imported from e

[2017-07-05 18:26] pri2si17-1997 commented on #552
ok @aethelwulffe .

I discussed ICD10 related tables with @teryhill on chat, and he guided me.

Probably you mean, not to touch it now.

can you please elaborate it a bit more? With some examples. It will be a great help.

[2017-07-05 18:36] aethelwulffe commented on #552
May 31 comment above https://github.com/LibreHealthIO/LibreEHR/issues/552#issuecomment-305087473
I will get you matching examples of the billing table entries.

[2017-07-05 18:43] pri2si17-1997 commented on #552
Yups. I have looked at that, and probably I am clear with billing table leaving some fields, but how the entries are then stored in its related table is not clear.

[2017-07-05 20:30] robbyoconnor commented on #603
EHR and NHANES both updated. EHR was running an old version. Fixed and updated after error logs filled the disk up...deleted them and we're good now.

About our setup on demo: We have two vhosts: `ehr.librehealth.io` and `nhanes.librehealth.io`

[2017-07-05 20:32] robbyoconnor commented on #603
I'm going to let @aethelwulffe, @teryhill, or @tmccormi close this...but my work on this is done...

[2017-07-05 20:34] robbyoconnor commented on #604
https://ehr.librehealth.io/patients
https://nhanes.librehealth.io/patients

Both of those work

[2017-07-05 20:37] robbyoconnor commented on #604
I just tested this -- This is fixed.

[2017-07-05 20:37] robbyoconnor commented on #604
@teryhill, @aethelwulffe, @tmccormi -- I don't like touching issues on the projects which I don't maintain...but issue is done

[2017-07-07 17:26] nileshprasad137 commented on #597
Here is the branch where I am upgrading UI ::
[https://github.com/nileshprasad137/LibreEHR/tree/improve-ui](https://github.com/nileshprasad137/LibreEHR/tree/improve-ui)

As of now, you can check changes in UI in following sections::
1. `Administration/Facilities`
2. `Administration/Users`
3. `Administration/Addr.Book` (can be improved)
4. `Administration/Practice`
5. `Administration/Code `(can be

[2017-07-08 00:56] teryhill commented on #597
@nileshprasad137 Can you check your code that was committed to the code base. The entry to /library/headers.inc.php has a couple of errors. I noticed this when I was working in the encounter screen. If you will check it , I was using the next and previous arrows to go back and forth in the encounters. Thanks

[2017-07-08 10:18] nileshprasad137 commented on #597
![capture](https://user-images.githubusercontent.com/16336390/27984455-e7096848-63f3-11e7-847f-0ac25400a4ca.PNG)

Are you talking about those console errors? I had added link to Bootstrap assets in headers.inc.php ..

I noticed one more major error when user opens a user page ::
![sum](https://user-images.githubusercontent.com/16336390/27984482-9afbbcac-63f4-11e7-8401-82698e0ce139.PNG)

This is sh

[2017-07-08 10:20] nileshprasad137 commented on #597
I had not made changes in Prescription controller and templates, which is what was causing problem.Fixing it.

[2017-07-08 10:40] teryhill commented on #597
You have a fail to load error, the very first one. It is caused by the last line in headers.inc.php.

<script type="text/javascript" src="<?php echo $GLOBALS['standard_js_path'];?>/bootstrap-3-3-4/dist/js/bootsrap.min.js"></script>

If you will notice you have bootsrap not bootstrap 8^)

[2017-07-08 10:46] nileshprasad137 commented on #597
Oops :sweat_smile: . Ok fixing that. And also removing smarty from Prescription classes as that is urgent!!

[2017-07-08 10:50] nileshprasad137 commented on #553
@teryhill Where in the application are Billing contact Controller and Patient Finder controllers are being used? Couldn't find.

I had no idea where Prescription controllers were being used until I noticed the error today.

[2017-07-08 20:07] teryhill commented on #553
I don't see them being used any where

[2017-07-08 20:28] aethelwulffe commented on #553
They are not used.  The billing bit was in an old billing system, and the patient finder I believe was used in the old patient search.

[2017-07-08 20:28] aethelwulffe commented on #553
Hey, rip them out, then see if anything breaks!

[2017-07-09 14:14] pri2si17-1997 commented on #552
Hello @aethelwulffe

Few more questions :

1. What are `gacl*` related tables. It seems to control access, but how? You please brief me how to use it, so that I can figure out how data is stored.

2. `audit_details` and `audit_master` table. I grepped for it and found under `zend-module`.

3. `drugs` related tables.

There are few more tables apart from this, and I'll ask you once I have created s

[2017-07-10 05:50] nileshprasad137 commented on #553
Yes, nothing bad happens on ripping them. So only GACL left.  :relieved: :thumbsup:

[2017-07-10 16:56] teryhill commented on #603
This is resolved closing the issue

[2017-07-10 16:56] #603 closed

[2017-07-10 16:59] teryhill commented on #560
Has this been fixed in the repo?

[2017-07-10 19:23] tmccormi commented on #552
GACL or gacl is a short cut form for phpGACL. This is an acronym meaning Generic Access Control Lists. It allows fine grained control over the EMR. As an example, the physician can be permitted to view sensitive patient information, while the receptionist is unable to view this sensitive patient information.

@pri2si17-1997 please read the GACL documentation available on /Documentation/README-phpg

[2017-07-10 19:24] tmccormi commented on #552
"drugs" is part of the drug Inventory management system.   It can be turned on in Globals.

[2017-07-10 19:32] tmccormi commented on #560
I don't think so.  I need to get a some free time check it out...  just buried lately.

[2017-07-10 19:38] teryhill commented on #469
@aethelwulffe  where did that branch get to?

[2017-07-10 19:45] aethelwulffe commented on #469
Got snuffed a long-dong time ago.  I might could push it up to the "forms" repo.  I think that needs to be for forms and reports and other contribs.

[2017-07-10 19:47] aethelwulffe commented on #469
https://github.com/LibreHealthIO/LibreEHR/tree/CMS-1500_fee_management
I lied.  It is still there junking stuff up.

[2017-07-10 19:47] teryhill commented on #469
Just leave it be for now we will re-visit this after GSoC

[2017-07-10 19:48] aethelwulffe commented on #469
Found it.

[2017-07-10 19:50] teryhill commented on #469
What about one of the other guys working on this after GSoC

[2017-07-10 19:56] aethelwulffe commented on #469
If they want.  Billing is pretty deep stuff, but one of us has to take on this sort of thing one day.  How is UB04 for LHEHR at the moment?

[2017-07-10 19:58] teryhill commented on #469
I just need to get back to it. I will be pushing some changes to the edit globals that are needed for the UB04.

[2017-07-10 20:01] aethelwulffe commented on #469
Well, my little projects for this stuff are currently amounting to trying to keep up with GSOC and with hitting some of those types of things you pointed out in those old forms I posted.  Nothing else is small enough for me to switch tracks to right now.

[2017-07-11 06:02] pri2si17-1997 commented on #552
Ok @tmccormi thanks.. :slightly_smiling_face: . I will look into it.

[2017-07-11 14:46] aethelwulffe commented on #583
#614

[2017-07-11 14:48] aethelwulffe commented on #531
Closing this...referring it to the UI modifications.

[2017-07-11 14:48] #531 closed

[2017-07-11 14:50] aethelwulffe commented on #513
This is obsolete now.  The subject matter is being discussed in the new calendar system as well.

[2017-07-11 14:50] #513 closed

[2017-07-11 14:51] aethelwulffe commented on #608
I will refer this to the database refactor issue and PR
#599

[2017-07-11 14:56] aethelwulffe commented on #597
I think getting the js headers function up will help (make easier to solve) a LOT of issues we have posted for UI refactor...

[2017-07-11 16:17] aethelwulffe commented on #581
How are those changes on the Medex side coming along?  Were is a link so I can learn more about the company, the service, and the API (without doing the setup)?

[2017-07-11 16:22] teryhill commented on #581
medexbank.com

[2017-07-11 16:26] aethelwulffe commented on #581
Thank you.

[2017-07-11 20:07] nileshprasad137 commented on #607
Will look at this.

[2017-07-12 16:09] rehoyt opened #616 "SNOMED CT"
The only place in the EHR I find SNOMED CT coding is tobacco use. Is this correct? The HIM folks may want to know this

[2017-07-12 16:11] rehoyt opened #617 "Patient List Creation Issues"
The font for this search engine is now white and extremely difficult to see. Also, the search for lab results does not appear to work, which is an issue. The search option for communications isn't working, probably not an issue

[2017-07-12 18:05] rehoyt opened #618 "Report Malfunctions"
Going through all of the Client and Clinic reports, from what I can tell the appointments, encounters, CQMs, Standardized reports and syndromic surveillance reports are not functional. I'm in the process of creating the user guide and screen shots so need to know what is possible and what is not

[2017-07-12 18:17] teryhill commented on #618
These work for me on my system:
![repappt](https://user-images.githubusercontent.com/4655366/28132963-675e7c48-670c-11e7-9914-860498e0bc90.JPG)
![repcqm](https://user-images.githubusercontent.com/4655366/28132965-69cb916e-670c-11e7-8af4-b89925d6e02a.JPG)
![repencounter](https://user-images.githubusercontent.com/4655366/28132976-6fc43d28-670c-11e7-9b1e-3af2094d5748.JPG)

I am not sure what the stan

[2017-07-12 18:23] rehoyt commented on #618
I saw the header in several instances but no content below it. My Internet has been slow so perhaps it is getting timed out with long reports. I'll try later today and see if I can see them. Thanks

[2017-07-12 18:31] rehoyt commented on #618
I am seeing the encounter and appointment report results. The CQMs is trying to download something on all patients so slow. The standardized reports report active/passive alerts and patient reminder stats. That is not very important, but as stated earlier, searching for lab results is important

[2017-07-12 18:49] teryhill commented on #617
Try changing your theme. Got to Miscellaneous then Preferences and select the theme drop down. Metal is a darker theme.

[2017-07-12 18:53] rehoyt commented on #617
It is set on metal. It is the only window where the font is in white rather than black

[2017-07-12 18:58] aethelwulffe commented on #618
Yeah, the report system (vanilla) is terrible slow and poorly implemented.

On 2017-07-12 14:31, rehoyt wrote:

[2017-07-12 18:59] teryhill commented on #617
I will look at it as soon as I can.  Do you have a priority list? I will be glad to look over you documentation if you would like for me to.

[2017-07-12 19:32] rehoyt commented on #617
[EHR Tutorial Student #1.docx](https://github.com/LibreHealthIO/LibreEHR/files/1143098/EHR.Tutorial.Student.1.docx)
[EHR Tutorial Instructor.docx](https://github.com/LibreHealthIO/LibreEHR/files/1143100/EHR.Tutorial.Instructor.docx)
These are rough drafts. I am planning two more guides. One will be creating a new patient and adding diagnoses, meds, images, allergies, etc. etc. Lastly, I want to cr

[2017-07-12 20:18] rehoyt opened #619 "LOINC Codes instead of test name"
When anyone accesses lab trends they see numbers and probably don't know these are LOINC codes. It is a little surprising that we don't see the actual test name such as HDL cholesterol or creatinine, rather than LOINC codes. What is the reasoning behind this?

[2017-07-12 20:23] teryhill commented on #619
@yehster might know

[2017-07-12 20:53] yehster commented on #619
Don't know the reasoning behind displaying codes instead of descriptions for selection.  Would have to ask the original author (Joe).

This is the likely to place to make a change/correction.
https://github.com/LibreHealthIO/LibreEHR/blob/master/interface/patient_file/summary/labdata.php#L148

[2017-07-12 21:10] teryhill commented on #617
This is caused by some work in the header file . It should be corrected when the PR for that is added to the repo and the nanes site is updated.

[2017-07-12 22:00] tmccormi commented on #616
SNOMED can be used everywhere, but it's not useful for billing in the USA, so it's not frequently activated for general use

[2017-07-12 22:04] rehoyt commented on #616
Thanks Tony. That is my impression as well but this might come up with my HIM friends

[2017-07-12 22:54] teryhill commented on #581
SMS Bot is functional. If you click on the message Icon in tracker this is what you will see.

![image](https://user-images.githubusercontent.com/4655366/28143426-704ada14-6733-11e7-8621-83df898c95fc.png)

[2017-07-13 01:18] teryhill commented on #618
@rehoyt  is this issue completed?

[2017-07-13 01:20] #604 closed

[2017-07-13 13:29] rehoyt commented on #618
I need to see if I can create any type of simple CQM. This morning I used the same search criteria and after three minutes it is still spinning and saying 0/9365 so no reports generated after three minutes

[2017-07-13 14:57] aethelwulffe commented on #618
Well, after yesterday's meeting with my company's supposed backers and partners, I will be discussing the release of our reporting and analysis system to the project with my partner.  It processes a year's worth of 10,000 patients over ~250 measure sets in about four minutes.  We also have a better structure and more optimized...everything...that should help you create new measure sets trivially.

[2017-07-13 15:38] rehoyt commented on #618
That sounds extremely interesting and I wonder if this type of data would appeal to a new healthcare audience, like quality managers, MHA grads and so forth

[2017-07-13 15:55] aethelwulffe commented on #618
Well, it is the regulatory QA standard here in the U.S.  I rather imagine it means that releasing the code will put a huge hurting on companies that specialize in regulatory compliance, like Mingle.com etc...  I ain't against that.  The important thing (to you) is that it can drive an engine that uses algorithms against a standardized data type, allows you to save those algorithms in a mix-and-mat

[2017-07-14 05:10] azwreith commented on #553
Hi! Can someone confirm if smarty is being used in Patient Summary, i.e, summary/demographics.php.
I didn't give write permissions to web user to write compiled templates in pntemplates and it ends up in a smarty error and shows an endless loading cricle in the `stats_div` which is trying to load stats.php :confused:

[2017-07-14 05:58] nileshprasad137 commented on #553
@azwreith No,there aren't any Smarty functions being used there but.. I saw that in `function image_widget($doc_id,$doc_catg)`  inside `demographics.php` , a call to Controller.class.php is made .
`Controller.class.php` was extending Smarty class before but later I made it independent in PR #598 . However, I don't know exactly why is that error coming up.. 😞

[2017-07-14 06:47] nileshprasad137 commented on #553
@azwreith I think I got an idea why that error comes up :: (Refer #598 in Controller.class.php)
![err](https://user-images.githubusercontent.com/16336390/28201349-41300c0c-688e-11e7-8bc7-1061ff136b22.PNG)

[2017-07-14 08:09] azwreith commented on #553
Oh so it was a call to the controller.class! Thanks for the help!

Don't worry about the error, it was because I haven't given write permissions to Apache for the that directory you highlighted folder. I'll give it the permission for now and this whole smarty nonsense will go away when your PR is merged ^^"

[2017-07-14 22:41] rehoyt opened #622 "Physical Exam Template"
Has anyone actually used the physical exam template? When I attempted to add a diagnosis on the form by using the diagnosis column and selecting edit, I didn't realize that it deleted everything I had entered so the final note was essentially blank.

I plan to use the Bronchitis template, the ROS check list and thought I might include the physical exam template for student exercises

[2017-07-14 22:47] teryhill commented on #622
I added the Bronchitis and Physical Exam forms to my development system and will start looking them over this weekend.

[2017-07-15 13:21] rehoyt opened #623 "CCR and CCD reports"
When I tried to create an assignment about downloading a CCD or CCR, when I select the download button for each it states "missing the ziparchive PHP module". It does say popups must be enabled and in globals that box is checked.

The Patient Report is confusing. If I just completed an encounter for e.g. acute bronchitis how can I just print that out or create a CCD of just that for sending to a s

[2017-07-15 13:59] teryhill commented on #623
Enable popups on your web browser. I will check check this when I get a chance. @robbyoconnor can you check on the "missing the ziparchive PHP module"

[2017-07-15 14:37] teryhill commented on #623
It looks like you just need to enable popups in your browser. @robbyoconnor no issue on the demo site or nhanes site

[2017-07-15 14:43] teryhill commented on #623
Sorry  @robbyoconnor can you check on the "missing the ziparchive PHP module" it is the download that is using it

[2017-07-15 19:47] nileshprasad137 commented on #607
@teryhill I have fixed this on my system. Will send the PR when my Prescription PR gets merged.. Or should I send a commit fixing it on that PR itself?

[2017-07-15 19:51] ankitjain28may opened #624 "Is this project on Laravel or Core PHP"
I would like to contribute on this project, can you please guide from where should i start contributing ?

[2017-07-15 19:52] nileshprasad137 commented on #607
I am afraid that if I send a new PR now, that might cause a conflict later..

[2017-07-15 20:06] rehoyt opened #625 "Bronchitis Form"
I wanted to use this template as part of the user guide but I noted that the coding mechanism codes by ICD-9 and not ICD-10. I have no idea how difficult it would be to have both as we see throughout most of the EHR

[2017-07-15 20:26] teryhill commented on #607
Send the or we will deal with any conflicts later.

Sent from my iPhone

[2017-07-15 20:32] teryhill commented on #624
Down load the code and install it locally. Then look at the current issues and ask about what you would like to work on. And have Fun.

Sent from my iPhone

[2017-07-16 00:16] robbyoconnor commented on #623
@teryhill added.

[2017-07-16 05:48] pri2si17-1997 commented on #552
Hello @aethelwulffe
Can you please explain me `codes` and `code_types` table with example if possible? Also are codes related to drugs?

[2017-07-16 11:59] rehoyt commented on #623
The CCD now downloads as a XML file, as expected. I was unable to open it with either Chrome or Safari. Thoughts?

[2017-07-16 13:43] rehoyt opened #626 "Patient Portal URL"
I am writing a patient portal exercise. Do we have a portal URL yet?

[2017-07-16 17:14] rehoyt opened #627 "Home for User Manuals"
How might we re-configure the Help menu, such that when a user clicks on User Manual it would take them to the 4 PDFs I am creating?

[2017-07-16 17:49] teryhill commented on #627
That link is configured partly in the code and in globals.

Sent from my iPhone

[2017-07-16 20:40] rehoyt opened #628 "Clinical Decision Rules (CDRs)"
I had hoped that graduate health informatics students could create new CDRs. First, I realize that they would have to be made administrators to add new rules. Second, the process is not real easy. Third, to do something really interesting they would likely need customize the CDR to have access to drug or lab tables.
I just want to hear the opinions of others who have more experience with the softw

[2017-07-17 13:08] aethelwulffe commented on #552
code_types is a table that has a UI via the layout engine.  It describes the type of billing and outcome tracking codes (all used in medical billing and reporting) such as ICD10 (international classification of diseases) CPT2, CPT4, HCPCS, and many others.  A user can also create custom code types ("mycodez" or whatever) via that interface.  This translates the code type in the `codes` table, and

[2017-07-17 13:13] aethelwulffe commented on #552
codes are not related to the drugs table AFAIK.

[2017-07-17 14:08] rehoyt opened #629 "Nation Notes"
I saw that OpenEMR offers Nation Notes which means a slightly customizable SOAP note. Does anyone have feedback on whether this form option was successful or not?

[2017-07-17 14:35] pri2si17-1997 commented on #552
ok @aethelwulffe , but in drugs table there is a field `related_code` and in comment, it is mentioned that `may reference a related codes.code`. That's why I asked it.

Here is the screenshot of that table's structure :
![screenshot from 2017-07-17 19-57-52](https://user-images.githubusercontent.com/12952169/28273187-424ab890-6b2b-11e7-9fa4-842364f7efc2.png)

[2017-07-17 14:51] aethelwulffe commented on #629
NationNotes is a module in LHEHR.  It has to be turned on to use.  It is really just a text-field datatype that gives you some other text-editor like options.  It is, for the most part, very clunky compared to actually creating a real form.
  There really isn't much of a shortcut to creating a quality form with direct attention to design.

[2017-07-17 15:13] pri2si17-1997 commented on #552
Also in `drug_inventory`, there is a field as `warehouse_id` which should be a key to `product_warehouse` if I'm correct?
And what is `vendor_id`. Its default value is 0.

[2017-07-17 15:14] aethelwulffe commented on #552
Then indeed it can reference a related code.  As a varchar, it indicates that it is essentially a reference note, and is not an index from the codes table.
A common reference of the type used for this is [HCPCS Drug Codes](http://www.dhhr.wv.gov/bms/HCPCS/Documents/J3490%20Medication%20codes/2017/Copy%20of%20J3490_Medications_Approved_without_fees_v_37_070117.pdf)
As far as I know, this would just

[2017-07-17 15:32] rehoyt commented on #617
I do plan to use Patient List for denominator stats but I don't think students can see the white font. See screen shot
![patient list](https://user-images.githubusercontent.com/25651922/28275979-303e62be-6adb-11e7-9a38-f33142ca51de.png)

[2017-07-17 16:09] aethelwulffe commented on #552
vendor_id:
[code]
That is a link to the users table, where it is currently used as a general contact list.  This would be a reference to the actual vendor of the product, such as for re-ordering and the like.

[2017-07-17 16:21] teryhill commented on #617
@tmccormi or @aethelwulffe  The header changes to remove the bootstrap items that load by default need to be added to the code base to fix these issues. This is included in the prescription changes by @nileshprasad137 .

[2017-07-17 16:22] pri2si17-1997 commented on #552
Ok @aethelwulffe .

Yes. It stores data in form `ICD10:A38.9`, so it can't be a key.

And one more thing have you looked at PR #599 . This will involve a more of manual work to review.

[2017-07-17 16:57] aethelwulffe commented on #617
Then please do the second look at that PR and merge it.  I made a note to that effect.  Tony has lead on that, but we are the ones here today...and that code has been there for a bit.

[2017-07-17 17:17] yehster commented on #626
I updated the configuration with the correct url.
https://nhanes.librehealth.io/patients

[2017-07-17 17:45] rehoyt commented on #626
Great. The only issue I see is that the actual lab results do not port over. You can see that they got the NHANES panel but no actual results.
In another post, I mentioned that the medical problems are not showing up in CCDs which is an issue

[2017-07-17 20:35] tmccormi commented on #624
It's currently core PHP, with some things that are and will be Laravel.  In the future use the Forum for general questions.  Issue are for bugs and development work.  see - http://librehealth.io

Thanks and Welcome.

[2017-07-17 20:35] #624 closed

[2017-07-17 22:31] yehster commented on #623
Likely cause for the "problems" not displaying is that the report was never updated to handle ICD-10 instead of ICD-9.

Labs appear to be working properly at this point.

[2017-07-17 22:37] yehster commented on #626
![ccdtest](https://user-images.githubusercontent.com/302795/28292825-f98f54c8-6b1e-11e7-9ffa-541d8d4e24a5.gif)
This screen has lab results.  Is there a different one you are looking at where they are still missing?

[2017-07-18 00:32] rehoyt commented on #626
I think what the problem was that there are a lot of lab reports with no results. So I saw several that showed the units but no results. For example, what I see is 17 potential lab results on e.g. Steve Abbott but only about half show results. Thanks.

[2017-07-18 12:13] yehster commented on #626
Not the simplest task, but instead of having one single lab panel for all of the NHANES results, splitting them up separately based on the original data files would probably be better.
e.g. CBC, triglycerides, hdl and total cholesterol, etc. could be listed as separate procedure orders.
This way, total cholesterol would be listed for all of the ~6000+ patients where it's available, and triglycerid

[2017-07-18 13:09] rehoyt commented on #626
I think we need to do that and whenever we have the time and money create the tools to search for individual labs. This would expand our teaching capabilities. Example, find every diabetic with a creatinine > 2. Today I'm going to see how productive it is to search for chronic renal disease and see what I get. My HIM friend would like the ability to go over some of these patients with students and

[2017-07-18 15:33] rehoyt commented on #627
Could not find it in globals. I'll post the Instructional PDFs shortly in the Forum, but having them under the Help menu would not be unreasonable

[2017-07-18 15:39] rehoyt commented on #628
Issue is closed

[2017-07-18 15:39] #628 closed

[2017-07-18 15:39] rehoyt commented on #628
Closed

[2017-07-18 15:39] teryhill commented on #627
The way the link is designed is to point to a section of the librehealth.io website so it would be advantageous to add the documents to (where ever they are) the wiki pages

[2017-07-18 15:41] rehoyt commented on #627
Ok. I was thinking about adding a new section to the Education section of the Forum for User Manuals so that would work

[2017-07-18 16:12] teryhill commented on #627
The location the code looks for is "https://forums.librehealth.io/c/7-support".attr($v_major).".".attr($v_minor).".".attr($v_patch)."_Users_Guide";

[2017-07-18 19:42] pri2si17-1997 commented on #552
Hello @aethelwulffe

Few questions regarding `globals` and `lbt_data`. `globals` is used to set values from `Administration->Globals` while `lbt_data` is used to store values from transactions.

In `globals` we have `field_id` as one column, which stores value corresponding to html form field's id. For example : Default First Tab has `default_tab_1` as field_id, and corresponding value is what we

[2017-07-18 20:20] nileshprasad137 commented on #597
Sorry for being a bit inactive lately. I had been busy with the placement related activities which happens during this time of the year in our college for hiring interns.

Back to full strength now. Will accelerate a bit and would get the next UI pull request soon.

[2017-07-18 20:44] aethelwulffe commented on #597
Hey...I just spent all day with no internet.  It was like 1984.

[2017-07-18 20:49] nileshprasad137 commented on #597
Similar case with me . :sweat:

[2017-07-19 13:25] rehoyt commented on #626
I did find 19 patients on renal dialysis so created an exercise based on these patients

[2017-07-19 13:26] rehoyt commented on #625
I attempted to create my own form using the layout based forms, but gave up. Not user friendly or intuitive

[2017-07-19 13:35] nileshprasad137 commented on #607
Closing this as it is resolved.

[2017-07-19 13:37] eran13com commented on #91
I would like to work on this issue.

[2017-07-19 13:42] nileshprasad137 commented on #607
Oh , there isn't a button here to close.  Maybe you would have to do it. @teryhill

[2017-07-19 13:45] teryhill commented on #91
@tmccormi or @aethelwulffe  can you set @eran13com  as the assignee on this

[2017-07-19 15:55] aethelwulffe commented on #91
DO IT WhoooHooo!

On 2017-07-19 09:37, Chandima Jayawickrama wrote:

[2017-07-19 15:58] aethelwulffe commented on #91
@eran13com
I need you to accept the collaboration invite at https://github.com/LibreHealthIO/LibreEHR/invitations before we can "officially" assign you to an issue.

[2017-07-19 17:43] pri2si17-1997 commented on #552
Hello @aethelwulffe
Few questions regarding `insurance_data`. When we insert data for `Primary` type, why it stores information for `secondary` and `tertiary`?

Here is screenshot of logs :
![screenshot from 2017-07-19 23-04-12](https://user-images.githubusercontent.com/12952169/28381136-63b78578-6cd7-11e7-9181-2a6ef50af42c.png)

According to me, there should be one insertion only.
Also, when I sa

[2017-07-19 18:17] aethelwulffe commented on #552
No, that is indeed the way it works.  It makes blank records where they don't otherwise exist.  If you import a patient, and you don't include all three insurance records, when you go look at the demographics insurance_data stuff, it will save empty records.  Personally, I don't think it breaks anything else when it doesn't have a record...meaning this was just a sloppy catch-all way of saving ent

[2017-07-19 18:19] aethelwulffe commented on #552
Clicking on edit, then choosing the insurance tab all over again was the way it has been done in the past.  I will need to switch branches and even switch databases to test the code post-Nilesh's last UI update.   Give me a bit to get out of where I am right now...

[2017-07-19 18:54] nileshprasad137 commented on #552
@pri2si17-1997 @aethelwulffe If you are talking about the insurance tab in Demographics section, I have not touched it till now. I am currently working with "Administration" .

[2017-07-19 19:10] nileshprasad137 commented on #597
After updating UI in Administration/Practice..
Theme:metal
![metal](https://user-images.githubusercontent.com/16336390/28384480-87e754d6-6ce2-11e7-941e-764763923426.PNG)

Theme -lightblue
![lightblue](https://user-images.githubusercontent.com/16336390/28384499-970677da-6ce2-11e7-8535-c6c2f96996cc.PNG)

Theme-purple
![purple](https://user-images.githubusercontent.com/16336390/28384514-a3750202-6ce2

[2017-07-19 19:14] aethelwulffe commented on #552
I didn't think you had...but in the spaghetti code world we have here...I wanted to be certain.

[2017-07-19 19:48] tmccormi commented on #552
The insurance data thing is just a stupid design.  IT should not need to create blank secondary/tertiary records when none are needed.

[2017-07-19 19:50] tmccormi commented on #597
I think the simpler model we use the better.

[2017-07-19 19:55] tmccormi commented on #625
It's definitely something that requires an "expert" at using the layout tool.

[2017-07-19 19:55] #607 closed

[2017-07-20 00:20] aethelwulffe commented on #597
Yeah Nilesh, I think we may be simplifying the themes...real soon.  In a drastic way.

[2017-07-20 03:54] yehster commented on #626
Going to start looking into splitting the labs up into separate panels.  At present there are 10 tables from NHANES.  So this means needing to create 10 new procedure orders to start.  Going to see if I can create the procedure orders programmatically which will make introducing new lab data in the future simpler as well.

[2017-07-20 04:26] yehster commented on #623
Found the offending code where problems are hard coded to ICD9.  More testing required to look for other quirks will update when ready.

[2017-07-20 05:48] pri2si17-1997 commented on #552
Hello @aethelwulffe @tmccormi

This is what I'm saying. And not only in `insurance_data`, there are other tables also, which stores empty data, but I need to be certain there and then I will let you know.

Also what about `globals` and `lbt_data` ?

[2017-07-20 06:43] eran13com commented on #91
I did accept the collaboration invite. :)

[2017-07-20 15:17] nileshprasad137 commented on #597
Having worked with most sections under `Administration` , I decided to improve UI over the Encounter screen, but the interwined logic and design is making it a bit difficult to do that.
Any suggestions for that screen?

[2017-07-20 15:28] teryhill commented on #597
re design 8^)

[2017-07-20 19:04] teryhill commented on #91
@eran13com  You have been assigned to this . Have fun and let us know when you need some help.

[2017-07-20 19:07] teryhill commented on #618
Not to be a pest but @rehoyt is this issue completed?

If there is some thing here that is keeping it open that is not related to the issue title please make a new issue for it so it can be easily followed.

[2017-07-20 19:12] teryhill commented on #617
This appears to be fixed in my system with Niles PR. @tmccormi  @rehoyt and @aethelwulffe  do you want  @robbyoconnor to update the demos with the latest release? @rehoyt will need to check his documentation against the new code to make sure everything works or may be there needs to be a staged release to just the ehr demo site and not the nhanes site.

[2017-07-20 20:09] rehoyt commented on #618
You can close it but tell me why your CQM report only shows 8 patients. When I input the same parameters it tries to give me reports on 9600 patients and therefore takes forever. Thanks

[2017-07-20 20:12] rehoyt commented on #617
Just checked patient list creation and the font is still white. I assume the demo was not updated yet?

[2017-07-20 20:24] teryhill commented on #618
@rehoyt  I am sorry you are having issues with the CQM report on the LibreHealth EHR system. I am just a developer who donates my time to the project. I believe that @aethelwulffe  or @tmccormi  would have better answers than I do.

[2017-07-20 20:50] robbyoconnor commented on #617
Updated.

[2017-07-20 20:51] robbyoconnor commented on #617
Updated @teryhill -- close this issue at will.

[2017-07-20 20:54] pri2si17-1997 commented on #552
Hello @aethelwulffe ,

I have changed structure of `insurance_data` table. Address for `subscriber_*` and `subscriber_employer*` is stored in addresses table, and corresponding to that we have their keys in `insurance_data` table. Please look the structure below and let me know if anything to correct. Also do tell  me about  https://github.com/LibreHealthIO/LibreEHR/issues/552#issuecomment-3161756

[2017-07-20 21:09] rehoyt commented on #617
Fixed. Thanks

[2017-07-20 21:09] #617 closed

[2017-07-20 21:27] pri2si17-1997 commented on #552
Also what is `lang_rtl` in `languages` table?

[2017-07-20 22:57] yehster commented on #623
Pull request created to change from ICD9 to ICD10

[2017-07-21 02:26] robbyoconnor commented on #623
For housekeeping, just linking: https://github.com/LibreHealthIO/LibreEHR/pull/635/

[2017-07-21 02:29] eran13com commented on #91
@teryhill thanks. Yeah sure I will let you know. :)

[2017-07-21 12:14] aethelwulffe commented on #552
Language and translations table stuff is...goofy.  That is all I can say.  lang_rtl is a Right-to-Left formatted written language like Arabic or Hebrew.  You can find additional stuff (css) for RTL needs in /interface/themes.

[2017-07-21 12:16] aethelwulffe commented on #552
Figure out a scheme that allows things to work, but fixes inconsistencies or weaknesses as you see fit.  If there are issues with how you do it, we can catch that when we are implementing new table structures in the code.

[2017-07-21 12:21] aethelwulffe commented on #618
@rhoyt  With the new MIPS stuff coming in, the CQM report itself is going away in favor of something...better...that will allow you to run those 9600 patients against reports with better facility.  It will also mean that your test data will require some transformations to make it useful for reporting.

[2017-07-21 12:21] #618 closed

[2017-07-21 12:23] aethelwulffe commented on #629
Answered?
@rehoyt if you could please add the label "question", "Bug" etc... to issues it would be very helpful.  If you CANNOT, then we need to bump up your access here!

[2017-07-21 12:27] aethelwulffe commented on #625
All references to ICD or any specific code publication need to be removed.  Instead, a check should be made against the code_types table where there is a need to see if a code is a Dx, Tx, Vx, etc...

[2017-07-21 12:37] #616 closed

[2017-07-21 12:50] rehoyt commented on #629
Ok. I'm new to this forum so will look for labels. Thanks

[2017-07-21 12:50] #629 closed

[2017-07-21 13:02] aethelwulffe commented on #609
I find that anyone doing real data science typically HAS some sort of database experience, there therefore the ability to find and use a professional level toolset to do so.  I find the needs of clinical and administrative (billing etc.) use to require much more pre-set means of collating and presenting data.
  As this is a discussion, I am closing this issue.  It is already being discussed on the

[2017-07-21 13:02] #609 closed

[2017-07-21 13:03] #608 closed

[2017-07-21 13:05] aethelwulffe commented on #601
@pri2si17-1997 Can you still replicate this?

[2017-07-21 13:10] aethelwulffe commented on #597
Nilesh, Are you talking about the forms menu in an encounter?

That is indeed driven to a great extent by the registry table accessed in the administration/forms UI.  While that UI isn't as often used as the clinical forms tabs/groups in encounters, it is still a very clunky multi-step process to Register, install tables, activate, and label/order forms.  Bringing that up to snuff would be *real n

[2017-07-21 13:11] #584 closed

[2017-07-21 13:12] aethelwulffe commented on #588
#630

[2017-07-21 13:17] aethelwulffe commented on #583
Looks like we don't need this as an issue anymore.  We all know what the plan is...

[2017-07-21 13:17] #583 closed

[2017-07-21 13:56] pri2si17-1997 commented on #552
@aethelwulffe

Ok.

And what about `insurance_data` schema, which I posted above? Also please tell me about `globals` and `lbt_data` table. I have mentioned in above comments what I wanted to change, please look at it.

[2017-07-21 14:09] aethelwulffe commented on #469
https://github.com/LibreHealthIO/EHR_Contribs/pull/10
https://github.com/LibreHealthIO/EHR_Contribs/pull/9

The 1500 and 1450 forms are in the contribs repo.  1450 is just a direct conversion tool output, meaning that all the fonts and stuff have not been pulled out to css files and the like.  All the same, there are data fields, which is the important part, and it looks and prints right.

[2017-07-21 14:16] aethelwulffe commented on #552
I still have not gotten to looking at the other two tables yet, but the Insurance_data stuff is sound.  It will take a wee bit of implementation, but your approach is clearly what we want.

[2017-07-21 14:19] aethelwulffe commented on #627
@rehoyt  and everyone else.  We need to also find a home for public (out of application) access and display of documentation _and a home for video presentations and instructables._  We want it all grouped somehow, or under a single publisher/account.

[2017-07-21 14:30] aethelwulffe commented on #416
This is all checked off now.  Took four months, but I am pretty sure we can just call the latest JQUERY anywhere we need.
We now have a scheme and an institutional awareness of using the assets directory and header loading include.  Still have lots of stray js packages all over the place, but this specific issue is done.

[2017-07-21 14:33] aethelwulffe commented on #13
We need an MU project, and all of the relevant pieces laid out.  I don't know what this issue actually references withing the code base.  I have looked at it many times over the last year.  I would like to close these related issues and start adding them to the project as needed unless someone can direct me to what it is in out code base that needs changing.

[2017-07-21 14:35] pri2si17-1997 commented on #552
Ok.. No issues... But if you can take out some time, to look at their structures, then it will be a great help. :slightly_smiling_face:

[2017-07-21 14:42] aethelwulffe commented on #552
Aye Aye!

[2017-07-21 14:45] nileshprasad137 commented on #416
@aethelwulffe Yep. There are many places where jquery 1.x are used which were using` .load()` which got removed in 3.0. We will need to replace that with `.on("load",function(){})`

[2017-07-21 15:05] aethelwulffe commented on #416
Crap.  Sorry I closed this.  I thought I searched for "load(" and came up blank.  I must have not formed my search parameters correctly.  Sublimetext has a good search history though, so I can see where I screwed up.

[2017-07-21 15:32] #576 closed

[2017-07-21 15:36] aethelwulffe commented on #290
The GenID stuff still chaps my rear.  Any suggestions @pri2si17-1997

[2017-07-21 16:10] pri2si17-1997 commented on #290
@aethelwulffe I have this issue in my mind. But since I'm refactoring database, I can't work on queries. But I will update you soon.

[2017-07-21 16:53] aethelwulffe commented on #290
Just wanting to make sure this doesn't get lost in the shuffle, because
it is an ugly legacy thingie.

On 2017-07-21 12:10, Priyanshu Sinha wrote:

[2017-07-21 17:14] pri2si17-1997 commented on #290
No no.. I remember what I have to do. But as I told, I haven't expected this database refactoring to take so much time. I will try to get this refactoring done soon.

[2017-07-21 17:42] tmccormi commented on #627
Let's post on the Forum and see if the project has/wants a youtube account (or something similar)   The documentation should be publically accessible outside of the installed apps.  On the project website in some fashion

[2017-07-21 17:43] tmccormi commented on #13
Agreed

Tony McCormick, CTO
www.mi-squared.com Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo
-Verba volant, scripta manent

On Fri, Jul 21, 2017 at 7:33 AM, Art Eaton <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
information by telephone.

[2017-07-21 19:03] #13 closed

[2017-07-21 19:03] #14 closed

[2017-07-21 19:53] aethelwulffe opened #636 "Github issue Labels"
Hi folks.  I took it upon myself to go over our issue tags.  With alpha sorting, it is hard to find what you are looking for, so I made some changes, and I want some input.

The idea is that you first select (if applicable) a feature (calendar, security, forms, etc.) or a UI component (or both) that you are talking about.  Then you add in an action item or status, like:

Feature:  SECURITY/ACL ->B

[2017-07-22 05:06] tmccormi commented on #636
Good job

Tony McCormick

On Jul 21, 2017 12:53 PM, "Art Eaton" <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
information by telephone.  The information contained in this message may be
privileged and confidential. If you are NOT the intended recipient, please
notify the

[2017-07-22 05:26] pri2si17-1997 commented on #552
Hello @aethelwulffe ,

Can you please explain this point :

collaborative Google Doc. If you would like to add a language or help
with a current language, please contact us.  You could then enter your
translations into this spreadsheet, which will then become a permanent
part of LibreEHR. This process has become very streamlined with a fast
turnaround time, so we would suggest you enter data on th

[2017-07-22 06:19] pri2si17-1997 commented on #552
One more thing in `history_data` :
![screenshot from 2017-07-22 11-31-38](https://user-images.githubusercontent.com/12952169/28488866-dc44ab82-6ed1-11e7-91d9-869950b72f4c.png)

Date/Notes should be a separate column. It is treating, date and notes same. Also while updating record, it inserts a new row in table. I suppose this is a bug. Query should run for update instead of insert. Can you please

[2017-07-22 06:25] pri2si17-1997 commented on #601
@aethelwulffe Yes. I also tried it on https://nhanes.librehealth.io , but there also it is not working. :disappointed:

[2017-07-22 14:10] pri2si17-1997 commented on #552
Hello @aethelwulffe ,

Here is the structure of `history_datas` table.
![screenshot from 2017-07-22 19-06-40](https://user-images.githubusercontent.com/12952169/28491695-54753680-6f13-11e7-954a-776edcdaebd0.png)

Here is the example for some field :
`
1. `risk_factors` -> {
                        "Varicose Veins" : true,
                        "Hypertension" : true,
                        "Diab

[2017-07-22 14:22] teryhill commented on #552
@aethelwulffe was there at one time a problem with varchar(255) fields. If they need to be that large should they just be text fields?

[2017-07-22 14:28] pri2si17-1997 commented on #552
Hello @teryhill,

If there is issues with length of string, then that can be changed.

[2017-07-22 18:14] aethelwulffe commented on #552
Yes, there has been issues with both varchar and INT fields in stuff related to this.  The pertinent changes are actually in the mips stuff, which is what brings that to mind.  It created a hilarious (after the fact) set of problems for me at one point.
History data to me, well that should probably be vertical normalized...but there would be a lot of issues with converting.  These are actually "ri

[2017-07-22 18:51] aethelwulffe commented on #469
Just noting (for the thread) that the initial UB04 changes are in the code base now.

[2017-07-22 18:55] nileshprasad137 commented on #597
I was facing the console error `Uncaught TypeError: Cannot read property 'msie' of undefined` when I was working on improving the UI of "New Encounter Form" after I called the call_required_libraries() func.

On googling, I found it is because of $.browser was removed from jQuery starting with version 1.9 which is used in Fancybox version used in headers.
Currently, I have resolved the error by us

[2017-07-22 19:57] teryhill commented on #597
@aethelwulffe didn't we add the migrates to 3.x.x js. to the assets directory?

[2017-07-22 23:38] teryhill commented on #554
@azwreith  Have you looked in to adding a mechanism for holidays to be set in the calendar?

[2017-07-23 09:06] pri2si17-1997 commented on #552
Hello @aethelwulffe

Meaning?

[2017-07-23 15:03] nileshprasad137 opened #640 "Console error - Not able to load "modules/openflashchart/js/json/json2.js""
This error shows up on Encounter details screen
`Not allowed to load local resource: file:///C:/wamp64/www/LibreEHR/modules/openflashchart/js/json/json2.js`

[2017-07-23 15:07] aethelwulffe commented on #597
You will find the evil files (assets) in the old calendar code, the TABS code, and in all the zend module code.  I would guess that the issue is in the tabs code...
You will find many many references to MSIE...and there is a good place to start ripping out code for someone...preferably while re-directing to newer stuff and getting rid of custom versions.

Yeah, but simple fact is, we need to remov

[2017-07-23 15:11] nileshprasad137 commented on #640
Oh , I figured this out. It was because  of `$GLOBALS['modules_dir']  = "$webserver_root/modules/";` in globals.php . Using $web_root in place of $webserver_root resolves this. I'll send this up in my next PR soon.

[2017-07-23 15:32] aethelwulffe commented on #552
Meaning...there are major systemic issues with changing any of this right now.

So, the history table is a flat table, with limited options.  These values could, and should be stored in the vertical `issues` table.  The system and UI for the issues table entries have issues of their own.  The current administration and layout/usage of the history table is managed in the "Layout" system...another s

[2017-07-23 15:35] aethelwulffe commented on #640
HA!  I used $web_root originally, then we changed that because someone told me it didn't exist...and I looked and assumed it was a typo of mine!
HA!

[2017-07-23 15:44] aethelwulffe commented on #640
On second thought, that would not have gotten noticed (I think) unless it was breaking something else...
Is it possible that $webserver_root is out of scope somewhere because globals were not included somewhere?
  @teryhill , do you remember this?

[2017-07-23 15:57] pri2si17-1997 commented on #552
Yeah.. @aethelwulffe . So I should leave it for now. Also you have told me to present an example of billing related tables, so if you have time then please let me know.

Also there are some tables, like `eligibility_responses`, `eligibility_verification`, `erx_ttl_touch`, etc. What are they and how they work. There are many more tables, which I have figured out. If you are free then please do tell

[2017-07-23 16:04] pri2si17-1997 commented on #552
Also I think, `json` is appropriate for history related fields.

[2017-07-23 16:36] aethelwulffe commented on #552
short answers.

Eligibility stuff has to do with sending a batch file and uploading a
response file (in something called X12 270 and 271 formats) to verify a
patient's insurance information with an insurance company.  Look for
files with 270 or 271 in the /library directory.

Anything with "erx" is electronic Prescribing, and is related to the
NewCrop (that is a drug prescription company) interfac

[2017-07-23 16:39] aethelwulffe commented on #552
Sorry, about the globals piece...

The tabs in Globals may (will) continue to change.  I don't think
breaking them up into bunch of separate table is good if just for
organization purposes.  If there is an efficiency gained somehow, that
may make it worth it, but as it is a vertical table, I personally don't
see the need.

On 2017-07-23 11:57, Priyanshu Sinha wrote:

[2017-07-23 16:42] pri2si17-1997 commented on #552
Ohh... sorry @aethelwulffe . I thought that globals tab are static and will not change. :disappointed:

[2017-07-23 16:44] aethelwulffe commented on #552
Well, the good part is that we just merged a search tool for the Globals interface...makes things simpler on the UI side.

[2017-07-23 17:55] pri2si17-1997 commented on #552
Hello @aethelwulffe , I got your point. Increasing tables will only help in easy maintenance.  My mistake.

[2017-07-23 18:09] aethelwulffe commented on #552
Not a mistake...easy maintenance is nice.  Needing multiple joins in
queries makes it less nice though, and there are other issues of course.

On 2017-07-23 13:55, Priyanshu Sinha wrote:

[2017-07-23 18:22] pri2si17-1997 commented on #552
Yeah.. And shall we create another thread for discussion? You start that with billing information.. :smile:

[2017-07-23 19:04] aethelwulffe commented on #552
Heh.  Yeah, I will start with finding all the billing stuff in this thread...and pulling it over there!

[2017-07-24 16:31] pri2si17-1997 commented on #552
Hello @aethelwulffe ,

What is `gl_index` in `globals`. It's default value is 0. But from the code in `edit_globals.php` I think it is index field index i.e, at what index that field is present in UI. (Correct me if I'm wrong.) But I don't know its actual working. Please tell me.

[2017-07-24 18:00] pri2si17-1997 commented on #552
one more edit in `globals`. Why not have `json` field type?

As i see that globals table is no where related to other tables, so we do not have any foreign key constraints. Also, not every value is `varchar`, some are `boolean` also, so using this will give us freedom of this. And in future if we are supposed to add new fields, we can add it.

What you say?

[2017-07-24 18:36] aethelwulffe commented on #552
I'd say I am lost.  Perhaps re-state the questions, or someone else can chime in.

[2017-07-24 18:42] pri2si17-1997 commented on #552
@aethelwulffe , some thing like this :
[code]

[2017-07-24 18:46] teryhill commented on #552
@pri2si17-1997 globals is like a config table. It holds the settings from globals. The user _settings file interacts with the globals table. You need to consider the user_settings table when you make changes to the globals table. To add the json items you will need to change /interface/super/edit_globals.php

[2017-07-24 18:49] pri2si17-1997 commented on #552
Hello @teryhill , I am asking that is this type of structure ok?

[2017-07-24 19:41] teryhill commented on #552
@pri2si17-1997 What would be the advantage to it? Will it require extensive program changes to use it? Gloabls are used through out the system.

[2017-07-24 19:48] pri2si17-1997 commented on #552
@teryhill

Advantages mainly include flexibility and separation of values in the sense that we will know which values are enabled/stored for which tab (that's why I included tab_name in example.). We can add any no of information to that field, and at the time of updation, we need to look for that particular key in data, and just update that value (using key-value pair).

Regarding extensive progr

[2017-07-24 19:52] teryhill commented on #552
I would say add the field, put the coding to use it far down the priority list.

[2017-07-24 19:54] pri2si17-1997 commented on #552
Means, add a json field? Or leave it as in the present structure?

[2017-07-24 19:57] teryhill commented on #552
Unless @aethelwulffe  see's a reason for not adding the json field. I vote add it.

[2017-07-24 19:58] pri2si17-1997 commented on #552
ok. Thanks @teryhill ... :slightly_smiling_face:

[2017-07-24 20:03] aethelwulffe commented on #552
I said I am lost.  If Terry said do it, then do it...and he did say do it...so go ahead and do it! 🤣

[2017-07-24 20:05] pri2si17-1997 commented on #552
ok. Thanks @aethelwulffe @teryhill ... :smiley:

[2017-07-24 20:09] teryhill commented on #552
@pri2si17-1997 I hope you know this project will have work even after GSoC. You have a lot of Items that are going to be hidden until this is implemented and tested. Then more Idea's will be generated. Actually all 3 projects are in this same situation.

[2017-07-24 20:13] pri2si17-1997 commented on #552
Yes @teryhill . I know it and yes I will contribute even after GSoC as I took the responsibility for Laravel, so I must complete it. :slightly_smiling_face:

[2017-07-24 20:17] teryhill commented on #552
A man with integrity , I like that

[2017-07-24 22:14] teryhill commented on #640
It is breaking the preprinted cms1500 form. I vaguely remember a discussion about this.

[2017-07-25 11:28] azwreith commented on #554
@teryhill You mean like public holidays? Are they common to providers or facilities? If they are common to ALL or common to all providers in a facility, we can just make a separate table to store clinic holidays and add it as an event source with to the calendar. (Well we can also use the current event table with the provider field empty). For setting holidays I was thinking we add a button (like

[2017-07-25 11:39] teryhill commented on #554
Yes public holidays that the clinic observes . Like in the US Thanksgiving, NewYears, Labor Day Memorial Day etc. Each clinic should be able to load the holiday and the system should automatically block that day. If a holiday occurs on a specific day Jan 1 or if there is a formula for arriving at it like the 3rd Thursday in November.

[2017-07-25 11:40] teryhill commented on #554
The clinic should be able to load the holidays once and the calendar should block them automatically for each and every year.

[2017-07-25 11:45] nileshprasad137 commented on #640
@teryhill I had not tested it with Nation Notes. How to check it using that?

[2017-07-25 11:45] teryhill commented on #554
Have you decided how to do the wait list for the walk in clinics, I think this would be used in a variety of countries. Patients do not schedule appointments they just go to the clinic and are seen in the order that they arrived. We  call them "walk in clinics" here.

[2017-07-25 11:48] teryhill commented on #640
You will need to enable the nations note's module. That is in globals, then create a layout based form and set a type to nations note, like you would set a type to "listbox"

[2017-07-25 21:15] tmccormi commented on #91
Setup process should definitely create the equivalent to the sqlconf.php file rather than this being part of a template in the repo.

The environment should be created "outside" of the source code installation for security as well as the (eventual) ability to containerize the code

[2017-07-26 08:17] nileshprasad137 commented on #640
@teryhill I tried testing by putting `$GLOBALS['mod_nn'] = 1;` in `globals.php`. But after that, a lot of frames throwed up Internal Server Error like Administration/lists, administration/layouts.

If I was supposed to enable nation notes using Administration/globals in UI , I couldn't find any tab for Nation Notes. I tried searching from search box, but couldn't find it.

[2017-07-26 08:27] eran13com opened #642 "Installation instructions of README.md file"
This may not be a big issue but in the README.md (https://github.com/LibreHealthIO/LibreEHR/blob/master/README.md) there is a slight error. In that the path of the php.ini file for the wamp server is correct. i. e **C:/WAMP/BIN/PHP/php.ini** but the path for the php.ini file in the xampp server should be corrected as  **C:\xampp\php\php.ini**.
![php](https://user-images.githubusercontent.com/25362

[2017-07-26 08:32] nileshprasad137 commented on #642
Oh yes.  This is silly. You may fix this.

[2017-07-26 08:36] eran13com commented on #642
Sure

[2017-07-26 11:43] teryhill commented on #642
Merged PR

[2017-07-26 11:43] #642 closed

[2017-07-26 13:37] pri2si17-1997 opened #645 "Immunization Issue"
Hello @aethelwulffe @teryhill

When I click on any immunization, to view/edit, I get a blank screen.

Here is the screen shot of the same :
![screenshot from 2017-07-26 18-51-06](https://user-images.githubusercontent.com/12952169/28623924-099b1858-7235-11e7-81df-fc215d000e1d.png)

I tried this on nhance.librehealth.io, but there also I am getting this error.

Here is PHP error log on my machine :

[2017-07-26 14:10] teryhill commented on #645
@pri2si17-1997 Remove line 170. I sent a PR with that fix.

[2017-07-26 15:02] pri2si17-1997 commented on #552
Hello @aethelwulffe @teryhill

Some Questions :
1. Can you please explain `information_source`, `refusal_reason` and `ordering_provider` in `immunizations` table? I can't find any grep result.

2. Is `immunization_id` same as row_id?

3. There is no use of `administered_by` as in comment it is mentioned that `Alternative to administered_by_id`. So this can be dropped.

[2017-07-26 15:19] teryhill commented on #552
The refusal reason , ordering provider and administered by are things that are needed in the future. Don't drop them. @aethelwulffe this was stuff that was being worked on at the fork for MU.

[2017-07-26 15:25] pri2si17-1997 commented on #552
Ok @teryhill and what about point 2 & 3 ?

[2017-07-26 15:38] teryhill commented on #552
keep point 3. point 2 no they are not the same here is a code snipit. Not sure what the immunization id is.

                     id = ?,
                      administered_date = if(?,?,NULL),
                      immunization_id = ?,
                      cvx_code = ?,

[2017-07-26 15:54] pri2si17-1997 commented on #552
Ok... :|

[2017-07-26 15:55] aethelwulffe commented on #552
immunization_id may be, or is intended to be, the ID from the code list
(not the CVX code though, the administration CPT4 or HCPCS), or possibly
a warehouse batch number.  These would not be the same as the index.

CPT CODE 	CPT Description 	CVX Code
90698 	Diphtheria, tetanus toxoids, and acellular pertussis vaccine,
haemophilus influenza Type B, and poliovirus vaccine, inactivated (DTaP
- Hib -

[2017-07-26 16:23] pri2si17-1997 opened #647 "Database Documentation (II)"
Hello @aethelwulffe @teryhill @tmccormi

This is in continuation of #552 .

[2017-07-26 16:29] pri2si17-1997 commented on #647
@aethelwulffe @teryhill

Questions :

1. Why we are storing `logs` in table? It can be stored in log file. And who are going to use this log?

2. In transactions, if we select type as `referral`, then we have two tabs, `Referral` and `Counter-Referral`, but `Counter-Referral` form can't be submitted as a single unit. So according to me both forms should be in same layout. What you say?

[2017-07-26 16:40] aethelwulffe commented on #647
1.  Good question.  Real good question.  Question #1.5 is "anyone needing to audit system access, restore deleted or changed values etc..."
2.  Yeah, sounds real reasonable.  There is more to this of course, and there are communication/api components that should hook into a referrals system as well as other business logic stuff (like linking an encounter to a referral) and, well, a lot of stuff.

[2017-07-26 16:56] pri2si17-1997 commented on #647
:smile:

For 1 : I would prefer a log file. And its use case should be limited to developers. Why would any clinical person require logs? If there occurs any exception or error, he would tell that system is failing at this point, and we can ask for the logs and correct it. A non-technical person will surely not have any point to use database logs. This is my point.

For 2 : I think I should work c

[2017-07-26 17:30] aethelwulffe commented on #645
This is fixed.

[2017-07-26 17:30] #645 closed

[2017-07-26 19:57] tmccormi commented on #647
I certainly think we can do a better job with logging that would support a cleaner, lower profile, less resource intensive model and the ability to search and recover.   Perhaps standard logging, or NOSQL storage.

[2017-07-26 20:02] pri2si17-1997 commented on #647
Hello @tmccormi , can you explain it a bit more with some example. It will help me a lot.

[2017-07-26 20:14] tmccormi commented on #647
It's a concept not a design.   I don't have any specifics, just a desire to make this simpler.

I would be inclined to store the "summary" columns in the log table:
- id	bigint(20)	No
- date	datetime
- event	varchar(32) (where in the system, admin, demogr, encounter, calendar, etc)
- action    varchar(32) (what happend: add/chg/delete)
- user	varchar(32) (who did it)
- patient_id	bigint(20)	(If ap

[2017-07-26 20:18] pri2si17-1997 commented on #647
Ok. Will update you regarding this.. :slightly_smiling_face: Right now these log related tables are of no use, in new schema (can be added if no better solution found).

[2017-07-26 20:25] tmccormi commented on #647
This is the kind of thing we need to do with the log file sometimes and it should be easier
LibreEHR/contrib/util/undelete_from_log/convert_logcomments.pl

See the README.TXT for instructions.

[2017-07-26 20:54] tmccormi commented on #560
This was fixed in rel101 ... https://github.com/LibreHealthIO/LibreEHR/commit/adbd43c4b608d030dfd884a8e2913d89c4b6dfc6

needs to be cherry-picked /merged forward ... will do that shortly

[2017-07-27 16:12] pri2si17-1997 commented on #647
Hello @aethelwulffe

Attached is the structure for `transactions` and `referral_transactions` table.

![screenshot from 2017-07-27 21-31-29](https://user-images.githubusercontent.com/12952169/28680284-7c055f96-7313-11e7-803f-706868b33165.png)

**Note**
1. `referral_transactions` stores information only for referrals. I have made some assumptions like `Prescriptions/Referrals` related to `prescript

[2017-07-27 20:27] pri2si17-1997 commented on #647
Hello @aethelwulffe

For `gacl_*` related tables, can you please tell me the use of `gacl_aro_seq`, `gacl_aro_sections_seq`, `gacl_aco_sections_seq`, `gacl_aco_seq`. They have only one field `id` and I can't find its use.

Also from the README:
[code]
Probably "Order" is `order_value` (`gacl_aco` table). So should I drop this field. Rest I can't find anything to change in `gacl_*` related tables s

[2017-07-27 20:30] tmccormi commented on #647
I don't think we need to re-factor GAcL that's a stand-alone tool we use
for all of our security management and it's not something that we developed

Tony McCormick

On Jul 27, 2017 1:27 PM, "Priyanshu Sinha" <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
information by t

[2017-07-28 05:01] pri2si17-1997 commented on #647
Ok but what about that `Order` column mentioned in README?

[2017-07-28 12:21] nileshprasad137 commented on #597
Hi. I am now working over the navbar. Just wanted to ask whether I should go for a fixed side nav-bar or leave it as a top-navbar adding some responsiveness . And is there a need of an icon or logo at the top?

[2017-07-28 17:30] aethelwulffe commented on #597
Sure...at least a favicon on the browser!  But no logo at the cost of utility.
So, do I understand that you are looking at converting the top main menu into a sidebar as an option (click-drag)?  I don't know how well that will blend with the tab tops, but options are always nice.  So are themes that let you switch to nothing but icons vs. images.
  I have noticed that the menu justifies the width

[2017-07-28 17:34] aethelwulffe commented on #647
Order is a list-priority item.  That means "list these ACO groups in the following order".  This may have no bearing on our application, but as GACL will be either re-implemented or replaced at some point, it is not worth digging too far.  If you can drop a field and verify everything still works with no errors, that is fine.  Otherwise we have to modify code, and we have a lot of code to modify t

[2017-07-28 17:36] aethelwulffe commented on #640
Well, that sounds bad.
Likely, the fact that the NN module replaces whole script versions when it is on, and those module versions of the same scripts have not been updated to the new UI and asset locations, things may now be broken.

[2017-07-28 18:19] nileshprasad137 commented on #597
Sure, I'm working over making the items better visible. Also, seems like navbar at top is the better option.

[2017-07-28 18:44] aethelwulffe commented on #597
You could get all fancy and put it at the bottom...:-)

On 2017-07-28 14:19, Nilesh Prasad wrote:

[2017-07-30 07:34] nileshprasad137 opened #650 "Extra Items under Administration in Menu"
I noticed that under Administration, 3 extra items- `Tags`, `Patients/tags`,` Filters ` appear . I think they are not supposed to be there looking at Site Menu Editor.

[2017-07-30 08:48] pri2si17-1997 commented on #647
Hello @aethelwulffe

Please provide billing related tables details.

[2017-07-30 09:17] nileshprasad137 commented on #650
@pri2si17-1997 Can you replicate this?

[2017-07-30 09:22] pri2si17-1997 commented on #650
Yes. They are present. I think this is intentional. :thinking:

[2017-07-30 09:24] nileshprasad137 commented on #650
But under Menu Editor , they are not present. So I am not sure if it is intentional.

[2017-07-30 10:07] pri2si17-1997 commented on #650
Yups... let @aethelwulffe or @teryhill comment on it.

[2017-07-30 12:10] teryhill commented on #650
They are part of the "Tags" code done by Ken C. Not completely sure how it works.

Sent from my iPhone

[2017-07-30 15:24] aethelwulffe commented on #647
@pri2si17-1997   Finally.  Here you go.  I listed all this stuff in the chat at one point.  That was stupid to even bother with.
If you need, I can give you a set of records from all the below tables that show a single real-world set of entries in a completed state.  These are take from real world stuff, but are not all the same incident.  They were rather chosen because they represent the data as

[2017-07-30 15:50] pri2si17-1997 commented on #647
Ok.. and have you looked at the structure of tables in https://github.com/LibreHealthIO/LibreEHR/issues/647#issuecomment-318410259 ?

[2017-07-30 16:54] aethelwulffe commented on #647
I know little about the transactions table.  In the office I am most familiar with it is mostly just used direct from the UI to record disclosure of information type stuff.  eRX seems to not interact with it.  It would take me a while to figure out things that it is supposed to do.  If you have been through it, and have a good idea of everywhere the table is used, then go for it.  I find that tryi

[2017-07-30 17:10] pri2si17-1997 commented on #647
Well if you are talking about `Disclosures` on patient dashboard, then it has nothing to do with `transactions` table. They are stored in `extended_log` table. Probably that name should be renamed.

[2017-07-30 17:47] nileshprasad137 commented on #597
On smaller screens ::
![capture](https://user-images.githubusercontent.com/16336390/28755604-474315da-757c-11e7-9178-89b7555833fa.PNG)

On larger screens::
![capture2](https://user-images.githubusercontent.com/16336390/28755605-476da822-757c-11e7-8432-298dbc3ac271.PNG)

However, I am facing some issues displaying sub-menu and had to also learn a bit about data-binding and template-binding in Knock

[2017-07-30 17:50] nileshprasad137 commented on #597
Also, shouldn't the tabs go one below another on smaller screens?

[2017-07-30 19:12] aethelwulffe commented on #597
Personally, I recommend you *minimize white space* in the menu bar or
even have a hide mode to preserve vertical area.  Scrolling to review
data sucks.

On 2017-07-30 13:50, Nilesh Prasad wrote:

[2017-07-31 19:50] pri2si17-1997 commented on #647
Hello @aethelwulffe @teryhill

Can you please explain `payments`. What i can collect is it is used to make payment for patients (self/insurance).

I think there is need of change in `payments` UI. Reason why I'm saying this is :
1. When we select payment method as cash, then also there is field for cheque number(although it is not mandatory field.)

2. If i'm not wrong, layout remains same in all

[2017-07-31 20:01] aethelwulffe commented on #647
Well, first, in this thingie, we are not actually TAKING payments, but rather recording them manually, then distributing the payments manually, BUT:
  Yes, the Payments system...and there are TWO payment entry systems...need TOTAL REVISION.
Yes, Yes, and Yes.

[2017-07-31 20:03] aethelwulffe commented on #647
For this project, the developer must have good working knowledge of this stuff, and have a test database with data that has existing (complete and incomplete) records to process payments and billing with.

[2017-07-31 20:07] teryhill commented on #647
Some folks use the check number on cash payments to record a small note.

[2017-07-31 20:08] pri2si17-1997 commented on #647
If this is the case then, there i think that there will be no use of `payment_gateway_details`. But can we extend it to make payment? Or is it useless in this scenario?

Probably you mean billing stuffs?

[2017-07-31 23:57] aethelwulffe commented on #647
Not...exactly.

What I am saying is that this system doesn't process credit card
payments and the like (much as the UI example you posted) it is just
manual entry.  it is a scenario thing.

It will also take me a while to do a write-up explaining all the
different bits and pieces...but Terry and I have been looking towards
re-doing the whole billing and accounting bit for a long time.

On 2017-07-

[2017-08-01 00:10] tmccormi commented on #597
@nileshprasad137 Automatically stacking the tabs on narrow screens is a good idea, an pretty standare.  That will work well on tablets

[2017-08-01 13:06] teryhill commented on #560
@tmccormi can this be closed. You did commit this code fix ,Right?

[2017-08-01 13:48] nileshprasad137 commented on #597
Okay. I am just getting back to work now. @aethelwulffe Do you mean I should minimize the space between two items in the menu bar?

Do you mean a toggle button to hide patient information?

[2017-08-01 15:28] pri2si17-1997 commented on #647
Yups @aethelwulffe . I thought we are doing payment, as we have one table to store gateway details.
 So should I leave it for now? As we will revise the module, then only we can design it.

My next approach is to seed the created tables . As majority of the main tables are covered. Those which are not covered include `acl_*` on the major portion and some other table which we can process as we will

[2017-08-01 16:53] tmccormi commented on #560
Yes. Sorry.

Tony McCormick

On Aug 1, 2017 6:06 AM, "Terry Hill" <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
information by telephone.  The information contained in this message may be
privileged and confidential. If you are NOT the intended recipient, please
notify t

[2017-08-01 17:33] tmccormi commented on #597
Yes to minimizing the line spacing, and the HIDE Button is to temporarily hide the menu itself.  Classic responsive UI make the menu a hamburger based on screen size, but also has a demand hide/unhide

[2017-08-01 18:17] aethelwulffe commented on #597
I'm just saying that either by design or theme, you should always prefer
information to static whitespace.  One main point of going to a tabbed
menu was to preserve vertical space on a screen, and I am sure you are
aware of the affect having a wide top padding on everything would have.
Every pixel/unit counts there.

On 2017-08-01 09:48, Nilesh Prasad wrote:

[2017-08-01 18:19] aethelwulffe commented on #647
Yeah, instead of a payment gateway, this is a (strange) accounting system.  I am not totally sure what "seed the tables" is, but please, move on with your plans.

[2017-08-01 18:22] tmccormi commented on #647
@aethelwulffe "seed the tables" is the terminology used by Laravel and others to mean "create the database/tables and load the initial values"

[2017-08-01 18:24] aethelwulffe commented on #597
I personally generally keep a textural menu open, with no icons (on such
things).  I find a hamburger or start menu only useful when the content
of an application generally has all the context menus, links, or
tooltips I need within it, and the three horizontal line "hamburger" as
tony calls it to be something you rarely need.  In this case, you need
the menu items just about constantly as an admi

[2017-08-01 18:28] aethelwulffe commented on #647
Meaning "populate the database".  That is the term used by the various database engine documentation texts.  Sounds like some more folks inventing and popularizing new terms instead of bothering to learn the real ones (see "on-boarding").  Seeding is usually referring to artificial randomization in computer science.

[2017-08-01 19:31] pri2si17-1997 commented on #647
Yeah @aethelwulffe You are correct. Basically what I will do is fill database tables with random data. It will help us in testing our query(new which I'm supposed to do) and also to generate test data.

[2017-08-01 20:03] aethelwulffe commented on #647
You are just looking for an excuse to use ORM Faker...you know it!:-D

On 2017-08-01 15:31, Priyanshu Sinha wrote:

[2017-08-01 20:05] pri2si17-1997 commented on #647
Haha... yes.. :smile:

[2017-08-01 20:54] tmccormi commented on #650
The hooks add the tags to the menu, but only the JSON version, we did not
expect to move to the database version, so that code is not hooked

Tony McCormick, CTO
www.mi-squared.com Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo
-Verba volant, scripta manent

On Sun, Jul 30, 2017 at 5:10 AM, Terry Hill <notifications@github.com>
wrote:

--
Please be aware that e-mail

[2017-08-01 22:50] tmccormi opened #651 "Rel 101 - patch for database.sql - fixes more fails on setup"
Some or all of these may still apply to dev-tip/master
<pre>
diff --git a/sql/database.sql b/sql/database.sql
index 8b7de2a..286e208 100644
--- a/sql/database.sql
+++ b/sql/database.sql
@@ -52,7 +52,7 @@ CREATE TABLE IF NOT EXISTS `amendments` (
   `amendment_desc` TEXT COMMENT 'Amendment Details',
   `created_by` int(11) NOT NULL COMMENT 'references users.id for session owner',
   `modified_by` i

[2017-08-01 22:58] tmccormi opened #652 "REl 101 - unable to add a patient"
Has anyone seen this issue?
<pre>
ERROR: insert failed: INSERT INTO patient_data SET pid = '1', date = NOW(), `fname` = 'Tony', `mname` = '', `lname` = 'McCormick', `sex` = 'Male', `DOB` = '1961-01-12', `status` = '', `street` = '11725 SW Springwood Dr', `city` = 'Tigard', `state` = 'OR', `postal_code` = '97223', `ss` = '', `drivers_license` = '', `phone_cell` = '5033302239', `email` = 'tony@mi-sq

[2017-08-01 23:00] tmccormi commented on #652
Both providerID and re_providerID are ints with NULL defaults and this code is trying to write a blank string...

[2017-08-01 23:04] tmccormi commented on #652
There is no difference in the code for master.  So this will break on MySQL 5.7 for the master as well.

[2017-08-01 23:14] tmccormi commented on #652
This is the same issue from #254 - strict mode.

[2017-08-01 23:27] teryhill commented on #652
Works fine on my local system and on the Nhanes demo site.

[2017-08-01 23:30] tmccormi commented on #652
fixed with the mod to my.cnf
<pre>
[mysqld]
sql_mode = ""
</pre>

[2017-08-01 23:30] #652 closed

[2017-08-02 00:45] aethelwulffe commented on #652
Well, since the provider ID isn't being set, I guess that is an issue.

Where was that from?

On 2017-08-01 18:58, Tony McCormick wrote:

[2017-08-02 00:54] tmccormi commented on #652
Mostly the issue is that we shouldn't have to set sql_mode.  Need to make sure that is not needed.

I was doing a test install and setup of rel101 for my Ireland customer.

[2017-08-03 12:34] nileshprasad137 commented on #553
GACL should be tackled or should be left for now?

[2017-08-03 12:38] nileshprasad137 commented on #597
Which frames do you feel need the UI upgrade urgently?

I have covered most of the sections in the Administration but I haven't sent that code now as I used old headers for that , and so I would have to make a lot of changes there. But I'll send that soon.

[2017-08-03 21:23] pri2si17-1997 commented on #647
Hello @aethelwulffe @teryhill

First of all, sorry for being inactive for last couple of days. I was not able to do much work because of college schedule.

Please look at the following addresses table data. This type of fake data we will be able to make.

![screenshot from 2017-08-04 02-49-29](https://user-images.githubusercontent.com/12952169/28944380-f0b30f44-78bf-11e7-9f44-d413ee8c12e8.png)

[2017-08-04 00:22] tmccormi commented on #553
Leave it, I would say

Tony McCormick, CTO
www.mi-squared.com Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo
-Verba volant, scripta manent

On Thu, Aug 3, 2017 at 5:34 AM, Nilesh Prasad <notifications@github.com>
wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
informa

[2017-08-04 00:25] tmccormi commented on #647
Is there a reason peoples names are in the addresses table?

Tony McCormick, CTO
www.mi-squared.com Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo
-Verba volant, scripta manent

On Thu, Aug 3, 2017 at 2:23 PM, Priyanshu Sinha <notifications@github.com>
wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please cons

[2017-08-04 00:29] teryhill commented on #647
@tmccormi we have streets name annie way , those look like legit street names to me Rachael Drive is like Hill Lane.

[2017-08-04 00:54] tmccormi commented on #647
Got it.

Tony McCormick, CTO
www.mi-squared.com Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo
-Verba volant, scripta manent

On Thu, Aug 3, 2017 at 5:29 PM, Terry Hill <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
information by telephone

[2017-08-04 12:55] nileshprasad137 commented on #553
Great then... 😄 There are still HTML templates residing there which are of no use now. If everything seems to be working fine, that can be deleted.

[2017-08-04 15:52] pri2si17-1997 commented on #647
Hello @aethelwulffe

In `clinical_rules` table, there is a field `pid`, which has default value as 0 meaning that it is applicable for all patient, but it should refer to any registered patient?

Can you please explain me this feature? I am not sure about its working. It is from `Administration -> Rules`. There are other tables also like `clinical_plans` which work like this only.

Am I clear with

[2017-08-04 19:15] aethelwulffe commented on #647
Clear enough.
PID - 0 means it is not just a rule specific to a single patient...meaning a custom rule made for handling a single case.  The use of custom rules is actually too clumsy for real-world use, but that is the mechanism.

The fun part is, I have a PR in that greatly changes tables related to these.
Explaining the clinical rules stuff well, I will make a try, but the whole process and int

[2017-08-05 05:22] pri2si17-1997 commented on #647
Ok @aethelwulffe  I'm leaving it for now.

But I would like to present my thought. What I think is there is many to many relationship between rules and patients as one rule is applicable to many patients (default case) and one patient can have many rules. So rules table should be single table responsible for storing only clinical rules. There can be one more table to have M2M relationship between

[2017-08-05 19:09] rehoyt opened #655 "Parse NHANES lab panel into individual lab tests"

[2017-08-05 19:09] rehoyt opened #656 "Change prescriptions to mediations"
It is my understanding that you can't search on medications because they are prescriptions

[2017-08-05 19:10] rehoyt opened #657 "Ability to search on lab results under the "Patient List Creation" Report"
Very important to be able to search for anyone with abnormal lab results

[2017-08-05 19:11] rehoyt opened #658 "Ability to search for lab results under "Clinical" reports"

[2017-08-05 19:12] rehoyt opened #659 "Ability to search on Drugs under the "Clinical" report"

[2017-08-05 19:12] rehoyt opened #660 "Ability to generate a csv file as output for any queries under Patient List Creation or Clinical reports"

[2017-08-05 19:13] rehoyt opened #661 "Better Templates"
It would be ideal if there were more customizable templates, as opposed to Layout Forms which are labor intensive and non-intuitive

[2017-08-05 19:14] rehoyt commented on #619
What is the resolution of this issue?

[2017-08-05 23:53] teryhill commented on #655
Is something that @yehster could look at doing.

[2017-08-06 00:04] teryhill commented on #656
In the patient list creation this is what I get, if this is where you are talking about.

![image](https://user-images.githubusercontent.com/4655366/28999589-49c0dd3c-7a19-11e7-9d7a-09cd3354fa62.png)

[2017-08-06 00:59] yehster commented on #655
Yes, this one is on my plate. It's really an issue with the import process and not the EHR itself.

[2017-08-06 12:46] rehoyt commented on #656
I stand corrected because the search for medications did work. It is the search for lab results that does not. It would still be great if the output included a csv file so students might be able to analyze all patients on a certain drug

[2017-08-06 16:01] aethelwulffe commented on #656
If, for instance, we use the standardized medical coding systems for medications, therapies, labs, and lab result reporting, then there would be nothing...nothing we could not easily run reports on.

[2017-08-06 16:06] aethelwulffe commented on #661
Does Template mean "Clinical Encounter Form"?
I know the drop-and-drag form generator I have been working on for about three years still needs about 400 more hours of work, and as I earn my living doing fabrication and design contracting (this unfortunately relegated to hobby status), that time is very difficult to find.  I really wish I could bring it forward,  but it looks like another two years

[2017-08-06 16:07] aethelwulffe commented on #661
Forms with hidden sections however, are much easier....provided there is a blueprint to start with.

[2017-08-06 20:16] pri2si17-1997 commented on #647
Hello @aethelwulffe , below is some fake data for `patient_contacts` table. I remember you told me that it is generic contacts table and not just specific for patients. I haven't changed its name yet.

![screenshot from 2017-08-07 01-40-29](https://user-images.githubusercontent.com/12952169/29006660-b3c45c6a-7b11-11e7-8bae-99c1323ea14b.png)

You please look at above data and let me know if anythin

[2017-08-06 21:55] rehoyt commented on #661
I am speaking specifically about template-driven encounter notes/forms written with a SOAP format.
A great template would be customizable with 1. Coded diagnoses 2. Customizable history with drop down options 3. Links to database table elements. For example if the template was for diabetes, it would automatically link to tables for  the last weight, BMI, blood glucose, A1c, Blood pressure and LDL

[2017-08-07 15:14] nileshprasad137 commented on #597
The layout issues on Patient Tracker have been resolved. I am currently trying to figure out the proper way to do what @teryhill said on chat forum

Do you want me to move relevant items from edit globals and keep it in patient tracker and save it into db from there? I'll need some guidance here.

[2017-08-07 16:01] teryhill commented on #597
"Do you want me to move relevant items from edit globals and keep it in patient tracker and save it into db from there? I'll need some guidance here."

let the user select their preferences for the patient tracker from the tracker , just like miscellaneous then preferences. Keep them in globals as a system default.The idea is to at some time allow the users to see the options that apply to the scr

[2017-08-09 15:02] nileshprasad137 commented on #597
Open Demographics in New Window from Patient Flow Board
 Show Visit Reason in Patient Flow Board
 Show Patient ID in Patient Flow Board
 Show Exam Room Patient Flow Board
 Show Visit Type in Patient Flow Board
 Show Patient Encounter Number in Patient Flow Board
 Flag Double Booked Appt in Flow Board
 Allow Date Range in Patient Flow Board
 Ending Date for Patient Flow Board
 Patient Flow Board Ti

[2017-08-10 01:20] #560 closed

[2017-08-10 01:23] tmccormi opened #663 "New UI, Menu items duplicated"
The Admin menu has duplicated selections on the nilesh/navbar-temp (and flowboard) branches
![redundant-admin-menu](https://user-images.githubusercontent.com/285835/29150508-dc4f74e2-7d2f-11e7-9194-30e48c52daca.png)

[2017-08-10 16:22] aethelwulffe commented on #661
You mean make a form that queries for various diagnosis, then provides review and input fields based on current Dx?

[2017-08-10 16:31] aethelwulffe commented on #658
Lab results reporting should be part of a lab interface system connected to Quest and the other usual suspects.

Currently, the only lab related stuff is under the Procedures tab, where there are five or six lab related thingies, one of which being Procedure Results, which seems to actually reference to lab stuff.

  I know that you have to load a lab order compendium from a vendor and all that to

[2017-08-10 16:47] rehoyt commented on #661
It would be organized into Subjective, Objective, Assessment and Plan (SOAP). For diabetes patients there would be a set number of questions in each section with each question being customizable. Here is an example of how Practice Fusion does it. Not very fancy as no information is automatically inserted into the note/template
Screen Shot 2017-08-10 at 11.42.39 AM

[2017-08-10 16:50] rehoyt commented on #655
The other issue I think I posted in the forum is can we set a default search date (the From field) for all reports and set it before 2016-12-31. If students forget to do this they may not get any results back

[2017-08-10 17:08] aethelwulffe commented on #660
Need to identify or create a universal .csv output function.
There are libraries that extend this stuff, like https://github.com/goodby/csv but that may not be the best solution.
If we do not already have a js library that exports the HTML output to a csv, then I feel we should use our existing jquery and add this little asset here:
https://github.com/rubo77/table2CSV