[2019-05-13 17:13] aethelwulffe commented on #1475
You can find your list of things already restricted by searching the code-base for "acl_check".

[2019-05-13 17:15] Ngai-E commented on #1475
Yeah i did that and saw everything

[2019-05-13 17:19] aethelwulffe commented on #1475
I think you are on top of this, frankly.   I am going to offer advice, but this can totally be your baby.
-Raise it right!

[2019-05-13 17:22] Ngai-E commented on #1475
I would appreciate it.

[2019-05-15 14:26] #1441 closed

[2019-05-15 14:27] #1442 closed

[2019-05-15 14:29] #1438 closed

[2019-05-15 14:33] #1461 closed

[2019-05-15 15:23] muarachmann commented on #1475
@aethelwulffe would this be in the `modules/`

[2019-05-15 15:24] muarachmann commented on #1462
@Ngai-E is this still open and valid?

[2019-05-15 16:02] aethelwulffe commented on #1475
ABSOLUTELY.  Anything and everything we can compartmentalize is good.  We may, at some point start needing to mark certian "modules" as "core", but it is great to have everything in one place for a given feature.  This will be one we will revisit many times, as we are, at first, simply looking for an minimal viable product.  There are too many advantages to leveraging access control to ever leave

[2019-05-15 16:05] Ngai-E commented on #1462
@muarachmann I still have this problem. I enabled flash plugin on chrome. I can successfully plot a graph when I click on 'Plot selected Items'. But when i click on **'Show track history**' then click on encounter data I get the error above. Please check it out. It happens on the docs site.

Please dont click on the 'Plot selected Items' button that works fine. instead click on **'Show track histo

[2019-05-15 16:07] aethelwulffe commented on #1462
How up to date is the docs site?

[2019-05-15 16:07] Ngai-E commented on #1462
@KoniKodes  graph plot shown above is not testing the issue.

[2019-05-15 16:09] aethelwulffe commented on #1462
Right.  Understand.

[2019-05-15 16:16] Ngai-E commented on #1462
I guess it was updated few days ago by @robbyoconnor because i can not see the some of the bugs that were fixed on the site anymore. For example the issue with merged PR #1443 6 days ago, no longer occurs on the docs site.

[2019-05-15 16:19] Ngai-E commented on #1462
I do not think it is ACL. I think its the file path that does not exist as stated in the pop up alert message.

[2019-05-15 16:21] muarachmann commented on #1462
Errr @Ngai-E please give me a sample patient with plot graph on the docs site. Surely some 500 error is occuring

[2019-05-15 16:28] muarachmann opened #1476 "Drop all css Themes and make Prism Theme [DEFAULT]"
EHR needs help with a good theme. Ranging from layouts and how tabs are show etc. Currently we support bootstrap 3.x in our codebase and it is working excellently. Currently we are having a theming problem and support 4 themes which can be switched.

We would need to drop 3 and make 1 default. Preference would be the prism theme which would be used.

[2019-05-15 16:28] Ngai-E commented on #1462
3.  ‘Aaronson’ having ‘Patient ID’ 84
4.  #4, marked ‘2019-02-18 Established Patient’.

[2019-05-15 16:30] Ngai-E commented on #1462
Its the same procedure on the issue report above maybe you missed a step while reading it.

[2019-05-15 16:32] muarachmann commented on #1462
Oh i see. I fixed the plot graph and not the show track issue. Okay will make a patch for it

[2019-05-15 16:34] muarachmann commented on #1462
I cant see the encounter stuff for the patient when i click show track history

![Screen Shot 2019-05-15 at 5 33 14 PM](https://user-images.githubusercontent.com/16350814/57792708-94828880-7737-11e9-898a-c1ef0e8fbbe5.png)

[2019-05-15 16:35] muarachmann commented on #1462
Okay fine i could replicate this. On it

[2019-05-15 16:39] Ngai-E commented on #1462
That is because you are using an encounter without data. Please use the encounter with date  **‘2019-02-18 Established Patient’.**

[2019-05-15 16:40] Ngai-E commented on #1462
![image](https://user-images.githubusercontent.com/22508583/57793148-8c771880-7738-11e9-97de-05667c54bdb6.png)
this one

[2019-05-15 16:44] muarachmann commented on #1462
Yeah fine i could replicate this. I am working on this

[2019-05-15 16:44] muarachmann opened #1477 "Modify .gitignore to exclude all directories in /sites dir except default"
When installing EHR for first or n times, you might want to have multiple instances where you can access via some `site_id=xxxx` doing this will lead to creation or mirror of an already existing sites dir in the `/sites` dir.  We dont need this to show up on git commits

- ignore all folders in `/sites` except for default site
NB - sqlconfig.php for `/sites/default` is not needed equally you can c

[2019-05-15 16:55] Ngai-E commented on #1462
ok

[2019-05-15 17:15] aethelwulffe commented on #1476
We don't really care WHAT the theme winds up looking like eventually, but it has a cool name, so let's use it!  :)
This will really help.

[2019-05-15 17:17] aethelwulffe commented on #1477
If we do not need sqlconf.php, then let's kill it.  Gitignore should specifically ignore the existence of that file, even if it is in /default.

[2019-05-16 08:56] Ngai-E commented on #1449
I tried fixing this but I realized that the download stuff happens for files that can not be viewed. How do I go about fixing this since i can not display it either when the user clicks on view.

![image](https://user-images.githubusercontent.com/22508583/57840525-b411c380-77c0-11e9-95f3-0b75e64171da.png)

What should I put as default behaviour for a non viewable type of image.

[2019-05-16 10:59] muarachmann commented on #1449
The download can be ok here for the non viewable stuff. btw how will an
image not be viewable?

On Thu, May 16, 2019 at 9:56 AM Ngai Elizabeth <notifications@github.com>
wrote:

[2019-05-16 10:59] muarachmann commented on #1449
I think the type is restricted in the uploads to accept only those
extensions right?

On Thu, May 16, 2019 at 11:58 AM Mua Rachmann <muarachmann@gmail.com> wrote:

[2019-05-16 11:09] Ngai-E commented on #1449
No. That is the problem. It is possible to upload a .pdf file and if this is done you only get the download prompt when you click on 'View' since it is not viewable

[2019-05-16 11:10] Ngai-E commented on #1449
I think we can start fixing it by restricting the upload to only viewable image files like .png, jpeg, jpg etc. I wanted to do this but thought i should ask first.

[2019-05-16 11:28] muarachmann commented on #1449
Patient ID card /Patient photograph thats what i see in the docs. Why
should this be uploaded as PDF. I would say rather check the extensions
during upload in these areas and restrict it to the viewables. IMO

On Thu, May 16, 2019 at 12:10 PM Ngai Elizabeth <notifications@github.com>
wrote:

[2019-05-16 11:34] Ngai-E commented on #1449
ok

[2019-05-16 13:42] aethelwulffe commented on #1449
NOOOOOOOOOO!
The docs are for tons of other stuff.  You can have DICOM format image and video files, a variety of formats of various word processor files, pdf's, SAS files...you name it.  The restrictions should be configurable, and only rule out things like are typically blocked on an email server, like .exe, .scr, .bat etc...  You can have .zip/rar, but ruling out .cab is reasonable.  Still, thi

[2019-05-16 14:03] aethelwulffe commented on #1449
It should download.  Otherwise, your browser has to be set to perform a certain action for a certain type of file.  That is the user's sysadmin issue.  It should function as per the browser's default.  Displaying in place should be for image files, otherwise, leave it up to the browser, or as a download link.

When a file is viewable, there could be a [view] button beside it as well as a [download

[2019-05-16 14:11] aethelwulffe commented on #1449
ID card and license image files of restricted size (and number) should be the only things POSSIBLE to upload to a (virtual) directory linked to the photo display in dems.  If you go to demographics and pick "Documents", you can upload anything you like there, which could make things goofy.  This is not a directory restriction, it is a setting for items linked to that "directory" row in categories_

[2019-05-16 14:28] KoniKodes opened #1480 "Undefined index (state) in setup.php file causes errors at local install"
Operating System: Windows 8
Error occurs on both Wamp and Xampp:
![image](https://user-images.githubusercontent.com/18405001/57861143-edd7cf80-77aa-11e9-9868-fd3861a409a9.png)
![image](https://user-images.githubusercontent.com/18405001/57861163-f8926480-77aa-11e9-94dd-d2401f2b1a1d.png)

Did not expect to see an error. I did expect to click on the Continue button and be taken to the LibreHealth EHR

[2019-05-17 13:35] KoniKodes commented on #1480
Along with the line above, setup.php mentions **state**
line 42: ` echo "<form method='post'><input type='hidden' name='state' value='0'>" .
    "Site ID: <input type='text' name='site' value='default'>&nbsp;" .
    "<input type='submit' value='Continue'><br></form><br>\n";
  `
line 93: `else if ($state > 3) {
  // State 3 should have created the site directory if it is missing.
  die("Internal er

[2019-05-17 14:22] muarachmann commented on #1480
Hi Toni the error you are having is due to the fact that error_reporting /
display errors is enabled in your php.ini file in xampp.
Please turn/switch it off. Please do these steps
https://github.com/LibreHealthIO/lh-ehr#on-windows

On Fri, May 17, 2019 at 2:35 PM Toni Shortsleeve <notifications@github.com>
wrote:

[2019-05-30 15:27] KoniKodes commented on #1480
Thank you @muarachmann
I have finally got it installed!

[2019-05-30 15:27] #1480 closed

[2019-05-31 09:56] muarachmann commented on #1480
Glad you could make it

On Thu, May 30, 2019 at 4:27 PM Toni Shortsleeve <notifications@github.com>
wrote:

[2019-06-26 06:13] prondubuisi commented on #1477
@muarachmann what should be done here?

[2019-06-26 23:36] mhn94 opened #1484 "Incorrect Description for Property Setting"
A) **Outreachy Username:** maggie.negm
B) **Issue Title:** Incorrect Description for Property Setting
C) **Report Date:** 6/26/2019
D) **Sites Affected:** Documentation Site
E) **OS/Browser Used:** Chrome browser in Linux OS
F) **EHR Workflow Module:** Edit Global Settings
G) **Steps to Reproduce the Issue:**

1. Select “Administration” from the main menu.
2. Select “Globals” under "Administration

[2019-08-05 20:09] Patil2099 commented on #1477
@muarachmann  Can I work on this ?

[2019-08-05 20:24] muarachmann commented on #1477
Sure @Patil2099 feel free to work on any issues around. If you are looking for friendly beginner issues i can point some out.

[2019-08-05 20:27] muarachmann commented on #1484
Closing this.Thanks @mhn94  for the fix

[2019-08-05 20:27] #1484 closed

[2019-08-06 12:41] Patil2099 commented on #1477
@muarachmann  It would be a great help. Thanks. Please point out some for me

[2019-08-06 12:45] muarachmann commented on #1477
Here you go
https://github.com/LibreHealthIO/lh-ehr/labels/good%20first%20issue

On Tue, Aug 6, 2019 at 1:41 PM Pankaj Patil <notifications@github.com>
wrote:

[2019-08-09 20:11] robbyoconnor opened #1495 "A lot of vulnerabilities in OpenEMR disclosed"
I found a report with [a decently sized list of vulnerabilities in OpenEMR](https://github.com/zeropwn/vulnerability-reports-and-pocs/blob/master/OpenEMR%20-%20Vulnerability%20Report.pdf) published on May 1<sup>st</sup> of this year.

Not sure if these exist in our code, but we should check.

[2019-08-09 20:37] robbyoconnor commented on #1495
See the following for a summary of what they found: https://github.com/zeropwn/vulnerability-reports-and-pocs#openemr-v5013-vulnerability-report-multiple-cves

[2019-08-12 00:44] mhn94 opened #1496 "Patient List Reports Don't Filter"

[2019-08-20 01:21] mhn94 opened #1499 "Invalid Date Range Accepted Within Report Forms"
A) **Outreachy Username:** maggie.negm
B) **Issue Title:** Invalid Date Range Accepted Within Report Forms
C) **Report Date:** 8/19/2019
D) **Sites Affected:** Documentation Site
E) **OS/Browser Used:** Chrome browser in Linux OS
F) **EHR Workflow Module:** Report modules that accept a date range within their forms, including Report – Patient List, Reports – Patient List by Reporter, Report – Pati

[2019-08-28 14:40] #1477 closed

[2019-09-02 06:20] muarachmann opened #1507 "Remove Print button from Superbill/Fee sheet"
Place the print button in a suitable position mostly out of the printable area.
Can be seen under **Reports > Blank Form > Superbill/Fee sheet**

![Screen Shot 2019-09-02 at 7 19 44 AM](https://user-images.githubusercontent.com/16350814/64093953-141d7d00-cd52-11e9-8e7d-b750adc0c6a5.png)

[2019-09-13 20:22] ishita20 commented on #1456
@muarachmann I would like to work on this.

[2019-09-13 20:58] muarachmann commented on #1456
Thanks @ishita20 , this is no longer valid was fixed. Closing this

[2019-09-13 20:59] #1456 closed

[2019-09-25 19:44] #1507 closed

[2019-10-03 17:41] mhn94 opened #1509 "Flow Board Property Choice Typo"
A) **Outreachy Username:** maggie.negm
B) **Issue Title:** Flow Board Property Choice Typo
C) **Report Date:** 10/02/2019
D) **Sites Affected:** Documentation, NHANES
E) **OS/Browser Used:** Chrome browser in Linux OS
F) **EHR Workflow Module:** Flow Board
G) **Steps to Reproduce the Issue:**

1. Select “Flow Board” from the main menu (if Flow Board isn’t already open by default).
2. Select the ge

[2019-10-03 17:54] muarachmann commented on #1509
Correct and thanks @mhn94

[2019-10-04 11:34] #1509 closed

[2019-10-04 20:00] FlaviaKebirungi opened #1511 "Security Concern - LibreHealth EMR does not automatically time-out users"
- Outreachy Username: **FlaviaKebirungi**
- Issue Title: Security Concern - LibreHealth EMR does not automatically time-out users
- Report Date: 05-Oct-2019
- OS/Browser Used: Windows/Chrome

**Issue:**
The Application seems not to automatically time-out for logged in users which might a security concern for accessing sensitive health resources.

[2019-10-04 20:32] Rudy-Menekam commented on #1458
i will like to work on this

[2019-10-04 23:00] FlaviaKebirungi commented on #1511
Already solved!

[2019-10-04 23:00] #1511 closed

[2019-10-05 00:07] FlaviaKebirungi opened #1513 "Flow Board - Option Grammatical Error"
**A) Outreachy Username:** FlaviaKebirungi

**B) Issue title:** Flow Board - Option Grammatical Error

**C) Report Date:** 5-Oct-2019

**D) Sites Affected:** Documentation

**E) OS/ browser used:** Windows 10 – Chrome and Firefox

**F) EHR Workflow module:** Flow Board

**G) Steps to Reproduce the Issue:**

1.	Login to the LibreHealth EHR.
2.	Click on “Flow Board” in the menu.
3.	Click on the gear

[2019-10-05 01:26] mhn94 opened #1514 "Invalid Date Range Accepted Within Flow Board"
A) **Outreachy Username:** maggie.negm
B) **Issue Title:** Invalid Date Range Accepted Within Flow Board
C) **Report Date:** 10/04/19
D) **Sites Affected:** Documentation, NHANES
E) **OS/Browser Used:** Chrome browser in Linux OS
F) **EHR Workflow Module:** Flow Board
G) **Steps to Reproduce the Issue:**

1. Select “Flow Board” from the main menu (if Flow Board isn’t already open by default).
2. E

[2019-10-05 01:29] KoniKodes commented on #1513
You lose 3 points for not having the inspector image as I said during feedback.
I really need for you to read what I say, and do it as I asked.

[2019-10-05 01:45] #1513 closed

[2019-10-05 08:31] HenriettaWilla opened #1515 "Duplicate option under categories in Flow board"
I noticed that on the Flow board, "Text" option under category was written twice. One of them needs to be removed.

![duplicate option under category](https://user-images.githubusercontent.com/38100233/66252392-eb264880-e752-11e9-8696-54491fec6d94.png)

[2019-10-05 09:29] muarachmann commented on #1515
Nice catch

[2019-10-05 09:29] muarachmann commented on #1515
@KoniKodes, @VirginiaBalseiro , @Ngai-E  is this the format? i guess it has to look like #1514 with sites affected, bug severity etc

[2019-10-05 10:19] HenriettaWilla commented on #1515
ok thank you. Does it mean that minor errors should be ignored? For example
an input field too small to display value as on the image below

On Sat, Oct 5, 2019 at 10:30 AM muarachmann <notifications@github.com>
wrote:

[2019-10-05 10:49] muarachmann commented on #1515
What image?

[2019-10-05 11:45] FlaviaKebirungi opened #1516 "Flow Board - Option Grammatical Error"
A) Outreachy Username: FlaviaKebirungi

 B) Issue title: Flow Board - Option Grammatical Error

C) Report Date: 5-Oct-2019

D) Sites Affected: Documentation

E) OS/ browser used: Windows 10 – Chrome and Firefox

F) EHR Workflow module: Flow Board

G) Steps to Reproduce the Issue:

1.	Login to the LibreHealth EHR.
2.	Click on “Flow Board” in the menu.
3.	Click on the gear icon in the top left corne

[2019-10-05 11:50] muarachmann commented on #1516
okay :0 u can use [github markups](https://guides.github.com/features/mastering-markdown/) to beautify things :)

[2019-10-05 11:53] muarachmann commented on #1514
Use iziToast for this

[2019-10-05 11:53] Ngai-E commented on #1515
Great catch @HenriettaWilla but I am not sure you read the guide on how to post an issue here. I have been trying to reproduce this issue but to no avail. Kindly review the format ;)

[2019-10-05 11:54] muarachmann commented on #1515
I think i can setup a template for that what do you think @robbyoconnor , @KoniKodes

[2019-10-05 11:58] Ngai-E commented on #1516
Thanks @FlaviaKebirungi  please fix it if you can. The message is really confusing.

[2019-10-05 14:23] KoniKodes commented on #1515
In the #outreachy channel, under the pinned files - which can be accessed under the paper clip - the third attached document is called IssuerReportTemplate2019.pdf

Follow this format please.

[2019-10-05 14:24] KoniKodes commented on #1515
@muarachmann - please close this.

[2019-10-05 14:25] #1515 closed

[2019-10-05 14:25] muarachmann commented on #1515
Done!

[2019-10-05 14:42] KoniKodes commented on #1516
@FlaviaKebirungi Much better, thank you.

[2019-10-05 17:00] tybanash opened #1518 "Reports -> Blank Forms -> Superbill/Fee Sheet: Typographical Error."
A) **Outreachy Username**: tybanash
B) **Issue title**: Reports -> Blank Forms -> Superbill/Fee Sheet: Typographical Error.
C) **Report Date**: 10/5/2019
D) **Sites Affected**: Documentation and NHANES.
E) **OS/ browser used**: Windows/Chrome
F) **EHR Workflow module**: “Superbill/Fee Sheet” under “Blank Forms” which is under the “Reports” menu group.
G) **Steps to Reproduce the Issue**:
1. Login

[2019-10-05 21:36] HenriettaWilla commented on #1515
ok thanks I will review the format

[2019-10-06 14:41] HenriettaWilla opened #1520 "Duplicate Fields and Typo in Addr Book"
A) Outreachy Username: NDum.
B) Issue Title: Duplicate Fields and Typo in Addr Book
C) Report Date: 10/06/19.
D) Sites Affected: Documentation Site.
E) OS/Browser Used: Chrome browser in Linux OS.
F) EHR Workflow Module: “Add New” button which is found in “Addr book” which is under “Miscellaneous” menu group. The same issue is also encountered in "Addr book" found under "Administration" in the mai

[2019-10-07 14:42] FlaviaKebirungi opened #1521 "Flow Board – “Ending Date for Patient Flow Board” Options not in Order"
**A) Outreachy Username:** FlaviaKebirungi

**B) Issue title**: Flow Board – “Ending Date for Patient Flow Board” Options not in Order
C) Report Date: 7-Oct-2019

**D) Sites Affected:** Documentation

**E) OS/ browser used:** Windows 10 – Chrome and Firefox

**F) EHR Workflow module:** Flow Board

**G) Steps to Reproduce the Issue:**
1.	Login to the LibreHealth EHR.
2.	Click on “Flow Board” in the

[2019-10-08 01:22] mhn94 opened #1523 "Missing Word in Flow Board Setting Description"
A) **Outreachy Username:** maggie.negm
B) **Issue Title:** Missing Word in Flow Board Setting Description
C) **Report Date:** 10/07/2019
D) **Sites Affected:** Documentation, NHANES
E) **OS/Browser Used:** Chrome browser in Linux OS
F) **EHR Workflow Module:** Flow Board
G) **Steps to Reproduce the Issue:**

1. Select “Flow Board” from the main menu (if Flow Board isn’t already open by default).
2

[2019-10-08 13:37] aethelwulffe commented on #1511
Actually, it does.

Check global settings.

On 10/4/2019 4:00 PM, FlaviaKebirungi wrote:

[2019-10-08 19:40] KoniKodes commented on #1520
Good call on both locations.
Now, can you write the code that will fix this?

[2019-10-08 22:03] HenriettaWilla commented on #1520
hello @KoniKodes
yes I am working on it

[2019-10-08 22:11] HenriettaWilla opened #1525 "Duplicate "Test" on Flow Board Category"
A) Outreachy Username: NDum.
B) Issue Title: Duplicate "Test" on Flow Board "Category"
C) Report Date: 10/06/19.
D) Sites Affected: Documentation Site.
E) OS/Browser Used: Chrome browser in Linux OS.
F) EHR Workflow Module: Duplicate "Test" on Flow Board Category. When I drop it down, I see Test twice. On the console the line affected is “option value = 16”.
G) Steps to Reproduce the Issue:
Login

[2019-10-08 22:31] KoniKodes commented on #1520
Okay Great!
Thank you.

[2019-10-09 07:43] Ngai-E commented on #1523
yes @mhn94  it should be consistent with the rest. Thank you.

[2019-10-09 07:52] Ngai-E commented on #1520
Great please fix it.

[2019-10-09 14:43] KoniKodes commented on #1525
@HenriettaWilla
In section G and H:
"Text" should be "Test". Just as it is seen in the image. Please change this report to reflect that and then create the PR.

[2019-10-09 16:29] HenriettaWilla commented on #1525
ok thanks @KoniKodes. I tried to rectify the issue but the clone repository does not have such error

[2019-10-09 16:30] HenriettaWilla commented on #1525
The categories were different from the one online

[2019-10-11 16:58] #1523 closed

[2019-10-11 16:59] #1521 closed

[2019-10-12 20:14] KoniKodes opened #1529 "The Facility dropdown menu is missing on the Calendar"
October 12, 2019
Affects the Documentation Site
I use Chrome as my browser

On the Calendar between the Date Picker and the Users List used to be the Facility DropDown list. That would let you see the facility you want to work with.

 ![old-facility-1](https://user-images.githubusercontent.com/18405001/66707176-6a86bf80-ecf1-11e9-869e-7e85a8767ac7.jpg)
Now, although there are two facilities, only

[2019-10-12 22:32] KoniKodes commented on #1529
It appears the Admin needed to uncheck a box..
It is fixed now...

[2019-10-12 22:32] #1529 closed

[2019-10-13 21:25] yamamashakaa opened #1530 "Unreadable text on the submit button on Flow board panel."
A) Outreachy Username: yamama
B) Issue title: Unreadable text on the submit button on Flow board panel.
C) Report Date: 10/13/2019.
D) Sites Affected: Documentation Site.
E) OS/ browser used: Firefox and chrome browser on Windows10 OS.
F) EHR Workflow module: When I was looking for patient’s appointment for specific provider.
G) Steps to Reproduce the Issue:
1) login to your account.
2) Click on t

[2019-10-13 22:30] mhn94 opened #1531 "Duplicate Modules Open in the Same Screen"
A) **Outreachy Username:** maggie.negm
B) **Issue Title:** Duplicate Modules Open in the Same Screen
C) **Report Date:** 10/13/19
D) **Sites Affected:** Documentation, NHANES
E) **OS/Browser Used:** Chrome browser in Linux OS
F) **EHR Workflow Module:** Calendar, Flow Board, and other default module options (except Messages)
G) **Steps to Reproduce the Issue:**
It depends on which modules open by

[2019-10-15 23:39] jonathanzhang53 commented on #1518
![image](https://user-images.githubusercontent.com/41968151/66877368-d92a7e00-ef7a-11e9-8dc4-180edb2956a6.png)

Hey this is what it looks like for me. I also scrubbed through the codebase for "producto" but it was only in the translation database. Maybe it has something to do with the language of the data you are looking at?

It doesn't seem to be a hard-coded typo.

[2019-10-15 23:53] jonathanzhang53 commented on #1530
From when I worked with this codebase, I can probably guess that this is an issue with the css themes in EHR (inconsistency and overriding).

Probably best to just leave these be until a universal theme is propped up.

[2019-10-16 00:17] jonathanzhang53 opened #1532 "Hardcoded Width Values in Billing Manager Buttons"
![image](https://user-images.githubusercontent.com/41968151/66878437-7be4fb80-ef7f-11e9-847d-4c1becacb74a.png)

As you can see, the CMS buttons are not centered and padded correctly due to hardcoded styling of width values.

Reproduce: Login >> Fees > Billing

[2019-10-16 00:51] muarachmann commented on #1514
Done!

[2019-10-16 00:51] #1514 closed

[2019-10-16 00:55] muarachmann commented on #1516
Was this ever fixed @FlaviaKebirungi ? Yess  i think in #1517

[2019-10-16 00:56] #1516 closed

[2019-10-16 00:57] muarachmann commented on #1518
@tybanash this is still on, any worries don't hesitate to reach out for help

[2019-10-16 00:59] muarachmann commented on #1520
Closing this, fixed in #1526

[2019-10-16 01:00] #1520 closed

[2019-10-16 01:01] muarachmann commented on #1525
status??

[2019-10-16 01:02] muarachmann commented on #1530
Yes @jonathanzhang53 :) Nice seeing you around!, we look forward to having one theme `Prism`

[2019-10-16 01:05] muarachmann commented on #1531
Hmmmmmm have you had a look at the codebase that handles this

[2019-10-16 01:10] mhn94 commented on #1531
Yes. I started by looking at the Messages module, since it's the only modules out of all the default module options that doesn't have this issue. I noticed that it uses a superglobal variable to prevent the issue from happening.

[2019-10-16 07:14] yamamashakaa commented on #1530
yest, it is just the text color button in  the tan theme style sheet.
While testing I did not notice that there are multiple themes and in the tan theme  the red over the blue was so hard on eyes (while hovered) and the blue over blue while visited was not readable at all
 Looking forward to the universal theme

[2019-10-28 23:09] mhn94 commented on #1531
Change of plans. After familiarizing myself with the code base some more, I was able to identify the root cause: the navigateTab() function that determines if a tab is already opened was not able to correctly identify default tabs that were open. So I have a solution that fixes this!

[2019-10-28 23:26] aethelwulffe commented on #1531
1.  Sometimes, you WANT two copies of the same report run, such as with
different search criteria.  This is true with several items.

2.  The name/target in the menu.json for each menu item is a
configurable thing.  When two items have the same classname, they can
"replace" each other.  When they are differentiated, they open in
different tabs.

3.  When switching patients, you need the previous p

[2019-10-28 23:36] mhn94 commented on #1531
So for point 1, are you saying that this issue may not be an issue for some cases/we may want duplicate tabs open in some cases?

I recognized the behavior you described in point 2. I originally thought it was an issue and the target names were supposed to be unique. However, after looking at the menu_data.json file, I realized that this wasn't the case and concluded that it wasn't an issue, since

[2019-10-29 20:05] #1530 closed

[2019-10-30 01:49] mhn94 commented on #1531
After thinking about this some more, I think determining the qualifications for which tabs can have duplicates open can be tricky. The one qualification that makes sense is having a search feature, which would be the majority of the tabs. Everything else seems like a matter of opinion.

[2019-10-30 07:38] #1532 closed

[2019-10-31 03:53] mhn94 commented on #1531
I should mention that I have noticed that when switching patients, the previous patient's demographics doesn't update and replace in all modules. I didn't submit that solution in the above PR. I felt as if that was a separate but connected issue. So I have submitted a PR that fixes the original issue, until we have further discussed the points that were made here. And I will be working on creating

[2019-11-01 06:54] j-pro opened #1536 "White space/block present in the top right corner"
**A) Outreachy Username:** j-pro
**B) Issue title:** White Block present in the top right corner
**C) Report Date:** Oct 31, 2019
**D) Sites Affected:** Documentation Site
**E) OS/ browser used:** Windows / Chrome
**F) EHR Workflow module:** Not specifically a module, as it is present in main menu bar

**G) Steps to Reproduce the Issue:**
1.	Login with your account credentials.
2.	In the upper rig

[2019-11-01 18:13] yamamashakaa opened #1537 "The “Submit” Button in Patient List Report functions like the “Export To CSV” button"
A) Outreachy Username: Yamama
B) Issue title: The “Submit” Button in Patient List Report functions like the “Export To CSV” button
C) Report Date: 10/30/2019
D) Sites Affected: Documentatio¬¬n Site
E) OS/ browser used: Firefox and chrome browser on Windows10 OS
F) EHR Workflow module: When I wanted a patient list for specific provider.
G) Steps to Reproduce the Issue:
1) login to your account
2) C

[2019-11-04 16:09] Ngai-E commented on #1537
Yes @yamamashakaa this is a bug. Thank you. I will hop over and test your fix.

[2019-11-05 14:14] j-pro commented on #1536
The file I am running in local server has white background color in the menu bar. This is screenshot of my localhost:
![issue_white_bg](https://user-images.githubusercontent.com/1905329/68214878-59865100-0006-11ea-8c38-5584e560bb4d.png)
This issue #1536 is present in the docs site running in main server.
I find difference in these two.

[2019-11-11 15:46] OfficialOzioma opened #1543 "After setting up docker in my pc, i i typed http://localhost:8090/ in my browser, but i get the following errors below"
ERROR: query failed: ALTER TABLE `tf_patients_tags` ADD KEY `pid_index` (`pid`)

Error: Table 'libreehr.tf_patients_tags' doesn't exist

/var/www/html/library/vendor/libreehr/Framework/Plugin/Migration/Migrate.php at 233:sqlStatement
/var/www/html/library/pluginsystem/PluginSystem.php at 140:upgradeFromDirective(-- -- Comment Meta Language Constructs: -- -- #IfNotTable -- argument: table_name -- b

[2019-12-07 14:06] OfficialOzioma commented on #1543
@Ngai-E can you help me here

[2019-12-07 14:34] Ngai-E commented on #1543
My guess is you are trying to install Librehealth EHR right? You do not need docker to install that. Please confirm what you want to accomplish.

[2019-12-14 17:17] #1329 closed

[2019-12-18 19:11] OfficialOzioma commented on #1543
**@Ngai-E** yes am trying to install **Librehealth EHR**, and i using docker, which is the best way to install it on my Local Pc

[2019-12-18 20:29] mhn94 commented on #1537
Looks like this issue has already been solved and merged. Can it be closed, @Ngai-E and @muarachmann?

[2019-12-18 21:36] muarachmann commented on #1543
Okay ... @OfficialOzioma this looks weird, try cleaning your db and starting afresh, also try to run sql_upgrade script before running the setup. Alternatively you can follow the docs here https://github.com/LibreHealthIO/lh-ehr/blob/master/INSTALL.md

[2019-12-18 21:42] muarachmann commented on #1537
Hmmmm not sure about this ... can you reference?

[2019-12-18 22:07] mhn94 commented on #1537
#1539

[2019-12-18 22:08] muarachmann commented on #1537
Thanks closing this

[2019-12-18 22:08] #1537 closed

[2019-12-18 22:30] #1462 closed

[2020-01-01 03:51] mhn94 commented on #1536
I've replicated the template settings (color theme and background colors) within my local app to mirror the app on the Docs server, and this issue doesn't exist in my local app, as shown below:
![local](https://user-images.githubusercontent.com/8771586/71637948-deb16f00-2c1f-11ea-8378-4e58c1af3b99.png)

[2020-01-03 04:53] mhn94 commented on #1518
From what I understand from the code, the column headings in this report are generated from specific tables and from fee_sheet_codes.php (if it has been uploaded).

I have looked through those specific tables within my local app's database and didn't see any mention of "producto." (The word "producto" does exist in the Spanish translation tables though.) My local app also didn't have a fee_sheet_c

[2020-01-03 09:36] #1499 closed

[2020-01-07 02:40] mhn94 commented on #1536
I've been playing around with the other colors and themes and found that this issue still persists, so I will be working on a solution!

[2020-01-08 13:13] NicoleG25 commented on #1210
Do you plan to address this vulnerability?
Note that [CVE-2018-1000645](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-1000645) was assigned.

[2020-01-08 13:17] NicoleG25 commented on #1212
Hi, do you plan to address this vulnerability? :)
Note that it appears [CVE-2018-1000647](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-1000647) was assigned.

[2020-01-08 13:18] NicoleG25 commented on #1211
Hi, do you plan to address this vulnerability? :)
Note that it appears CVE-2018-1000646](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-1000646) was assigned.

[2020-01-08 13:20] NicoleG25 commented on #1215
Hi :)
Note that it appears [CVE-2018-1000650](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-1000650) was assigned to this issue.
I'm assuming this was closed in 5faa99e ?

[2020-01-08 15:20] prondubuisi commented on #1215
Hello @NicoleG25 this is fixed already. Looks like you are interested in security would be very happy to have a chat, what is this all about [CVE-2018-1000650](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-1000650)

[2020-01-08 15:21] prondubuisi commented on #1215
@muarachmann can we close this?

[2020-01-08 15:22] prondubuisi commented on #1211
How does this assignment work?

[2020-01-09 06:50] NicoleG25 commented on #1211
Hi, I'm not quite sure I understand your question but nevertheless here is an explanation about [CVE'S](https://cve.mitre.org/about/index.html).
Was this what you were referring to ?

[2020-01-09 06:54] NicoleG25 commented on #1215
Gladly, I'll email you privately :)
Cheers!

[2020-01-24 18:01] mhn94 opened #1549 "Console Error Messages (in Clinical Stats Report Modules)"
A) **Outreachy Username:** maggie.negm
B) **Issue Title:** Console Error Messages (in Clinical Stats Report Modules)
C) **Report Date:** 01/21/2020
D) **Sites Affected:** Docs Site, NHANES
E) **OS/Browser Used:** Chrome browser in Linux OS
F) **EHR Workflow Module:** Clinical Reports: Demographics vs Diagnosis,
Lab Stats by Demographics
G) **Steps to Reproduce the Issue:**

1. Open the console ins

[2020-01-24 18:14] mhn94 opened #1550 "Patient List Creation Reports Don't Filter"
A) **Outreachy Username:** maggie.negm
B) **Issue Title:** Patient List Creation Filtering Incorrectly
C) **Report Date:** 01/21/2020
D) **Sites Affected:** Docs Site, NHANES
E) **OS/Browser Used:** Chrome browser in Linux OS
F) **EHR Workflow Module:** Report – Patient List Creation
G) **Steps to Reproduce the Issue:**

1. Select “Reports” from the main menu.
2. Select “Clients” under “Reports.”

[2020-02-13 04:35] mhn94 opened #1553 "Missing Form Items in Lab Overview"
A) **Outreachy Username:** maggie.negm
B) **Issue Title:** Missing Form Items in Lab Overview
C) **Report Date:** 2/10/2020
D) **Sites Affected:** Docs Site
E) **OS/Browser Used:** Chrome browser in Linux OS
F) **EHR Workflow Module:** Lab Overview
G) **Steps to Reproduce the Issue:**

1. Select a patient by opening a patient profile. (One way to do this is by using the “Patient Finder” tool.)
2.

[2020-02-16 22:11] mhn94 opened #1555 "Patient Issues Show Incorrect Dates When Left Blank"
A) **Outreachy Username:** maggie.negm
B) **Issue Title:** Patient Issues Show Incorrect Dates When Left Blank
C) **Report Date:** 2/14/2020
D) **Sites Affected:** Documentation Site, NHANES
E) **OS/Browser Used:** Chrome browser in Linux OS
F) **EHR Workflow Module:** Issues
G) **Steps to Reproduce the Issue:**

1. Go to a patient profile.
- There are many ways to do this. One way is to use the P

[2020-02-29 18:30] mhn94 opened #1556 "Missing Form Labels in Report Forms"
A) **Outreachy Username:** maggie.negm
B) **Issue Title:** Missing Form Labels in Report Forms
C) **Report Date:** 2/26/2020
D) **Sites Affected:** Docs Site, NHANES
E) **OS/Browser Used:** Chrome browser in Linux OS
F) **EHR Workflow Module:** Report – Services by Category, Report – Cash Receipts by Provider, Report – Receipts Summary, Report – Collections
G) **Steps to Reproduce the Issue:**

1.

[2020-02-29 18:38] mhn94 opened #1557 "Form Elements Are Not Properly Aligned"
A) **Outreachy Username:** maggie.negm
B) **Issue Title:** Form Elements Are Not Properly Aligned
C) **Report Date:** 2/27/2020
D) **Sites Affected:** Docs Site
E) **OS/Browser Used:** Chrome browser in Linux OS
F) **EHR Workflow Module:** Report – Receipts Summary
G) **Steps to Reproduce the Issue:**

1. Go to the “Receipts Summary” module (Reports > Financial >  Receipts Summary).
2. View form.

[2020-03-05 19:55] KoniKodes opened #1559 "New User Shows the wrong Passcode"
A)	Outreachy Username: KoniKodes
B)	Issue title: New User Shows the wrong Passcode
C)	Report Date: March 5, 2020
D)	Sites Affected: Documentation Site
E)	OS/ browser used: Google Chrome
F)	EHR Workflow module: Admin/New Users
G)	Steps to Reproduce the Issue:

1. As Admin, Add New User
2. And Save
3. Google Asks to Keep the User Name and Password
4. Click on the Eye to see the New User’s Password

[2020-03-05 20:09] muarachmann commented on #1559
Hi Toni,

I think this is the expected behavior the way the google password prompt
works is it tries to look through out the form submitted for a password
name field and eventually that is the admin password field rather than the
new users field which is given some other attribute as name.

I don’t think it is an issue or concern so far as your password are kept
wit you. Hope this clears your doub

[2020-03-05 20:16] KoniKodes commented on #1559
Thank you @muarachmann But it caused me to lock out one of the candidates.
I had to go back in and re-do it.

[2020-03-06 00:17] d3n23z opened #1560 "Modal height does not expand"
**A) Outreachy Username:** d3n23z
**B) Issue title:** Modal height does not expand
**C) Report Date:** March 5, 2020
**D) Sites Affected:** Documentation Site, NHANES
**E) OS/browser used:** Firefox on OS X
**G) Steps to Reproduce the Issue:**

1. Attempt to add a new facility, edit a facility, add a new user, or edit a user in Firefox.
2. If the fullscreen button shows up, click it.

**H) Expecte

[2020-03-06 00:48] d3n23z opened #1561 "Button to expand "Add Facility" modal disappears in Chrome"
**A) Outreachy Username:** d3n23z
**B) Issue title:** Button to expand "Add Facility" modal disappears in Chrome
**C) Report Date:** March 5, 2020
**D) Sites Affected:** Documentation Site, NHANES
**E) OS/browser used:** Chrome on OS X
**G) Steps to Reproduce the Issue:**

1. Go to the Documentation Site or NHANES in Chrome.
2. Hover over "Administration" in the menu and click to open the "Facilit

[2020-03-06 15:59] Ngai-E commented on #1560
ok @i8ag7z . This time is clear cause I only noticed it on Firefox. Please can you send a fix if you can? And add test for other major browsers like safari and edge too.

[2020-03-06 16:11] muarachmann commented on #1560
Looking forward to this :)

On Fri, 6 Mar 2020 at 16:59 Ngai Elizabeth <notifications@github.com> wrote:

--

*MUA N. LAURENT*: Software Engineer
Akivas Inc. <https://akivas.com/>
Akwa, Douala,CM 00237 | 174 Royal Rd, Cape Town, WC 7405, SA
Phone: (237) 670-518-086

[2020-03-06 16:21] Ngai-E commented on #1561
please fix and test for other browsers.

[2020-03-09 01:35] muarachmann commented on #1559
Closing this ...

[2020-03-09 01:35] #1559 closed

[2020-03-09 01:47] muarachmann commented on #1561
Hi @i8ag7z , @Ngai-E I am on chrome OS X and can't seem to reproduce this bug .. here is my screen

Maybe more details about screensize etc may be useful here
<img width="1280" alt="Screen Shot 2020-03-09 at 2 46 36 AM" src="https://user-images.githubusercontent.com/16350814/76176263-39cb8900-61b0-11ea-80f0-e1e6ca33ca09.png">

[2020-03-09 06:00] i8ag7z commented on #1561
This does seem to have something to do with the tab width. When I set the modal width (iziModal settings in facilities.php) to a number much lower than the current one (700) the button appears at lower widths, but unfortunately that makes the modal too small.

[2020-03-09 07:14] Ngai-E commented on #1561
Yeah me too. But he insisted.

On Mon, Mar 9, 2020, 2:47 AM muarachmann <notifications@github.com> wrote:

[2020-03-09 19:25] #1561 closed

[2020-03-13 16:48] ahanipeitra1994 opened #1564 "Issue report on LibreHealth Updater Administration modal"
A)   **Outreachy**  Username : Peitra.
B)   **Issue Title**: The Updater Administration modal not  noticeable.
C)   **Report Date**:  03/13/2020.
D)  **Sites Affected:** Local  Instance,
E)   **OS/browser used**:  windows10/ Mozilla FireFox.
F)   **EHR Work Flow Module**: Updater  icon -> Updater  Administration
G)  **Steps to Reproduce the Issue:**
1)	Hover over the  “ Updater Icon” bottom right

[2020-03-14 13:45] ahanipeitra1994 opened #1565 "Patience Insurance poping up without being clicked."
A) Outreachy  Username : Peitra.
B) Issue Title: Patience Insurance popping up without being clicked.
C)  Report Date:  03/14/2020.
D) Sites Affected: Local  Instance,
E)  OS/browser used:  windows10/ Mozilla FireFox.
F)  EHR Work Flow Module: Patience/client-> Finder->Edit(Demographics).
G)  Steps to Reproduce the Issue:
1)	Click on  “Patient/Client “ on the main menu.
2)	Click on “ Finder” .
3)

[2020-03-14 21:00] mhn94 opened #1566 "'Find Available' button outputs an infinite loop of appt times"
A) **Outreachy Username:** maggie.negm
B) **Issue Title:** Find Available Calendar Bug
C) **Report Date:** 03/14/2020
D) **Sites Affected:** Docs Site, NHANES
E) **OS/Browser Used:** Chrome browser in Linux OS
F) **EHR Workflow Module:** Calendar
G) **Steps to Reproduce the Issue:**

1. Open the Calendar module if it isn't already opened.
2. Click in a column under a provider's name.
3. Select the

[2020-03-14 21:25] muarachmann commented on #1566
Hmmmm @mhn94 weird. Surely a db error, cause locally I have it output a correct stuff and also when was this tested

<img width="1280" alt="Screen Shot 2020-03-14 at 10 24 32 PM" src="https://user-images.githubusercontent.com/16350814/76690668-9ca2a180-6642-11ea-9548-0f4b2481216d.png">

[2020-03-14 21:27] muarachmann commented on #1566
This could be but massively depends on how the time was inputed by the user maybe we should just avoid errors but good catch

[2020-03-14 21:53] mhn94 commented on #1566
@muarachmann it could be a DB error! The error exists on both the Docs and NHANES servers and locally for me. I tested my solution today.

[2020-03-14 22:13] muarachmann commented on #1564
I in particular ... not sure is standard rely on my notifications being shown on the **top-right, bottom-right.** . Don't know if this is any issue to others. Nevertheless a global for this should do

[2020-03-14 23:15] robbyoconnor commented on #1564
No. You cannot propose a project like this. Additionally this isn't the place to do it.

[2020-03-14 23:16] robbyoconnor commented on #1564
Did you discuss this before posting?

[2020-03-14 23:18] robbyoconnor commented on #1565
Did you discuss this before posting?

[2020-03-14 23:22] robbyoconnor commented on #1565
Also as reported this issue is actually not useful

[2020-03-14 23:22] #1565 closed

[2020-03-14 23:29] robbyoconnor commented on #1543
I think I know what caused this -- I tried to make it easy to get started -- but I should add "run sql_upgrade" after set up to the docs.

[2020-03-14 23:40] muarachmann commented on #1543
Exactly!

[2020-03-14 23:43] muarachmann commented on #1566
I mean when did you simulate the issue?

On Sat, Mar 14, 2020 at 10:54 PM Maggie Negm <notifications@github.com>
wrote:

--

*MUA N. LAURENT*: Lead Software Engineer
Akivas Inc. <https://akivas.com/>
Akwa, Douala,CM 00237 | 174 Royal Rd, Cape Town, WC 7405, SA
Phone: (237) 670-518-086

[2020-03-15 03:41] mhn94 commented on #1566
Oh, I see what you're saying, so a better solution would be to validate the input before sending it to the back-end via URL?

[2020-03-15 03:48] mhn94 commented on #1566
It depended on which server I was using. On my local server, I tested two instances:

- When the provider is in the office, appropriate times should show that also depend on the input. For example, if provider X is in the office from 9am-5pm and the user is being scheduled for a 15 min appt, the results should show available times in 15 min intervals that provider X will be in the office.

- If th

[2020-03-16 11:28] xurror commented on #1556
I'll like to work on this

[2020-03-16 11:56] xurror opened #1568 "remove underscore in section add "medical problem""
Steps to Reproduce the Issue:

1. Go to a patient profile.
2. using Patient Finder (“Patient/Client” from the main menu > “Finder” under “Patient/Client”) and choose a patient.
3. Select “Issues” under the patient’s name.
4. Create any issue by clicking the “Add" next to "medical problem"
The title of the modal contains an underscore

[2020-03-16 13:11] realJema commented on #1217
I will like to work on this issue
Can I get the sql file which generates this error?

[2020-03-16 13:14] realJema commented on #1213
I will like to be assigned this issue

[2020-03-16 13:21] muarachmann commented on #1213
Please go ahead

On Mon, 16 Mar 2020 at 14:14 Jema <notifications@github.com> wrote:

--

*MUA N. LAURENT*: Lead Software Engineer
Akivas Inc. <https://akivas.com/>
Akwa, Douala,CM 00237 | 174 Royal Rd, Cape Town, WC 7405, SA
Phone: (237) 670-518-086

[2020-03-16 16:10] AsaoluElijah commented on #1568
Hi @xurror can i work on this?

[2020-03-16 17:46] xurror commented on #1568
Suit yourself

[2020-03-16 17:47] xurror commented on #1555
@mhn94  I'd like to work on this

[2020-03-17 00:25] mhn94 commented on #1555
Hello @xurror ! Feel free to work on it.

[2020-03-17 16:10] xurror commented on #1472
@aethelwulffe I would like to work on this.
Please could you guide me on how to approach this?
Also, I wish to know the steps to reproduce the error

[2020-03-17 21:43] ahanipeitra1994 opened #1573 "Insurance form appears shortly then disappears in Edit Demographics."
A) **Outreachy**  Username. peitra.
B) **Issue Title**: Insurance form appears shortly then disappears in Edit Demographics.
C)  **Report Date**:  03/17/2020.
D) **Sites Affected**: Local Instance.
E)  **OS/browser used**: windows 10/Mozilla Firefox.
F)  **EHR Workflow Module**: Patient Profile.
G)  **Steps to Reproduce the Issue**:
1)	On the navigation menu, click on ‘Patient/Client.’
2)	Select ‘

[2020-03-18 13:19] Ngai-E commented on #1573
Please fix it. If you can.

[2020-03-18 13:57] #1560 closed

[2020-03-18 16:48] xurror commented on #1553
@mhn94, I sent a PR for this. I have rectified the console errors but I lack dummy data for functiona; review. Please can you review?
https://github.com/LibreHealthIO/lh-ehr/pull/1574

[2020-03-18 16:54] xurror commented on #1476
I would like to work on this.
@muarachmann, can you guide me on how to solve this?

[2020-03-18 17:35] muarachmann commented on #1476
Please this will be for this GSoC pick another isuee

On Wed, Mar 18, 2020 at 5:55 PM Yemdjih Kaze Nasser <
notifications@github.com> wrote:

--

*MUA N. LAURENT*: Lead Software Engineer
Akivas Inc. <https://akivas.com/>
Akwa, Douala,CM 00237 | 174 Royal Rd, Cape Town, WC 7405, SA
Phone: (237) 670-518-086

[2020-03-18 20:31] #1553 closed

[2020-03-18 21:02] realJema commented on #1340
I will like to propose a fix to this issue

[2020-03-19 12:36] ahanipeitra1994 opened #1576 "Text on ‘Cancel’ button in Edit 'Demographics' not visible."
A) **Outreachy  Username**: peitra
B) **Issue Title**:  Text on ‘Cancel’ button in Edit Demographics not visible
C)  **Report Date:**   03/18/2020
D) **Sites Affected**:  Local Instance
E)  **OS/browser used**:  windows 10, Mozilla FireFox, Chrome
F)  **EHR Work Flow Module**:  Patient Finder
G)  **Steps to Reproduce the Issue:**
1)  Hover over ‘Administration’ on the navigation bar.
2) On the dro

[2020-03-19 13:31] ahanipeitra1994 opened #1577 "Medical Problem tab modal shaking."
A) **Outreachy  Username**: peitra
B) **Issue Title:** ‘Medical Problem tab’ modal shaking
C)  **Report Date**:  03/18/2020
D) **Sites Affected**: Local Instance
E)  **OS/browser used**: Windows 10/Mozilla Firefox
F)  **EHR Workflow Module**: Patient Finder
G)  Steps to Reproduce the Issue:
1)	On the navigation menu, click on ‘Patient/Client.’
2)	Select ‘Finder’ from the dropdown.
3)	A tap opens c

[2020-03-19 17:35] d3n23z opened #1578 "Clicking on "Search or Add Patient" form labels do not highlight input fields"
**A) Outreachy Username:** d3n23z
**B) Issue Title:** Clicking on "Search or Add Patient" form labels do not highlight input fields
**C) Report date:** 3/17/2020
**D) Sites Affected:** Local instance
**E) OS/browser used:** Firefox on OS X
**F) EHR Workflow Module:** Search or Add Patient
**G) Steps to Reproduce the Issue:**

1. Open the “Search or Add Patient” module (Patient/Client -> Add New/Se

[2020-03-20 09:25] Ngai-E commented on #1577
It should be a firefox issue with the izi modal plugin. Try looking into it.

[2020-03-20 09:26] Ngai-E commented on #1576
This is really killing us now. Please fix it.

[2020-03-20 09:27] Ngai-E commented on #1578
For consistency with the rest of the forms in the EHR, we intend on ignoring this for now. Thanks anyway.

[2020-03-20 09:54] muarachmann commented on #1577
Looking forward to this in particular.
Cheers,
Mua

On Fri, 20 Mar 2020 at 10:25 Ngai Elizabeth <notifications@github.com>
wrote:

--

*MUA N. LAURENT*: Lead Software Engineer
Akivas Inc. <https://akivas.com/>
Akwa, Douala,CM 00237 | 174 Royal Rd, Cape Town, WC 7405, SA
Phone: (237) 670-518-086

[2020-03-20 13:38] muarachmann commented on #1340
Testing this ....

[2020-03-20 14:59] #1578 closed

[2020-03-20 16:10] muarachmann commented on #1340
I think this is fixed and was address by @punwai , @realJema did you try to simulate this before sending a patch

[2020-03-20 18:27] realJema commented on #1536
Hi,
I will like to work on this issue

[2020-03-22 12:14] MathurinNkenfack commented on #1568
Hi @xurror  solved the problem, should I do a pull request?

[2020-03-24 12:15] wisdommatt commented on #1495
@robbyoconnor i have confirmed the vunerabilities found on https://github.com/zeropwn/vulnerability-reports-and-pocs/blob/master/OpenEMR%20-%20Vulnerability%20Report.pdf to be true. There are lots of critical vunerabilities on LibreHealth EHR and i would like to fix them as my GSOC 20 project.

e.g "SELECT pc_duration FROM libreehr_postcalendar_categories WHERE pc_catid = '$input_catid'"

I would

[2020-03-24 12:56] uwaiszaki opened #1589 "Error in docker setup"
I am getting this error while running localhost:8000
![gs1](https://user-images.githubusercontent.com/32809190/77427723-e0449a80-6dfc-11ea-853b-0a965ff26def.png)
![gs2](https://user-images.githubusercontent.com/32809190/77427742-e89cd580-6dfc-11ea-84c4-591fbdd15c9c.png)

[2020-03-24 12:57] uwaiszaki commented on #1589
@robbyoconnor Can you please help me solve this error.

[2020-03-24 14:31] muarachmann commented on #1495
Head over to our chats and Forum and see what is required.

On Tue, 24 Mar 2020 at 13:15 wisdommatthew <notifications@github.com> wrote:

--

*MUA N. LAURENT*: Lead Software Engineer
Akivas Inc. <https://akivas.com/>
Akwa, Douala,CM 00237 | 174 Royal Rd, Cape Town, WC 7405, SA
Phone: (237) 670-518-086

[2020-03-25 12:09] ahanipeitra1994 opened #1590 "The “Add Role” form appears cramped up at top of modal."
A) Outreachy  Username : peitra
B) Issue Title: The  “Add Role” form appears cramped up at top of modal
C)  Report Date:  03/20/2020
D) Sites Affected: Local  Instance
E)  OS/browser used:  Windows 10/ Mozilla Firefox
F)  EHR Work Flow Module: Administration
G)  Steps to Reproduce the Issue:
1)	Click on  “Administration “ on the main menu.
2)	Click on “ Manage Roles.”
3)	Click on “ Add Roles.”
4)

[2020-03-25 17:59] MathurinNkenfack commented on #1212
Hi please stilll looking where to simulate this issues but it seems this functionality is not used

[2020-03-25 22:15] wisdommatt commented on #1372
@robbyoconnor I would like to work on this

[2020-03-25 22:25] wisdommatt commented on #1224
i would like to be assigned this issue

[2020-03-25 22:41] muarachmann commented on #1224
Go ahead

On Wed, 25 Mar 2020 at 23:26 wisdommatthew <notifications@github.com> wrote:

--

*MUA N. LAURENT*: Lead Software Engineer
Akivas Inc. <https://akivas.com/>
Akwa, Douala,CM 00237 | 174 Royal Rd, Cape Town, WC 7405, SA
Phone: (237) 670-518-086

[2020-03-26 00:46] wisdommatt commented on #1224
it also accepts upload of php files

i think it would be more secured to restrict upload files to just some file formats

[2020-03-26 00:53] wisdommatt commented on #1372
i got this error

    Fatal error: Cannot use result of built-in function in write context in
    C:\xampp2\php\pear\Archive\Tar.php on line 639

in file interface/main/backup.php

[2020-03-26 02:26] wisdommatt commented on #1224
I have tested the remote code execution issue.
.htaccess blocks file access to the uploaded files.

![Screenshot (268)](https://user-images.githubusercontent.com/40186491/77603802-4884a080-6f11-11ea-94b0-f36537955741.png)

@C-Sto i think why yours went through might be because the site did not set up completely

[2020-03-26 02:50] wisdommatt commented on #1210
`This vulnerability has already been fixed
--- the file for fetching local files is now manage_site_files.php
--- check manage_site_files.php on line 46
// Sanity check to prevent evildoing.
if (!in_array($form_filename, $my_files)) $form_filename = '';`

[2020-03-26 02:53] wisdommatt commented on #1211
From my end i found out that the file that writes

`**This vulnerability has already been fixed --- the file for fetching local files is now manage_site_files.php --- check manage_site_files.php on line 46 // Sanity check to prevent evildoing. if (!in_array($form_filename, $my_files)) $form_filename = '';**`

A check has already been made for files a user can write

[2020-03-26 17:08] attritionorg commented on #1210
@wisdommatt Can you link to the fixing commit please?

[2020-03-27 14:09] Ngai-E commented on #1590
waiting for this, please.

[2020-03-27 14:11] #1576 closed

[2020-03-27 17:15] wisdommatt commented on #1210
The issue has been opened since 2018 and if you cross check the code now you will notice it has already been fixed.

[2020-03-30 00:21] ahanipeitra1994 opened #1594 "The Edit Amendments Tab Has No Back Button."
A) **Outreachy**  Username: Peitra
B) **Issue Title:** The Edit Amendments Tab Has No Back Button
C)  **Report Date:**  03/29/2020
D) **Sites Affected**: Local Instance
E)  **OS/browser Used**: Windows 10/Mozilla FireFox
F)  **EHR Work Flow Module:** Patients/Client
G)  **Steps to Reproduce the Issue:**
1)	Hover over the  “Patient/Client” on the navigation bar.
2)	Click on “Finder.”
3)	Click on a

[2020-03-30 09:37] Falence commented on #1212
Hello, I would love to work on this

[2020-03-30 22:16] #1590 closed

[2020-03-30 22:45] Ngai-E commented on #1594
I noticed even the Prescription tab lacks a back button, kindly do for both.

[2020-03-31 02:01] #1568 closed

[2020-03-31 02:06] robbyoconnor commented on #1495
There's even more that we know exist.

[2020-03-31 08:20] laxmikandel opened #1596 "Add button won’t add options"
A)	Outreachy Username: Laxmi

B)	Issue title: Add button won’t add options.
C)	Report Date: 3/30/2020
D)	Sites Affected: Local Instance
E)	OS/ browser used: Windows 10, Mozilla Firefox.

F)	EHR Workflow module: Patient/Client

G)	Steps to Reproduce the Issue:
1.	Hover over the “Patient/Client” on the navigation bar.
2.	Click on “Add New/Search.”
3.	Search existing patient.
4.	Click “Edit” on Demog

[2020-03-31 08:43] Ngai-E commented on #1596
Thanks can you fix it?

[2020-03-31 08:50] laxmikandel commented on #1596
Yes

[2020-04-02 01:08] robbyoconnor commented on #1589
You're probably running MySQL locally. I've tested this extensively. Be sure to uninstall or stop all instances on your system. This isn't a bug.

[2020-04-02 01:08] #1589 closed

[2020-04-02 01:10] #1543 closed

[2020-04-02 01:10] robbyoconnor commented on #1255
Closing this.

[2020-04-02 01:10] #1255 closed

[2020-04-03 15:55] ahanipeitra1994 opened #1601 "The Add Facilities Tab Appears Half."
A) Outreachy  User Name: Peitra
B) **Issue** Title: The Add Facilities Tab Appears Half
C)  **Report Date:**  04/01/2020
D) **Sites Affected**: Local Instance
E)  OS/browser **used:** Windows 10/Mozilla FireFox
F)  **EHR Work Flow Module:** Facilties
G)  **Steps to Reproduce the Issue:**
1)	Hover over the  “Administration” on the navigation bar.
2)	Click on “ Facilities.”
3)	Click on the “Add” but

[2020-04-03 17:20] muarachmann commented on #1601
This should be fixed for all instances didn’t you report this? ...

On Fri, 3 Apr 2020 at 16:55 ahanipeitra1994 <notifications@github.com>
wrote:

--

*MUA N. LAURENT*: Lead Software Engineer
Akivas Inc. <https://akivas.com/>
Akwa, Douala,CM 00237 | 174 Royal Rd, Cape Town, WC 7405, SA
Phone: (237) 670-518-086

[2020-04-03 17:52] meshubhangi opened #1602 "Buttons Style In Message and Reminder Center"
**A) Outreachy Username:** shubhangi.pandey
**B) Issue title:** Buttons Style In Message and Reminder Center
**C) Report Date:** 31st March, 2020
**D) Sites Affected:** Local Instance
**E) OS/ browser used:** Mozilla Firefox
**F) EHR Workflow module:** Message And Reminder Center
**G) Steps to Reproduce the Issue:**

- Login as Admin
- Click on “Messages” tab on the top navbar
- At the bottom of “

[2020-04-03 18:08] Ngai-E commented on #1602
Thanks please fix it if you can.

[2020-04-04 15:02] meshubhangi commented on #1602
Yes, I can.

[2020-04-05 18:53] Ngai-E commented on #1601
This was already reported here #1590 by you and your fix was global just pull the latest code.

[2020-04-07 11:04] anitakay opened #1607 "Missing Navbar in Administrator dashboard"
A) Outreachy Username: kithama
B) Issue title: Missing Navbar Menu for New Administrator dashboard
C) Report Date: 04/06/ 2020
D) Sites Affected: Local Instance
E) OS/ browser used: Mozilla Firefox
F) EHR Workflow module: Administrator Dashboard
G) Steps to Reproduce the Issue:
•	Login into the default Administrator’s  Dashboard (The one created during installation).
•	Create a new User account wi

[2020-04-07 11:08] #1601 closed

[2020-04-07 11:55] #1607 closed

[2020-04-08 00:30] C-Sto commented on #1224
That sounds accurate - I had a bunch of issues in getting it set up and working.

I suspect that if you can upload .htaccess files to that folder then you would be able to override the restrictions, though.

[2020-04-10 19:25] attritionorg commented on #1210
@wisdommatt There are no commits for import_template.php since the original commit (half a year before this issue). The latest version released is 2.0.0 in 2017. Searching for terms from this ticket that might appear in commit notes yields nothing.

There is no readily available way to figure out where this was fixed, that's why I asked for a pointer.

[2020-04-12 06:21] NicoleG25 commented on #1210
@wisdommatt , following @attritionorg reply. there is indeed no way to pinpoint where the issue was fixed and we were hoping that you could steer us in the right direction.

Cheers and have a nice weekend !

[2020-05-03 18:15] mhn94 commented on #1549
PR was accepted and merged: https://github.com/LibreHealthIO/lh-ehr/pull/1552

[2020-05-03 18:15] #1549 closed

[2020-05-03 18:25] #1525 closed

[2020-05-03 18:49] #1556 closed

[2020-05-03 18:49] #1557 closed

[2020-05-09 03:43] prondubuisi commented on #1215
Hello @muarachmann can this issue be closed since it is fixed already? I am looking at picking up more security related issues in the coming days!

[2020-05-09 03:47] #1401 closed

[2020-05-12 11:19] Paras2Bhardwaj commented on #1607
i want to solve this issue

[2020-05-12 11:23] Paras2Bhardwaj commented on #1602
i want to do this

[2020-05-12 16:39] anitakay commented on #1607
The issue was resolved

On Tue, May 12, 2020, 2:19 PM Paras2Bhardwaj <notifications@github.com>
wrote:

[2020-05-26 20:49] #1531 closed

[2020-05-26 20:50] mhn94 commented on #1531
Solved w/ PR [1535](https://github.com/LibreHealthIO/lh-ehr/pull/1535)

[2020-05-27 01:47] mhn94 commented on #1458
Update:
The "Print Selected Statements" button doesn't exist in the UI anymore.
![EOBPosting](https://user-images.githubusercontent.com/8771586/82966839-c90b6000-9f99-11ea-95e7-2ad48fbf8a60.png)

However, the "PDF Download Selected Statements" button shown above doesn't work. When you select some results from the table then select the "PDF Download Selected Statements" button, a blank screen shows

[2020-05-27 02:02] mhn94 commented on #1465
@Ngai-E I see the "Inventory" menu item in my local instance as shown below:
![Inventory](https://user-images.githubusercontent.com/8771586/82968896-4fc13c80-9f9c-11ea-973e-d4320609b590.png)

Can you check again, so we can determine if this issue still needs to be resolved?

[2020-07-15 21:37] Rubaaw opened #1626 "Remove the "Disable Old Metric Vitals Form" from Globals->Locale"
A) **Outreachy Username:** Ruba
B) **Issue title:** Remove the "Disable Old Metric Vitals Form" from Globals/Locale
C) **Bug report date:** 07/16/2020
D) **Sites Affected:** Local Instance
E) **OS/ browser used:** Mozilla Firefox, Google Chrome on Windows 10
F) **Which workfow module in LHEHR**: Administration/ Globals
G) **Steps to reproduce the bug:**

1. Login as Admin
2. Select “Administration

[2020-07-29 22:03] ahanipeitra1994 opened #1630 "Calendar End Date And Start Date Display Any Date Entry"
A) **Outreachy  User Name:** Peitra
B) **Issue Title**: The Calendar End Date And Start Date Display Wrongly
C)  **Report Date:**  07/29/2020
D) **Sites Affected**: Local Instance
E)  **OS/browser used**: Windows 10/Mozilla FireFox /chrome
F)  **EHR Work Flow Module:** Calendar
G)  **Steps to Reproduce the Issue:**
1)	Click on “Calendar” on the navigation bar if it is not already open by default
2

[2020-07-31 01:18] muarachmann opened #1633 "BUG - Panels not showing Full screen on Chrome"
Recently i have a werid screen and looks like it only affects chrome.  The panels no longer occupy the screen as it use to looks like it keeps hanging see below. On other browsers it works fine ...

<img width="1280" alt="Screen Shot 2020-07-31 at 2 16 03 AM" src="https://user-images.githubusercontent.com/16350814/88989556-d44d7580-d2d3-11ea-9af8-7726ce2b904d.png">

[2020-08-20 06:03] Roushangopal opened #1642 "Installation Problem"
![Screenshot from 2020-08-20 11-30-46](https://user-images.githubusercontent.com/55797406/90722800-24b76200-e2d9-11ea-993f-414df4aa9a97.png)
While installing the website on the local server it shows errors while setting it up,please help me

[2020-08-26 08:34] muarachmann commented on #1642
Please turn error reporting off as stated on the readme also what version of PHP are you on. Currenly 7.2 is a good to go. 7.4 has some backward compatibility issues. Let me know if you have any other worries

[2020-11-19 18:58] ayush0x00 commented on #1642
The step 3 completion is taking much longer time (It is in this step since last 15 min). No error is being thrown. Is it normal?

![Screenshot from 2020-11-20 00-26-29](https://user-images.githubusercontent.com/44584229/99710917-24408a00-2ac7-11eb-975a-5bf0429200e7.png)

[2020-11-19 19:36] ayush0x00 opened #1644 "setup freezes while configuring and connecting to MySQL"
The step 3 of LibreHealth EHR setup, is taking a lot of time. No errors are being shown during the process.
PHP 7.2.24-0
ubuntu0.18.04.7
mysql  Ver 14.14

![Screenshot from 2020-11-20 01-04-35](https://user-images.githubusercontent.com/44584229/99715091-6b7d4980-2acc-11eb-8ae5-907f69933e9d.png)

[2020-11-20 02:38] muarachmann commented on #1644
Hi ayush, can you verify mysql is up and running and maybe not being used by another port. Also what setup are u using, docker?

[2020-11-20 21:01] ayush0x00 commented on #1644
I have done `service mysql start` and verified that mysql is running.
Also, I am not using any containerized methods. Just following the simple readme mentioned.

[2020-11-20 21:03] muarachmann commented on #1644
I will perhaps need the logs to see what is going on.

On Fri, Nov 20, 2020 at 10:01 PM Ayush Tiwari <notifications@github.com>
wrote:

--

*MUA N. LAURENT*: Lead Software Engineer
Akivas Inc. <https://akivas.com/>
muarachmann@akivas.com
Makepe Rhone Poulenc, Douala

[2020-11-20 21:04] ayush0x00 commented on #1644
Sure...where would i find the logs if nothing is being reported?
Shouldn't there be a timeout when the site is unable to connect to MySQL

[2020-11-20 21:07] muarachmann commented on #1644
check in `var/log` also provide your apache logs or nginx whatever the case

On Fri, Nov 20, 2020 at 10:05 PM Ayush Tiwari <notifications@github.com>
wrote:

--

*MUA N. LAURENT*: Lead Software Engineer
Akivas Inc. <https://akivas.com/>
muarachmann@akivas.com
Makepe Rhone Poulenc, Douala

[2020-11-20 21:19] ayush0x00 commented on #1644
I think there is a problem with the apache2 server. The mySQL error log is empty. However, there are quite a bit errors in the apache2 log. Hers's what i found in the error log of apache2.

![Screenshot from 2020-11-21 02-47-52](https://user-images.githubusercontent.com/44584229/99850860-23c9f100-2ba4-11eb-9f96-010b05a74522.png)

[2020-11-20 21:22] muarachmann commented on #1644
Those are just notices and can be ignored since this considers php5 and the
codebase is quite old.  try to look for potential `PHP ERROR` and let me
know

On Fri, Nov 20, 2020 at 10:19 PM Ayush Tiwari <notifications@github.com>
wrote:

--

*MUA N. LAURENT*: Lead Software Engineer
Akivas Inc. <https://akivas.com/>
muarachmann@akivas.com
Makepe Rhone Poulenc, Douala

[2020-11-20 21:27] ayush0x00 commented on #1644
`[Sat Nov 21 02:46:40.138394 2020] [php7:error] [pid 2027] [client ::1:48582] PHP Fatal error:  Uncaught Error: Call to undefined function mysqli_connect() in /var/www/html/lh-ehr/library/classes/Installer.class.php:640\nStack trace:\n#0 /var/www/html/lh-ehr/library/classes/Installer.class.php(97): Installer->connect_to_database('localhost', 'root', 'MySQL123!@#', '3306')\n#1 /var/www/html/lh-ehr/

[2020-11-20 21:31] muarachmann commented on #1644
Yes @ayush0x00 this is valuable info, now that clearly tells me the mysql and maybe other extensions are not installed in your php. Please make sure all these extensions installed see here - https://github.com/LibreHealthIO/lh-ehr/blob/master/INSTALL.md#setup

You can install them by doing `apt-get install php72-mysqli` or what ever be the case... Hope this helps

[2020-11-20 21:33] ayush0x00 commented on #1644
Yup, i got this error..i'll let you know if it isn't resolved. Thanks for help.

[2020-11-20 22:34] #1644 closed

[2020-11-21 11:04] ayush0x00 commented on #1495
The image upload section while registering a new patient, has no check over file type and size. One can upload batch files easily.
This should be restricted to only image files and with max 5 mb size for security purposes.

[2020-11-21 11:11] muarachmann commented on #1495
Hi Ayush @maggienegm  and @Ngai-E  have worked hard on solving issues like this for the past few months, you can see that on the PR section. While dev is turned towards porting this to Laravel for a more robust, flexible, modern and secure application. If you have prior experience with that, then it will be a good starting point for contributions. See - https://forums.librehealth.io/t/librehealth-

[2020-11-21 11:36] ayush0x00 commented on #1495
I'll probably switch to laravel version. The current one is quite bulky and with ample of security flaws. Plus, php is no longer used nowadays.

[2020-11-21 11:50] muarachmann commented on #1495
The laravel project is still in development and needs a good understanding of the current system. So I will still say u stick around the current codebase to understand it

[2020-11-21 17:47] ayush0x00 commented on #1630
@muarachmann kindly close this issue as it has already been fixed. There are a few more issues which are open despite being fixed. This just increases the number of open issues to work on.

[2020-11-21 19:40] #1630 closed

[2020-11-25 11:56] rohanxyzg commented on #1299
I would like to work on this issue!

[2020-11-25 11:57] rohanxyzg commented on #1458
I would like to work on this issue!

[2020-11-25 11:57] rohanxyzg commented on #1379
Hi! I would like to work on this issue.

[2021-02-23 06:52] RiyaJ2311 opened #1649 "Making footer follow user trends"
**What is the growth opportunity you want to see solved?**
When confused, I look for footers. They are most easy to navigate whenever we get lost, so I consider footers equally important as headers.
[Footers](https://icons8.com/articles/website-footer-design/) is the mirror of the header and conveys additional useful information.
The red marked square shows the part, I am talking about.
![image](h

[2021-02-25 03:38] RiyaJ2311 opened #1650 "Non-uniform Spacing"
On the homepage of [Librehealth](https://librehealth.io/), the slider is non-uniform.
![image](https://user-images.githubusercontent.com/48223671/109097882-3c6b1980-7746-11eb-8266-0dd7c30a12c7.png)
![image](https://user-images.githubusercontent.com/48223671/109097904-47be4500-7746-11eb-8106-1568aae9ffe9.png)

**Why is it important?**
Nonuniformity issues can hamper the design and review processes,

[2021-06-30 01:29] iamsuyashpatel07 opened #1658 "WINDOWS_INSTALL.md need to update"
1)
 ## below 2 colored lines are removed from php configuration setting
<img width="629" alt="Depracated" src="https://user-images.githubusercontent.com/59373438/123887086-79525180-d96e-11eb-9c05-9dc76854c545.png">

2) ##step_4.png need to update because there are certain changes You can differentiate with there images.
#Old
![Step_4](https://user-images.githubusercontent.com/59373438/123887962-18

[2021-06-30 01:38] iamsuyashpatel07 commented on #1658
let me Know, show that I can fix it.

[2021-06-30 10:22] muarachmann commented on #1658
@iamsuyashpatel07 I still don't get what the issue might be? any errors encountered?

[2021-07-03 16:47] iamsuyashpatel07 commented on #1658
@aethelwulffe Yes you're right actually problem was from side.

[2021-07-19 02:49] #1658 closed

[2021-07-19 03:00] muarachmann commented on #1650
Please feel free to report here - https://gitlab.com/librehealth/lsc/librehealth.io

[2021-07-19 03:00] #1650 closed

[2021-07-19 03:00] #1642 closed

[2021-07-19 03:00] #1633 closed

[2021-09-19 19:28] td84mn opened #1660 "Help removing deprecated message"
How can I remove the Deprecated message shown in the attached screenshot.
![Screenshot (112)](https://user-images.githubusercontent.com/90730956/133940363-4c02e5ae-17cb-4389-a429-68a0220f67ae.png)

[2022-09-21 22:31] rsr44 opened #1666 "Browser gives short tabs on Windows"
After signing into librehealth in windows, the tabs do not appear long and do not fill the entire screen.
<img width="1438" alt="Screen Shot 2022-09-21 at 6 21 21 PM" src="https://user-images.githubusercontent.com/98126740/191621807-eb012d9e-0342-46c7-8c72-e6d99a890767.png">

[2022-09-26 18:49] #1666 closed

[2022-10-02 13:52] akshpatri opened #1669 "Calendar buttons (Options)"
Step 1: Clicked on Calendar on the top left
Step 2: I went through all the features, however, I could not find any problem in particular
Step 3: Visualization can be changed, in the button aspects, i.e, the button options that say 'today', 'print', 'search', 'add', etc. can be modified by choosing different color combinations.

[2022-10-04 14:17] SharonA10 opened #1671 "LH-EHR: "Edit" button on the Amendment tab freezes"
When the user clicks on the "Edit" button on the Amendment tab, none of the other buttons work.
Steps to replicate the issue:

1. Log onto the LibreHealth application
2. Click on the "Patient/Client" tab
3. Click on "Finder" and select a patient to work on
4. This will open up the patient demographic page
5. Scroll down and click on the "Edit" button besides Amendment. This will end by freezing al

[2022-10-04 14:19] SharonA10 opened #1672 "LH-EHR: "Edit" button on the Prescription freezes"
When the user clicks on the "Edit" button on the Prescription tab, none of the other buttons work.
Steps to replicate the issue:

1. Log onto the LibreHealth application
2. Click on the "Patient/Client" tab
3. Click on "Finder" and select a patient to work on
4. This will open up the patient demographic page
5. Scroll down and click on the "Edit" button besides Prescription. This will end by freez

[2022-10-04 14:20] SharonA10 opened #1673 "LH-EHR: "Add" button on the "Allergies", "Medications", "Surgeries" and "Dental Issues" results in the movement of the screen"
When the user clicks on the "Add" button on the "Allergies", "Medications", "Surgeries" and "Dental Issues" tab, the screen tends to move up and down.
Steps to replicate the issue:

1. Log onto the LibreHealth application
2. Click on the "Patient/Client" tab
3. Click on "Finder" and select a patient to work on
4. This will open up the patient demographic page
5. Click on the "Edit" button besides

[2022-10-04 14:22] SharonA10 opened #1674 "LH-EHR: Add a back button on the "Transaction" page"
When the user clicks on the "Transaction" tab on the patient's summary tab, there is no "Back" button on the screen for the user to exit the page.
Steps to replicate the issue:

1. Log onto the LibreHealth application
2. Click on the "Patient/Client" tab
3. Click on "Finder" and select a patient to work on
4. This will open up the patient demographic page
5. On the Patient's summary page, click on

[2022-10-04 14:24] SharonA10 opened #1675 "LH-EHR: "Track Appointments" tab results in the movement of the screen"
When the user clicks on the "Track Appointments" tab, it results in the movement of the screen.

1. Log onto the LibreHealth application
2. Click on the "Patient/Client" tab
3. Click on "Finder" and select a patient to work on
4. This will open up the patient demographic page
5. Click on the "Track Appointments" tab, and select the entry for the patient, it results in the movement of the screen
6.

[2022-10-04 16:59] SharonA10 opened #1676 "LH-EHR: Patient/Client tab"
When searching for a patient under the Patient/Client tab, the New Encounter and Past Encounter List box moves on the screen.

Steps to replicate the issue:
1. Log onto the LibreHealth application
2. Click on the "Patient/Client" tab
3. This will open up the patient demographic page
4. Click on any patient name
5. This will open up the selected patient's face sheet
6. To the top right corner, ther

[2022-10-04 17:42] #1577 closed

[2022-10-25 17:04] SharonA10 opened #1678 "LH-EHR: Limit the screen to 2 windows"

[2022-10-25 17:32] SharonA10 commented on #1678
When the user opens multiple tabs it opens up many screens. This reduces the size of the working space making it inefficient for the user to work on the patient chart.

1. Log onto the LibreHealth application
2. Try to open multiple tabs, this will reduce the space to work

We need to limit the screens to a maximum of 2 tabs.
When the user opens a third tab, there should be a pop up dialogue box n

[2022-11-24 20:12] sunbiz commented on #1676
Fixed in https://github.com/LibreHealthIO/lh-ehr/commit/537cfc64a9902fb5147ad832b38e3877af5c45a3

[2022-11-24 20:12] #1676 closed

[2022-11-28 13:36] techfreakSahil opened #1681 "Michael Downey profile on the website landing page"
Others profile when hovered over is lightened except Mr. Michael Downey's profile.
![Screenshot (42)](https://user-images.githubusercontent.com/116283802/204291098-a993e7db-36c1-4fe4-9179-9c21718d18b1.png)