[2017-08-10 17:13] aethelwulffe commented on #661
Screenshot did not come up.
I would note that the SOAP format seems to not be very popular with clinicians these days.  It also lends itself to narrative usage instead of empirical points.  In a pure text setting, it makes perfect sense, not so much for data-driven information.
As a DISPLAY format, there may be some value to organizing the sections in such a way.
Try to get the screenshot of what

[2017-08-10 18:00] rehoyt commented on #660
Whatever you think is best. In a perfect world (like the one we currently live in) I would want to search using several parameters such as age, gender, race, labs, diagnoses and meds and then create a downloadable report. For example, identify all male diabetics over age 50. The determine how many take an ACE inhibitor. Currently, students can query some parameters but then they have to manually c

[2017-08-10 18:49] aethelwulffe commented on #660
Excel is the microsoft version of a spreadsheet program, right?

Wouldn't simply dumping all the tables directly to ODB, MySQL, SQL or Access (I think that is what the microsoft spreadsheet uses for data sources) allow people to use those outside tools better than scraping data out of a report and hoping what you need is in the standard report?  If they are dealing with complex data, they need com

[2017-08-10 18:51] aethelwulffe commented on #660
What this means first and foremost is that we need to put in a good CSV etc... file exporter, and a good grapher tool, then rip out the dozen or so others floating around.

[2017-08-10 18:58] rehoyt commented on #660
I thought @robbyoconnor would not grant people access to phpmyadmin for security reasons. I am trying to get instructors to use SQL queries to examine data but that is somewhat of a stretch. Most are good with spreadsheet manipulation and that is partly why I thought a csv download was reasonable. In addition, Tableau is very popular in healthcare so they might use it for visualization

[2017-08-10 19:14] aethelwulffe commented on #660
That is on the "official" demo and such.  Understandable.  Things like the ability to manipulate a database are not things you want just anyone to do.
However:
Security in general was the first reason given for this, and I didn't find any particular current security holes published.
Second, you don't have to give root access to every user utilizing phpMyAdmin.  In fact, you can restrict the user a

[2017-08-10 23:08] robbyoconnor commented on #660
Yeah -- I don't care if you wanna set up a server somewhere and run hogwild and just turn it into a honeypot...my responsibility ends when it's not "official" -- that said phpmyadmin should not be needed -- build a proper reporting framework.

[2017-08-10 23:10] robbyoconnor commented on #660
to add on: That reporting framework should and can allow for raw (controlled) queries to the DB -- so it would have all of the power without the huge gaping security hole.

[2017-08-11 00:12] tmccormi commented on #660
We are using something for that in all my new apps.   I'll have to as Ken
what it is.  I think it's datatables (like we already use) but not sure.

[image: Inline image 1]

Tony McCormick

On Aug 10, 2017 10:08 AM, "Art Eaton" <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitiv

[2017-08-11 00:44] rehoyt commented on #660
Keep in mind that I created an alternate method to analyze all 125 NHANES csv files (not just the 12 @yehster used to populate the EHR. The Data World site has SQL integrated so they can perform SQL queries to their heart's content

[2017-08-11 03:20] aethelwulffe commented on #660
Define (calmly) gaping hole.
Better yet, just using the URL, hijack the system specifically by using the phpmyadmin install that exists there.  That will enlighten us all.  In the meantime, you are correct, this does not, and will not have anything to do with the LH servers.

In the meantime, we are talking about two things.

1.  Single install site maintenance.  Mom and pop poor folks (many with

[2017-08-11 03:41] robbyoconnor commented on #660
I mean that phpmyadmin gives far too much access. Installing PHPMyAdmin on a single server in a practice is fine...but not on a demo server. Including it in the distribution for example fine. If you wanna bundle it with the EHR download -- that's fine...but on the not on the demo server.

[2017-08-11 04:00] teryhill commented on #660
Yes that would give access to all the Demo data.

Sent from my iPhone

[2017-08-11 04:16] pri2si17-1997 commented on #647
Hello @aethelwulffe ,
Here is user_secures table with seeded data :
![screenshot from 2017-08-11 09-43-41](https://user-images.githubusercontent.com/12952169/29201180-ae6f0c86-7e79-11e7-877b-c6486db63d3f.png)

If you find anything incorrect or some more improvements, then please let me know. You haven't replied to previous comments. If there is something wrong, which I'm doing, then please let me

[2017-08-11 04:17] robbyoconnor commented on #660
And what if phpmyadmin has a vulnerability? It's a piece of software which we have no control over. I'm not keen on giving students free reign over a demo server...they should be working off of something local...

[2017-08-11 04:50] aethelwulffe commented on #660
Heh!  If anything we use is easily cracked, then we _really really ought to know about it_.
 I am totally with you that the official demo server needs to be as **secure and stable** (meaning no-one ever wakes up in the morning to a Guy Fawkes mask on the log-in screen), and should not be a general use tool for anyone's pet project.
  If we are running a conference/seminar demo, doing sloppy dev wo

[2017-08-11 05:19] robbyoconnor commented on #660
I am not opposed to burner machines -- those are fine. We have in the past set up temporary demo machines for conferences. If @aethelwulffe or someone wants to host a demo of code that's not merged into the `master` branch due to an incomplete code review -- and I'm not responsible for it -- that's fine. Do whatever you want -- the honeypot comment was uncalled for, sorry -- not sure what you have

[2017-08-13 07:12] nileshprasad137 commented on #663
Fixed. 😃

[2017-08-13 07:19] pri2si17-1997 commented on #647
Hello @aethelwulffe

**Regarding Link**

- `script_firstname.txt`, `script_girls.txt`, `script_lastname.txt` are for firstname and lastname of patients(Or users). I have included this using `$faker->firstName($gender = null|'male'|'female')` and `$faker->lastName`.

- `script_state.txt`, `script_town.txt` are for addresses. I have used `$faker->state` and `$faker->city`. I was not able to figure o

[2017-08-13 07:22] nileshprasad137 commented on #650
I think we can close this..

[2017-08-13 07:22] #650 closed

[2017-08-13 07:37] nileshprasad137 commented on #553
Should I delete the html templates as they aren't used now or should it be left there for reference which can anyway be seen through git history.?

[2017-08-13 07:40] nileshprasad137 commented on #597
I'll send the rest of the renovated UI pieces of Administration section's UI today or mostly be tomorrow...

What would be next according to you?

[2017-08-13 08:15] aethelwulffe commented on #553
DELETE!!!  DELEEEET!  🙂

[2017-08-13 08:16] nileshprasad137 commented on #553
Sure 👍

[2017-08-14 14:22] pri2si17-1997 commented on #647
Hello @aethelwulffe @teryhill

Can you please provide me with some data of insurance, like : Policy Number, Group Number,  Plan Name,
Copay and plan type. It will be a great help for me.

[2017-08-14 17:43] aethelwulffe commented on #647
Sure.  I will get you a de-identified database sample with a variety of
such stuff.

On 2017-08-14 10:22, Priyanshu Sinha wrote:

[2017-08-14 18:07] pri2si17-1997 commented on #647
Ok. Thanks... :slightly_smiling_face:

[2017-08-15 05:44] nileshprasad137 commented on #597
There are many more sections which need UI imrovements and I'll continue to work over it even after GSoC.

[2017-08-15 12:04] aethelwulffe commented on #647
Out of curiosity, if you have gotten that random patient generator
going, it will give you valid data for all these tables.

On 2017-08-14 14:07, Priyanshu Sinha wrote:

[2017-08-15 12:13] pri2si17-1997 commented on #647
Yes @aethelwulffe I got that working. It is really nice... :slightly_smiling_face: I got some sample data related to insurance which I asked earlier. I will continue it once the docs and demo get ready.

[2017-08-15 21:28] pri2si17-1997 commented on #647
Hello @aethelwulffe @teryhill

Probably this type of schema diagram will be helpful. You please have a look at a it and tell me if it is correct or not.
![users](https://user-images.githubusercontent.com/12952169/29337351-9867d7f2-822e-11e7-9dcb-f341402b4eb1.png)

[2017-08-15 21:31] teryhill commented on #647
looks good to me and as long as it is readable by us old geezers it should be good

[2017-08-15 22:11] tmccormi commented on #647
Yep, good ole standard stuff.

[2017-08-18 13:45] nileshprasad137 commented on #597
Okay, so I would be sending one more Pull Request before GSoC coding period's deadline which would contain some bug fixes(I've noticed some), and UI improvements of Administration section.

And as my project was UI intensive , so I am thinking of a Github Gist or a Blogpost having the link and description of all the Pull Requests sent during GSoC period.

Opinions..?

[2017-08-18 13:57] teryhill commented on #597
Sounds good to me. Actually what you have on your blog works. Once GSoC is over all of us will discuss more changes, I am sure you have seen areas already that could use improvements. I would like to start a discussion and design planning on billing changes when we get a chance with all of you guys who are interested, right @aethelwulffe .

[2017-08-18 18:19] aethelwulffe commented on #597
Make sure everything is linked to your excellent Linkedin post too.

-And Terry, as the big favor to me and mine, I am pushing for the
Facility ACL bit Ken did to get pulled in (with some user admin and
patient creation bug fixes) ASAP.  This is supported work, and something
that has LONG been needed for distributed multi-facility clinics since
day one.

On 2017-08-18 09:57, Terry Hill wrote:

[2017-08-18 18:22] teryhill commented on #597
Let's go Maverick

[2017-08-18 20:08] nileshprasad137 commented on #553
@azwreith Can you tell me where so that I can get them removed? (Note - I have not worked on GACL.)

[2017-08-20 11:49] nileshprasad137 commented on #597
Github Gist for GSoC work Submission :

https://gist.github.com/nileshprasad137/8cf19bbdcc7b38e6e54c191fd1c594bf

Suggest edits, if any! 😄

[2017-08-20 21:21] azwreith commented on #553
@nileshprasad137 I just searched repo for `smarty` and a whole lot of references popped up. Help->About uses SMARTY, for instance.

[2017-08-21 05:38] pri2si17-1997 commented on #647
Hello @aethelwulffe @teryhill

I have added documentation in pdf format and removed useless `DirectoryStructure` file. Also please check this link https://wordpress.com/post/pri2si17.wordpress.com/535
Is it ok to submit? or any changes required?

[2017-08-21 09:07] nileshprasad137 commented on #553
@azwreith  Yep, `about.php` uses it. I had to remove smarty connection from GACL if about.php had to not use smarty. It was a huge piece , so we decided to leave it for now.
Everything else seems to be safe !

[2017-08-21 12:38] teryhill commented on #553
What are you using to indicate that about.php is using a smarty template?

[2017-08-21 12:51] nileshprasad137 commented on #553
@teryhill Note that on line 108 on `about.php`, there is a smarty function `display()`  which is used to render the smarty template (`about.tpl`) .

[2017-08-21 13:00] teryhill commented on #553
Okay. I was just curious as to what the current criteria is.

[2017-08-21 21:55] tmccormi commented on #647
That site requires a login that I do not have.

Tony McCormick, CTO
www.mi-squared.com Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo
-Verba volant, scripta manent

On Sun, Aug 20, 2017 at 10:38 PM, Priyanshu Sinha <notifications@github.com>
wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider commun

[2017-08-21 22:13] tmccormi opened #668 "call_required_libraries is badly implemented (not self documenting)"
In my opinion:
  **This is bad:**  call_required_libraries(true,false,false,false);  //impossible to know at a glance what is being included

  **This better:**  call_required_libraries(bootstrap=true,
                                        fancybox=false,
                                        knockout=false,
                                        datepicker=false);

  Or maybe use constants

[2017-08-21 22:15] tmccormi commented on #668
It would even nicer if the function was not ORDER dependent in the arguments.

[2017-08-21 22:30] aethelwulffe commented on #668
Agreed.

My instinct is to not use constants, just arguments to the function, but
I think either way is good.  I like the all caps constants pretty
good...certainly simpler to implement.  This is what I imagined it being
from the beginning.

On 2017-08-21 18:13, Tony McCormick wrote:

[2017-08-21 22:32] aethelwulffe commented on #668
function F($params) {
   if(!is_array($params)) return false;
   //do something with $params['A'], etc...
}

You could then invoke it like this:

F(array('C' => 3, 'A' => 1, 'B' => 1));

[2017-08-21 22:34] teryhill commented on #668
I would suggest lowercase as opposed to upper case. Some times it just acts funny to have them UC.

[2017-08-21 22:42] tmccormi commented on #668
The standard for industry constants is uppercase, just saying.   but as long as it's obvious what is being included I'm good.

[2017-08-21 23:04] aethelwulffe commented on #668
Uh, which industry.  +this-is-a-constant+, kThisIsOneToo, so_IS_This_One, AND_THIS_ONE_IS_JAVA.

PHP constant that is used in more than one class is all caps.  The singletons are lowercase...by the recommendation guide.

[2017-08-21 23:05] tmccormi commented on #668
This one:  PHP constant that is used in more than one class is all caps. The singletons are lowercase...by the recommendation guide.

I wasn't aware of the singleton recommendation.  Nice to know

[2017-08-22 04:02] pri2si17-1997 commented on #647
Oops! sorry @tmccormi , I posted wrong link.
Please check this : https://pri2si17.wordpress.com/2017/08/19/gsoc17-final-submission/

[2017-08-22 12:19] nileshprasad137 commented on #668
Ok, I'll implement this properly in some time. (Mostly next week)

[2017-08-22 12:26] nileshprasad137 commented on #597
Is the above gist fine with you'll as final submission or any changes needed.. I just want to have a final review of it before submitting my evals.

[2017-08-22 23:57] aethelwulffe commented on #597
Looks great man!

[2017-08-22 23:58] aethelwulffe commented on #647
It's really nice Pri!

[2017-08-23 00:01] aethelwulffe commented on #553
Looks like the criteria is "stuff that looks at templates".  Good method. 😸

[2017-08-23 00:05] teryhill commented on #647
Looks really great to me. I can finally see database documentation. Good Job Pri!

[2017-08-23 13:41] pri2si17-1997 commented on #647
Thanks @aethelwulffe @teryhill :slightly_smiling_face:

[2017-08-24 01:05] robbyoconnor opened #669 "setup.php cloning database leads to errors due to missing table"
If you set up a site via `setup.php`, then choose to simply clone a site and its database, you wind up hitting an error with missing tables.

To reproduce:

- Create a new site, use `default` as the template,
- then create a new database user and a new database, but copy the database from the `default` site.
- Run setup, wait, and then try to login.
- Check error logs and you'll see a slew of erro

[2017-08-24 01:19] aethelwulffe commented on #669
I assume that you have a manual work-around at the moment, Ja?

Show us them logs...somewhere.  puhleez.

On 2017-08-23 21:05, robbyoconnor wrote:

[2017-08-24 01:23] tmccormi commented on #669
The setup clone model is bad anyway, in my opinion.  It ALSO does not copy the customized sites/ content form the selected install to the new one.

[2017-08-24 01:27] teryhill commented on #669
I don't think it is missing tables

[Wed Aug 23 06:25:02.041440 2017] [ssl:warn] [pid 1488] AH01873: Init: Session Cache is not configured [hint: SSLSessionCache]
[Wed Aug 23 06:25:02.042841 2017] [mpm_prefork:notice] [pid 1488] AH00163: Apache/2.4.18 (Ubuntu) PHP/7.0.22-0ubuntu0.16.04.1 OpenSSL/1.0.2g configured -- resuming normal operations
[Wed Aug 23 06:25:02.042852 2017] [core:notice] [pid 14

[2017-08-24 01:29] robbyoconnor commented on #669
I shared the log privately for a reason.

[2017-08-24 01:29] teryhill commented on #669
Why?

[2017-08-24 01:30] robbyoconnor commented on #669
Well for one it contains my IP

[2017-08-24 01:32] robbyoconnor commented on #669
@teryhill Security.

- My IP is there
- DB usernames which shouldn't be public are also there.

[2017-08-24 01:34] robbyoconnor commented on #669
Okay, it seems to have fixed itself...somehow...not sure how...

[2017-08-24 01:35] teryhill commented on #669
It was not broke. The error was not a missing table.

[2017-08-24 01:45] robbyoconnor commented on #669
Ah ok :) sorry about that.

[2017-08-24 01:45] #669 closed

[2017-08-25 11:20] #282 closed

[2017-08-25 11:31] eran13com commented on #91
I am working on database migration part. Currently I am creating the schema for database tables and views for the UI. I am very sorry for such a long period of silence, I was a little busy with exams and stuff.

[2017-08-25 11:50] teryhill commented on #91
No problem @eran13com . We understand busy with school. When you get a chance show us where your thought process is going, What is your vision for this?

[2017-08-26 15:27] eran13com commented on #91
Thank you @teryhill. :) I will let you know for sure.

[2017-08-30 19:16] tmccormi opened #670 "New database Admin Tool - Adminer"
https://www.adminer.org/  - this seems like a decent option to phpmyadmin.    It has virtually all the same functions except the fancy search.

It could be forked and modified to use the sites/sqlconf.php data and then compiled as a single php file to be included in the release repo.

It can also be installed separately in it's own path and used across site databases (as with phpMyAdmin)

It's act

[2017-09-19 00:26] teryhill commented on #554
@azwreith How are things going . Have you gotten into school?

[2017-09-21 21:20] aethelwulffe opened #672 "setup errors for pnTemplates"
https://github.com/LibreHealthIO/LibreEHR/blob/6ddcc6b995cb4284431fdb6500c2b1c68948703f/setup.php#L73

setup.php must be updated to reflect removal of old PNcalendar.

[2017-09-21 21:20] aethelwulffe commented on #672
Line 73 and 74 at least.

[2017-09-23 00:19] tmccormi commented on #672
Are there any directories that need to be writable for this new version, considering that smarty is gone?

[2017-09-23 00:55] tmccormi commented on #672
Srry, I missed the fact that there was already a pull request.  All merged now.

[2017-09-23 00:55] #672 closed

[2017-09-24 11:08] Trodrige commented on #668
@nileshprasad137, @tmccormi I would like to implement this. If it's ok by @nileshprasad137

[2017-09-24 11:54] nileshprasad137 commented on #668
Firstly I apologize for not implementing it properly.

Feel free to implement it. I'm busy with academics currently because of my approaching mid terms.

[2017-09-24 16:43] aethelwulffe commented on #668
All done I think.  More will be added to this function (I am sure).

[2017-09-24 18:03] eran13com commented on #91
@teryhill  I think it will be better to create the database migrations for each table in separate files, won't it? That way it will be easier to modify and debug easily than putting up the whole database table migration in one file. Please let me know your ideas about it. :)

[2017-09-24 21:15] Trodrige commented on #91
@eran13com if I'm getting it clearly, you mean the same like in Laravel. If yes, then I think it'll be better that way.

[2017-09-24 21:19] aethelwulffe commented on #91
Yes,
Look at #599
Team up.  @pri2si17-1997  Priyanshu has made huge progress in this direction, and he is good to work with.  LOTS of work done in this direction already, and I bet as a collaboration, this would be a lot more fun for Pri too.

[2017-09-24 23:17] teryhill commented on #91
@eran13com Yes multiple files is the correct approach. I agree with @aethelwulffe you should form a team with @pri2si17-1997 and @Trodrige

[2017-09-24 23:58] aethelwulffe commented on #668
My mistake!
Looks like not all instances of call_required_libraries() were updated.
Look at interface/usergroup/facilities.php

[2017-09-25 00:13] Trodrige commented on #668
There's no instance of call_required_libraries() in my local interface/usergroup/facilities.php file. However, I have Fancybox included with these lines
`<link rel="stylesheet" type="text/css" href="<?php echo $GLOBALS['webroot'] ?>/library/js/fancybox/jquery.fancybox-1.2.6.css" media="screen" />`
and
`<script type="text/javascript" src="<?php echo $GLOBALS['webroot'] ?>/library/js/fancybox/jquery

[2017-09-25 00:24] aethelwulffe commented on #668
Check line 103 in interface/usergroup/facilities.php.
I swear I ain't foolin' bro 😄

![image](https://user-images.githubusercontent.com/553751/30788202-54e0ef80-a166-11e7-92d4-dade556c351f.png)

[2017-09-25 00:28] aethelwulffe commented on #668
And yes Trodrige (welcome aboard dude!), there are LOTS of other places that could use some help in this same way.  We were kind of trying to go along one point at a time and move the 3rd party libraries to rootdir/assets, then point at them with this function, so lots of stuff isn't implemented...and thank you so much for pitching in like this.

I hadn't had a chance to welcome you yet TRK, and I

[2017-09-25 00:30] teryhill commented on #668
Here here we need all the help we can get.

[2017-09-25 00:31] aethelwulffe commented on #668
@nileshprasad137  Apologizing for "not implementing it properly"?  Uh, more like thanks for implementing it period!  Along with the boat-load of other stuff you have done!

[2017-09-25 00:34] teryhill opened #675 "Report and forms generator"
Throwing this out there to start some discussion.

Would this be a good Laravel project?

[2017-09-25 00:44] Trodrige commented on #668
Thanks, @aethelwulffe and @teryhill for the welcome.

[2017-09-25 00:45] Trodrige commented on #668
@aethelwulffe this is my facilities.php file
![facilities php-screenshot](https://user-images.githubusercontent.com/16147419/30788358-166a7168-a193-11e7-8b55-da37d74deb9c.png)

[2017-09-25 01:00] aethelwulffe commented on #668
Gotcha.
Looks like your repo may not be up-to-date.
Look here: https://github.com/LibreHealthIO/LibreEHR/blob/master/interface/usergroup/facilities.php

Try updating your fork/branch to the latest /master, then you can start a new feature branch and search for this stuff again.

This was the commit that had it in it, merged on August 21.

[2017-09-25 01:00] aethelwulffe commented on #668
https://github.com/LibreHealthIO/LibreEHR/commit/7e173048bc97f1940cd6cc35317f4eb9b76ada0b

[2017-09-25 01:18] teryhill commented on #668
Getting error from the commit

[24-Sep-2017 21:16:25 America/New_York] PHP Parse error:  syntax error, unexpected '=' in C:\xampp\htdocs\LibreEHR\interface\super\edit_globals.php on line 260

[2017-09-25 01:19] aethelwulffe opened #676 "sql_upgrade.php error"
Error: Duplicate entry 'Administrators-Globals|/interface/super/edit_globals.php-Adminis' for key 'PRIMARY'

C:\xampp\htdocs\libremaster\library\sql_upgrade_fx.php at 504:sqlStatement
C:\xampp\htdocs\libremaster\sql_upgrade.php at 58:upgradeFromSqlFile(1_0_1-to-1_0_2_upgrade.sql)

[2017-09-25 01:23] teryhill commented on #668
Fixed it on my system by changing it to this @Trodrige

   call_required_libraries($bootstrap=true,$fancybox=true,$knockout=false,$datepicker=false);

[2017-09-25 01:27] aethelwulffe commented on #668
Ditto.
Maybe we should revert this commit?
@Trodrige We sort of failed you on this one.  Let's revert and try again.  It is mashing up some stuff on the demos.  I feel like a total doof. 🙃

[2017-09-25 01:30] Trodrige commented on #668
Ok, I see

[2017-09-25 01:30] aethelwulffe commented on #668
Put in a PR for a revert...I obviously have no business merging anything right now!

We might want to think about using a fake named parameter scheme like was outlined at the top of this issue.
Stick with us @Trodrige !

[2017-09-25 01:31] aethelwulffe commented on #668
Trial by fire bro...

[2017-09-25 01:33] Trodrige commented on #668
@aethelwulffe I don't get you here

Put in a PR for a revert...I obviously have no business merging anything right now!

We might want to think about using a fake named parameter scheme like was outlined at the top of this issue.

[2017-09-25 01:36] aethelwulffe commented on #668
Oh, don't worry about that @Trodrige .  The sentence was supposed to say "**_I_** put in a pull request for a revert".  Meaning, Hey, @teryhill look over the revert and see if we should do that".  The other thing about named parameters is also not to be worried about.

[2017-09-25 01:38] aethelwulffe commented on #668
We will get it worked out.  You think you would like to make another go of this tonight to get it straight, or should we revert this (it is affecting the demo system) and have you start over with a new up-to-date branch tomorrow?

[2017-09-25 01:44] Trodrige commented on #668
Now is fine. If I get you correctly
1. create a branch
2. make changes the files with the function

[2017-09-25 01:49] aethelwulffe commented on #668
Pull down master (update your repo).  Make sure you are in sync with upstream.
Create a branch
Make the changes, and GREP for more instances of the function.

Looks like the version you are on was between two commits that added this function, which is why you have some of them, and not the ones in that file I mentioned.

[2017-09-25 01:50] aethelwulffe commented on #668
Let us know if you have any issues we can help with.

[2017-09-25 03:06] aethelwulffe opened #679 "Add Facility no legal name"
Legal name appears in the EDIT facility, but not in ADD facility.

[2017-09-25 03:26] aethelwulffe opened #680 "Patient name/title is "Current Patient" in EDIT mode"
Header name of patient switches to "Current Patient" when editing a patient of a known name.

[2017-09-25 03:28] aethelwulffe opened #681 "Layout Edit button malformed"
![image](https://user-images.githubusercontent.com/553751/30791392-0f31811a-a180-11e7-9d9e-64d68f1a4255.png)

Effect is the same in all layouts that I checked.  First button top left is half-visible.

[2017-09-25 03:30] aethelwulffe commented on #663
Nilesh, was there a PR to the project for this?

[2017-09-25 03:37] aethelwulffe opened #682 "Demographics edit URL issue"
Open a patient.  Without choosing another tab (leave on "facesheet"), hit edit, then click on another tab.  This gives you a broken link.  If you first select another tab, THEN you hit edit, it works fine for all the tabs.

[2017-09-25 03:42] aethelwulffe opened #683 "Tab divider overlaps encounter list."
![image](https://user-images.githubusercontent.com/553751/30791657-fb53609e-a181-11e7-855c-a46cd70e834c.png)

When looking at the full list (hover view, with encounter review) it is very visible.

[2017-09-25 03:50] aethelwulffe commented on #233
Snuffing this.

[2017-09-25 03:50] #233 closed

[2017-09-25 03:51] #209 closed

[2017-09-25 03:53] aethelwulffe opened #684 "Tabs not always resizable"
When opening multiple tabs, sometimes they become non-resizable.  This issue has been discussed before, but there has not been a specific bug report put in.

[2017-09-25 03:58] nileshprasad137 commented on #663
Yes this is resolved.

On Mon, Sep 25, 2017 at 9:00 AM, Art Eaton <notifications@github.com> wrote:

[2017-09-25 04:01] aethelwulffe commented on #663
Ah, I just couldn't locate the merge commit.  Closing.

[2017-09-25 04:01] #663 closed

[2017-09-25 04:16] nileshprasad137 commented on #663
Maybe we should introduce some template for sending PR messages similar to
what some popular open source projects like Joomla does..

On Mon, Sep 25, 2017 at 9:31 AM, Art Eaton <notifications@github.com> wrote:

[2017-09-25 05:20] eran13com commented on #91
Yes @Trodrige just like in Laravel.  Of course @teryhill and @aethelwulffe  I will team up with @pri2si17-1997 and @Trodrige . :)

[2017-09-25 06:32] pri2si17-1997 commented on #91
Yes @aethelwulffe @teryhill .. I am ready to team up with @eran13com @Trodrige .. :slightly_smiling_face:
As pointed above, migrations for almost all tables are generated.. We can start working on view and make the necessary changes/improvements in migrations. But we need to discuss once. :slightly_smiling_face:

[2017-09-25 07:35] Trodrige commented on #668
_Make the changes, and GREP for more instances of the function._
@aethelwulffe do you want me to change these:
`call_required_libraries(bootstrap=true,fancybox=true,knockout=false,datepicker=false);`
back to these: `call_required_libraries(true,true,false,false);`
Please be explicit on this. Not sure which is affecting the demo. Thanks

[2017-09-25 10:29] Trodrige commented on #681
@aethelwulffe can you assign this to me. Will love to fix this.

[2017-09-25 21:49] teryhill commented on #681
Go for it @Trodrige

[2017-09-25 21:53] teryhill commented on #668
@Trodrige change this
call_required_libraries(bootstrap=true,fancybox=true,knockout=false,datepicker=false);
to this
call_required_libraries($bootstrap=true,$fancybox=true,$knockout=false,$datepicker=false);
And that will fix the errors.

[2017-09-25 21:54] teryhill commented on #668
Then look thru the code for any more instances of call_required_libraries(true,true,false,false); and change them to call_required_libraries($bootstrap=true,$fancybox=true,$knockout=false,$datepicker=false);

[2017-09-26 13:06] aethelwulffe commented on #668
@Trodrige
Do what Terry says, but after pulling down the latest version of master from here.
We (I) reverted your last changes, so this is basically starting over.
This is a good short project with some very typical repo/git issues, so this makes it a very good way to get experience with our integration method.  All of us have had some problem getting our first pull requests merged for one reason

[2017-09-26 13:55] aethelwulffe commented on #681
@Trodrige Accept the invite to be added as a collaborator, and I can assign this to you officially.

[2017-09-26 13:58] Trodrige commented on #681
@aethelwulffe I accepted the invite.

[2017-09-26 15:38] aethelwulffe commented on #681
You have been assigned.

[2017-09-26 18:25] aethelwulffe opened #685 "Layout Editor style format error"
![image](https://user-images.githubusercontent.com/553751/30877088-954cc54c-a2c6-11e7-8c16-190f1b13ba6e.png)

"With Selected:" needs to be _before_ the buttons, or the button labels need to be edited to that effect.

[2017-09-26 19:12] Trodrige commented on #668
@aethelwulffe and @teryhill fixed. Hope I didn't miss any file this time.

[2017-09-26 19:13] Trodrige commented on #681
@aethelwulffe fixed

[2017-09-26 19:40] aethelwulffe commented on #681
Gotta fix the sqlconf.php deleted file before testing.

[2017-09-27 05:04] aethelwulffe commented on #681
OK, this is straight.  I still need to check it out with the alternate theme...but seems right so far.

[2017-09-27 05:04] #681 closed

[2017-09-27 05:06] aethelwulffe commented on #668
All good so far.
There is, of course, a lot more organizing of assets and bootstrapping of the includes to be done in the project.  This piece is a nice start.

[2017-09-27 05:06] #668 closed

[2017-09-27 05:08] #656 closed

[2017-09-27 05:08] #658 closed

[2017-09-27 05:10] aethelwulffe commented on #651
Is this a bug issue, a fix suggestion or what?

[2017-09-27 18:09] tmccormi commented on #651
Need to see if this als needs to be merged into the master, this fix was only on rel101 branch

[2017-09-27 19:21] Trodrige commented on #668
OK, great
On Sep 27, 2017 06:06, "Art Eaton" <notifications@github.com> wrote:

[2017-09-27 20:47] tmccormi opened #687 "Package and Label Release 2.0"
Update version.php and other artifacts, create new release branch etc.

[2017-09-27 21:05] teryhill commented on #687
@tmccormi could you check the install documentation for phpmyadmin and make sure it is usable, also could you look at doing one for adminer (SP)?

[2017-09-27 21:58] tmccormi commented on #687
Yes I can do that.

[2017-09-27 21:59] tmccormi opened #688 "Create Install instructions for Adminer MySQL tool"
Similar to PHPMyadmin, instructions for standalone installation with the EHR

[2017-09-28 08:17] eran13com commented on #91
@pri2si17-1997  may we all commit to the same branch? Me, you and @Trodrige  all. Then it will be easy. Please let me know.  :)

[2017-09-28 08:19] eran13com commented on #91
And yeah, since need to discuss with our mentors, let us arrange and discuss :)

[2017-09-28 15:12] teryhill commented on #640
@aethelwulffe should this issue be closed and another opened for the NN issues?

[2017-09-28 15:29] teryhill commented on #680
@aethelwulffe  is this what you want?

![image](https://user-images.githubusercontent.com/4655366/30975411-37650fae-a440-11e7-9b2e-5f4614299aa8.png)

[2017-09-28 15:45] teryhill commented on #682
I am not able to reproduce this can I have a few more details?

[2017-09-28 16:21] teryhill commented on #626
@yehster Is this still an active Issue. It is a little misleading as a portal issue. Maybe you could close it and open one that better describes the issue.

[2017-09-28 17:10] aethelwulffe commented on #640
Yes, unless we already have one for that.

[2017-09-28 17:28] aethelwulffe commented on #91
I have a better idea.
We create a base feature branch here for the project, create a a "project" here to handle that, and you guys handle merging to that branch until it is time to merge into master.  Ja?
  We need to ensure that everyone has the appropriate write permissions, and everyone has joined the project as a collaborator.
  Note:  We are creating the "Gee-Sock!" release, which is a "fix e

[2017-09-28 17:29] aethelwulffe commented on #680
Yes

On 2017-09-28 11:29, Terry Hill wrote:

[2017-09-28 17:29] aethelwulffe commented on #680
Yes.

[2017-09-28 17:35] aethelwulffe commented on #682
I will attempt to re-reproduce this.  I could have taken a screenshot, but I recall there was an older database involved in this.  I will do it again on the same set-up.  While I am at it, I will do it on one of the prod setups.  Hopefully, this is just an artifact and not an issue.

[2017-09-28 17:46] aethelwulffe commented on #687
I suggest it should be GeeSOCks...

[2017-09-28 19:09] aethelwulffe commented on #687
An aside note:  This release clears the way for the next major release.  That is to be discussed here:
https://forums.librehealth.io/t/laravel-setup-migration-fhir-project-management/1109

[2017-09-28 23:04] Trodrige commented on #675
Hi, @teryhill I don't get it clearly. Can you explain, so I understand what you mean? Thanks

[2017-09-28 23:37] teryhill commented on #675
@Trodrige

Let's start this off by separating the two.

The need for a replacement form generator, the one in Libre is functional and will generate a very basic form. Most people do not know it exists nor how to use it (I haven't done much with it)

There is no means for generating a report other than coding it.

I would like to see a drag and drop form generator. Also a drag and drop report gener

[2017-09-28 23:55] aethelwulffe commented on #675
"Forms" mean (typically) Clinical Data entry forms.

These should be built up out of typical DB query blocks for supplying
data/field types such as lists and common elements like Patient Name
etc... In addition, you want to give the user a wizard that allows
typical data types, like text boxes and the like.

The preference for any design like this is to 1.  Utilize pre-existing
fields whenever pos

[2017-09-29 01:06] Trodrige commented on #675
Ok, @teryhill and @aethelwulffe  I'll love to take this on. Will need headstart and resources (if any on clinical type data etc), some directives as we go through.

[2017-09-29 01:10] teryhill commented on #675
We are here to help. Let us know what you need. I would suggest a very simple start. Just give a basic report and a form.

[2017-09-29 01:14] Trodrige commented on #675
I understand we need report and forms generator. @teryhill I'm trying to see how I Laravel comes in here, but it's not clear. Can you say how/why you see it as a Laravel project? Maybe I'll pick up from there.

[2017-09-29 01:20] teryhill commented on #675
Does not need to be a Laravel project. I just threw that out there. However you want to do it. The report generator will need to be able to download the reports in various formats like CSV , PDF , DOC , ODT or plain txt. as a few. What ever you want to use is basically up to you. Would be good if the tool has a small foot print or is some thing already in the assets directory.

[2017-09-29 20:20] Trodrige commented on #675
@teryhill sorry for not replying earlier. In Documentation/8_ForDevelopers/3rd_Party_Form_API.txt there are steps, format and functions for form creation in LibreEHR. I did not see any doc on reports part.
Now, this is what I understand:
1. Information in generated reports is based on the forms fields that generate the corresponding information. For e.g at Reports->Visits->Encounters, the report g

[2017-09-29 22:39] teryhill commented on #675
@Trodrige There are no doc's on the report generation, this is a new item, that is why you do not see any in the documentation.

A drag and drop report generator will give the user an option to select a database or databases then select fields to report on and build a query.

You are on track.

[2017-09-29 22:45] teryhill commented on #675
@Trodrige  also I have tried video conferencing with others and because I use satellite internet it has never worked, sorry perhaps @aethelwulffe  can talk with you or may be he can set it up thru the chat with you.

[2017-09-29 23:01] aethelwulffe commented on #675
I wouldn't mind talking to you @Trodrige , be glad to.  I suggest the librehealth.io rocketchat video calling tool.  I will sort of need to schedule the time though.  Got any suggestions (coordinated Universal Time/GMT +date)?

[2017-09-29 23:27] tmccormi commented on #91
As long as they are working on their own gitrepo replica, then it's not a
problem.   I just won't merge non-release pull requests into master until I
create the rel_200 branch.

Tony McCormick, CTO
www.mi-squared.com Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo
-Verba volant, scripta manent

On Thu, Sep 28, 2017 at 10:28 AM, Art Eaton <notifications@github.com>
wr

[2017-09-29 23:38] tmccormi commented on #675
There are a couple of high end "drag and Drop" report creation tools, we have implemented for Pentaho  in the past to do this.  Not a easy task, even when the system already exists to do it as most of the work is making the database understandable to the user.

You can see what I originally had done with Pentaho for OpenEMR at:  https://github.com/oemr501c3/openemr-insights - some of this could be

[2017-09-29 23:52] Trodrige commented on #675
@aethelwulffe I'll set up tomorrow and let you know when we can talk, thanks.

Thanks, @tmccormi for the suggestions. I'll look at them and further discuss with @aethelwulffe

[2017-09-30 01:55] teryhill commented on #687
I just did a clean setup on Honey Pot and it appears to have worked with no issues . Changing globals and adding a patient was the extent of my testing.

[2017-09-30 01:56] #680 closed

[2017-09-30 01:56] #679 closed

[2017-09-30 02:00] teryhill commented on #459
This is still happening in the latest release. Just an update.

[2017-09-30 02:05] teryhill commented on #414
Still an active issue.

[2017-09-30 02:26] aethelwulffe commented on #687
Should we do a headcount on the tables to make sure there were no fails?

[2017-09-30 05:10] tmccormi commented on #687
Yes

Tony McCormick

On Sep 29, 2017 7:26 PM, "Art Eaton" <notifications@github.com> wrote:

Should we do a headcount on the tables to make sure there were no fails?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/LibreHealthIO/LibreEHR/issues/687#issuecomment-333275894>,
or mute the thread
<https://github.com/notifications/

[2017-09-30 14:07] Trodrige commented on #675
Hi, @aethelwulffe can we talk at 11:00pm(UTC), date: 01-10-2017?

[2017-09-30 16:42] aethelwulffe commented on #675
If that is the same as 2017-01-10, then that sounds great!  I am
registering that as 7PM my time.  I have a workshop sort of meetup that
I supervise during that time, but that should not affect us being able
to have a good discussion.

On 2017-09-30 10:07, Tigpezeghe Rodrige wrote:

[2017-09-30 17:14] Trodrige commented on #675
OK, great.
On Sep 30, 2017 17:42, "Art Eaton" <notifications@github.com> wrote:

[2017-09-30 17:59] aethelwulffe opened #695 "BYTEBUG LOG"
The following are a list of php notices from the logs that should be attended to.  Mostly, they involve things directly related to using uninitialized arrays before there is any user input.

From the vast wisdom of the PHP Manual:

    Relying on the default value of an uninitialized variable is problematic in the case of including one file into another which uses the same variable name. It is als

[2017-10-05 00:49] tmccormi opened #698 "Add NewCrop Menu items when enabled to JSON menu file"
The NewCrop admin menu items seem to have been missed (thx for the heads up @teryhill)

[2017-10-05 00:52] aethelwulffe commented on #698
I am working on the JSON file right now...can look.

[2017-10-05 01:30] tmccormi commented on #698
Ok, thx

[2017-10-05 01:34] aethelwulffe commented on #698
Hunting down the links from a copy of left-nav, then figuring out the
ACL bits...

On 2017-10-04 21:30, Tony McCormick wrote:

[2017-10-05 01:41] aethelwulffe commented on #698
[code]
And
[code]
from the array elements of
[code]
Should be all of it...
I will see how it does as a top-level (optional) menu item.  Might as well try the menu editor while I have it open...

[2017-10-05 01:42] teryhill commented on #698
Would this help?

  {
    "label": "New Crop",
    "menu_id": "feeimg",
    "children": [
      {
        "label": "e-Rx",
        "menu_id": "ncr0",
        "target": "pat",
        "url": "/interface/eRx.php",
        "children": [],
        "requirement": 1,
        "acl_req": ["patients","rx"]
      },
      {
        "label": "e-Rx Renewal",
        "menu_id": "ncr1",
        "target": "pat",

[2017-10-05 01:46] aethelwulffe commented on #698
If you are done...do it!  Woohoo!  Things are getting done before I can touch them!

[2017-10-05 02:04] tmccormi commented on #698
zhh prob used  feimg because they have no imagination

[2017-10-05 02:04] tmccormi commented on #698
I bet we can find and Rx image

[2017-10-05 02:11] teryhill commented on #698
I got the stuff in place but I cannot get it to show the menu . I will send the pr and let you guys look at it. The feeimg is there because of where it originated 8^)

[2017-10-05 02:15] teryhill commented on #698
PR there

[2017-10-05 02:35] teryhill commented on #698
I think it is something in the menu program that is keeping it from appearing. I can see everything in the editor and it looks ok. may be @azwreith  or @nileshprasad137  can offer some hint.

[2017-10-05 03:00] aethelwulffe commented on #698
I had just added a new top level item to the menu without using the fancy editor thingie...I should be able to figure out why this is stalled on you.

[2017-10-05 15:26] aethelwulffe commented on #698
Got the ACL fixed on #699, and is ready for final review and merge.

[2017-10-05 18:26] #698 closed

[2017-10-08 15:07] aethelwulffe opened #702 "erx_ttl_touch dual primary"
Previously, erx_ttl_touch table had no primary key.  It must either be a triple key (all fields, Patient_ID (INT), process (enum('medications', 'allergies', etc.)),and updated( DATE);), or no key.  Currently, it has a double primary, which are the first two fields.  If the tool only needs one entry per (give last update field only) then this if fine.  If it is keeping a continuous set of entries,

[2017-10-08 15:14] aethelwulffe commented on #702
Actually, it looks like the blame shows the dual key to have always been the case.  It seems like the rows must be deleted...

[2017-10-08 15:14] #702 closed

[2017-10-10 15:09] Trodrige commented on #675
Hi @aethelwulffe, sorry for the long absence. We have to talk on this issue. I suggest we talk today at 9:00 pm if it's ok.

[2017-10-10 16:06] aethelwulffe commented on #675
9PM EST? Yaoundé time is five hours ahead of me, so maybe I should
assume at 4PM EST vs. 2AM your time.

I shall have a go of it.

On 2017-10-10 11:09, Tigpezeghe Rodrige wrote:

[2017-10-10 16:09] teryhill commented on #675
Are you going to try the on the chat?

[2017-10-10 16:20] aethelwulffe commented on #675
That is the hope.

[2017-10-10 16:23] teryhill commented on #675
Maybe I can watch 8^)

[2017-10-10 16:41] Trodrige commented on #675
Wow wow, @aethelwulffe that was supposed to be 09:00 PM UTC. So it is 10:00 PM for me, and 05:00 PM for you. Is this ok?

[2017-10-10 17:08] aethelwulffe commented on #675
UTC is cool!  gotcha.  1700UTC!  video call via the chat utility here?

On 2017-10-10 12:42, Tigpezeghe Rodrige wrote:

[2017-10-10 17:25] Trodrige commented on #675
Yup, here --> https://chat.librehealth.io

[2017-10-10 20:11] aethelwulffe opened #706 "MIPS install/admin tool"
MIPS currently requires (if turned on in globals) for a bunch of tables to be installed.  At the moment, this is a manual process.  These tables will (in the future) need to be upgraded.  Requires a super-user level tool added to the QA reports menu to install/upgrade these tables.

[2017-10-10 20:18] aethelwulffe opened #707 "INNODB server variables setup recommendations."
Recently posted this:  https://mariadb.com/kb/en/library/converting-tables-from-myisam-to-innodb/

There is a lot of good advice on table conversion, and a lot of points made concerning "gotchas" we experienced, as well as how to avoid those.  At this time, the server variable recommendations we make in the setup are not appropriate for running the INNODB engine.  Memory is handled very differentl

[2017-10-10 20:26] tmccormi commented on #707
I'll update the setup notes.

[2017-10-11 00:04] tmccormi opened #708 "Setup Fails on Facility table"
During testing:  @yehster's fix reports this error:

During SQL Database creation:
unable to execute SQL: 'INSERT INTO `facility` VALUES (3, 'Your Clinic Name Here', '000-000-0000', '000-000-0000', '', '', '', '', '', '', NULL, NULL, 1, 1, 0, NULL, '', '', '', '', '','#99FFFF','0', '')' due to: Column count doesn't match value count at row 1

It does not prevent you from continuing and it should..

[2017-10-11 00:05] tmccormi commented on #708
OF course the insert needs to be fixed as well

[2017-10-11 00:07] tmccormi opened #709 "Missing image on Install document"
Document references:
 ... Documentation/1_Installing/images/1_install/**installer2.png**

Current List of files in repo.
**Documentation/1_Installing/images/1_install$ ls
installer10.png  installer3.png  installer5.png  installer7.png  installer9.png
installer1.png   installer4.png  installer6.png  installer8.png**

[2017-10-11 00:11] tmccormi opened #710 "Documentation Dir needs a top level index"
There is no way to provide a link to all the subdirs in the Documentation/ directory from Setup or the Main Menu.
[code]

[2017-10-11 00:14] aethelwulffe commented on #710
Agreed.  Index should hold everything, and basically act as a little
CRM.  Great idea.  Everything is good.

On 2017-10-10 20:11, Tony McCormick wrote:

[2017-10-11 00:43] tmccormi commented on #708
Works now, no errors from database SQL setup

[2017-10-11 00:46] tmccormi commented on #707
added this:
Configuration of PHP...

We recommend making the following changes to your PHP installation, which can normally be done by editing the php.ini configuration file:

Your php.ini file can be found at /etc/php5/apache2/php.ini

To ensure proper functioning of LibreHealth EHR you must make sure that settings in php.ini file include:

- "short_open_tag = On"
- "display_errors = Off"
- "regi

[2017-10-11 00:53] tmccormi commented on #710
Not as easy I I would like because each dir is a random collection of PDF, ODT and MD files, not a coherent set of one thing (like rendered HTML)...   I was hoping to create a automatic indexing tool ...

[2017-10-11 02:41] yehster commented on #708
Would consider a "clean abort" a significant figure request. How to handle failed SQL during install is tricky.  It could make testing and correcting more difficult.  Just reporting them seems to have helped significantly.

[2017-10-11 04:59] tmccormi commented on #708
Yes, it's excellent improvement. and I agree, not sure about the best way to abort and clean up.

[2017-10-11 17:23] aethelwulffe commented on #707
We should include (in docs) recommendations for TEMPORARY settings and for DEVELOPER settings for things like large database imports, conversions, running super-huge reports and the like.
Personally, I think that system percentages are better recommendations a lot of the time.

Another one of my favorite textbytes for server-side stuff:
http://www.bigeng.io/php-memory-optimization/
These nice litt

[2017-10-12 18:35] tmccormi commented on #707
Closing this for the release 2.

[2017-10-12 18:35] #707 closed

[2017-10-12 18:36] tmccormi commented on #709
Anyone have any idea were this doc came from and where the missing image might be? @aethelwulffe @teryhill

[2017-10-12 18:43] aethelwulffe commented on #709
Pretty sure that is all me.
I will check it out.

[2017-10-12 18:51] aethelwulffe commented on #709
These were in the old repo as documentation resources.  It is missing the file.  I will look at old builds (all that exist) of the xampp installer to see if I can find the image.

[2017-10-12 19:02] aethelwulffe commented on #709
Yeah, these were for the original installer I wrote...meant to be accessed by the installer when you run the .exe.  Any copies I had of that image are bound up in a saved  copy of that .exe.  Does not really matter.  They are all out-dated.  They should also (in the docs tree) be names something related to windows or xampp installer.
  I still have the scripts for inno Setup to compile builds.  Si

[2017-10-12 23:47] aethelwulffe commented on #706
Of note:  Provider reassignment tool either needs *massive* lockdowns on it, only be enabled for demo system, or be removed.  This tool is vital for calculating incentive payment report stuff, but it is a blanket reset of the patient_data.provider_ID field.
  I think there is another option that I should take.

[2017-10-13 16:23] aethelwulffe commented on #708
Art be a-publishin' a "file-per-table" replacement for database.sql (and everything else).  Starting a new issue for that, closing this one.

[2017-10-13 16:23] #708 closed

[2017-10-13 18:00] aethelwulffe opened #719 "Database file-per-table refactor."
Starting a project for _at least a temporary_ new setup and upgrade/patch system.  This may be replaced with some Laravel thing in the future.
PLAN
1.  Implement iteration#1 with the crazy hope to be done and tested in 24 hours (yeah, right).
OBJECTIVES:
Setup and Upgrade will allow installer to configure some or all globals at instanciation.
Tables will be managed in individual files with version

[2017-10-13 18:10] aethelwulffe commented on #706
Addressing this with #719 and closing

[2017-10-13 18:10] #706 closed

[2017-10-13 18:40] tmccormi commented on #688
Not started yet.  Not critical for release, but if I get somewhere with internet today before the official activities start I'll give it some attention

[2017-10-13 18:45] aethelwulffe commented on #719
ADDING:
SQL file validator [dev tool] for ensuring file does not contain comments, or is otherwise broken.

[2017-10-13 18:48] teryhill commented on #719
May be a directory structure holding the files for the version in addition to File name by table (possibly with version appended, like addresses.1.sql) /Ver_1.0.1

[2017-10-13 19:20] tmccormi commented on #719
Look at the lavavel style migration/setup  stull that has already been done
and model on that.  Each "database table" and it's needs are a separate
date/time stamped executable PHP.  You may even be able to most of it
already.

Tony McCormick, CTO
www.mi-squared.com Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo
-Verba volant, scripta manent

On Fri, Oct 13, 2017 at

[2017-10-13 19:22] teryhill commented on #719
Go @aethelwulffe go

[2017-10-14 00:07] aethelwulffe commented on #719
Branch for this:
https://github.com/LibreHealthIO/LibreEHR/tree/database_breakup

Separated each table structure like so: /sql/structure/_table_addresses.sql
Might rename this to sql/create/ as that is the function used there.  These files merely create the fields like so:
[code]
Next, I have separated the key declarations and the like with a separate set of files in sql/alter/_alter_addreses.sql

[2017-10-14 17:53] tmccormi commented on #719
Looks good

Tony McCormick

On Oct 13, 2017 5:07 PM, "Art Eaton" <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
information by telephone.  The information contained in this message may be
privileged and confidential. If you are NOT the intended recipient, please
notify th

[2017-10-14 21:41] tmccormi opened #721 "Change "Password" to "Pass Phrase" under the miscellaneous menu tab"
Menu is in "sites/default/menu_data.json"
![issue-gci1](https://user-images.githubusercontent.com/285835/31579563-bc996698-b0ed-11e7-8396-e7f1a90a2d89.png)

[2017-10-14 21:51] tmccormi opened #722 "Change "Appointments" in the demographic screen to "Future Appointments"."
Change the title of the appointment widget in demographics screen to read "Future Appointments"

![issue-gci2](https://user-images.githubusercontent.com/285835/31579622-ace134f0-b0ee-11e7-8192-95df58971ef7.png)

interface/patient_file/summary/demographics.php
1490:        $widgetTitle = xl("Appointments");

[2017-10-15 17:36] tmccormi opened #725 "Composer files - clean up needed"
Are these files needed?  we are not "installing" any outside packages using composer builds in the current model to my knowledge.

./modules/html2pdf/composer.json
./modules/html2pdf/vendor/composer
./modules/html2pdf/vendor/tecnickcom/tcpdf/composer.json
./modules/html2pdf/vendor/setasign/fpdi/composer.json
./modules/html2pdf/composer.lock
./composer.json
./interface/tags_filters/composer.json
./

[2017-10-15 18:24] aethelwulffe commented on #725
Nope.  I have had those files in a cut-list on several PR's in the
past.  They seem to be everywhere.  Unfortunately, I recall there are
some files named "composer" that were not necessarily composer.

The habit has been to install a whole complete package from whatever
junked up set of source files are available, rather than cleaning it up
and using only the required components.  Too much work I

[2017-10-16 18:34] tmccormi commented on #687
@teryhill  @aethelwulffe  - I'm going to push are release candidate branch today we need to test both clean install and upgrade from release 101 to 200.   Since there is no admin.php anymore we need a Upgrade FAQ to be included and or some kind of Login Alert that the database versions don't match and need upgrading.

[2017-10-16 18:54] tmccormi commented on #687
Also, I going to build a Ubuntu16 VM image we can publish like the windows XAMPP

[2017-10-16 19:31] aethelwulffe commented on #687
You want an XAMPP?

I can only host it on HoneyPot...which has tons of bandwidth btw...

On 2017-10-16 14:54, Tony McCormick wrote:

[2017-10-16 19:33] tmccormi commented on #687
we will want a XAMPP, after we test.  I building a new clear 16.04 right now to test test branch before I push if to you guys for testing

[2017-10-16 23:42] tmccormi opened #726 "INSTALL.MD out of date"
There are unneeded dependencies (at least)..

- libdate-calc-perl
- libdbd-mysql-perl
- libdbi-perl
- libhtml-parser-perl
- libwww-mechanize-perl
- libxml-parser-perl
- php-ldap

Will review each one as I do the ground-up installation testing

[2017-10-16 23:50] tmccormi commented on #726
This is the full list of what I use for Ubuntu 16.04 LTS
mysql-server
apache2
imagemagick
libtiff-tools php
libapache2-mod-php
php-mcrypt
php-mysql
php-cli
php-curl
php-soap
php-json
php-gettext
php-mbstring
php-zip

[2017-10-16 23:54] tmccormi commented on #726
- libapache2-mod-php is already there by default now.
- many of the others have dependencies that are automatically selected.
![lehr-dependencies](https://user-images.githubusercontent.com/285835/31640338-a855c20c-b292-11e7-91cf-8fceedf3fe59.png)

[2017-10-17 00:09] tmccormi commented on #726
I'm going to update the INSTALL.MD but I'm changing the setup to use this document via the gitrepo URL for now.  Need to add a XAMPP setup section to the INSTALL.MD -> @aethelwulffe

[2017-10-17 00:11] tmccormi commented on #726
We should (perhaps) consider something like this: https://github.com/showdownjs/showdown MD to HTML client side conversion

[2017-10-17 00:14] aethelwulffe commented on #726
You mean Maria/mysqld right? :)

On 2017-10-16 19:50, Tony McCormick wrote:

[2017-10-17 00:17] tmccormi commented on #726
no I mean the windows XAMPP setup instructions which are in Documentation/1_Install/ and are out of date

[2017-10-17 00:55] tmccormi commented on #726
Notes:

- register_globals is not even a php.ini setting anymore Removed in PHP 5.4.0.
- key_buffer_size is a MYSQL setting not a PHP setting
-  innodb_buffer_pool_size - is a MYSQL setting

[2017-10-17 02:01] aethelwulffe commented on #726
And the XAMPP package comes with all that junk pre-set.  In todos.

On 2017-10-16 20:55, Tony McCormick wrote:

[2017-10-17 02:11] tmccormi commented on #726
Are you setting the items in my.cnf or in the include file(s) and which one?
/etc/mysql/conf.d/
/etc/mysql/mysql.conf.d

16.04 has this:
my.cnf LINKED to /etc/alternatives/my.cnf   as well

[2017-10-17 15:20] aethelwulffe commented on #726
It is my.ini, and it looks like since my last build was on September 24th of 2016, I need to upgrade all the components in the package.
  There are a lot of things that have changed, both with MariaDB, and with the Apache Friends project.  Basically, my build files need to be re-built from ground up.  I am still intending to use a "XAMPP lite" package (if I can get it).  I will need to build the d

[2017-10-17 17:21] tmccormi opened #727 "Calendar UI and Admin - Display and Config"
As shown here the Agenda view is bad when there are a lot of doctors.   I assumed I could change the default to DAY view, but the Admin for the calendar is missing entirely

Admin->other->calendar
The requested URL /interface/main/calendar/index.php was not found on this server.

![toomanydoctors](https://user-images.githubusercontent.com/285835/31679064-dd91ee22-b324-11e7-89df-cf9bd827e4fd.png)

[2017-10-17 17:49] teryhill commented on #727
Which system?
    On Tuesday, October 17, 2017, 1:46:39 PM EDT, Tony McCormick <notifications@github.com> wrote:

As shown here the Agenda view is bad when there are a lot of doctors. I assumed I could change the default to DAY view, but the Admin for the calendar is missing entirely

Admin->other->calendar
The requested URL /interface/main/calendar/index.php was not found on this server.

—
You a

[2017-10-17 17:56] teryhill commented on #727
You must have an outdated JSON file. It looks good in the codebase and on the demos

[2017-10-17 17:59] tmccormi commented on #726
Thanks,  I'm still working thru a ground up 16,05 VirtualBox VM to shake out as much as I can for the install instructions etc.

[2017-10-17 18:04] teryhill commented on #727
![image](https://user-images.githubusercontent.com/4655366/31680780-55d76d76-b343-11e7-8165-840273ffe5ff.png)

[2017-10-17 18:05] teryhill commented on #727
I fixed the nhanes demo site. Not sure if anyone is using it. Tony you can close this now

[2017-10-17 19:20] tmccormi commented on #727
It is being used, a lot.

But the menu is only one of the issues, the other is the UI not being able to gracefully handle a lot of doctors in agenda view.

[2017-10-17 19:25] teryhill commented on #727
Switch to day view. Most clinics will do just that.

[2017-10-17 20:12] aethelwulffe commented on #727
Paging must be possible in some manner.
We have 45 providers (or 50 maybe, don't remember) at ARSP.  Switching is fine, but an interim solution might be a warning, then a redirect to day view if the provider list is above a certain number.

[2017-10-17 20:21] tmccormi commented on #726
Determining the correct setting for innodb_buffer_pool_size is a lot more complicated that just 70% of ram
https://dev.mysql.com/doc/refman/5.7/en/innodb-buffer-pool-resize.html

[2017-10-17 20:27] aethelwulffe commented on #726
Slightly different deal with Maria, but yes, there are actually 17 really important settings.
I have popped out an RC zip here:
http://librehealthehr.suncoastconnection.com/downloads/LibreHealthEHR-2.0.0-RC1.zip
I also pushed a docs change.  Apparently the odt source file was changed, the extra image removed, but the base HTML output was not updated.  There is no image number 2, and I am too lazy

[2017-10-17 20:31] tmccormi commented on #726
here's what the my.cnf file i'm working with has...
[mysqld]
key_buffer_size = 384M
innodb_buffer_pool_size = 2G

[mysqld-5.7]
sql_mode=

[2017-10-17 20:34] tmccormi commented on #726
Since I have not pushed a RC1 branch yet how is it that you have a package?

[2017-10-17 20:36] aethelwulffe commented on #726
Due to 32 bit concerns, I have limited the innodb pool to under 4G, and sized the rest accordingly.  The docs say "limit 4G" but it complains and dies if you set it to the limit.
[code]
I have an RC1 >XAMPP< package.  This candidate tests the package compile, not the application.  Well, it does that too, but....

[2017-10-17 20:38] tmccormi commented on #687
RC1 Branch since @aethelwulffe is doing win XAMPP - not tested yet...

github.com/LibreHealthIO/LibreEHR.git
 * [new branch]      libreehr_rel200 -> libreehr_rel200

[2017-10-17 20:40] teryhill commented on #726
I would only uggest settings. It depends on machine configuration and hardware. I could not get my 8gig ram machine to work on more than 2gig

[2017-10-17 20:41] aethelwulffe commented on #687
Is that formatting right above, or did the markup language make things funny?

[2017-10-17 21:32] aethelwulffe commented on #726
I have to build a compete package with some kind of settings.  Remember, it is a one-click.

[2017-10-17 21:33] aethelwulffe commented on #726
But if you think 2gig is safer...I will do that and make the rest proportionate.

[2017-10-17 21:35] tmccormi commented on #687
formating of what?

I have success in a full new installation on Ubuntu 16.04 with the updated my.cnf, php.ini etc ...

[2017-10-17 21:40] teryhill commented on #726
I think you should , if you are going to force it , make the 512 meg. If it is too high for the machine MySql will not start. go with a min number and let the user's adjust, don'y kill the application with a value that is too large.

[2017-10-17 22:04] aethelwulffe commented on #726
512 for innodb?  I....don't know if that is going to run very well.  Doesn't for us...besides, it isn't a "force" so much as a "must have some setting".  Of course it can be changed, but we need a happy medium for folks that might never change it.
Let's keep looking at this.  I will do an install on some marginal machines...or just check it out on HoneyPot, which is basically a marginal machine...

[2017-10-17 22:15] tmccormi commented on #687
I have a 4.5 Gig Virtual Box VM we could post somewhere for download ..

[2017-10-17 22:22] aethelwulffe commented on #726
OK, I will go with some standard settings (that are pretty small) that are intended for 512M virtual machines.  This will suck after things start to get big, but it will be fine for a while.

[2017-10-17 23:18] tmccormi commented on #726
setup.php notes do not match INSTALL.MD notes for settings.  INSTALL.md had much bigger suggestions.   Which should I use?   Need to be consistent

INSTALL.md
max_execution_time = 600qqq
max_input_time = 600
max_input_vars = 5000
memory_limit = 1024M
post_max_size = 32M
upload_max_filesize = 16M
session.gc_maxlifetime = 14400
short_open_tag = On
display_errors = Off

Setup.php
echo "<li>To ensure

[2017-10-17 23:21] teryhill commented on #726
use the smaller ones. The install manual should suggest the larger ones if there is an issue.

[2017-10-17 23:28] aethelwulffe commented on #726
How about this:
[code]

[2017-10-17 23:30] tmccormi opened #729 "default/config.php"
This file should be dropped entirely.  Any configurable things should be in globals.php

[2017-10-17 23:38] tmccormi commented on #726
What about this:
`sql_mode = ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION`
versus
`sql_mode=`

[2017-10-17 23:45] teryhill commented on #726
Looks ok to me . Tony's suggestion is good too.

[2017-10-18 00:31] aethelwulffe commented on #726
I just throwwin some stuff out theres.

[2017-10-18 20:20] tmccormi commented on #726
I just noticed that README.md also as all the dang php.ini etc stuff in it (and it's different that what I just did).  Need to be less redundant.

[2017-10-18 20:35] aethelwulffe commented on #726
Remember, there are also the "Documentation Source Files"...which are stored somewhere along with a 1meg zip with the logo sources.

[2017-10-18 22:30] tmccormi commented on #726
Do you have an update for SettingUpLibreEHR.odt already?

[2017-10-18 22:31] aethelwulffe commented on #349
Closing...this is the old calendar.

[2017-10-18 22:31] #349 closed

[2017-10-18 22:32] #82 closed

[2017-10-18 22:33] #146 closed

[2017-10-18 22:38] Trodrige commented on #685
Hi @aethelwulffe, is this what you mean...
![layout-editor-style-error](https://user-images.githubusercontent.com/16147419/31746056-602e4ffe-b45d-11e7-99c1-78c6078e6473.png)

[2017-10-18 22:40] teryhill commented on #685
@aethelwulffe  what about making it say When Selected

[2017-10-18 22:46] aethelwulffe commented on #301
Can't find this feature anymore.  Only one backup interface...whole dump (which hangs the whole system), and Create Eventlog backup.

[2017-10-18 22:46] Trodrige commented on #685
Uhhhh, @teryhill 'When selected' doesn't sound well to me. It sounds more like an INSTRUCTION is to follow, while with 'With selected' it's obvious that an ACTION follows.

[2017-10-18 22:47] aethelwulffe commented on #726
Sure, but it was up-to-date except for where it said things like Step 8 of 9 (which is actually 7 of 8).  I will check and push.

[2017-10-18 22:52] teryhill commented on #685
Ok but it sounds incomplete. I select the items now what do I do? I really want to Delete or move what I have selected. Just a thought.

[2017-10-18 22:53] aethelwulffe commented on #685
With Selected is right...though I bet trodrige could add a little bit of padding in there, or something that looks a little cleaner or something.
I think "With Checked ✅ " then two options with buttons proportional to the label, or otherwise separated from the "save changes".
Honestly, I think the thing needs re-writing or getting a per-line "save" button.

[2017-10-18 22:55] aethelwulffe commented on #685
# With Selected ### <Move> <Delete>

[2017-10-18 23:52] Trodrige commented on #685
@aethelwulffe what about this?

![layout-editor-style-error-1](https://user-images.githubusercontent.com/16147419/31747917-b00444de-b467-11e7-9b6a-e6c9c22cee0f.png)

[2017-10-19 00:19] Trodrige commented on #685
What if a user edits more than one entry but ends up clicking the 'save' button of only one of the entries (lines). Will the change be discarded?. However, it'll be a good idea if the per-line "save" buttons' save logic is implemented same as the current one (invoked by Clicking Save Changes). That is they all invoke the same function that updates all changed fields(lines or entries).
Also, if we

[2017-10-19 00:23] teryhill commented on #685
It the user edits more than one line then saves they all are saved. The delete and move are the only items that apply to the check boxes.

[2017-10-19 00:28] Trodrige opened #731 "Adjustments in Social Statistics section while adding a patient"
When choosing a language in Social Statistics section, 'English' appears twice in the list of languages.

![menu_016](https://user-images.githubusercontent.com/16147419/31748579-1aba4d60-b46c-11e7-87dd-8bbfcebb6033.png)

Also 'Financial Review Date' should be a date picker, not text input.

[2017-10-19 00:32] teryhill commented on #731
The languages should be driven from the "List" Under administration and then list.

Yes finical review date should be a date picker. It may be set to a text field and not a date field . Under layouts

[2017-10-19 00:35] teryhill commented on #731
Scratch that response English only appears once in the list and the review date is set to date-text. Bugs

[2017-10-19 00:38] Trodrige commented on #731
I have 1 'English' entry under Administration->Lists, but two still appear while adding a patient.

[2017-10-19 00:42] tmccormi commented on #301
has to be turned on in Globals

[2017-10-19 00:55] Trodrige commented on #685
@teryhill, aethelwulffe says each line should have a save button in it. Are you saying each of these buttons will function same as the current 'Save Changes' button. I mean, the logic that updates the entries when the save button is clicked.

[2017-10-19 00:56] Trodrige commented on #685
What if we change the values in the delete and move to buttons to these

![layout editor option](https://user-images.githubusercontent.com/16147419/31749248-b30e508a-b470-11e7-9900-2f1005a82953.png)

[2017-10-19 00:58] teryhill commented on #685
I LIKE that one.

The save per section is ok as long as when any save button is activated it saves all

[2017-10-19 01:01] teryhill commented on #685
@Trodrige how about if the buttons floated with the screen scroll so that the save button is always in the active area then one button would do.

[2017-10-19 07:40] aethelwulffe commented on #685
@Trodrige THAT is what I like.  Pleasepleaseplease let's keep the second one!  Clean, with the whole function label in each button.  We might also want to change "Save Changes" to "Save Edits" or Save Edited Lines or something, but this is MUCH BETTER this way.

[2017-10-19 07:40] aethelwulffe commented on #685
The same thing is needed in the FORMS ADMIN.

[2017-10-19 13:41] kchapple commented on #725
@tmccormi @aethelwulffe I would keep them, as they do not take up too much space, and do provide information about the versions of these components and their dependencies. And if we ever wanted to upgrade anything using composer we could.

[2017-10-19 14:22] aethelwulffe commented on #725
Just my point of view:

Anything that is kept must be maintained, even if it is never used.

Ref: https://github.com/sensiolabs/security-checker

   I am not sure why one would include what are essentially makefiles in
a deployed product.  The larger issue is that composer, being limited in
how it manages file locations, should in fact be running on the
development machine at a higher directory le

[2017-10-19 14:37] teryhill commented on #725
those files could be moved to a place outside the code base as an archive for possible use later if they are needed.

[2017-10-19 15:05] kchapple commented on #725
Since we're not using composer as a project at this time, most of these could be deleted. Except the root level one because it is actually used by the plugin system. It was my hope before the Tags/Filter thing was permanently checked into the repo, that it would be installed via composer. I would heavily support a move towards a single composer file and install dependencies via composer.

This is

[2017-10-19 19:02] rehoyt commented on #661
I was searching for open source software for EHR templates. Nothing jumped out at me but I did see a [website](http://www.ackdoc.com/fpot.html) with lots of common disease templates in a MS Word format. Is there any reasonable way to digitize these forms and make them customizable? Seems like some of the information could be mapped to the database, such as vital signs, etc.
HL7 has a template work

[2017-10-19 19:09] aethelwulffe commented on #661
Yes.  Open them up (preferably in LibreOffice), then save them as a .html file.  Post them somewhere.  We can turn them into forms from there....or we can just grab them from whereever.  These might be good for Code-In students to chew on.

[2017-10-19 19:10] tmccormi commented on #661
Most "Templates" use bad layout that does not take into account the data (like Vitals) that have already been collected. Or worse the are a pile of check boxes and descision trees that lack the freedom needed to actually work with the patient.   I'm pretty sure that NLP from a progress note in conjunction with some preformatted "text snippets" is a way better than a bunch of predesigned forms.

[2017-10-19 19:14] aethelwulffe commented on #661
Actually, yes, these word documents stink.  I was thinking that they had data input fields and things like that (actual template documents) but they are just text thingies (except for some of the fancier pdf versions).  As text sources for making a real form(making lists, etc...), they might be of help.  Turning them into integrated empirical clinical-data gathering user interfaces is a whole diff

[2017-10-19 19:21] tmccormi commented on #661
Projects like CTakes already purport to to be able to do this.  I should be able to demonstrate that next week when Hadrian gets back in town (I've already seen a first demo).

I did not like the implementation of Nation Notes, but I did like the concept of a set of forms that included predefined and user definable snippets that included "Fill in" tags.   It's a way better model that separate temp

[2017-10-19 19:32] tmccormi commented on #661
Here's a video demo of it openEMR for Bob ..
https://www.youtube.com/watch?v=5cRmhg0D7Qw

[2017-10-19 20:22] aethelwulffe commented on #553
Is this issue wrapped up yet?

[2017-10-19 21:38] rehoyt commented on #661
When the beta testers have finished I'll be sure to ask them about the value of templated notes for students. I don't mind setting up 4-5 templates for common disorders. I assume it is easy to add Nation Notes to LibreHealth??

[2017-10-20 02:34] aethelwulffe commented on #731
Well, are there two entries in your database?

[2017-10-20 02:35] aethelwulffe commented on #731
Were they "English UK" and "English Jamaican" or something, and got shortened up?

[2017-10-20 02:38] aethelwulffe commented on #731
Frankly, that social statistic list is either an overdone piece of crud, or it needs to be a searchable enum (active search) thing.
Of course, these days you could say that about city and street names as well.

[2017-10-20 18:43] tmccormi commented on #726
I've pushed all the updates I'm aware of to the new branch libreehr_rel200 branch

[2017-10-20 22:36] aethelwulffe opened #733 "FEE SHEET IS TOTALLY BUGGERED"
Can't add codes to fee sheet.
Bigtime hosed up right now.
Application is basically useless.

[2017-10-20 22:37] aethelwulffe commented on #733
Seeing this issue on my systems and on the demo (after I unscrewed the massive hacks people have done to it).

[2017-10-20 22:59] aethelwulffe commented on #733
Codes admin seems messed up too.  Could have to do with the insurance billable flag or something...diffing repos, checking blame, sorting through huge list of php logs.

[2017-10-20 23:01] aethelwulffe commented on #733
Seems related to $GLOBALS['incdir']

[2017-10-20 23:06] tmccormi commented on #733
Guess I'll hold on the release ...

[2017-10-20 23:18] aethelwulffe commented on #733
[Fri Oct 20 18:51:12.328762 2017] [:error] [pid 7916:tid 1956] [client ::1:52351] PHP Notice:  Undefined index: enable_amc_prompting in C:\\xampp\\htdocs\\LibreEHR\\interface\\patient_file\\encounter\\forms.php on line 371, referer: http://localhost/LibreEHR/interface/patient_file/encounter/encounter_top.php?set_encounter=206
[Fri Oct 20 18:51:12.360784 2017] [:error] [pid 7916:tid 1956] [client :

[2017-10-20 23:22] teryhill commented on #733
I am getting this in the console. It looks like it is a bootstrap issue

Slow network is detected. Fallback font will be used while loading: http://localhost/LibreEHR/assets/js/bootstrap-3-3-4/dist/fonts/glyphicons-halflings-regular.woff
new.php:1 Slow network is detected. Fallback font will be used while loading: http://localhost/LibreEHR/assets/js/bootstrap-3-3-4/dist/fonts/glyphicons-halflings-

[2017-10-20 23:29] teryhill commented on #733
run the upgrade script.

[2017-10-20 23:33] tmccormi commented on #733
Error: Duplicate entry 'Administrators-Globals|/interface/super/edit_globals.php-Adminis' for key 'PRIMARY'
Got this error trying to run upgrade ....

/var/www/LibreEHR/library/sql_upgrade_fx.php at 504:sqlStatement
/var/www/LibreEHR/sql_upgrade.php at 58:upgradeFromSqlFile(1_0_1-to-1_0_2_upgrade.sql)

[2017-10-20 23:36] tmccormi commented on #733
Now mine behaves just like Art's unable to add transactions at all.
 and nothing at all is logged as an error....

[2017-10-20 23:38] tmccormi commented on #733
Nice to catch that before the release...  We need a QA suite, using like http://www.seleniumhq.org/

[2017-10-20 23:40] aethelwulffe commented on #733
We need to check blame, but...there are a lot of includes running around here.  Does HoneyPot have an old version I wonder?

[2017-10-20 23:41] aethelwulffe commented on #733
My guess is that this is bootstrap and it has been with us for over a month.

[2017-10-20 23:41] tmccormi commented on #733
just use git diff against a older commit

[2017-10-20 23:42] aethelwulffe commented on #733
This is obviously a fundamental asset issue.  It is affecting things all over the place.  sql.inc, acl.inc, something..

[2017-10-20 23:42] aethelwulffe commented on #733
Bryan was running our "test suite" and discovered the primal issue.

[2017-10-20 23:50] teryhill commented on #733
Can the header items be backed out. I noticed that jquery 3.1 is running in header and forms.php use to have 1.7.2

[2017-10-20 23:52] aethelwulffe commented on #733
LibreEHR\assets\js\jquery-min-1-7-2\index.js still exists.

[2017-10-20 23:54] teryhill commented on #733
yes but the call to it was removed out of forms. I think that is the root of the problem the jquery versions were removes and blanked with 3.1

[2017-10-20 23:56] aethelwulffe commented on #733
Yeah, I was just saying we can plug it in...

[2017-10-20 23:58] teryhill commented on #733
3.1 most likely needs to be removed from header unless it is specified

[2017-10-20 23:58] aethelwulffe commented on #733
Changing/adding header file to allow for different versions of jquery

[2017-10-21 00:19] aethelwulffe commented on #733
My guess is that we look at the last revision of the header file.  Files altered to use the header in the last round were not properly tested...or checked by others.

[2017-10-23 18:42] tmccormi commented on #733
Should we just revert the changes that @Trodrige made?

[2017-10-23 19:30] aethelwulffe commented on #733
NO...these don't appear to be a Trodrige branch issue.

Sorry, I had to have a desk built by this morning.  Didn't finish it
until about 11 AM after pulling an all nighter.  I will put my back into
it Tuesday morning (tomorrow).

On 2017-10-23 14:42, Tony McCormick wrote:

[2017-10-23 19:31] tmccormi commented on #733
No worries, how can I help?

[2017-10-23 19:47] aethelwulffe commented on #733
Uh, what I intended was to re-write the js includes function to take an
array of strings as a parameter argument set.

The function would (must be) if elseif statements to evaluate what
includes are required, but it will be strings in an array with an
isset.  This way, we can just write a huge number of different libraries
into the function if need be, then call out with whatever we like.

If this

[2017-10-24 08:15] SoumyadeepJana opened #736 "Issue during installation"
I have configured the php.ini and mysql.ini files as mentioned but during installation, I am facing something like this.

<img width="960" alt="2017-10-24" src="https://user-images.githubusercontent.com/16064577/31931679-96a90584-b8c1-11e7-98f8-1779b10a5f3e.png">

Mysql error log is as follows:
<img width="960" alt="2017-10-24 2" src="https://user-images.githubusercontent.com/16064577/31931883-34c

[2017-10-24 15:19] aethelwulffe commented on #736
max_execution_time should be set to a minimum of 90 seconds.  30 seconds
doesn't work so good.

On 2017-10-24 04:15, Soumya_d_coder wrote:

[2017-10-24 15:48] SoumyadeepJana commented on #736
I have set the max_execution_time to 600,still it doesnt work.

[2017-10-24 19:55] Trodrige commented on #685
@aethelwulffe please can you give me directions on the forms admin issue. Or better still open a new issue for it.

[2017-10-24 20:41] Trodrige commented on #675
@aethelwulffe we still have to discuss this issue.

[2017-10-24 21:59] Trodrige opened #738 "Inconsistent display of frames"
- From the main page( with 2 tabs open ) go to Administration->Other->Database. Observe that the new frame is "Unkown".
- Still from the main page(with default 2 tabs open). Close one of the tabs and head to Administration->Other->Database. Observe that the new tab has both initial tabs inside it. Sometimes it I still have the empty "Unknown" tab.

[2017-10-24 22:02] teryhill commented on #738
Make sure you have the disable sql admin checked in globals. You are getting this because you do not have phpmyadmin installed thru the software.

[2017-10-24 22:03] teryhill commented on #738
it is on the features tab

![image](https://user-images.githubusercontent.com/4655366/31970319-9d742aaa-b8e5-11e7-94d1-80c1e3eb417e.png)

[2017-10-24 23:02] tmccormi commented on #736
Line 460 is a call to mysql, perhaps you have something wrong with the mysql installation/setup?

[2017-10-25 00:15] teryhill commented on #733
@nileshprasad137 and @Trodrige  We could use some help on this one if you guys are free.

[2017-10-25 02:50] tmccormi opened #741 "New Encounter Tab UI not clean when tab is narrow"
See image.  Closing the other tabs made it work.   I am on a 22" monitor, Chrome Browser / Linux.

![badnewenc-chromelinux](https://user-images.githubusercontent.com/285835/31978089-91b4e1f0-b8f4-11e7-9edd-d5f4628b9cf5.png)

[2017-10-25 02:52] tmccormi commented on #733
Shall we call this closed... kind of a red herring, I'd say.  @aethelwulffe

You have the other issue to work for the more general problem, I believe.

[2017-10-25 02:57] aethelwulffe commented on #733
Not really a red herring.  More like a kipper snack.  This stuff had been fermenting for a while. There are other things that are a bit of a problem...and the issue seems to be the two versions of bootstrap as much as anything else.
  At least I have a start on "the other stuff".

[2017-10-25 02:57] #733 closed

[2017-10-25 09:11] SoumyadeepJana opened #742 "Installation problem"
I am getting this error in step 4,next time when i am visiting the index page,i am getting the login screen but my created credentials don't seem to work.Please help.

<img width="960" alt="2017-10-25" src="https://user-images.githubusercontent.com/16064577/31990335-730144b2-b992-11e7-8f3f-0d7f67a01902.png">

Mysql.ini file
https://drive.google.com/open?id=0B89Dh49ZodyQZFE1N1RleGtuRVE

php.ini fil

[2017-10-25 09:26] Trodrige commented on #738
@teryhill I checked that and this alert box keeps showing every time.

![alert](https://user-images.githubusercontent.com/16147419/31991151-f5b622e8-b96e-11e7-838b-ce21a712eeaf.png)

[2017-10-25 09:29] Trodrige commented on #738
Right!!! I got it. I didn't have libreehr.librehr_postcalendar_events table. Saw this error

I created the table, and works well now. Thanks @teryhill

[2017-10-25 09:43] Trodrige commented on #742
Hi, @SoumyadeepJana check libreehr.users table if your credentials exist.

[2017-10-25 12:27] teryhill commented on #738
@Trodrige is this issue resolved?

[2017-10-25 13:09] SoumyadeepJana commented on #742
There's no such table created.

[2017-10-25 13:14] teryhill commented on #742
@SoumyadeepJana do you have any entries in the php error log? Sounds like some of the tables did not get created on the install. What version of PHP are you using?

[2017-10-25 13:42] SoumyadeepJana commented on #742
@teryhill Hi
I am using php version 7.1.10

[2017-10-25 13:46] teryhill commented on #742
I have not tested with 7.1 . 7.0 is the latest that was tested.

[2017-10-25 13:53] Trodrige commented on #742
I asked because I face this same problem, and had to create the missing tables myself.
Go to your project folder-> sql ->database.sql  Here you'll find the SQL statements to create tables. Make use of it. Ensure you have all the tables in the database to avoid future blocks. Hope it helps

[2017-10-25 13:54] Trodrige commented on #738
Yup it is!!

[2017-10-25 13:54] #738 closed

[2017-10-25 13:57] SoumyadeepJana commented on #742
Should I use php 5 instead? Yeah I got the database.sql file but where should i run those commands?

[2017-10-25 14:19] Trodrige commented on #742
@SoumyadeepJana I got php 7.0.
I use phpmyadmin to access my databases, so I created the missing tables there.

[2017-10-25 17:19] SoumyadeepJana commented on #742
It worked with a slight lower version of php.
Thanks @teryhill @Trodrige

[2017-10-25 17:21] teryhill commented on #742
@SoumyadeepJana  what version? @tmccormi and @aethelwulffe php 7.1.10 will not install

[2017-10-25 17:30] SoumyadeepJana commented on #742
My php version is 7.0.24

[2017-10-25 17:37] aethelwulffe commented on #742
I already figured out the 7.1 issue when building the xampp installer.

On 2017-10-25 13:30, Soumya_d_coder wrote:

[2017-10-25 17:45] aethelwulffe commented on #742
Superglobals like $this have changes in use, datetime comparisons,
session ID hashing, lexically bound variables like $_SERVER that have
been used for other purposes, and a number of other things are going to
be a problem I think.

On 2017-10-25 13:30, Soumya_d_coder wrote:

[2017-10-25 17:48] tmccormi commented on #742
PHP 7.1 port - Sounds like a good issue to open and for a smart volunteer to work on ...

[2017-10-25 18:13] #651 closed

[2017-10-25 18:15] tmccormi commented on #191
The setup script should generate the sqlconf.php so there is no need to store a "template" copy of it.

This would be a good

[2017-10-25 18:47] aethelwulffe commented on #741
Also, open an encounter.  Look at a fee sheet.  Close fee sheet.  New Encounter form still has a tab that says "Fee Sheet".  Refresh.  Now New Encounter form has a big old label with the date and stuff.

[2017-10-25 23:05] Trodrige commented on #675
@aethelwulffe we have a discussion pending on this issue. I really want to
work in this, and need your guidance.
On Oct 10, 2017 6:08 PM, "Art Eaton" <notifications@github.com> wrote:

[2017-10-26 01:41] tmccormi commented on #675
We need a form creation tool, so happens the the LibreHealth toolkit has one that generates XML that could, potentially, be used to dynamically present form for the EHR.  @judywawira  and I have talked about standing up a lh-toolkit "service" that does nothing by allow the design of forms (drag and drop) so that the XML can be consumed by the EHR ...

[2017-10-26 03:00] SoumyadeepJana commented on #731
Should it be removed then?

[2017-10-26 15:51] kchapple commented on #725
If this is a permanent feature, I'd suggest moving it out of the Tags plugin and into it's own library file so it won't break anything if the Tags/Filter plugin is removed.

[2017-10-26 17:33] tmccormi commented on #687
Updated libreehr_rel200 with latest master.   Ready for testing  @aethelwulffe @teryhill

[2017-10-26 17:37] aethelwulffe commented on #687
On it now.

[2017-10-26 17:41] aethelwulffe commented on #687
First boo-boo.
Modal window/fancybox whatever in Administration/Users does not show when "inactive" users are in the list.

Replication:
Create a bunch of users, some active, some not.
In the UI, check "show inactive".
Click on a row.  Page loading attempts to happen, but nothing shows.
Uncheck "show inactive".
Click on a row.  Behavior is now nominal.

[2017-10-26 17:45] aethelwulffe commented on #736
@SoumyadeepJana Have you resolved this as an issue?  I believe it was a php version issue, Ja?
If so, this is resolved by either fixing 7.1 compatibility, or by documenting the issue in the install/setup docs or the installer itself.

[2017-10-26 17:58] tmccormi commented on #687
It's working for me regardless of whether active/inactive user's exist or the state of the "show" check box

[2017-10-26 18:09] aethelwulffe commented on #687
There are 400 users in this generated DB.  I had to push an issue fix on something else, but now I can check my logs.

[2017-10-26 18:11] aethelwulffe opened #744 "User UI pop-up window for Inactive Users."
Modal window/fancybox whatever in Administration/Users does not show when "inactive" users are in the list.

Replication:
Create a bunch of users, some active, some not.
In the UI, check "show inactive".
Click on a row.  Page loading attempts to happen, but nothing shows.
Uncheck "show inactive".
Click on a row.  Behavior is now nominal.

[2017-10-26 18:16] tmccormi commented on #744
I am not able to replicate this issue in my installation.  It's all working normally

[2017-10-26 18:27] aethelwulffe commented on #744
@teryhill check to make sure you are not getting the same thing I am, and if so, I will chock it up to bad data.

[2017-10-26 18:28] aethelwulffe commented on #744
I got this error on an UBUNTU server...checking it out now on XAMPP with the same data.

[2017-10-26 18:40] teryhill commented on #744
@aethelwulffe I am not having any issues with this on my system.

[2017-10-26 18:44] aethelwulffe commented on #744
Closing this.  I will re-investigate what is going on with that system.  If there is a real issue, I will re-open.

[2017-10-26 18:44] #744 closed

[2017-10-26 19:05] teryhill commented on #741
@tmccormi I am not having that issue can you change your them to tan since that should be the only one we have.

![image](https://user-images.githubusercontent.com/4655366/32071966-064d58c4-ba5f-11e7-971b-5fe42a6d7ed3.png)

[2017-10-26 19:10] aethelwulffe commented on #741
Sorry, I always switch to purple/compact since that is the only we should have.
-:) kidding, but tan looks like poo with the mips stuff I use.  The buttons become unreadable in the measure selection, and the tabs on other things just take up waaaay too much white space.

[2017-10-26 19:15] aethelwulffe commented on #741
Honestly, one day we need to get around to addressing the white-space issue.  The new UI elements are just too dang big.  Everything requires scrolling.

[2017-10-26 19:16] aethelwulffe commented on #709
This issue is resolved.

[2017-10-26 19:16] #709 closed

[2017-10-26 19:18] aethelwulffe commented on #726
I think we are clear on this.  If we have documented the incompatibility issue with php7.1, then we are clear I believe...and this can be closed.

[2017-10-26 19:21] aethelwulffe commented on #685
@Trodrige I am closing this, then opening on the forms admin issue.  It is the same sort of thing where administration/forms GUI has badly arranged controls.

[2017-10-26 19:21] #685 closed

[2017-10-26 19:21] aethelwulffe commented on #688
Done yet? 😸

[2017-10-26 19:22] Trodrige commented on #685
OK, I'll fix that too
On Oct 26, 2017 20:21, "Art Eaton" <notifications@github.com> wrote:

[2017-10-26 19:53] tmccormi commented on #741
why? the "light" the other one is tens times better that the Tan...   We
did we decide to have only Tan?  The whole point of the light one is for
the system to look modern, not like the bigO

Tony McCormick, CTO
www.mi-squared.com Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo
-Verba volant, scripta manent

On Thu, Oct 26, 2017 at 12:05 PM, Terry Hill <notifications

[2017-10-26 19:54] tmccormi commented on #688
I have not touched this and as I said, not going to do this for the release.  It's a separate install in any case, not a part of the release.

[2017-10-26 19:59] tmccormi commented on #741
PS, this is on a new install, so I'm using the default theme, which is
Light not Tan.  Should the style be changed in the installation?

We currently have

   - Purple
   - Tan no Icons
   - LIght
   - Tan

Tony McCormick, CTO
www.mi-squared.com Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo
-Verba volant, scripta manent

On Thu, Oct 26, 2017 at 12:53 PM, Tony McCor

[2017-10-26 20:01] teryhill commented on #741
The discussion was that we would go with the Tan and @nileshprasad137 would do a color picker so we could choose colors and we were going to get away from maintaining all the themes and css's.

Just let me know how y'all want your project.

[2017-10-26 20:01] tmccormi commented on #741
And changing to Tan does not fix it.

![sameproblem](https://user-images.githubusercontent.com/285835/32074313-c8dff2b4-ba4d-11e7-81eb-a13d78aae8d7.png)

[2017-10-26 20:02] teryhill commented on #741
Works fine on mine

[2017-10-26 20:02] tmccormi commented on #741
Chrome on Linux is not the same as Chrome on Windows ....  so this is an open but not urgent issue

[2017-10-26 20:18] aethelwulffe commented on #741
EDITORIAL OPINION PIECE:
Yes, and you need multiple themes, configurable by user, with user agent detection...and they must be maintained...or the theme needs to be really really smart.
So, while I am given to understand that "Modern" === "Shit", then yes, the light theme is Modern. 😈
For me, it lacks contrast and makes things much harder for N00bs to the system to spot while trying to instruct th

[2017-10-26 20:23] tmccormi commented on #741
Don't get me wrong, I prefer high contract dark background.  My favorite was the Steel one.   But this one looks good to people that want to buy the system from me.  There others ALWAYS get the "that's looks old, can you update it to something newer?" question.

I like the idea of a user configurable theme, but we don't have that yet...   In any case this issue is not a problem with the theme at a

[2017-10-27 00:22] nileshprasad137 commented on #741
Looks like there are multiple issues with UI .I'll try to find some time to
work upon them.

On 27 Oct 2017 01:53, "Tony McCormick" <notifications@github.com> wrote:

[2017-10-27 00:25] nileshprasad137 commented on #741
I think this issue wasn't present some time back. I'd look at it.

On 27 Oct 2017 05:52, "Nilesh Prasad" <prasadnilesh96@gmail.com> wrote:

[2017-10-27 03:35] SoumyadeepJana commented on #736
@aethelwulffe yup,I guess the issue was due to the php version because I tried it on different machines with php 7.1.10 but the I faced the same issue,both in Wamp and Xampp server.php 7.0.24 was rightly compatible.Should I update the setup docs?

[2017-10-27 13:37] aethelwulffe commented on #736
PLEEEEZEEE!

-Good bug catch BTW!  It is a nice fat crunchy bug too.  I sure it will
be a lot of fun ramping up a compatibility project:  Of course we want
to see where 7.2 is going to put us before we start.  Rumor has it that
there are issues (that we solved) that are not an issue with 7.1 or 5.7
that were issues with 7.0. *sigh*.

Document and forge ahead!

On 2017-10-26 23:35, Soumya_d_coder w

[2017-10-27 21:51] Trodrige commented on #675
@teryhill this is the issue I had problems implementing. It seems @tmccormi has a solution to it.

[2017-10-27 22:00] Trodrige opened #748 "Administration/forms GUI has badly arranged controls"
The page has poorly arranged controls and choice of colors. These need to be adjusted.

[2017-10-27 22:06] Trodrige opened #749 "Global menu theme not functional"
Appearance doesn't change even when either full or compact theme is selected. This functionality needs to be implemented.

[2017-10-27 22:30] teryhill commented on #675
@Trodrige I don't know if it is a solution or a suggestion. Why don't you ping ivange94 and see if he has an Idea of how to utilize the code in the toolkit as a standalone function that could be used in the EHR.

[2017-10-27 22:50] Trodrige commented on #675
Ok, @teryhill I'll contact Ivange94 for help on this.

[2017-10-27 23:01] teryhill commented on #749
change the Theme to light and see if it works with it.

[2017-10-27 23:19] Trodrige opened #750 "Inconsistent use of components across the system"
Opening this for discussion first. Elements are based on bootstrap in some areas, and the same elements don't have any bootstrap in others.
I think if we go in for Bootstrap, then we use it uniformly across the whole system otherwise, we don't use it at all.

[2017-10-27 23:22] teryhill commented on #750
We have been moving to bootstrap. @nileshprasad137  did some of the work when he removed the smarty templates.

Yes any bootstrap changes you find that need to be made , make them we are all in for bootstrap.

[2017-10-27 23:49] Trodrige commented on #750
This is a mini-project on its own. Will look into this. Testing my front-end skills!!!

[2017-10-27 23:56] Trodrige commented on #749
It doesn't work here. What do you observe @teryhill ?

[2017-10-28 00:01] teryhill commented on #749
Not working for me either.

[2017-10-28 00:21] Trodrige commented on #749
I'm a PHP guy, but I can't help noticing lots of issues on EHR UI. I'll create a new thread to talk about this generally. I'll come up with different issues for the UI that I've noticed, and ask others to add. It is a mini-project I'm taking up, attempting to create better UI while implementing Bootstrap.
I'll create the thread and layout all the task I'll be doing and call on the other EHR guys a

[2017-10-28 00:24] teryhill commented on #749
Reach out to @nileshprasad137  He has done work on the UI already. I think it is a good project to get others involved in this.

[2017-10-28 00:33] Trodrige commented on #749
Ok,
1. I'll discuss with @nileshprasad137
2. create the thread
3. lay down issues I've observed with the UI
4. call on others to add their own observations and how they can be corrected.
5. call for volunteers to join me on this.

[2017-10-28 04:00] nileshprasad137 commented on #749
@Trodrige  My GSoC project was to remove Smarty Template Engine from the project and to improve User Interface. Removing Template Engine itself took half of the period , so in the remaining time, I tried to work on UI as much as possible. But these days, I am finding it difficult to continue contributing to UI because of academics and also because I am more into learning data analytics and backend

[2017-10-28 06:06] Trodrige commented on #749
Thanks, @nileshprasad137. I'm trying to go through the project and come up with some tasks. Then I'll get a team of volunteers to work with. I'm also a backend guy, but I like seeing attractive and consistent stuff.
We'll be reaching to you often since you have some experience with UI already.
 Thanks again.

[2017-10-29 19:22] Trodrige commented on #675
@tmccormi can you tell more about the LibreHealth Toolkit form creation tool. A little detail what you mean by "service", and how EHR consumes it. Thanks

[2017-10-29 20:38] tmccormi commented on #675
You'll need to chat on the forum with the toolkit team.  Judy G demo'ed it
to me and we discussed possibilities. Maybe we  arrange another demo?

Tony McCormick

On Oct 29, 2017 12:22 PM, "Tigpezeghe Rodrige" <notifications@github.com>
wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
information by t

[2017-10-29 20:53] Trodrige opened #751 "Blank modal when patient-> search button is clicked"
On the "Search of Add Patient" page, I get an empty modal when the search button is clicked. The modal only has " 1 -of  1 -of " on the top-right corner.

[2017-10-29 21:18] Trodrige commented on #675
That'll be great. When do we do it?

[2017-10-29 22:55] tmccormi commented on #687
@teryhill @aethelwulffe Do I have thumbs up for the official release?  I've seen some new issues logged, but nothing new has been tagged for the release.

[2017-10-30 22:53] #726 closed

[2017-10-30 23:42] SoumyadeepJana commented on #751
Should the modal be opened if there are no search results?

[2017-10-31 01:11] Trodrige commented on #751
@SoumyadeepJana it depends on the aim of the search button. It can either be that the modal has a form to filter the search result or display search results. @aethelwulffe or @teryhill should know about this. At least the modal shouldn't be blank.

I suggest
1. the search button appears at the top, next to the title "Search or Add Patient".
2. When it is clicked, the modal appears with a form to f

[2017-10-31 01:32] teryhill commented on #751
If nothing is found , let the user know there were no results found.

[2017-10-31 06:39] SoumyadeepJana commented on #751
@teryhill  cool,on it.

[2017-10-31 20:39] aethelwulffe commented on #751
I think a "nothing matches" is required somewhere.  For the create patient part, then the check must have the modal window, because it is telling you "no matches.  Create new patient?".
  So, with the understanding that this tool is mostly used to ensure that a patient isn't already in the system, then continue with adding the patient if they exist, I just bet that you could decide how YOU think i

[2017-11-01 06:38] Trodrige opened #752 "Insurance group not available for editing"
Insurance group is not available for editing in the Demographics layout. It should be made available, instead of the user adding it.

[2017-11-01 17:09] aethelwulffe commented on #752
So you are talking about allowing the users to modify the insurance section of the demographics, right?
Unfortunately, every value in these sections are pretty much tied into the ANSI X12 837p standard.  That means they are basically sacrosanct.   Mind you, styling what order the stuff appears in etc..., or allowing a region-specific add-on module (which should be included in a billing module crea

[2017-11-01 17:12] aethelwulffe commented on #748
Yep.  It is a total computer-nerd designed "gotta hold you mouth right to get it to work" kind of interface.
There are tons of issues that could be linked to this one.

[2017-11-02 19:21] tmccormi commented on #687
Release Tagged, merged with master and updated
Branch: libreehr_rel200 is the release branch
master is in sync with the release branch as of now.

[2017-11-02 19:21] #687 closed

[2017-11-03 15:13] teryhill commented on #752
@Trodrige could you explain what you are seeing to me a little more. Some screen shots would help.

[2017-11-03 21:57] Trodrige commented on #752
@teryhill I hope this screenshot helps. The user can edit other sections for adding a new patient except for the insurance section. I just pointed out that it's absent.

![edit-demographics](https://user-images.githubusercontent.com/16147419/32397495-59f82dc8-c0ea-11e7-9305-469abc9a58f9.png)

[2017-11-03 22:12] Trodrige commented on #752
@aethelwulffe if I get this right, we want to add a module that enables the user to edit (or not edit) depending on their region. Is this what you mean?

[2017-11-03 22:24] teryhill commented on #752
@Trodrige If the user were to remove an insurance field from the grouping then they would not get payment from the insurance company. That section of the screen is static ( not changeable by the user) for that reason. The Layout options are a great way for the user to create fields and delete them. In the current configuration if the end user removes a field from the layout screen that data is rem

[2017-11-03 22:42] Trodrige commented on #752
Ok, understood.
Considering that we are to stand such a billing module,
1. How do we know if a region files insurance? If they do,
2. How do we determine the health insurance policies in a particular region? (to know necessary fields to display).

[2017-11-03 22:54] teryhill commented on #752
@trodrige we use globals to say cash only or Insurance. If cash only is selected then turn off the insurance information. We cannot determine if the customer is cash only but the user will know. There are some other things that need to happen in a cash only environment, like printing a receipt , printing a statement etc so the main thing is just not generating insurance claims electronically.
This

[2017-11-03 23:43] Trodrige commented on #752
Thanks, @teryhill.
Unless @aethelwulffe has something to contribute, I'll close this issue.

[2017-11-04 16:43] aethelwulffe commented on #752
Go ahead and close it, but this was a _very useful discussion_.  In closing this will be an important point for offering a billing module configuration.  As someone creates a billing module config for their region, we would be able to integrate it as such.
The alternative is to make the whole billing and accounting system regional.  I personally would prefer it to be a configuration based thing.

[2017-11-04 16:45] aethelwulffe commented on #687
Gonna build a zip file.

[2017-11-06 18:09] tmccormi opened #755 "Security Fix - (from openemr 5) for review"
Do we need this fix?

http://www.open-emr.org/wiki/index.php/Critical_Security_Fix_for_CVE-2017-16540

[2017-11-06 18:10] tmccormi commented on #755
The answer is yes as far as I am concerned ...

[2017-11-06 18:14] tmccormi commented on #755
I would not fix it the hacky way they did, but it should have this hole plugged.

[2017-11-06 18:26] teryhill commented on #755
How was it fixed, all i saw was remove the setup.php file

[2017-11-06 18:43] tmccormi commented on #755
// Warning. If you set $allow_cloning_setup to true, this is a po
ee811e55 (Brady Miller              2017-09-23 01:58:48 -0700  26) // Recommend setting it back to false (or removing this setup.php
ee811e55 (Brady Miller              2017-09-23 01:58:48 -0700  27) //  are done with the cloning setup procedure.
ee811e55 (Brady Miller              2017-09-23 01:58:48 -0700  28) $allow_cloning_setup

[2017-11-06 18:47] tmccormi commented on #755
Here's what I think:
1) modify setup to create sqlconf.php as part of the first time setup process - after it's completely successful
2) If you run setup again require the 'sitename' to not exist yet
3) If you are cloning an existing site require the admin password of the site you are cloning.

[2017-11-06 18:57] teryhill commented on #755
Okay Why can't we rename the setup.php out of the way also.

[2017-11-06 18:59] tmccormi commented on #755
Then what would be the point of the rest of the changes?

[2017-11-06 19:01] teryhill commented on #755
Just a suggestion, You guys have a better understanding on the issue than I do.

[2017-11-07 03:34] aethelwulffe commented on #755
Who is we?
First:  It is trivial to create setup.php (as well as the sqlconf file) as suggested, or include it, delete it, then run code from the content of a query.  Access control can easily have several layers.  To set up a second site and clone an existing one, you could require that the user be associated with the cloned site as well as have the connection strings accessible.  The model I pre

[2017-11-07 07:15] tmccormi commented on #755
I'm working on some tweaks to the setup now, mostly cleaning out useless crap...  I'll push that in a day or two.

[2017-11-15 21:46] tmccormi opened #758 "Calendar Refresh errors when Calendar is "unconfigured/empty""

[2017-11-15 22:42] teryhill commented on #758
it usually does that if the categories are not set up. Check and see if the file is there.

[2017-11-15 23:33] tmccormi commented on #758
File?

[2017-11-15 23:36] teryhill commented on #758
the categories file, you know libreehr_postcalendar_events

[2017-11-15 23:37] tmccormi commented on #758
That's a table in the database, not a file ...

[2017-11-15 23:37] teryhill commented on #758
Sorry I lack perfection.

[2017-11-15 23:38] tmccormi commented on #758
if it's missing the setup is still not working reliably.

[2017-11-15 23:38] teryhill commented on #758
Well check it!!!

[2017-11-15 23:40] tmccormi commented on #758
I'm about to do a demo and then leave for the evening ... I will tomorrow.

Tony McCormick, CTO
www.mi-squared.com Support: 866-735-0897, Direct: 713-574-6709
My Calendar:  http://bit.ly/XznvDo
-Verba volant, scripta manent

On Wed, Nov 15, 2017 at 3:38 PM, Terry Hill <notifications@github.com>
wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected.

[2017-11-17 00:23] teryhill commented on #727
@tmccormi @aethelwulffe @azwreith  and any one else.

I am looking at making a change to the calendar to add a "Short Name or Alternate Name" to the users file. This would be used to allow the user to specify the resources in the calendar by an alternative name. I was planning to use a global to enable the use of alternate resource name. So instead of the resource showing up as Administrator, Admi

[2017-11-17 01:09] aethelwulffe commented on #727
Dude, I like that name a lot.
ATM, I am at the tail end of an 11 hour meeting....but I keep trying to review this code!

[2017-11-17 01:41] teryhill commented on #727
Have been looking at the User table. there is a field called billname but it does not appear to be used. it is referenced in addrbook_edit and lab_exchange_tools as well as some of the patient portal files. It is not , as I can see, edited by the user in any way. Could this field be re-purposed?

[2017-11-17 01:57] teryhill commented on #727
Thought's

![calendar1](https://user-images.githubusercontent.com/4655366/32925586-9d8b977a-cb10-11e7-8c66-e0c4378e9df5.PNG)

![calendar2](https://user-images.githubusercontent.com/4655366/32925602-b2c85470-cb10-11e7-9e1c-15510ff12540.PNG)

[2017-11-17 02:09] teryhill commented on #727
What about this one?

![image](https://user-images.githubusercontent.com/4655366/32925879-4de09782-cb12-11e7-8d92-169c26b7e058.png)

[2017-11-17 12:03] aethelwulffe commented on #727
Short names are great, but billname was intended for when claims were
denied because the provider's name didn't match what was on record for
either an NPI or other ID's from the past.  This was an issue on paper
forms too.

Have not checked blame, but I would bet Rod or Shameem.

On 2017-11-16 21:09, Terry Hill wrote:

[2017-11-17 12:19] yehster commented on #727
Could also make it an option to display username or just lastname.

[2017-11-17 12:57] teryhill commented on #727
@yehster I will add the option to use title and lastname. @aethelwulffe I will create a field for the resource name and ditch the using of billname.

@yehster did the week layout above look better to you?

[2017-11-17 14:00] aethelwulffe commented on #727
`billname` is not being used for anything at all.  It was likely added
for lab_exchange_tools.php

I say go ahead and use it for something...or do a find and replace on
it.  Could have been a sql ledger thing.

On 2017-11-17 07:57, Terry Hill wrote:

[2017-11-18 18:38] teryhill commented on #758
Did you figure this out?

[2017-11-22 02:09] htuck opened #763 "UI issues - calendar - Preferred Category"
Getting to know the 'preferred category' (pref cat) function in the calendar,  I've found a couple habits that I'm afraid will mess up most users most of the time.

Creating a pref cat block creates a block on the calendar that itself acts like an appointment.
![3pcat-block](https://user-images.githubusercontent.com/8339489/33106360-8aee82ba-cee6-11e7-903f-7b7b69870d5c.png)

If you try to schedule

[2017-11-24 08:42] #752 closed

[2017-11-24 22:18] htuck opened #767 "Calendar Admin - can't set repeating factors for Provider event categories"
Like it says, the Calendar Admin tool will let you create a new category but it doesn't accept repeat parameters in either Patient or Provider categories.
![pc-caladminnorepeat](https://user-images.githubusercontent.com/8339489/33224798-40d01994-d122-11e7-8068-2ab611494524.png)
![pc-provcatnorepeat](https://user-images.githubusercontent.com/8339489/33224799-40e7fb5e-d122-11e7-912e-2290f0347532.png

[2017-11-24 22:25] teryhill commented on #767
does it work with an existing category? I just had to check the repeats box to activate the section and it worked with reserve for me.

Let me Know

[2017-11-24 22:30] htuck commented on #767
Per the pic above, my Calendar Admin panel has no repeats box; you have to go into the calendar's event dialog to find a repeats box.
I'da thought I could do it all from the Calendar Admin tool instead of having to add the repeats factors separately in the calendar event dialog.

[2017-11-24 23:28] teryhill commented on #767
I see what you are saying now. I will have to look at adding that back to the events.

[2017-11-25 03:51] htuck commented on #767
To be clear, you mean the events parameters available in the calendar administration module, right?  It's already on the calendar's event dialog.
- HT

[2017-11-25 13:46] teryhill commented on #767
Yes

[2017-11-27 19:01] htuck opened #768 "Flow Board- Click on pt name doesn't do anything"
...including bringing up the pt summary screen.
In Firefox, if I rt click on the name and say to open in new tab it opens an empty Flow Board tab.  In the pics, as it happens, all the appointments on that date were for Margo.  And incidentally, if I click 'submit' on that new FB tab it doesn't bring up Margo's appts, but that's not the point.

I'm logged in as Admin, with the global set for provid

[2017-11-27 22:28] htuck opened #769 "Preferred (event) Category- Clinic categories- Is this a bug?"
Trying to find how to use the 2 clinic categories, 'Closed' and 'Holidays' I found a few interesting things.

Those clinic categories only appear in the Calendar Admin tool and in the Providers' Event Pref Cat dropdown.  Since you have to set the provider event category as 'In Office' to view the Pref Cats all you're doing with this is to make a time block where the preferred Category is 'Closed'

[2017-11-27 23:02] teryhill commented on #768
@htuck I have figured out the opening in a new window. This action as you know will open a new window instance of Libre not just the patient demographics screen so you get a new instance of Libre with the demographics screen and a calendar. Since the tabs are being used , would the preferred action be to just open another tab. The original reason I put the open in new window was because we were li

[2017-11-27 23:18] teryhill commented on #769
How about they could just be removed. Those are incomplete as a result of the timing of the initial fork of the code. I am not sure what it would take to make them operational within the current code base.

[2017-11-27 23:23] teryhill commented on #769
I am not sure of the usefulness of the pref cat selection I opt to remove it.

[2017-11-28 00:34] Trodrige commented on #768
@htuck I see the appointments for a user when I click submit. These are the screenshots of what I have

![flowboard](https://user-images.githubusercontent.com/16147419/33296379-9ac56d30-d3db-11e7-903b-f9d6ef97eb47.png)

right click
![right-click](https://user-images.githubusercontent.com/16147419/33296393-b70c7196-d3db-11e7-8e08-0490da999d18.png)

[2017-11-28 00:39] Trodrige commented on #768
An appointment is not created when I use this add button. When I fill the form that appears, the 'save' button doesn't work for me. This 'Add' button.

![selection_017](https://user-images.githubusercontent.com/16147419/33296598-c2c422e4-d3dc-11e7-8ad1-a5bfc17588e4.png)

@htuck and @teryhill I'll create a new issue for this is you have the same too.

[2017-11-28 04:03] Trodrige commented on #682
I don't get any broken while these steps.

[2017-11-28 04:53] htuck commented on #769
I do think the clinic categories could be removed as long as nothing depends on it and breaks.  Maybe leave it for another version?  I can see it being useful but not necessary to fix right now.

Preferred Categories I do see as being definitely useful especially in larger clinics.  It would prevent the front desk people from having to remember or look up each provider's speciality time blocks wer

[2017-11-28 05:16] htuck commented on #768
@teryhill I cop to having assumed that clicking on the name on the flow board would have opened their summary page.  Seems like a logical thing for it to do, don't you think?

I think it's important to have one- click access to a pt summary screen.  If I understand you aright, are you saying clicking on the FB name should/ is sposed to/ might open another *window* of Libre with the summary screen

[2017-11-28 05:43] htuck commented on #768
@Trodrige I wonder why you couldn't make an appointment from the button?  What kind of message are you getting to let you know you can not do it?

My original success was logged in as my Admin, who is a provider, and the global option 'providers see whole calendar' was turned on.

I just now tried again with global option 'providers see whole calendar' turned off, then as a regular doctor (without

[2017-11-28 16:50] teryhill commented on #768
@htuck I sent up a commit to fix the patient name issue. It works with the "Open Demographics.... " checked or unchecked. Let me know what you think.

[2017-11-28 17:30] htuck commented on #768
@teryhill that's great news.  Looking forward to it!

[2017-11-28 21:20] aethelwulffe opened #774 "Calendar Overflow discussion"
There are many format errors apparent in the Calendar when viewing a large organization.

I suggest we standardize testing suite DB's to have a MINIMUM of 50 facilities and 25 providers when testing calendar or flowboard items.

[2017-11-29 20:33] aethelwulffe commented on #682
Closing this.  Not replicable apparently

[2017-11-29 20:33] #682 closed

[2017-11-29 21:24] aethelwulffe opened #775 "XAMPP package link for GCI Windows Users"
This is a .zip installer for a Windows XAMPP package using PHP 7.0 and a slightly earlier version of LibreHealthEHR:
http://librehealthehr.suncoastconnection.com/Downloads/
You will also find the demo patient generator tool at this same index.

[2017-11-29 21:27] aethelwulffe commented on #763
Also, please test the limits of the columns in terms of numbers of patients and facilities.
We need other behavior changes related to overflow, and window/tab sizing.

[2017-12-01 02:06] teryhill opened #778 "Add Insurance address information to demographics report"
User requested the Insurance address information on the report

Before

![image](https://user-images.githubusercontent.com/4655366/33464758-08933f9e-d612-11e7-94e6-609707cfb635.png)

After

![image](https://user-images.githubusercontent.com/4655366/33464712-bf29800c-d611-11e7-9395-05311ddb239a.png)

[2017-12-01 03:44] teryhill opened #779 "Add new message icon to the main screen."
Add a notification icon to the main screen. This icon will indicate if the signed in user has a new message in the messaging system. When there is an new message for a user display a notification icon in the upper right side of the main screen.

Changes to /libreehr/interface/main/tabs/main.php to display the notification icon.

![notify](https://user-images.githubusercontent.com/4655366/33466975-

[2017-12-01 05:46] Jdew192837 commented on #778
I plan to work on this as part of GCI

[2017-12-01 13:53] teryhill commented on #778
@Jdew192837 this is already done it is just waiting on the core group to vote on whether it is a good thing to add.

[2017-12-01 13:55] teryhill commented on #779
@robbyoconnor if you can figure out how to get this in as one of Your task it might give you some help while you are making more coding tasks for LibreEHR

[2017-12-01 15:26] teryhill commented on #768
@htuck it should be fixed in the current codebase

[2017-12-01 15:28] teryhill commented on #751
@SoumyadeepJana did you complete this? If so close this issue

[2017-12-01 16:35] MigDinny opened #781 "Duplicated library files (jQuery and stuff)"
This is an issue related to this GCI Task: https://codein.withgoogle.com/dashboard/task-instances/5004282745061376/ & https://gitlab.com/librehealth/gci/issues/45

Duplicated files:

- \library\js\jquery-[*] _(a lot of minified versions are present; not sure about jquery.js & jquery121.js & jquery.livequery101.js )_

- \library\js\jquery-ui-1.8.21 & jquery-ui-1.8.6 _(these two different minified v

[2017-12-01 17:56] htuck commented on #778
I don't know if I get a vote but it seems like a good idea to me.  Whoever this report goes to probably would want the real ins co information instead of just what the clinic calls it internally.

[2017-12-01 17:59] htuck commented on #768
cool, I'll go get that.

[2017-12-01 20:17] teryhill commented on #721
This task is assigned to @jdew192837

[2017-12-01 20:26] teryhill commented on #722
@jdew192837 has submitted a pr for this

[2017-12-01 20:29] robbyoconnor commented on #781
Title your issue better so that it's easier to see what was duplicated

[2017-12-01 20:41] MigDinny commented on #781
@robbyoconnor is it good now ?

[2017-12-01 20:54] robbyoconnor commented on #781
yup

[2017-12-01 22:40] teryhill commented on #779
Currently assigned to @migdinny

[2017-12-01 22:50] teryhill commented on #779
Assigned too @migdinny

[2017-12-01 23:01] teryhill opened #783 "Flow Board is a little messed up"
In the screen shot the open in new window has thing out of kilter. I added that back in a hurry sorry.

![image](https://user-images.githubusercontent.com/4655366/33507241-ac0d7d6a-d6c1-11e7-8080-85d675a22f21.png)

[2017-12-02 01:22] robbyoconnor commented on #779
@teryhill There's a generic fix an issue -- the issue can be difficult -- so it's okay to use that one.

[2017-12-02 03:23] teryhill commented on #783
Task assigned to @migdinny

[2017-12-02 03:34] teryhill commented on #783
@migdinny I would like for you to drop the "open Patient in New Window" and place it under the settings.

![image](https://user-images.githubusercontent.com/4655366/33511375-a9699d98-d6e7-11e7-9171-46c8fab63690.png)

[2017-12-02 05:24] Jdew192837 opened #785 "Bugs Found In Making A New Patient"
When pressing the Pharmacy selection, nothing appears and there is no option to add a Pharmacy.

![screenshot 1](https://user-images.githubusercontent.com/24306897/33512041-44c66ad2-d6ed-11e7-890f-b43c020d1d97.png)

There is only one country, in the country selection. Potentially, inputting all the countries as a selection.

For the, Privacy Tab, the "Allow (blank)" with the Yes or No responses, p

[2017-12-02 10:19] YourDoge commented on #597
is it just me, or the login screen logo is exported at a really low quality

![screenshot from 2017-12-02 19-15-56](https://user-images.githubusercontent.com/14075178/33514332-9505e556-d795-11e7-8710-a5b126ef4d6c.png)

I think the logo itself isn't bad, but the resolution is far too low (imo) and the weird gray pixels within the logo look significantly less sharp than the logo on the bottom right.

[2017-12-02 13:56] MigDinny commented on #783
![image](https://user-images.githubusercontent.com/6632800/33516305-8fb5488a-d768-11e7-9f04-2899ed5371ea.png)

between these options?

[2017-12-02 14:39] Jdew192837 opened #786 "Documentation for LibreEHR Setup"

[2017-12-02 14:39] #786 closed

[2017-12-02 15:10] teryhill commented on #785
on the error you are getting with insurance , do you have an insurance company set up?

[2017-12-02 15:29] teryhill commented on #785
using a list for income would be a huge list and vary depending on the region and country. The family size could be a list. This section of code uses the layout option it is powerful in the fact that it allows the addition of additional fields by the end user, but it is limited to what can currently be done to groom the fields. That being said I would like for you to look at the layout editor. The

[2017-12-02 15:33] teryhill commented on #597
@YourDoge We welcome any and all ideas to improve our first impression.

[2017-12-02 15:34] teryhill commented on #783
@migdinny Is it there under settings for you?

[2017-12-02 15:36] teryhill commented on #783
once settings is opened it needs to stay open until the user saves it, then the auto refresh needs to continue.

[2017-12-03 01:08] teryhill opened #790 "remove the "Features tab" from the User Preferences but leave it in Globals."
remove the "Features tab" from the User Preferences but leave it in Globals.

If you go to user preferences the feature tab is there with no entries. This looks un professional.

[2017-12-03 01:37] teryhill commented on #790
Assigned to @jdew192837

[2017-12-03 02:59] teryhill opened #791 "In the Calendar when a user clicks on the patient allow the demographics tab to open."
Currently in the calendar when you click on the time slot with a patient assigned to the slot the add_edit_event opens. What needs to happen in addition to this is when the user clicks on the actual name the patients demographics screen needs to open.

[2017-12-03 03:02] teryhill commented on #791
Assigned to @migdinny

[2017-12-03 03:15] teryhill commented on #791
![image](https://user-images.githubusercontent.com/4655366/33521925-e8ea2e6c-d7ad-11e7-8ab8-afe9586f0fb2.png)

open this screen

![image](https://user-images.githubusercontent.com/4655366/33521933-0c3ed3c2-d7ae-11e7-80e3-70fdb7b65701.png)

[2017-12-03 03:17] teryhill commented on #791
The patient flow board currently does this. By clicking on the patient name.

![image](https://user-images.githubusercontent.com/4655366/33521955-97a4f3e2-d7ae-11e7-8972-75097cff4412.png)

[2017-12-03 12:54] Trodrige opened #794 "Flow board 'From' and 'To' input alignment"
This is a simple css/stylesheet issue. The date fields of the form( Appointments filter) are lower than the category field. Style these fields to be in line with the others.

![flow board from and to input fields](https://user-images.githubusercontent.com/16147419/33525879-e2ce85ca-d837-11e7-8f79-6030c70d524d.png)

[2017-12-03 13:15] MigDinny commented on #791
@teryhill Tried a lot of solutions and none of them worked. Can't find the code that creates the row on the calendar and the function topatient() when called on the console is undefined. I can't reproduce the flowboard system on the calendar.

Waiting for you to enlighten me.

[2017-12-03 13:28] MigDinny commented on #794
@Trodrige I can't see that "Date" input, only "from" and "to".
I believe my pull request will fix that too, but just to check it, can you tell me how you got into there?

[2017-12-03 13:35] Trodrige commented on #794
You're right about that. I checked the demo, it has the same issue too. 'From' and 'To' fields are not inline with the category field. Still needs fixing.

[2017-12-03 13:43] MigDinny commented on #794
@Trodrige I fixed "From" and "To" fields. Where is the "Date" field? I can't find it. But if it has "type='text'" property in its HTML it'll be fixed for sure because my fix covers it too.

[2017-12-03 15:52] Trodrige commented on #794
Your fix works fine. It should cover the 'Date' field too.

[2017-12-03 16:01] Trodrige commented on #785
Hi, @Jdew192837 the group names, title columns and field names of this form are found in the layout_options table in the database.
From my understanding, the view is generated from these values gotten from the database. @teryhill may know more about this.
You can find the file at interface/new/new_comprehensive.php.

[2017-12-03 16:35] Trodrige opened #799 "Remove '>' next 'See All' in messages page"
![messages sign](https://user-images.githubusercontent.com/16147419/33527368-aca78e8e-d84f-11e7-953d-8697eea6b886.png)

[2017-12-03 16:52] Trodrige opened #800 "“Create client certificate” button is out of place"
Go to  Admin->Other->Certificate. Scroll down and keep the 'Create client certificate' button in the box.

[2017-12-03 17:12] Jdew192837 commented on #799
I can do this when I get home

[2017-12-03 17:12] Jdew192837 commented on #800
I can do this in be I get home from church

[2017-12-04 14:08] Jdew192837 commented on #800
Will fix this next @teryhill @Trodrige :)

[2017-12-04 14:10] teryhill commented on #800
Assigned to @Jdew192837

[2017-12-04 14:33] teryhill commented on #791
@MigDinny the calendar supplies a json for the events from get_provider_events.php

[2017-12-04 18:16] #794 closed

[2017-12-04 18:20] #799 closed

[2017-12-04 18:38] yehster opened #805 "Theme Global Setting Not Working"
To reproduce, login on the
ehr.librehealth.io/?site=lssc
The "global setting" for theme is currently set to "light"  However, if you inspect the HTML, the included .css theme being applied is always "style_metal.css"

Tried changing the theme in globals to the other options, and it always still just applies "style_metal".

metal seemed to have been removed at some point, so I copied light back to

[2017-12-04 18:49] teryhill commented on #805
@yehster I changes the theme to tan on my system and it changed, but I changed it to tan on the lssc system and it did not change. We will run it down and see why unless you already have figured it out.

[2017-12-04 18:50] Trodrige commented on #805
Hi, @yehster I tried replicating this. The default for me was 'light' and 'style_light.css'. Changing the theme, I still see 'style_light.css'. I'm I missing something? @teryhill

[2017-12-04 18:51] Trodrige commented on #805
Yup @teryhill, I have the same behaviour on my system.

[2017-12-04 18:53] #800 closed

[2017-12-04 18:55] Trodrige opened #806 "Make content in SSL Certificate tab responsive"
Go to Admin->Other->Certificate. Open three different tabs. Notice that the content is not responsive.

[2017-12-04 18:55] teryhill commented on #805
@Trodrige so it is working on yours? Do you have a recent copy of the code?

[2017-12-04 18:57] teryhill commented on #806
Task assigned to @jdew192837

[2017-12-04 19:00] Trodrige commented on #805
@teryhill I observed the same thing as you did. It works on my system, but not on the demo site. It's been a while I pulled the code.

[2017-12-04 19:07] Trodrige opened #807 "Missing tab name (title)"
QA Measures->XML Editor. Add tab title(XML Editor)

[2017-12-04 19:10] Trodrige opened #808 "Give delete warning a meaningful color"
Go to QA Measures->Delete Old Reports(Remove provider Assignments). Let the message “This will….” be in bold red (danger!!!).

[2017-12-04 19:12] Trodrige opened #809 "Duplicate 'Update' buttons"
Go to QA Measures->Select Measures. Delete one update button.

[2017-12-04 19:31] MigDinny commented on #808
May I stay with this one? I've got a nice solution in mind.

[2017-12-04 19:41] teryhill commented on #808
Assigned to @MigDinny

[2017-12-04 19:41] Trodrige commented on #808
Assigned to @MigDinny

[2017-12-04 20:09] Jdew192837 commented on #809
I'll fix this first. :)

[2017-12-04 20:19] Trodrige commented on #809
Assigned to @Jdew192837

[2017-12-04 20:54] #783 closed

[2017-12-04 20:55] aethelwulffe commented on #778
Dude.  Add it.
I have added this as custom code in the past.

[2017-12-04 20:56] aethelwulffe commented on #778
So long as it has a globals toggle, it is great.

[2017-12-04 21:32] teryhill commented on #791
@azwreith this is what is being worked on

[2017-12-04 23:33] Jdew192837 commented on #807
I'll fix this next. :)

[2017-12-04 23:38] teryhill opened #813 "Under globals there are entries on the calendar tab for flowboard"
Under globals there are entries on the calendar tab for flowboard . This task is to preface all the flowboard settings with   Flow Board:

Task assigned to @Jdew192837

[2017-12-05 00:05] #683 closed

[2017-12-05 00:29] #721 closed

[2017-12-05 00:46] #809 closed

[2017-12-05 02:24] SoumyadeepJana commented on #800
I have already fixed this for the bootstrap UI enhancement ,didnt give a PR
as the previous  PR was not merged.

On 4 Dec 2017 7:40 p.m., "Terry Hill" <notifications@github.com> wrote:

[2017-12-05 02:35] teryhill commented on #800
You are not GCI are you @soumyadeepjana

[2017-12-05 02:43] teryhill commented on #806
@SoumyadeepJana did you do this as part of the bootstrap re-write?

[2017-12-05 02:57] SoumyadeepJana commented on #800
No I am not for GCI @teryhill,It was an issue listed in the Bootstrap UI enhancement tasks listed by @Trodrige

[2017-12-05 03:39] Jdew192837 commented on #806
I think I have a solution. Still testing and playing around though @Trodrige @teryhill

[2017-12-05 05:50] SoumyadeepJana commented on #806
@teryhill Yes I did that as a part of rewrite

[2017-12-05 11:13] Jdew192837 commented on #725
Is this something I could do @tmccormi @aethelwulffe @teryhill ? Or does this require further discussion?

[2017-12-05 11:14] Jdew192837 commented on #659
Interested in this @teryhill @aethelwulffe . Do you think it's too hard for me?

[2017-12-05 11:14] Jdew192837 commented on #657
Interested in this @teryhill @aethelwulffe . Do you think it's too hard for me?

[2017-12-05 11:17] Jdew192837 commented on #729
Is this still desired? I can do this @tmccormi

[2017-12-05 12:46] Trodrige commented on #806
@SoumyadeepJana I think we should leave this for the hungry GCI guys. What do you think?
@Jdew192837 has already started work on this. Sorry, for stealing this from you!

[2017-12-05 12:49] Trodrige commented on #807
Assigned to @Jdew192837

[2017-12-05 17:08] aethelwulffe commented on #779
http://librehealthehr.suncoastconnection.com/refresh
A little demonstrator...

[2017-12-05 17:52] teryhill opened #818 "Ideas: Discussion on changing the reports ."
I would like to see a project that would take the reports in the system and pull out the common functions and code in to files that can be re-used. most every report has a date range those could be made in to a function and placed in a common file. We could separate the HTML from the PHP code and get a number of reusable snippets thus reducing the complexity of the reports. This approach can and s

[2017-12-05 17:57] Trodrige opened #819 "Missing issue form header"
Go to Popups->Issues-> click Add Issue. The form has no header. Give it a header.
Click on Add Encounter, the form has a header. Give "Add issue" its header.

[2017-12-05 18:04] Trodrige opened #820 "Missing "Chart label", "Barcode label" and "Address label" tab titles"
Go to Popups->chart label(barcode label, and address label). Label tab as “Chart Label”, “Barcode Label” and "Address label".

[2017-12-05 18:08] Trodrige commented on #818
I see, No "re-inventing the wheel". I'll start looking into the reports, see how we can tackle this.

[2017-12-05 18:09] Jdew192837 commented on #819
I'll fix this @Trodrige

[2017-12-05 18:22] Jdew192837 commented on #820
I'll fix this @Trodrige

[2017-12-05 18:37] Trodrige commented on #819
Assigned to @Jdew192837

[2017-12-05 18:38] Trodrige commented on #820
Assigned to @Jdew192837

[2017-12-05 18:43] teryhill commented on #779
This is done and the PR's are merged.

[2017-12-05 18:43] #779 closed

[2017-12-05 18:47] teryhill commented on #768
Completed

[2017-12-05 18:47] #768 closed

[2017-12-05 18:51] teryhill commented on #727
@tmccormi if this is not complete please close it and open another issue with the remaining problem.

[2017-12-05 19:53] Jdew192837 commented on #807
Did you see my issues and messages on the chat @Trodrige ?

There already is a title in the index.html file, but I'm not sure why it's not displaying.

[2017-12-05 19:58] Trodrige opened #821 "Patient Finder main wrapper(div) not responsive"
Click on Patient->Finder. At least 3 tabs have to be open in order to observe this:
1. The content isn't responsive. At least the holding div's border should contain the child elements
2. "Open in a new window" should have some space from the border-bottom of the wrapper div.
3. Add bootstrap classes to 'non-bootstrap' fields.

![patient-finder](https://user-images.githubusercontent.com/16147419/3

[2017-12-05 20:26] alpinus4 opened #822 "Duplicated images, fonts and styles (fancybox and glyphicons)"
Related task: _LibreHealth EHR Matching Game_

Duplicated files:
- _/library/js/fancybox_  and  _/assets/css/fancybox/_  (duplicated many images and _jquery.fancybox-1.2.6.css_),

[2017-12-05 21:00] robbyoconnor commented on #822
The second aren't duplicates

[2017-12-05 21:00] robbyoconnor commented on #822
Otherwise good.

[2017-12-05 21:22] alpinus4 commented on #822
Ok

[2017-12-05 22:32] Trodrige commented on #821
These are for @MigDinny
1. The content in that tab is in a container(div). The content always has to be in the div as the size of the tab changes. Correct that!
2. All input fields have bootstrap applied except the "Search all columns" input. Give it a bootstrap class.
3. "Open in a new Window" at the bottom should have some space ('padding-bottom', maybe) from the border of the container.

[2017-12-05 23:52] Jdew192837 commented on #729
@tmccormi
These are the configs I found that were in use in other files.
This is the google doc, where I typed up where they are located:
https://docs.google.com/document/d/1wBMJ7DdazhXsPLi3SJwSL-va3Sg78hXV-2wd6hxYhrM/edit?usp=sharing

Thanks
Jake Du

[2017-12-06 01:11] teryhill commented on #722
PR Merged closing issue

[2017-12-06 01:11] #722 closed

[2017-12-06 01:17] teryhill commented on #529
Adding this her since it is where it belongs.

![image](https://user-images.githubusercontent.com/4655366/33639416-2b4e35a8-d9f9-11e7-8db6-858d662adfba.png)

[2017-12-06 05:02] muhammad-mullboccus7 commented on #820
May I fix this please?

[2017-12-06 05:37] Trodrige commented on #820
Hi Muhammad, sorry Jake is already on this one. Ping him, be can decide to
give you. Otherwise, I'll be adding similar issues later today. Please be
patient, and work on any of those. Thanks
On Dec 6, 2017 6:02 AM, "muhammad-mullboccus7" <notifications@github.com>
wrote:

[2017-12-06 13:06] Jdew192837 commented on #820
@Trodridge Have you looked into these issues to see if they have a possible solution?

[2017-12-06 13:07] Jdew192837 commented on #820
@trodrige ^

[2017-12-06 13:07] Jdew192837 commented on #807
@Trodrige Have you looked into these issues to see if they have a possible solution?

[2017-12-06 15:53] SoumyadeepJana commented on #806
@Trodrige  Yes I think they should work on this.

[2017-12-06 18:47] htuck opened #824 "feature request: calendar refresh on event panel exit"
Possibly a GCI project; I didn't see it in earlier postings.
Can we have the calendar refresh when exiting the calendar event panel?
Seems simple enough to just do that on 'Save' button click.
As it is now, when you make any changes to the calendar you either have to wait the refresh interval or manually click on the tab's refresh icon to see the changes, and know the change was successful.  And

[2017-12-06 18:49] teryhill commented on #824
Great Catch @htuck  I am sure one of the GCI's will jump on it. More tasks would be helpful Thanks

[2017-12-06 18:52] htuck commented on #824
Thanks-- as the saying goes, "I got a MILLION of them!"
Actually, just a few... :)  and some of them may not be suitable for GCI but I'll post them and you can screen them.

[2017-12-06 19:13] SoumyadeepJana opened #825 "Print button needs to be prioritized in Reports->Blank Forms->Super Bill"
Currently it is below the form and not highlighted and has an inconsistent UI.

[2017-12-06 19:15] htuck opened #826 "UI consistency: replace old date dropdowns with calendar widget"
Poss GCI: Go through the whole project and replace all the old date dropdowns with calendar widgets.  This would be a major UI consistency improvement, to say nothing about the old ones being a lot more work to use.  And they're ugly too.

Per the 1st pic below, one of the old dropdowns is found in the NewRx module found by clicking 'Edit' in  the pt's Prescription widget.  Others will be found in

[2017-12-06 19:45] MigDinny commented on #825
i can handle this

[2017-12-06 19:51] MigDinny commented on #825
Wow, realized now that this issue was already solved.

@SoumyadeepJana when you send a pull request, on its description just write something like Fixes #825

[2017-12-06 19:57] SoumyadeepJana opened #828 "Inconsistent use of spaces in Admin->Facilities->Add"
1.The form fields are very close to each other without any spaces.
2.Billing attn and CLIA number fields have diffrent widths than POS code field,which looks very inconsistent.

<img width="960" alt="2017-12-07 3" src="https://user-images.githubusercontent.com/16064577/33682512-b5ec5ec0-daed-11e7-86b5-c63db586a927.png">

[2017-12-06 20:10] Jdew192837 commented on #828
I'll fix this :)

[2017-12-06 20:16] SoumyadeepJana opened #829 "Colorpicker is too clumsy and is very limited in terms of choice in Admin->Facilities->Add"
Instead of javascript, HTML input type "color" be used as it is more customizable and looks beautiful

Existing
<img width="960" alt="2017-12-07 4" src="https://user-images.githubusercontent.com/16064577/33683268-5423439a-daf0-11e7-928e-6be900cb522d.png">

Proposed
<img width="960" alt="2017-12-07 5" src="https://user-images.githubusercontent.com/16064577/33683279-5af1912c-daf0-11e7-8bd9-484ab111c

[2017-12-06 20:16] Jdew192837 opened #830 "Add Form in Admin->Facilities->Add is not responsive"
To Reproduce:
===========
Navigate to Admin->Facilities->Add and open up three tabs.
You will see something like this:
![admin](https://user-images.githubusercontent.com/24306897/33683304-0d4e9bbe-da90-11e7-8e44-698bb933e42e.png)
The close button for the popup is cut off. This needs to be fixed.

[2017-12-06 20:17] Jdew192837 commented on #830
I can fix this after I fix https://github.com/LibreHealthIO/LibreEHR/issues/828

[2017-12-06 20:19] Jdew192837 commented on #828
On top of the already mentioned, I will do the following:
- Make the '* - Required' red color
- Make all *s red color

@SoumyadeepJana Thanks for reporting! I'll take it from here.

[2017-12-06 20:20] Jdew192837 commented on #828
@teryhill @Trodrige These are valid correct?

[2017-12-06 20:20] Jdew192837 commented on #829
I can fix this as well @SoumyadeepJana

[2017-12-06 20:28] aethelwulffe commented on #828
Uh....
Clia numbers and "billing Attention" lines are long...so they have long text-boxes.
POS codes are two digits.
Thus the difference.

You did note that the spacing is very tight...and you still have to scroll in that pop-up window (fancybox?).  We do not want things to "look cool" as the first priority.  We want to MAXIMIZE visible elements while MINIMIZING scrolling, while maintaining a reas

[2017-12-06 20:37] SoumyadeepJana commented on #828
@aethelwulffe CLIA number and billing attn fields size can be increased a bit,I think.
I very well now understand the space density thing.

[2017-12-06 20:41] SoumyadeepJana commented on #818
@teryhill I didn't quite understand the report thing.Can you please explain a bit more?

[2017-12-06 20:45] Jdew192837 commented on #830
@aethelwulffe @teryhill @Trodrige Can you confirm this?

[2017-12-06 20:46] Jdew192837 commented on #828
@aethelwulffe Are the changes I mentioned desirable? I was also thinking about unifying the positioning of the '*'s to all be right next to the label.

Ex. Legal Entity, Name

[2017-12-06 20:47] Trodrige commented on #830
Assigned to @Jdew192837

[2017-12-06 20:52] teryhill commented on #818
@SoumyadeepJana we should be able to make a set of function for the reports in a single file so that they can be called. It would help keep all the ways of doing things the same  ex if we had one function for choosing a provider, one function for choosing the facility.... This would condense the code.

[2017-12-06 21:05] SoumyadeepJana commented on #818
@teryhill  This would save from writing redundant code, seems cool, count me in.

[2017-12-06 21:07] teryhill commented on #818
@SoumyadeepJana You are in.

[2017-12-06 22:01] aethelwulffe commented on #828
I love color coding, hovertext and all that.  I also think @SoumyadeepJana that instead of making fields unnecessarily large, you could combine two items on the same row, like the POS code and CLIA.
And....there is a checkbox button css declaration in the styles...at least there was at one point.
Try using it and see if you like it.  It makes the whole checkbox-then-label issue go away.

[code]

[2017-12-06 22:01] aethelwulffe commented on #828
Full example:
[code]

[2017-12-06 22:05] aethelwulffe commented on #830
Hey guys...are we sure this needs to be a popup?
Why would we want this, or the user interface, or anything else to be a modal window that can't overlap a frame?  Why not use the whole iframe?

[2017-12-06 22:08] aethelwulffe commented on #829
Colorpicker in html5 is just an input type, and is provided by your browser.
<input id="background-color" type="color" />

[2017-12-06 22:13] aethelwulffe commented on #822
broken link.  Goes to github...and if corrected to gitlab, you get a 404 (even after signing in).
All the same, this is a valid task claim.

[2017-12-06 22:14] aethelwulffe commented on #807
This fix is already in a pull request.

[2017-12-06 22:18] aethelwulffe commented on #807
Oops...I lied.
I had decided that since it had a huge title bar already, having the tab named just added junk.  The main point was to intentionally make it non-printable, so that it would not show, but also not print "Unknown".

[2017-12-06 22:19] aethelwulffe commented on #807
If you want to add the title...please do.  There is a bit of a puzzle involved. :)

[2017-12-06 23:02] MigDinny opened #831 "Flowboard refreshes when settings are opened"
On flowboard, when opening the settings div, some options will appear. The page has an integrated refresh feature but that feature will close the settings div when refreshing, if it's opened.

The solution here is to stop the refreshing **only while** settings are opened.

[2017-12-06 23:51] Jdew192837 commented on #807
@aethelwulffe Can you point me in the right direction, perhaps to a file or things I should be aware of? I have spent quite a bit of time trying to navigate it, and I'm not sure where to look.

Was also having issues with https://github.com/LibreHealthIO/LibreEHR/issues/820, but I think that one is getting overwritten somehow, because it'll display "New" for a second or so. I looked around though,

[2017-12-06 23:52] Jdew192837 commented on #830
So, what do you think @aethelwulffe
I think the problem is that bootstrap forces a width: 670px on it somehow, and the fancybox-outer (forgot the actual name) doesn't have width: 100%, but I'm not sure if that's the way to fix it.

[2017-12-07 05:38] aethelwulffe commented on #830
Maybe dump the fancybox?
Dude...i dunno!  I write javascript by writing C++ and pumping it through a porting tool!  I'm a PHP and mysql guy for the most part!
HEY!  Someone with Brains out there help out here!

[2017-12-07 05:39] Jdew192837 commented on #830
Alright, cool, I guess we should merge https://github.com/LibreHealthIO/LibreEHR/pull/833#issuecomment-349868210 before looking at this right?

[2017-12-07 05:39] Jdew192837 commented on #826
@teryhill Do you think this would be suitable for GCI? I'm up for the challenge. :)

[2017-12-07 05:40] Jdew192837 commented on #820
@aethelwulffe Any guidance or pointers?

[2017-12-07 05:40] Jdew192837 commented on #819
@aethelwulffe Any guidance or pointers?

[2017-12-07 05:45] aethelwulffe commented on #829
Hey, Jdew...
Did you just claim jump @SoumyadeepJana ?
I see your PR....but you need to collaborate a little more closely.  Soumyadeep, go steal one of Jdew's issues now.  😈
  Kudos to Soumyadeep for the project management and solution design.  That should be worth the creation of a new GCI task if there is not a matching one already.  Good job (both of you actually)!

[2017-12-07 05:54] aethelwulffe commented on #807
Note:
`<head>` is metadata.
`<header>` is content, but is not the title tag the tabs are looking for.
You would need to add:
`<span class='title' visibility: hidden>XML Editor</span>`

This results in something that will not print or add to the document, but will be picked up by the tab.

[2017-12-07 05:55] aethelwulffe commented on #807
That pointed enough?

[2017-12-07 06:56] aethelwulffe commented on #825
Guys, when SoumyadeepJana posts an issue...I think that is with the intention of fixing it.  When Terry, Tony, Trodrige or myself post an issue, that means we are too dumb to fix it, and we want one of you guys to jump on it.
NOTE TO TEAM:  We need GCI user tags of some kind.

[2017-12-07 07:11] aethelwulffe commented on #806
Cool.
@SoumyadeepJana I should have figured you were posting all these bytebugs for the GCI gang.  *duh*.  Very nicely done.
@Jdew192837 @MigDinny and all the rest....Tear these tasks up folks!
WooHoo!

[2017-12-07 07:17] SoumyadeepJana commented on #806
@aethelwulffe The GCI gang is really doing a great job..

[2017-12-07 07:19] aethelwulffe commented on #806
@SoumyadeepJana yeah...and we just about need one mentor per person at the rate they are going.
@Trodrige Hé mec, ces petits enfants nous font paraître paresseux!

[2017-12-07 07:27] SoumyadeepJana commented on #806
@aethelwulffe  Their pace is uncatchable 👍 ,I must say
Should I open new issues for them or should I drop in PRs myself?

[2017-12-07 07:31] aethelwulffe commented on #806
Just open issues like you have been doing, with the good hints for solution tactics.  If they pick them up, great.  If not, they are well documented issues.

[2017-12-07 07:33] aethelwulffe commented on #830
Keep it in mind, and go after some low-hanging fruit.  There might be some good advice come down the pike, and you might be able to score this one.

[2017-12-07 08:08] SoumyadeepJana commented on #825
@aethelwulffe  haa haa :D  I had a laugh over this confusion

[2017-12-07 12:06] Jdew192837 commented on #824
I can take this up. :)

[2017-12-07 12:07] Jdew192837 commented on #807
Yeah, hm, I tried that before but it didn't work. Let me see if the visibility:hidden does it @aethelwuffle

[2017-12-07 12:08] Jdew192837 commented on #807
@aethelwulffe

[2017-12-07 12:16] Jdew192837 commented on #829
Oh sorry about that. I thought I did that by saying "I can fix this" but I guess I should have waited for a response... Sorry about that :(

[2017-12-07 12:20] Jdew192837 commented on #806
This is awesome. Thanks @SoumyadeepJana ! Were you a GSOC student? @teryhill mentioned that a GSOC student did a lot of bootstrap rewriting. :)

[2017-12-07 12:21] Jdew192837 commented on #807
Woops, turns out my I was editing the wrong copy of the code (not the one that was running on my local server) That would explain it hehe @aethelwulffe

[2017-12-07 14:04] SoumyadeepJana commented on #829
It's completely fine :) @Jdew192837

[2017-12-07 14:11] SoumyadeepJana commented on #806
No,I wasn't a GSOC student @Jdew192837 but I am involved in bootstrap rewriting

[2017-12-07 14:16] Jdew192837 commented on #806
Oh nice! So you're a mentor then? I'd love to learn more about bootstrap, so if you have more bugs or bootstrap proposals, I'd love to do them! :)
@SounyadeepJana

[2017-12-07 14:17] Jdew192837 commented on #806
@SoumyadeepJana

[2017-12-07 14:19] SoumyadeepJana commented on #806
@Jdew192837 Not a mentor but a collaborator to this repo,I'd love to help you wherever you need.

[2017-12-07 14:27] teryhill commented on #830
@aethelwulffe there is a label for GCI Task

[2017-12-07 18:00] aethelwulffe commented on #830
I have been using it.  I was hoping for a PERSON tag...

[2017-12-07 19:37] #806 closed

[2017-12-07 19:41] aethelwulffe commented on #826
@Jdew192837
Do it.
GOGOGOGOGOGO...

[2017-12-07 21:17] aethelwulffe commented on #808
This is completed.
Closing.

[2017-12-08 00:25] Jdew192837 commented on #820
Highly stuck on this. Looked around fpdf.php, label.php, everywhere.

Thought I might be able to do it around line 1003 in fpdf.php, but I am actually stuck. I have no idea where I can insert the necessary html.

Tried adding `echo "<span class="title" style="display: none;"><?php echo xlt("Chart Label"); ?></span>";` to label.php, but then it doesn't output the .pdf

I'm very lost, and could use

[2017-12-08 00:56] teryhill opened #836 "For the Brave : Create a report, This report will be for procedure and ICD10 codes."
The report will need a date range, to and from. The ability to choose is this going to be run for a CPT4 code or an ICD10 code. Which provider and facility to use. There should be an entry for the number of the codes to report on. Example of the need " A physician wants to know what were the top 10 used CPT4 codes for the month of November." They will look at this to see if they are doing the best

[2017-12-08 01:27] Trodrige commented on #820
@Jdew192837 I tried doing this too. No success as of now. @teryhill has proposed using a new library for printing PDF.

[2017-12-08 01:43] teryhill commented on #820
This is being closed . It will require a rewrite and redesign of the pdf print engine

[2017-12-08 01:43] #820 closed

[2017-12-08 02:13] Trodrige commented on #825
@aethelwulffe I can't label nor assign issues here. At least not yet.

[2017-12-08 02:25] Trodrige opened #837 "Modal doesn't close after adding a new encounter + encounter form spacing"
Go to Popups->Issues. Click on Add Encounter. The form that shows, the input fields in the middle should have some spacing. Like in the "Add Issue" form. The "Add" button should have some space form the textarea below it.
Try adding a new issue by clicking "Add" button on the "New encounter form". Save the issue. Notice that modal doesn't disappear after saving the issue.

[2017-12-08 02:29] Trodrige commented on #837
@aethelwulffe what do you think about the spacing here? Should the form be made compact or make use of the available space the modal has.

[2017-12-08 02:45] Jdew192837 commented on #837
Also, we should have the option to delete an issue right? @Trodrige and @aethelwulffe

[2017-12-08 02:56] Trodrige commented on #837
@Jdew192837 yes. That is if you mean deleting the issue when the user realises they added the wrong one. You're smart, you noticed this. Great, delete issue? I say yes. Go for it!!!

[2017-12-08 03:00] teryhill commented on #837
If the issue has any information or is not an instant oh boy I made a mistake. The it will be an issue deleting it. Say some one just wants to mess up the clinic and the patient has a fatal allergy to aspirin, and the doctor give the patient 2 in the office for their headache.

[2017-12-08 03:24] Trodrige commented on #837
@teryhill I don't get what you mean.

[2017-12-08 03:26] Trodrige commented on #837
@Jdew192837 a plus here. "Begin date" and "End date" should be on same line. That is on both "Add issue" forms.

[2017-12-08 03:27] teryhill commented on #837
The physicians rely on the information there for a history, If you give the ability to delete it cannot be an "Old" issue. @Trodrige

[2017-12-08 03:39] Trodrige commented on #837
What if a wrong title or begin date is entered while adding an issue? I don't know if I'm missing something, but the user entering the information should be able to correct  it.

[2017-12-08 04:29] Trodrige opened #838 "Add bootstrap to 'Messages' view components"
This is one of many bootstrap tasks. Under the Messages menu, there are various pages. Add bootstrap classes to the elements of these pages. What we want is to make full use of Bootstrap across the entire project.

[2017-12-08 04:51] Trodrige opened #839 "Patient/Client bootstrap"
This task is same as #838 , but for 'Patient/Client' menu and sub-menu items. Add bootstrap to all elements.

[2017-12-08 04:53] Trodrige opened #840 "Include bootstrap in Fee sub-menus"
Add bootstrap to all elements under 'Fee' menu item, including sub-menus.

[2017-12-08 05:37] Trodrige commented on #838
Assigned to @Jdew192837

[2017-12-08 11:47] MigDinny commented on #839
I take this one

[2017-12-08 11:47] MigDinny commented on #840
Mine

[2017-12-08 11:56] Trodrige commented on #839
Assigned to @MigDinny
On Dec 8, 2017 12:47, "MigDinny" <notifications@github.com> wrote:

[2017-12-08 18:46] MigDinny commented on #840
I give this task for @Jdew192837

[2017-12-08 18:53] Jdew192837 commented on #840
Thanks @Trodrige I will be furthering my bootstrap with these issues :D

[2017-12-08 20:23] teryhill commented on #839
@migdinny does not want this task

[2017-12-08 23:57] teryhill opened #842 "Added the ability to tell the system to not print a statement for a specific patient."
Added the ability to tell the system to not print a statement for a specific patient. This is currently being used at a customer site.

[2017-12-09 00:06] teryhill commented on #842
The next one will be to disallow printing of statements per insurance company

[2017-12-09 00:36] teryhill commented on #842
My thoughts.

![capture](https://user-images.githubusercontent.com/4655366/33790552-13ffb6ee-dc4f-11e7-82f3-633c31cca0ab.PNG)

[2017-12-09 03:39] teryhill commented on #842
Or would this be better

![image](https://user-images.githubusercontent.com/4655366/33792244-8ae17252-dc68-11e7-934a-a2b4b68d3a43.png)

[2017-12-09 03:43] teryhill opened #845 "Add Ability to not print statements by insurance company"
Working on this to give the ability to mark an insurance company so any patient of that insurance company will not get a statement. EX Medicare

![image](https://user-images.githubusercontent.com/4655366/33792272-15a573de-dc69-11e7-8072-324e9261a7f2.png)

[2017-12-09 03:51] teryhill commented on #837
To me if you could Inactivate then it would be better than deleting them. That way if some one was on the wrong patient and inactivated the issues they could be gotten back. I am not fond of hard deletes.

[2017-12-09 13:21] Trodrige opened #846 "Message reminders"
Go to Messages. Put "Hide reminders", "View log" and "Send dated reminders" button be on the same line.
- Go to Messages-> Show reminders-> send a dated reminder. Place the header “Messages you have sent today” be under the “Send this message” button.

[2017-12-09 13:21] Trodrige commented on #846
Assigned to @MigDinny

[2017-12-10 00:11] Jdew192837 commented on #828
Can I take this up @SoumyadeepJana ? No problem if you want to do it. :)

[2017-12-10 00:16] teryhill opened #848 "Add Insurance company inactivate"
Add a Deactivate and Activate to the insurance companies.

![image](https://user-images.githubusercontent.com/4655366/33800740-95fc1988-dd14-11e7-8d9f-932bc089cd60.png)

Active insurance company

![image](https://user-images.githubusercontent.com/4655366/33800757-ebdda952-dd14-11e7-903f-be7d4323edc9.png)

Inactivated insurance company

![image](https://user-images.githubusercontent.com/4655366/338

[2017-12-10 02:17] teryhill opened #850 "Issue in the menu system"
If you have two tab's open. Then unlock one , Then close the other one

![image](https://user-images.githubusercontent.com/4655366/33801323-32d46844-dd26-11e7-9236-44c62637d074.png)

It would be nice if the unlocked tab opened when there were no tab's open.

[2017-12-10 10:36] MigDinny commented on #850
Maybe I can try to do this.

[2017-12-10 15:03] MigDinny opened #852 "Add Patient tab freezes when clicking on Search/Add Insurer"
Open Add New/Search on Patient/Client >> Scroll down to Insurance >> Click on the anchor "Search/Add Insurer".

This apparently freezes the tab but the problem is on the fancybox. A **fancy_overlay**, **fancy_loading** and **fancy_outer** are created after clicking on that anchor. It is supposed to appear a popup to search for an insurer but that doesn't happen. Only these elements show themselves

[2017-12-11 14:10] teryhill commented on #749
@Trodrige The issue with the compactt and full theme not working is the code is missing from /interface/main/tabs/main.php after this line (line 54 in my version) <link rel="stylesheet" type="text/css" href="css/tabs.css"/> Place this line <link rel="stylesheet" type="text/css" href="../../themes/tabs_style_compact.css"/>

This causes a huge issue with the system as you will be able to see.

[2017-12-11 18:39] SoumyadeepJana commented on #828
I have no problem in your doing it but since I am assigned,so I am bound to do this.I hope you don't mind mate :)

[2017-12-11 20:16] Trodrige opened #853 "Add new patient Insurance form needs some structure"
I just watched this: [video](https://www.youtube.com/watch?v=G9auafGlwQs&feature=push-u&attr_tag=j6VRqPJKYqnl-xqg-6)
I was filled with shame when it reached the 4th minute. Just take a look at the insurance form. The difference is clear with the other categories of forms while adding a new patient. Something has to be done.

[2017-12-12 01:33] #813 closed

[2017-12-12 01:44] #807 closed

[2017-12-12 15:36] aethelwulffe commented on #828
We can change the assignee if you want @SoumyadeepJana

[2017-12-12 22:29] aethelwulffe commented on #853
@MigDinny You are assigned this issue.
I will send you an invitation to join the project so that you can be "officially" assigned.

[2017-12-12 22:34] aethelwulffe commented on #749
Triple verifying that this does not work.  I am not sure it ever worked...

[2017-12-12 22:42] MigDinny commented on #853
@aethelwulffe what you mean by "project"?

[2017-12-12 22:45] aethelwulffe commented on #853
Meaning this repository, and the LibreHealthEHR project.  Joining as a collaborator.  I sent you an invitation.

[2017-12-12 22:48] #829 closed

[2017-12-12 22:50] aethelwulffe commented on #826
OK, we merged up the html5 color picker...and the HTML5 date picker function now exists in Firefox Quantum...that being the last browser that didn't have that one function.

[2017-12-12 22:57] aethelwulffe commented on #837
A "Mark as deleted" or a "Move to patient X" would be better.  Errors DO happen, and they can be just as bad as having something deleted...or worse.
@Jdew192837 I have no idea how to make the modal window go away.  Sorry.  I would be on Stack Exchange trying to find the answer myself.

[2017-12-12 23:03] #821 closed

[2017-12-13 18:42] htuck commented on #769
What I said about the pref-cats earlier was not clearly stated- sorry about that.

Looking at it fresh, I'm seeing that you can create a provider's appt category, and block that time on their calendar as the preferred category (turquoise Immunization Clinic and Provider tab below).

And if you try to make an appt of ANOTHER category, that block will not appear in the available times, which is the

[2017-12-13 19:56] teryhill opened #858 "Log the reasons statements did not print."
In the /sites/default directory is the statement.inc.php. It will currently ignore a statement if the dollar amount is less that the setting in Globals. The code in the statement file to do this is at about line 106 and line 462. There needs to be some way of letting the end user know that statements that they selected did not print for these reasons. Instead of just returning these lines need to

[2017-12-13 22:20] MigDinny commented on #858
I'll do this

[2017-12-13 22:22] teryhill commented on #858
It will need to be tested.

[2017-12-13 22:35] MigDinny commented on #858
But can i have this task?

[2017-12-13 23:05] teryhill commented on #858
@MigDinny Yes you can , but you will need to test your solution in the system to make sure it works with out causing any other issues.

[2017-12-13 23:14] MigDinny commented on #858
I'll see that on weekend

[2017-12-14 01:18] teryhill commented on #778
PR Merged Issue closed

[2017-12-14 01:18] #778 closed

[2017-12-14 01:54] teryhill commented on #758
@tmccormi Did this resolve?

[2017-12-14 02:10] teryhill commented on #676
@aethelwulffe is this an Issue still?

[2017-12-14 02:13] teryhill opened #859 "Possible GSoC ideas"
Setup Improvments
Move setup and upgrade to migration model #91
Setup Script (web version) improvement #191
Installation model enhancement - separate .sql for each table and data set #247
Mods to Globals order of operation #361
database.sql need updates for new globals tabs to work out of the box #362

Calendar Improvments
In the Calendar when a user clicks on the patient allow the demographics ta

[2017-12-14 02:14] #808 closed

[2017-12-14 02:17] teryhill commented on #830
@Jdew192837 #833 is merged.

[2017-12-14 02:18] teryhill commented on #840
@jdew192837 are you still working on this?

[2017-12-14 02:28] Jdew192837 commented on #840
Yes I will be working on these soon, I will send them to you when I am done
so you can learn.

On Wed, Dec 13, 2017 at 8:18 PM, Terry Hill <notifications@github.com>
wrote:

[2017-12-14 03:10] #846 closed

[2017-12-14 22:27] alpinus4 opened #860 "Can't search patient"
Open Patient/Client ==> Add New/Search. Then type some information about any existing patient and click search. And then you see this:

![can t_find_patient](https://user-images.githubusercontent.com/25907897/34017352-bf4c938e-e125-11e7-8a48-0bb6559bf43a.png)

[2017-12-14 22:31] teryhill commented on #860
Make sure you enter a date of birth and a valid sex. The fields in red are required. @alpinus4

[2017-12-14 22:34] alpinus4 commented on #860
I filled all fields in red correctly... @teryhill

[2017-12-14 22:47] teryhill commented on #860
I will test on my system but your screen shot has sex as unassigned that is why I said that.

[2017-12-14 22:49] teryhill commented on #860
Also can you look at the php error log and see what the error is?

[2017-12-14 22:52] teryhill commented on #860
I am seeing it on my system. I guess we never try to find a patient like that. We just use the finder. Good catch.

[2017-12-14 22:55] alpinus4 commented on #860
No matter what I enter to fields, I see the same result...
You think about this file? I'm not hmm... very experienced with PHP :/
[error.log](https://github.com/LibreHealthIO/LibreEHR/files/1561022/error.log)

[2017-12-14 22:58] alpinus4 commented on #860
Thanks :)

[2017-12-14 23:01] alpinus4 commented on #852
@MigDinny The popup appears. Only zoom out (about 60%) ....

![2017-12-14 1 _li](https://user-images.githubusercontent.com/25907897/34018622-ee256dde-e12a-11e7-9709-902eb2b900a5.jpg)

[2017-12-14 23:16] alpinus4 opened #861 "Can't close popup " Search/Add Insurer" after clicking search button"
Go to Patient/Client ==> Add New/Search ==> Insurance ==> click "Search/Add Insurer" . Then If you click search without filling any fields you can't close the popup. Missing cancel button.

![when_didn t_find_insurer](https://user-images.githubusercontent.com/25907897/34019025-1e0a64e4-e12d-11e7-9be8-2c2044810cde.png)

[2017-12-14 23:29] alpinus4 opened #862 "Everything freezes when try to resize the tab from the far right side of the far right tab"
Refresh the site. Drag the right border of the tab. If there two tabs, drag the right border of the right tab. But do it, when you have this cursor.
![resize_cursor](https://user-images.githubusercontent.com/25907897/34019297-70df4ea4-e12e-11e7-96c6-3e66e3075943.png)

Then everything freezes and you still have resize cursor.

[2017-12-14 23:31] teryhill commented on #860
@aethelwulffe can you check this on the mips site you have?

[2017-12-15 00:05] tmccormi opened #863 "Setup fails after ACL with Fatal error - missing xml_parser_create()"
UBUNTU 16.04 LTS Desktop, current master branch.

[Thu Dec 14 15:59:40.228263 2017] [:error] [pid 20440] [client ::1:52718] PHP Fatal error:  Uncaught Error: Call to undefined function xml_parser_create() in /var/www/libreehr-tip/library/adodb/adodb-xmlschema.inc.php:1635\nStack trace:\n#0 /var/www/libreehr-tip/library/adodb/adodb-xmlschema.inc.php(1504): adoSchema->create_parser()\n#1 /var/www/li

[2017-12-15 00:16] tmccormi commented on #863
php XML is not listed as a dependency in the INSTALL.md or other docs.
* sudo apt-get install php7.0-xml (or php-xml)

will update the documentation.

[2017-12-15 00:25] teryhill commented on #688
@Jdew192837 Do you think you can do this?

[2017-12-15 00:47] tmccormi commented on #688
I just finished walking thru this on my new Linux install.   The docs online, hmm, not so good.
Here's the issue: You can do it this way (which is what I did)
1) sudo apt-get install adminer
2) add "Include /etc/adminer/apache.conf" to /etc/apache2/apache2.conf
2) restart apache2
-- or --
Presumably using this, which installs a single PHP file (robby's preferred model)
https://www.leaseweb.com/lab

[2017-12-15 00:52] #863 closed

[2017-12-15 00:54] tmccormi commented on #191
Would be very useful if it checked the OS / PHP dependencies prior to starting the setup, like it does for the permissions.

[2017-12-15 00:59] tmccormi opened #865 "Globals should default to SQL Admin disabled"
Since we do not by default install phpmyadmin or any other tool, this should be off by default

![adminlink](https://user-images.githubusercontent.com/285835/34021693-11ab7d10-e0f0-11e7-874d-dd26e01f96ce.png)

[2017-12-15 01:17] tmccormi commented on #865
Also - change this hardcoded line in library/globals.inc.php to be an editable configuration on the SYSTEM section

80:  $sql_admin_tool_url  = 'http://localhost/phpmyadmin';

[2017-12-15 02:00] Jdew192837 commented on #688
I will attempt to after my start guide. Have a plate of issues that I will
be fixing for a 5-7 issue task, so :D

On Thu, Dec 14, 2017 at 6:47 PM, Tony McCormick <notifications@github.com>
wrote:

[2017-12-15 02:23] teryhill commented on #688
@Jdew192837 it's been hanging here for a while so if you don't get to it that's ok. Maybe you can do it after GCI.

[2017-12-15 03:21] tmccormi commented on #688
The instructions are already well documented by the note and the link, just need to test the second method and see if it works at all.    and Fix #865 so it can be used if installed .... :-)

[2017-12-15 20:46] aethelwulffe commented on #860
Sorry Tony closed that, I can still check some stuff out of it.
I am going to use something close to the original (or your version), and move the MIPS related version to it's own module directory.
  I will have the PR up as soon as I can, and test both sets of functionality tonight.

[2017-12-16 11:44] MigDinny commented on #858
Need some help here. What part of the website are we talking about? What is the real goal?

[2017-12-16 11:46] MigDinny commented on #853
@Trodrige @teryhill What exactly needs to be done? What exact screen are we talking about?

[2017-12-16 12:54] Trodrige commented on #853
The insurance forms while adding a new patient.

[2017-12-16 13:44] MigDinny commented on #852
@Trodrige here

[2017-12-16 14:07] MigDinny opened #867 "Inc files without .php extension are vulnerable"
[https://stackoverflow.com/questions/7129842/what-is-inc-and-why-to-use-it](url)

Some php files are accessible when their extension is **.inc** instead of **.php**

**Examples:**

- _http://localhost/libreehr/library/patient.inc_

**Solution:**

- Rename those files and their dependencies

- Configure the server to look to .inc files as .php as described on the link I've put in the beginning

[2017-12-16 15:38] MigDinny commented on #852
I have a solution for this. Assign me please @teryhill

[2017-12-16 15:42] teryhill commented on #858
@MigDinny

In the /sites/default directory is the statement.inc.php. It will currently ignore a statement if the dollar amount is less that the setting in Globals. The code in the statement file to do this is at about line 106 and line 462. There needs to be some way of letting the end user know that statements that they selected did not print for these reasons. Instead of just returning these lin

[2017-12-16 15:42] Trodrige commented on #867
The link is a 'dead' one.

[2017-12-16 19:00] MigDinny commented on #858
@teryhill Yes, but what part of the website is this? What page?

[2017-12-16 19:57] teryhill commented on #858
Fees/posting

[2017-12-17 14:43] MigDinny commented on #853
Check it out, guys.
@Trodrige
@aethelwulffe

[2017-12-17 16:02] aethelwulffe commented on #867
Totally agree.  This must be done.
Suggestion:  If the author thinks of it as an x.inc file, we should rename it x.inc.php.
This also addresses (in a less important way) syntax recognition for some text editors.
@MigDinny very good catch.  This standard should be part of the development policy as well.  That includes files in non-native assets.

[2017-12-17 16:03] aethelwulffe commented on #852
With solution in hand, go for it.
Test with as many browsers as you can.

[2017-12-17 16:06] aethelwulffe commented on #867
The link is not dead, it is just getting redirected to Github.
https://stackoverflow.com/questions/7129842/what-is-inc-and-why-to-use-it

[2017-12-17 17:13] MigDinny commented on #867
@aethelwulffe Fixed the link :)

[2017-12-17 17:18] MigDinny commented on #852
@aethelwulffe

I will remove the current fancy box system and I will create a popup myself and it'll be horizontally and vertically centered on the screen. Currently, the fancybox probably gets the **document.height** value instead of **window.height** value when calculating _top_ css property. The document includes the scroll and because of that it is getting a huge value for the height which wil

[2017-12-17 17:35] pri2si17-1997 commented on #862
@alpinus4 I am not able to reproduce your error. Please provide some more details. Else it is working fine on my system.

[2017-12-17 18:32] alpinus4 commented on #862
@pri2si17-1997
Look at this: https://www.dropbox.com/s/eanu2fc0bzq770v/ehr_bug.avi?dl=0

[2017-12-18 04:07] Jdew192837 commented on #839
I'm interested in doing this. :) @Trodrige

[2017-12-18 04:07] Jdew192837 commented on #838
Interested in doing this. :) @Trodrige

[2017-12-18 11:43] Trodrige commented on #861
@alpinus4 isn't this same as #852 ?

[2017-12-18 13:55] pri2si17-1997 commented on #862
@alpinus4 I still can't reproduce it. Let others check it.
@Trodrige @aethelwulffe @teryhill

[2017-12-18 16:26] alpinus4 commented on #861
@Trodrige These are different bugs. This issue is about missing button and #852 is about strange position of popup.... Two different troubles, similar, but not identical....

[2017-12-18 18:59] MigDinny commented on #852
@Trodrige My solution will solve #861 too

[2017-12-19 01:30] teryhill commented on #862
@pri2si17-1997  I reproduced it. Do the drag on the right side of the screen. You have to refresh to get control back.

[2017-12-19 21:21] MigDinny commented on #861
Fixed with #870 .

[2017-12-19 21:43] MigDinny opened #871 "Fees/Posting input errors"
- In Fees/Posting >> submit all empty >> SQL Errors
- In Fees/Posting >> submit with any kind of data >> SQL Errors

**This kind of SQL errors:**

![image](https://user-images.githubusercontent.com/6632800/34180178-a9d00ffc-e505-11e7-80e6-0ef32897e015.png)

[2017-12-19 21:49] teryhill commented on #871
Verify that it is happening on the demo site https://ehr.librehealth.io/interface/login/login.php?site=default.

If it is not happening on the demo site fix your copy.

[2017-12-19 22:00] MigDinny commented on #871
@teryhill It is.

[2017-12-19 22:01] teryhill commented on #871
Are you sure it is happening on the demo site?

[2017-12-19 22:03] teryhill commented on #871
![image](https://user-images.githubusercontent.com/4655366/34180958-7d90b1a2-e4de-11e7-98d2-969eec296522.png)

[2017-12-19 22:31] teryhill commented on #871
@MigDinny  I cannot replicate this issue on the demo site or on my local instance of the code.

[2017-12-19 23:02] robbyoconnor commented on #688
I can support this :)

[2017-12-19 23:21] teryhill commented on #865
Should the bug label be removed since this was actually an incomplete fix from the removal of PHPmyadmin

[2017-12-20 01:34] MigDinny commented on #871
@teryhill
![image](https://user-images.githubusercontent.com/6632800/34186793-c172f366-e525-11e7-8864-140a7c8f9901.png)

Just get into the page and click on "PDF Download Selected Statements" with all fields empty.

[2017-12-20 01:45] MigDinny opened #873 "Patient Finder input error"
Go to Patient Finder >> look at the search inputs above each column.

The search input above "Date of Birth" should be of type="date". Currently, we are allowed to write there anything.

![image](https://user-images.githubusercontent.com/6632800/34187064-6a29fc10-e527-11e7-9466-24686ab7357f.png)

[2017-12-20 01:48] robbyoconnor commented on #871
This is worrying...

[2017-12-20 01:51] robbyoconnor commented on #873
I've verified this. Not sure if it's a bug per se..

[2017-12-20 01:52] teryhill commented on #871
@MigDinny you have not selected any data to process. Clerks are trained to select patients to process. I do not consider that an Issue @aethelwulffe or @tmccormi will need to approve this one. The label clearly states "Selected Statements"

[2017-12-20 01:54] MigDinny commented on #873
**From the task description:**

This is invalid data and the form runs successfully even though the date is invalid. I see it as a bug IMO.

[2017-12-20 02:00] MigDinny commented on #871
@teryhill

Yes, but this **should never happen in any circumstance** in a production environment.

You can't say that it's not a bug based on the fact that the user did the wrong thing. What I mean is that this must not happen (the SQL error) whatever the user does. I behaved like a casual user and this happened to me. If this can happen to me, it can happen to any other user. Concluding, this is

[2017-12-20 02:05] teryhill commented on #871
@MigDinny I consider it a training issue, My clients do not have that problem. If @aethelwulffe and @tmccormi say it is a bug then that is their decision. Me in my opinion it is not a bug it is misuse of the system. Like the 40 labels on a ladder because people misuse them.

[2017-12-20 02:06] teryhill commented on #871
They are the owners of the repository and have ultimate say on what goes in.

[2017-12-20 02:14] MigDinny commented on #871
@teryhill I understand. But for a program/software to be professional I think that this kind of stuff must be fixed and must be treated like any other bug. A misuse from the user must be prevented like we prevent bugs from happening.

[2017-12-20 02:19] Jdew192837 commented on #840
@Trodrige Can you give some specifics about this, Thanks

[2017-12-20 02:19] Jdew192837 commented on #839
@Trodrige Can you give some specifics about this, Thanks

[2017-12-20 02:19] Jdew192837 commented on #838
@Trodrige Can you give some specifics about this, Thanks

[2017-12-20 02:20] Jdew192837 commented on #865
@tmccormi Is this good?

[2017-12-20 02:31] tmccormi commented on #865
An incomplete fix, I would consider a bug.  Even If I'm the one that did it :-)

[2017-12-20 13:25] Jdew192837 commented on #867
Are you doing this @MigDinny ? If not, I'd be glad to. :)

[2017-12-20 13:30] Jdew192837 opened #875 "Wrong URL Name in PQRS_settings_config.sql"
In line 243 of PQRS_settings_config.sql, it should be
`'https://your_web_site.com/libreehr/patients'`
instead of
`'https://your_web_site.com/openemr/patients'`

Originally reported by @aethelwulffe  sometime.

I'd be glad to fix this and other instances if needed @aethelwulffe @teryhill.

Let me know what you think.

[2017-12-20 13:59] Trodrige commented on #838
@Jdew192837 we want a bootstrap table. The table should have .bordered(must) and .hover classes.

[2017-12-20 14:32] Trodrige opened #876 "Add Bootstrap classes to Patient Visit Forms and Import pages"
The last two items(and sub-items) in the Patient/Client menu, need to be transformed to Bootstrap. Visit forms and Import pages need to have Bootstrap elements where possible.

[2017-12-20 14:50] Trodrige commented on #840
@Jdew192837 look at the description again.

[2017-12-20 14:58] Trodrige opened #877 "Transform Fees' Posting, Batch payments and EDI History pages"
We want to integrate Bootstrap in EHR. Change all the components in the Fees->Posting, Fees->Batch Payments and Fees-> EDI History pages to Bootstrap components.

[2017-12-20 18:47] MigDinny commented on #867
@jdew192837 yes sorry :(

[2017-12-20 18:49] MigDinny commented on #877
@Trodrige I can do this!

[2017-12-20 21:47] Jdew192837 commented on #876
@trodrige I can do this

[2017-12-20 22:55] MigDinny commented on #877
@Trodrige I tried to do it. Check my PR.

[2017-12-21 01:22] robbyoconnor commented on #871
@teryhill your opinion matters here -- feel empowered to state it's not a bug -- if it's a close call, you can ask for confirmation from @tmccormi and @aethelwulffe

[2017-12-22 03:52] robbyoconnor commented on #871
Not a bug on the demo server.

[2017-12-22 16:03] Kachachan opened #879 "Some Data Validation Missing When Creating New Patient"
**Steps to Reproduce**
1.  Mouse over `Patient/Client`, then click `Add New/Search`.
2. Fill in information that doesn't fit, and observe the lack of data validation.

**Issues I've found**
1. If the user enters invalid data (i.e. when they put in letters in the 'phone number' box), the program doesn't throw any error. It just strips the text and leaves it blank. It might be nice to throw some err

[2017-12-22 16:19] Kachachan opened #880 "Missing Back Button for Report, Ledger and Documents"
**Steps to Reproduce**
1. `Patient/Client` --> `Add New/Search` --> Select any Patient
2.  Click on the 'Report' Tab under the Patient's name.
3. Observe the inability to go back to the previous page.
![libreehr4](https://user-images.githubusercontent.com/6000894/34304554-d90231ba-e76c-11e7-94ec-df21b4f7af21.png)

Same Issue exists with the 'Ledger' Tab.
![libreehr5](https://user-images.githubuser

[2017-12-22 18:20] Kachachan opened #881 "Can't edit history"
**Steps to Reproduce**
1. `Patient/Client` --> `Add New/Search` --> select any patient
2. Click on History
3. Click on Edit.
4. Try and change Patient's history, observe errors.
![libreehr8](https://user-images.githubusercontent.com/6000894/34308291-4495ea90-e77f-11e7-90ed-b5e7095bcac4.png)

**Reproduction Rate**: 5/5

**System Specs** LibreHealth EHR v2.0.0, Chrome Version 63.0.3239.84 (Official

[2017-12-22 18:24] Kachachan commented on #880
[Duplicate](https://github.com/LibreHealthIO/LibreEHR/issues/414)

[2017-12-22 18:24] #880 closed

[2017-12-22 18:27] #879 closed

[2017-12-22 18:40] Kachachan opened #882 "Pressing Lock and then Refresh on a UI Element Creates Two Instances"
**Steps to Reproduce**
1. Click on the 'Lock' on one of the UI elements. This hides the element.
![libreehr9](https://user-images.githubusercontent.com/6000894/34308854-ca2c610a-e781-11e7-8cfb-1fedb470aef8.png)

2. Whilst the element is hidden, click on the 'refresh' button. Observe two instances of the same element being created.
![libreehr10](https://user-images.githubusercontent.com/6000894/343

[2017-12-23 12:18] MigDinny commented on #867
@aethelwulffe I made a research on this and I've tried to find a way to refactor all those files to add ".php" extension to them. But a single setting on PHP can solve this. [This](https://encodable.com/parse_html_files_as_php/) can be a solution (just look at .html as .inc).

Refactoring all those occurrences isn't probably a good idea when there is a simpler way to solve this.

[2017-12-23 14:37] yehster commented on #858
Here's my attempt to clarify some details...
From the Screen under menu item Fees SubItem Posting.
After searching, and selecting statements to print...

When the "PDF Download Selected Statements" is clicked, the create_HTML_statement function (which line 106) is a part of are called in a loop from sl_eob_search.php (indirectly through "make_statement" function calls.

The code near line 106, sho

[2017-12-23 14:42] yehster commented on #858
https://github.com/LibreHealthIO/LibreEHR/blob/master/interface/billing/sl_eob_search.php#L262

This is the "loop"

[2017-12-23 14:46] yehster commented on #858
Rephrasing "the goal" as well.

Currently, statements which were selected to be printed are sometimes silently ignored based on the "minimum amount to print" global setting.

The goal is to inform the user when this happens.

[2017-12-23 15:20] Jdew192837 opened #884 "Misused Function"
Today, while working with bootstrap on some files ran into this function:

`<?php html_header_show(); ?>`

I checked this function in other files and it is an empty function.

Thanks,
jdew192837

[2017-12-23 15:28] yehster commented on #871
It's a very low priority bug, since there is an easy workaround

It would be reasonable to determine if no checkboxes were selected and return an appropriate message instead of trying to proceeding with the invalid query.

This is where the error is happening...
https://github.com/LibreHealthIO/LibreEHR/blob/master/interface/billing/sl_eob_search.php#L241

[2017-12-23 15:29] MigDinny commented on #871
@yehster Yes, that was I was talking about. Thanks for the information. Will work on that!

[2017-12-23 15:37] yehster commented on #867
What's the real risk here?  It doesn't matter much that the files are accessible. Someone can find the code anyway.

To do the refactor properly, every file that gets changed needs to get TESTED too.

I honestly don't see this as a high priority issue.

[2017-12-23 15:41] yehster commented on #871
@MigDinny Professional software development is about understanding priorities.  It's not possible to fix everything.

[2017-12-23 16:00] MigDinny commented on #867
@yehster LOL! You've just made me realize this is an Open source project
The Code is actually open to the world, so this won't be a problem.
But I think the server must be set to parse inc files as php, though.

[2017-12-23 16:39] MigDinny commented on #871
@yehster It is, with time, but it is. And my experience on professional software taught me that this kind of stuff must not happen and because of that I'm putting my hands into work.

[2017-12-23 16:57] MigDinny commented on #884
I've researched the whole codebase and performed some inspector checkings. I've inspected function declaration _(library/translation.inc.php)_ and it does nothing. It previously had an output about encodings but it's not necessary anymore.

It looks good for me to be removed unless anyone thinks that the function may be necessary for something sometime (any kind of universal inclusion).

[2017-12-24 02:45] MigDinny opened #886 "Bootstrap on Encounter's Pages"
Some elements have bootstrap but there are some without bootstrap.

- New Encounter form

- Past Encounter List (and inside "tabs")

**For example:**

![image](https://user-images.githubusercontent.com/6632800/34323895-2aa77e48-e854-11e7-858b-b03f399282a0.png)
_Dropdown inputs_

![image](https://user-images.githubusercontent.com/6632800/34323898-3fd57e5a-e854-11e7-8468-1fe3912af42d.png)
_All those

[2017-12-24 02:50] MigDinny opened #887 "Bootstrap on User Preferences & Change Pass Phrase"
There are some inputs lacking bootstrap.

![image](https://user-images.githubusercontent.com/6632800/34323931-1c86de16-e855-11e7-98f3-e511b9b343e0.png)
![image](https://user-images.githubusercontent.com/6632800/34323932-22be7db6-e855-11e7-902e-4a1214a55ef9.png)

Can I work on this? @teryhill @Trodrige

[2017-12-24 14:33] yehster commented on #871
@MigDinny
I showed you where a bug fix might go because I thought it could be a good learning experience for you.

However, your statements about your experience with professional software are a little bit insulting to the EHR team as you are basically suggesting that we are being unprofessional in our decision making

I'm happy for you that you found a way to address this issue, but the most impo

[2017-12-24 16:12] MigDinny commented on #871
@yehster that was completely unintentional. I'm sorry for that and I've already made a bugfix for that in a PR.

My intention was not to tell you (ehr team) were being unprofessional but to tell you that my personal experience as a costumer in many other services made my opinion. As a contributor my goal is not only coding features and fixing bugs and I think that contribution to the software's er

[2017-12-25 14:35] Jdew192837 opened #888 "Missing Titles"
Merry Christmas!
====

There are missing titles in some files of "Patient/Client" "Visit Forums" under the subsections:

 'Misc Billing Options for HCFA-1500'

'Review of Systems'

Screenshots:
====
![screenshot 90](https://user-images.githubusercontent.com/24306897/34340684-4b002b0e-e94e-11e7-8f73-bc7bae42a3f3.png)
====
![screenshot 89](https://user-images.githubusercontent.com/24306897/34370786-

[2017-12-26 04:29] MigDinny commented on #887
Asking for review: @teryhill @Trodrige

[2017-12-26 10:21] sanjaykarthic opened #890 "UI Data entry validation"
new patient data  is accepting special characters. please find attached screenshot showing the same.
is there any validation done on the data entered like minimum number of digits in phone number or no special chars in postal code etc.

![libre-field-validation](https://user-images.githubusercontent.com/34680990/34354373-ca83d03c-ea53-11e7-9a52-5a65b996ddfd.png)

[2017-12-26 10:39] sanjaykarthic opened #891 "Unable to add a name for a new Procedure Provider"
Click on Procedure->Provider->New
'Name' field is a drop down, but there are no values in the drop down. is this something to come from the database. also if i just go ahead and submit, the entry is getting created. pls refer screenshot below.
is it allowed to create provider without any name? also is 'Name' a drop down list ?

![librehealth-new-procedure-provider](https://user-images.githubuserco

[2017-12-26 15:46] phanindra789 opened #892 "No Calendar in add/search patient."
In libreHealth EHR, go to:
Patient/Client --> Add New/Search -->Social Statistics --> Financial Review Date.
To enter date, calendar isn't opening.

[2017-12-26 16:21] phanindra789 opened #893 "No error message when clicked "add" button without any input."
There are many blue colored "add" buttons in various sections of "Search or Add Patient" to add names of Countries, States, Occupation, Cities etc.
When clicked "Add" without any input, there is no intimation that I left them blank.
 At least, an error message should be displayed when left something blank.

[2017-12-26 16:56] MigDinny commented on #893
Currently, when you click on "Add" button and you left everything in blank, the popup doesn't hide, that means that there is no problem.

Example:

![image](https://user-images.githubusercontent.com/6632800/34360938-7789d976-ea5d-11e7-9c6f-f58f3a617694.png)

When you click on "add" button with an empty field, nothing happens. There is no need of any warning, in my opinion, because the popup doesn'

[2017-12-26 16:57] MigDinny commented on #892
This is a valid bug, in my opinion. Calendar popup should be opened when clicking on input.

@phanindra789 Will you fix this? If not, I can do it.

[2017-12-26 17:00] phanindra789 commented on #893
But it should say something like "Please enter something..." instead of staring at me. :D

[2017-12-26 17:01] phanindra789 commented on #892
Guide me. I'll do it. Because, I too should learn!

[2017-12-26 17:09] phanindra789 opened #894 "User manual not available."
At Help --> About --> User Manual.
When clicked on user manual, It is redirecting to https://forums.librehealth.io/c/7-support2.0.0_Users_Guide
which is not available.

[2017-12-26 17:12] Jdew192837 commented on #888
@Trodrige @teryhill Mind taking a look at these fixes I made for this issue?
Thanks,
jdew192837

[2017-12-26 17:41] MigDinny commented on #893
@phanindra789 Well, I don't think it's needed, but you can do it in a pull request and wait for mentor's review :)

[2017-12-26 17:57] MigDinny commented on #892
@phanindra789 try to do it alone and if you need something, ask for help ;)

[2017-12-26 17:59] phanindra789 commented on #892
I asked you because, I know nothing how to do.
I know java and Android. So, if you give me some plan, Fill go in that way. :)

[2017-12-26 18:46] MigDinny commented on #892
@phanindra789 well, it's not supposed for me to do your job. I can help you if needed, but I can't do it for you. Hint: inspect the codebase first and study how the code works.

[2017-12-26 18:57] pri2si17-1997 commented on #893
@phanindra789 This is not a bug. Instead of adding any message you can just create the border as red IMO. @MigDinny is right. Popup is not hiding, and that is enough for user to warn. :slightly_smiling_face:

[2017-12-26 19:01] pri2si17-1997 commented on #892
@phanindra789 This is not a bug but a kind of issue and shall be addressed. It is not affecting any functionality and user is able to enter date (though manually). Try jquery datepicker.

[2017-12-26 19:14] pri2si17-1997 commented on #890
@sanjaykarthic This is not a bug. State, Postal code and ssn are supposed to be alphanumeric and that's why you are able to enter these characters. Also it doesn't affect any functionality. This can be a issue which will be addressed in coming time. This is inconsistent data, not a bug.

[2017-12-26 19:20] pri2si17-1997 commented on #891
@teryhill @aethelwulffe This is not a bug IMO. What you say?

[2017-12-26 19:29] MigDinny commented on #893
@pri2si17-1997 That's a good idea! turning border into red would be nice.

[2017-12-26 19:29] teryhill commented on #891
It is a training issue. There is a process for setting that up.

[2017-12-26 19:33] pri2si17-1997 commented on #891
Yes.

[2017-12-26 19:49] #850 closed

[2017-12-26 21:07] #831 closed

[2017-12-26 22:15] #819 closed

[2017-12-27 03:52] MigDinny commented on #886
@Trodrige
I would like to add bootstrap to some places but it has been a nightmare for me.

Look at this:
![image](https://user-images.githubusercontent.com/6632800/34370071-fb282f98-eab8-11e7-9891-de6eb0c33672.png)

Basically, adding bootstrap to some elements makes them having "width:100%" and "display:block" which creates that mess. I was thinking about adding bootstrap here but it's impossible

[2017-12-27 04:06] teryhill commented on #886
Jdew is already working on this and other forms.

[2017-12-27 04:07] teryhill commented on #886
This is covered under issue 876 . Duplicate work closing this issue.

[2017-12-27 04:07] #886 closed

[2017-12-27 08:13] sanjaykarthic opened #896 "New encounter not getting listed"
After creating a new encounter, its not listed in the encounter section.
can see a message that encounter already exists, but it is not seen in the list. Even if I select the issues and highlight the issue, nothing is getting listed on encounters.

![libre-new-encounter](https://user-images.githubusercontent.com/34680990/34375273-a66cd352-eb0b-11e7-8c64-2683f412b8b7.png)

[2017-12-27 08:17] sanjaykarthic opened #897 "sending message to All"
Message log says, Leave blank for all, but there is no option to leave blank, by default only 'Myself' is selected, no other way to leave a blank. so the functionality to send message to all cannot be achieved.
![librehealth-message-log](https://user-images.githubusercontent.com/34680990/34375370-38fa2292-eb0c-11e7-8b7d-4f25e6e2e49a.png)

[2017-12-27 08:21] sanjaykarthic opened #898 "availability time showing wrong timing"
In calendar, make a new entry, check for available time for 'providers', it shows multiple 12;00 time slots. Pls refer below screen. is this expected.

![libre-provider-availability](https://user-images.githubusercontent.com/34680990/34375457-9fc84d46-eb0c-11e7-8459-d2baf8a515c3.png)

[2017-12-27 13:29] teryhill commented on #896
Tell me how you are getting to the screen?

[2017-12-27 14:19] teryhill commented on #898
Not seeing this on the demo system or my local system.

[2017-12-27 14:22] teryhill commented on #897
Need more information on how you got to this screen.

[2017-12-27 15:04] #860 closed

[2017-12-27 15:05] aethelwulffe commented on #860
Now MIPS reporting is broken, but at least this is fixed.  We will be taking care of that next.

[2017-12-27 15:11] aethelwulffe commented on #893
@phanindra789  Hi Sai, yeah, it would be cool if you wanted to do a non-obtrusive alert like a color change.  Personally, I have always wanted to do fading messages in the background "Form Incomplete!".  You know, sort of like when Mario grabs a coin and a 1 Yen symbol appears briefly.  There is, of course, the classic "DOINK!" error sound, but audible alerts are not very effective unless the user

[2017-12-27 15:17] aethelwulffe commented on #898
Check your calendar configurations. Ensure that you have the default appointment times/slots available.  Also ensure you have a provider...and patients, a facility etc...

Terry, the above was with 7 days showing in the options.  I assume you check with the same above, right?
@sanjaykarthic  What browser?  Also, are you looking at the default database?  If you scroll down in the window, what else

[2017-12-27 15:21] aethelwulffe commented on #896
These are the Issues linked to encounters review.  I vaguely recall this change.

[2017-12-27 15:26] MigDinny commented on #893
@aethelwulffe I personally think that fading messages like those would be a little bit annoying for simple stuff like this :)

[2017-12-27 15:41] aethelwulffe commented on #893
Agreed... but we should probably institute classes that do things like that (in a standardized way) at some point.  Navigation away from a page, momentary notifications that appear and disappear automatically without requiring user input and all that would go a good way towards N00b errors is use.  Very often a clinician will enter data into a form, navigate away without saving, then describe the

[2017-12-27 19:37] aethelwulffe commented on #877
@Trodrige
MigDinny made a little bit of a go at this, but he makes some pretty good arguments that Bootstrap is not up to the task.

This may not be completely true, but while having things refactored to current code standards and standardized as much as possible would be great, I am not currently convinced that throwing bootstrap at it is the answer.

[2017-12-27 20:34] aethelwulffe commented on #891
Agree with Priyanshu, not a bug....good try though! @sanjaykarthic

[2017-12-27 20:34] #891 closed

[2017-12-27 23:58] aethelwulffe commented on #888
No PR linked.

Typically, along with the fix, you want to hide the actual form title so i just shows in the tab...at least in the normal view.  A report view can include it.

[2017-12-28 00:00] aethelwulffe commented on #884
Wow.   I have been looking at that for years now.  It never did anything for me, so I never tried to use it.  Figured it was above my pay-grade.   This is certainly a function-conjunction task.
  Now, if you wanted to use it as a container for save/cancel/add type buttons, that could be cool.  Otherwise, dump the junk.

[2017-12-28 00:05] aethelwulffe commented on #892
Actually, don't try datepicker.  use HTML5 date input type.
@phanindra789 this is still a good bug report.  @pri2si17-1997 it may not be broken code, but it is certainly the sort of thing that we are looking for, and an inconsistency == bug if not inconsistency === bug.
  The bigger question is "do we need the financial review field".  Aside from that, implementing date fields in the Layout engine

[2017-12-28 00:09] aethelwulffe commented on #894
This is global configurable, and we don't have the documentation for this to link to.  Thus, it is not immediately fixable, but yes, this qualifies as "finding a bug".

[2017-12-28 00:18] aethelwulffe commented on #881
GCI bug found. BUT is not reproducible on the main demo here:  https://ehr.librehealth.io/interface/login/login.php?site=default

Assuming that this can be reproduced elsewhere with a valid updated database:
Suggested solutions:
1.  Simply remove hard-coded fields that do not exist in database for layout.
2.  Ensure that it only tries to save those that exist.