[2017-12-28 00:45] Jdew192837 commented on #884
Okay, I'll claim it as I found it. Thanks for the input @aethelwulffe

[2017-12-28 00:46] Jdew192837 commented on #888
@aethelwulffe Commented on the wrong issue, but can this issue be verifed by you?

[2017-12-28 01:06] Jdew192837 commented on #884
@tmccormi @aethelwulffe
I'll use this function for:

https://gitlab.com/librehealth/gci/issues/48

Thanks,
jdew192837

[2017-12-28 15:42] aethelwulffe commented on #888
I don't think the comment was wrong, but I see what you are saying.
  The issue is verified.  The title in the form is not being picked up by the tab.

Visit forms, meaning clinical or encounter forms, are located under interface/forms/form_name.  Some are very very old, and none of them are really any good or are useful.  The Review of Systems form is one of those.  The HCFA form did (I believe,

[2017-12-28 16:18] Jdew192837 commented on #888
Okay, @aethelwulffe So this issue I filed upon resolution will count as two bug fixes?

[2017-12-28 16:22] aethelwulffe commented on #888
If you are fixing what looks like the same bug in more than one place by altering the code in each instance, that is more than one bug.
-Yes...this is two bugs.
🐛 🐞

[2017-12-28 16:24] Jdew192837 commented on #888
Okay, thanks @aethelwulffe could you check this issue, I filed does it qualify as Function Conjuction 1 #884

[2017-12-28 16:30] aethelwulffe commented on #888
No.  These qualify as bug fixes.  No worry, you might be able to find more of these in other forms, especially if the enble form forms in the administration/forms.  Heck you might find different bugs there!

[2017-12-28 16:35] aethelwulffe commented on #888
Oh, wait, you mean some other issue.  Yes, #884 does not exactly match the conditions there, but yes, the idea is right.  In this case you are still taking corrective action on a replicated function...just by deleting it.  That has nothing to do with this issue though....keep your context concise to the thread. 😸

[2017-12-28 16:37] Jdew192837 commented on #888
@aethelwulffe There is someone on chat that has been waiting a while for task to be reviewed username is @Vishwas-Adiga

[2017-12-28 16:38] aethelwulffe commented on #888
Thank you.
I am barely able to keep up with the PR's here (and some of the issues) much less attend to the chat.  I will check, then I have to get some work done.

[2017-12-28 16:58] Jdew192837 commented on #875
@aethelwulffe Do you reckon I fix this?

[2017-12-28 17:07] aethelwulffe commented on #888
@Jdew192837 thanks for that heads up.  It was a really good submission too!

[2017-12-28 17:13] aethelwulffe commented on #875
Do it!

[2017-12-28 17:22] aethelwulffe commented on #873
Yeah, I see this as a bug...or a feature.  The issue is that the search can be configured to have any demographics element in it, so it would need to recognize the data type.  Also, you might want to only select a year or a month or anything like that to find anyone turning 40 this month or something like that.  It would need to be either free-form, or very loosely typed.
  If it can be "fixed" wi

[2017-12-28 17:23] Jdew192837 commented on #893
@aethelwulffe I know how to differ the button colors, I can do an issue about differing the add/cancel buttons to be blue and red if you would like

[2017-12-28 17:27] MigDinny commented on #873
@aethelwulffe we can let it be this way or change its type to "date". I can do it if needed

[2017-12-28 17:30] phanindra789 opened #900 "GCI Task: Duplicate files in the code base."
**Sorry, if these aren't duplicate files. :)**  1.https://github.com/LibreHealthIO/LibreEHR/blob/master/interface/modules/zend_modules/public/css/CDA.xsl
https://github.com/LibreHealthIO/LibreEHR/blob/master/interface/modules/zend_modules/public/xsl/ccd.xsl

2.https://github.com/LibreHealthIO/LibreEHR/blob/master/library/fonts/php_a010013l.afm
https://github.com/LibreHealthIO/LibreEHR/blob/master/

[2017-12-29 00:04] robbyoconnor commented on #900
1 The first are not duplicates. Look at the spelling. -- **_INVALID_**
2. I'm not sure, but leaning towards **_INVALID_**
3. **Valid**
4. **Valid**
5. **Valid**

[2017-12-29 00:33] aethelwulffe commented on #900
First two are no-go.
I think the second are the normal font and the italicized version.
The other three are total dupes.
  good catches.

The main problem with these is that some are in modules, which are allowed their own versions of library assets.  That makes these worth consideration, but not immediate removal.  Still, you match the reporting criteria for this task.
You agree @robbyoconnor ?

[2017-12-29 00:43] aethelwulffe commented on #900
@phanindra789 Sai, have you claimed this task?

[2017-12-29 00:44] teryhill commented on #900
Agree 1 and 2 no everything else yes

[2017-12-29 01:00] phanindra789 commented on #900
@aethelwulffe Yes. I claimed this task.

[2017-12-29 01:07] phanindra789 commented on #900
@robbyoconnor
https://github.com/LibreHealthIO/LibreEHR/tree/master/library/js/jquery.treeview-1.4.1/images
https://github.com/LibreHealthIO/LibreEHR/tree/master/interface/modules/zend_modules/public/css/jquery.treeview-1.4.1/images

[2017-12-29 02:20] robbyoconnor commented on #900
I approved the task when I validated at least one or two. There is no real hard requirement on the number

[2017-12-29 13:07] phanindra789 commented on #900
@robbyoconnor   I didn't do it for the sake of task! I just want you to know that there are some more duplicate files.
and the above is a folder. Is that too a duplicate?

[2017-12-29 21:45] teryhill commented on #845
I have this PR ready to send. The Globals entry needs some clarification. Options 3 and 4. None is to not use this feature all is if the insurance company is in any position do not print a statement. @tmccormi @aethelwulffe

[2017-12-30 13:53] pri2si17-1997 commented on #900
@phanindra789 No doubt they are duplicate. But IMO second one was for zend module, and we are going to replace that. But this is good. :slightly_smiling_face:

@teryhill @aethelwulffe can give you more insight on this.

[2017-12-30 13:59] phanindra789 commented on #900
@pri2si17-1997  Thank you.
And the other thing is, I want someone with whom I can interact about other issues in EHR. are there anyone on chat now?

[2017-12-30 14:53] phanindra789 opened #902 "Images not in use."
1. https://github.com/LibreHealthIO/LibreEHR/blob/master/images/approve_patient.png
2. https://github.com/LibreHealthIO/LibreEHR/blob/master/images/blankbtn.gif
3. https://github.com/LibreHealthIO/LibreEHR/blob/master/images/CMS_logo0.png
4. https://github.com/LibreHealthIO/LibreEHR/blob/master/images/fee.png
5. https://github.com/LibreHealthIO/LibreEHR/blob/master/images/file2.png
6. https://gith

[2017-12-30 15:54] phanindra789 commented on #902
@teryhill  @aethelwulffe 16 out of 44 images are not used anywhere.

[2017-12-30 16:09] MigDinny commented on #852
@aethelwulffe Check #869

[2017-12-31 01:40] teryhill commented on #902
CMS_logo0 needs to be left. It is part of the mips module and the program that uses it is being re-worked. correct @aethelwulffe

[2017-12-31 15:54] MigDinny opened #905 "Demographics EDIT needs a new structure"
I think that Demographics Edit needs a new structure.

Some tables are messy and need organization. The addition of accordion would bring a new and modern aspect, also.

**Finder** >> **Click in a patient** >> **Click edit in demographics**

[2018-01-01 15:51] pri2si17-1997 opened #907 "Issue while installing setup"
Hello @teryhill @aethelwulffe

As stated by @alpinus4, there is issue while installing it.

Attached is screenshot of the same :
![error_install](https://user-images.githubusercontent.com/12952169/34468939-9978bc24-ef39-11e7-8be6-0f75ede80933.png)

I'm working on it.

[2018-01-01 16:04] yehster commented on #907
https://github.com/LibreHealthIO/LibreEHR/blame/2d9827430c98521a3cdd99b2c109959c5f84397d/sql/database.sql#L2406

This is the line that is causing the problem… It is trying to create a new row in the database. Count up how many items there are in the lists…

Now this is the line that says which columns in the database table to map to each of the rows… Note how many columns are specified
https://git

[2018-01-01 16:08] pri2si17-1997 commented on #907
Got that @yehster . Thanks :slightly_smiling_face:

[2018-01-01 16:39] MigDinny opened #909 "Patient >> Reports new infrastructure"
I think this needs a new face.

![image](https://user-images.githubusercontent.com/6632800/34469224-26019d6e-ef12-11e7-8cdc-e315dc2fac47.png)

Those components are scattered around the page and need some order, in my opinion.
Some **<hr>** are ugly and some breaklines are needed.

[2018-01-01 16:55] alpinus4 opened #912 "Incorrect recommended value of key_buffer_size in setup.php"
Recommended value of key_buffer_size in setup.php is 10M and it's incorrect.
I fixed it: https://github.com/LibreHealthIO/LibreEHR/pull/911

[2018-01-01 21:19] teryhill commented on #907
Code base fixed. Issue resolved

[2018-01-01 21:19] #907 closed

[2018-01-02 00:48] yehster commented on #905
For any redesign, a very important consideration is that there are existing users who could be disrupted by big changes to interfaces they have used for a long time.   A strong understanding of how a page gets used is a prerequisite for good design.  Simply saying "let's use accordion" is not enough.

[2018-01-02 01:46] MigDinny commented on #905
@yehster First you find it strange. Then you can't get enough of it. Adaptation is part of the human being and Accordion isn't such a big change. It's intuitive, though.

Simply saying "let's use accordion" is not enough, but simply let the UI like it was, is not enough too, in my opinion.

[2018-01-02 02:44] aethelwulffe commented on #905
@MigDinny
What he is saying is "this needs a solid plan and reasoning".  That is all.
He is right, and I doubt you actually feel differently.  Personally I prefer a melodica to an accordion, or even bagpipes, you know? :)
  [Serious Mode=ON]
There is a lot to be considered with demographics  We have a consensus and even some plans to split the patient_data table up.  Currently all elements of the

[2018-01-02 14:04] MigDinny commented on #905
@aethelwulffe Understood. I would like to add accordion to a lot of components because it really appears really pretty for me.

I was thinking about adding accordion to the issues page, is it possible?

About this particular case, which I've added accordion and organized the page, is this a thing to go?

[2018-01-02 14:10] yehster commented on #905
https://en.wiktionary.org/wiki/if_all_you_have_is_a_hammer,_everything_looks_like_a_nail

[2018-01-02 14:14] MigDinny commented on #905
@yehster I laughed a lot with that one :')

I think this page needs organization and accordion is my best idea, do you have anything in mind?

[2018-01-02 20:26] aethelwulffe commented on #905
And if you have your own foundry, you tend to build a specialty hammer
(or screwdriver) for every situation.  That is why we have management. :-D

On 2018-01-02 09:10, Kevin Yeh wrote:

[2018-01-02 20:42] MigDinny commented on #905
@aethelwulffe I completely agree. That's why I asked for feedback :D

I need suggestions also. Not only "this is not the right way". Because for me, this is the best method, but if someone has a counter-argument, that person must have a suggestion or idea in mind. This is the only model (using accordion) I can imagine that turns this into something practical and beautiful simultaneously. If you or

[2018-01-02 21:58] aethelwulffe commented on #905
Hey!  is accordion just a jqueryUI function???  Then we already have it,
and most of my caution with implementing it is probably out the window. 
I am sure it is still not without concerns to look at, but...it doesn't
seem too crazy big of a project.

On 2018-01-02 15:42, Miguel Dinis wrote:

[2018-01-02 22:23] MigDinny commented on #905
@aethelwulffe I honestly didn't understand what you meant, it's hard for me because i'm not native :S

Yes, accordion is a jqueryUI function. I like jQuery and jQueryUI, those libraries have a lot of useful and easy-to-use functions and features. This one is one of them :)

Can you explain better what you meant?

Thanks!

[2018-01-03 21:50] MigDinny opened #915 "headers.inc.php library calling refactor needed"
I realized that we got a function _call_required_libraries_ that a lot of files don't actually use.

Some files actually call some libraries/scripts twice unnecessarily.

demographics.php is an example I'm working on at the moment that has that kind of problems.

I could work on a refactor of this kind on the remaining of the project. I'll submit a PR to show what I actually did, it's hard to expl

[2018-01-04 15:16] teryhill commented on #915
The call_required_libraries is to replace the way assets are currently being called. This needs to be done thru out the code base.

[2018-01-04 15:53] aethelwulffe commented on #915
Good idea Miguel.

The call_required_libraries is a fairly new function.  We have been
migrating the system to use that vs. a ton of js scripts on every page.

The refactor process got stalled several times as we changed the
function itself.  Lots of people took a stab at it.  We went from bool
values to the current scheme.

Here is how the process works:

Find an include script in a file.  Copy t

[2018-01-04 16:36] aethelwulffe commented on #915
Please review the calls at the bottom of the file for textformat and dialog.js.
Refactoring to put in conditionals will likely be a very big problem, and outside the scope of this PR, but someone screwed up bigtime by adding them in there. Every file that calls this function will need to be checked for actual usage of textformat.js and dialog.js calls before the function arguments to include them

[2018-01-04 16:42] aethelwulffe commented on #902
True. @teryhill
Leave the CMS logo.
I think the rest are good to leave (except the ones in assets.  Moving the rest to /assets/images might be good.
  Aside from that, there is a possibility of us adding in an icon-based menu at some point, at least for quick-pick buttons.  Even so, any images that are used should be generated natively with our own look.

[2018-01-04 17:14] teryhill commented on #915
@aethelwulffe  testformat is used to format the phone numbers , text items etc. Dialog does functions for cascading windows grabbing focus etc. These were done by Rod and are used in most every place that jquery is used. I don't believe they will hurt by being called. There should be a project to check which ones are really used and get rid of what is not.

I am the one who "Screwed up"

[2018-01-04 18:19] aethelwulffe commented on #905
I mean:
Accordion requires no new libraries.  That is good.
"Out the Window" means "thrown out of the house by the most expedient way possible" or my whole argument has Chutar o pau da barraca.

[2018-01-04 18:24] aethelwulffe commented on #915
No, you are not "the" one.  Every one of us have taken turns "developing" (means screwing up, refactoring again) these functions.  We seem to be headed towards getting it right finally.

[2018-01-04 18:49] aethelwulffe commented on #909
Also, it doesn't properly render the html-to-pdf.
Also, any clinical forms (encounter forms) that do not follow the 1997 era coding standard we have in place will fail to render in this report.

Yeah, CCR, CCD, and all the other stuff in the Patient Report needs a serious fix.

[2018-01-04 19:05] MigDinny commented on #905
Oh my gosh you didn't do that :joy: :joy:

Accordion only requires jQuery and jQuery UI. There is a lot of this stuff built in jQuery and jQueryUI that we could definitely use instead of downloading piles of other libraries (like fancybox, maybe there is an alternative to fancybox built in jquery, i don't know).

Anyway, is #904 good to be approved?

[2018-01-04 19:26] MigDinny commented on #915
@teryhill @aethelwulffe I don't really know what is the best option. If the intention is to **always** include those scripts, that should work but only when **headers.inc.php** is included also.

Should I let textformat and dialog be there?

[2018-01-04 19:39] aethelwulffe commented on #915
Yeah @MigDinny leave them alone.  If we ONLY want those, we call the function with no arguments...which is not a good consistent practice.  That problem is not in the scope of your PR though.

[2018-01-04 19:39] MigDinny commented on #909
@aethelwulffe answered on PR

[2018-01-04 19:58] MigDinny commented on #915
@aethelwulffe Yep! Maybe I should move those scripts into _call_required_libraries_ instead of letting them at the end of **headers.inc.php**. That way those scripts would only be included if _call_required_libraries_ was called and not if **headers.inc.php** was included. (look closely at the **headers.inc.php** code and you'll get what i mean)

[2018-01-04 22:57] #865 closed

[2018-01-04 23:06] aethelwulffe commented on #900
@phanindra789 @pri2si17-1997  we do have a sort of "rule" that you may duplicate files in a "module", but this module (and the whole interface/modules/zend_modules directory) needs to be completely dumped.

[2018-01-04 23:50] #853 closed

[2018-01-04 23:51] aethelwulffe commented on #853
All happy done-done.

[2018-01-05 00:15] #838 closed

[2018-01-05 00:15] aethelwulffe commented on #838
@Jdew192837 get this claimed!

[2018-01-05 00:27] tmccormi opened #917 "Inconsistent use of the term "Issues" -vs- "Medical Problems"
Not sure how to resolve this, but if you click on the 'Issues' Link in the Patient Demographics you get this, labeled "Medical Problems" Which we all refer to as "Issues":

![issues-link-from-demog](https://user-images.githubusercontent.com/285835/34590444-b1fafd50-f16b-11e7-9890-2aa876f49464.png)

If you click on the Popup->Issues link you get this, which is used to review the links between "Issu

[2018-01-05 00:51] aethelwulffe commented on #917
The issues issue has been an issue since the day this was issued.
There is also overlap in the area of "History".

My suggestion from about 10 years ago (11?) was to change everything to "Health Factors".
with the following category names:

Diagnosis (INCLUDES Dental and Mental Health.  Both are covered by ICD codes.  There is no distinction in the difference!)

Allergies (same as above, should in

[2018-01-05 01:17] tmccormi opened #918 "Tabs Views should have a consistent, non-scrolling area for buttons"
Similar the way the new Calendar module works; an area below the tab identification should be fixed and non scrolling and contain any buttons or options that need to remain visible.   Here's two mock ups to show how this could look.

![globals-1](https://user-images.githubusercontent.com/285835/34591509-ecedf014-f172-11e7-95e8-d468579cde12.png)

and
![patientnew](https://user-images.githubusercont

[2018-01-05 05:49] tmccormi commented on #917
I think we could start with a simple renaming of the visual elements and move on to a better model after that.

[2018-01-05 14:03] MigDinny commented on #918
#889 (look at the end of the PR, I've made some stuff) is this what you're looking for?

[2018-01-05 15:34] Jdew192837 commented on #838
What do you mean?

On Jan 4, 2018 18:15, "Art Eaton" <notifications@github.com> wrote:

[2018-01-05 17:25] alpinus4 opened #919 "Download report as pdf don't work"
## Steps to reproduce:

1. Go to patient screen and click _Report_

![step1](https://user-images.githubusercontent.com/25907897/34620185-dcfb0eb2-f244-11e7-960b-2575e6308ab7.jpg)

2. Click any _Download PDF_ button

![step2](https://user-images.githubusercontent.com/25907897/34620187-de44b2a0-f244-11e7-965b-dbc8c043be25.jpg)

3. See error.

![error](https://user-images.githubusercontent.com/259078

[2018-01-05 18:18] teryhill commented on #919
Yep would be a bug. It looks like it is from the moving of the html2pdf to the modules directory.

[05-Jan-2018 13:11:24 America/New_York] PHP Warning:  require_once(/LibreEHR/modules//html2pdf/vendor/autoload.php): failed to open stream: No such file or directory in C:\xampp\htdocs\LibreEHR\interface\patient_file\report\custom_report.php on line 49

[05-Jan-2018 13:11:24 America/New_York] PHP Fat

[2018-01-05 23:59] alpinus4 opened #921 "[Wamp] Can't open portal dashboard"
## Steps to reproduce:

1. Click _Miscellaneous_ ==> _Portal Dashboard_

![step1](https://user-images.githubusercontent.com/25907897/34633473-9b8781da-f27c-11e7-8de9-9e11fe0b5a8f.jpg)

2. See error

![error](https://user-images.githubusercontent.com/25907897/34633401-43e61a86-f27c-11e7-876e-0c34894b1884.jpg)

Used: Wamp, Firefox 57.0.4 , Windows 10 ver. 1709

[2018-01-06 18:13] MigDinny commented on #915
@aethelwulffe @teryhill

This is being worked in every PR that has "library refactor" in its title.

I will link them here

[2018-01-06 19:56] supernour09 commented on #917
hi everyone so i was wondering if i want to fix this issues what is need just rename

[2018-01-06 20:16] alpinus4 opened #929 "Not proper generated report pdf files."
## 1. Steps to reproduce:

1. Head over to patient screen and click _Report_

 ![Step 1](https://user-images.githubusercontent.com/25907897/34643361-58ffaee4-f323-11e7-9918-206221a7d427.jpg)

 2. Click any _Download PDF_ button

 ![Step 2](https://user-images.githubusercontent.com/25907897/34643371-978458ea-f323-11e7-924a-41d5fe7889a3.jpg)

3. Wait a while ,open downloaded pdf, see this strange th

[2018-01-06 20:19] alpinus4 commented on #929
It will be possible to start repairing this problem after merging https://github.com/LibreHealthIO/LibreEHR/pull/920

[2018-01-06 21:24] alpinus4 opened #930 "Patient portal - don't loading image"
## Steps to reproduce
1. Go to _Miscellaneous_ ==> _Portal Dashboard_

![step1](https://user-images.githubusercontent.com/25907897/34644022-29897f4e-f32f-11e7-8ced-85d82583e854.jpg)

2. Click _Mail »_ button

![step2](https://user-images.githubusercontent.com/25907897/34644029-49a7d50a-f32f-11e7-92a1-d9a1c01e1e26.jpg)

3. See missing image

![missing image](https://user-images.githubusercontent.co

[2018-01-06 21:55] alpinus4 opened #932 "Office notes need new look"
## Where?
1. Go to _Miscellaneous_ ==> _Ofc Notes_

![2](https://user-images.githubusercontent.com/25907897/34644312-56e3f262-f334-11e7-97e5-883101662d14.jpg)

And see:

![screenshot 34](https://user-images.githubusercontent.com/25907897/34644313-6384c71c-f334-11e7-86dd-2f7679e322fe.jpg)

![screenshot 35](https://user-images.githubusercontent.com/25907897/34644314-65abae0c-f334-11e7-9d03-e17d6ffaf

[2018-01-06 23:56] tmccormi commented on #932
Frankly I think it should just be removed.

Tony McCormick

On Jan 6, 2018 1:55 PM, "Mateusz Grzonka" <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
information by telephone.  The information contained in this message may be
privileged and confidential. If you are NOT the

[2018-01-07 00:14] alpinus4 opened #934 "QA Measures - invalid path to globals.php"
## Steps to reproduce

1. Enable `display_errors` in php.ini

2. Go to _QA Measures_ ==> _Select Measures_
    or _QA Measures_ ==> _Delete Old Reports_
    or _QA Measures_ ==> _Remove_Provider_Assignments_
    or _QA Measures_ ==> _Provider Encounter Counts_

![](https://user-images.githubusercontent.com/25907897/34645211-a89eb6d8-f347-11e7-992a-f1ac2444a418.jpg)

3. See errors

![](https://user

[2018-01-07 00:14] #932 closed

[2018-01-07 00:18] alpinus4 opened #935 "Needed Office Notes deletion"
## Where?

1. Go to _Miscellaneous_ ==> _Ofc Notes_

![](https://user-images.githubusercontent.com/25907897/34645236-4b42f2fa-f348-11e7-97e0-9a64e1673ab7.jpg)

[2018-01-07 00:43] alpinus4 opened #937 "Popups ==> Refer, not found (err. 404)"
## Steps to reproduce

1. Go to _Popups_ ==> _Refer_

![](https://user-images.githubusercontent.com/25907897/34645376-d4c70a68-f34b-11e7-8829-8ccc357c315a.jpg)

2. See error

![error](https://user-images.githubusercontent.com/25907897/34645378-e293f476-f34b-11e7-9e03-c2f86924759c.jpg)

Found it also on https://ehr.librehealth.io/

I'm using Wamp, Firefox 57.0.4, Windows 10 ver. 1709

[2018-01-07 00:59] teryhill commented on #937
I think that was removed in one of the slash and burn episodes. @aethelwulffe  or @tmccormi  may be able to answer this

[2018-01-07 13:14] supernour09 commented on #695
@aethelwulffe  how can i get those logs , i am using wamp and checks all the logs file didn't get those

[2018-01-07 15:10] MigDinny commented on #915
@aethelwulffe @teryhill I wonder if the removal of "html_header_show" is needed. The code I'm touching generally is after that line and it's really easy to me to remove it anyway. Should I do it?

[2018-01-07 19:17] Jdew192837 commented on #888
Ping @teryhill, @aethelwulffe  :)

[2018-01-07 21:02] yehster commented on #915
My suggestion is that you try it out with and without "html_header_show" and report on your findings...

Run the page and do "view source" in each of the two configurations and see what (if any differences) there are...

[2018-01-07 21:14] MigDinny commented on #915
@yehster I did it and nothing happens. That function is only defined in only 1 place and it has nothing inside. It literally does nothing. I was wondering if I should let it be there or remove it.

[2018-01-08 12:04] yehster commented on #915
Given the comment for htm_header_show which comes from translations.inc

    // Below line was commented by the UTF-8 project on 05-2009 by BM.
    //  We commented this out since we are now standardizing encoding
    //  in the globals.php file.
    // echo '<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> '."\n";

@MigDinny What is YOUR judgement about how to handle html_head

[2018-01-08 18:29] teryhill opened #939 "Patient Documents not displaying."
This is what the screen should look like

![image](https://user-images.githubusercontent.com/4655366/34685717-4c5525fc-f477-11e7-9773-d97651c715d6.png)

This is what it looks like

![image](https://user-images.githubusercontent.com/4655366/34685468-6aad5958-f476-11e7-9ca6-eb1694547ff6.png)

Get to it from documents here.

![image](https://user-images.githubusercontent.com/4655366/34685917-e79e741e

[2018-01-08 19:12] MigDinny commented on #939
I'll see it

[2018-01-08 19:20] MigDinny commented on #915
@yehster

My judgement would be to **not remove** the function in the codebase (and its callings) for 2 reasons:

- If we need to put something in the headers in every file one day, the function was already created and was already being called in most of the files and would save a lot of _possible_ work;

- The function has no code inside it yet, that means that the resources and time the server u

[2018-01-08 20:34] pri2si17-1997 commented on #939
Hello @teryhill @MigDinny this is what php error log show :

[2018-01-08 20:39] teryhill commented on #939
Yes @pri2si17-1997  that is what I am getting. I suspect that the information is not being passed as a result of the smarty template removal.

[2018-01-08 21:57] aethelwulffe commented on #939
Oopsie!

[2018-01-08 22:05] aethelwulffe commented on #939
CCR

 <?php if(($this->file->get_ccr_type($file->get_id()=="CCR") &&

[2018-01-08 23:15] MigDinny commented on #939
@aethelwulffe what do you mean ?

[2018-01-09 01:51] teryhill opened #941 "MigDinny fix this please"
missing images for this pr

![image](https://user-images.githubusercontent.com/4655366/34701308-8816adde-f4b5-11e7-829c-547f9c4ccc20.png)

The images are

![image](https://user-images.githubusercontent.com/4655366/34701322-98e67608-f4b5-11e7-9c3d-19319f70c8e6.png)

[2018-01-09 14:17] #876 closed

[2018-01-09 20:08] aethelwulffe commented on #939
You got it.

[2018-01-09 20:13] aethelwulffe commented on #939
file->get_ccr_type($this->file->get_id()=="CCR")

[2018-01-09 21:10] aethelwulffe commented on #91
We have a PR against this from a new person:
#923
I have not gone through all of it yet myself, hoping he may give us a little background.

[2018-01-10 00:58] MigDinny commented on #941
@teryhill check this out!

[2018-01-10 14:49] MigDinny opened #946 "Login Redirection Header"
1. Logout from LibreEHR

2. Try to access a file that needs auth [(example)](localhost/libreehr/interface/usergroup/user_info.php)

You realize now that there is a message displayed. What about redirect to login page instead of showing that message?

[2018-01-10 15:59] alpinus4 commented on #937
@aethelwulffe @tmccormi What should I do with it?

[2018-01-10 18:22] alpinus4 opened #949 "Encounters need look corrections"
## Where?
Create a new encounter or use existing one.

![](https://user-images.githubusercontent.com/25907897/34788068-bd7ded36-f639-11e7-8716-de58352dd8ef.jpg)

## Things to improve:

1. Active tab should be highlighted

![](https://user-images.githubusercontent.com/25907897/34788162-0c8e8598-f63a-11e7-94bc-c79c7265b604.jpg)

2. Go to _Clinical_ ==> _Speech Dictation_ or _Review of Systems Checks

[2018-01-10 21:20] #887 closed

[2018-01-12 14:49] #934 closed

[2018-01-12 16:39] Janaki123456 commented on #917
can u assign me
 this task

[2018-01-12 16:45] Jdew192837 commented on #917
@tmccormi @aethelwulffe @teryhill
Could you all assign @ajeyprasand this issue?

[2018-01-13 18:19] #921 closed

[2018-01-13 18:28] aethelwulffe commented on #941
This issue was merged.
Bugfix for Miguel (his own bug, but who wants to get all technical?).  Closing this.

[2018-01-13 18:28] #941 closed

[2018-01-13 19:03] aethelwulffe commented on #937
@alpinus4 I am looking into it...

[2018-01-13 21:04] aethelwulffe commented on #871
One thing about gaining new devs:  Things that are on a low priority list suddenly get to move up.

[2018-01-13 21:04] aethelwulffe commented on #848
This was merged.

[2018-01-13 21:04] #848 closed

[2018-01-13 21:07] MigDinny commented on #871
@aethelwulffe is that good or bad?

[2018-01-15 15:26] aethelwulffe commented on #871
@MigDinny That's good Miguel.  It is very good.
Even if work is stalled on "big projects", or if there is no good overarching plan, fixing little things and cleaning shop is of greater value than some people realize.  It is also good for morale.  Morale === Happiness in your Sid Meyers Civilization game.

[2018-01-16 15:35] aethelwulffe commented on #695
Hi @supernour09
Well, these are pretty old logs!

We have had a lot of changes to a lot of stuff since then.

How about we close this issue, or modify it and start posting log errors (with sign-off checks) for what we have *right now* ?
Welcome aboard Nour!

-Art

[2018-01-16 15:36] aethelwulffe commented on #695
-question:  What are your logging options in php.ini?

[2018-01-16 15:43] #676 closed

[2018-01-16 15:43] #825 closed

[2018-01-16 15:44] #842 closed

[2018-01-16 15:45] aethelwulffe commented on #769
BUMP!

[2018-01-16 15:59] aethelwulffe commented on #949
The tabs are configured with the administration/forms UI.
These are NOT actually tabs.  They are menu lists.  Thus, highlighting is not really relevant.

Speech Dictation as well as the Review of Systems forms are, basically, junk "example" forms.  Not too much effort should be put into them.  REAL clinical forms should receive that effort.

The Procedure order form might look old and clunky, and

[2018-01-18 08:47] abhigyank commented on #862
Het, I am able to reproduce the bug. One observation, the bug occurs when we resize the tab from the far right side of the far right tab directly, if we first resize anyother tab first in the screen and then do the above then the bug doesn't occurs.
Any ideas how to approach this?

[2018-01-18 15:42] dhruv-chauhan commented on #675
Hi, I would like to take up this project for GSoc2018. I'd like the mentors to give me a start on this one.

[2018-01-18 15:54] judywawira commented on #675
Discussions happen on the forum - forum.librehealth.io and in the chat room — chat.librehealth.io specifically the #gsoc channel

On Jan 18, 2018, 10:42 AM -0500, Dhruv Chauhan <notifications@github.com>, wrote:

[2018-01-18 16:01] teryhill commented on #675
The GSoC participants need to submit an outline of the proposed project. What they are going to do and How they intend to accomplish it. Then the student is selected based on their proposal.

[2018-01-18 23:10] #862 closed

[2018-01-19 17:46] abhigyank opened #956 "Erratic behavior on resizing tabs"
Mentioned in #954 .

Behavior:
On log-in, rightmost tab has resize tooltip.
Add third tab, and the rightmost no-longer has tooltip.
Open fourth tab, and only the left two are resizable.
Close the two left tabs, and none of the remaining are resizable.
Open or close any tabs, yet never get your resize back.

[2018-01-19 18:02] abhigyank commented on #902
I am working on this and will put a PR soon.

[2018-01-19 18:14] aethelwulffe commented on #902
@abhigyank Thanks man!
Welcome to the team!
-Art Eaton

[2018-01-20 06:53] abhigyank commented on #902
@aethelwulffe Should these images be removed from the repository from the images folder, or should they just be moved to /assets/images folder?

[2018-01-20 07:00] prabhakarpd7284 commented on #881
@teryhill
Is above approach not fine ? Please respond.

[2018-01-20 11:23] 2208Abhinav commented on #939
When I click on **Documents**
I get this
![screenshot from 2018-01-20 22-18-55](https://user-images.githubusercontent.com/30211121/35182858-61c7a45c-fe02-11e7-8b85-61ba3a43d15c.png)

[2018-01-20 12:05] MigDinny commented on #939
@2208Abhinav it was fixed already >> #940

[2018-01-20 12:08] 2208Abhinav commented on #939
Is the result I am getting right ?

[2018-01-20 12:08] MigDinny commented on #939
@2208Abhinav Yes, I think so

[2018-01-20 12:09] 2208Abhinav commented on #939
Okay, Thank You

[2018-01-20 12:53] 2208Abhinav commented on #949
I also don't find the table to very pleasant for eyes and liked the idea of **alternate coloring** for rows.

This is what I got when I was testing and now I am trying to implement more **Bootstrap** in it.
![screenshot from 2018-01-20 23-48-50](https://user-images.githubusercontent.com/30211121/35183585-b680ec4a-fe0e-11e7-813e-9759c1d66a41.png)

[2018-01-20 16:55] aethelwulffe commented on #902
After verification, dump them.  As noted above, at least one of the files are in use.  That image belongs to a module though, and should be moved to that module's assets.

[2018-01-20 17:04] aethelwulffe commented on #949
Bootstrap === whitespace scrolling hell.  Not a tool for data-intensive operations.  I can't imagine trying to use a Bootstrap inspired infomatics application.

[2018-01-20 17:06] 2208Abhinav commented on #949
Which tool then fits the best ?

[2018-01-20 17:29] aethelwulffe commented on #949
Procedure order should have the various selectors/dropdowns grouped together (not vertical), the diagnosis codes selectable/searchable, and the clinical history textbox taking up most of the form, vs. a single line.
NOTE: before redesigning this form, it is best to COMPLETELY UNDERSTAND it's clinical application, how it is used, what it affects etc..

Me, I would use css and html5!  Honestly, now

[2018-01-20 21:17] alpinus4 opened #961 "Warning when generating report - from patient screen"
# Steps to reproduce:
**1.** Enable displaying errors in _php.ini_

**2.** Go to patient screen and click _Report_

![](https://user-images.githubusercontent.com/25907897/35188011-4d7d96ba-fe2e-11e7-81ba-073f1d283ffe.jpg)

**3.** Click the second _Generate report_ button

![](https://user-images.githubusercontent.com/25907897/35188038-b5a582de-fe2e-11e7-9f09-0a6532a7784b.jpg)

**4.** See error

![

[2018-01-20 21:27] alpinus4 opened #962 "Missing logo in printable versions of reports"
# Steps to reproduce:
**1.** Go to patient screen and click _Report_

![](https://user-images.githubusercontent.com/25907897/35188011-4d7d96ba-fe2e-11e7-81ba-073f1d283ffe.jpg)

**2.** Click 3, 4, 5 or  6  _Generate report_ button
![](https://user-images.githubusercontent.com/25907897/35188140-cc2fec86-fe30-11e7-8839-1fc89a7ae288.jpg)

**3.** Go to _Printable Version_ of report
![](https://user-ima

[2018-01-20 21:28] teryhill commented on #961
Not getting the error on my system or the demo system, Do you have popups turned on?

[2018-01-20 21:32] alpinus4 commented on #961
Popups? I haven't enabled anything in _Administration_

[2018-01-20 21:33] teryhill commented on #961
Enable popups in the browser

[2018-01-20 21:35] teryhill commented on #962
Most likely someone moved the images with out changing all the code.

[2018-01-20 21:37] alpinus4 commented on #961
I have enabled popups on Chrome and Firefox. And on both throws error.

[2018-01-20 21:43] teryhill commented on #961
Those are warnings. They are caused because the generatedXml directory is missing create it and the warnings will go away.

LibreEHR\ccr\generatedXml

[2018-01-20 21:44] alpinus4 commented on #961
Yea

[2018-01-20 21:46] teryhill commented on #962
$practice_logo = "$OE_SITE_DIR/images/practice_logo.png";

Yep the code needs to be changed

[2018-01-21 00:41] teryhill commented on #962
Looked and the images are still in the sites/images directory so missing images is not the issue. It appears that the code is seeing that an image exists but it cannot properly display it.

[2018-01-21 07:18] 2208Abhinav commented on #962
I solved this problem.
Now the page looks like this
![screenshot from 2018-01-21 18-15-38](https://user-images.githubusercontent.com/30211121/35191759-4e187948-fea9-11e7-9820-25c0bf9c7671.png)

[2018-01-21 08:07] 2208Abhinav commented on #962
I have pulled a request #960  for this including issue #949

[2018-01-21 09:21] alpinus4 opened #964 "Error when trying to save changes in patient history"
# Steps to reproduce:

1. Go to patient screen and click _History_

![](https://user-images.githubusercontent.com/25907897/35192479-a89d60ce-fe93-11e7-89e8-b6bf25507161.jpg)

2. Click _Edit

![](https://user-images.githubusercontent.com/25907897/35192504-4493939a-fe94-11e7-8cfc-4466d0243056.jpg)
_ button

3. Make some changes and save

![](https://user-images.githubusercontent.com/25907897/3519251

[2018-01-21 11:53] 2208Abhinav commented on #964
How to login at
https://ehr.librehealth.io/interface/login/login.php?site=default

[2018-01-21 13:27] alpinus4 commented on #964
Look there: https://librehealth.io/demos/ @2208Abhinav

[2018-01-21 15:08] MigDinny commented on #964
"usertext11" field doesn't exist in the database. Tried to update my database using sql_upgrade.php but didn't work. A database fix is probably required, or it shouldn't be there... I'll take a look at this anyway in a few hours

[2018-01-21 18:24] alpinus4 commented on #964
Sorry folks.... I haven't noticed that the same issue already exist

[2018-01-21 18:24] #964 closed

[2018-01-22 14:28] teryhill commented on #881
I would remove usertext11 from the code.

[2018-01-22 16:31] aethelwulffe commented on #881
Yeah, I made some additional comments in the review, but it seems the cleanest approach is removal of the field completely.  It does not appear to be an actual utilized standard field.  Formerly, I think it was used in the patient portal, though I would reference Terry on that issue.

Thank you for your work!

[2018-01-24 20:24] teryhill commented on #949
@2208Abhinav did you make any changes to the procedure order form?

[2018-01-25 20:29] tmccormi opened #966 "Admin -> Lists start at "language" instead of at the top of the list"
The selection of the list, for some reason has always started with Language, instead of the Alphabetical top of the list

This is a easy task.
Current:
![current-default](https://user-images.githubusercontent.com/285835/35410721-26003430-01cb-11e8-9658-b1f384d12915.png)

Proposed:
![alphabetical-top](https://user-images.githubusercontent.com/285835/35410731-30aba93c-01cb-11e8-9df3-f8d15f2ac3f9.png

[2018-01-25 20:30] tmccormi commented on #966
Extra points for a search as you type list selector :-)

[2018-01-25 20:43] teryhill opened #967 "Changes to the procedure order form. Currently it is just a lab order form, but other procedures should be allowed."
Currently the procedure order form will send information to any Labs that are setup to Receive orders from the clinic. There is a dropdown at the bottom (which will need to be moved to the top of the form) of the form in which you could tag the procedure as some thin else. If any thing in the bottom section is chosen besides procedure or laboratory test there needs to be a print button. The field

[2018-01-25 21:12] tmccormi commented on #967
Add some controls to the Orders List that designate the type as "manual/electronic/both" to control whether the there is a Save/Transmit  Save/Print button visible.

[2018-01-25 21:16] tmccormi commented on #967
I would rename this Form to be "Orders" in general, not Procedure Orders.

[2018-01-25 21:38] aethelwulffe commented on #966
TEN!  Ten extra points for a type-ahead selector!

[2018-01-25 21:39] aethelwulffe commented on #967
Agree on all points in this issue.

[2018-01-25 21:56] teryhill commented on #967
Changes here to accommodate the electronic or paper options. Add two check boxes one for paper and one for electronic. This will allow for one or the other and both.

![image](https://user-images.githubusercontent.com/4655366/35414488-9969b48a-01f0-11e8-96b6-3135e20d7680.png)

[2018-01-25 22:02] aethelwulffe commented on #967
Counseling, Psych eval....onandonandon.

[2018-01-25 22:06] teryhill commented on #967
Changes so far

![image](https://user-images.githubusercontent.com/4655366/35414970-129b5754-01f2-11e8-8a71-be8465fe23b5.png)

[2018-01-25 22:07] htuck commented on #967
Re: documenting the processing of a provider's order, I believe that everybody who touches it has to put their name to it.  I.e., the ordering provider has to sign it, and the transcribing staff has to sign that it was transcribed.  See the ovals in the pic below of the prov Order display in the encounter summary; is the encounter form's 'procedure order by' name legally equivalent to an e-sig?  I

[2018-01-25 22:14] aethelwulffe commented on #967
Since we are having the discussion here, I will end my connection to the Zoom meeting!
Hi Harley!

[2018-01-25 22:24] htuck commented on #967
Hi Art!  Missed ya!

[2018-01-26 18:11] #902 closed

[2018-01-26 18:15] #917 closed

[2018-01-26 18:46] teryhill commented on #967
The code that was committed was done for the training video.

Current needs:

The print button needs to be coded to work, the appearing of the print button needs to be driven by the toggle check boxes in the list_options table.

The items that Harley describes in this issue needs to be addressed.

Future needs:

A means of displaying items from the address book as the send to option if the transmi

[2018-01-26 18:49] aethelwulffe commented on #967
Keeping the issue open.

[2018-01-26 19:03] #935 closed

[2018-01-27 08:10] 2208Abhinav commented on #949
@teryhill  all I did was, add alternate coloring for rows for better readability and put a textarea in Clinical History. If you like the changes then I can pull a request.
![screenshot from 2018-01-21 04-56-21](https://user-images.githubusercontent.com/30211121/35470042-9c0e13ca-0367-11e8-9924-f60208729ccf.png)

[2018-01-27 11:18] teryhill commented on #949
@2208Abhinav look at issue 967 it deals with the procedure form. Let me know if you want to work with me on it.

[2018-01-27 13:16] 2208Abhinav commented on #949
@teryhill I am having a look at the issue 967. I will ask you when I will face any problem and will notify you when I feel ready to work on it very soon.

[2018-01-27 13:49] 2208Abhinav commented on #967
Till now I have understood one issue that we need to put print button according to the field selected (I think we can use some javascript here :thinking: ), but I don't get the issue of **eSign** can someone explain this to me please.

[2018-01-27 13:51] 2208Abhinav commented on #967
@teryhill I would like to work on this issue with you :smiley:

[2018-01-27 14:27] teryhill commented on #967
Make sure you get the latest changes.

Esign is taken care of by the system. This is where the Dr electronically signs the form saying it is a legal document. We may need to add a for for transcription or other things but for now we just need to sart with this form.

![image](https://user-images.githubusercontent.com/4655366/35472803-0989cf1c-0344-11e8-864c-1b9eed5e84ed.png)

[2018-01-27 14:34] 2208Abhinav commented on #967
Thanks, right now I am working on the print button part.

[2018-01-27 14:56] aethelwulffe commented on #967
Please refresh your branch against master as you proceed.  There may have been some related changes.

[2018-01-27 14:57] 2208Abhinav commented on #967
I did it thank you @aethelwulffe .

[2018-01-27 15:38] 2208Abhinav commented on #967
There is a serious issue @aethelwulffe .When I updated my master branch and tried to work on it after restarting nothing appeared on the login.php page.

[2018-01-27 16:00] teryhill commented on #967
@2208Abhinav look at the php error log and see if it shows an error. Clear your Cache.

[2018-01-28 06:32] 2208Abhinav commented on #967
Its showing **syntax error, unexpected end of file in /opt/lampp/htdocs/LibreEHR/interface/globals.php on line 538**
I am searching for the error.

[2018-01-28 07:51] 2208Abhinav commented on #967
Now I remember one quote which I saw when I was studying php -

:smile:

[2018-01-28 09:46] 2208Abhinav commented on #967
I worked out for the print button part and its working fine.
I added `id="print_button"` for **Print** button and used the code below
![screenshot from 2018-01-28 20-43-34](https://user-images.githubusercontent.com/30211121/35480881-1d57d0b6-043e-11e8-9c8b-90939aede1e2.png)

[2018-01-29 12:54] teryhill commented on #967
@2208Abhinav look at the table for list_options. There are 2 fields toggle 1 and toggle 2. If you look at the edit list you will see that they say paper and electronic. Code this using those fields if the one for paper is checked show the print button.

[2018-01-31 10:14] 2208Abhinav commented on #967
@teryhill where we find the options to select between paper and electronic?

[2018-01-31 13:39] teryhill commented on #967
@2208Abhinav go to Administration then lists. Then look for order types and you should see them

![image](https://user-images.githubusercontent.com/4655366/35625954-26d69caa-0662-11e8-9006-a6ef5fa5db72.png)

[2018-01-31 14:11] 2208Abhinav commented on #967
So now I am required to put two checks
First for selection between **Paper** and **Electronic**
Second for selection between **Procedures**
If **Paper** is chosen in the first check then go for second check otherwise its not needed, remove **Print** button from there for all **Procedures** if **Electronic** is chosen.

[2018-01-31 14:16] teryhill commented on #967
Just show the "Print" button if paper is selected no matter what the title is. If electronic and paper is selected show the print button. If electronic is the only choice do not sow  the print button. The type of procedure should not matter in theory you could send an image order request electronically or on paper.

[2018-01-31 14:41] 2208Abhinav commented on #967
I got it, **Print** is just affected by **Electronic** or **Paper** nothing else.
If **Paper** is chosen or both **Electronic** and **Paper** are chosen then show **Print**.
Else don't.

[2018-01-31 16:13] teryhill commented on #967
Yes you understand.

[2018-01-31 16:20] teryhill commented on #966
@Perseus it should display the first item in the list. I am not sure what @aethelwulffe  is asking for on the type ahead cause I have always just used the first letter of a known list.

[2018-01-31 16:27] teryhill opened #971 "Login and run a specific program"
I would like to see the option to create a login "flowboard" and when that user is entered the Flow Board runs in full screen and only the flow board. This will need changes to the login screen to check for the flowboard login and perhaps changes to the flowboard to run in full screen.

[2018-01-31 16:57] Perseus commented on #966
Great. I'll do a PR first thing tomorrow morning with that fix!

[2018-01-31 17:45] #881 closed

[2018-01-31 19:39] tmccormi commented on #966
type ahead filters the list as you type each letter.  it can be 'sequential' as in the order of the list item or "contains" as in filter the list based on anything the matches what has been typed so far.   We need the second because the list names are not consistent in anyway.   For instance try and find the list that has the "rooms" in it without scrolling the whole thing...

[2018-01-31 19:53] htuck commented on #967
I have the latest code from this am and it is all very cool, guys, great work!
As far as I can tell, the "Orders" form is ready to mock up that part of the video.
Signing off the order transcription (i.e., the e-signing issue) seems to be a different concern from all this- shall I add a new issue for that?

[2018-01-31 19:56] teryhill commented on #967
@htuck yes add an issue for the transcription form. We will have to design on and discuss how to accomplish it. If it is a form it should e-sign. I think we just need the form.

[2018-01-31 20:24] htuck opened #975 "Order form transcription verification"
I can't quote the regs, but in the paper medical records world, when a provider writes an order (for meds, some referral or procedure) it must be 'transcribed' by office staff, i.e., the paperwork fulfilling the order must be completed and sent off.  Then the action that was performed to fulfil that order needs to be recorded along with a legally verifiable signature of the person who carried it o

[2018-01-31 20:36] teryhill commented on #975
@htuck I added some fields to the encounters report a few years ago, to allow the user to see unsigned reports. This may need to be refined to get an accurate listing.

![image](https://user-images.githubusercontent.com/4655366/35646199-6ec069bc-069c-11e8-98c2-288fe3e7c96e.png)

[2018-01-31 20:54] htuck commented on #975
that's v cool, @teryhill , it could take care of the need for auditing.
If a form has 2 e-sig buttons on it will it show that just one is unsigned and its identifier?

[2018-01-31 20:56] htuck commented on #975
I mean... would it be difficult to make it show which were not signed?

[2018-01-31 22:05] tmccormi opened #976 "Update SQLUpgrade and Patch for command line"
In order to allow for automatic update of our Development Test install we need to be able to run patch and upgrades from command line.

[2018-01-31 22:41] #919 closed

[2018-01-31 23:33] tmccormi commented on #725
@Jdew192837  Moving it out of the Tags plugin and into it's own library file so it won't break anything if the Tags/Filter plugin is removed.

[2018-02-01 00:24] tmccormi opened #979 "Contrib Directory is incorrectly named"
There are quite a few things (maybe all of them) that are listed as 'contrib' but are actually core parts of the project.

They need to be moved to a core area and dependent code changed to support that move.

We've already decided (a while back) that actual  non-core contributed code would be housed in a separate repo.

[2018-02-01 01:23] teryhill commented on #967
@tmccormi can you setup @2208Abhinav so I can assign this task or will you assign him this task.

[2018-02-01 02:30] htuck commented on #975
Ok, my last thoughts on this for the mockup version for the video.

First we have to decide the 'Transcribed' e-sig button is the way to do it.  That's my fave solution anyway, but "I am but an egg" (M.V. Smith)

Then, if we can get even a non- functional 'Transcribed' button in the row of buttons that apply to the Order form (arrow), I believe that's all I need to get going on the Orders vid.

In

[2018-02-01 04:38] htuck commented on #967
Curious I am what happens when you click the Print button on the newly repurposed Orders form when the Order Type is not 'Procedure Order'.

Does it print out a referral form, such as you'd get from the Transactions module (pt summary screen, Transactions link along the top) if a referral were being sent out?  I'm trying to avoid setting up a whole fricking Procedure Order to test this thing, but

[2018-02-01 05:37] teryhill commented on #975
I have a requisition printout in the works I will try to get a copy of it to you @htuck

[2018-02-01 15:31] Perseus commented on #979
By moving to a "core" area, d'you mean create a new folder "core" and put those there? Also, how do I differentiate between the "contrib" parts and the "core" parts in the folder?

[2018-02-01 16:34] aethelwulffe commented on #979
First, "contribs" is and should be a separate repo.  This should contain optional code and modules...all optional code and modules.

Second, things that are in contribs that are actually USED or have any hard-coded references (and there are things that have such) then they need to be re-implemented (if any good) in /modules or in the actual core libraries or interface directories if they are actua

[2018-02-01 16:47] aethelwulffe commented on #967
I sent an invite for him to be a collaborator.

On 2018-01-31 20:23, Terry Hill wrote:

[2018-02-01 16:55] teryhill commented on #967
@aethelwulffe do you think that should be something I could do?

[2018-02-01 17:10] aethelwulffe commented on #967
@teryhill yes.  Permission settings for the whole org seem easier to change than per-repo. You know have ultimate super-powers.  Castle GreySkull and all that.

[2018-02-01 17:12] aethelwulffe commented on #967
Found where I can do the changes on a granular scale, but frankly I don't think anything less than org superadmin is really appropriate.

[2018-02-01 17:22] teryhill commented on #967
Thanks Orko

[2018-02-01 17:23] aethelwulffe commented on #967
Had to look that up...
There is a certain resemblance.

[2018-02-01 22:48] aethelwulffe opened #981 "Facility edit country field"
Truncates entry to ten characters.

Duplication:
Administration/Facilities.
Add
Enter values, add country name greater than ten characters.
Save, reopen and observe.

It may be that this field expects an abbreviation, and that is desired behavior.  Just want to verify.

[2018-02-01 22:58] #875 closed

[2018-02-01 23:11] teryhill commented on #967
@2208Abhinav what is your user on the chat?

[2018-02-01 23:30] aethelwulffe opened #982 "View Facility Specific User Information"
Feature is broken.
Administration/Users/View Facility Specific User Information
Tab results [UNKNOWN]

[2018-02-01 23:34] aethelwulffe opened #983 "Mousetip in Patient Search"
Hover over the last name field in a Patient Finder row.  This field has an assigned background color, and shows a refresh icon that was intended to be a temp placeholder for something else as a replacement mouse tooltip.

-A very ugly and cheezy homemade-looking image...and not used in the right context.

[2018-02-01 23:44] teryhill commented on #982
Fix on the way

[2018-02-01 23:55] aethelwulffe commented on #982
Tested, approved with screenshot.
It is a one-character bug-fix.  I suggest we go all maverick and merge...  @tmccormi  ?

[2018-02-02 00:02] teryhill commented on #983
Didn't you create that image for one of the GCI guy's?

[2018-02-02 00:05] aethelwulffe opened #985 "Revert Facility_ACL"
I will recreate the feature using a facility-to-tags scheme.  Current user admin and many other things are just too messed up right now.

[2018-02-02 00:06] aethelwulffe commented on #983
Yeah, then created a much better one...but it has snuck into some CSS, and it still exists.

[2018-02-02 00:13] aethelwulffe opened #986 "Tags, Patient/Tags, Filters UI's are badly formatted."
These features have not had any attention lately in the current layout scheme.

First thing I noticed was that the search field was getting eclipsed.  Then I noticed that the field content was overlapping and doing other strange things.

steps to replicate:
Administration/Globals
Features
Enable Demographics Tag Filtering Feature

Create a tag.
Create a filter rule that does something like restric

[2018-02-02 00:15] teryhill commented on #983
You got an envelope for the messages. @MigDinny added it to the code on the main screen but I think if a mail envelope showed up with a number it would be better.

[2018-02-02 00:21] aethelwulffe commented on #983
I R Cornfuseded.  Knot nowe what enveloping and messages refers to.

[2018-02-02 01:10] teryhill commented on #983
![image](https://user-images.githubusercontent.com/4655366/35711632-e7bc6290-078b-11e8-9fb1-27891ddd3798.png)

Picture fer u

[2018-02-02 13:16] aethelwulffe commented on #983
Oh...it was a QUESTION.
OK, image fer u.
![mail](https://user-images.githubusercontent.com/553751/35735078-5bdf4be6-07f1-11e8-9d69-bf34edf81af1.png)

[2018-02-02 13:17] aethelwulffe commented on #983
It is padded to 64x64.  I can crop it or resize it larger or smaller depending on what you need for the scale.

[2018-02-02 14:59] 2208Abhinav commented on #967
@teryhill I have pulled a request #988 for **PRINT** button visibility according to the selection of **PAPER**, please review it.

[2018-02-02 15:40] aethelwulffe commented on #982
This is merged.
Thank you Terry.

[2018-02-02 19:20] aethelwulffe opened #989 "Restore/add/delete reports"
pre_billing_issues.php needs to be added to the menu.
Other reports need to be reviewed.
#991

[2018-02-02 19:21] aethelwulffe opened #990 "Update ADODB"
Required for php 7.1 compatibility (I believe).  Other fixes are relevant to the same.

[2018-02-03 05:55] Perseus commented on #990
I've been using the site on php 7.1 for a bit and the only issue I ran into was the AdoDB one while installing. Are there any other known issues?

[2018-02-03 12:38] teryhill commented on #990
I think some of the other issues are warning that will have to be addressed as we find them.

Did you upgrade to the latest AdoDB or just fix the error?

[2018-02-03 13:37] Perseus commented on #990
I just fixed the error manually by copying the current adodb xml schema code from their git repo. But updating the whole thing is obviously better. Should I create a PR with the updated AdoDB library?

[2018-02-03 13:53] teryhill commented on #990
Yes create the pr . update it on your system also so you can test it .

[2018-02-03 15:44] Perseus commented on #966
@tmccormi Would a JS library to make that happen be allowed or do I need to make a native solution?

[2018-02-03 16:39] teryhill commented on #966
@Perseus Look in the assets directory and see if there is an asset there that you can use.

[2018-02-03 17:36] Perseus commented on #966
@teryhill I looked around but was not able to find anything that would be useful. The library I was proposing is this: https://selectize.github.io/selectize.js/

[2018-02-03 17:37] Perseus commented on #966
@teryhill I looked around but was unable to find anything that would be useful. The library that I was proposing is this : https://selectize.github.io/selectize.js/

[2018-02-03 17:40] teryhill commented on #966
Okay use it.

[2018-02-04 04:30] aethelwulffe commented on #553
\interface\reports\index.php still has smarty class call.

[2018-02-04 08:03] nileshprasad137 commented on #553
Hi @aethelwulffe

Ya, I saw its having a Smarty Class call. However, I am not sure if it is being used anywhere.
The file `\interface\reports\index.php` is being called from `interface/main/main_navigation.php`. But perhaps `main_navigation.php`  itself is not being used ..(I checked if anything breaks after deleting main_navigation). I'm not sure about it.

I may be wrong. I'm looking at the repo

[2018-02-04 16:40] Perseus commented on #966
Is there any intention to eventually update the jQuery versions? The edit list page is currently using 1.2 which is quite outdated and hard to use current libraries in

[2018-02-05 11:29] 2208Abhinav commented on #967
@teryhill are we over with print button part here?

[2018-02-05 13:33] teryhill commented on #967
@2208Abhinav  yes the print feature is working for the print button.

[2018-02-05 16:32] aethelwulffe commented on #553
@nileshprasad137 Maybe the best thing to pursue is to move GACL to /assets along with Smarty and have it ready for a cleaner, tighter 1:1 replacement or whatever libraries may be used by laravel.  All I know is that for the few things we ask GACL to do, we should have a very simple and clean UI for it.  As is, it is mostly an inexplicable mess.  Between GACL, TAGS, user settings, authorizations, e

[2018-02-05 16:42] aethelwulffe commented on #966
@Perseus
Check out the /library/headers.inc.php file.  We invoke that by calling globals.php, then using the directory variables there to call this file, then invoke the functions to call whatever assets are required as an array.
  Previously, there were assets spammed all over the place.  As we migrate to a central directory for similar 3rd party assets, and pull out native features or third-part

[2018-02-05 16:54] #985 closed

[2018-02-05 16:54] #982 closed

[2018-02-05 16:55] #636 closed

[2018-02-05 19:09] aethelwulffe commented on #979
TODO:

Fully modularize the Translations code, the medical code external dataloads system.
Evaluate the utility of the menu creation script.
Evaluate all the util_* named directories located in #993 for refactor, enabling, deleting, or banishing to the Contribs repo.

[2018-02-06 19:24] teryhill commented on #967
@2208Abhinav the standard report and the code to print it or another report if it exists would be next, If you are willing to continue.

[2018-02-06 20:55] #626 closed

[2018-02-07 00:26] teryhill commented on #443
This one has been sitting her almost a year. @aethelwulffe @tmccormi

![image](https://user-images.githubusercontent.com/4655366/35891598-26d955ec-0b73-11e8-81b4-4665dd755f12.png)

[2018-02-07 02:54] 2208Abhinav commented on #967
@teryhill I am ready please send me the details.

[2018-02-07 03:25] teryhill commented on #967
@2208Abhinav Look at the PDF I sent you on the forums. That will be the standard report.

You will need to do a check and see if a file with the same name as the list option exists, if it does use that for the print file else use the standard printout.

[2018-02-07 04:04] teryhill commented on #967
The insurance function that was added to patient .inc will give you the insurance information. The facility information is in facility and the actual facility used in in the form encounter table. You will need 2 primary pieces of data to start the report PID and encounter number.

[2018-02-07 04:14] teryhill commented on #967
$insurance = getAllinsurances($pid);
Will get the insurance information

[2018-02-07 10:55] Perseus commented on #966
@aethelwulffe Could I try and use an updated version of jquery on the edit list page and see if anything breaks? If not, I could add the type-ahead selector pretty easily!

[2018-02-07 13:09] teryhill commented on #966
@Perseus Yes please do. Upgrade the Jquery

[2018-02-07 15:22] aethelwulffe commented on #966
Do it!  I think we have a named copy and a general jquery.js file that is supposed to be whatever the latest is...

[2018-02-07 16:17] tmccormi commented on #443
I have no way of testing it.

Tony McCormick

On Feb 6, 2018 4:26 PM, "Terry Hill" <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
information by telephone.  The information contained in this message may be
privileged and confidential. If you are NOT the intended recipient

[2018-02-07 18:59] teryhill commented on #443
PR merged closing issue

[2018-02-07 18:59] #443 closed

[2018-02-07 19:01] teryhill commented on #162
@tmccormi , @aethelwulffe  is this still being discussed or can it be closed?

[2018-02-07 20:25] teryhill commented on #845
PR Merged Closing Issue

[2018-02-07 20:25] #845 closed

[2018-02-07 21:43] htuck commented on #975
Looks like the coding changes are developing a 2 channel execution process for provider orders:
	1 a provider order which doesn't need to be processed as a transaction but can be transmitted (whatever that actually does) directly from the encounter
	2 a provider order which needs to be manually processed as a transaction

To prevent lack of accountability on these provider orders, I think we gotta

[2018-02-07 21:52] htuck commented on #967
The Procedure Order form has a couple problematic text areas which I haven't seen any mention of having been addressed.

	'status' - derives list contents ONLY from the old- school configured Procedure Orders- can it be disappeared if order type is not 'Procedure Order'?
	'sending to': still needs to take provider list from the addr book
	'Procedure' ddl - takes from the configured Procedure Order

[2018-02-07 22:24] teryhill commented on #967
Sending to currently take the entries from the addr book as long as the entry has a "Lab Service" type. This will be changed to something else like maybe Ordering Facility.

Procedure can be setup for anything. I set it up in the files I sent for an imaging location. It could be removed if the status was not procedure.

Status I am not sure what the thought process was for this, but any order coul

[2018-02-07 23:56] htuck commented on #967
Yabbut if a clinic for some reason wants to config and use the Procedure Order module, they'll need the 'Procedure' field with all the code that powers it.  It looks to me like Test Description serves the same purpose for the 'Provider Orders', which is why I was thinking to disappear, or grey out, the 'Procedure' field if Order Type <> Procedure Order.

The old Procedure Order module has a 'statu

[2018-02-08 19:01] #162 closed

[2018-02-08 19:02] #979 closed

[2018-02-08 23:42] tmccormi commented on #852
I merged the pull request that was supposed to fix this but it seems to have broken the expand check boxes
![addnew](https://user-images.githubusercontent.com/285835/36004255-a1fb50bc-0ce6-11e8-8365-b3100e096b7a.png)

[2018-02-09 02:08] teryhill commented on #852
From what I can tell this issue started with PR 868. If we take it back down to 1-7-2 jquery then things work (except bootstrap) 1-9-1 causes different issues. @aethelwulffe what was in 1-7-2 and is not in 1-9-1 and 3-1-1

[2018-02-09 15:50] aethelwulffe commented on #852
Category: Deprecated 1.8

- [ ] .andSelf()  Add the previous set of elements on the stack to the current set.

- [ ] deferred.pipe()  Utility method to filter and/or chain Deferreds.

- [ ] .error()  Bind an event handler to the “error” JavaScript event.

- [ ] .load()  Bind an event handler to the “load” JavaScript event.

- [ ] .size()  Return the number of elements in the jQuery object.

- [ ]

[2018-02-09 16:06] aethelwulffe commented on #852
I checked the above functions in #868 Not there.  @teryhill I am also not seeing where in that PR we upgraded the jquery, as that had been done previously.
I will now check the includes, and the whole code base for the deprecated JQuery.

[2018-02-09 16:55] teryhill commented on #852
I think the issue the Jquery version and fancybox. Fancy box for the modal window needs to be yanked and changed.

[2018-02-09 16:57] teryhill commented on #852
We have 2 different issues . 1 is the check box opening the items and the original error is the appearing of the insurance modal screen.

[2018-02-09 17:21] aethelwulffe commented on #852
There is this function in headers.inc.php that always runs (unconditionally) to support old internet explorer:
[code]
The layout engine `function divclick(cb, divid)` combined with the <span> changes seem to have broken this...at least at first glance.
Still agree that Fancybox is not our modal window library to use.

[2018-02-09 18:04] teryhill commented on #852
Using jquery 1-7-1

![image](https://user-images.githubusercontent.com/4655366/36042390-aee60746-0d99-11e8-91cb-19dc8eef6b01.png)

[2018-02-09 18:25] teryhill commented on #852
Does this help with your quest @aethelwulffe

![image](https://user-images.githubusercontent.com/4655366/36043205-7e6516c2-0d9c-11e8-80e8-82830d58807b.png)

[2018-02-11 22:48] Trodrige commented on #986
@aethelwulffe I cant' do this: 'Enable Demographics Tag Filtering Feature'

[2018-02-11 23:59] aethelwulffe commented on #986
Apparently, I was looking at a dev instance that had that toggle added.  On the demo the tags system is hard-enabled.  Just look under Administration/Tags.  The feature is there.

[2018-02-13 17:28] NirmalKumarJoshi commented on #909
[Project started] I have started giving it a new face. It will be having a panel to create, read, update and delete the report by a user. As well I will give it a new UI.

[2018-02-14 19:04] teryhill opened #998 "Changes to reports to prepare for the report generator."
The reports us basically the same functions, Date to, Date from, Provider select, facility select etc.

Task is to pull those functions out of the reports and create a library file named report_functions.php. Place the functions in report_functions.php.

@pri2si17-1997

[2018-02-15 14:34] naveen17797 opened #1001 "cant add patients in add patients form"
![screenshot from 2018-02-15 20-01-59](https://user-images.githubusercontent.com/18109258/36261666-20c943be-128b-11e8-84ab-f4827d0e9f91.png)

cant add patients, console gives reference error,  i have installed librehealth several times, but this doesnt seems to go.Am i the only one facing this?

[2018-02-15 15:26] naveen17797 commented on #1001
bugs are meant to be fixed  see this [pull request](https://github.com/LibreHealthIO/LibreEHR/pull/1002)

[2018-02-15 16:50] teryhill commented on #1001
Closing fix is in the code base.

[2018-02-15 16:50] #1001 closed

[2018-02-15 18:57] plant99 commented on #986
@aethelwulffe  As @Trodrige  has pointed out, even I couldn't find how to 'Enable Demographics Tag Filtering Feature' but regardless, I went as you said and I found the same bugs on resizing window. Is anyone working on this? If not, can you please assign me this issue?

[2018-02-15 18:58] plant99 commented on #986
@aethelwulffe  I followed what the bugs are. Can you please assign me here to fix this issue?

[2018-02-15 19:04] teryhill commented on #986
@plant99  Let me check with @Trodrige If he does not want it you can have it

[2018-02-15 19:17] plant99 opened #1003 "Creating seeders"
After local installation, instead of manually inserting initial few data, can we have a .sql file only for developers to seed the db with some random rows and columns?
I mean, insertion of few tags, patients and filters.
@teryhill

[2018-02-15 19:18] teryhill commented on #1003
look here https://github.com/LibreHealthIO/EHR-Test-Tools

[2018-02-15 19:19] #1003 closed

[2018-02-15 19:20] teryhill commented on #986
@plant99 @Trodrige wants to do it

[2018-02-15 19:23] teryhill commented on #986
@plant99 are you on the chat here https://chat.librehealth.io/channel/gsoc

[2018-02-16 03:38] teryhill opened #1004 "Hover messages not displaying properly in demographics."
Images missong causing this

![image](https://user-images.githubusercontent.com/4655366/36292583-d391076a-12a0-11e8-9c06-4311ab0eb388.png)

Fixed it to look like this

![image](https://user-images.githubusercontent.com/4655366/36292604-e89c90ac-12a0-11e8-94cc-0fa2b9351177.png)

[2018-02-16 06:32] naveen17797 opened #1007 "date picker picking up future dates when added manually"
![screenshot from 2018-02-16 09-12-05](https://user-images.githubusercontent.com/18109258/36296040-2d5f15fa-1311-11e8-9ebb-ae3b5a3bf485.png)

[2018-02-16 06:33] naveen17797 commented on #1007
fixed this bug in the below PR
https://github.com/LibreHealthIO/LibreEHR/pull/1006

[2018-02-16 11:33] naveen17797 commented on #338
@teryhill  seems this is the issue i have raised in my current PR, they didnt add server side validation.

[2018-02-16 18:43] teryhill opened #1008 "Move settings from globals to the screens they control."
Look at the flowboard.

![pfb](https://user-images.githubusercontent.com/4655366/36323519-2a9f0006-131f-11e8-9a15-f2a2c089857b.PNG)

The setting indicator will allow the setting fro this screen to be set.

Do the same for other screens.

[2018-02-16 19:07] aethelwulffe commented on #1008
Good idea...based on good acl controls, this helps a lot!

[2018-02-16 19:18] sandipbhuyan commented on #1008
I want to complete this task

[2018-02-16 19:25] teryhill commented on #1008
@sandipbhuyan I will assign this to you . @aethelwulffe  can you invite him

[2018-02-16 19:48] teryhill commented on #1008
@sandipbhuyan where do you plan to start, which screen?

[2018-02-16 19:50] sandipbhuyan commented on #1008
interface/main/messages/messages.php
then new/new_comprehensive.php

[2018-02-16 19:52] teryhill commented on #1008
Tell me what the settings are for them.

[2018-02-16 19:58] sandipbhuyan commented on #1008
I think this settings selector will show the content of a patient that a user want to see.
And I think I need to apply this in other pages according to that the page content will be changed.

[2018-02-16 20:02] teryhill commented on #1008
I am sorry I did not explain this well enough.

This screen contains settings that tell the system how to work

![image](https://user-images.githubusercontent.com/4655366/36326744-3048296e-132a-11e8-8179-14a7c86b0041.png)

The settings under calendar are for the calendar and flowboard.

[2018-02-16 20:04] sandipbhuyan commented on #1008
yup the settings of a page will decide the content of a page is it correct?

[2018-02-16 20:10] teryhill commented on #1008
Yes but there are no settings under globals for the two sections you mentioned.

The settings will be chosen by the user and stored for the user so the software works like they want. It is right now done under the Miscellaneous then Preferences. Look at the setting on the flowboard and then check the user settings.

[2018-02-16 20:13] sandipbhuyan commented on #1008
Sure I ll try to add settings in one page and after that i ll make a PR for it. Them I ll proceed for other pages.

[2018-02-16 21:06] apooravc commented on #983
@aethelwulffe So we should remove the background color and the refresh icon when hovering over the last name? Or only the refresh icon?

[2018-02-17 08:57] apooravc commented on #971
@teryhill I didn't get what you meant by a "flowboard". Would you please elaborate a bit?

[2018-02-17 10:08] 2208Abhinav commented on #967
@teryhill are you working on the code to create printouts?

[2018-02-17 10:34] prabhakarpd7284 commented on #971
Is it fine if it looks like this after login

![flow_board_full](https://user-images.githubusercontent.com/23030978/36340123-132787f8-13fc-11e8-952e-c8358b4b2899.png)

[2018-02-17 11:51] teryhill commented on #967
@2208Abhinav no I am not. I have not had much time to devote to writing code for this issue.

[2018-02-17 11:51] apooravc commented on #971
This looks good. But what about the navigation bar? Where should that be put @teryhill ? Also, I think the "Status" drop down should be aligned properly, with this issue.

[2018-02-17 11:53] 2208Abhinav commented on #967
Busy in GSOC stuff?

[2018-02-17 11:54] teryhill commented on #967
And work 8^)

[2018-02-17 11:55] 2208Abhinav commented on #967
Most important

[2018-02-17 11:58] teryhill commented on #967
You can do the report You are talented and that should be easy

[2018-02-17 11:58] teryhill commented on #967
I need to go for a while

[2018-02-17 11:59] 2208Abhinav commented on #967
I was thinking of using TCPDF for pdf generation instead of html2pdf

[2018-02-17 14:07] prabhakarpd7284 commented on #971
This preview looks better.

![flow_board_full_](https://user-images.githubusercontent.com/23030978/36341563-189a7136-1416-11e8-960c-47b5105f0ece.png)

[2018-02-17 23:52] tmccormi opened #1011 "Create a attached Document validation tool"
Administration tool that checks each document in 'document' table to see that it actually exists on disk Or in couchdb, if used) and the hash still matches.

Produces a browsable report.

[2018-02-18 03:54] apooravc commented on #1011
@tmccormi Working on it.

[2018-02-18 06:47] sandipbhuyan commented on #1011
@tmccormi  I want more specification about this issue.

[2018-02-19 05:38] Trodrige commented on #998
@pri2si17-1997 and @teryhill I think this is good for me to handle.

[2018-02-19 12:23] aethelwulffe commented on #983
@apooravc
Sorry, I have been away for a few days.  My suggestion is to make things look right (consistent), function well, and help the user experience.  I think that the specifics should be left to you if you are doing the work.  My main advice to anyone working with the interface is to minimize the use of white-space.  Users need to see a lot of data, and our recent tendency (with bootstrap) has

[2018-02-19 12:25] aethelwulffe commented on #967
@2208Abhinav If TCPDF is a better option, and since we are trying to replace html2pdf, I support that effort.

[2018-02-19 12:26] aethelwulffe commented on #971
I will check out that PR.  It looks like a useful option.

[2018-02-19 12:35] aethelwulffe commented on #971
I like the PR.  I think that we need a toggle in globals to enable the feature, or maybe even a fine control in the user or user pref settings for "specific_application" or "single_application" or something.

The goal of such would be to allow a clinic to decide if they want this option on the login page, then allow the option to be a hard-set access control restriction on a user with or without t

[2018-02-19 12:39] aethelwulffe commented on #1011
There are also some issues for "moved" documents merely being set as URL strings in the database being changed instead of actually moving the files in the directory structure.  Frankly, I wish that the patient documents were directory structure based (parse the directory, use hashes for validation *and searches*).

[2018-02-19 13:10] aethelwulffe commented on #998
Report selection criteria and display function library...common use, and maybe user-extensible.

[2018-02-19 13:12] sandipbhuyan commented on #998
Which functions are needed to moved from the report section php files.

[2018-02-19 13:48] apooravc commented on #983
@aethelwulffe Working on it.

[2018-02-19 15:14] teryhill commented on #742
Is this still an active issue?

[2018-02-19 15:15] teryhill commented on #736
@SoumyadeepJana is this still an active issue

[2018-02-19 15:18] teryhill commented on #242
Is this still an active issue?

[2018-02-19 16:41] 2208Abhinav commented on #967
After some further research I found that FPDF is much better than TCPDF.
FPDF is 7-10 times faster, PHP source file of FPDF is 26 times smaller than TCPDF.
FPDF v1.8(2015-11-29) is the latest version available.

[2018-02-19 17:12] sandipbhuyan commented on #976
Should we use composer for it??

[2018-02-19 17:16] kamsuri opened #1018 "No errors but still no continue button in step-4"
![image](https://user-images.githubusercontent.com/14004808/36389802-87aa14bc-15c6-11e8-9325-a73ce82bf46f.png)
There are no errors but still i am not getting continue button. Can anyone help me with this?

[2018-02-19 19:30] teryhill commented on #967
But is TCPDF being actively updated It does not look like FPDF is with a version date of 2 years ago.

[2018-02-19 21:21] #742 closed

[2018-02-19 21:22] aethelwulffe commented on #736
This was adodb and 7.1   We are attending to this.

[2018-02-19 21:22] #736 closed

[2018-02-19 21:23] aethelwulffe commented on #242
Globals probably should NOT close after saving, as people may be hitting the save button as they go through each tab.  An alert "Settings Saved" that fades after a second would be a nice feature...so maybe this is still valid.

[2018-02-19 21:29] aethelwulffe commented on #976
That seems to be the standard of late.  The composer tools should be part of a dev build repo (or enterprise deployment module) and not the base code though.

[2018-02-19 21:31] aethelwulffe commented on #1018
Hi @kamsuri  Art Eaton here.  Welcome aboard.
I don't use chrome, but this should not be a browser issue.  Any info on your server environment you can share?  As of last weekend, I didn't have any install issues.

[2018-02-19 21:43] teryhill commented on #1018
@kamsuri Did you try clearing the browser cache?

[2018-02-19 21:47] teryhill commented on #986
@aethelwulffe close this?

[2018-02-19 21:52] aethelwulffe commented on #967
That is a concern...and I think we have or had FPDF in the system somewhere.

[2018-02-19 21:53] aethelwulffe commented on #967
Of course, if it has not been changed in years because it is perfect, that is another matter.  I dunno.

[2018-02-19 23:17] Trodrige commented on #998
I don't get you here @aethelwulffe.

[2018-02-19 23:56] teryhill commented on #998
the provider and facility are inputs that may be using functions. The date to and from are the start and end dates and are done in the reports with no calls to any functions.

[2018-02-20 00:31] 2208Abhinav commented on #967
@aethelwulffe we are using TCPDF, FPDF, html2pdf and others maybe. My aim is to remove many libraries and use one.

[2018-02-20 00:32] 2208Abhinav commented on #967
I think FPDF is serving well thats why its still in demand without any update for 2 years.

[2018-02-20 07:48] pri2si17-1997 commented on #1018
@kamsuri This should not happen. Have a look at your logs.

[2018-02-20 17:34] kamsuri commented on #1018
Thanks @aethelwulffe, @teryhill and @pri2si17-1997 for the suggestions. I solved the issue by clearing cache and also, i used incognito mode.

[2018-02-20 17:34] #1018 closed

[2018-02-20 17:37] teryhill commented on #1007
Pr 1012 which contained this change was merged.

[2018-02-20 17:37] #1007 closed

[2018-02-20 17:38] teryhill commented on #962
Pr merged

[2018-02-20 17:38] #962 closed

[2018-02-20 18:02] Anmol-Middha commented on #1008
do we need to move the global settings to specific screens or create new settings for each screen ?

[2018-02-20 18:06] aethelwulffe commented on #1008
Better make sure that the feature isn't toggled from globals to begin with.  It would be bad to not be able to turn the feature on and off! :)

[2018-02-20 18:06] teryhill commented on #1008
create access to the settings on the screen that uses them. The globals will still be used to set the default settings. The settings on the screens are for the specific user.

[2018-02-20 18:14] Anmol-Middha commented on #1008
ok, I would like to work on this issue.

[2018-02-20 18:39] Anmol-Middha commented on #1008
Currently, I am planning to create a sort checkbox for message and reminder screen , So that a bunch of reminders can be sorted according to priority , due date or any other element which the user selects for sorting of reminders and messages

Something like this -:
![screenshot 211](https://user-images.githubusercontent.com/26340886/36442302-50c89344-169b-11e8-9a08-19de93c94e34.png)

[2018-02-20 18:49] aethelwulffe opened #1022 "837 batch file appending"
In some cases, multiple claim files get appended together.
The reasons for this happening could simply be when two files are generated within the same minute (clock time).  Instead of creating a new file, the existing one with the same time stamp in the name is simply appended.

File structure starts with the tag ISA* and ends with IEA*
In the files with multiple ISA loops, there is no newline add

[2018-02-20 19:12] teryhill commented on #981
If it were a drop down list like in the demographics that would fix the issue, we could store the abbreviation.

[2018-02-20 21:40] aethelwulffe opened #1023 "837 batch file incomplete data"
The billing_report function includes for exporting 837 files can be called (means create a billing batch file) for claims that do not have complete data, do not have an associated clearinghouse, or other data validation issues.
  For the most part, the claims missing data are indicated in RED in the billing report.  The checkbox for exporting the claim should NOT BE ENABLED if that claim does not

[2018-02-20 21:51] aethelwulffe commented on #981
Is it worth doing, or is it just a field size thing?  I suppose it matters if it is added to a printed address somewhere.

[2018-02-20 22:06] aethelwulffe opened #1024 "Claim file naming and directory structure issues"
Printable text CMS-1500 output files and x12 837 electronic claim files are stored in the same directory, and use the exact same file naming scheme.  This causes mix-ups.  PDF files are stored in the same directory as well.  This is less of an issue, but for a variety of reasons (especially for SFTP transfer of files automatically) this can cause all sorts of issues.

Recommendation:  Separated ea

[2018-02-20 22:17] aethelwulffe commented on #1023
Related item while running my cool new claim scrubber...Patients apparently can be in the system with no gender.  This may just be some old data, but this sounds like another scrub check that the system should be doing.

[2018-02-21 01:11] apooravc commented on #1023
@aethelwulffe working on it.

[2018-02-21 01:51] aethelwulffe opened #1025 "Funny install results..."
Just did a new install.
Installer stated that it could not find or create a database, yet the installation worked.
Also, there was an apostrophe (') in the pass phrase for the admin user.  The first word was "I'm".
The reported initial password was "I" in stead of "I'm ****".

[2018-02-21 01:54] teryhill commented on #1025
yep no special characters and no spaces in the database name. I think the ' " / \ are going to act funny. the installer guys should be made aware of it.

[2018-02-21 01:58] aethelwulffe commented on #1025
Database name and pass had no special characters.  All caps though.
the initial admin user PASS had special characters.  The install worked fine.  just not the reports of the installer.  It didn't escape when displaying the passphrase when it says "Initial user "admin", passphrase "I"

[2018-02-21 02:02] teryhill commented on #1022
The claims are accepted . @tmccormi   looked at this some time back and it will require a re-write of the billing stuff. this should be placed on a project for the billing re-write. Not a bug just a better way to do it.

[2018-02-21 02:10] teryhill commented on #1023
@aethelwulffe be careful that you don't prevent a claim being generated with just the codes to be given to the patient to file on their own to the insurance company or given to the lawyer in the auto accident or workers comp.

[2018-02-21 02:10] aethelwulffe commented on #1025
Right...installer guys.  the project you mean.  I will take that for action on the forum.

[2018-02-21 02:11] aethelwulffe commented on #1023
This is purely the x12 837 export side I am talking about.  I get the part about printing a statement.

[2018-02-21 02:15] aethelwulffe commented on #981
OK, now I can't edit a facility.  No pop-up or anything...
Official dev-tip demo works.  Not my latest install though.

[2018-02-21 02:16] teryhill commented on #1023
Right but if you don't allow the select box in billing you cannot select the claim to print either and some placed want the printed claim.

[2018-02-21 02:22] aethelwulffe commented on #981
Could be my test data...this is the freshest dev tip.

[2018-02-21 02:23] aethelwulffe commented on #1023
Right...It should do something more clever than just disabling.

[2018-02-21 02:31] teryhill commented on #981
It does not look like that code has been touched in a while.

[2018-02-21 15:35] aethelwulffe commented on #981
Version from Feb 15 functions fine.
Latest does not.
Same data, same server, different code.
[code]

[2018-02-21 15:38] aethelwulffe commented on #981
Differences:

- new.php
-  login.php
-  main.php
-  immunization_report.php
-  edit_globals.php
-  filters_layout.php
-  patients_tags_layout.php
-  tags_layout.php
-  patient.inc
-   menu_data.json
-  1_0_1-to-2_0_0_upgrade.sql

[2018-02-21 15:46] aethelwulffe commented on #981
Never mind...It is the database.  There is something going on when you have a large number of facilities...

[2018-02-21 17:53] aethelwulffe commented on #981
UPDATE:
Deleting some facility table rows fixed this issue.  Apparently there is some issue there.  I will try to determine what the limit is, and why.

[2018-02-21 18:11] aethelwulffe commented on #981
![image](https://user-images.githubusercontent.com/553751/36497186-8b0c21a2-1708-11e8-9f9e-6b65c9bd6571.png)
Found the problem.  Yes, we have some php warnings that were not there before, but the issue is simply that the pop-up is unviewable with more than 20 or so facilities without zooming.  It becomes uncontrollable after about 30 facilities on a 1080p screen even with CTRL+

[2018-02-21 20:18] #937 closed

[2018-02-22 13:26] apooravc commented on #836
@teryhill Correct me if I'm wrong but this issue is same as #442 Isn't it?

[2018-02-22 13:27] teryhill commented on #836
Yes it is. I will close 442

[2018-02-22 13:28] teryhill commented on #442
Duplicated.in 836 closing this one

[2018-02-22 13:29] #442 closed

[2018-02-23 10:00] NirmalKumarJoshi commented on #998
Hello @teryhill can I work on resolving this issue?

[2018-02-23 12:29] #1004 closed

[2018-02-23 16:55] aethelwulffe commented on #998
@NirmalKumarJoshi How about networking with @Trodrige in this issue thread, and maybe start a communal branch adding functions that can be called by reporting tools?  Trodrige has push permissions on this repo, and can start a feature branch that you can fork and make commits to.
You good with that T-rod?

[2018-02-27 23:50] htuck commented on #975
Ok, I'd like to post my findings on this and the basic procedure I'm using for the tutorial.
Per CMS Pub 100-08 Medicare Program Integrity, 3/3.3.2.4 - Signature Requirements, EXCEPTION 2:"...The rules in 42 CFR 410 and Pub.100-02 chapter 15, §80.6.1 state that if the order for the clinical diagnostic test is unsigned, there must be medical documentation (e.g., a progress note) by the treating phy

[2018-02-27 23:55] htuck opened #1038 "The new 'Order' (formerly known as 'Procedure order') form 'add procedure' bug"
When 'add procedure' btn is clicked it doesn't clear the fields for the next one, merely reproduces the ord just made.
	and, btw, the diagnosis codes and test description (or whatever's supposed to go there) aren't added to the finished order.

![addprocbug](https://user-images.githubusercontent.com/8339489/36762051-9dfbf2f6-1bd6-11e8-94c8-8bb0cb5a835f.png)

[2018-02-27 23:57] htuck commented on #975
and so I will close this issue.

[2018-02-27 23:57] #975 closed

[2018-02-27 23:58] htuck commented on #1038
guess my acct here doesn't let me add labels...

[2018-02-28 00:07] htuck opened #1039 "feature wishlist: transfer data from Order form to pt Transaction referral form"
In the new Orders workflow, the transcriptionist has to manually copy/ paste several pieces of data from the Order form to create a referral form in the pt's transactions.

Ultimately it would be advisable for clinical safety, to say nothing of very convenient for the transcriptionist, for the Order form to automatically transfer the appropriate data to the new Referral form.
This would prevent vi

[2018-02-28 00:09] htuck opened #1040 "feature request: add column "form name" to Procedures Pending report"
what it says: please consider adding to that report a column for the name of the form that needs to be signed.

[2018-02-28 06:02] apooravc commented on #1038
Working on it.

[2018-02-28 07:39] sijomc opened #1041 "Composer update error"
I am getting following error while executing composer update on cloned repository
https://github.com/LibreHealthIO/ehr-fhir-api.git

Following is the error:

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - The requested package libre-ehr/core could not be found in any version, there may be a typo in the package name.
-----------------------------:

Ple

[2018-02-28 15:08] aethelwulffe commented on #1039
OK, so what is needed is a referral API.  Basically, the referral needs to be able to accept more parameters from whatever is calling it.  We should be able to push a referral from any clinical form we want to.

The system also needs more referral targets, export/transport/address wise.

[2018-02-28 15:09] aethelwulffe commented on #1040
should that be the name of the form, or should it be a Reason or Title as well for context?

[2018-02-28 15:10] aethelwulffe commented on #1038
@htuck Adding you to the write permissions....

[2018-02-28 15:12] aethelwulffe commented on #1041
https://github.com/LibreHealthIO/ehr-fhir-api is the repo for that.  I unfortunately know nothing about composer, as I use a windows machine, the application has a great many prerequisites, and the documentation isn't exactly up to the standards required by an idiot.

[2018-02-28 17:08] htuck commented on #1038
thanks!

[2018-02-28 17:25] htuck commented on #1040
I think of this column as displaying whatever form name shows in the encounter listing, per the pic.  As a guide for somebody using the report to determine which form has been left unsigned- if it's the vitals form, the chart auditor won't ask the MD to sign it; if it's a clinical form (ROS, PE, SOAP etc) the auditor knows the form's provider needs to be told about it; if it's a Order Form the tra

[2018-02-28 17:36] teryhill commented on #1040
The report will show the name of the ones not esigned. May need some tweaking.

![image](https://user-images.githubusercontent.com/4655366/36802810-eb2b0b68-1c83-11e8-85d3-7d5e45a06449.png)

[2018-02-28 17:54] htuck commented on #1040
That's perfect, @teryhill , thanks!  When will that mod be in the repo?  That's worth waiting for that part of the video for.

[2018-02-28 17:57] teryhill commented on #1040
It is there now @htuck  just check the box marked Details.

[2018-02-28 18:31] htuck commented on #1040
umm... duuh, I had been looking at the Reports/ Procedures/ Pending Res  when I suddenly remembered Reports/ Visits/ Encounters...
Thanks for the wakeup!  I'm going to make more coffee...

[2018-03-01 09:47] Trodrige commented on #998
@teryhill do you want me to pull out the functions that these variables ($date_to, $date_from, $facility, $provider) use and put in reports_functions.php? I'm confused here. Some of the functions used by these variables are found in other library files like patient.inc and formatting.inc

[2018-03-01 13:30] teryhill commented on #998
This is from the collections report.  Turn this into a function and then call it from the reports that use it. For the same with the dates

![image](https://user-images.githubusercontent.com/4655366/36846968-b870f9c4-1d2a-11e8-98f4-2143ac9815f9.png)

[2018-03-01 15:06] aethelwulffe commented on #1040
@htuck Sounds like something to *carefully* document in the instructions for the report use as well as for workflow documentation.
I suggest keeping this open until the current documentation project or video is complete.

[2018-03-01 15:19] aethelwulffe commented on #998
Yeah, there are some functions floating around in various includes.  Those header files are messy themselves.  All function include files should have very careful restrictions on what can be added there, as well as the API documentation for their use, and maybe even a short list of some features or files that are calling them.

Basically, the goal is to be able to create reports by just calling fu

[2018-03-02 00:00] Trodrige commented on #998
Uhmmm, I've figured out functions for providers and facilities as guided by @teryhill . I also realized that some functions already existed which displayed providers and facilities. The existing functions will be replaced with new ones which are report specific.
However, the only common date function I found is the datetimepicker JQuery code at the bottom of each report. Can anyone see other commo

[2018-03-02 03:23] teryhill commented on #998
This is for insurance companies from the collections report.

![image](https://user-images.githubusercontent.com/4655366/36881936-ee38ed40-1d9e-11e8-9719-8d7164c07da0.png)

The dates appear to be pretty compact with the date picker changes.

[2018-03-02 12:17] sijomc commented on #1041
Thanks for your reply.

I didn't add the line  "libre-ehr/fhir": "dev-master" to config file and it worked well.

I am getting class not found error when executing php artisan migrate command

Following is the error
---------------------:
root@ubuntu:/var/www/html/libre-ehr-laravel# php artisan migrate

In ProviderRepository.php line 208:

  Class 'LibreEHR\FHIR\Utilities\Providers\FHIRServiceProv

[2018-03-02 17:19] teryhill commented on #1041
@tmccormi who is the FHIR person?

[2018-03-02 17:47] teryhill commented on #946
Pr was merged closing issue

[2018-03-02 17:47] #946 closed

[2018-03-02 17:48] #939 closed

[2018-03-02 17:48] teryhill commented on #939
Pr was merged

[2018-03-02 17:49] teryhill commented on #929
Pr was merged closing issue

[2018-03-02 17:51] teryhill commented on #898
Cannot reproduce closing issue.

[2018-03-02 17:51] #898 closed

[2018-03-02 18:02] teryhill commented on #888
PR's Merged Closing Issue

[2018-03-02 18:02] #888 closed

[2018-03-02 18:26] teryhill commented on #873
Closing this issue. This is the current nature of the finder.

[2018-03-02 18:26] #873 closed

[2018-03-02 18:40] teryhill commented on #861
MigDinny stated it was fixed with #870

[2018-03-02 18:40] #861 closed

[2018-03-02 19:00] teryhill commented on #826
@Jdew192837 is this still an active project on your list?

[2018-03-02 19:08] teryhill commented on #822
The PR for this was merged.

[2018-03-02 19:08] #822 closed

[2018-03-02 19:10] teryhill commented on #749
Dead issue will remove the options from globals

[2018-03-02 20:21] teryhill commented on #727
@tmccormi  if this is not complete please close it and open another issue with the remaining issue.

[2018-03-02 20:23] teryhill commented on #688
@tmccormi is this a close-able item?

[2018-03-02 20:27] teryhill commented on #670
@tmccormi would this be a duplicate issue see #688

[2018-03-02 20:30] teryhill commented on #640
Will test nation notes and open an issue if needed

[2018-03-02 20:30] #640 closed

[2018-03-02 20:31] teryhill commented on #627
Closing youtube channel is up and wiki is agreed upon.

[2018-03-02 20:31] #627 closed

[2018-03-02 20:33] teryhill commented on #623
Pr Merged closing issue

[2018-03-02 20:33] #623 closed

[2018-03-02 20:37] teryhill commented on #588
@aethelwulffe is this close-able

[2018-03-02 20:42] Trodrige commented on #998
@teryhill did you notice this at the end of reports?
![end_of_all_reports](https://user-images.githubusercontent.com/16147419/36920899-8ae256c2-1e62-11e8-91a5-d0d25c6616d4.png)

[2018-03-02 20:55] htuck commented on #1040
Yes, @aethelwulffe at top of doc, in red: ENSURE ADEQUATE CAFFEINATION BEFORE ATTEMPTING
let's keep it open...

And in the meantime I found another problem, which may be with the report or something else.
Pic in a bit; details first:  e-sign forms in the encounter and they still show as unsigned in the Encounters report
- this occurs when e-signed by both the original form owner or by another (e.g

[2018-03-02 21:25] teryhill commented on #554
Closing this was a 2017 GSoC project.

[2018-03-02 21:25] #554 closed

[2018-03-02 21:27] #459 closed

[2018-03-02 22:32] aethelwulffe commented on #588
Yeah, closing.  The project is underway as I speak anyway.
I am a bit out of pocket right now due to the MIPS reporting season upon us.

[2018-03-02 22:32] #588 closed

[2018-03-03 18:17] D3rvun1x opened #1050 "Separate setup script from setup steps' html markups"
For better code **readability**,  **maintenance** and **tracking**,there is a need to separate all the steps involved in setup process to different files or as different methods of a particular class say **Setup_Process.php**.

[2018-03-03 19:11] Subhajit25Mondal commented on #1050
Commit Changes

[2018-03-04 10:44] D3rvun1x commented on #1050
sure will

[2018-03-05 19:14] #894 closed

[2018-03-05 19:20] aethelwulffe commented on #826
A good number of these are already in the spotlight, and we are converting to browser-based date pickers.  If Jake is on it, then he is on it, but GCI is long done, and this is a well known target item.  Closing...

[2018-03-05 19:20] #826 closed

[2018-03-05 19:21] #749 closed

[2018-03-05 19:24] aethelwulffe commented on #727
This is not complete.  Put 50 providers on the calendar, and you see the same thing.  Also, put more than a handful of facilities and the same results.  We also have similar issues going unseen when tests are not done with great numbers of records in the database.  For instance, if you have 100 users, you will not be able to edit any of them due to the modal window disappearing.
  I have not seen

[2018-03-05 19:48] tmccormi commented on #727
Agreed, we need to have a test emr setup that has preloaded a excessive number records in the "admin" areas as well as patient records.  Load testing...

[2018-03-05 19:49] #727 closed

[2018-03-05 19:53] tmccormi opened #1052 "Load Testing Database / EMR Test site needed"
We need to have a test emr setup that has preloaded a excessive number records in the "admin" areas as well as patient records.

Art PrintaPatient tool can create much of this as well as his X12 importer, I think.

I suggest a .SQL file that is saved to be reloaded as we get ready for releases, and more often if possible.

[2018-03-05 19:57] Perseus commented on #966
@teryhill The PR (980) made to fix this has been merged. I think it should be closed now?

[2018-03-05 20:05] teryhill commented on #966
Pr Merged Closing issue Thanks @Perseus

[2018-03-05 20:05] #966 closed

[2018-03-06 01:25] aethelwulffe commented on #1052
Modified PrintaPatient to generate users.  TODO on that list is to assign random providers to encounters.  User ID's are generated as a nine digit number (NPI format) starting at 100000001.
I will continue with upgrades to that tool as an active project.  I am generating a largish sample database insert (with hundreds of users) right now, and will post that to the tool repo as soon as it completes

[2018-03-06 01:25] aethelwulffe commented on #1052
Note: the tool itself is MUCH smaller than a sample database :)

[2018-03-06 01:55] aethelwulffe commented on #1052
Looking over the current tool, it seems very primitive and process oriented.  It generates less than two patients per second, it dumps everything to one huge file, and most every insert is a new query.  I can improve the performance by at least double, chop the output size in half, and push the output to multiple files that the QA Measures>Database Import tool can process.  It will also be easier

[2018-03-06 02:16] aethelwulffe commented on #1052
https://github.com/LibreHealthIO/EHR_Contribs/pull/12

[2018-03-06 08:30] 2208Abhinav commented on #981
I also observed that when I entered the country as 123456789012345 after saving, the name shortened to 1234567890 (10 characters)

[2018-03-06 08:30] 2208Abhinav commented on #981
@aethelwulffe I will try to work on it.

[2018-03-06 08:32] 2208Abhinav commented on #981
I am extensively working with the database stuff for my project so that may also help here

[2018-03-06 09:11] 2208Abhinav commented on #981
Yes I found it in database we are having **country_code** as **VARCHAR(10)**

[2018-03-06 10:39] sijomc commented on #1041
Have any updates?

[2018-03-06 17:54] tmccormi commented on #1041
Ken Chapple

Tony McCormick
Medical Information Integration

On Mar 2, 2018 9:20 AM, "Terry Hill" <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive
information by telephone.  The information contained in this message may be
privileged and confidential. If you are NOT the int

[2018-03-07 04:08] Trodrige commented on #998
Hello @aethelwulffe what is the use of amc_tracking in the reports? I don't how to observe the changes I make in the file.

[2018-03-07 11:25] aethelwulffe commented on #981
Well, 10 characters should be enough for anyone, right?  :)  I the problem must simply be that the field does not record/retrieve the country name via the country code list (in `lists` I think).

[2018-03-07 11:33] aethelwulffe commented on #1041
@sijomc I am so sorry, but @kchapple is the guru on this.  As Tony indicated above, this module was designed and added here completely as a product of the company Medical Information Integration (also known as MI2).  Ken Chapple wrote the software, and none of the rest of us have any idea of how it works...BUT:

**I am guessing that the "core" it is looking for is here:** https://github.com/LibreH

[2018-03-07 12:08] aethelwulffe commented on #998
AMC (Automatic Measures Calculation) is an old QA reporting system.  This, and other legacy pieces need to go away.  It needs to be part of an extensive and concentrated effort though
The new stuff is found in /module/MIPS.  Unfortunately, this module was broken by the need for the original function of the patient search/add tool to be reverted.  Newer versions of that exist, but have not been pus

[2018-03-07 13:00] 2208Abhinav commented on #981
@aethelwulffe you want the country name to be stored in the database with the **country code** name and not the name entered by the user??

[2018-03-07 13:10] aethelwulffe commented on #981
If we are using country codes, then that is how we should store/retrieve them.  The real question is "how is this field used".  If it is an important filed for generating/using addresses or phone numbers, then it needs enumerization via the country code list.  If not, then the question remains as to why the field exists at all.  Typically, we have little need for mulitnational clinic support where

[2018-03-07 13:13] 2208Abhinav commented on #981
I will find out where we are needing country name for extracting other data

[2018-03-07 13:15] aethelwulffe commented on #981
Thanks!  Just as importantly, we should look to WHERE we SHOULD be doing it...

[2018-03-07 13:15] teryhill commented on #981
I have also noticed on new installs that the users tend to spell out the state. Georgia for example when they send test claims they get rejected to invalid zip code (don't ask why) but actually the state abbreviation is Ge, if this is changed to Ga everything works. I think the state entry should be changes to the drop down list and the 2 character abbreviation stored.

[2018-03-07 13:17] aethelwulffe commented on #981
The georgia thing is obviously an error.

[2018-03-07 13:17] 2208Abhinav commented on #981
@teryhill we can provide a drop-down menu and then use an array to covert the option selected to the **country code**

[2018-03-07 13:23] teryhill commented on #981
There  is the state options on the misc tab in globals. I don't know it that is even used in the code anywhere any more.

[2018-03-07 13:54] 2208Abhinav commented on #981
@teryhill I will pull a request by tomorrow on this issue

[2018-03-07 14:45] Trodrige commented on #998
@aethelwulffe @teryhill can these files be out of the reports folder for good?

1. amc_tracking
2. audit_log_tamper_report
3. cdr_log
4. cqm
5. customer_report_range
6. edi_270, edi_271, edi_276
7. inventory_activity
8. ippf_cyp_report
9. ippf_daily
10. pre_billing_issues
11. prescriptions_report
12. receipts_by_method

Made changes in these files, but couldn't find where to observe them.

[2018-03-07 15:18] kchapple commented on #1041
@sijomc I believe at some point the modules names were changed from 'fhir' and 'core' to ehr-fhir-api and ehr-api respectively. The core module is basically Eloquent models and interfaces for talking to the LibreEHR database. The fhir module is uses the core interfaces and maps them into a FHIR RESTful api. Make sure that you have both packages in your vendor/libre-ehr directory. I'm not sure abou

[2018-03-08 18:18] teryhill commented on #1038
@apooravc do you have any update or questions?

[2018-03-09 13:26] amughalbscs16 opened #1056 "Administrator Creating a User Colors Problem"
When you are creating a user through adminstrator it's color of text and background is same and hence we cannot see the text display and hence becomes very difficult to create a new user.
The URL Where the problem is occuring
http://localhost/LibreHealth/LibreEHR/interface/main/tabs/main.php?url=TAB_ONE_DEFAULT
![cannot see the text when user is created]
(https://user-images.githubusercontent.com/

[2018-03-09 16:46] aethelwulffe commented on #1056
What I hear you saying is that it is possible to set the background and font to the same color, and that should be dis-allowed for practical reasons, yes?
I think that the WCAG standards need not be followed when a user selects their own colors, but allowing them to brick the install by setting it 1:1 probably should be disallowed.

My suggestion:  Check the contrast allowance limits of the input.

[2018-03-11 16:57] Trodrige opened #1057 "Patient ledger report needs to say no data to display , Currently it just disappears."
The patient ledger report results aren't displayed long enough.
- Fill the form and submit.
Observe the results show up, and disappear almost immediately.

[2018-03-11 21:14] Trodrige commented on #956
@abhigyank have you looked into this? I was able to reproduce this behaviour.

[2018-03-12 06:54] Trodrige commented on #989
@aethelwulffe can this issue be closed?

[2018-03-12 13:48] sijomc commented on #1041
@kchapple Thanks for your reply. I am getting an error when executing command  php artisan migrate

[Symfony\Component\Debug\Exception\FatalThrowableError]
  Class 'LibreEHR\FHIR\Utilities\Providers\FHIRServiceProvider' not found

Can you help me to solve this issue?

[2018-03-12 15:41] kchapple commented on #1041
@sijomc I am not getting this error. You must have some error in your configuration. I can't tell without your code. If you post a link to a repo of your full Laravel project (preferably with vendor directory,) I can take a look.

[2018-03-12 17:32] aethelwulffe commented on #989
Yep!

[2018-03-12 17:32] #989 closed

[2018-03-12 17:33] aethelwulffe commented on #956
I think we have at least one other issue related to this.

[2018-03-12 17:38] #1011 closed

[2018-03-12 18:17] naveen17797 commented on #1056
@aethelwulffe https://stackoverflow.com/questions/1633828/distance-between-colours-in-php there is a valid point in this thread, as color perception is not linear towards all the colors, will the function work on that too?

[2018-03-12 18:22] aethelwulffe commented on #1056
Well, yes, the function basically takes care of that, however, there are cases where someone might WANT low contrast (security reasons, view in low ambient light and not wanting a glaring screen etc...) so the color picker as it stands is totally reasonable.  Using the function to evaluate or guide the user's choice would be nice, but the control freak in me says let people do whatever the heck th

[2018-03-12 18:24] naveen17797 commented on #1056
there is a live preview of colors chosen as soon as they leave color picker, a few tweaks on live preview would help better in my point of view.

[2018-03-12 18:31] aethelwulffe commented on #1056
Yes, and that is good.  The "contrast meter" idea would be cool, but what you have is still good.  We still need to restrict people from setting the background and foreground to the same color though.

[2018-03-12 18:32] naveen17797 commented on #1056
yep, i will make a research on it, need to do some research on color stuff to understand things.

[2018-03-12 18:44] aethelwulffe commented on #1056
Hey, it really is a good UI design aspect to gain familiarity with.

Similarly, layout in content management systems (like this stupid one) has gone away from using the whole widescreen field of view for an endless hell of scrolling because the software nerds were told that a sheet of A4 paper was the best way to read a screen.  For reading text, that is true.  For handling data in an aircraft con

[2018-03-13 03:58] miamiroblan opened #1059 "The style of LibreEHR-master.zip is not the same as Demo."
The style of LibreEHR-master.zip is not the same as Demo.
Something is missing in this .zip
I just installed the https://github.com/LibreHealthIO/LibreEHR.git. and looks like the styles files are missing elements.

![untitled-1](https://user-images.githubusercontent.com/37223713/37321945-307d5f8c-2651-11e8-99d6-a0c7fcc72df4.jpg)

[2018-03-13 04:09] naveen17797 commented on #1059
Actually this is due to reason that we have introduced color picker as experimental feature, i am working on this to fix this soon to make color picker stable.

[2018-03-13 04:10] naveen17797 commented on #1059
You can change colors under user preferences> primary color, secondary color

[2018-03-13 04:10] naveen17797 commented on #1059
This would be fixed by the end of this day.

[2018-03-13 18:00] aethelwulffe commented on #830
We have the same issue with the user administration.  If you have more than say 50 users, the popup for editing the user gets shoved down at the end of the list, and may become (and will become) inaccessible.
This is a serious issue for people that COMMONLY have hundreds of system users.

[2018-03-13 18:04] aethelwulffe opened #1061 "User edit UI inaccessible"
When you have more than 50 or so users in either the active or inactive list, and try to edit them, the modal window locates itself at the bottom of the list, and becomes impossible to interact with.  This is a big issue for two clinics I know right now that have respectively 450 and 1500 user table records due to long use and a sprawling organization.

This issue was fixed for the facility editor

[2018-03-14 02:15] teryhill commented on #1057
@Trodrige  it will do that if there is nothing to display.

[2018-03-14 02:23] teryhill commented on #1059
This is a duplicate issue closing

[2018-03-14 02:23] #1059 closed

[2018-03-14 11:36] pri2si17-1997 commented on #1052
Hi @tmccormi @aethelwulffe test database can be generated by seeding tables. As I have done last year. Hope that kind of approach may help.

[2018-03-15 08:18] apooravc commented on #1061
Working on it.

[2018-03-15 16:01] aethelwulffe commented on #1061
@apooravc   Apoorav, thanks for looking into this.  This is a real problem, and with the stack of other things I have on my plate, I had no idea of how I might get to this.
If it helps, there is a database in the EHR contribs repo that is large enough to cause these issues to show up. (it is the only PR on that repo that has been committed).

[2018-03-15 16:26] apooravc commented on #1061
I used like 25 users to re-create this issue!
![image1](https://user-images.githubusercontent.com/25399108/37476170-7d6e3eec-289a-11e8-9a7d-64f91d34bc9e.JPG)

There is a drag-drop feature available which the user could use to drag the window to center. And, as I said before, the issue is due to the calculation of css top position of such windows in the fancybox.js file. Also since the removal of f

[2018-03-15 16:31] teryhill commented on #1061
@apooravc add a fix. The issue I see with making changes to the Fancy box code is it might break something else in the code but wee need a solution.

[2018-03-15 16:33] aethelwulffe commented on #1061
That is why for a temp, I would suggest using the existing hacked copy...

[2018-03-16 12:15] Trodrige commented on #818
@teryhill I'm on this. I'll start separating PHP from HTML code. Then pull out more reusable code.

[2018-03-16 18:54] apooravc commented on #882
In terms of element UI, what is the use of having refresh icon when an element is locked or hidden? Isn't that an extra thing to have in the hidden state?  Besides having unlock and close. @teryhill @aethelwulffe

[2018-03-16 18:57] teryhill commented on #882
@apooravc goodpoint. That would fix this error.

[2018-03-16 19:53] apooravc commented on #882
I can do it if @Kachachan has no issues with that.

[2018-03-16 20:38] #882 closed

[2018-03-17 01:47] aethelwulffe commented on #1059
@miamiroblan Link to #1056 for the existing issue tracking, and #1060 where the fix is being implemented.  Thank you for you bug report contribution.

[2018-03-17 23:48] order4adwriter opened #1064 "Created A Privacy Policy For LibreHealth.io"
I noticed that [LibreHealth website](http://librehealth.io/) has no privacy policy.

This is really important as it is supposed to ....

 Give current and potential subscribers /endusers of your software or app,  a clear idea of what kind of medical information, why the website or app  collects such information and  how such collected information is used or shared ( where necessary) by LibreHealth

[2018-03-17 23:53] teryhill commented on #1064
Are you GSoC, or outreachy?

[2018-03-18 04:55] tmccormi commented on #1064
We don't collect any mefical or other private information.  We provide open
source medical software for others to use.

Thanks though.

Tony McCormick
Medical Information Integration

On Sat, Mar 17, 2018, 4:53 PM Terry Hill <notifications@github.com> wrote:

--
Please be aware that e-mail communication can be intercepted in
transmission or misdirected. Please consider communicating any sensitive

[2018-03-18 12:34] apooravc commented on #758
@teryhill @tmccormi I was having a similar error while viewing appointments made. But it might be due to calendar not handling the refresh well when there is a large no. of appointments made, say, for a day. Need to test it.

[2018-03-18 15:59] teryhill commented on #1064
@order4adwriter  Are you GSoC, or outreachy??

[2018-03-18 16:04] order4adwriter commented on #1064
@teryhill ...outreachy actually.

[2018-03-18 16:04] order4adwriter commented on #1064
I am actually a freelance copywriter looking for something to contribute on....

[2018-03-18 16:05] order4adwriter commented on #1064
got any suggestions?

[2018-03-18 16:09] teryhill commented on #1064
The Outreachy project is already under way for documenting the EHR software. We have advisers for legal matters and they have approved our current usage statement.

[2018-03-18 16:12] order4adwriter commented on #1064
ok....got it.

thanks for the heads up.

[2018-03-18 16:20] order4adwriter commented on #1064
@tmccormi , @teryhill

I also just took a look at your About Us write up... at the bottom of the home page.

I think this needs a little more work...as it is barely informative.

Can I go ahead and work n it and will it posted on the site if you are satisfied with it?

[2018-03-18 16:24] teryhill commented on #1064
Persistent 8^) . Yes if you would like.

[2018-03-18 16:26] teryhill commented on #1064
That will have to be approved by the steering group I think. That is the actual web site not the EHR. @tmccormi

[2018-03-18 16:26] order4adwriter commented on #1064
Lol!!!.....just looking for something to do Terry... to keep the brain flowing.

Ok thanks....working on it now

[2018-03-18 16:27] order4adwriter commented on #1064
ok...fair enough....

[2018-03-18 16:52] apooravc commented on #956
@aethelwulffe I think the problem is in `main.php`. At line `142`, there is a plugin for resizing. The spaces b/w tabs where the resize icon appears is a `div` with a class of `handle` and at line `211`, all such elements are selected and passed to `drags` function at line `143`, which is the resize jquery plugin. It contains a `mousedown` event so that when you click on the space `div` and drag i

[2018-03-18 17:56] amughalbscs16 commented on #1057
@teryhill please share an image so, I can work on resolving the matter. Please specifically address where is the problem coming.

[2018-03-19 01:12] aethelwulffe commented on #758
Thanks for touching on this...

[2018-03-19 01:15] aethelwulffe commented on #956
I can just state that the original designer intended us to never have more than two tabs open at the same time.  In that context, it functions perfectly.  It just isn't as useful.

So, it might be that the resizing plugin needs a full implementation refactor to actually fix this.  We are outside of the intended architecture.

[2018-03-19 01:17] aethelwulffe commented on #1057
Yeah, posting menu breadcrumbs or full "reproduce this" instructions might be a good standard while GSOC is going on.

[2018-03-19 01:25] aethelwulffe commented on #774
Recent chat questions on this topic concern standard testing database resources.
1.  In EHR_contribs repo https://github.com/LibreHealthIO/EHR_Contribs/tree/master/test_sql is a largish database for testing calendar and other items.
2.  Unfortunately, we also have https://github.com/LibreHealthIO/EHR-Test-Tools/tree/master/test-data  which is a small data set.  The test_sql in contribs probably ne

[2018-03-19 04:46] amughalbscs16 commented on #1057
@aethelwulffe where on which page is this error coming, I am searching for it. guide me where is the error coming so I can solve it.

[2018-03-19 15:41] amughalbscs16 opened #1066 "Patient Portal Email Validation Update Required"
The function used for validation of email in patient_portal is using a self defined function. I think it should be using the php built in function for checking whether the email is correct or not.
![register function](https://user-images.githubusercontent.com/28474804/37605735-a5fabbd8-2bb5-11e8-87cc-a0abfcbbbd40.PNG)
**Presently implemented Function:**
function validEmail($email)
{
    if (preg_m

[2018-03-19 16:12] apooravc commented on #858
Working on it.

[2018-03-19 17:36] teryhill commented on #1066
I like using "Built In" Functions. I think that the current function chokes on a .io site.

[2018-03-19 17:42] amughalbscs16 commented on #1066
So should I make a commit with this new function? If you also agree with it.

[2018-03-19 17:44] teryhill commented on #1066
Yes send a commit for it.

[2018-03-19 18:14] amughalbscs16 commented on #1066
Here is the pull request I have sent please accept it soon. This function works for .io domain as well I have tested it on that too.
The Pull Request Link
https://github.com/LibreHealthIO/LibreEHR/pull/1067

[2018-03-19 19:05] teryhill commented on #1057
Select a patient and then select ledger from the demographics screen.

![image](https://user-images.githubusercontent.com/4655366/37616624-ebb26484-2b86-11e8-82e6-d0be646d27de.png)

[2018-03-20 12:16] apooravc commented on #684
@aethelwulffe A possible duplicate of #956 ?

[2018-03-20 13:38] amughalbscs16 commented on #1057
what should be displayed do you want a modal to open or an alert which tells the patient that no records were found?

[2018-03-20 13:42] amughalbscs16 commented on #1057
I think there should be an alert or a modal opening which tells the user that 0 records were found.

[2018-03-20 13:48] teryhill commented on #1057
Sounds good to me. An alert would be best I think since this can also be ran from the report menu.

[2018-03-20 13:49] amughalbscs16 commented on #1057
Plus a sleep for 5 seconds which will help user see the empty table as well
with the alert?

On Mar 20, 2018 6:48 PM, "Terry Hill" <notifications@github.com> wrote:

[2018-03-20 14:04] teryhill commented on #1057
Okay

[2018-03-20 14:31] amughalbscs16 commented on #1057
I thought putting a sleep wouldn't be the best option, so I added an alert when there are no records to show. Here is the link to the pull request. https://github.com/LibreHealthIO/LibreEHR/pull/1067.
Solved.

[2018-03-20 15:54] apooravc commented on #1008
@teryhill As I understand, a screen's settings have to be introduced to each screen from its Globals like in case of flowboard. And these settings would be user specific and Globals would be default?

[2018-03-20 17:04] teryhill opened #1071 "Calendar events need to respect clinic hours"
The system will and does give an alert that the provider is not available but allows the action anyway.

If you create an appointment for 1 pm and then change the time to 11 but forget to change the PM to am you now have an appointment set for 11 pm

![image](https://user-images.githubusercontent.com/4655366/37669962-7bb88560-2c3e-11e8-8d7d-500937d88921.png)

The appointment should not be allowed

[2018-03-20 18:37] apooravc commented on #1071
@teryhill There should be a check for confirming that time selected is within the clinic hours and if not, it should not allow the user to make the appt. and raise an alert saying why. Working on it.

[2018-03-20 18:41] teryhill commented on #1071
That is correct.

[2018-03-21 07:40] Trodrige commented on #1057
@amughalbscs16 I noticed you solved this after doing a PR. I used another approach.
1. The table doesn't appear if there's no result and
2. The message is in red.

I'm not going to steal this from you! This is how my change looks like.

![patient-ledger](https://user-images.githubusercontent.com/16147419/37698494-7f3c1dfa-2ce3-11e8-815f-50436ce04068.png)

[2018-03-21 07:59] amughalbscs16 commented on #1057
I have given a screenshot of the solution in the PR it shows an alert only.
when there are no records.

On Mar 21, 2018 12:40 PM, "Tigpezeghe Rodrige" <notifications@github.com>
wrote:

[2018-03-21 10:21] amughalbscs16 commented on #1066
Solved

[2018-03-21 10:21] #1066 closed

[2018-03-21 13:15] aethelwulffe commented on #684
#956 is a duplicate of this.  Being that this is really really old, I will drop this in favor of the new one.

[2018-03-21 13:15] #684 closed

[2018-03-21 13:17] #414 closed

[2018-03-21 13:21] aethelwulffe commented on #1008
I would build a function in a standard include...probably globals.php itself, that you can pass arguments to and pull in and display the settings control include file.  I think it would be user pref settings vs. default, but there may be exceptions to this (such as with superusers)

[2018-03-21 13:27] aethelwulffe commented on #1071
You sure a no-exception policy should be in effect?  Hours can temporarily change.  What happens if someone changes the clinic hours and an existing appointment is outside of those bounds?

[2018-03-21 13:35] aethelwulffe commented on #1057
We have GOT to get assignments worked out here.  Too many cool people are working on great solutions...for the same things.
-Good work all by the way.  @amughalbscs16  Ali, I need to send you an invitation to the repo.  Remind me if I don't get it done within the next 12 hours or so.

[2018-03-21 14:43] apooravc commented on #1071
@aethelwulffe I think this issue focuses more on the case where a range of clinic hours is given and when an appointment is made, it is checked. For the case you mentioned, if someone changes clinic hours, a script should traverse the DB and appointments out of bounds currently set should be displayed to user, so he/she can change them. Thoughts?

[2018-03-21 14:48] teryhill commented on #1071
This is getting over thought. It is meant to prevent a user from scheduling an appointment at midnight.

[2018-03-21 15:04] aethelwulffe commented on #1071
Just doing the devil's advocate thing here.
Terry, please review this first if you can.  We have some...similar PR's here, and I am too way far off in left field to really compare everything right now.  I am just totally wiped for the rest of the month, and 5 of the next 10 days I am out of town...I hate being useless, but there I am.

[2018-03-21 19:37] teryhill commented on #1071
@aethelwulffe you are NOT useless my friend. I will run the show for you.

[2018-03-22 03:08] amughalbscs16 commented on #1057
@aethelwulffe Just a reminder, please send me an invitation to the repository. Thank you very much.

[2018-03-22 23:01] #1057 closed

[2018-03-23 02:24] amughalbscs16 opened #1076 "Increase readability Creation of a new Patient Code Updation"
There is a condition checking for if the result['pid'] is > 1 it should instead pe result['pid'] >= 1 as in the case of there is no patient the 1st value for patient id  = 0; The patient id for the 2nd will be 1 and hence the code seems to be something difficult to understand what. The New code is easy to understand for a new person who is starting to read the code. What do you think @teryhill.
Ol

[2018-03-23 02:40] amughalbscs16 opened #1077 "Increasing Readability / Saving Computation of isNew Function"
The isNew function forms two queries which uses more resource. It is easier to read as well for any one. I suggest it should be written in a way that it just performs one query, depending upon the if else rather than just an if. It will save 1 query formation and some steps of computation when there is email also available.
Old Function:
[code]

New Proposed Function:
[code]

If you agree, I can s

[2018-03-23 02:41] teryhill commented on #1076
@amughalbscs16  Let me think about it. That code is very old and has worked with no issues that I know of for the 5+ years I have been working with the code. I know that in some instances outside of the patient_data table PID of 0 is valid.

[2018-03-23 02:47] teryhill commented on #1077
@amughalbscs16  I don't see any issues with proposing this change. It will need testing but I see no issues.

[2018-03-23 02:49] amughalbscs16 commented on #1076
pid = 0 is valid here as well, but the readability is better in the new code, in the start the $newpid is null and it changes as with the conditions. as it took me a bit of time to go through the conditions of old written code. The code should be as fast readable as possible, thats what i am proposing.

[2018-03-23 02:51] amughalbscs16 commented on #1077
I am trying to increase the readability plus just making the sql query only once when, the condition is satisfied, the old version made the string twice in case of email no matter what, plus it takes some time to read the code and understand what the programmer wanted. Rest is upto your wish, I am just proposing what I think would be better. 👍

[2018-03-23 12:07] teryhill commented on #1076
Go ahead and send your commit .

[2018-03-23 16:40] #1077 closed

[2018-03-23 16:42] #1076 closed

[2018-03-23 20:42] robbyoconnor opened #1081 "Updated the demo server and got Error: Unknown column 'fullscreen_enable' in 'field list'"
[code]

[2018-03-23 20:43] robbyoconnor commented on #1081
NHANES and develop instances are currently broken.

[2018-03-23 21:05] robbyoconnor commented on #1081
Missed a migration.

[2018-03-23 21:06] robbyoconnor commented on #1081
Hmm nevermind.

[2018-03-23 21:06] Trodrige commented on #1081
Uhmmm, sorry I did the upgrade

[2018-03-23 21:07] robbyoconnor commented on #1081
Nevermind :)

[2018-03-23 21:07] #1081 closed

[2018-03-23 21:08] robbyoconnor opened #1082 "Patient list returning HTML, not JSON."
Getting
[code]
for the patient list.

[2018-03-23 21:10] robbyoconnor commented on #1082
[code]

Is the response -- should be JSON.

[2018-03-23 23:51] teryhill commented on #1081
Sorry @Trodrige , @robbyoconnor  just got off a support nightmare call. Good call @Trodrige

[2018-03-23 23:55] teryhill commented on #1082
Fixed.... Closing issue

[2018-03-23 23:55] #1082 closed

[2018-03-24 00:04] robbyoconnor commented on #1082
shall i deploy the fix?

On Fri, Mar 23, 2018, 7:55 PM Terry Hill <notifications@github.com> wrote:

[2018-03-24 00:13] teryhill commented on #1082
No I took care of it.

[2018-03-24 00:17] robbyoconnor commented on #1082
for both develop and nhanes?

On Fri, Mar 23, 2018, 8:13 PM Terry Hill <notifications@github.com> wrote:

[2018-03-24 00:24] robbyoconnor commented on #1081
@teryhill it's okay -- turned out it was my fault

[2018-03-24 00:25] robbyoconnor commented on #1082
@teryhill -- I deployed for `develop` -- be sure that you run the commands as `www-data` and not root :)

[2018-03-28 15:59] muarachmann commented on #837
@Trodrige  , @aethelwulffe , @teryhill  suceeded in solving this problem. I could save an issue and notify that it was successfully saved and make the pop up disappear

[2018-03-28 16:00] Trodrige commented on #837
@muarachmann do a PR so I can test.

[2018-03-28 16:38] muarachmann commented on #837
ok doing that

[2018-03-28 18:28] #858 closed

[2018-03-28 18:35] #1071 closed

[2018-03-28 18:42] #242 closed

[2018-03-29 01:36] muarachmann commented on #837
@teryhill  here is the issue am talking about

[2018-03-29 08:55] aethelwulffe commented on #837
@muarachmann I don't feel that it needs space myself.  As a matter of fact, a great many things are wasting viewable area IMO.  The white-space in criteria selection and controls heavily impacts the viewability of the data you are trying to get to; especially on smaller screens.  I get that the modal window is of a certain size and all, but even so, we should keep things tight (in my humble opinio

[2018-03-29 10:13] prabhakarpd7284 opened #1088 "Unable to open patient in a new window"
Steps to recreate the issue : -
1. Select **Patient->Find Patient**.
2. Tick `Open in a new window` and select any patient.
![image](https://user-images.githubusercontent.com/23030978/38083616-ba625a40-3367-11e8-8107-ba69e1bb0d48.png)

It redirects to a blank page.
![image](https://user-images.githubusercontent.com/23030978/38083659-dc066c68-3367-11e8-914f-8b6879086f71.png)

[2018-03-29 13:02] naveen17797 commented on #1088
@teryhill same issue i had yesterday. if this open in new window is enabled then the form must send post request to main_screen.php which resulted in a empty behaviour

[2018-03-29 13:49] aethelwulffe commented on #1088
I swear that I responded to this earlier in the morning.  I asked about your global settings for "new window".  I hope no-one is messing with the repo re: the gitlab thingie.

[2018-03-29 13:55] naveen17797 commented on #1088
@aethelwulffe it is the reply for @prabhakar ?

[2018-03-29 15:14] teryhill commented on #1088
@prabhakarpd7284  and @naveen17797 that "open in a new window" , does not open a new tab in the software but it opens a new tab in the browser. So it starts a new secession. It ,in my opinion, has no use in the current software.

[2018-03-29 16:12] 2208Abhinav opened #1090 "Menu tabs, namely Encounter Summary, Administrative and Clinical dont't work properly in Fees > Fee Sheet menu"
1)Select any past encounter
2)From **Fees** select **Fee Sheet**

In the menu click on **Administrative** or **Clinical** and further click on anything, nothing happens, except when you click on **Encounter Summary**.
![screenshot from 2018-03-30 02-55-13](https://user-images.githubusercontent.com/30211121/38099438-3822dd80-3398-11e8-9745-499499d9f355.png)

But something interesting happens when y

[2018-03-29 16:19] teryhill commented on #1090
Works fine in mine if I am in the right place.

![image](https://user-images.githubusercontent.com/4655366/38100432-633e7f94-334b-11e8-8724-a41ecefe603d.png)

[2018-03-29 16:20] 2208Abhinav commented on #1090
Which path did you follow @teryhill ?

[2018-03-29 16:21] teryhill commented on #1090
I went to fees then fee sheet.

[2018-03-29 16:22] 2208Abhinav commented on #1090
There is a problem in mine then, should we ask others?

[2018-03-29 16:35] teryhill commented on #1090
Yes get others to check. My code could be different. I suspect that a bootstrap or fancybox change might have been made in the program in another "Path" and it could be causing issues here. Look at 1087 and you can see what I mean. It is vital to test with the entire system.

[2018-03-29 16:37] 2208Abhinav commented on #1090
@naveen17797 @apooravc please see this issue.

[2018-03-29 17:17] muarachmann commented on #1090
Mine works fine

[2018-03-29 17:25] apooravc commented on #1090
Mine works fine as well.

[2018-03-29 17:37] teryhill commented on #1088
@prabhakarpd7284 look in the error log and see if you are getting an error

[2018-03-30 05:34] 2208Abhinav commented on #1090
Mine os is Ubuntu 64-bit and I am testing on firefox.

[2018-03-30 05:35] 2208Abhinav commented on #1090
It seems like only I am facing this issue. @teryhill should I close this issue.

[2018-03-30 05:53] naveen17797 commented on #1090
![screenshot from 2018-03-30 11-22-19](https://user-images.githubusercontent.com/18109258/38126224-c810de00-340c-11e8-83b4-803b7c9d6511.png)
ubuntu 64 bit 16.04 on chromium

[2018-03-30 06:02] 2208Abhinav commented on #1090
@naveen17797 did you click on Administrative and then further on any options like Procedure Order

[2018-03-30 06:06] naveen17797 commented on #1090
Nope

[2018-03-30 06:08] 2208Abhinav commented on #1090
@naveen17797 do it and tell whether they work or not

[2018-03-30 06:23] naveen17797 commented on #1090
If i click on adminstrative menu it does not work, but if i click on encounter summary and then on adminstrative menu it works

[2018-03-30 06:30] 2208Abhinav commented on #1090
Yes @naveen17797 thats what I am saying, something weird is happening there.

[2018-03-30 10:27] prabhakarpd7284 commented on #1088
Nope, nothing is getting logged in`log` table.

[2018-03-30 13:33] teryhill commented on #1088
@aethelwulffe is there a reason to keep this option. Since we are using the tabs I don't think opening another instance (session) is needed. I have always kept this turned off so the customers would not get any cross secession issues. @tmccormi

[2018-03-30 14:08] teryhill commented on #1090
Based on the video, it appears that there is a resource issue, IE Fancybox , jquery etc. It would great if one or all of y'all look into it. I may not have the most updated code from the last GCI secession.

[2018-03-30 15:05] 2208Abhinav commented on #1090
@teryhill we will take care of it :smiley:

[2018-03-30 15:17] 2208Abhinav commented on #1090
@teryhill I will try to solve it

[2018-04-04 15:16] AfiMorgan opened #1093 "Usernames with underscores and spaces are broken in Access Control List Administration frame"
## ADMINISTRATION -> ACL

## Clicking on "edit" on a user with an underscore in the name returns a 404 - error.

Cause:
the function **generic_click()** in _/interface/usergroup/adminacl.php_ splits the ID of the <a> into an array using underscores.
For the user "admin" the **ID** of the <a> tag is "admin_membership_list" which gets split into:
temparray[0] = admin,
temparray[1] = membership,
temp

[2018-04-04 15:33] teryhill commented on #1093
@naveen17797 If you would like . If I remember correctly it just needs to allow it.

[2018-04-04 15:47] AfiMorgan commented on #1093
@teryhill no problem

@naveen17797 I was able to work around the underscore issue with this quick fix right after the declaration `temparray = cthis.id.split("_");`
[code]

[2018-04-04 15:48] naveen17797 commented on #1093
you can sent the PR if you have fixed it @AfiMorgan

[2018-04-04 15:53] AfiMorgan commented on #1093
@naveen17797 I'll send a PR once I get the other issue with the space in the username fixed :)

[2018-04-04 15:54] teryhill commented on #1093
@naveen17797  about line 106 in adminacl.php , then add the supplied code. Could add .replace(" ","\\ ") to the end of lines 313,314 and 316

[2018-04-04 15:55] teryhill commented on #1093
![image](https://user-images.githubusercontent.com/4655366/38319126-0c9bec0e-37ff-11e8-8f19-917a9c225c1d.png)

Like this

[2018-04-05 16:34] #956 closed

[2018-05-02 23:19] teryhill commented on #1093
closed on gitlab

[2018-05-02 23:19] #1093 closed

[2018-05-02 23:24] teryhill commented on #983
closed in gitlab

[2018-05-02 23:24] #983 closed

[2018-05-02 23:29] teryhill commented on #897
closed on gitlab

[2018-05-02 23:29] #897 closed

[2018-05-03 13:40] #912 closed

[2018-05-03 13:41] #900 closed

[2018-05-03 13:42] #896 closed

[2018-05-03 13:44] aethelwulffe commented on #893
General UI changes have passed this by...and a general "input warnings" library should be part of that, but closing this (with notes to include it as an example for a future project.

[2018-05-03 13:44] #893 closed

[2018-05-03 13:47] aethelwulffe commented on #191
This issue is covered elsewhere...abundantly.

[2018-05-03 13:47] #191 closed

[2018-05-03 13:47] #695 closed

[2018-05-03 13:50] aethelwulffe commented on #91
Suggesting that this get merged into a setup tracking project.

[2018-05-03 14:26] #553 closed

[2018-05-03 14:33] aethelwulffe opened #1100 "Move GACL/Smarty to /assets"
Remnant SMARTY calls from our previous SMARTY cleanup:
 Only GACL still uses SMARTY.
  Action desired is to move GACL to /Assets, along with SMARTY components, so that a 1:1 replacement is easier to implement.

[2018-05-03 14:43] #781 closed

[2018-05-03 14:45] #892 closed

[2018-05-03 14:54] #1041 closed

[2018-05-03 14:55] #961 closed

[2018-05-03 14:57] aethelwulffe commented on #1088
Let's dump the option here.  We should change the behavior of overlapping tabs with a toggle control (maybe right on the header bar) to do "tab organization" things.

[2018-05-09 11:33] marcusbow opened #1109 "Users, Calendar and Default Facility"
Sorry, first post here, hopefully not intruding.

Users that are restricted to only seeing patients at their own facility are still able to see patients' names that are scheduled on the calendar.  While restricted users are not able to access these patients' charts, they can see the reason for the visit/any notes in the calendar for that patient.

This feels problematic.

Would like to see an opti

[2018-05-10 18:38] marcusbow opened #1110 "Users, Tag Filter Creation Tool"
The tag filter creation tool is unable to select users that haven't been marked as a provider in the /Administration/Users tool. Workarounds are creating the filters in the database directly, or mark the user as a provider temporarily.

Also, it adds an S to the end of the user's names that are present.  So, supposed user Sam Testa becomes Sam Testas.

[2018-05-10 21:55] Trodrige opened #1111 "Audit changes made to forms"
The forms need a way of telling who made changes to them. For example the misc_billing_forms, we need to see when and who changed the data entered in the form. This will be done in other forms as well. But if it starts here, then it can be implemented in other forms as well.

[2018-05-10 21:58] teryhill commented on #1111
That is a super good Idea @Trodrige  You been talking to the Gramps again 8^)

Discussion @tmccormi @aethelwulffe

[2018-05-10 23:43] Trodrige commented on #1111
Not just the last, but the whole thing in a scroll box.
The users will find it easier to see these log under the form, rather than going elsewhere to see the changes that have been made to the form.

[2018-05-11 14:32] Trodrige opened #1114 "Enable dropdown when user hovers over menu item"
![selection_108](https://user-images.githubusercontent.com/16147419/39929534-314d4e0a-5530-11e8-82bc-c2b92e6a2827.png)

The user doesn't have to click on the menu item to see the dropdown list.

[2018-05-11 14:38] Mangielijah commented on #1114
Oh yea i think it should be an Automatic dropdown when hovered i will love to work on this

[2018-05-11 15:07] Trodrige commented on #1114
Go ahead @Mangielijah, you have this.

[2018-05-11 15:13] Trodrige commented on #1114
Go ahead @Mangielijah, you have this.

[2018-05-11 20:45] Mangielijah commented on #1114
Thanks Man
Will let you know if i need help

[2018-05-12 22:00] Trodrige commented on #1114
@aethelwulffe @teryhill I can't assign @Mangielijah to this issue. Please add him. Thanks

[2018-05-14 14:53] naveen17797 opened #1120 "Updater for Libre EHR"
To develop an updater for libre ehr which uses github api for updating the application
The rate limit for github api is 5000 calls per hour, thats the only disadvantage we have, i hope the updater will be optimized to not exceed 5000 calls
open for suggestion
@teryhill @aethelwulffe @nileshprasad137 @tmccormi

[2018-05-14 15:31] tmccormi commented on #1120
If that means "overall number of requests" from the entire installed base, i don't think that will be an issue.  No reason to update a clinical site very frequently. Checking for security patches is something to consider the frequency of, however

[2018-05-14 15:35] tmccormi commented on #1120
Should make the source repo configureable,  of course, to support customized versions.

[2018-05-14 15:35] naveen17797 commented on #1120
@tmccormi the updater also proposes a way to test pull requests, ie in developer mode (which may exceed 5000 requests )
there are two modes in updater
1.user mode (updates the application and does normal stuff)
2.developer mode ( used to test the pull requests)
more info on it can be found here
https://summerofcode.withgoogle.com/serve/6702835723403264/

[2018-05-14 16:53] aethelwulffe opened #1121 "misc_billing_options and claim class fatal errors"
[code]
The above error with `$pdf =& new Cezpdf('LETTER');`
can be bypassed by removing the ampersand, to see the bigger error:

[code]

    Obviously, miscOnsetDate() is not defined in the code base (claim.class.php?).
  This was all changed in #1053, and looks like a partially complete merge.
  Deeper testing (meaning minimal actually) of the billing system in a production environment was requir

[2018-05-14 17:49] aethelwulffe commented on #1120
Response for GET /rate_limit:
Status: 200 OK
X-RateLimit-Limit: 5000
X-RateLimit-Remaining: 4992
X-RateLimit-Reset: 1526319998

[code]
To note, "core" replaces the deprecated "rate" object.  Check to see if you are using it.
I don't think the rate limit will hurt us.

[2018-05-14 17:52] naveen17797 commented on #1120
@aethelwulffe just assuming all possible scenarios to make some validations inside the updater.And also able to adapt if github changes its rate limit, so i will try to use less calls as possible

[2018-05-14 17:59] aethelwulffe commented on #1120
Some of us may have...um, more than one account.  That works too.  And if you can just send requests by a zombienet proxy, you can get 60 anonymous calls per IP.... 😼
SO:
Incremental updates need to watch the X-RateLimit-Remaining, and the time to reset.  BUT:  You can make Conditional Requests, and that should be the preferred method for all requests.
https://developer.github.com/v3/#conditional-

[2018-05-14 18:03] naveen17797 commented on #1120
yep,i think a user access token would do fine for all the normal users,
But my updater should be flexible if the rate limit was exceeded(wait until the limit gets removed) and should not update until all the changed files are obtained via API,so preventing application damage ( this wont mostly occur since we are not going to 25% of the rate limit, i believe)

[2018-05-14 18:04] naveen17797 commented on #1120
can you add label ad gsoc?

[2018-05-16 15:19] aethelwulffe commented on #1121
Not resolved:
From user:
We have two functions working with the /Fees/Billing and one that doesn't.
  CMS 1500 PDF generates a pdf,
   CMS 1500 TEXT generates a text document, and Generate X12 causes a white page with following error

    [Tue May 15 15:36:58.448006 2018] [:error] [pid 30484] [client 65.153.195.246:31695] PHP Fatal error:
      Uncaught Error: Call to undefined method Claim::miscO

[2018-05-16 21:16] tmccormi opened #1127 "SETUP of new install from Master Fails"
sqlconf.php is not missing from /sites/default  so setup.php fais when it checks.

Setup would create it (I believe), but currently it can't get past the "Is it writeable step".

This was apparently removed and merged without proper testing.

db92b73 MIPS module refactor (#1102)
M       sites/default/menu_data.json
D       sites/default/sqlconf.php

[2018-05-17 13:10] aethelwulffe commented on #1127
It was dropped at the last moment, as I believed it had already been deleted from the repo (due to you stating quite a while ago that this was your intent), and obviously my test instance had a copy.

How about I do a PR that actually gets us past this piece?

[2018-05-17 13:46] aethelwulffe commented on #1127
Interesting notes:
ZEND configuration is still all over the place.
Setup references style_sky_blue.css
A TODO remove comment on some site directory called CVS

QUESTION:  Is there any reason, seeing as the installer creates the file anyway, and sets the permissions, to not simply bypass the check for the config file completely?  I am not seeing any reason to remove any other conditional statements

[2018-05-17 17:34] aethelwulffe commented on #1127
Lots of Chicken and Egg stuff with the setup file and the sqlconf.php.
Quick solution, I can push a PR with a copy of the file.  Second, I have a branch here:
https://github.com/LibreHealthIO/lh-ehr/compare/Setup-Legacy-Remove
where I am doing a bit more, experimentally at least.
1.  Setup/index needs an installation state configuration.
case 0 = normal mode, no sites installed.
case 1 = normal mo

[2018-05-17 20:12] aethelwulffe commented on #1127
#1128 or I can just put back the config file..(gross).

[2018-05-17 23:41] #871 closed

[2018-05-18 16:55] aethelwulffe commented on #1121
if ($claim->miscOnsetDate() && ($claim->box14Qualifier()) && ($claim->miscOnsetDateValid())) { seems to still be causing issues in gen_x12_837.inc.php

[2018-05-18 17:05] aethelwulffe commented on #1121
Claim.Class has:
[code]
These do not seem to match with what is in the claim generator.

[2018-05-18 17:43] aethelwulffe commented on #1121
Leaving this open until deployed on preproduction test.

[2018-05-19 16:54] aethelwulffe commented on #1109
I am starting a test instance to reproduce this issue clearly.
Steps:
Create two providers
Create two facilities
Create two patients
Create a tag filter based on a dems element "facility" to restrict each provider access to patients at other facilities.
Set the schedule facilities of each provider to one of the facilities.
Restrict user access to scheduled facilities
Create an appointment for each

[2018-05-22 06:09] #1127 closed

[2018-05-23 15:01] aethelwulffe opened #1138 "REVIEW CODEz PLEEZE"
Not getting enough code reviews.  Currently, there are 23 pull requests, some of them waiting on second review, many of them are staged PR's that need merging before work can continue.  Please do some code reviews friends and neighbors.  If we each did 1 (one) a review every week, there would never be anything waiting on reviews.

[2018-05-23 15:09] aethelwulffe opened #1139 ""Plugins" system menu weakness"
"Plugins" system, which currently encompasses only tags/filters, has a severe weakness.
Anyone that has ANYTHING in their ACL settings that allows access to Administration menu, the plugin system adds the tags admin links to the menu without further regard.  Thus, this is auto-generated on the global enabling of the tags plugin.

 This means that anyone with "Clinician" or "Physician" access can c

[2018-05-23 15:24] aethelwulffe opened #1140 "TAGS/Filters links dead"
administration>tags
Create a tag.
Click on the tag color.
The requested URL /testinstance1/interface/tags_filters/javascript; was not found on this server.

[2018-05-23 19:49] tmccormi commented on #1138
I looked at them last week and none were ready, they all looked like WIP to me.  Will look again

[2018-05-23 20:02] marcusbow commented on #1140
This seems to be true of Administration>Patients/Tags>status link as well.

[2018-05-23 20:22] #971 closed

[2018-05-23 21:08] tmccormi commented on #986
This seems to related to other changes in the way we use bootstrap etc ...

[2018-05-24 00:37] teryhill opened #1141 "Changes to provider section of appointment add"
Changes to provider section of appointment add.

The first commit is to clean up the code some.

I am proposing that we dump the duration on the provider side and use a start and end time. Most customers who use reserve or vacation for partial days want to just specify the start and end time.

![image](https://user-images.githubusercontent.com/4655366/40458194-b06bf2ee-5ec8-11e8-8cfe-6380c31e38ba.

[2018-05-24 00:39] tmccormi commented on #1141
Duration is not helpful on the provider setup and it frequently confuses the the user re: in/out of office setup.  So yes.

[2018-05-24 00:40] teryhill commented on #1141
@aethelwulffe  @tmccormi  proposed changes

[2018-05-24 00:42] teryhill commented on #1141
@tmccormi I am also working on adding a feature to allow the out of office respect the end time, so when you create an in office then specify an end time the system will create an entry for out of office for you.

[2018-05-24 00:45] teryhill commented on #1141
I am also wondering if the "Repeats stuff" listed below still has a purpose for patient or provider since the addition of the day of the week selection.

  | Repeats | every     2nd     3rd     4th     5th     6th          day     workday     week     month     year              4th FridayLast Friday
-- | -- | --

[2018-05-24 00:50] tmccormi commented on #1141
That's sound excellent, but make sure you keep it possible to have multiple IN/OUT pairs per day.
Maybe a new "Description" of IN that is "Office Hours" and the Start/End create the IN and OUT tags?

[2018-05-24 00:55] tmccormi commented on #1141
Being able to repeat something every day or every other week etc is needed for Providers for sure, might be useful for patients with recurring appts (Acupunture, Chiro, Mental Health).

[2018-05-24 01:03] teryhill commented on #1141
I am thinking of removing the out of office item from view so it cannot be selected.

Why would a provider be doing multiple in/out of office a day?

[2018-05-24 01:07] teryhill opened #1143 "EOD report changes"
Changes to the EOD reports to give the user name instead of the number. Also looked at encounter provider to help eliminate the provider zero. Added payment methods to the reports. Added another report that is used to track user's based on the encounters.

[2018-05-24 01:11] teryhill commented on #1141
@tmccormi do you want me to make the next commit or do you want to review and commit the one out there?

[2018-05-24 04:13] tmccormi commented on #1141
In one of our implementations (Ireland) they use multiple IN/OUT to let the Patient Mobile scheduling application know that the are available for TeleHealth from 9am-12pm and later from 6p-8pm (for instance).  Since the ONLY use the emr for telehealth those are the effective "office hours".  Schedules vary by the day....

[2018-05-24 04:15] tmccormi commented on #1141
You can keep going if you have more tweaks ...

[2018-05-24 16:05] aethelwulffe commented on #1141
I am going to approve this (after I have checked against earlier PR's touching add_edit).

[2018-05-24 16:36] aethelwulffe commented on #1121
Validated.

[2018-05-24 16:36] #1121 closed

[2018-05-24 16:41] aethelwulffe commented on #1114
I will add @Mangielijah as soon as Mangie accepts his collaborator invitation.

[2018-05-24 16:42] aethelwulffe commented on #1109
#1137 has been approved by me...on person.  Waiting on another review to merge.  Code checks out though.

[2018-05-24 16:57] aethelwulffe opened #1145 "Facility list in calendar really horrible."
The list of facilities should not be "buttonized".
It should be an orderly row of *selectable* text labels with a background color indicative of the color selected for the facility.
Current (in theme "light"):
![image](https://user-images.githubusercontent.com/553751/40499757-de621e8e-5f50-11e8-875d-f6da402cbcbd.png)

Past (how it should look:
![image](https://user-images.githubusercontent.com/553

[2018-05-24 17:00] aethelwulffe opened #1146 "User Admin Save Invisible Light Theme"
Without highlighting:
![image](https://user-images.githubusercontent.com/553751/40500314-59c17f06-5f52-11e8-9979-eab22297a6ee.png)

With Highlighting:
![image](https://user-images.githubusercontent.com/553751/40500331-6759dbae-5f52-11e8-83a9-0ea60d6d3eff.png)

[2018-05-24 17:00] aethelwulffe commented on #1146
izimodal please save us.

[2018-05-24 17:02] #1056 closed

[2018-05-24 17:03] aethelwulffe commented on #1088
Mangie,
Did you get this into a PR?

[2018-05-24 17:04] aethelwulffe commented on #1088
Yes, you did, and it was merged.  Closing this.

[2018-05-24 17:04] #1088 closed

[2018-05-24 17:15] aethelwulffe opened #1147 "TAGS plugin performance issues."
When you have thousands of patients and you set a tag for each one of them to check if the user has access to them, loading of a patient selected from the search is very unresponsive.  For a patient with 40 encounters, on a server with stupid-huge resources, rendering the demographics page takes 69 seconds.

I am not sure if the performance hit is only when tags are used in a major fashion, or if

[2018-05-24 17:16] aethelwulffe commented on #502
Bump

[2018-05-24 20:57] apooravc commented on #1146
@aethelwulffe If I'm not wrong, #1136  would take care of this. Similar issue with add/edit facilities, taken care by [iziModal-facilities](https://github.com/LibreHealthIO/lh-ehr/pull/1134).

[2018-05-24 21:20] aethelwulffe commented on #1146
I thought so.  This is a non-issue then, but since this is linked to the PR numbers now, It will be good to leave this open for testing review things to check.

thanks!  Sooo looking forward to moving to the new modal window.

[2018-05-25 02:44] aethelwulffe opened #1152 "Unknown directory asset 404 action"
\LibreEHR\interface\tags_filters\models\PatientTagEntry.php:

 line  16 :            ` new Column(array('width' => '70px', 'behavior' => new ActiveStatic(array('name' => 'tag_name', 'class' => 'tag_name', 'url' => $GLOBALS['webroot'] . '/interface/crisisprep/index.php?action=dispatch!element_changed')), 'title' => 'Tag Name', 'data' => 'T.tag_name')),`

Anyone know what the heck "crisisprep/" is/w

[2018-05-25 02:49] aethelwulffe commented on #1152
A search for "crisisprep" lands me here:  https://crisisprep.mi-squared.com/openemr/interface/login/login_frame.php?site=default
-Guess we know where this came from... :shipit:

[2018-05-25 03:09] aethelwulffe commented on #1152
404 Not Found
       /LibreEHR/interface/tags_filters/javascript;: 2 Time(s)

-Any ideas?  Can't figure out what formed this bad request, where or when.  Something assembled it, 'cause there is no "tags_filters/javascript".

Maybe here(this looks like "javascript:" is an empty or local function call)?:
LibreEHR\interface\tags_filters\assets\bootstrap\css\bootstrap.css:
  210    }
  211    a[href^=

[2018-05-25 03:26] aethelwulffe opened #1153 "eRx NewCrop test status"
Need to test the eRx NewCrop code in LibreEHR.  I don't know if this has ever been done.
It also needs a directory structure refactor as well as a good looking over.  Frankly, we need to give it a LOT of attention, and start planning...at least tentatively, a real refactor.

[2018-05-25 03:28] aethelwulffe commented on #1153
-with better/consolidated configuration, some use reporting, and better error reporting.

[2018-05-25 03:31] teryhill commented on #1153
Why? It is a vendor supported revenue stream and nothing comes back to the org.

[2018-05-25 03:40] aethelwulffe commented on #1153
Because it is the only eRx solution we have...
-Personally, I need it to work in LH.  Aside from that, the revenue stream sort of supplies Harley with food, and he supplies us with nifty videos.  Kinda like trading chickens for corn.

[2018-05-25 03:41] teryhill commented on #1153
Weno

[2018-05-25 03:47] aethelwulffe commented on #1153
'cides, iffin you don't like it, moving the code out of the core and eventually making it optional should be attractive...'cause it is already in there.

[2018-05-25 03:48] aethelwulffe commented on #1153
Chickens>corn>feed chickens corn>chickens++

[2018-05-25 03:49] aethelwulffe commented on #1153
🐔

[2018-05-25 03:49] aethelwulffe commented on #1153
🌽

[2018-05-25 03:50] aethelwulffe commented on #1153
🐔 🐣 🐥 🐤 🍗

[2018-05-25 03:51] aethelwulffe commented on #1153
🥚 🍳

[2018-05-25 03:51] aethelwulffe commented on #1153
😜

[2018-05-25 03:52] teryhill commented on #1153
Okay stop

[2018-05-25 03:53] aethelwulffe commented on #1090
I can't replicate this folks.  Tried every combo.

[2018-05-25 05:01] aethelwulffe commented on #239
Honestly, I don't see us being able to pull off a vendor application use case in our project.  RocketChat, sure..but really for simple "I am destroying the server" messages, would not a native thing that just uses email do a rather lot?
#1154

[2018-05-25 05:17] muarachmann commented on #1090
@aethelwulffe check this video http://muarachmann.000webhostapp.com

[2018-05-25 06:33] aethelwulffe commented on #1090
Ah, thanks.  Well, that looks like the stuff.

I didn't (and never do) have the fees enabled in the menu...

I will re-test tomorrow.  Looks like we should be able to figure this
one (out first JS error probably)

On 2018-05-25 01:17, muarachmann wrote:

[2018-05-25 08:53] apooravc commented on #1145
Working on it.

[2018-05-25 15:45] aethelwulffe commented on #1145
Great answer man!

[2018-05-25 19:55] #791 closed

[2018-05-25 22:29] teryhill commented on #1141
also @aethelwulffe and @tmccormi  @apooravc made a change to this to allow a status of "Deleted" If the user selects this status it will delete the appointment, it is logged in patient tracker element.

I propose that we remove the Delete button from the patient side of the appointment screen and let the user use the delete status. This will give better tracking of who deleted and make it so the u

[2018-05-25 22:33] aethelwulffe commented on #1141
Delete, or "cancelled"?  Are they the same thing in our imagined workflow?  Probably not...but I think it is worth asking.

[2018-05-25 22:46] teryhill commented on #1141
They are different. Delete should only be used if the appointment was made in error. Canceled now has a reason for canceling. Brings up another point should the cancel button go away also?

[2018-05-25 22:51] aethelwulffe commented on #1141
I was kind of thinking that everything you do should be a "status" update...so, that sounds like it's right.  So long as the "status" update is convenient and not hacky (buttons vs. dropdowns or goofy symbols) then folks will not WANT to do anything but a status update.  Makes sense "I click one of these things in this group of thingies to make any major change".

[2018-05-25 23:00] teryhill commented on #1141
I will post the code change to the current changes that are awaiting approval and you can test and evaluate it.

[2018-05-26 14:19] teryhill commented on #1141
I made the last major changes to the add_edit_event program. I have some more things to change but need this reviewed and approved so we can continue.

[2018-05-26 17:08] tmccormi commented on #1141
You should also change the text in add_edit to say "Change Status To:"
which better reflects the nature of the selector.

In a UI buttons tend to cause actions, selectors just change values.

Tony McCormick
Medical Information Integration

On Sat, May 26, 2018, 7:19 AM Terry Hill <notifications@github.com> wrote:

--
Please
 be aware that e-mail communication can be intercepted in
transmission
or

[2018-05-27 16:50] aethelwulffe commented on #1141
Personally, I would grid current status selection(s) as in the space available there as inversion color toggle buttons.  "Save" can update things, but if you select the button, you could do the fade message thing "Status set to: blah", or just make folks hit the submit or cancel to close the modal for any and all changes.

[2018-05-31 00:42] teryhill opened #1162 "Not able to change fields in globals."
I cannot change some of the fields in globals. I checked it on the demo site and I get the same issue. For example I am changing calendar end time and it will not save the new entry.

![image](https://user-images.githubusercontent.com/4655366/40754924-ddcd57f6-6449-11e8-9887-c12f9667c71b.png)

I think it is an issue with the field validation.

[2018-05-31 14:57] aethelwulffe commented on #1162
AM PM issue?

On 2018-05-30 20:42, Terry Hill wrote:

[2018-06-02 01:38] apooravc commented on #1162
Working on it, in Calendar globals, the starting hour & ending hour fields + last 5 fields also are not saving changes.

[2018-06-03 00:14] #1141 closed

[2018-06-03 00:16] #1143 closed

[2018-06-04 19:20] apooravc commented on #1162
@teryhill From line `205` to `320`, is the code for checking field values and updating them in DB. I think the issue with calendar starting/ending hour is that the flow of control never goes inside the corresponding `else if check` block at line `300`. The code iterates through each entry in `$GLOBALS_METADATA`, so it should go once inside `300` block as it does in other blocks above it. If it doe

[2018-06-04 19:33] teryhill commented on #1162
schedule_start and schedule_end are the names of those fields in the metadata so I am not sure why those would not be working.  If the others are missing the checks that could be the reason they are not being changed.

[2018-06-04 19:40] apooravc commented on #1162
@teryhill Whenever I want to check where flow of control is going while program is running, I add a `echo "<script>console.log('{here}')</script>"`; to the blocks which I want to check. When I checked in starting and ending hour case, I found that there was no log in console for them, but there was a log for the blocks above them. I haven't checked other sections, but I think a lot are missing the

[2018-06-05 02:18] teryhill opened #1167 "Is a form active"
Adding a means to check if a form is active. This function checks to see if the sql file (table.sql) has been run and it checks to see if the form is enabled in forms admin.

This can be used test and ensure the form is active in the system. Will be handy for the forms generator and the encounter revamp.

[2018-06-05 03:20] teryhill opened #1169 "Added back the ability to create a patient from the calendar"
This was in the code before the calendar was upgraded . I just fixed it so it would work.

[2018-06-05 13:10] aethelwulffe commented on #1141
@teryhill I know I have been slow here...did we need to close this?  I was just back to reviews!

[2018-06-05 13:13] aethelwulffe commented on #1167
The active form is checked with a query to the `registry` table.  Nothing else is needed.

[2018-06-05 13:28] RAJAGOPALAN-GANGADHARAN commented on #1114
mentor's im a beginner could you please assign me on this issue

[2018-06-05 18:40] #1145 closed

[2018-06-05 20:23] #824 closed

[2018-06-07 11:44] RAJAGOPALAN-GANGADHARAN commented on #1114
@aethelwulffe i almost feel so stupid to ask a question like this
but since im a beginner please help me out.
i tried editing a php file and ran it on the server but the changes are not reflected .should i reinstall using setup.php to check the changes or else tell me how to do so.
Please help me out guys 🙏

[2018-06-07 12:09] AfiMorgan commented on #1114
@RAJAGOPALAN-GANGADHARAN You don't need to reinstall.  What file did you make changes to and what changes did you make?
Dont feel stupid for asking questions. That's what learning is all about. :)

[2018-06-07 12:28] RAJAGOPALAN-GANGADHARAN commented on #1114
I am not able to find the change reflected on the page where am i going wrong please help me mentors.

[2018-06-07 12:34] AfiMorgan commented on #1114
@RAJAGOPALAN-GANGADHARAN That's where things get a little tricky.  That list is controlled by the Administration -> Lists in the main menu.

Try looking in /interface/main/finder/dynamic_finder.php.

[2018-06-07 12:38] AfiMorgan commented on #1114
Also, if you are just testing it out to see changes, put the test code outside of the <select> element but inside the <td>.  This way you can be sure that it will show up.  Right now if you edit the correct one, YOLO wouldnt show up in the list unless you opened it since there is a default option with a "selected" property when the page loads.

Report back with an update 👍

[2018-06-07 12:52] RAJAGOPALAN-GANGADHARAN commented on #1114
Ahh i get what ur trying to say @AfiMorgan is this what you mean please check
![3](https://user-images.githubusercontent.com/29299197/41100704-af9fb0ae-6a7f-11e8-8de9-ee3c4b5b1693.PNG)

[2018-06-07 13:05] AfiMorgan commented on #1114
@RAJAGOPALAN-GANGADHARAN
Edit this file instead: `/interface/main/finder/dynamic_finder.php`
The fields get generated at the top with the SQL statement.
Then they are echo'd out at the bottom of the file with `<?php echo header0; ?>` and `<?php echo header1; ?>`

Around line 161 of `/interface/main/finder/dynamic_finder.php` you will see this:
`
<table cellpadding="0" cellspacing="0" border="0" cl

[2018-06-07 13:07] RAJAGOPALAN-GANGADHARAN commented on #1114
Then can i know the use of the snippet in new.php

[2018-06-07 13:08] RAJAGOPALAN-GANGADHARAN commented on #1114
naturally shouldnt it work
as far from my understanding
 male and female is being generated from sql and echoed out as options

[2018-06-07 13:22] AfiMorgan commented on #1114
Ah...I gotcha.  make sure that your browser is pointing to (your_install_directory)/interface/new/new.php

if you have
[code]
open the drop down and it should be the second item in the list.

[2018-06-07 13:31] RAJAGOPALAN-GANGADHARAN commented on #1114
@AfiMorgan thanks for guiding me till here and one more help can you tell me the default install directory

[2018-06-07 13:35] AfiMorgan commented on #1114
@RAJAGOPALAN-GANGADHARAN Ignore my previous references to `/interface/main/finder/dynamic_finder.php` I didn't see that the iframe source url wasnt changing in my browser  :expressionless: @aethelwulffe was accurate in saying *we* are all stupid. lol

In regards to the "default install directory", its different for everyone.  If you are using localhost, it may be `localhost/lh-ehr/`

[2018-06-07 13:37] RAJAGOPALAN-GANGADHARAN commented on #1114
Ah i must be proud to even have a conversation with great contributers and i do use localhost only which is not giving me changes 😕 should i try with my ipv4.

[2018-06-07 13:38] AfiMorgan commented on #1114
What browser are you using?

[2018-06-07 13:38] RAJAGOPALAN-GANGADHARAN commented on #1114
tried in chrome as well as firefox developer edition

[2018-06-07 13:39] RAJAGOPALAN-GANGADHARAN commented on #1114
may be should i join irc channel 😄 instead of talking here

[2018-06-07 13:41] AfiMorgan commented on #1114
In Chrome, open your inspector.  Click the Network tab and check the checkbox that says "disable cache" then with the inspector still open -> right click the refresh button and choose "empty cache and hard reload".

[2018-06-07 13:45] RAJAGOPALAN-GANGADHARAN commented on #1114
@AfiMorgan  😞 no improvements

[2018-06-07 13:45] RAJAGOPALAN-GANGADHARAN commented on #1114
@AfiMorgan maybe i made a mistake during installation

[2018-06-07 13:57] AfiMorgan commented on #1114
@RAJAGOPALAN-GANGADHARAN Nope, it's not your install. I am getting the same issue.  Give me one second.

[2018-06-07 14:19] AfiMorgan commented on #1114
@RAJAGOPALAN-GANGADHARAN Ignore the form in new.php. Edit new_comprehensive.php.  That's where those fields are being generated.

[2018-06-07 15:01] aethelwulffe commented on #1114
HA HA!  Oh boy!
Yeah...this form changed recently!

[2018-06-07 15:27] teryhill commented on #1114
That is a very old section of code and there use to be an option to use it. When the changes were made for the new form (new_comprehensive.php) that code was left as an option. Since then the option has been removed, but the code was not removed . There use to be an option in globals for '0' => xl('Old-style static form without search or duplication check'), .

[2018-06-07 16:04] RAJAGOPALAN-GANGADHARAN commented on #1114
Thank you guys for your tremendous help i was successfully able to change few things and be happy about it.Now as said i will make it a hoverable option.Thank you so much for the support guys. 😄 😃

[2018-06-07 16:11] teryhill commented on #1167
Merged closing

[2018-06-07 16:11] #1167 closed

[2018-06-08 15:00] aethelwulffe commented on #1114
You could put in a PR to remove the old unused legacy code.  That would be a great start.  Just double check to make sure nothing calls it at all.

[2018-06-09 01:35] #1162 closed

[2018-06-09 02:39] teryhill commented on #1120
@tmccormi , @aethelwulffe  y'all need to download it and test it. Currently you have to create 2 directories downloads and backup in the updater directory but @naveen17797  is going to put a readme file in those directories so git will pick them up.

[2018-06-09 06:56] RAJAGOPALAN-GANGADHARAN commented on #1114
@aethelwulffe i checked and it seems it is useless . so i commented the whole part (just for safer side).or should i delete and post a PR
Thank you so much guys

[2018-06-10 00:44] tmccormi commented on #1120
Will try and mess with this later.

Tony McCormick
Medical Information Integration

On Fri, Jun 8, 2018, 9:23 PM naveen <notifications@github.com> wrote:

--
Please
 be aware that e-mail communication can be intercepted in
transmission
or misdirected. Please consider communicating any sensitive
information
by telephone.  The information contained in this message may
be
privileged and confidential.

[2018-06-11 10:40] RAJAGOPALAN-GANGADHARAN commented on #1114
@aethelwulffe Can you tell me where and all should i make this changes.

[2018-06-11 11:17] Trodrige commented on #1114
@RAJAGOPALAN-GANGADHARAN which changes are you referring? Do you want to open a pull request for the changes you made?
I can help you here. First I have to understand what you want.

[2018-06-11 12:32] Trodrige commented on #1114
Let me just drop this here!

Sure you created a new from the master branch before making these changes.
1. Add, commit, and push your changes to this branch in your fork of the libre-ehr repository.
2. Compare that branch with libre-ehr's master branch in the main repo.

Read here: https://yangsu.github.io/pull-request-tutorial/

[2018-06-11 12:53] RAJAGOPALAN-GANGADHARAN commented on #1114
@Trodrige my query is Where and all should i implement the dropdown on hover .I mean it is implemented already in the navbar.Which more places should i try to implement it.Thanks for your advice .

[2018-06-11 14:48] aethelwulffe commented on #1120
I have run this, and figured out the create directory stuff.  The better option is to have it create the directories with an appropriate chmod (which works for anything) at runtime after checking to see if they exist.

[2018-06-11 14:49] aethelwulffe commented on #1120
This is more like "Fried catfish on grits and a side of mango chutney."

[2018-06-11 20:28] teryhill commented on #1152
@kchapple Can you help us out here?

[2018-06-11 20:58] kchapple commented on #1152
I used the data tables backen framework from another project. Should be /interface/tags_filters/...

[2018-06-11 21:52] teryhill opened #1177 "Large Databases are an issue. Demo database with 10000 patients Created using Arts Data generation program"
We have been working with a large demo database. If you run a billing screen with no date of service and status of unbilled, with the background refresh of the calendar set to 60 seconds. The system will hang up, sometimes losing the MySQL connection. We have max execution set to 600 and max input vars set to 3000.

[2018-06-11 22:00] aethelwulffe commented on #1177
This is an old issue.  Should require a date range, or specify "do you really really want to do this".

[2018-06-11 22:02] aethelwulffe commented on #1177
Should definitely fix this!

[2018-06-12 19:15] AfiMorgan commented on #1177
I turned on slow-query-logging and set the time limit to 2seconds.
Went in to the cmd line and started watching with`tail -f query.log`
Then went into billing reports, unchecked the "data of service" and update the list.
I saw this query on line 1178 in interface/billing/billing_reports.php run over 60k times:
` $resMoneyGot = sqlStatement("SELECT pay_amount as PatientPay,date(post_time) as date F

[2018-06-13 21:41] tmccormi commented on #479
A pull request is coming from @growlingflea that is the baseline.  It's an Activity Log viewer we created for Dr Bob Hoyt.  Uses DataTables.

Looks like this
1) Default  TODAY
![defaultactivitytoday](https://user-images.githubusercontent.com/285835/41379733-a242fe6a-6f17-11e8-81ed-99aaa54e8f46.png)

2) Filtered Search
![filteredactivitylog](https://user-images.githubusercontent.com/285835/41379732

[2018-06-15 02:35] aethelwulffe opened #1182 "PERMANENT*Automated Update Feedback*STICKY"
This issue is for testing #1122 functionality for providing update/upgrade issue feedback from installers.  DO NOT CLOSE.
  Other mechanisms or another repo may be used as the ultimate API target, such as perhaps the github_pages repo.  This is currently for testing the feature.

[2018-06-15 02:52] naveen17797 commented on #1182
i will work on that feature now @aethelwulffe , lets test it on the issue

[2018-06-16 18:40] apooravc commented on #1177
A bit similarity with #774 regarding large database.

[2018-06-19 05:03] naveen17797 commented on #1182
something

[2018-06-19 05:05] naveen17797 commented on #1182
test comment

[2018-06-19 05:06] naveen17797 commented on #1182
@aethelwulffe #1122 test comment

[2018-06-19 05:07] naveen17797 commented on #1182
@aethelwulffe if you can able to see this comment, the feedback system works :relaxed:

[2018-06-19 14:53] Edwinguru commented on #1182
Yeahh it did worked, soon the commit will be made

[2018-06-19 15:10] aethelwulffe commented on #805
Is this resolved?
My current complaint with globals is that it takes *forever* to update.  Anyone know what is going on there???

[2018-06-19 15:43] naveen17797 commented on #1182
Feedback system will be ready soon, is it necessary to include the client info attached to the issue comment? like clinic name

[2018-06-19 15:55] teryhill commented on #805
I have not seen this issue happening any more. Closing this issue

[2018-06-19 15:55] #805 closed

[2018-06-19 15:56] teryhill commented on #805
@aethelwulffe my globals takes about 7 sec from the time I click save until it shows "Settings Saved"

[2018-06-19 22:42] teryhill opened #1184 "Added provider name display last name first initial"
We had full name, last name and resource. I added last name first initial

![image](https://user-images.githubusercontent.com/4655366/41627983-79e3121a-73f0-11e8-94df-a32dc9939e1c.png)

[2018-06-21 03:08] aethelwulffe commented on #1039
Has this been addressed with the new Procedures/Orders thingies?

[2018-06-21 03:19] #361 closed

[2018-06-21 03:28] aethelwulffe commented on #1008
How are we progressing on this as an issue or development concept?  I think we are probably doing pretty good, but the globals interface is still growing.
  I commented somewhere that on both my local machine as well as my servers, updating globals takes a very very long time.  Like, go get a cup of coffee level.  @teryhill responded that his only takes 7 seconds.
  I wonder if this has to do with

[2018-06-21 16:09] naveen17797 commented on #1182
Regarding #1122 test

[2018-06-21 16:44] apooravc commented on #1008
@aethelwulffe About the updating globals part, on my machine it took like 1.5 minutes and I think it might be because the code checks if a value in field is same as in DB and if it isn't, it updates but it loops over all fields to check that. Moving globals to their respective screens might fix this.

[2018-06-21 16:48] naveen17797 commented on #1008
Gettig globals to screen they control is also a good thing, but i have some other idea @apooravc @aethelwulffe , currently the global system validates and save or update every global field, if we post only the fields which are changed by means of jquery to the save part, we can easily reduce the time.

[2018-06-21 17:33] apooravc commented on #1184
@teryhill issue could be closed now.

[2018-06-21 17:36] teryhill commented on #1184
Yes @apooravc  it can. Merged closing.

[2018-06-21 17:36] #1184 closed

[2018-06-22 04:28] naveen17797 commented on #1182
Regarding #1113
this is the sample feedback sent from the updater, hope this works

[2018-06-22 12:31] aethelwulffe commented on #1182
I got three emails about stuff pushed to this issue, but I am not seeing the content here on line.  (I took a day off to stay in bed...exhaustion).

[2018-06-22 12:37] aethelwulffe commented on #1008
It really should not check each field like that, or it should build the array and push the whole thing as an array.  I hesitate to say, but I am almost convinced that globals should be crammed into a json string.  That makes looking them up in the database more difficult, but make a lot of other things easier.  A minute and a half is way, way too long.  I suspect that the time is actually related

[2018-06-22 12:39] aethelwulffe commented on #1008
Part of the issue is the logging of lots of PHP notices too.  That should not be overlooked.

[2018-06-22 13:33] naveen17797 commented on #1182
I just deleted the test comments, it is now integrated in to updater, you can test it.

[2018-06-22 13:50] aethelwulffe commented on #1182
Oh... I rather like looking at them. :)

[2018-06-23 02:21] teryhill opened #1190 "Getting error when statement print type is Modern/Images"
Getting the following error

[22-Jun-2018 14:43:47 America/Kentucky/Louisville] PHP Fatal error:  Uncaught Exception: TCPDF ERROR: Could not include font definition file: courier in C:\xampp71\htdocs\LibreEHR\modules\html2pdf\vendor\tecnickcom\tcpdf\tcpdf.php:2927
Stack trace:
#0 C:\xampp71\htdocs\LibreEHR\modules\html2pdf\vendor\tecnickcom\tcpdf\tcpdf.php(4275): TCPDF->Error('Could not inclu...')

[2018-06-23 02:31] teryhill opened #1192 "Insurance Company address line one and zip does not display in edit mode"
Insurance Company address line one and zip does not display in edit mode. Echo's left out of the code.

[2018-06-23 05:28] RAJAGOPALAN-GANGADHARAN commented on #1114
@Trodrige Now i will complete this one.Can you please tell me where and all should i implement this feature. Thank you in advance.

[2018-06-23 07:28] muarachmann commented on #1114
@RAJAGOPALAN-GANGADHARAN you just need to be smart have you ever used inpection tools before. Those could help you give the files were the issue is from. In order to get yourself familiar with the base code it is preferable you discover some of the files and mysterious_functions as @aethelwulffe  once said :). on your own any questions you are alwasy free to post them here, forums or chats. ;)

[2018-06-23 07:30] Trodrige commented on #1114
@RAJAGOPALAN-GANGADHARAN there are lots of places where you can find this error. Below is the one that caused me to open this issue.
<img width="1280" alt="screen shot 2018-06-23 at 8 29 37 am" src="https://user-images.githubusercontent.com/16147419/41806987-a9eb3cb8-76bf-11e8-9f74-231e30c44bf7.png">

[2018-06-23 15:19] apooravc commented on #1190
@teryhill Could be closed now.

[2018-06-23 15:21] apooravc commented on #1192
@teryhill Could be closed now.

[2018-06-23 17:43] muarachmann commented on #1114
@RAJAGOPALAN-GANGADHARAN you just need to be smart have you ever used inspection tools before. Those could help you give the files were the issue is from. In order to get yourself familiar with the base code it is preferable you discover some of the files and mysterious_functions as @aethelwulffe  once said :). on your own any questions you are always free to post them here, forums or chats. ;)

[2018-06-27 05:03] naveen17797 commented on #1182
Regarding pull request #1113
testing this feature - second time

[2018-06-27 05:03] naveen17797 commented on #1182
Regarding pull request #1113
testing this feature - second time

[2018-06-27 12:43] aethelwulffe commented on #1177
Long demographics page loading is an issue as well.  Possibly related to billing popups, meds/issues lists or any number of things.

[2018-06-27 22:25] aethelwulffe opened #1197 "users_facility not updating"
users_facility does not seem to update when changed...at least all the time.

The tests are made against #1189 .

Installation uses a non-default admin (not "admin") and a non-default site.
Running php 7.09

The table is touched in the following locations:
[code]

[2018-06-27 22:35] teryhill commented on #1197
Where are you changing the facility? Is it editing the facility or choosing a facility?

[2018-06-27 22:44] aethelwulffe commented on #1197
users_facility table.

That is where you get what scheduled facilities a user has access to are.

With an old database I had values in there.  With the new database
nothing is getting written to the users_facility table.
users_facility.table value should = 'users', then there should be a
facility ID in there.  Crazy, but I think that is what it is supposed to
have (off the cuff).

I don't have any

[2018-06-27 22:54] teryhill commented on #1197
So upon entry, when you edit the users and multi select the facility's , And get some one else to touch the rocks first.

[2018-06-27 23:39] aethelwulffe commented on #1197
Good idea, but I am here all alone, and there are a lot of rocks.

Started by tweaking the heck out of my my.cnf (my.ini actually). Figured
maybe I had something goofy going on.  Changed the globals theme, got
128 processes lit up.  Every option in globals that is generally
reasonable to turn off is off.  Everything.  Seeing the same result on
an Ubuntu server (production).  That is likely a separ

[2018-06-27 23:46] teryhill commented on #1197
Nope it does not update in that table.

How are you viewing the processes?

[2018-06-28 00:09] teryhill commented on #1197
![image](https://user-images.githubusercontent.com/4655366/42006125-ec7ece3a-7a45-11e8-9019-667893ca37d3.png)

[2018-06-28 00:17] aethelwulffe commented on #1197
SHOW PROCESSLIST is how I usually do it, but the following also works:
![image](https://user-images.githubusercontent.com/553751/42006317-1feaf9a0-7a47-11e8-80b1-bb733a6c36da.png)

[2018-06-28 00:30] apooravc commented on #1197
@aethelwulffe Please make sure if this global **Restrict Users to Facilities** in features is checked. It is required to be checked for correct working.

[2018-06-28 00:38] aethelwulffe commented on #1197
FOUND SOMETHING!

OK, when updating globals, I get ~1700 lines of error log written repeating the following:
[code]
BUUUUT, with the CALENDAR CLOSED, I do not get the addition of 128 extra processes suddenly firing up when updating globals finishes and everything refreshes.

WITH the calendar open and saving globals, the "waiting for localhost" sits there flashing in an odd manner, perhaps display

[2018-06-28 00:41] aethelwulffe commented on #1197
Is there something in the calendar/globals refresh that is not using persistent connections already established?

[2018-06-28 00:46] aethelwulffe commented on #1197
@apooravc
Heh...I have had that on and off quite few times over the last 14 hours of working on this.  Turning it on and off led me to this problem, then onandon.
Yes, during several tests, that feature was on.  (testing again now)

[2018-06-28 00:47] teryhill commented on #1197
@aethelwulffe  it worked on my system when I turned it on.

[2018-06-28 00:47] apooravc commented on #1197
@aethelwulffe This code below (in user_admin.php) updates users_facility:
`if ($GLOBALS['restrict_user_facility'] && $_GET["schedule_facility"]) {`
      `sqlStatement("delete from users_facility`
        `where tablename='users'`
        `and table_id=?`
        `and facility_id not in (" . implode(",", $_GET['schedule_facility']) . ")", array($_GET["id"]));`
      `foreach($_GET["schedule_facili

[2018-06-28 00:50] teryhill commented on #1197
@aethelwulffe I am not getting the error in my php error log. I am running php 7.1.4

![image](https://user-images.githubusercontent.com/4655366/42007040-aa21b4c0-7a4b-11e8-87e3-bd30786d6ebd.png)

[2018-06-28 00:56] teryhill commented on #1197
![image](https://user-images.githubusercontent.com/4655366/42007179-77e91f42-7a4c-11e8-869d-8c1343ef290d.png)

[2018-06-28 00:57] aethelwulffe commented on #1197
Test with the calendar closed:  Now able to update and see the users_facility table entries.

[2018-06-28 00:59] teryhill commented on #1197
Are you still getting the errors in the error log?

[2018-06-28 01:00] aethelwulffe commented on #1197
Was that with the calendar open?

I guess I am going to update my server software.  I am pleased with my mysql config file at the moment though.

[2018-06-28 01:01] teryhill commented on #1197
Mine yes with the calendar open.

[2018-06-28 01:01] aethelwulffe commented on #1197
Can't figure that second big spike I got...

[2018-06-28 01:03] teryhill commented on #1197
What version of PHPmyAdmin?

[2018-06-28 01:05] aethelwulffe commented on #1197
I am going to shut everything down and restart now, 'cause I just got the "error fetching appointments" deal, and patient_select isn't working (with the facility check on).  Might be due to lost session variables.

[2018-06-28 01:06] aethelwulffe commented on #1197
version 4.5.1...also old.

[2018-06-28 01:09] aethelwulffe commented on #1197
Yeah, I was still piling up errors/notices in the logs.  With _ALL turned on, there are quite a lot of warnings and notices when running the stuff.
-Could be the PHP version...who know.  Undefined indexes and the like are pretty easy to verify though.

[2018-06-28 01:13] aethelwulffe commented on #1197
Clean start:
[code]
The above is with the two facility related globals on, and some user_facilities settings.

[2018-06-28 01:17] aethelwulffe commented on #1197
There it is... in get_provider_events  !!!!!
WooHooo!

[2018-06-28 20:30] aethelwulffe commented on #1177
@apooravc @muarachmann @teryhill @Trodrige @naveen17797  and everyone else:
Link to a tested and working patient data generator version:
http://suncoastconnection.com/hosted/Downloads/PrintaPatient_A7_2_2.zip

[2018-07-01 12:48] RAJAGOPALAN-GANGADHARAN commented on #1114
@Trodrige I completed this one However i have one doubt when i try to create a new pull request all the previous commits i did is also appearing .How shall i create a seperate pr for this issue.

[2018-07-01 12:49] RAJAGOPALAN-GANGADHARAN commented on #1114
@Trodrige maybe should i change the branch im working on? Please help me 🙏

[2018-07-07 11:49] Trodrige commented on #1114
Hello, @RAJAGOPALAN-GANGADHARAN sorry for late reply.

- Go to your local master branch and do a pull: **git pull origin master**
- Create a new branch from this master branch: **git checkout -b dropdown-on-hover**
- While on this new branch, make all the changes for this issue, and add them with: **git add 'filenames'**
- Commit your changes: **git commit -m "Enabling dropdown on hover menu-items

[2018-07-07 12:38] RAJAGOPALAN-GANGADHARAN commented on #1114
@Trodrige thank you for the help

[2018-07-14 02:14] teryhill commented on #1182
Regarding pull request #1203
Nice feature good work

[2018-07-23 11:35] ProDigySML opened #1210 "Authenticated Local File Disclosure in import_template.php"
# The Issue
Local file disclosure is a vulnerability which allows an attacker to disclose the contents of files on the server. An attacker can use this vulnerability to disclose the contents of sensitive files like `/etc/passwd`, config files, etc.

In lh-ehr, an attacker must be authenticated to perform this attack. Should the attacker know the path to a file and the web server user has sufficien

[2018-07-23 11:42] ProDigySML opened #1211 "Authenticated Unrestricted File Write in import_template.php"
# The Issue
Unrestricted file write vulnerabilities allow attackers to write file such as PHP files, in locations where the web server user has access to write. This may allow an attacker to write files with malicious content and may lead to remote code execution

# Where the Issue Occurred
The following code snippet displays the usage of the `file_put_contents` function in PHP within the lh-ehr a

[2018-07-23 11:49] ProDigySML opened #1212 "Authenticated Unrestricted File Deletion"
# The Issue
Unrestricted file deletion vulnerabilities are caused by overly trusting a user's input and allowing the user to manipulate the path of the file to be deleted. This may allow an attacker to create a denial of service scenario.

An attacker must be authenticated to perform this attack.

# Where the Issue Occurred
The following code snippet displays the usage of the `unlink` function in

[2018-07-23 11:57] ProDigySML opened #1213 "Authenticated Unrestricted File Write in letter.php"
# The Issue
Unrestricted file write vulnerabilities allow attackers to write file such as PHP files, in locations where the web server user has access to write. This may allow an attacker to write files with malicious content and may lead to remote code execution.

An attacker must be authenticated to perform this attack.

# Where the Issue Occurred
The following code snippet displaya the usage of

[2018-07-23 12:10] ProDigySML opened #1214 "Authenticated Unrestricted File Write in letter.php (2)"
# The Issue
Unrestricted file write vulnerabilities allow attackers to write file such as PHP files, in locations where the web server user has access to write. This may allow an attacker to write files with malicious content and may lead to remote code execution.

An attacker must be authenticated to perform this attack.

# Where the Issue Occurred
The following code snippet displays the usage of

[2018-07-23 12:22] ProDigySML opened #1215 "Authenticated SQL Injection in show_groups_popup.php"
# The Issue
SQL Injections are vulnerabilities in which the developer overly trusts user controlled input. This allows an attacker to perform malicious queries upon the database, which can lead to compromise of all data within the database and question the integrity of the data.

An attacker must be authenticated to perform this attack.

# Where the Issue Occurred
The following code snippet shows

[2018-07-23 12:40] ProDigySML commented on #1210
I'm unsure about that.

On Mon, 23 Jul 2018, 10:03 PM naveen <notifications@github.com> wrote:

[2018-07-23 13:06] ProDigySML commented on #1210
A normal authenticated user should suffice as far as I know.

[2018-07-23 15:31] aethelwulffe commented on #1210
It is an easy test, aside from just looking at the code.

1.  An Admin user in a setting like this often needs big data type tools
(well, big data for a small clinic).

2.  Admin superuser accounts have significant leeway to do things,
though of course logging happens.

3.  Many times someone at, say, the Washington Post has looked at the
precursor project to this one and declared a sensational he

[2018-07-23 15:38] aethelwulffe commented on #1210
It is an easy test, aside from just looking at the code.

1.  An Admin user in a setting like this often needs big data type tools
(well, big data for a small clinic).

2.  Admin superuser accounts have significant leeway to do things,
though of course logging happens.

3.  Many times someone at, say, the Washington Post has looked at the
precursor project to this one and declared a sensational he

[2018-07-23 15:42] aethelwulffe commented on #1210
Don't get me wrong:
THANK YOU THANK YOU THANK YOU for posting these vulnerability notices!  Welcome to the team, and I hope to see more.
When you have an authorized injection scenario, please take note of what level of user access can perform the attack, and just as importantly what the recommended server limitations are.  There are no "unlimited" uploads in most server configs, so that would be o

[2018-07-23 15:46] aethelwulffe commented on #1210
I think this may be a patient uploading a file within the patient portal.  I will also state that I have never done a security review of this particular module.  That said, the best way to test what a patient logging into the patient portal system can do.  The other theory is that this is to upload form template files for the patient to use, which is an admin feature.  I would have to check more,

[2018-07-23 17:02] naveen17797 commented on #1210
@aethelwulffe  "Local file disclosure is a vulnerability which allows an attacker to disclose the contents of files on the server. An attacker can use this vulnerability to disclose the contents of sensitive files like /etc/passwd, config files, etc.",
@aethelwulffe
i think by editing those files the user can even remove the authenciation and execute all the queries he need

[2018-07-24 02:03] teryhill commented on #1215
SQL binding is needed there.

[2018-07-24 02:10] teryhill commented on #1210
@naveen17797 and @ProDigySML  GSoC is finishing up and theses fixes would be good first commits for @ProDigySML If they would like to contribute and help us out.

[2018-07-27 07:43] muarachmann opened #1217 "Running sql_upgrade gets broken due to illegal string"
Upgrading the database by running sql_upgrade.php to move from version 1.0.1 to 2.0.0 get broken due to illegal string in the insert statement

![kazam_screenshot_00000](https://user-images.githubusercontent.com/16350814/43308297-2549bbec-914f-11e8-9d13-5dbb3ddf3457.png)

[2018-07-30 17:12] aethelwulffe commented on #774
Yes, it generates facilities.
So, x12 partners are the clearinghouses that handle electronic billing and eligibility checks between the doctor's office and the insurance company.  The table that stores these is x12_partners.  Go ahead and add this to your export.  You should also add a number (probably a large number) of facilities.  I will add that feature to printapatient now and publish again.

[2018-07-30 17:20] apooravc commented on #774
@aethelwulffe Alright. What should we do with already present data sets in contribs repo and test tool repo? I also tested [Provider Scroll](https://github.com/LibreHealthIO/lh-ehr/pull/1205) with 100 providers, the display was fine in agenda views.

[2018-07-30 17:46] aethelwulffe commented on #774
I think I would like to do a major revision of the test data generator
today and tomorrow to bring it in line with the output of its
descendants, the x12 data importer tool (not public, though available to
you, not real useful to you without input files) which has broader
content, breaks the output up by table with VALUES() statements, and is
(or has an option for) compatible with the database imp

[2018-07-31 17:47] #529 closed

[2018-08-01 00:13] tmccormi commented on #767
@htuck please test the pull request referenced

[2018-08-11 06:30] C-Sto opened #1223 "Security issue: Remote code execution via user picture upload"
# The Issue
Arbitrary file upload vulnerability allowing any user who can set profile pictures to be able to execute code on the hosting system.

In lh-ehr, an attacker must be authenticated, and have sufficient privileges to upload a user profile picture (either for a user, or a patient) to perform this attack. It appears any valid user can perform this.

# Issue location
Occurs at https://github

[2018-08-11 08:15] naveen17797 commented on #1223
This bypasses the mime type right?

[2018-08-11 08:32] naveen17797 commented on #1223
i have coded that module, seems like i have missed some check

[2018-08-11 08:33] naveen17797 commented on #1223
Definitely, missed the extension check

[2018-08-11 08:57] C-Sto commented on #1210
@aethelwulffe I've confirmed this is possible when using a session token obtained with 'physician' privileges which as I understand, is not a 'super admin'.

I'm unable to test from the perspective of a patient, as the patient portal doesn't work in the 2.0.0 release, nor when cloning from the repo at this point in time.

[2018-08-11 10:16] apooravc commented on #774
@aethelwulffe Any updates with PrintaPatient?

[2018-08-12 09:16] C-Sto opened #1224 "Security Issue: Remote code execution in Misc->New Documents"
# The Issue
Arbitrary file upload vulnerability allowing any user who can upload patient documents the ability to run arbitrary system commands on the host machine. As with the user profile picture vulnerability, once a malicious document is uploaded by an authenticated user, it does not require authentication in order to execute system commands.

In lh-ehr, an attacker must be authenticated, and